<div class="pf-c-scrollspy__label{{#if scrollspy-label--modifier}} {{scrollspy-label--modifier}}{{/if}}"
  {{#if scrollspy-label--attribute}}
    {{{scrollspy-label--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
