<div class="pf-c-scrollspy__item-text{{#if scrollspy-item-text--modifier}} {{scrollspy-item-text--modifier}}{{/if}}"
  {{#if scrollspy-item-text--attribute}}
    {{{scrollspy-item-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
