<button class="pf-c-scrollspy__link{{#if scrollspy-link--modifier}} {{scrollspy-link--modifier}}{{/if}}"
  {{#if scrollspy-link--attribute}}
    {{{scrollspy-link--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
