<div class="pf-c-scrollspy__main{{#if scrollspy-main--modifier}} {{scrollspy-main--modifier}}{{/if}}"
  {{#if scrollspy-main--attribute}}
    {{{scrollspy-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
