<li class="pf-c-scrollspy__item{{#if scrollspy-item--modifier}} {{scrollspy-item--modifier}}{{/if}}"
  {{#if scrollspy-item--attribute}}
    {{{scrollspy-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
