<div class="pf-c-file-upload__textarea-spinner{{#if file-upload-textarea-spinner--modifier}} {{file-upload-textarea-spinner--modifier}}{{/if}}"
  {{#if file-upload-textarea-spinner--attribute}}
    {{{file-upload-textarea-spinner--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
