<div class="pf-c-file-upload__message{{#if file-upload-message--modifier}} {{file-upload-message--modifier}}{{/if}}"
  {{#if file-upload-message--attribute}}
    {{{file-upload-message--attribute}}} 
  {{/if}}>
  {{> @partial-block}}
</div>
