<div class="pf-c-file-upload__label{{#if file-upload-label--modifier}} {{file-upload-label--modifier}}{{/if}}"
  {{#if file-upload-label--attribute}}
    {{{file-upload-label--attribute}}} 
  {{/if}}>
  {{> @partial-block}}
</div>