<div class="pf-c-file-upload__helper-text{{#if file-upload-helper-text--modifier}} {{file-upload-helper-text--modifier}}{{/if}}"
  {{#if file-upload-helper-text--attribute}}
    {{{file-upload-helper-text--attribute}}} 
  {{/if}}>
  {{> @partial-block}}
</div>
