<div class="pf-c-file-upload__input-group{{#if file-upload-input-group--modifier}} {{file-upload-input-group--modifier}}{{/if}}"
  {{#if file-upload-input-group--attribute}}
    {{{file-upload-input-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
