<div class="pf-c-file-upload__textarea{{#if file-upload-textarea--modifier}} {{file-upload-textarea--modifier}}{{/if}}"
  {{#if file-upload-textarea--attribute}}
    {{{file-upload-textarea--attribute}}}
  {{/if}}>
  {{#> form-control
    controlType="textarea"
    form-control--modifier="pf-m-resize-vertical"
    form-control--attribute=(concat 'id="' file-upload--id '-textarea" name="' file-upload--id '-textarea" aria-label="' file-upload-textarea--aria-label '" ' file-upload-textarea--attribute)
    }}{{> @partial-block}}
  {{/form-control}}

  {{#if file-upload-textarea--HasSpinner}}
    {{#> file-upload-textarea-spinner}}
      {{#> spinner spinner--modifier="pf-m-lg"}}Loading...{{/spinner}}
    {{/file-upload-textarea-spinner}}
  {{/if}}
</div>
