// @debug $file-upload; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$file-upload} {
  // pf-m-loading
  --#{$file-upload}--m-loading__file-details--before--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$file-upload}--m-loading__file-details--before--Left: var(--#{$pf-global}--BorderWidth--sm);
  --#{$file-upload}--m-loading__file-details--before--Right: var(--#{$pf-global}--BorderWidth--sm);
  --#{$file-upload}--m-loading__file-details--before--Bottom: var(--#{$pf-global}--BorderWidth--sm);

  // pf-m-drag-hover
  --#{$file-upload}--m-drag-hover--before--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$file-upload}--m-drag-hover--before--BorderColor: var(--#{$pf-global}--primary-color--100);
  --#{$file-upload}--m-drag-hover--before--ZIndex: var(--#{$pf-global}--ZIndex--xs);
  --#{$file-upload}--m-drag-hover--after--BackgroundColor: var(--#{$pf-global}--primary-color--100);
  --#{$file-upload}--m-drag-hover--after--Opacity: .1;

  // Text area
  --#{$file-upload}__file-details__c-form-control--MinHeight: calc(var(--#{$pf-global}--spacer--3xl) * 2);

  // Button overrides
  --#{$file-upload}__file-select__c-button--m-control--OutlineOffset: calc(-1 * var(--#{$pf-global}--spacer--xs));

  position: relative;
  display: flex;
  flex-direction: column;

  &.pf-m-drag-hover {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: var(--#{$file-upload}--m-drag-hover--before--ZIndex);
      content: "";
      border: var(--#{$file-upload}--m-drag-hover--before--BorderWidth) solid var(--#{$file-upload}--m-drag-hover--before--BorderColor);
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: var(--#{$file-upload}--m-drag-hover--after--BackgroundColor);
      opacity: var(--#{$file-upload}--m-drag-hover--after--Opacity);
    }
  }

  &.pf-m-loading {
    .#{$file-upload}__file-details {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        right: var(--#{$file-upload}--m-loading__file-details--before--Left);
        bottom: var(--#{$file-upload}--m-loading__file-details--before--Left);
        left: var(--#{$file-upload}--m-loading__file-details--before--Left);
        content: "";
        background-color: var(--#{$file-upload}--m-loading__file-details--before--BackgroundColor);
      }
    }
  }
}

.#{$file-upload}__file-select {
  .#{$button}.pf-m-control {
    outline-offset: var(--#{$file-upload}__file-select__c-button--m-control--OutlineOffset);
  }
}

.#{$file-upload}__file-details {
  position: relative;
  display: flex;

  .#{$form-control} {
    flex: 1 1 auto;
    min-height: var(--#{$file-upload}__file-details__c-form-control--MinHeight);
    border-top: 0;
  }
}

.#{$file-upload}__file-details-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
