.pf-c-file-upload {
  --pf-c-file-upload--m-draganddrop--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-file-upload--m-draganddrop--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-file-upload--m-draganddrop--after--BackgroundColor: var(--pf-global--primary-color--100);
  --pf-c-file-upload--m-draganddrop--after--Opacity: .1;

  // Input
  --pf-c-file-upload--c-input-group--c-form-control--Color: var(--pf-global--disabled-color--100);
  --pf-c-file-upload__input--disabled--BackgroundColor: var(--pf-global--disabled-color--300);
  --pf-c-file-upload__input--disabled--Color: var(--pf-global--Color--100);

  // Text area
  --pf-c-file-upload__text-area--PaddingTop: calc(var(--pf-global--spacer--form-element) - var(--pf-global--BorderWidth--sm));
  --pf-c-file-upload__text-area--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-file-upload__text-area--PaddingBottom: calc(var(--pf-global--spacer--form-element) - var(--pf-global--BorderWidth--sm));
  --pf-c-file-upload__text-area--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-file-upload__text-area--MinHeight: calc(var(--pf-global--spacer--3xl) * 2);
  --pf-c-file-upload__text-area--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-file-upload__text-area--BorderTopColor: var(--pf-global--BorderColor--300);
  --pf-c-file-upload__text-area--BorderRightColor: var(--pf-global--BorderColor--300);
  --pf-c-file-upload__text-area--BorderBottomColor: var(--pf-global--BorderColor--200);
  --pf-c-file-upload__text-area--BorderLeftColor: var(--pf-global--BorderColor--300);
  --pf-c-file-upload__text-area--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-file-upload__text-area--hover--BorderBottomColor: var(--pf-global--active-color--100);
  --pf-c-file-upload__text-area--active--BorderBottomColor: var(--pf-global--active-color--100);
  --pf-c-file-upload__text-area--focus--BorderBottomColor: var(--pf-global--active-color--100);
  --pf-c-file-upload__text-area--active--BorderBottomWidth: var(--pf-global--BorderWidth--md);
  --pf-c-file-upload__text-area--focus--BorderBottomWidth: var(--pf-global--BorderWidth--md);
  --pf-c-file-upload__text-area--disabled--BackgroundColor: var(--pf-global--disabled-color--300);

  // Button overrides
  --pf-c-file-upload--c-button--m-control--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-file-upload--c-button--m-control--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-file-upload--c-button--m-control--disabled--BackgroundColor: var(--pf-global--disabled-color--300);
  --pf-c-file-upload--c-button--m-control--disabled--after--BorderTopColor: var(--pf-global--BorderColor--300);
  --pf-c-file-upload--c-button--m-control--disabled--after--BorderRightColor: var(--pf-global--BorderColor--300);
  --pf-c-file-upload--c-button--m-control--disabled--after--BorderBottomColor: var(--pf-global--BorderColor--200);
  --pf-c-file-upload--c-button--m-control--disabled--after--BorderLeftColor: var(--pf-global--BorderColor--300);
  --pf-c-file-upload--c-button--m-control--disabled--after--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-file-upload--c-button--m-control--OutlineOffset: calc(-1 * var(--pf-global--spacer--xs));

  // Helper Text
  --pf-c-file-upload__helper-text--Color: var(--pf-global--danger-color--100);
  --pf-c-file-upload__helper-text--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-file-upload__helper-text--MarginTop: var(--pf-global--spacer--xs);

  display: flex;
  flex-direction: column;

  &.pf-m-draganddrop {
    position: relative;
    border: var(--pf-c-file-upload--m-draganddrop--BorderWidth) solid var(--pf-c-file-upload--m-draganddrop--BorderColor);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: var(--pf-global--primary-color--100);
      opacity: var(--pf-c-file-upload--m-draganddrop--after--Opacity);
    }
  }
}

.pf-c-input-group > .pf-c-form-control {
  &::placeholder {
    color: var(--pf-c-file-upload--c-input-group--c-form-control--Color);
  }
}

.pf-c-file-upload__text-area {
  position: relative;
  min-height: var(--pf-c-file-upload__text-area--MinHeight);
  padding: var(--pf-c-file-upload__text-area--PaddingTop) var(--pf-c-file-upload__text-area--PaddingRight) var(--pf-c-file-upload__text-area--PaddingBottom) var(--pf-c-file-upload__text-area--PaddingLeft);
  resize: vertical;
  background-color: var(--pf-c-file-upload__text-area--BackgroundColor);
  border: var(--pf-c-file-upload__text-area--BorderWidth) solid;
  border-color: var(--pf-c-file-upload__text-area--BorderTopColor) var(--pf-c-file-upload__text-area--BorderRightColor) var(--pf-c-file-upload__text-area--BorderBottomColor) var(--pf-c-file-upload__text-area--BorderLeftColor);

  &.pf-m-hover,
  &:hover {
    --pf-c-file-upload__text-area--BorderBottomColor: var(--pf-c-file-upload__text-area--hover--BorderBottomColor);
  }

  &.pf-m-active,
  &:active {
    --pf-c-file-upload__text-area--BorderBottomColor: var(--pf-c-file-upload__text-area--active--BorderBottomColor);

    border-bottom-width: var(--pf-c-file-upload__text-area--active--BorderBottomWidth);
  }

  &.pf-m-focus,
  &:focus {
    --pf-c-file-upload__text-area--BorderBottomColor: var(--pf-c-file-upload__text-area--focus--BorderBottomColor);

    border-bottom-width: var(--pf-c-file-upload__text-area--focus--BorderBottomWidth);
  }

  &:disabled,
  &.pf-m-disabled {
    --pf-c-file-upload__text-area--BackgroundColor: var(--pf-c-file-upload__text-area--disabled--BackgroundColor);
  }

  &.pf-m-loading {
    background-color: var(--pf-global--disabled-color--300);
    border: 0;
  }
}

.pf-c-button.pf-m-control {
  --pf-c-button--PaddingRight: var(--pf-c-file-upload--c-button--m-control--PaddingRight);
  --pf-c-button--PaddingLeft: var(--pf-c-file-upload--c-button--m-control--PaddingLeft);

  outline-offset: var(--pf-c-file-upload--c-button--m-control--OutlineOffset);

  &:disabled,
  &.pf-m-disabled {
    color: initial;
    background-color: var(--pf-c-file-upload--c-button--m-control--disabled--BackgroundColor);

    &::after {
      content: "";
      border: var(--pf-c-file-upload--c-button--m-control--disabled--after--BorderWidth) solid;
      border-color: var(--pf-c-file-upload--c-button--m-control--disabled--after--BorderTopColor) var(--pf-c-file-upload--c-button--m-control--disabled--after--BorderRightColor) var(--pf-c-file-upload--c-button--m-control--disabled--after--BorderBottomColor) var(--pf-c-file-upload--c-button--m-control--disabled--after--BorderLeftColor);
      border-radius: initial;
    }
  }
}

.pf-c-file-upload__helper-text {
  margin-top: var(--pf-c-file-upload__helper-text--MarginTop);
  font-size: var(--pf-c-file-upload__helper-text--FontSize);
  color: var(--pf-c-file-upload__helper-text--Color);
}

.pf-c-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
