<div class="pf-c-file-upload__control{{#if file-upload-control--modifier}} {{file-upload-control--modifier}}{{/if}}"
  {{#if file-upload-control--attribute}}
    {{{file-upload-control--attribute}}} 
  {{/if}}>
  {{> @partial-block}}
</div>
