<div class="pf-c-file-upload__text-area-spinner{{#if file-upload-text-area-spinner--modifier}} {{file-upload-text-area-spinner--modifier}}{{/if}}"
  {{#if file-upload-text-area-spinner--attribute}}
    {{{file-upload-text-area-spinner--attribute}}} 
  {{/if}}>
  {{> @partial-block}}
</div>
