<button class="pf-c-nav__list-expand{{#if nav-list-expand--modifiers}} {{nav-list-expand--modifiers}}{{/if}}"
  {{#if nav-list-expand--attributes}}
    {{{nav-list-expand--attributes}}}
  {{/if}}
  {{#if expanded}}
    aria-expanded="true"  
  {{else}}
    aria-expanded="false"
  {{/if}}>
  <i class="fas fa-chevron-right"></i>
</button>
