<a href="{{nav-list-simple-link--href}}" class="pf-c-nav__list-simple-link{{#if nav-list-simple-link--current}} pf-m-current{{/if}}{{#if nav-list-simple-link--disabled}} pf-m-disabled{{/if}}{{#if nav-list-simple-link--modifier}} {{nav-list-simple-link--modifier}}{{/if}}"
  {{#if nav-list-simple-link--attribute}}
    {{{nav-list-simple-link--attribute}}}
  {{/if}}

  {{#if nav-list-simple-link--disabled}}
    tabindex="-1" 
    aria-disabled="true"
  {{/if}}

  {{#if nav-list-simple-link--current}}
    aria-current="page"
  {{/if}}>
  {{> @partial-block}}
</a>
