<li class="pf-c-nav__list-simple-item{{#if nav-list-simple-item--modifiers}} {{nav-list-simple-item--modifiers}}{{/if}}"
  {{#if nav-list-simple-item--attributes}}
    {{{nav-list-simple-item--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</li>
