<a href="{{nav-list-simple-link--href}}" class="pf-c-nav__list-simple-link{{#if nav-list-simple-link--current}} pf-m-current{{/if}}{{#if nav-list-simple-link--modifiers}} {{nav-list-simple-link--modifiers}}{{/if}}"
  {{#if nav-list-simple-link--attributes}}
    {{{nav-list-simple-link--attributes}}}
  {{/if}}
  {{#if nav-list-simple-link--current}}
    aria-current="page"
  {{/if}}>
  {{> @partial-block}}
</a>
