<section class="pf-c-nav__subnav{{#if nav-subnav--modifier}} {{nav-subnav--modifier}}{{/if}}"
  {{#if nav-subnav--attribute}}
    {{{nav-subnav--attribute}}}
  {{/if}}

  {{#if nav-list-item--expandable}}
    {{#if nav-list-item--expanded}}
      aria-expanded="true"
    {{else}}
      aria-expanded="false"
      hidden
    {{/if}}
  {{/if}}

{{!--   {{#if nav-list-item--expanded}}
    do nothing
  {{else}}
    hidden
  {{/if}}
 --}}  >
  {{> @partial-block}}
</section>
