<li class="pf-c-nav__list-simple-item{{#if nav-list-simple-item--modifier}} {{nav-list-simple-item--modifier}}{{/if}}"
  {{#if nav-list-simple-item--attribute}}
    {{{nav-list-simple-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
