@import "../../patternfly-utilities";

.pf-c-nav {
  $namespace: &;

  /* stylelint-disable */
  --pf-c-nav--Width:                                          pf-size-prem(290px);
  --pf-c-nav--Transition:                                     var(--pf-global--Transition);

  // List link
  --pf-c-nav__list-link--PaddingTop:                          var(--pf-global--spacer--md);
  --pf-c-nav__list-link--PaddingRight:                        var(--pf-global--spacer--xl);
  --pf-c-nav__list-link--PaddingBottom:                       var(--pf-global--spacer--md);
  --pf-c-nav__list-link--PaddingLeft:                         var(--pf-global--spacer--xl);
  --pf-c-nav__list-link--FontWeight:                          var(--pf-global--FontWeight--normal);
  --pf-c-nav__list-link--active--FontWeight:                  var(--pf-global--FontWeight--semi-bold);
  --pf-c-nav__list-link--not-first-child--PaddingTop:         var(--pf-global--spacer--lg);
  // share padding value to properly position after
  --pf-c-nav__list-link--after--Left:                         var(--pf-c-nav__list-link--PaddingLeft);
  // color
  --pf-c-nav__list-link--Color:                               var(--pf-global--Color--dark-100);
  --pf-c-nav__list-link--active--Color:                       var(--pf-global--link--Color);
  --pf-c-nav__list-link--disabled--Color:                     var(--pf-global--disabled-color--100);
  // background
  --pf-c-nav__list-link--disabled--BackgroundColor:           var(--pf-global--disabled-color--200);
  // after background
  --pf-c-nav__list-link--after--BackgroundColor:              transparent;
  --pf-c-nav__list-link--active--after--BackgroundColor:      var(--pf-global--link--Color);
  --pf-c-nav__list-link--disabled--after--BackgroundColor:    transparent;
  // hardcoding border bottom to match design spec
  --pf-c-nav__list-link--after--Width:                        3.125rem;
  --pf-c-nav__list-link--after--Height:                       3px;

  // List list action
  --pf-c-nav__list-expand--PaddingRight:                      var(--pf-global--spacer--sm);
  --pf-c-nav__list-expand--PaddingLeft:                       var(--pf-global--spacer--sm);


  // List simple link
  --pf-c-nav__list-simple-link--PaddingTop:                   var(--pf-global--spacer--sm);
  --pf-c-nav__list-simple-link--PaddingRight:                 var(--pf-global--spacer--xl);
  --pf-c-nav__list-simple-link--PaddingBottom:                var(--pf-global--spacer--sm);
  --pf-c-nav__list-simple-link--PaddingLeft:                  var(--pf-global--spacer--xl);
  // font
  --pf-c-nav__list-simple-link--FontWeight:                   var(--pf-global--FontWeight--normal);
  --pf-c-nav__list-simple-link--active--FontWeight:           var(--pf-global--FontWeight--semi-bold);
  // color
  --pf-c-nav__list-simple-link--Color:                        var(--pf-global--Color--dark-100);
  --pf-c-nav__list-simple-link--active--Color:                var(--pf-global--link--Color);
  --pf-c-nav__list-simple-link--disabled--Color:              var(--pf-global--disabled-color--100);
  // background
  --pf-c-nav__list-simple-link--active--BackgroundColor:      $pf-color-black-150;
  --pf-c-nav__list-simple-link--disabled--BackgroundColor:    var(--pf-global--disabled-color--200);


  // List horizontal link
  --pf-c-nav__list-horizontal-item--MarginRight:                        var(--pf-global--spacer--xl);
  --pf-c-nav__list-horizontal-link--PaddingTop:                         var(--pf-global--spacer--lg);
  --pf-c-nav__list-horizontal-link--PaddingBottom:                      var(--pf-global--spacer--lg);
  --pf-c-nav__list-horizontal-link--FontWeight:                         var(--pf-global--link--normal);
  --pf-c-nav__list-horizontal-link--active--FontWeight:                 var(--pf-global--FontWeight--bold);
  // color
  --pf-c-nav__list-horizontal-link--Color:                              $pf-color-black-300;
  --pf-c-nav__list-horizontal-link--active--Color:                      $pf-color-blue-300;
  --pf-c-nav__list-horizontal-link--disabled--Color:                    var(--pf-global--disabled-color--100);
  // background
  --pf-c-nav__list-horizontal-link--disabled--BackgroundColor:          var(--pf-global--disabled-color--200);
  // after background
  --pf-c-nav__list-horizontal-link--after--BackgroundColor:             transparent;
  // harcoding this to follow design spec
  --pf-c-nav__list-horizontal-link--active--after--BackgroundColor:     $pf-color-blue-300;
  --pf-c-nav__list-horizontal-link--disabled--after--BackgroundColor:   transparent;


  // List tertiary
  --pf-c-nav__list-tertiary--Padding:                                   var(--pf-global--spacer--md);
  --pf-c-nav__list-tertiary--BoxShadow:                                 var(--pf-global--BoxShadow--lg-bottom);
  --pf-c-nav__list-tertiary--BackgroundColor:                           var(--pf-global--BackgroundColor--100);

  // List tertiary item
  --pf-c-nav__list-tertiary-item--MarginRight:                          var(--pf-global--spacer--xl);
  --pf-c-nav__list-tertiary-link--PaddingTop:                           var(--pf-global--spacer--md);
  --pf-c-nav__list-tertiary-link--PaddingBottom:                        var(--pf-global--spacer--md);
  // font
  --pf-c-nav__list-tertiary-link--FontWeight:                           var(--pf-global--link--normal);
  --pf-c-nav__list-tertiary-link--active--FontWeight:                   var(--pf-global--FontWeight--bold);
  // color
  --pf-c-nav__list-tertiary-link--Color:                                var(--pf-global--Color--dark-100);
  --pf-c-nav__list-tertiary-link--active--Color:                        var(--pf-global--link--Color);
  --pf-c-nav__list-tertiary-link--disabled--Color:                      var(--pf-global--disabled-color--100);
  // background
  --pf-c-nav__list-horizontal-link--disabled--BackgroundColor:          var(--pf-global--disabled-color--200);
  // after
  --pf-c-nav__list-tertiary-link--after--BackgroundColor:               transparent;
  --pf-c-nav__list-tertiary-link--active--after--BackgroundColor:       var(--pf-global--link--Color);
  --pf-c-nav__list-tertiary-link--disabled--after--BackgroundColor:     transparent;


  // Subnav links
  --pf-c-nav__subnav--MarginTop:                                        var(--pf-global--spacer--sm);
  --pf-c-nav__subnav--MaxHeight:                                        pf-size-prem(600px);
  // automate this value based on previously set values
  --pf-c-nav__subnav-item--PaddingLeft:                                 calc(var(--pf-global--spacer--xl) + var(--pf-global--spacer--md));

  // List expand
  // Set unique font size for dropdown caret based on design spec
  --pf-c-nav__list-expand--FontSize:                                    pf-font-prem(20px);
  --pf-c-nav__list-expand--Transition:                                  .1s ease-in-out;

  // Nav section
  --pf-c-nav__section--MarginTop:                                       var(--pf-global--spacer--xl);

  // Nav section title
  --pf-c-nav__section-title--PaddingTop:                                var(--pf-global--spacer--sm);
  --pf-c-nav__section-title--PaddingRight:                              var(--pf-global--spacer--xl);
  --pf-c-nav__section-title--PaddingBottom:                             var(--pf-global--spacer--sm);
  --pf-c-nav__section-title--PaddingLeft:                               var(--pf-global--spacer--xl);
  // Nav section title fonts
  --pf-c-nav__section-title--FontSize:                                  var(--pf-global--FontSize--sm);
  --pf-c-nav__section-title--Color:                                     var(--pf-global--Color--dark-200);
  --pf-c-nav__section-title--FontWeight:                                var(--pf-global--FontWeight--semi-bold);
  
  /* stylelint-enable */

  // Base styling
  overflow-x: auto;

  // Set width when nav is child of sidebar to prevent collapsing
  @media screen and (min-width: $pf-global--breakpoint--md) {
    .pf-l-page__sidebar & {
      width: var(--pf-c-nav--Width);
    }
  }

  // Hide scrollbars
  &::-webkit-scrollbar {
    display: none;
  }

  // List default
  &__list {

    // Item
    &-item {
      position: relative;
    }

    // Link
    &-link {
      position: relative;
      display: flex;
      align-items: baseline;
      padding:
        var(--pf-c-nav__list-link--PaddingTop)
        var(--pf-c-nav__list-link--PaddingRight)
        var(--pf-c-nav__list-link--PaddingBottom)
        var(--pf-c-nav__list-link--PaddingLeft);

      font-weight: var(--pf-c-nav__list-link--FontWeight);
      color: var(--pf-c-nav__list-link--Color);

      // Adjust padding top for subsequent links
      #{$namespace}__list-item:not(:first-child) & {
        padding-top: var(--pf-c-nav__list-link--not-first-child--PaddingTop);
      }

      // States
      &:hover,
      &:focus,
      &:active,
      &.pf-m-active,
      .pf-m-current > &,
      &.pf-m-current {
        color: var(--pf-c-nav__list-link--active--Color);

        &::after {
          background-color: var(--pf-c-nav__list-link--active--after--BackgroundColor);
        }
      }

      &:focus,
      &:active,
      &.pf-m-active,
      .pf-m-current > &,
      &.pf-m-current {
        font-weight: var(--pf-c-nav__list-link--active--FontWeight);
      }

      // Disabled
      &.pf-m-disabled,
      &:disabled {
        color: var(--pf-c-nav__list-link--disabled--Color);
        cursor: not-allowed;
        background-color: var(--pf-c-nav__list-link--disabled--BackgroundColor);

        &::after {
          background-color: var(--pf-c-nav__list-link--disabled--after--BackgroundColor);
        }
      }

      // After - border bottom treatment
      &::after {
        position: absolute;
        bottom: 0;
        left: var(--pf-c-nav__list-link--after--Left);
        width: var(--pf-c-nav__list-link--after--Width);
        height: var(--pf-c-nav__list-link--after--Height);
        content: "";
        background-color: var(--pf-c-nav__list-link--after--BackgroundColor);
      }
    }

    // Expand caret
    &-expand {
      flex: none;
      padding-right: var(--pf-c-nav__list-expand--PaddingRight);
      padding-left: var(--pf-c-nav__list-expand--PaddingLeft);
      margin-left: auto;
      font-size: var(--pf-c-nav__list-expand--FontSize);
      line-height: 1;
      pointer-events: none;
      border: 0;

      // Add transition to base
      & > * {
        transition: var(--pf-c-nav__list-expand--Transition);
      }

      // Rotate the icon
      .pf-c-nav__list-item.pf-m-expanded & > * {
        transform: rotate(90deg);
      }
    }
  }

  // List simple
  // no bottom border, no children. Used independently or as a subnav item of .pf-c-nav__list (default list component).
  &__list-simple {

    // List simple link
    &-link {
      display: block;
      padding:
        var(--pf-c-nav__list-simple-link--PaddingTop)
        var(--pf-c-nav__list-simple-link--PaddingRight)
        var(--pf-c-nav__list-simple-link--PaddingBottom)
        var(--pf-c-nav__list-simple-link--PaddingLeft);

      font-weight: var(--pf-c-nav__list-simple-link--FontWeight);
      color: var(--pf-c-nav__list-simple-link--Color);

      // States
      // Hover
      &:hover,
      &:focus,
      &:active,
      &.pf-m-active,
      &.pf-m-current {
        color: var(--pf-c-nav__list-simple-link--active--Color);
        background-color: var(--pf-c-nav__list-simple-link--active--BackgroundColor);
      }

      // States
      // Hover
      &:focus,
      &:active,
      &.pf-m-active,
      &.pf-m-current {
        font-weight: var(--pf-c-nav__list-simple-link--active--FontWeight);
      }

      // Disabled
      &.pf-m-disabled,
      &:disabled {
        color: var(--pf-c-nav__list-simple-link--disabled--Color);
        cursor: not-allowed;
        background-color: var(--pf-c-nav__list-simple-link--disabled--BackgroundColor);

        &::after {
          background-color: var(--pf-c-nav__list-simple-link--disabled--after--BackgroundColor);
        }
      }

      // Adjust padding of descendant links
      #{$namespace}__list-item & {
        padding-left: var(--pf-c-nav__subnav-item--PaddingLeft);
      }
    }
  }

  // Horizontal and tertiary nav
  &__list-horizontal,
  &__list-tertiary {
    display: inline-flex;

    &-link {
      position: relative;
      display: inline-block;
    }
  }

  // List horizontal, masthead
  &__list-horizontal {

    &-item {
      margin-right: var(--pf-c-nav__list-horizontal-item--MarginRight);
    }

    &-link {
      padding-top: var(--pf-c-nav__list-horizontal-link--PaddingTop);
      padding-bottom: var(--pf-c-nav__list-horizontal-link--PaddingBottom);
      font-weight: var(--pf-c-nav__list-horizontal-link--FontWeight);
      color: var(--pf-c-nav__list-horizontal-link--Color);
      white-space: nowrap;

      // Hover
      &:hover,
      &:focus,
      &:active,
      &.pf-m-active,
      &.pf-m-current  {
        color: var(--pf-c-nav__list-horizontal-link--active--Color);
      }

      // Active
      &:focus,
      &:active,
      &.pf-m-active,
      &.pf-m-current {
        font-weight: var(--pf-c-nav__list-horizontal-link--active--FontWeight);
        color: var(--pf-c-nav__list-horizontal-link--active--Color);

        &::after {
          background-color: var(--pf-c-nav__list-horizontal-link--active--after--BackgroundColor);
        }
      }

      // Disabled
      &.pf-m-disabled,
      &:disabled {
        color: var(--pf-c-nav__list-horizontal-link--disabled--Color);
        cursor: not-allowed;
        background-color: var(--pf-c-nav__list-horizontal-link--disabled--BackgroundColor);

        &::after {
          background-color: var(--pf-c-nav__list-horizontal-link--disabled--after--BackgroundColor);
        }
      }

      // After - border bottom treatment
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: var(--pf-c-nav__list-link--after--Height);
        content: "";
        background-color: var(--pf-c-nav__list-horizontal-link--after--BackgroundColor);
      }
    }
  }

  // List tertiary
  &__list-tertiary {

    &-item {
      margin-right: var(--pf-c-nav__list-tertiary-item--MarginRight);
    }

    // List tertiary link
    &-link {
      padding-top: var(--pf-c-nav__list-tertiary-link--PaddingTop);
      padding-bottom: var(--pf-c-nav__list-tertiary-link--PaddingBottom);
      font-weight: var(--pf-c-nav__list-tertiary-link--FontWeight);
      color: var(--pf-c-nav__list-tertiary-link--Color);
      white-space: nowrap;

      // Hover
      &:hover,
      &:focus,
      &:active,
      &.pf-m-active,
      &.pf-m-current  {
        color: var(--pf-c-nav__list-tertiary-link--active--Color);
      }

      // Active
      &:focus,
      &:active,
      &.pf-m-active,
      &.pf-m-current {
        font-weight: var(--pf-c-nav__list-tertiary-link--active--FontWeight);
        color: var(--pf-c-nav__list-tertiary-link--active--Color);

        &::after {
          background-color: var(--pf-c-nav__list-tertiary-link--active--after--BackgroundColor);
        }
      }

      // Disabled
      &.pf-m-disabled,
      &:disabled {
        color: var(--pf-c-nav__list-tertiary-link--disabled--Color);
        cursor: not-allowed;
        background-color: var(--pf-c-nav__list-tertiary-link--active--BackgroundColor);

        &::after {
          background-color: var(--pf-c-nav__list-tertiary-link--disabled--after--BackgroundColor);
        }
      }

      // After - border bottom treatment
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: var(--pf-c-nav__list-link--after--Height);
        content: "";
        background-color: var(--pf-c-nav__list-tertiary-link--after--BackgroundColor);
      }
    }
  }

  // Subnav
  &__subnav {
    flex: 1 0 100%;
    // Set default states
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    opacity: 0;
    transition: var(--pf-c-nav--Transition);

    // Hide scrollbars
    &::-webkit-scrollbar {
      display: none;
    }

    // Expanded list item
    .pf-c-nav__list-item.pf-m-expanded & {
      max-height: var(--pf-c-nav__subnav--MaxHeight);
      margin-top: var(--pf-c-nav__subnav--MarginTop);
      overflow-y: auto;
      opacity: 1;
    }
  }

  // Section
  &__section {

    // Title 
    &-title {
      padding:
        var(--pf-c-nav__section-title--PaddingTop)
        var(--pf-c-nav__section-title--PaddingRight)
        var(--pf-c-nav__section-title--PaddingBottom)
        var(--pf-c-nav__section-title--PaddingLeft);

      font-size: var(--pf-c-nav__section-title--FontSize);
      font-weight: var(--pf-c-nav__section-title--FontWeight);
      color: var(--pf-c-nav__section-title--Color);
    }

    & + & {
      margin-top: var(--pf-c-nav__section--MarginTop);
    }
  }

  // Disable underline
  [class*="list"] [class*="link"] {
    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}
