{{#> page-header-tools}}
  {{#> page-header-tools-group page-header-tools-group--modifier="pf-m-icons"}}
    {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Unread notifications"'}}
        {{#> notification-badge notification-badge--modifier="pf-m-unread"}}
          <i class="fas fa-bell" aria-hidden="true"></i>
        {{/notification-badge}}
    {{/button}}
    {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Settings"'}}
        <i class="fas fa-cog" aria-hidden="true"></i>
    {{/button}}
  {{/page-header-tools-group}}
  {{#> page-header-tools-group page-header-tools-group--modifier="pf-m-user-dropdown"}}
    {{#> dropdown
      id=(concat page--id '-dropdown')
      dropdown--IsCustom="true"
      dropdown-menu--modifier="pf-m-align-right"
      }}
      <button class="pf-c-dropdown__toggle">
        {{#> dropdown-toggle-image}}
          {{> avatar avatar--attribute='src="/assets/images/img_avatar.svg" alt="Avatar image"'}}
        {{/dropdown-toggle-image}}
        {{#> dropdown-toggle-text}}
          Ned Username
        {{/dropdown-toggle-text}}
        {{> dropdown-toggle-icon}}
      </button>
      <div class="pf-c-dropdown__menu{{#if dropdown-menu--modifier}} {{dropdown-menu--modifier}}{{/if}}"
        aria-labelledby="{{id}}-button"
        {{#unless dropdown--IsExpanded}}hidden{{/unless}}
        {{#if dropdown-menu--attribute}}
          {{{dropdown-menu--attribute}}}
        {{/if}}>
        {{#> dropdown-group}}
          <dl>
            {{#> dropdown-menu-item dropdown-menu-item--type="div" dropdown-menu-item--modifier="pf-m-text"}}
              <dt class="pf-c-page__header-label">Username:</dt>
              <dd class="pf-c-page__header-text">mshaksho@redhat.com</dd>
            {{/dropdown-menu-item}}
            {{#> dropdown-menu-item dropdown-menu-item--type="div" dropdown-menu-item--modifier="pf-m-text"}}
              <dt class="pf-c-page__header-label">Account number:</dt>
              <dd class="pf-c-page__header-text">123456789</dd>
            {{/dropdown-menu-item}}
          </dl>
        {{/dropdown-group}}
        {{#> dropdown-separator dropdown-separator--IsHr="true"}}{{/dropdown-separator}}
        {{#> dropdown-group}}
          <ul>
            <li>
              {{#> dropdown-menu-item dropdown-menu-item--type="a" dropdown-menu-item--attribute='href="#"'}}
                My profile
              {{/dropdown-menu-item}}
            </li>
            <li>
              {{#> dropdown-menu-item dropdown-menu-item--type="a" dropdown-menu-item--attribute='href="#"'}}
                User management
              {{/dropdown-menu-item}}
            </li>
            <li>
              {{#> dropdown-menu-item dropdown-menu-item--type="a" dropdown-menu-item--attribute='href="#"'}}
                Logout
              {{/dropdown-menu-item}}
            </li>
          </u>
        {{/dropdown-group}}
      </div>
    {{/dropdown}}
  {{/page-header-tools-group}}
{{/page-header-tools}}
