{{#> page-main-section page-main-section--modifier=(concat 'pf-m-light ' page-template-title--modifier) page-main-section--IsLimitWidth="true"}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    {{#> content}}
      <h1>Main title</h1>
      <p>This is a demo of the Page component.</p>
    {{/content}}
  {{/if}}
{{/page-main-section}}
