{{#> page-main-section page-main-section--modifier=(concat 'pf-m-light ' page-template-title--modifier) page-main-section--IsLimitWidth="true"}}
  {{#> content}}
    <h1>Main title</h1>
    <p>This is a demo of the page component.</p>
  {{/content}}
{{/page-main-section}}