{{#> page-main-section page-main-section--IsLimitWidth="true" page-main-section--modifier=(concat 'pf-m-light ' page-template-title--modifier)}}
  {{#> content}}
    <h1>Main title</h1>
    <p>This is a full page demo.</p>
  {{/content}}
{{/page-main-section}}
