@import "../../patternfly-utilities";
:root {
  // 4xl
  --pf-c-title--m-4xl--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-4xl--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-4xl--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-title--m-4xl--FontSize: var(--pf-global--FontSize--4xl);
  --pf-c-title--m-4xl--FontWeight: var(--pf-global--FontWeight--normal);
  // 3xl
  --pf-c-title--m-3xl--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-3xl--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-3xl--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-title--m-3xl--FontSize: var(--pf-global--FontSize--3xl);
  --pf-c-title--m-3xl--FontWeight: var(--pf-global--FontWeight--normal);

  // 2xl
  --pf-c-title--m-2xl--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-2xl--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-2xl--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-title--m-2xl--FontSize: var(--pf-global--FontSize--2xl);
  --pf-c-title--m-2xl--FontWeight: var(--pf-global--FontWeight--normal);

  // xl
  --pf-c-title--m-xl--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-xl--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-xl--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-title--m-xl--FontSize: var(--pf-global--FontSize--xl);
  --pf-c-title--m-xl--FontWeight: var(--pf-global--FontWeight--normal);

  // lg
  --pf-c-title--m-lg--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-lg--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-lg--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-title--m-lg--FontSize: var(--pf-global--FontSize--lg);
  --pf-c-title--m-lg--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // md
  --pf-c-title--m-md--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-md--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-md--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-title--m-md--FontSize: var(--pf-global--FontSize--md);
  --pf-c-title--m-md--FontWeight: var(--pf-global--FontWeight--semi-bold);
}
.pf-c-title {

  &.pf-m {

    &-4xl {
      margin-top: var(--pf-c-title--m-4xl--MarginTop);
      margin-bottom: var(--pf-c-title--m-4xl--MarginBottom);
      font-size: var(--pf-c-title--m-4xl--FontSize);
      font-weight: var(--pf-c-title--m-4xl--FontWeight);
      line-height: var(--pf-c-title--m-4xl--LineHeight);
    }

    &-3xl {
      margin-top: var(--pf-c-title--m-3xl--MarginTop);
      margin-bottom: var(--pf-c-title--m-3xl--MarginBottom);
      font-size: var(--pf-c-title--m-3xl--FontSize);
      font-weight: var(--pf-c-title--m-3xl--FontWeight);
      line-height: var(--pf-c-title--m-3xl--LineHeight);
    }

    &-2xl {
      margin-top: var(--pf-c-title--m-2xl--MarginTop);
      margin-bottom: var(--pf-c-title--m-2xl--MarginBottom);
      font-size: var(--pf-c-title--m-2xl--FontSize);
      font-weight: var(--pf-c-title--m-2xl--FontWeight);
      line-height: var(--pf-c-title--m-2xl--LineHeight);
    }

    &-xl {
      margin-top: var(--pf-c-title--m-xl--MarginTop);
      margin-bottom: var(--pf-c-title--m-xl--MarginBottom);
      font-size: var(--pf-c-title--m-xl--FontSize);
      font-weight: var(--pf-c-title--m-xl--FontWeight);
      line-height: var(--pf-c-title--m-xl--LineHeight);
    }

    &-lg {
      margin-top: var(--pf-c-title--m-lg--MarginTop);
      margin-bottom: var(--pf-c-title--m-lg--MarginBottom);
      font-size: var(--pf-c-title--m-lg--FontSize);
      font-weight: var(--pf-c-title--m-lg--FontWeight);
      line-height: var(--pf-c-title--m-lg--LineHeight);
    }

    &-md {
      margin-top: var(--pf-c-title--m-md--MarginTop);
      margin-bottom: var(--pf-c-title--m-md--MarginBottom);
      font-size: var(--pf-c-title--m-md--FontSize);
      font-weight: var(--pf-c-title--m-md--FontWeight);
      line-height: var(--pf-c-title--m-md--LineHeight);
    }
  }
}
