@import "../../patternfly-utilities";
:root {
  // xxxxl
  --pf-c-title--m-xxxxl--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-xxxxl--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-xxxxl--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-title--m-xxxxl--FontSize: var(--pf-global--FontSize--xxxxl);
  --pf-c-title--m-xxxxl--FontWeight: var(--pf-global--FontWeight--normal);
  // xxxl
  --pf-c-title--m-xxxl--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-xxxl--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-xxxl--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-title--m-xxxl--FontSize: var(--pf-global--FontSize--xxxl);
  --pf-c-title--m-xxxl--FontWeight: var(--pf-global--FontWeight--normal);

  // xxl
  --pf-c-title--m-xxl--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-xxl--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-xxl--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-title--m-xxl--FontSize: var(--pf-global--FontSize--xxl);
  --pf-c-title--m-xxl--FontWeight: var(--pf-global--FontWeight--normal);

  // xl
  --pf-c-title--m-xl--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-xl--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-xl--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-title--m-xl--FontSize: var(--pf-global--FontSize--xl);
  --pf-c-title--m-xl--FontWeight: var(--pf-global--FontWeight--normal);

  // lg
  --pf-c-title--m-lg--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-lg--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-lg--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-title--m-lg--FontSize: var(--pf-global--FontSize--lg);
  --pf-c-title--m-lg--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // md
  --pf-c-title--m-md--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-title--m-md--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-title--m-md--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-title--m-md--FontSize: var(--pf-global--FontSize--md);
  --pf-c-title--m-md--FontWeight: var(--pf-global--FontWeight--semi-bold);
}
.pf-c-title {

  &.pf-m {

    &-xxxxl {
      font-size: var(--pf-c-title--m-xxxxl--FontSize);
      font-weight: var(--pf-c-title--m-xxxxl--FontWeight);
      line-height: var(--pf-c-title--m-xxxxl--LineHeight);

      &.pf-m-margin {
        margin-top: var(--pf-c-title--m-xxxxl--MarginTop);
        margin-bottom: var(--pf-c-title--m-xxxxl--MarginBottom);
      }
    }

    &-xxxl {
      font-size: var(--pf-c-title--m-xxxl--FontSize);
      font-weight: var(--pf-c-title--m-xxxl--FontWeight);
      line-height: var(--pf-c-title--m-xxxl--LineHeight);

      &.pf-m-margin {
        margin-top: var(--pf-c-title--m-xxxl--MarginTop);
        margin-bottom: var(--pf-c-title--m-xxxl--MarginBottom);
      }
    }

    &-xxl {
      font-size: var(--pf-c-title--m-xxl--FontSize);
      font-weight: var(--pf-c-title--m-xxl--FontWeight);
      line-height: var(--pf-c-title--m-xxl--LineHeight);

      &.pf-m-margin {
        margin-top: var(--pf-c-title--m-xxl--MarginTop);
        margin-bottom: var(--pf-c-title--m-xxl--MarginBottom);
      }
    }

    &-xl {
      font-size: var(--pf-c-title--m-xl--FontSize);
      font-weight: var(--pf-c-title--m-xl--FontWeight);
      line-height: var(--pf-c-title--m-xl--LineHeight);

      &.pf-m-margin {
        margin-top: var(--pf-c-title--m-xl--MarginTop);
        margin-bottom: var(--pf-c-title--m-xl--MarginBottom);
      }
    }

    &-lg {
      font-size: var(--pf-c-title--m-lg--FontSize);
      font-weight: var(--pf-c-title--m-lg--FontWeight);
      line-height: var(--pf-c-title--m-lg--LineHeight);

      &.pf-m-margin {
        margin-top: var(--pf-c-title--m-lg--MarginTop);
        margin-bottom: var(--pf-c-title--m-lg--MarginBottom);
      }
    }

    &-md {
      font-size: var(--pf-c-title--m-md--FontSize);
      font-weight: var(--pf-c-title--m-md--FontWeight);
      line-height: var(--pf-c-title--m-md--LineHeight);

      &.pf-m-margin {
        margin-top: var(--pf-c-title--m-md--MarginTop);
        margin-bottom: var(--pf-c-title--m-md--MarginBottom);
      }
    }
  }
}
