@import "../../patternfly-utilities";

// xxxxl
$pf-c-title--is-xxxxl--MarginTop: $pf-global--spacer--lg !default;
$pf-c-title--is-xxxxl--MarginBottom: $pf-global--spacer--md !default;
$pf-c-title--is-xxxxl--LineHeight: $pf-global--LineHeight--sm !default;
$pf-c-title--is-xxxxl--FontSize: $pf-global--FontSize--xxxxl !default;
$pf-c-title--is-xxxxl--FontWeight: $pf-global--FontWeight--normal !default;
// xxxl
$pf-c-title--is-xxxl--MarginTop: $pf-global--spacer--lg !default;
$pf-c-title--is-xxxl--MarginBottom: $pf-global--spacer--md !default;
$pf-c-title--is-xxxl--LineHeight: $pf-global--LineHeight--sm !default;
$pf-c-title--is-xxxl--FontSize: $pf-global--FontSize--xxxl !default;
$pf-c-title--is-xxxl--FontWeight: $pf-global--FontWeight--normal !default;

// xxl
$pf-c-title--is-xxl--MarginTop: $pf-global--spacer--lg !default;
$pf-c-title--is-xxl--MarginBottom: $pf-global--spacer--md !default;
$pf-c-title--is-xxl--LineHeight: $pf-global--LineHeight--sm !default;
$pf-c-title--is-xxl--FontSize: $pf-global--FontSize--xxl !default;
$pf-c-title--is-xxl--FontWeight: $pf-global--FontWeight--normal !default;

// xl
$pf-c-title--is-xl--MarginTop: $pf-global--spacer--lg !default;
$pf-c-title--is-xl--MarginBottom: $pf-global--spacer--md !default;
$pf-c-title--is-xl--LineHeight: $pf-global--LineHeight--md !default;
$pf-c-title--is-xl--FontSize: $pf-global--FontSize--xl !default;
$pf-c-title--is-xl--FontWeight: $pf-global--FontWeight--normal !default;

// lg
$pf-c-title--is-lg--MarginTop: $pf-global--spacer--lg !default;
$pf-c-title--is-lg--MarginBottom: $pf-global--spacer--md !default;
$pf-c-title--is-lg--LineHeight: $pf-global--LineHeight--md !default;
$pf-c-title--is-lg--FontSize: $pf-global--FontSize--lg !default;
$pf-c-title--is-lg--FontWeight: $pf-global--FontWeight--semi-bold !default;

// md
$pf-c-title--is-md--MarginTop: $pf-global--spacer--lg !default;
$pf-c-title--is-md--MarginBottom: $pf-global--spacer--md !default;
$pf-c-title--is-md--LineHeight: $pf-global--LineHeight--md !default;
$pf-c-title--is-md--FontSize: $pf-global--FontSize--md !default;
$pf-c-title--is-md--FontWeight: $pf-global--FontWeight--semi-bold !default;

// sm
$pf-c-title--is-sm--MarginTop: $pf-global--spacer--lg !default;
$pf-c-title--is-sm--MarginBottom: $pf-global--spacer--xs !default;
$pf-c-title--is-sm--LineHeight: $pf-global--LineHeight--md !default;
$pf-c-title--is-sm--FontSize: $pf-global--FontSize--md !default;
$pf-c-title--is-sm--FontWeight: $pf-global--FontWeight--semi-bold !default;

.pf-c-title {

  &.pf-is {

    &-xxxxl {
      font-size: $pf-c-title--is-xxxxl--FontSize;
      font-weight: $pf-c-title--is-xxxxl--FontWeight;
      line-height: $pf-c-title--is-xxxxl--LineHeight;

      &.pf-has-margin {
        margin-top: $pf-c-title--is-xxxxl--MarginTop;
        margin-bottom: $pf-c-title--is-xxxxl--MarginBottom;
      }
    }

    &-xxxl {
      font-size: $pf-c-title--is-xxxl--FontSize;
      font-weight: $pf-c-title--is-xxxl--FontWeight;
      line-height: $pf-c-title--is-xxxl--LineHeight;

      &.pf-has-margin {
        margin-top: $pf-c-title--is-xxxl--MarginTop;
        margin-bottom: $pf-c-title--is-xxxl--MarginBottom;
      }
    }

    &-xxl {
      font-size: $pf-c-title--is-xxl--FontSize;
      font-weight: $pf-c-title--is-xxl--FontWeight;
      line-height: $pf-c-title--is-xxl--LineHeight;

      &.pf-has-margin {
        margin-top: $pf-c-title--is-xxl--MarginTop;
        margin-bottom: $pf-c-title--is-xxl--MarginBottom;
      }
    }

    &-xl {
      font-size: $pf-c-title--is-xl--FontSize;
      font-weight: $pf-c-title--is-xl--FontWeight;
      line-height: $pf-c-title--is-xl--LineHeight;

      &.pf-has-margin {
        margin-top: $pf-c-title--is-xl--MarginTop;
        margin-bottom: $pf-c-title--is-xl--MarginBottom;
      }
    }

    &-lg {
      font-size: $pf-c-title--is-lg--FontSize;
      font-weight: $pf-c-title--is-lg--FontWeight;
      line-height: $pf-c-title--is-lg--LineHeight;

      &.pf-has-margin {
        margin-top: $pf-c-title--is-lg--MarginTop;
        margin-bottom: $pf-c-title--is-lg--MarginBottom;
      }
    }

    &-md {
      font-size: $pf-c-title--is-md--FontSize;
      font-weight: $pf-c-title--is-md--FontWeight;
      line-height: $pf-c-title--is-md--LineHeight;

      &.pf-has-margin {
        margin-top: $pf-c-title--is-md--MarginTop;
        margin-bottom: $pf-c-title--is-md--MarginBottom;
      }
    }

    &-sm {
      font-size: $pf-c-title--is-sm--FontSize;
      font-weight: $pf-c-title--is-sm--FontWeight;
      line-height: $pf-c-title--is-sm--LineHeight;

      &.pf-has-margin {
        margin-top: $pf-c-title--is-sm--MarginTop;
        margin-bottom: $pf-c-title--is-sm--MarginBottom;
      }
    }
  }
}
