{{#> log-viewer-header __log-viewer-toolbar--IsMatch=log-viewer--IsMatch}}
  {{#> toolbar toolbar--id=(concat log-viewer--id '-toolbar') toolbar--attribute='role="toolbar"'}}
    {{#> toolbar-content}}
      {{#> toolbar-content-section toolbar-content-section--modifier="pf-m-nowrap"}}
        {{#> toolbar-item toolbar-item--modifier="pf-m-search-filter"}}
          {{> __log-viewer-toolbar-select}}
        {{/toolbar-item}}
        {{#> toolbar-group toolbar-group--modifier="pf-m-toggle-group pf-m-show-on-lg"}}
          {{> toolbar-toggle toolbar-toggle--icon="fa-search" toolbar-toggle--IsExpanded="false"}}
          {{> __log-viewer-toolbar-search-filter __log-viewer-toolbar-search-filter--Width="268px"}}
        {{/toolbar-group}}
        {{#> toolbar-item toolbar-item--modifier="pf-m-spacer-none"}}
          {{#> button button--modifier="pf-m-link"}}
            {{#> button-icon button-icon--modifier="pf-m-start"}}
              <i class="fas fa-pause" aria-hidden="true"></i>
            {{/button-icon}}
            Pause
          {{/button}}
        {{/toolbar-item}}
        {{#> toolbar-item toolbar-item--modifier="pf-m-align-right pf-m-hidden-on-lg pf-m-spacer-none"}}
          {{> __log-viewer-dropdown-menu}}
        {{/toolbar-item}}
        {{#> toolbar-group toolbar-group--modifier="pf-m-icon-button-group pf-m-align-right pf-m-hidden pf-m-visible-on-lg"}}
          {{#> toolbar-item}}
            {{#> button button--modifier="pf-m-link"}}
              Clear log
            {{/button}}
          {{/toolbar-item}}
          {{#> toolbar-item}}
            {{#> dropdown dropdown--id=(concat log-viewer--id '-settings-dropdown') dropdown-menu--modifier="pf-m-align-right" dropdown--HasCheckboxes="true"}}
              {{#> dropdown-toggle dropdown-toggle--HasNoToggleIcon="true" dropdown-toggle--attribute='aria-label="Settings"' dropdown-toggle--modifier="pf-m-plain"}}
                <i class="fas fa-cog" aria-hidden="true"></i>
              {{/dropdown-toggle}}
              {{#> dropdown-menu}}
                <li role="menuitem">
                  {{#> dropdown-menu-item dropdown-menu-item--type="div"}}
                    {{#> check check--type="label" check--attribute=(concat 'for="' log-viewer--id '-check-wrap-lines"')}}
                      {{#> check-input check-input--attribute=(concat 'id="' log-viewer--id '-check-wrap-lines" name="' log-viewer--id '-check-wrap-lines"')}}{{/check-input}}
                      {{#> check-label check-label--type="span"}}Wrap lines{{/check-label}}
                    {{/check}}
                  {{/dropdown-menu-item}}
                </li>
                <li role="menuitem">
                  {{#> dropdown-menu-item dropdown-menu-item--type="div"}}
                    {{#> check check--type="label" check--attribute=(concat 'for="' log-viewer--id '-check-show-timestamps"')}}
                      {{#> check-input check-input--attribute=(concat 'id="' log-viewer--id '-check-show-timestamps" name="' log-viewer--id '-check-show-timestamps"')}}{{/check-input}}
                      {{#> check-label check-label--type="span"}}Show timestamps{{/check-label}}
                    {{/check}}
                  {{/dropdown-menu-item}}
                </li>
                <li role="menuitem">
                  {{#> dropdown-menu-item dropdown-menu-item--type="div"}}
                    {{#> check check--type="label" check--attribute=(concat 'for="' log-viewer--id '-check-line-number"')}}
                      {{#> check-input check-input--attribute=(concat 'id="' log-viewer--id '-check-line-number" name="' log-viewer--id '-check-line-number"')}}{{/check-input}}
                      {{#> check-label check-label--type="span"}}Display line number{{/check-label}}
                    {{/check}}
                  {{/dropdown-menu-item}}
                </li>
              {{/dropdown-menu}}
            {{/dropdown}}
          {{/toolbar-item}}
          {{#> toolbar-item}}
            {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Open external link"'}}
              <i class="fas fa-external-link-alt" aria-hidden="true"></i>
            {{/button}}
          {{/toolbar-item}}
          {{#> toolbar-item}}
            {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Download"'}}
              <i class="fas fa-download" aria-hidden="true"></i>
            {{/button}}
          {{/toolbar-item}}
          {{#> toolbar-item}}
            {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Full screen"'}}
              <i class="fas fa-expand" aria-hidden="true"></i>
            {{/button}}
          {{/toolbar-item}}
        {{/toolbar-group}}
      {{/toolbar-content-section}}
      {{#> toolbar-expandable-content}}
        {{> __log-viewer-toolbar-search-filter __log-viewer-toolbar-search-filter--Width="24ch"}}
      {{/toolbar-expandable-content}}
    {{/toolbar-content}}
  {{/toolbar}}
{{/log-viewer-header}}
