// stylelint-disable scss/dollar-variable-pattern
$version-root: 5 !default;

// Patternfly options
$pf-global--namespace: 'pf-' !default;
$pf-global--version: 'v#{$version-root}-' !default;

// Namespace prefix and version
$pf-prefix: #{$pf-global--namespace} + #{$pf-global--version} !default;

// Global variable, namespace prefix and version
$pf-global: #{$pf-prefix} + '-global' !default;
// stylelint-enable
