// Colors
$pf-v5-color-black-100:             #fafafa !default;
$pf-v5-color-black-150:             #f5f5f5 !default;
$pf-v5-color-black-200:             #f0f0f0 !default;
$pf-v5-color-black-300:             #d2d2d2 !default;
$pf-v5-color-black-400:             #b8bbbe !default;
$pf-v5-color-black-500:             #8a8d90 !default;
$pf-v5-color-black-600:             #6a6e73 !default;
$pf-v5-color-black-700:             #4f5255 !default;
$pf-v5-color-black-800:             #3c3f42 !default;
$pf-v5-color-black-850:             #212427 !default;
$pf-v5-color-black-900:             #151515 !default;
$pf-v5-color-black-1000:            #030303 !default;
$pf-v5-color-blue-50:               #e7f1fa !default;
$pf-v5-color-blue-100:              #bee1f4 !default;
$pf-v5-color-blue-200:              #73bcf7 !default;
$pf-v5-color-blue-300:              #2b9af3 !default;
$pf-v5-color-blue-400:              #06c !default;
$pf-v5-color-blue-500:              #004080 !default;
$pf-v5-color-blue-600:              #002952 !default;
$pf-v5-color-blue-700:              #001223 !default;
$pf-v5-color-cyan-50:               #f2f9f9 !default;
$pf-v5-color-cyan-100:              #a2d9d9 !default;
$pf-v5-color-cyan-200:              #73c5c5 !default;
$pf-v5-color-cyan-300:              #009596 !default;
$pf-v5-color-cyan-400:              #005f60 !default;
$pf-v5-color-cyan-500:              #003737 !default;
$pf-v5-color-cyan-600:              #002323 !default;
$pf-v5-color-cyan-700:              #000f0f !default;
$pf-v5-color-gold-50:               #fdf7e7 !default;
$pf-v5-color-gold-100:              #f9e0a2 !default;
$pf-v5-color-gold-200:              #f6d173 !default;
$pf-v5-color-gold-300:              #f4c145 !default;
$pf-v5-color-gold-400:              #f0ab00 !default;
$pf-v5-color-gold-500:              #c58c00 !default;
$pf-v5-color-gold-600:              #795600 !default;
$pf-v5-color-gold-700:              #3d2c00 !default;
$pf-v5-color-green-50:              #f3faf2 !default;
$pf-v5-color-green-100:             #bde5b8 !default;
$pf-v5-color-green-200:             #95d58e !default;
$pf-v5-color-green-300:             #6ec664 !default;
$pf-v5-color-green-400:             #5ba352 !default;
$pf-v5-color-green-500:             #3e8635 !default;
$pf-v5-color-green-600:             #1e4f18 !default;
$pf-v5-color-green-700:             #0f280d !default;
$pf-v5-color-light-blue-100:        #beedf9 !default;
$pf-v5-color-light-blue-200:        #7cdbf3 !default;
$pf-v5-color-light-blue-300:        #35caed !default;
$pf-v5-color-light-blue-400:        #00b9e4 !default;
$pf-v5-color-light-blue-500:        #008bad !default;
$pf-v5-color-light-blue-600:        #005c73 !default;
$pf-v5-color-light-blue-700:        #002d39 !default;
$pf-v5-color-light-green-100:       #e4f5bc !default;
$pf-v5-color-light-green-200:       #c8eb79 !default;
$pf-v5-color-light-green-300:       #ace12e !default;
$pf-v5-color-light-green-400:       #92d400 !default;
$pf-v5-color-light-green-500:       #6ca100 !default;
$pf-v5-color-light-green-600:       #486b00 !default;
$pf-v5-color-light-green-700:       #253600 !default;
$pf-v5-color-orange-50:             #fff6ec !default;
$pf-v5-color-orange-100:            #f4b678 !default;
$pf-v5-color-orange-200:            #ef9234 !default;
$pf-v5-color-orange-300:            #ec7a08 !default;
$pf-v5-color-orange-400:            #c46100 !default;
$pf-v5-color-orange-500:            #8f4700 !default;
$pf-v5-color-orange-600:            #773d00 !default;
$pf-v5-color-orange-700:            #3b1f00 !default;
$pf-v5-color-purple-50:             #f2f0fc !default;
$pf-v5-color-purple-100:            #cbc1ff !default;
$pf-v5-color-purple-200:            #b2a3ff !default;
$pf-v5-color-purple-300:            #a18fff !default;
$pf-v5-color-purple-400:            #8476d1 !default;
$pf-v5-color-purple-500:            #6753ac !default;
$pf-v5-color-purple-600:            #40199a !default;
$pf-v5-color-purple-700:            #1f0066 !default;
$pf-v5-color-red-50:                #faeae8 !default;
$pf-v5-color-red-100:               #c9190b !default;
$pf-v5-color-red-200:               #a30000 !default;
$pf-v5-color-red-300:               #7d1007 !default;
$pf-v5-color-red-400:               #470000 !default;
$pf-v5-color-red-500:               #2c0000 !default;
$pf-v5-color-white:                 #fff !default;
