%pf-v5-t-light {
  --#{$pf-global}--Color--100: var(--#{$pf-global}--Color--dark-100);
  --#{$pf-global}--Color--200: var(--#{$pf-global}--Color--dark-200);
  --#{$pf-global}--BorderColor--100: var(--#{$pf-global}--BorderColor--dark-100);
  --#{$pf-global}--primary-color--100: var(--#{$pf-global}--primary-color--dark-100);
  --#{$pf-global}--link--Color: var(--#{$pf-global}--link--Color--dark);
  --#{$pf-global}--link--Color--hover: var(--#{$pf-global}--link--Color--dark--hover);
  --#{$pf-global}--BackgroundColor--100: var(--#{$pf-global}--BackgroundColor--light-100);
  --#{$pf-global}--icon--Color--light: var(--#{$pf-global}--icon--Color--light--dark);
  --#{$pf-global}--icon--Color--dark: var(--#{$pf-global}--icon--Color--dark--dark);
}

%pf-v5-t-dark {
  --#{$pf-global}--Color--100: var(--#{$pf-global}--Color--light-100);
  --#{$pf-global}--Color--200: var(--#{$pf-global}--Color--light-200);
  --#{$pf-global}--BorderColor--100: var(--#{$pf-global}--BorderColor--light-100);
  --#{$pf-global}--primary-color--100: var(--#{$pf-global}--primary-color--light-100);
  --#{$pf-global}--link--Color: var(--#{$pf-global}--link--Color--light);
  --#{$pf-global}--link--Color--hover: var(--#{$pf-global}--link--Color--light);
  --#{$pf-global}--BackgroundColor--100: var(--#{$pf-global}--BackgroundColor--dark-100);
  --#{$pf-global}--icon--Color--light: var(--#{$pf-global}--icon--Color--light--light);
  --#{$pf-global}--icon--Color--dark: var(--#{$pf-global}--icon--Color--dark--light);

  .#{$button} {
    --#{$button}--m-primary--BackgroundColor: var(--#{$pf-global}--primary-color--dark-100);
  }
}

// stylelint-disable
%pf-v5-hidden-visible {
  // base value for visible display property is set to 'block' by default and passed in to
  // placeholder via `pf-v5-hidden-visible` mixin

  // set hidden var values
  --pf-v5-hidden-visible--hidden--Display: none;

  // set visibile var values
  --pf-v5-hidden-visible--Display: var(--pf-v5-hidden-visible--visible--Display);

  // set default state to visible
  display: var(--pf-v5-hidden-visible--Display);

  // toggle values based on state
  &.pf-m-hidden {
    --pf-v5-hidden-visible--Display: var(--pf-v5-hidden-visible--hidden--Display);
  }

  @each $size, $bp in $pf-v5-global--breakpoint-name-map {
    @media screen and (min-width: $bp) {
      &.pf-m-hidden-on-#{$size} {
        --pf-v5-hidden-visible--Display: var(--pf-v5-hidden-visible--hidden--Display);
      }

      &.pf-m-visible-on-#{$size} {
        --pf-v5-hidden-visible--Display: var(--pf-v5-hidden-visible--visible--Display);
      }
    }
  }
}
// stylelint-enable

%pf-v5-remove-num-arrows {
  appearance: textfield;

  // stylelint-disable
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
  // stylelint-enable
    margin: 0;
    appearance: none;
  }
}
