%pf-t-light {
  --pf-global--Color--100: var(--pf-global--Color--dark-100);
  --pf-global--Color--200: var(--pf-global--Color--dark-200);
  --pf-global--BorderColor: var(--pf-global--BorderColor--dark);

  .pf-c-button {
    // Secondary btn
    --pf-c-button--m-secondary--BoxShadowColor: var(--pf-global--primary-color--100);
    --pf-c-button--m-secondary--Color: var(--pf-global--primary-color--100);
    --pf-c-button--m-secondary--hover--BoxShadowColor: var(--pf-global--primary-color--200);
    --pf-c-button--m-secondary--hover--Color: var(--pf-global--primary-color--200);
    --pf-c-button--m-secondary--focus--BoxShadowColor: var(--pf-global--primary-color--200);
    --pf-c-button--m-secondary--focus--Color: var(--pf-global--primary-color--200);
    --pf-c-button--m-secondary--active--BoxShadowColor: var(--pf-global--primary-color--200);
    --pf-c-button--m-secondary--active--Color: var(--pf-global--primary-color--200);
  }
}

%pf-t-dark {
  --pf-global--Color--100: var(--pf-global--Color--light-100);
  --pf-global--Color--200: var(--pf-global--Color--light-200);
  --pf-global--BorderColor: var(--pf-global--BorderColor--light);

  .pf-c-button {
    // btns
    --pf-c-button--m-secondary--BoxShadowColor: var(--pf-global--Color--light-100);
    --pf-c-button--m-secondary--Color: var(--pf-global--Color--light-100);
    --pf-c-button--m-secondary--hover--BoxShadowColor: var(--pf-global--Color--light-100);
    --pf-c-button--m-secondary--hover--Color: var(--pf-global--Color--light-100);
    --pf-c-button--m-secondary--focus--BoxShadowColor: var(--pf-global--Color--light-100);
    --pf-c-button--m-secondary--focus--Color: var(--pf-global--Color--light-100);
    --pf-c-button--m-secondary--active--BoxShadowColor: var(--pf-global--Color--light-100);
    --pf-c-button--m-secondary--active--Color: var(--pf-global--Color--light-100);

    // tertiary inverse btn default styles
    --pf-c-button--m-tertiary--BoxShadowColor: var(--pf-global--Color--light-100);
    --pf-c-button--m-tertiary--Color: var(--pf-global--Color--light-100);
    --pf-c-button--m-tertiary--hover--BoxShadowColor: var(--pf-global--Color--light-100);
    --pf-c-button--m-tertiary--hover--Color: var(--pf-global--Color--light-100);
    --pf-c-button--m-tertiary--focus--BoxShadowColor: var(--pf-global--Color--light-100);
    --pf-c-button--m-tertiary--focus--Color: var(--pf-global--Color--light-100);
    --pf-c-button--m-tertiary--active--BoxShadowColor: var(--pf-global--Color--light-100);
    --pf-c-button--m-tertiary--active--Color: var(--pf-global--Color--light-100);
  }
}
