<div class="{{pfv}}slider__rail{{#if slider-rail--modifier}} {{slider-rail--modifier}}{{/if}}"
  {{#if slider-rail--attribute}}
    {{{slider-rail--attribute}}}
  {{/if}}>
  {{> slider-rail-track}}
</div>
