<div class="{{pfv}}slider__main{{#if slider-main--modifier}} {{slider-main--modifier}}{{/if}}"
  {{#if slider-main--attribute}}
    {{{slider-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
