<div class="{{pfv}}slider__step-tick{{#if slider-step-tick--IsActive}} pf-m-active{{/if}}{{#if slider-step-tick--modifier}} {{slider-step-tick--modifier}}{{/if}}"
  {{#if slider-step-tick--attribute}}
    {{{slider-step-tick--attribute}}}
  {{/if}}>
</div>
