<div class="{{pfv}}slider__step-label{{#if slider-step-label--IsActive}} pf-m-active{{/if}}{{#if slider-step-label--modifier}} {{slider-step-label--modifier}}{{/if}}"
  {{#if slider-step-label--attribute}}
    {{{slider-step-label--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
