// @debug $slider; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$slider} {
  --#{$slider}--value: 0; // should always be set inline
  --#{$slider}__step--Left: 0; // should always be set inline

  // rail
  --#{$slider}__rail--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$slider}__rail--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$slider}__rail-track--Height: #{pf-size-prem(4px)};
  --#{$slider}__rail-track--before--base--BackgroundColor: var(--#{$pf-global}--BorderColor--100);
  --#{$slider}__rail-track--before--fill--BackgroundColor: var(--#{$pf-global}--active-color--300);
  --#{$slider}__rail-track--before--BorderRadius: var(--#{$pf-global}--BorderRadius--lg);
  --#{$slider}__rail-track--before--fill--BackgroundColor--gradient-stop: var(--#{$slider}--value);

  @include pf-v5-bidirectional-style(
    $prop: --#{$slider}__rail-track--before--fill--direction, 
    $ltr-val: right,
    $rtl-val: left
  );

  // steps
  --#{$slider}__steps--FontSize: var(--#{$pf-global}--FontSize--sm);
  --#{$slider}__steps--Height: var(--#{$slider}__steps--FontSize);

  // step tick
  --#{$slider}__step-tick--Top: var(--#{$pf-global}--spacer--md);
  --#{$slider}__step-tick--Width: #{pf-size-prem(4px)};
  --#{$slider}__step-tick--Height: #{pf-size-prem(4px)};
  --#{$slider}__step-tick--BackgroundColor: var(--#{$pf-global}--BorderColor--200);
  --#{$slider}__step-tick--TranslateX: -50%;
  --#{$slider}__step-tick--BorderRadius: var(--#{$pf-global}--BorderRadius--lg);
  --#{$slider}__step--m-active__slider-tick--BackgroundColor: var(--#{$pf-global}--primary-color--100);
  --#{$slider}__step--first-child__step-tick--TranslateX: 0;
  --#{$slider}__step--last-child__step-tick--TranslateX: -100%;

  // step label
  --#{$slider}__step-label--TranslateX: -50%;
  --#{$slider}__step-label--Top: calc(var(--#{$pf-global}--spacer--xl) + var(--#{$slider}__rail-track--Height));
  --#{$slider}__step--first-child__step-label--TranslateX: 0;
  --#{$slider}__step--last-child__step-label--TranslateX: -100%;

  // thumb
  --#{$slider}__thumb--Top: calc(var(--#{$slider}__rail-track--Height) / 2 + var(--#{$pf-global}--spacer--md));
  --#{$slider}__thumb--Width: #{pf-size-prem(16px)};
  --#{$slider}__thumb--Height: #{pf-size-prem(16px)};
  --#{$slider}__thumb--Left: var(--#{$slider}--value);
  --#{$slider}__thumb--BackgroundColor: var(--#{$pf-global}--primary-color--100);
  --#{$slider}__thumb--TranslateX: -50%;
  --#{$slider}__thumb--TranslateY: -50%;
  --#{$slider}__thumb--BorderRadius: var(--#{$pf-global}--BorderRadius--lg);
  --#{$slider}__thumb--BoxShadow--base:
    0 0 0 2px var(--#{$pf-global}--BackgroundColor--100),
    0 0 0 3px var(--#{$pf-global}--primary-color--100);
  --#{$slider}__thumb--hover--BoxShadow: var(--#{$slider}__thumb--BoxShadow--base);
  --#{$slider}__thumb--focus--BoxShadow: var(--#{$slider}__thumb--BoxShadow--base);
  --#{$slider}__thumb--active--BoxShadow:
    var(--#{$slider}__thumb--BoxShadow--base),
    0 0 2px 5px var(--#{$pf-global}--active-color--200);
  --#{$slider}__thumb--before--Width: var(--#{$pf-global}--target-size--MinWidth);
  --#{$slider}__thumb--before--Height: var(--#{$pf-global}--target-size--MinHeight);
  --#{$slider}__thumb--before--BorderRadius: var(--#{$pf-global}--BorderRadius--lg);
  --#{$slider}__thumb--before--TranslateX: -50%;
  --#{$slider}__thumb--before--TranslateY: -50%;

  // value
  --#{$slider}__value--MarginLeft: var(--#{$pf-global}--spacer--md);
  --#{$slider}__value--c-form-control--width-base: 3.5ch;
  --#{$slider}__value--c-form-control--width-chars: 3;
  --#{$slider}__value--c-form-control--Width: calc(var(--#{$slider}__value--c-form-control--width-base) + (var(--#{$slider}__value--c-form-control--width-chars) * 1ch));
  --#{$slider}__value--m-floating--TranslateX: -50%;
  --#{$slider}__value--m-floating--TranslateY: -100%;
  --#{$slider}__value--m-floating--Left: var(--#{$slider}--value);
  --#{$slider}__value--m-floating--ZIndex: var(--#{$pf-global}--ZIndex--sm);

  // actions
  --#{$slider}__actions--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$slider}__main--actions--MarginLeft: var(--#{$pf-global}--spacer--sm);

  // disabled
  --#{$slider}--m-disabled__rail-track--before--fill--BackgroundColor: var(--#{$pf-global}--palette--black-500);
  --#{$slider}--m-disabled__step--m-active__slider-tick--BackgroundColor: var(--#{$pf-global}--palette--black-700);
  --#{$slider}--m-disabled__thumb--BackgroundColor: var(--#{$pf-global}--palette--black-700);

  display: flex;

  &.pf-m-disabled {
    --#{$slider}__rail-track--before--fill--BackgroundColor: var(--#{$slider}--m-disabled__rail-track--before--fill--BackgroundColor);
    --#{$slider}__step--m-active__slider-tick--BackgroundColor: var(--#{$slider}--m-disabled__step--m-active__slider-tick--BackgroundColor);
    --#{$slider}__thumb--BackgroundColor: var(--#{$slider}--m-disabled__thumb--BackgroundColor);

    .#{$slider}__rail,
    .#{$slider}__thumb {
      cursor: not-allowed;
    }

    .#{$slider}__thumb {
      --#{$slider}__thumb--BoxShadow: none;
    }
  }
}

.#{$slider}__main {
  position: relative;
  flex-grow: 1;
}

.#{$slider}__rail {
  padding-block-start: var(--#{$slider}__rail--PaddingTop);
  padding-block-end: var(--#{$slider}__rail--PaddingBottom);
}

.#{$slider}__rail-track {
  position: relative;
  height: var(--#{$slider}__rail-track--Height);

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background:
      linear-gradient(
        to var(--#{$slider}__rail-track--before--fill--direction),
        var(--#{$slider}__rail-track--before--fill--BackgroundColor),
        var(--#{$slider}__rail-track--before--fill--BackgroundColor) var(--#{$slider}__rail-track--before--fill--BackgroundColor--gradient-stop),
        var(--#{$slider}__rail-track--before--base--BackgroundColor) var(--#{$slider}__rail-track--before--fill--BackgroundColor--gradient-stop)
      );
    border-radius: var(--#{$slider}__rail-track--before--BorderRadius);
  }
}

.#{$slider}__steps {
  height: var(--#{$slider}__steps--Height);
  font-size: var(--#{$slider}__steps--FontSize);
  line-height: 1;
}

.#{$slider}__step {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: var(--#{$slider}__step--Left); // set programmatically as an inline style
  content: "";

  &.pf-m-active {
    --#{$slider}__step-tick--BackgroundColor: var(--#{$slider}__step--m-active__slider-tick--BackgroundColor);
  }

  &:first-child {
    --#{$slider}__step-tick--TranslateX: var(--#{$slider}__step--first-child__step-tick--TranslateX);
    --#{$slider}__step-label--TranslateX: var(--#{$slider}__step--first-child__step-label--TranslateX);
  }

  &:last-child {
    --#{$slider}__step-tick--TranslateX: var(--#{$slider}__step--last-child__step-tick--TranslateX);
    --#{$slider}__step-label--TranslateX: var(--#{$slider}__step--last-child__step-label--TranslateX);
  }
}

.#{$slider}__step-tick {
  @include pf-v5-bidirectional-style(
    $prop: transform,
    $ltr-val: translateX(var(--#{$slider}__step-tick--TranslateX)),
    $rtl-val: translateX(#{pf-v5-calc-inverse(var(--#{$slider}__step-tick--TranslateX))})
  );

  position: absolute;
  inset-block-start: var(--#{$slider}__step-tick--Top);
  inset-inline-start: 0;
  width: var(--#{$slider}__step-tick--Width);
  height: var(--#{$slider}__step-tick--Height);
  background-color: var(--#{$slider}__step-tick--BackgroundColor);
  border-radius: var(--#{$slider}__step-tick--BorderRadius);
}

.#{$slider}__step-label {
  @include pf-v5-bidirectional-style(
    $prop: transform,
    $ltr-val: translateX(var(--#{$slider}__step-label--TranslateX)),
    $rtl-val: translateX(#{pf-v5-calc-inverse(var(--#{$slider}__step-label--TranslateX))})
  );

  position: absolute;
  inset-block-start: var(--#{$slider}__step-label--Top);
  word-break: normal;
}

.#{$slider}__thumb {
  @include pf-v5-bidirectional-style(
    $prop: transform,
    $ltr-val: translate(var(--#{$slider}__thumb--TranslateX), var(--#{$slider}__thumb--TranslateY)),
    $rtl-val: translate(#{pf-v5-calc-inverse(var(--#{$slider}__thumb--TranslateX))}, var(--#{$slider}__thumb--TranslateY))
  );

  position: absolute;
  inset-block-start: var(--#{$slider}__thumb--Top);
  inset-inline-start: var(--#{$slider}__thumb--Left);
  width: var(--#{$slider}__thumb--Width);
  height: var(--#{$slider}__thumb--Height);
  cursor: pointer;
  background-color: var(--#{$slider}__thumb--BackgroundColor);
  border-radius: var(--#{$slider}__thumb--BorderRadius);
  box-shadow: var(--#{$slider}__thumb--BoxShadow);

  &::before {
    @include pf-v5-bidirectional-style(
      $prop: transform,
      $ltr-val: translate(var(--#{$slider}__thumb--before--TranslateX), var(--#{$slider}__thumb--before--TranslateY)),
      $rtl-val: translate(#{pf-v5-calc-inverse(var(--#{$slider}__thumb--before--TranslateX))}, var(--#{$slider}__thumb--before--TranslateY))
    );

    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    width: var(--#{$slider}__thumb--before--Width);
    height: var(--#{$slider}__thumb--before--Height);
    content: "";
    border-radius: var(--#{$slider}__thumb--before--BorderRadius);
  }

  &:hover {
    --#{$slider}__thumb--BoxShadow: var(--#{$slider}__thumb--hover--BoxShadow);
  }

  &:focus {
    --#{$slider}__thumb--BoxShadow: var(--#{$slider}__thumb--focus--BoxShadow);

    outline: 0;
  }

  &:active {
    --#{$slider}__thumb--BoxShadow: var(--#{$slider}__thumb--active--BoxShadow);
  }
}

.#{$slider}__value {
  margin-inline-start: var(--#{$slider}__value--MarginLeft);

  &.pf-m-floating {
    @include pf-v5-bidirectional-style(
      $prop: transform,
      $ltr-val: translate(var(--#{$slider}__value--m-floating--TranslateX), var(--#{$slider}__value--m-floating--TranslateY)),
      $rtl-val: translate(#{pf-v5-calc-inverse(var(--#{$slider}__value--m-floating--TranslateX))}, var(--#{$slider}__value--m-floating--TranslateY)),
    );

    --#{$slider}__value--MarginLeft: 0;

    position: absolute;
    inset-block-start: 0;
    inset-inline-start: var(--#{$slider}__value--m-floating--Left);
    z-index: var(--#{$slider}__value--m-floating--ZIndex);
  }

  .#{$form-control} {
    width: var(--#{$slider}__value--c-form-control--Width);
  }
}

.#{$slider}__actions {
  display: flex;
  margin-inline-end: var(--#{$slider}__actions--MarginRight);

  .#{$slider}__main ~ & {
    --#{$slider}__actions--MarginRight: 0;

    margin-inline-start: var(--#{$slider}__main--actions--MarginLeft);
  }
}
