<div class="{{pfv}}slider__value{{#if slider-value--modifier}} {{slider-value--modifier}}{{/if}}"
  {{#if slider-value--attribute}}
    {{{slider-value--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
