<div class="{{pfv}}slider__steps{{#if slider-steps--modifier}} {{slider-steps--modifier}}{{/if}}"
  aria-hidden="true"
  {{#if slider-steps--attribute}}
    {{{slider-steps--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
