<div class="{{pfv}}slider{{#if slider--IsDisabled}} pf-m-disabled{{/if}}{{#if slider--modifier}} {{slider--modifier}}{{/if}}"
  {{#if slider--attribute}}
    {{{slider--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
