<div class="{{pfv}}slider__rail-track{{#if slider-rail-track--modifier}} {{slider-rail-track--modifier}}{{/if}}"
  {{#if slider-rail-track--attribute}}
    {{{slider-rail-track--attribute}}}
  {{/if}}>
</div>
