<div class="{{pfv}}slider__actions{{#if slider-actions--modifier}} {{slider-actions--modifier}}{{/if}}"
  {{#if slider-actions--attribute}}
    {{{slider-actions--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
