// URL.com/guidelines#layout
:root {
  --pf-l-toolbar__child--MarginLeft: var(--pf-global--spacer--lg);
}

.pf-l-toolbar {
  display: flex;

  > *:not(:first-child) {
    margin-left: var(--pf-l-toolbar__child--MarginLeft, 48px);
  }
}

