<section class="pf-l-toolbar__section {{#if toolbar-section--modifier}} {{toolbar-section--modifier}}{{/if}}" 
  {{#if toolbar-section--attribute}}
    {{{ toolbar-section--attribute}}}
  {{/if}}
>
  {{> @partial-block}}
</section>
