@import "../../patternfly-imports";

// The value of component scoped variables is always defined by a global variable:
.pf-l-toolbar {
  // Toolbar Section
  --pf-l-toolbar__section--MarginTop: var(--pf-global--spacer--md);

  // Toolbar Group
  --pf-l-toolbar__group--MarginRight: var(--pf-global--spacer--xl);
  --pf-l-toolbar__group--MarginLeft: var(--pf-global--spacer--xl);

  // Toolbar Item
  --pf-l-toolbar__item--MarginRight: var(--pf-global--spacer--md);
  --pf-l-toolbar__item--MarginLeft: var(--pf-global--spacer--md);
}

// toolbar, toolbar__group, toolbar__section shared styles
.pf-l-toolbar,
.pf-l-toolbar__section,
.pf-l-toolbar__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// Section
.pf-l-toolbar__section {
  flex-basis: 100%;

  // Add margin-top for stacked sections
  &:not(:first-child) {
    margin-top: var(--pf-l-toolbar__section--MarginTop);
  }
}

// Group
.pf-l-toolbar__group:not(:last-child) {
  margin-right: var(--pf-l-toolbar__group--MarginRight);
}

// Item
.pf-l-toolbar__item {
  // Set margin-right so items will align when wrapped
  .pf-l-toolbar:not(:last-child) {
    margin-right: var(--pf-l-toolbar__item--MarginRight);
  }
}
