@mixin pf-toolbar-m-show {
  --pf-c-toolbar--spacer: var(--pf-c-toolbar__group--m-toggle-group--m-show--spacer);
  --pf-c-toolbar__group--m-toggle-group__group--Display: var(--pf-c-toolbar__group--m-toggle-group--m-show__group--Display);
  --pf-c-toolbar__group--m-toggle-group__item--Display: var(--pf-c-toolbar__group--m-toggle-group--m-show__item--Display);
  --pf-c-toolbar__group--m-toggle-group__toggle--Display: var(--pf-c-toolbar__group--m-toggle-group--m-show__toggle--Display);
}

@mixin pf-toolbar-m-align-right {
  margin-left: auto;

  & ~ .pf-m-pagination {
    margin-left: 0;
  }
}

@mixin pf-toolbar-m-align-left {
  margin-left: 0;

  & ~ .pf-m-pagination {
    margin-left: auto;
  }
}

@mixin pf-toolbar-m-no-wrap {
  flex-wrap: nowrap;
}

@mixin pf-toolbar-m-wrap {
  flex-wrap: wrap;
}

@mixin pf-toolbar-m-space-items {
  > * {
    --pf-c-toolbar--spacer: #{$spacer-value};
  }

  > :last-child {
    --pf-c-toolbar--spacer: 0;
  }
}

@mixin pf-toolbar-m-spacer {
  --pf-c-toolbar--spacer: #{$spacer-value};

  &:last-child {
    --pf-c-toolbar--spacer: #{$spacer-value};
  }
}

@mixin pf-toolbar-m-inset {
  --pf-c-toolbar--inset: #{$spacer-value};
  --pf-c-toolbar__content--PaddingRight: var(--pf-c-toolbar--inset);
  --pf-c-toolbar__content--PaddingLeft: var(--pf-c-toolbar--inset);
}
