<div class="pf-c-toolbar__filter-list{{#if toolbar-filter-list--modifier}} {{toolbar-filter-list--modifier}}{{/if}}"
  {{#if toolbar-filter-list--attribute}}
      {{{toolbar-filter-list--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
