<div class="pf-c-toolbar__total-items{{#if toolbar-total-items--modifier}} {{toolbar-total-items--modifier}}{{/if}}"
  {{#if toolbar-total-items--attribute}}
      {{{toolbar-total-items--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
