{{#> context-selector context-selector--id=(concat toolbar--id '-context-selector') context-selector--label-text="Selected project"}}
  {{#> context-selector-toggle context-selector-toggle--attribute=(concat 'id="' context-selector--id '-toggle"' 'aria-labelledby="' context-selector--id '-label ' context-selector--id '-toggle"')}}
    {{#> context-selector-toggle-text}}
      My project
    {{/context-selector-toggle-text}}
    {{#> context-selector-toggle-icon}}
    {{/context-selector-toggle-icon}}
  {{/context-selector-toggle}}
  {{#> context-selector-menu}}
    {{#> context-selector-menu-search}}
      {{> search-input}}
    {{/context-selector-menu-search}}
    {{#> context-selector-menu-menu}}
      <li>
        {{#> context-selector-menu-menu-item}}
          My project
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          OpenShift cluster
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          Production Ansible
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          AWS
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          Azure
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          My project
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          OpenShift cluster
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          Production Ansible
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          AWS
        {{/context-selector-menu-menu-item}}
      </li>
      <li>
        {{#> context-selector-menu-menu-item}}
          Azure
        {{/context-selector-menu-menu-item}}
      </li>
    {{/context-selector-menu-menu}}
  {{/context-selector-menu}}
{{/context-selector}}
