$pf-v6-c-toolbar--spacer-map: build-spacer-map();
$pf-v6-c-toolbar--inset-map: build-spacer-map();
$pf-v6-c-toolbar--align-items--alignments: ('stretch', 'baseline', 'start', 'center', 'end');
$pf-v6-c-toolbar--breakpoint-map: build-breakpoint-map('base');
$pf-v6--include-toolbar-breakpoints: true !default;

@if $pf-v6--include-toolbar-breakpoints {
  $pf-v6-c-toolbar--breakpoint-map: build-breakpoint-map('base', 'sm', 'md', 'lg', 'xl', '2xl');
}

:where(:root),
:where(.#{$toolbar}) {
  --#{$toolbar}--RowGap: var(--pf-t--global--spacer--sm);
  --#{$toolbar}--ColumnGap: var(--pf-t--global--spacer--md);
  --#{$toolbar}--PaddingBlock: var(--pf-t--global--spacer--md);
  --#{$toolbar}--PaddingInline: var(--pf-t--global--spacer--md);
  --#{$toolbar}--LineHeight: var(--pf-t--global--font--line-height--body);
  --#{$toolbar}--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$toolbar}--BackgroundColor: transparent;

  // * Toolbar background modifiers
  --#{$toolbar}--m-primary--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$toolbar}--m-secondary--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$toolbar}--m-no-background--BackgroundColor: transparent;

  // * Toolbar item
  --#{$toolbar}__item--Width: auto;
  --#{$toolbar}__item--MinWidth: auto;
  --#{$toolbar}__item--ColumnGap: var(--pf-t--global--spacer--sm);
  --#{$toolbar}__item--m-overflow-container--MinWidth: 0;

  // * Toolbar group
  --#{$toolbar}__group--m-overflow-container--MinWidth: 0;

  // * Toolbar content * Toolbar expandable content
  --#{$toolbar}__content--RowGap: var(--pf-t--global--spacer--sm);
  --#{$toolbar}__content--PaddingBlock: var(--pf-t--global--spacer--md);
  --#{$toolbar}__content--PaddingInline: var(--#{$toolbar}--PaddingInline);

  // * Toolbar expandable content
  --#{$toolbar}__expandable-content--ZIndex: var(--pf-t--global--Zindex--xs);
  --#{$toolbar}__expandable-content--BoxShadow: var(--pf-t--global--box-shadow--md--bottom);
  --#{$toolbar}__expandable-content--BackgroundColor: var(--pf-t--global--background--color--floating--default);

  // * Toolbar sticky
  --#{$toolbar}--m-sticky--ZIndex: var(--pf-t--global--Zindex--xs);
  --#{$toolbar}--m-sticky--BoxShadow: var(--pf-t--global--box-shadow--md--bottom);
  --#{$toolbar}--m-sticky--BackgroundColor: var(--pf-t--global--background--color--primary--default);

  // * Toolbar insets
  --#{$toolbar}--m-page-insets--inset: var(--#{$page}--inset);

  // * Toolbar expand all
  --#{$toolbar}__expand-all-icon--Rotate: 0;
  --#{$toolbar}__expand-all-icon--Transition: var(--#{$pf-global}--Transition); // TODO: update when transition is tokenized
  --#{$toolbar}__item--m-expand-all--m-expanded__expand-all-icon--Rotate: 90deg;

  // * Toolbar filter group
  --#{$toolbar}__group--m-filter-group--ColumnGap: var(--pf-t--global--spacer--xs);

  // * Toolbar label
  --#{$toolbar}__item--m-label--FontWeight: var(--pf-t--global--font--weight--body--bold);
}

// - Toolbar content - Toolbar group - Toolbar item - Toolbar group chip container - Toolbar group chip group
.#{$toolbar}__content-section,
.#{$toolbar}__group,
.#{$toolbar}__item,
.#{$toolbar}__group.pf-m-chip-group-container,
.#{$toolbar}__group.pf-m-chip-group {
  @include pf-v6-hidden-visible(flex);

  flex-wrap: wrap;
}

// - Toolbar - Toolbar content
.#{$toolbar},
.#{$toolbar}__content {
  position: relative;
  display: grid;
}

// - Toolbar
.#{$toolbar} {
  width: var(--#{$toolbar}--Width, auto);
  font-size: var(--#{$toolbar}--FontSize);
  line-height: var(--#{$toolbar}--LineHeight);
  background-color: var(--#{$toolbar}--BackgroundColor);

  // - Toolbar sticky
  &.pf-m-sticky {
    --#{$toolbar}--BackgroundColor: var(--#{$toolbar}--m-sticky--BackgroundColor);

    position: sticky;
    inset-block-start: 0;
    z-index: var(--#{$toolbar}--m-sticky--ZIndex);
    box-shadow: var(--#{$toolbar}--m-sticky--BoxShadow);
  }

  //  - Toolbar static
  &.pf-m-static {
    .#{$toolbar}__content {
      position: static;
    }

    .#{$toolbar}__expandable-content {
      position: absolute;
    }
  }

  // - Toolbar full height
  &.pf-m-full-height {
    --#{$toolbar}--PaddingBlockStart: 0;
    --#{$toolbar}--PaddinkBlockEnd: 0;

    .#{$toolbar}__group,
    .#{$toolbar}__item {
      align-items: stretch;
      align-self: stretch;
    }
  }

  // - Toolbar page insets
  &.pf-m-page-insets {
    --#{$toolbar}--PaddingInlineStart: var(--#{$toolbar}--m-page-insets--inset);
    --#{$toolbar}--PaddingInlineEnd: var(--#{$toolbar}--m-page-insets--inset);
  }

  // - Toolbar background modifiers
  &.pf-m-primary {
    --#{$toolbar}--BackgroundColor: var(--#{$toolbar}--m-primary--BackgroundColor);
  }

  &.pf-m-secondary {
    --#{$toolbar}--BackgroundColor: var(--#{$toolbar}--m-secondary--BackgroundColor);
  }

  &.pf-m-no-background {
    --#{$toolbar}--BackgroundColor: var(--#{$toolbar}--m-no-background--BackgroundColor);
  }

  // @include resize-observer-placeholder('md') {
  //   do resize observer things here
  // }
}

// - Toolbar content - Toolbar content section - Toolbar expandable content
.#{$toolbar}__content,
.#{$toolbar}__content-section,
.#{$toolbar}__expandable-content {
  row-gap: var(--#{$toolbar}__content--RowGap);
  column-gap: var(--#{$toolbar}--ColumnGap);
}

// - Toolbar content expandable content
.#{$toolbar}__content,
.#{$toolbar}__expandable-content {
  padding-block-start: var(--#{$toolbar}__content--PaddingBlockStart, var(--#{$toolbar}__content--PaddingBlock));
  padding-block-end: var(--#{$toolbar}__content--PaddingBlockEnd, var(--#{$toolbar}__content--PaddingBlock));
  padding-inline-start: var(--#{$toolbar}__content--PaddingInlineStart, var(--#{$toolbar}__content--PaddingInline));
  padding-inline-end: var(--#{$toolbar}__content--PaddingInlineEnd, var(--#{$toolbar}__content--PaddingInline));
}

// - Toolbar content section
.#{$toolbar}__content-section {
  align-items: start;

  // push pagination to inline-end when flex items are not wrapped
  &:has(.#{$toolbar}__item.pf-m-pagination:not(:only-child):last-child) {
    .#{$toolbar}__item.pf-m-pagination {
      margin-inline-start: revert;
    }

    > .#{$toolbar}__group,
    > .#{$toolbar}__item {
      &:nth-last-child(2) {
        flex: 1;
      }
    }
  }
}

// - Toolbar item
.#{$toolbar}__item {
  @include pf-v6-build-css-variable-stack("--#{$toolbar}__item--Width--base", "--#{$toolbar}__item--Width", $pf-v6-c-toolbar--breakpoint-map);
  @include pf-v6-build-css-variable-stack("--#{$toolbar}__item--MinWidth--base", "--#{$toolbar}__item--MinWidth", $pf-v6-c-toolbar--breakpoint-map);

  row-gap: var(--#{$toolbar}__item--RowGap, var(--#{$toolbar}--RowGap));
  column-gap: var(--#{$toolbar}__item--ColumnGap);
  width: var(--#{$toolbar}__item--Width--base);
  min-width: var(--#{$toolbar}__item--MinWidth--base);

  // - Toolbar expand
  &.pf-m-expand-all.pf-m-expanded {
    --#{$toolbar}__expand-all-icon--Rotate: var(--#{$toolbar}__item--m-expand-all--m-expanded__expand-all-icon--Rotate);
  }

  // - Toolbar label
  &.pf-m-label {
    font-weight: var(--#{$toolbar}__item--m-label--FontWeight);
  }

  // - Toolbar pagination
  &.pf-m-pagination {
    margin-inline-start: auto;

    &.#{$pagination} {
      flex-wrap: nowrap;
    }
  }

  &.pf-m-overflow-container {
    min-width: var(--#{$toolbar}__item--m-overflow-container--MinWidth);
  }
}

// - Toolbar group
.#{$toolbar}__group {
  row-gap: var(--#{$toolbar}__group--RowGap, var(--#{$toolbar}--RowGap));
  column-gap: var(--#{$toolbar}__group--ColumnGap, var(--#{$toolbar}--ColumnGap));
  align-items: baseline;

  // - Toolbar icon button group - Toolbar filter group
  &.pf-m-icon-button-group {
    column-gap: var(--#{$toolbar}__group--m-icon-button-group--ColumnGap, 0);
  }

  &.pf-m-filter-group {
    column-gap: var(--#{$toolbar}__group--m-filter-group--ColumnGap);
  }

  // - Toolbar filter group - Toolbar chip container
  &.pf-m-filter-group,
  &.pf-m-chip-group-container {
    flex-wrap: nowrap;
  }

  // - Toolbar chip group
  &.pf-m-chip-group {
    flex: 1;
  }

  &.pf-m-overflow-container {
    min-width: var(--#{$toolbar}__group--m-overflow-container--MinWidth);
  }
}

// - Toolbar expandable content
.#{$toolbar}__expandable-content {
  position: absolute;
  inset-block-start: 100%;
  z-index: var(--#{$toolbar}__expandable-content--ZIndex);
  display: none;
  width: 100%;
  background-color: var(--#{$toolbar}__expandable-content--BackgroundColor);
  box-shadow: var(--#{$toolbar}__expandable-content--BoxShadow);

  @media screen and (min-width: $pf-v6-global--breakpoint--lg) {
    position: static;
    padding: 0;
    box-shadow: none;
  }

  &.pf-m-expanded,
  .#{$toolbar}__group {
    display: grid;
  }

  .#{$toolbar}__item > * {
    flex-basis: 100%;
  }
}

// - Toolbar expand all
.#{$toolbar}__expand-all-icon {
  display: inline-block;
  transition: var(--#{$toolbar}__expand-all-icon--Transition);
  transform: rotate(var(--#{$toolbar}__expand-all-icon--Rotate));

  @include pf-v6-mirror-inline-on-rtl; // - TODO: mirror this icon in breaking change
}

// - Toolbar group - Toolbar item
.#{$toolbar}__group,
.#{$toolbar}__item {
  align-self: baseline;

  &.pf-m-overflow-container {
    flex: 1;
    overflow: auto;
  }
}

@each $breakpoint, $breakpoint-value in $pf-v6-c-toolbar--breakpoint-map {
  $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

  @include pf-v6-apply-breakpoint($breakpoint) {
    .#{$toolbar}__group,
    .#{$toolbar}__item {
      &.pf-m-align-start#{$breakpoint-name} {
        margin-inline-start: 0;
      }

      &.pf-m-align-center#{$breakpoint-name} {
        margin-inline-start: auto;
        margin-inline-end: auto;
      }

      &.pf-m-align-end#{$breakpoint-name} {
        margin-inline-start: auto;
      }

      &.pf-m-flex-grow#{$breakpoint-name} {
        flex-grow: 1;
      }

      @each $alignment in $pf-v6-c-toolbar--align-items--alignments {
        &.pf-m-align-self-#{$alignment}#{$breakpoint-name} {
          align-self: #{$alignment};
        }
      }
    }

    // - Toolbar - Toolbar content - Toolbar content section
    .#{$toolbar},
    .#{$toolbar}__content,
    .#{$toolbar}__content-section {
      // Inset modifiers
      @each $inset, $inset-value in $pf-v6-c-toolbar--inset-map {
        &.pf-m-inset-#{$inset}#{$breakpoint-name} {
          --#{$toolbar}__content--PaddingInline: #{$inset-value};
        }
      }
    }

    // - Toolbar group - Toolbar item - Toolbar content - Toolbar content section
    .#{$toolbar}__group,
    .#{$toolbar}__item,
    .#{$toolbar}__content,
    .#{$toolbar}__content-section {
      &.pf-m-wrap#{$breakpoint-name} {
        flex-wrap: wrap;
      }

      &.pf-m-nowrap#{$breakpoint-name} {
        flex-wrap: nowrap;
      }

      @each $alignment in $pf-v6-c-toolbar--align-items--alignments {
        &.pf-m-align-items-#{$alignment}#{$breakpoint-name} {
          align-items: #{$alignment};
        }
      }

      @each $gap, $gap-value in $pf-v6-c-toolbar--spacer-map {
        &.pf-m-gap-#{$gap}#{$breakpoint-name} {
          column-gap: #{$gap-value};
        }
      }

      // Row and column gap modifiers
      @each $spacer, $spacer-value in $pf-v6-c-toolbar--spacer-map {
        &.pf-m-column-gap-#{$spacer}#{$breakpoint-name} {
          column-gap: #{$spacer-value};
        }

        &.pf-m-row-gap-#{$spacer}#{$breakpoint-name} {
          column-gap: #{$spacer-value};
        }

        &.pf-m-margin-inline-start#{$spacer}#{$breakpoint-name} {
          margin-inline-start: #{$spacer-value};
        }

        &.pf-m-margin-inline-end#{$spacer}#{$breakpoint-name} {
          margin-inline-end: #{$spacer-value};
        }
      }
    }

    // - Toolbar toggle group
    .#{$toolbar}__group:where(.pf-m-toggle-group) {
      &.pf-m-show#{$breakpoint-name} {
        .#{$toolbar}__group,
        .#{$toolbar}__item {
          display: flex;
          flex: 0 1 auto;
        }

        .#{$toolbar}__toggle {
          display: none;
        }
      }

      &, // default value
      &.pf-m-hide#{$breakpoint-name} {
        .#{$toolbar}__group,
        .#{$toolbar}__item {
          display: none;
        }

        .#{$toolbar}__toggle {
          display: inline-block;
        }
      }
    }
  }
}
