<div class="pf-c-toolbar__action-group{{#if toolbar-action-group--modifier}} {{toolbar-action-group--modifier}}{{/if}}"
  {{#if toolbar-action-group--attribute}}
      {{{toolbar-action-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
