{{#> icon shouldMirrorRTL=true}}
  {{#> icon-content}}
    <span class="{{pfv}}toolbar__expand-all-icon{{#if toolbar-expand-all-icon--modifier}} {{toolbar-expand-all-icon--modifier}}{{/if}}"
      {{#if toolbar-expand-all-icon--attribute}}
        {{{toolbar-expand-all-icon--attribute}}}
      {{/if}}>
      {{pfIcon "rh-microns-caret-down"}}
    </span>
  {{/icon-content}}
{{/icon}}