<div class="pf-c-toolbar{{#if toolbar--modifier}} {{toolbar--modifier}}{{/if}}"
  {{#if toolbar--attribute}}
      {{{toolbar--attribute}}}
  {{/if}}
  {{#if toolbar--id}}
    id="{{{toolbar--id}}}"
  {{/if}}>
  {{> @partial-block}}
</div>
