<div class="pf-c-toolbar__filter{{#if toolbar-filter--modifier}} {{toolbar-filter--modifier}}{{/if}}"
  {{#if toolbar-filter--attribute}}
      {{{toolbar-filter--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
