<div class="{{pfv}}toolbar__group
  {{setModifiers
    toolbar-group--IsLabelGroupContainer='pf-m-label-group-container'
    toolbar-group--IsLabelGroup='pf-m-label-group'
    toolbar-group--modifier=toolbar-group--modifier
  }}"
  {{#if toolbar-group--attribute}}
    {{{toolbar-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
