<div class="pf-c-toolbar__expandable-content
  {{#if toolbar-expandable-content--IsExpanded}} pf-m-expanded{{/if}}
  {{#unless toolbar-expandable-content--IsExpanded}} pf-m-hidden{{/unless}}
  {{#if toolbar-expandable-content--modifier}} {{toolbar-expandable-content--modifier}}{{/if}}"
  id="{{toolbar--id}}{{#if toolbar-expandable-content--id}}{{toolbar-expandable-content--id}}{{/if}}-expandable-content"
  {{#if toolbar-expandable-content--attribute}}
    {{{toolbar-expandable-content--attribute}}}
  {{/if}}
  {{#unless toolbar-expandable-content--IsExpanded}}
    hidden
  {{/unless}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
