<div class="pf-c-input-group">
  {{#> button btnClass="pf-m-secondary"}} Button {{/button}}
  {{#> form-controls controlType="textarea" name="textarea" id="textarea1" aria-label="textarea example"}}
{{/form-controls}}
    {{#> button btnClass="pf-m-tertiary"}} Button {{/button}}
</div> 

<div class="pf-c-input-group">
{{#> dropdown id="dropdown-example-collapsed"}}Dropdown{{/dropdown}}
  {{#> form-controls controlType="input" input="true" type="text" id="textInput1" placeholder="Standard input example" aria-label="standard input example" }}
{{/form-controls}}
    {{#> button btnClass="pf-m-secondary"}} Button {{/button}}
</div>

<div class="pf-c-input-group">
  <input type="text">
    {{#> button btnClass="pf-m-secondary"}} Button {{/button}}
</div>

<div class="pf-c-input-group">
  {{#> button btnClass="pf-m-secondary"}} Button {{/button}}
  {{#> form-controls controlType="input" input="true" type="text" id="textInput1" placeholder="Standard input example" aria-label="standard input example" }}
{{/form-controls}}
    {{#> button btnClass="pf-m-secondary"}} Button {{/button}}
    {{#> button btnClass="pf-m-secondary"}} Button {{/button}}
</div>