<div class="pf-l-login {{#if login--modifier}} {{login--modifier}}{{/if}}"
  {{#if login--attribute}}
    {{{login--attribute}}}
  {{/if}}>
  <div class="pf-l-login__container">
    {{> @partial-block}}
  </div>
</div>