<div class="pf-l-login__header-brand {{#if login-header-brand--modifier}} {{login-header-brand--modifier}}{{/if}}"
  {{#if login-header-brand--attribute}}
    {{{login-header-brand--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
