@import "../../patternfly-utilities";

.pf-l-login {
  --pf-l-login--PaddingTop: var(--pf-global--spacer--lg);
  --pf-l-login--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-l-login__container--GridColumnGap: var(--pf-global--spacer--3xl);

  // This is a magic number to prevent the login layout grow more than what's defined in the specs.
  --pf-l-login__container--MaxWidth: #{pf-size-prem(500px)};
  --pf-l-login__container--PaddingLeft: #{pf-size-prem(98px)};
  --pf-l-login__container--PaddingRight: #{pf-size-prem(98px)};

  // These next 2 variables are full of magic numbers, they are unique to the login layout
  --pf-l-login__container--GridTemplateColumns: #{pf-size-prem(544px)} minmax(auto, #{pf-size-prem(544px)});
  --pf-l-login--BackgroundImage: linear-gradient(to right, var(--pf-global--BackgroundColor--dark-transparent-200), var(--pf-global--BackgroundColor--dark-transparent-200) calc((98px - var(--pf-l-login__container--GridColumnGap)) + var(--pf-l-login__container--GridColumnGap) + 272px), transparent calc((98px - var(--pf-l-login__container--GridColumnGap)) + var(--pf-l-login__container--GridColumnGap) + 272px));
  --pf-l-login__header--MarginBottom: var(--pf-global--spacer--md);
  --pf-l-login__header--sm--PaddingLeft: var(--pf-global--spacer--md);
  --pf-l-login__header--sm--PaddingRight: var(--pf-global--spacer--md);
  --pf-l-login__header--xl--MarginBottom: var(--pf-global--spacer--2xl);
  --pf-l-login__header--xl--MarginTop: var(--pf-global--spacer--3xl);
  --pf-l-login__header-brand--MarginBottom: var(--pf-global--spacer--lg);
  --pf-l-login__header-brand--xl--MarginBottom: var(--pf-global--spacer--2xl);
  --pf-l-login__main--MarginBottom: var(--pf-global--spacer--lg);
  --pf-l-login__footer--sm--PaddingLeft: var(--pf-global--spacer--md);
  --pf-l-login__footer--sm--PaddingRight: var(--pf-global--spacer--md);

  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: var(--pf-l-login--PaddingTop);
  padding-bottom: var(--pf-l-login--PaddingBottom);

  @media (min-width: $pf-global--breakpoint--xl) {
    justify-content: flex-start;
    background-image: var(--pf-l-login--BackgroundImage);
  }

  @media (min-width: $pf-global--breakpoint--sm) {
    align-items: center;
  }

  @extend %pf-t-dark;
}

.pf-l-login__container {
  max-width: var(--pf-l-login__container--MaxWidth);

  // Large viewports
  @media (min-width: $pf-global--breakpoint--xl) {
    display: grid;
    grid-column-gap: var(--pf-l-login__container--GridColumnGap);
    grid-template-columns: var(--pf-l-login__container--GridTemplateColumns);
    grid-template-areas:
      "main header"
      "main footer"
      "main .";
    max-width: none;
    padding-right: var(--pf-l-login__container--PaddingRight);
    padding-left: var(--pf-l-login__container--PaddingLeft);
  }
}

.pf-l-login__header {
  grid-area: header;
  margin-bottom: var(--pf-l-login__header--MarginBottom);

  @media (max-width: $pf-global--breakpoint--sm) {
    padding-right: var(--pf-l-login__header--sm--PaddingRight);
    padding-left: var(--pf-l-login__header--sm--PaddingLeft);
  }

  @media (min-width: $pf-global--breakpoint--xl) {
    margin-top: var(--pf-l-login__header--xl--MarginTop);
    margin-bottom: var(--pf-l-login__header--xl--MarginBottom);
  }
}

.pf-l-login__header-brand {
  margin-bottom: var(--pf-l-login__header-brand--MarginBottom);

  @media (min-width: $pf-global--breakpoint--xl) {
    margin-bottom: var(--pf-l-login__header-brand--xl--MarginBottom);
  }
}

.pf-l-login__main {
  grid-area: main;

  // This is not mobile first but avoids removing the margin for larger devices
  @media (max-width: $pf-global--breakpoint--xl) {
    margin-bottom: var(--pf-l-login__main--MarginBottom);
  }
}

.pf-l-login__footer {
  grid-area: footer;

  @media (max-width: $pf-global--breakpoint--sm) {
    padding-right: var(--pf-l-login__footer--sm--PaddingRight);
    padding-left: var(--pf-l-login__footer--sm--PaddingLeft);
  }
}
