.pf-l-stack {
  --pf-l-stack--m-gutter--Gap: var(--pf-global--gutter);

  display: flex;
  flex-direction: column;
  height: 100%;

  &.pf-m-gutter {
    gap: var(--pf-l-stack--m-gutter--Gap);
  }

  > .pf-m-fill {
    flex-grow: 1;
  }
}
