@import "../../patternfly-utilities";
:root {
  --pf-l-stack--m-gutter--MarginBottom: var(--pf-global--gutter);
}

.pf-l-stack {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__item.pf-m-primary {
    flex-grow: 1;
  }

  &.pf-m-gutter > *:not(:last-child) {
    margin-bottom: var(--pf-l-stack--m-gutter--MarginBottom);
  }
}
