@import "../../patternfly-utilities";
:root {
  --pf-l-stack--has-gutter--MarginBottom: var(--pf-global--gutter);
}

.pf-l-stack {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__item.pf-is-secondary {
    flex: 0 0 auto;
  }
  &__item.pf-is-primary {
    flex: 1 1 auto;
  }

  &.pf-has-gutter > *:not(:last-child) {
    margin-bottom: var(--pf-l-stack--has-gutter--MarginBottom);
  }

}
