{{#> login-upgrade-examples}}

<div class="login-pf pf-t-dark">

<div class="login-pf-page">
<div class="container-fluid">
  <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          <header class="login-pf-page-header">
            <img class="login-pf-brand" src="/assets/images/pf_logo_color.svg" style="max-width: 360px; width: 70%; margin-top: 22px;" alt="PatternFly logo">
            <p>
              This is placeholder text, only. Use this area to place any information or introductory message about your application that may be relevant for users.
            </p>
          </header>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="card-pf">
              <header class="login-pf-header">
                <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="English"><span class="filter-option pull-left">English</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">English</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">French</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Italian</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker" tabindex="-98">
                  <option>English</option>
                  <option>French</option>
                  <option>Italian</option>
                </select></div>
                <h1>Single Sign-On</h1>
                <p class="text-center">Log in to <strong>Application</strong></p>
              </header>
                <form>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Email address">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword1">Password
                    </label>
                    <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group login-pf-settings">
                        <label class="checkbox-label">
                          <input type="checkbox"> Keep me logged in for 30 days
                        </label>
                        <a href="#">Forgot password?</a>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block btn-lg">Log In</button>
                </form>
                <p class="login-pf-signup">Need an account?<a href="#">Sign up</a></p>
        </div><!-- card -->
        <footer class="login-pf-page-footer">
          <ul class="login-pf-page-footer-links list-unstyled">
            <li><a class="login-pf-page-footer-link" href="#">Terms of Use</a></li>
            <li><a class="login-pf-page-footer-link" href="#">Help</a></li>
            <li><a class="login-pf-page-footer-link" href="#">Privacy Policy</a></li>
          </ul>
        </footer>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- col -->
</div><!-- login-pf-page -->
</div><!--row-->
</div><!--container-->

</div>
  
{{/login-upgrade-examples}}
