{{#> title titleType="h2" title--modifier="pf-m-lg"}}
  Flex wrap
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-flex-wrap"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>
{{#> title titleType="h2" title--modifier="pf-m-lg"}}
  Flex no wrap
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-flex-nowrap"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>
{{#> title titleType="h2" title--modifier="pf-m-lg"}}
  Flex wrap reverse
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-flex-wrap-reverse"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>
