{{#> title titleType="h2" title--modifier="pf-m-lg pf-m-margin"}}
  Align items flex-start
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-align-items-flex-start Documentation-container-tall"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>

{{#> title titleType="h2" title--modifier="pf-m-lg pf-m-margin"}}
  Align items flex-end
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-align-items-flex-end Documentation-container-tall"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>

{{#> title titleType="h2" title--modifier="pf-m-lg pf-m-margin"}}
  Align items center
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-align-items-center Documentation-container-tall"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>

{{#> title titleType="h2" title--modifier="pf-m-lg pf-m-margin"}}
  Align items baseline
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-align-items-baseline Documentation-container-tall"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>

{{#> title titleType="h2" title--modifier="pf-m-lg pf-m-margin"}}
  Align items stretch
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-align-items-stretch Documentation-container-tall"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
