{{#> display display--type="flex"}}
  <div class="pf-u-flex-basis-0">
    Flex basis 0
  </div> 
  <div class="pf-u-flex-basis-auto">
    Flex basis auto
  </div> 
  <div class="pf-u-flex-none">
    Flex none
  </div> 
  <div class="pf-u-flex-1">
    Flex 1
  </div> 
{{/display}}
