{{#> display display--type="flex" display--modifier="Documentation-container-tall"}}
  <div class="pf-u-align-self-flex-start">
    flex-start
  </div>
  <div class="pf-u-align-self-center">
    center
  </div>
  <div class="pf-u-align-self-flex-end">
    flex end
  </div>
  <div class="pf-u-align-self-baseline">
    baseline
  </div>
  <div class="pf-u-align-self-stretch">
    stretch
  </div>
{{/display}}
