{{#> title titleType="h2" title--modifier="pf-m-lg"}}
  Flex row
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-flex-direction-row"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>
{{#> title titleType="h2" title--modifier="pf-m-lg"}}
  Flex row-reverse
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-flex-direction-row-reverse"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>
{{#> title titleType="h2" title--modifier="pf-m-lg"}}
  Flex column
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-flex-direction-column"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>
{{#> title titleType="h2" title--modifier="pf-m-lg"}}
  Flex column-reverse
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-flex-direction-column-reverse"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
