{{#> title titleType="h2" pf-c-title--Modifier="pf-m-lg pf-m-margin"}}
  Justify content flex-start
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-justify-content-flex-start"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>

{{#> title titleType="h2" pf-c-title--Modifier="pf-m-lg pf-m-margin"}}
  Justify content flex-end
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-justify-content-flex-end"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>

{{#> title titleType="h2" pf-c-title--Modifier="pf-m-lg pf-m-margin"}}
  Justify content center
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-justify-content-center"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
<br>

{{#> title titleType="h2" pf-c-title--Modifier="pf-m-lg pf-m-margin"}}
  Justify content space-around
{{/title}}
{{#> display display--type="flex" display--modifier="pf-u-justify-content-space-around"}}
  <div>
    Flex item 1
  </div>
  <div>
    Flex item 2
  </div>
  <div>
    Flex item 3
  </div>
{{/display}}
