<h2 class="example-title">
  Basic flex - <code>.pf-l-flex</code>
</h2>
{{#> flex}}
  {{#> example}}1{{/example}}
  {{#> example}}2{{/example}}
  {{#> example}}3{{/example}}
  {{#> example}}4{{/example}}
  {{#> example}}5{{/example}}
{{/flex}}

<h2 class="example-title">
  Flex with modified spacing - <code>.pf-l-flex.pf-m-space-items-xl</code>
</h2>
{{#> flex flex--modifier="pf-m-space-items-xl"}}
  {{#> example example--modifier="blue"}}1{{/example}}
  {{#> example example--modifier="blue"}}2{{/example}}
  {{#> example example--modifier="blue"}}3{{/example}}
  {{#> example example--modifier="blue"}}4{{/example}}
  {{#> example example--modifier="blue"}}5{{/example}}
{{/flex}}

<h2 class="example-title">
  Flex with modified spacing - <code>.pf-l-flex.pf-m-space-items-none</code>
</h2>
{{#> flex flex--modifier="pf-m-space-items-none"}}
  {{#> example example--modifier="hollow"}}1{{/example}}
  {{#> example example--modifier="hollow"}}2{{/example}}
  {{#> example example--modifier="hollow"}}3{{/example}}
  {{#> example example--modifier="hollow"}}4{{/example}}
  {{#> example example--modifier="hollow"}}5{{/example}}
{{/flex}}
