<section class="content-section">
  {{#> example-title}}Nested flex items{{/example-title}}
  {{#> flex flex--modifier="" example--label="Item spacing default" example--border="true"}}
    {{#> flex newcontext example--label-hover="Item spacing default" example--border="true"}}
      {{#> example example--attribute='title="something"'}}1{{/example}}
      {{#> example}}2{{/example}}
      {{#> example}}3{{/example}}
    {{/flex}}
    {{#> flex newcontext example--label-hover="Item spacing default" example--border="true"}}
      {{#> example example--modifier="blue"}}1{{/example}}
      {{#> example example--modifier="blue"}}2{{/example}}
      {{#> example example--modifier="blue"}}3{{/example}}
    {{/flex}}
    {{#> flex newcontext example--label-hover="Item spacing default" example--border="true"}}
      {{#> example example--modifier="red"}}1{{/example}}
      {{#> example example--modifier="red"}}2{{/example}}
      {{#> example example--modifier="red"}}3{{/example}}
    {{/flex}}
  {{/flex}}

  {{#> example-title}}Mixed nesting flex items{{/example-title}}
  {{#> flex flex--modifier="pf-m-space-items-xl" example--label="Item spacing xl" example--border="true"}}
    {{#> example example--attribute='title="block does not belong to a nested flex layout"'}}1{{/example}}
    {{#> example}}2{{/example}}
    {{#> example}}3{{/example}}
    {{#> flex newcontext example--label-hover="Item spacing default" example--border="true"}}
      {{#> example example--modifier="blue"}}1{{/example}}
      {{#> example example--modifier="blue"}}2{{/example}}
      {{#> example example--modifier="blue"}}3{{/example}}
    {{/flex}}
    {{#> example example--modifier="red"}}1{{/example}}
    {{#> example example--modifier="red"}}2{{/example}}
    {{#> example example--modifier="red"}}3{{/example}}
  {{/flex}}

  {{#> example-title}}Mixed nesting flex items{{/example-title}}
  {{#> flex example--label="Item spacing default" example--border="true"}}
    {{#> example}}1{{/example}}
    {{#> flex newcontext example--border="true"}}
      {{#> flex newcontext example--label-hover="Item spacing default" example--border="true"}}
        {{#> example example--modifier="yellow"}}1{{/example}}
        {{#> example example--modifier="yellow"}}2{{/example}}
      {{/flex}}
      {{#> flex newcontext example--label-hover="Item spacing default" example--border="true"}}
        {{#> example example--modifier="yellow"}}1{{/example}}
        {{#> example example--modifier="yellow"}}2{{/example}}
      {{/flex}}
      {{#> example}}3{{/example}}
    {{/flex}}
    {{#> flex newcontext example--border="true" example--label-hover="Item spacing default"}}
      {{#> example example--modifier="blue"}}1{{/example}}
      {{#> example example--modifier="blue"}}2{{/example}}
      {{#> example example--modifier="blue"}}3{{/example}}
    {{/flex}}
    {{#> example example--modifier="red"}}1{{/example}}
    {{#> example example--modifier="red"}}2{{/example}}
    {{#> example example--modifier="red"}}3{{/example}}
  {{/flex}}

  {{#> example-title}}Inception grouping{{/example-title}}
  {{#> flex}}
    {{#> example}}1{{/example}}
    {{#> flex}}
      {{#> flex}}
        {{#> example example--modifier="yellow"}}1{{/example}}
        {{#> example example--modifier="yellow"}}2{{/example}}
        {{#> flex}}
          {{#> example example--modifier="red"}}1{{/example}}
          {{#> example example--modifier="red"}}2{{/example}}
        {{/flex}}
      {{/flex}}
      {{#> flex}}
        {{#> example example--modifier="blue"}}1{{/example}}
        {{#> example example--modifier="blue"}}2{{/example}}
      {{/flex}}
      {{#> example}}3{{/example}}
    {{/flex}}
    {{#> flex}}
      {{#> example example--modifier="blue"}}1{{/example}}
    {{/flex}}
  {{/flex}}
</section>
