<h2 class="example-title">
  Basic flex - <code>.pf-l-flex</code>.
</h2>
{{#> l-flex}}
  {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
{{/l-flex}}

<h2 class="example-title">
  Flex nesting - <code>.pf-l-flex > .pf-l-flex</code>.
</h2>
{{#> l-flex}}
  {{#> l-flex l-flex--modifier="example-border"}}
    {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
    {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{/l-flex}}
  {{#> l-flex l-flex--modifier="example-border"}}
    {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
    {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
    {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{/l-flex}}
{{/l-flex}}

<h2 class="example-title">
  Nested flex and items.
</h2>
{{#> l-flex}}
  {{#> l-flex l-flex--modifier="example-border"}}
    {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
    {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{/l-flex}}
  {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{#> l-flex l-flex--modifier="example-border"}}
    {{#> example-text example-text--modifier="example-border"}}Flex item{{/example-text}}
  {{/l-flex}}
{{/l-flex}}
