<h2 class="example-title">
  Column flex - <code>.pf-l-flex.pf-m-column</code>
</h2>
{{#> flex flex--modifier="pf-m-column"}}
  {{#> flex newcontext flex--modifier="example-border pf-m-space-items-xs"}}
    {{#> example}}1{{/example}}
    {{#> example}}2{{/example}}
  {{/flex}}
  {{#> flex newcontext flex--modifier="example-border"}}
    {{#> example example--modifier="blue"}}1{{/example}}
    {{#> example example--modifier="blue"}}2{{/example}}
    {{#> flex newcontext flex--modifier="example-border pf-m-space-items-none"}}
      {{#> example example--modifier="blue"}}1{{/example}}
      {{#> example example--modifier="blue"}}2{{/example}}
    {{/flex}}
    {{#> example example--modifier="blue"}}3{{/example}}
  {{/flex}}
  {{#> flex newcontext flex--modifier="example-border pf-m-space-items-3xl"}}
    {{#> example example--modifier="red"}}1{{/example}}
    {{#> example example--modifier="red"}}2{{/example}}
    {{#> example example--modifier="red"}}3{{/example}}
    {{#> example example--modifier="red"}}4{{/example}}
    {{#> example example--modifier="red"}}5{{/example}}
  {{/flex}}
{{/flex}}
