<section class="content-section">
  <h2 class="section-title">
    Individually spaced items
  </h2>
  {{#> flex}}
    {{#> example-block example-block--modifier="pf-m-spacer-xs"}}xs{{/example-block}}
    {{#> example-block example-block--modifier="pf-m-spacer-sm"}}sm{{/example-block}}
    {{#> example-block example-block--modifier="pf-m-spacer-md"}}md{{/example-block}}
    {{#> example-block example-block--modifier="pf-m-spacer-lg"}}lg{{/example-block}}
    {{#> example-block example-block--modifier="pf-m-spacer-xl"}}xl{{/example-block}}
    {{#> example-block example-block--modifier="pf-m-spacer-2xl"}}2xl{{/example-block}}
  {{/flex}}
</section>
