[id*="ws-core-c-divider-vertical"],
[id*="ws-core-c-divider-horizontal"] .ws-preview-html {
  align-items: center;
}

<<<<<<< HEAD
[id*="ws-core-c-divider-vertical"],
#ws-core-c-divider-horizontal-on-lg {
  height: 4rem;
}

[id*="ws-core-c-divider"] .ws-preview-html {
  height: 100%;
}
=======
[id*="ws-core-c-divider-horizontal"] .ws-preview-html {
  height: 3rem;
  align-items: center;
}
>>>>>>> feat(divider): add horizontal variant
