<div class="pf-u-text-align-left">
  Text left
</div>
<div class="pf-u-text-align-center">
  Text center
</div>
<div class="pf-u-text-align-right">
  Text left
</div>
<div class="pf-u-text-align-justify">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris.
</div>
