<div class="demo">
{{#> table table--grid="true" table--attribute='aria-label="This is an expandable table example"'}}
  {{#> table-thead}}
    {{#> table-tr}}
      {{#> table-th}}
        <input class="pf-c-check" type="checkbox" name="check all rows" aria-label="check rows">
      {{/table-th}}    
      {{#> table-th table-th--sortable="true" table-th--asc="true" table-th--modifier="pf-m-width-max"}}
        Repositories
      {{/table-th}}
      {{#> table-th table-th--sortable="true"}}
        Branches
      {{/table-th}} 
      {{#> table-th table-th--sortable="true"}}
        Pull requests
      {{/table-th}} 
      {{#> table-th}}
        Workspaces
      {{/table-th}} 
      {{#> table-th}}
        Last Commit
      {{/table-th}} 
    {{/table-tr}}
  {{/table-thead}}

  {{#> table-tbody}}
    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        {{#> check pf-c-check-type="checkbox" name="check row 2" aria-label="checkbox 2"}}
        {{/check}}
      {{/table-td}}      
      {{#> table-td table-td--data-label="Repository Name"}}
        <div>Node 1</div>
        <a href="#">siemur/test-space</a>
      {{/table-td}}
      {{#> table-td table-td--data-label="Branches"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code-branch fa-fw"></i> 
          <span>10</span>
        </span>
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code fa-fw"></i> 
          <span>25</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Workspaces"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-dolly fa-fw"></i>
          <span>5</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Last Commit"}}
        2 days ago
      {{/table-td}}
    {{/table-tr}}  

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        {{#> check pf-c-check-type="checkbox" name="check row 3" aria-label="checkbox 3"}}
        {{/check}}
      {{/table-td}}      
      {{#> table-td table-td--data-label="Repository Name"}}
        <div>Node 1</div>
        <a href="#">siemur/test-space</a>
      {{/table-td}}
      {{#> table-td table-td--data-label="Branches"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code-branch fa-fw"></i> 
          <span>10</span>
        </span>
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code fa-fw"></i> 
          <span>25</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Workspaces"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-dolly fa-fw"></i>
          <span>5</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Last Commit"}}
        2 days ago
      {{/table-td}}  
    {{/table-tr}}
    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        {{#> check pf-c-check-type="checkbox" name="check row 4" aria-label="checkbox 4"}}
        {{/check}}
      {{/table-td}}      
      {{#> table-td table-td--data-label="Repository Name"}}
        <div>Node 1</div>
        <a href="#">siemur/test-space</a>
      {{/table-td}}
      {{#> table-td table-td--data-label="Branches"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code-branch fa-fw"></i> 
          <span>10</span>
        </span>
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code fa-fw"></i> 
          <span>25</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Workspaces"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-dolly fa-fw"></i>
          <span>5</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Last Commit"}}
        2 days ago
      {{/table-td}}  
    {{/table-tr}}
  {{/table-tbody}}
{{/table}}
</div>
