{{#> table table--grid="true" table--modifier="pf-u-box-shadow-md pf-m-grid-md" table--expandable="true" table--attribute='aria-label="Expandable table example"'}}
  {{#> table-thead}}
    {{#> table-tr}}
      {{#> table-th table-th--attribute='scope="col"' table-th--sortable="true" table-th--modifier="pf-m-width-30"}}
        Repositories
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Branches
      {{/table-th}} 
      {{#> table-th table-th--attribute='scope="col"'}}
        Pull requests
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
       Work Spaces
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
       Last Commit
      {{/table-th}}
      {{#> table-td}}{{/table-td}} 
      {{#> table-td}}{{/table-td}} 
    {{/table-tr}}
  {{/table-thead}}

  {{#> table-tbody table-tbody--modifier="pf-m-expandbody"}}
    {{#> table-tr table-tr--expanded="true"}}    
      {{#> table-th table-th--data-label="Repository Name"}}
        {{#> button button--modifier="pf-m-link"}}
            siemur/test-space
        {{/button}}
      {{/table-th}}
      {{#> table-td table-td--modifier="pf-m-expandlink" table-td--data-label="Branches"}} 
        {{#> button button--modifier="pf-m-link" button--HasCodeBranchIcon="true"}}
            10
        {{/button}}
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        {{#> button button--modifier="pf-m-link" button--HasCodeIcon="true"}}
            4
        {{/button}}
      {{/table-td}}  
      {{#> table-td table-td--data-label="Work Spaces"}}
        {{#> button button--modifier="pf-m-link" button--HasCubeIcon="true"}}
            4
        {{/button}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last Commit"}}
        <span>20 minutes</span>
      {{/table-td}}
    {{#> table-td table-td--data-label="Action"}}
        {{#> button button--modifier="pf-m-link"}}
            Open in Github
        {{/button}}
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action1" aria-label="Actions"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr table-tr--expandable="true"}}
      {{#> table-td table-td--modifier="pf-m-nested" table-td--attribute='colspan="7"'}}
        {{#> table newcontext table--modifier="pf-m-grid-md pf-m-nestedtable pf-m-compact pf-u-box-shadow-md-bottom" table--grid="true"}}
          {{#> table-thead}}
            {{#> table-tr}}
              {{#> table-th table-th--attribute='scope="col"' table-th--sortable="true"}}Description{{/table-th}} 
              {{#> table-th table-th--attribute='scope="col"'}}Date{{/table-th}}
              {{#> table-th table-th--attribute='scope="col"'}}Status{{/table-th}}
              {{#> table-th table-th--attribute='scope="col"'}}{{/table-th}}
            {{/table-tr}}
          {{/table-thead}}
          {{#> table-tbody}}
            {{#> table-tr}}
              {{#> table-th table-th--attribute='scope="row"' table-th--data-label="Description"}}Item One{{/table-th}}  
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Date"}}May 9, 2018{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Status"}}Active{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--action="true"}}
                {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action2" aria-label="Actions"'}}
                  <i class="fas fa-ellipsis-v"></i>
                {{/button}}
              {{/table-td}}
            {{/table-tr}}
            {{#> table-tr}}
              {{#> table-th table-th--attribute='scope="row"' table-th--data-label="Description"}}Item Two{{/table-th}}  
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Date"}}May 9, 2018{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Status"}}Warning{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--action="true"}}
                {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action3" aria-label="Actions"'}}
                  <i class="fas fa-ellipsis-v"></i>
                {{/button}}
              {{/table-td}}
            {{/table-tr}}
            {{#> table-tr}}
              {{#> table-th table-th--attribute='scope="row"' table-th--data-label="Description"}}Item Three{{/table-th}}  
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Date"}}May 9, 2018{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Status"}}Active{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--action="true"}}
                {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action4" aria-label="Actions"'}}
                  <i class="fas fa-ellipsis-v"></i>
                {{/button}}
              {{/table-td}}
            {{/table-tr}}
            {{#> table-tr}}
              {{#> table-th table-th--attribute='scope="row"' table-th--data-label="Description"}}Item Four{{/table-th}}  
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Date"}}May 9, 2018{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Status"}}Active{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--action="true"}}
                {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action5" aria-label="Actions"'}}
                  <i class="fas fa-ellipsis-v"></i>
                {{/button}}
              {{/table-td}}
            {{/table-tr}}
            {{#> table-tr}}
              {{#> table-th table-th--attribute='scope="row"' table-th--data-label="Description"}}Item Five{{/table-th}}  
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Date"}}May 9, 2018{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--data-label="Status"}}Active{{/table-td}}
              {{#> table-td table-td--attribute='colspan="1"' table-td--action="true"}}
                {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action6" aria-label="Actions"'}}
                  <i class="fas fa-ellipsis-v"></i>
                {{/button}}
              {{/table-td}}
            {{/table-tr}}
          {{/table-tbody}}
        {{/table}}
      {{/table-td}}
    {{/table-tr}}         
  {{/table-tbody}}

  {{#> table-tbody}}
    {{#> table-tr table-tr--expanded="true"}}    
      {{#> table-th table-th--data-label="Repository Name"}}
        {{#> button button--modifier="pf-m-link"}}
            siemur/test-space
        {{/button}}
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}} 
        {{#> button button--modifier="pf-m-link" button--HasCodeBranchIcon="true"}}
            3
        {{/button}}
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        {{#> button button--modifier="pf-m-link" button--HasCodeIcon="true"}}
            4
        {{/button}}
      {{/table-td}}  
      {{#> table-td table-td--data-label="Work Spaces"}}
        {{#> button button--modifier="pf-m-link" button--HasCubeIcon="true"}}
            2
        {{/button}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last Commit"}}
        <span>1 day ago</span>
      {{/table-td}}
    {{#> table-td table-td--data-label="Action"}}
        {{#> button button--modifier="pf-m-link"}}
            Open in Github
        {{/button}}
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action7" aria-label="Actions"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}
  {{/table-tbody}}

    {{#> table-tbody}}
    {{#> table-tr table-tr--expanded="true"}}    
      {{#> table-th table-th--data-label="Repository Name"}}
        {{#> button button--modifier="pf-m-link"}}
            siemur/test-space
        {{/button}}
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}} 
        {{#> button button--modifier="pf-m-link" button--HasCodeBranchIcon="true"}}
            70
        {{/button}}
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        {{#> button button--modifier="pf-m-link" button--HasCodeIcon="true"}}
            15
        {{/button}}
      {{/table-td}}  
      {{#> table-td table-td--data-label="Work Spaces"}}
        {{#> button button--modifier="pf-m-link" button--HasCubeIcon="true"}}
            12
        {{/button}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last Commit"}}
        <span>2 days ago</span>
      {{/table-td}}
    {{#> table-td table-td--data-label="Action"}}
        {{#> button button--modifier="pf-m-link"}}
            Open in Github
        {{/button}}
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action8" aria-label="Actions"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}
  {{/table-tbody}}
      {{#> table-tbody}}
    {{#> table-tr table-tr--expanded="true"}}    
      {{#> table-th table-th--data-label="Repository Name"}}
        {{#> button button--modifier="pf-m-link"}}
            siemur/test-space
        {{/button}}
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}} 
        {{#> button button--modifier="pf-m-link" button--HasCodeBranchIcon="true"}}
            22
        {{/button}}
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        {{#> button button--modifier="pf-m-link" button--HasCodeIcon="true"}}
            4
        {{/button}}
      {{/table-td}}  
      {{#> table-td table-td--data-label="Work Spaces"}}
        {{#> button button--modifier="pf-m-link" button--HasCubeIcon="true"}}
            23
        {{/button}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last Commit"}}
        <span>20 minutes</span>
      {{/table-td}}
    {{#> table-td table-td--data-label="Action"}}
        {{#> button button--modifier="pf-m-link"}}
            Open in Github
        {{/button}}
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> button button--modifier="pf-m-plain" button--attribute='id="example1action9" aria-label="Actions"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}
  {{/table-tbody}}
{{/table}}