{{!-- {{#> table table--modifier="pf-u-box-shadow-md" table--interactive="true" table--expandable="true" table--attribute='id="responsive-table" aria-label="Expandable table example"'}} --}}
{{#> table table--modifier="pf-u-box-shadow-md pf-m-grid-lg" table--expandable="true" table--attribute='aria-label="Expandable table example"'}}
  {{!-- {{#> table-thead table-thead--interactive="true"}} --}}
  {{#> table-thead}}
    {{#> table-th table-th--attribute='aria-label="Toggle row column"'}}{{/table-th}}    
    {{#> table-th table-th--check="true" table-th--attribute='aria-label="Select row column"'}}
      {{#> check-input check-input--attribute='type="checkbox" name="check-all" aria-label="Select all rows"'}}{{/check-input}}
    {{/table-th}}  
    {{#> table-th table-th--sortable="true" table-th--modifier="pf-m-width-30" table-th--asc="true"}}
      Repositories
    {{/table-th}}
    {{#> table-th}}
      Branches
    {{/table-th}} 
    {{#> table-th}}
      Pull requests
    {{/table-th}} 
    {{#> table-th table-th--attribute='aria-label="Link column"'}}{{/table-th}} 
    {{#> table-th table-th--attribute='aria-label="Overflow action column"'}}{{/table-th}} 
  {{/table-thead}}

  {{#> table-tbody}}
    {{#> table-tr table-tr--expanded="true"}}
      {{#> table-td table-td--toggle="true" table-td--button-attribute='aria-labelledby="node1 toggle1" id="toggle1" aria-label="Details" aria-expanded="true"'}}{{/table-td}}
      {{#> table-td table-td--check="true" table-td--attribute='aria-labelledby="node1"'}}
        {{#> check-input check-input--attribute='type="checkbox" name="checkrow1" aria-label="Select row"'}}{{/check-input}}
      {{/table-td}}     
      {{#> table-th table-th--attribute='id="node1"' table-th--data-label="Repository Name"}}
        Node 1
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        10
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        25
      {{/table-td}}  
      {{#> table-td table-td--data-label="Action"}}
        <a href="#">Link 1</a>
      {{/table-td}}
      {{#> table-td table-td--action="true" table-td--attribute='aria-labelledby="node1"'}}
        {{#> button btnClass="pf-m-plain" btnAttributes='aria-label="Overflow menu"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr table-tr--expandable="true" table-tr--modifier="pf-m-expanded"}}
      {{#> table-td table-th--attribute='aria-label="Expand row column"'}}
      {{/table-td}}  
      {{#> table-td table-th--attribute='aria-label="Check row column"'}}
      {{/table-td}}
      {{#> table-td table-td--attribute='colspan="4" aria-label="This is the expandable content section"'}}
        <div class="pf-c-table__expandable-row-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      {{/table-td}}
      {{#> table-td}}
      {{/table-td}} 
    {{/table-tr}}         
  {{/table-tbody}}

  {{#> table-tbody}}
    {{#> table-tr}}
      {{#> table-td table-td--toggle="true" table-td--button-attribute='aria-labelledby="node2 toggle2" id="toggle2" aria-label="Details" aria-expanded="true"'}}{{/table-td}}
      {{#> table-td table-td--check="true" table-td--attribute='aria-labelledby="node1"'}}
        {{#> check-input check-input--attribute='type="checkbox" name="checkrow1" aria-label="Select row"'}}{{/check-input}}
      {{/table-td}}     
      {{#> table-th table-th--attribute='id="node2"' table-th--data-label="Repository Name"}}
        <div>Node 2</div>
        <a href="#">siemur/test-space</a>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        10
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        25
      {{/table-td}}  
      {{#> table-td table-td--data-label="Action"}}
        <a href="#">Link 2</a>
      {{/table-td}}
      {{#> table-td table-td--action="true" table-td--attribute='aria-labelledby="node2"'}}
        {{#> button btnClass="pf-m-plain" btnAttributes='aria-label="Overflow menu"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr table-tr--expandable="true"}}
      {{#> table-td}}
      {{/table-td}}  
      {{#> table-td}}
      {{/table-td}}
      {{#> table-td table-td--attribute='colspan="4" aria-label="This is the expandable content section"'}}
        <div class="pf-c-table__expandable-row-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      {{/table-td}}
      {{#> table-td}}
      {{/table-td}}
    {{/table-tr}}
  {{/table-tbody}}
{{/table}}
