{{!-- ignore this for now --}}
{{!-- <div class="demo">
{{#> table table--attributes='aria-label="This is a simple table" role="grid"'}}
  {{#> table-thead}}
    {{#> table-tr}}
      {{#> table-th table-th--modifier="pf-m-narrow pf-m-expand"}}
        <div class="pf-u-sr-only">Expand row</div>
      {{/table-th}}    
      {{#> table-th table-th--modifier="pf-m-narrow pf-m-check"}}
        {{#> check pf-c-check-type="checkbox" name="unselected checkbox example" aria-label="Check all rows"}}
        {{/check}}
      {{/table-th}}    
      {{#> table-th table-th--sortable="true" table-th--modifier="pf-m-active"}}
        Repositories
      {{/table-th}} 
      {{#> table-th}}
        Branches
      {{/table-th}} 
      {{#> table-th}}
        Pull requests
      {{/table-th}} 
      {{#> table-th}}
        Comments
      {{/table-th}} 
      {{#> table-th table-th--modifier="pf-m-narrow pf-m-action"}}        
      {{/table-th}} 
    {{/table-tr}}    
  {{/table-thead}}
  {{#> table-tbody}}
    {{#> table-tr}}
      {{#> table-td table-td--modifier="pf-m-narrow pf-m-expand"}}
        <i class="fas fa-chevron-right"></i>      
      {{/table-td}}      
      {{#> table-td table-td--modifier="pf-m-narrow pf-m-check"}}
        {{#> check pf-c-check-type="checkbox" name="unselected checkbox example"}}
        {{/check}}
      {{/table-td}}      
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Repository Name</div>
        <div class="pf-c-table__value">
          <div>Node 1</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-td}}      
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Branch name</div>
        <div class="pf-c-table__value">Really neat branch</div>
      {{/table-td}}      
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Pull requests</div>
        <div class="pf-c-table__value">23</div>
      {{/table-td}}      
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Comments</div>
        <div class="pf-c-table__value">12</div>
      {{/table-td}}      
      {{#> table-td table-td--modifier="pf-m-narrow pf-m-action"}}
        {{#> button btnClass="pf-m-action" btnAttributes='aria-label="Overflow menu"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}      
    {{/table-tr}}
    {{#> table-tr table-tr--expandable="true"}}
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Branch name</div>
        <div class="pf-c-table__value">Really neat branch</div>
      {{/table-td}}      
    {{/table-tr}}    
  {{/table-tbody}}
  {{#> table-tbody}}
    {{#> table-tr}}
      {{#> table-td table-td--modifier="pf-m-narrow pf-m-expand"}}
        <i class="fas fa-chevron-right"></i>      
      {{/table-td}}      
      {{#> table-td table-td--modifier="pf-m-narrow pf-m-check"}}
        {{#> check pf-c-check-type="checkbox" name="unselected checkbox example"}}
        {{/check}}
      {{/table-td}}      
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Repository Name</div>
        <div class="pf-c-table__value">
          <div>Node 1</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-td}}      
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Branch name</div>
        <div class="pf-c-table__value">Really neat branch</div>
      {{/table-td}}      
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Pull requests</div>
        <div class="pf-c-table__value">23</div>
      {{/table-td}}      
      {{#> table-td}}
        <div class="pf-c-table__key" tabindex="-1">Comments</div>
        <div class="pf-c-table__value">12</div>
      {{/table-td}}      
      {{#> table-td table-td--modifier="pf-m-narrow pf-m-action"}}
        {{#> button btnClass="pf-m-action" btnAttributes='aria-label="Overflow menu"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}      
    {{/table-tr}}  
  {{/table-tbody}}
{{/table}}
</div> --}}