<div class="demo">
{{#> table table--attribute='id="expandable-simple" aria-label="This is a simple table example"'}}
  {{#> table-caption}}
  {{/table-caption}}
  {{#> table-thead table-thead--interactive="true"}}
    {{#> table-tr}}
      {{#> table-th table-th--sortable="true" table-th--asc="true"}}
        Repositories
      {{/table-th}}
      {{#> table-th table-th--sortable="true"}}
        Branches
      {{/table-th}} 
      {{#> table-th table-th--sortable="true"}}
        Pull requests
      {{/table-th}} 
      {{#> table-th}}
        Workspaces
      {{/table-th}} 
      {{#> table-th table-th--modifier="pf-m-fit-content"}}
        Last Commit
      {{/table-th}} 
      {{#> table-th table-th--blank="true"}}
      {{/table-th}} 
      {{#> table-th table-th--blank="true"}}
      {{/table-th}} 
    {{/table-tr}}
  {{/table-thead}}

  {{#> table-tbody}}
    {{#> table-tr}}
      {{#> table-td table-td--data-label="Repository Name"}}
        Repository 1
      {{/table-td}}
      {{#> table-td table-td--data-label="Branches"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code-branch fa-fw"></i> 
          <span>10</span>
        </span>
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code fa-fw"></i> 
          <span>25</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Workspaces"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-dolly fa-fw"></i>
          <span>5</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Last Commit"}}
        2 days ago
      {{/table-td}}  
      {{#> table-td table-td--data-label="Action" table-td--modifier="pf-m-fit-content"}}
        <a href="#">
          Open in GitHub
        </a>
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> button btnClass="pf-m-plain" btnAttributes='aria-label="Overflow menu"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}    

    {{#> table-tr}}
      {{#> table-td table-td--data-label="Repository Name"}}
        Repository 2
      {{/table-td}}
      {{#> table-td table-td--data-label="Branches"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code-branch fa-fw"></i> 
          <span>10</span>
        </span>
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code fa-fw"></i> 
          <span>25</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Workspaces"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-dolly fa-fw"></i>
          <span>5</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Last Commit"}}
        2 days ago
      {{/table-td}}  
      {{#> table-td table-td--data-label="Action" table-td--modifier="pf-m-fit-content"}}
        <a href="#">
          Open in GitHub
        </a>
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> button btnClass="pf-m-plain" btnAttributes='aria-label="Overflow menu"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--data-label="Repository Name"}}
        Repository 3
      {{/table-td}}
      {{#> table-td table-td--data-label="Branches"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code-branch fa-fw"></i> 
          <span>10</span>
        </span>
      {{/table-td}}      
      {{#> table-td table-td--data-label="Pull Requests"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-code fa-fw"></i> 
          <span>25</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Workspaces"}}
        <span class="pf-c-table__icon-inline">
          <i class="fas fa-dolly fa-fw"></i>
          <span>5</span>
        </span>
      {{/table-td}}  
      {{#> table-td table-td--data-label="Last Commit"}}
        2 days ago
      {{/table-td}}  
      {{#> table-td table-td--data-label="Action" table-td--modifier="pf-m-fit-content"}}
        <a href="#">
          Open in GitHub
        </a>
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> button btnClass="pf-m-plain" btnAttributes='aria-label="Overflow menu"'}}
          <i class="fas fa-ellipsis-v"></i>
        {{/button}}
      {{/table-td}}
    {{/table-tr}}
  {{/table-tbody}}
{{/table}}
</div>
