#ws-core-c-data-toolbar-toggle-group-on-mobile-filters-collapsed-expandable-content-expanded {
  min-height: 10rem;
}

#ws-core-c-data-toolbar-expanded-elements {
  min-height: 13.5rem;
}

#ws-core-c-data-toolbar-stacked-on-mobile-filters-collapsed-expandable-content-expanded {
  min-height: 14rem;
}

#ws-core-c-data-toolbar-selected-filters-on-mobile-filters-collapsed-expandable-content-expanded {
  min-height: 22rem;
}

#ws-core-c-data-toolbar-simple .pf-c-data-toolbar__item:not(.pf-m-separator),
#ws-core-c-data-toolbar-adjusted-spacers .pf-c-data-toolbar__item:not(.pf-m-separator),
#ws-core-c-data-toolbar-adjusted-group-spacers .pf-c-data-toolbar__item:not(.pf-m-separator) {
  border: 2px dashed #393f44;
}

#ws-core-c-data-toolbar-simple .pf-c-data-toolbar__group .pf-c-data-toolbar__item {
  border: none;
}

#ws-core-c-data-toolbar-simple .pf-c-data-toolbar__item:not(.pf-m-separator),
#ws-core-c-data-toolbar-adjusted-spacers .pf-c-data-toolbar__item:not(.pf-m-separator),
#ws-core-c-data-toolbar-adjusted-group-spacers .pf-c-data-toolbar__item:not(.pf-m-separator) {
  padding: .5rem;
}

#data-toolbar-simple-example .pf-c-data-toolbar__item:not(.pf-m-separator) {
  border: 2px dashed #393f44;
  padding: .5rem;
}

body div.ws-lite-example {
  padding: 0;
}