#ws-core-e-datatoolbar-toggle-group-responsive {
  min-height: 400px;
}

#ws-core-e-datatoolbar-selected-filters {
  min-height: 564px;
}

#ws-core-e-datatoolbar-expanded-elements-responsive {
  min-height: 580px;
}

#ws-core-e-datatoolbar-simple .pf-c-data-toolbar__content,
#ws-core-e-datatoolbar-simple .pf-c-data-toolbar__item:not(.pf-m-separator),
#ws-core-e-datatoolbar-adjusted-spacers .pf-c-data-toolbar__content,
#ws-core-e-datatoolbar-adjusted-spacers .pf-c-data-toolbar__item:not(.pf-m-separator),
#ws-core-e-datatoolbar-adjusted-group-spacers .pf-c-data-toolbar__content,
#ws-core-e-datatoolbar-adjusted-group-spacers .pf-c-data-toolbar__item:not(.pf-m-separator) {
  padding: .5rem;
  border: 2px dashed #393f44;
}
