<p class="pf-c-mega-menu__description{{#if mega-menu-description--modifier}} {{mega-menu-description--modifier}}{{/if}}"
  {{#if mega-menu-description--attribute}}
    {{{mega-menu-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
