<div class="pf-c-mega-menu__menu{{#if mega-menu-menu--modifier}} {{mega-menu-menu--modifier}}{{/if}}"
  {{#if mega-menu-menu--attribute}}
    {{{mega-menu-menu--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
