<div class="pf-c-mega-menu{{#if mega-menu--IsExpanded}} pf-m-expanded{{/if}}{{#if mega-menu--modifier}} {{mega-menu--modifier}}{{/if}}"
  {{#if mega-menu--attribute}}
    {{{mega-menu--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
