<div class="pf-c-mega-menu__header{{#if mega-menu-header--modifier}} {{mega-menu-header--modifier}}{{/if}}"
  {{#if mega-menu-header--attribute}}
    {{{mega-menu-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
