<div class="pf-c-mega-menu__title{{#if mega-menu-title--modifier}} {{mega-menu-title--modifier}}{{/if}}"
  {{#if mega-menu-title--attribute}}
    {{{mega-menu-title--attribute}}}
  {{/if}}>
	{{> @partial-block}}
</div>
