@import "../../patternfly-utilities";

// Form demo
.pf-d-simple-form-demo {
  // Base
  --pf-d-simple-form-demo--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-d-simple-form-demo--Color: var(--pf-global--Color--dark-100);
  --pf-d-simple-form-demo--PaddingRight: var(--pf-global--spacer--lg);
  --pf-d-simple-form-demo--PaddingLeft: var(--pf-global--spacer--lg);

  // Example element variable
  --pf-d-simple-form-demo__title--FontSize: var(--pf-global--FontSize--2xl);

  // Example modifier variable
  --pf-d-simple-form-demo--m-danger--BackgroundColor: var(--pf-global--danger-color);

  padding-right: var(--pf-d-simple-form-demo--PaddingRight);
  padding-left: var(--pf-d-simple-form-demo--PaddingLeft);
  color: var(--pf-d-simple-form-demo--Color);
  background-color: var(--pf-d-simple-form-demo--BackgroundColor);

  .pf-c-form__fieldset + .pf-c-form__fieldset,
  .pf-c-form__group + .pf-c-form__group {
    margin-top: 0;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
}
