<div>
  <div>
    <p id='{{data-list--id}}-item4'>patternfly-next</p> 
    <small>Working repo for Patternfly4 <a href="">https://pf-next.com/</a></small>
  </div>
  <div class="pf-l-flex pf-m-wrap">
    <div>
      <i class="fas fa-code-branch" aria-hidden="true"></i>
      10
    </div>
    <div>
      <i class="fas fa-code" aria-hidden="true"></i>
      4
    </div>
    <div>
      <i class="fas fa-cube" aria-hidden="true"></i>
      5
    </div>
    <div>
      Updated 2 days ago
    </div>
  </div>
</div>
