{{#> l-flex l-flex--modifier="pf-m-column pf-m-space-items-md"}}
  {{#> l-flex l-flex--modifier="pf-m-column pf-m-space-items-none"}}
    {{#> l-flex-item}}
      <p id='{{data-list--id}}-{{data-list-item--id}}'>patternfly-elements</p>
    {{/l-flex-item}}
    {{#> l-flex-item}}
      <small>PatternFly elements</small>
    {{/l-flex-item}}
  {{/l-flex}}
  {{#> l-flex l-flex--modifier="pf-m-wrap"}}
    {{> data-list--icon-text data-list--icon-text--icon="code-branch" data-list--icon-text--text="5"}}
    {{> data-list--icon-text data-list--icon-text--icon="code" data-list--icon-text--text="9" data-list--icon-text--screenreader-text="Code blocks"}}
    {{> data-list--icon-text data-list--icon-text--icon="cube" data-list--icon-text--text="2" data-list--icon-text--screenreader-text="Workspaces"}}
    {{> data-list--icon-text data-list--icon-text--icon="check-circle" data-list--icon-text--modifier="pf-m-success" data-list--icon-text--text="11" data-list--icon-text--screenreader-text="Completed"}}
    {{> data-list--icon-text data-list--icon-text--icon="exclamation-triangle" data-list--icon-text--modifier="pf-m-warning" data-list--icon-text--text="4" data-list--icon-text--screenreader-text="Warnings"}}
    {{> data-list--icon-text data-list--icon-text--icon="exclamation-circle" data-list--icon-text--modifier="pf-m-danger" data-list--icon-text--text="1" data-list--icon-text--screenreader-text="Errors"}}
    {{#> l-flex-item}}
      Updated 2 days ago
    {{/l-flex-item}}
  {{/l-flex}}
{{/l-flex}}
