{{#> data-list data-list--attribute='aria-label="Simple data list example"'}}
  {{#> data-list-item data-list-item--attribute='aria-labelledby="simple-item1"'}}
    {{#> data-list-cell}}
      <span id="simple-item1">
        patternfly-next
        Working repo for Patternfly4 
      </span>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      Graph here
    {{/data-list-cell}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--attribute='aria-labelledby="simple-item2"'}}
    {{#> data-list-cell}}
      <span id="simple-item2">
        Second list item title
      </span>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      Graph here
    {{/data-list-cell}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--attribute='aria-labelledby="simple-item2"'}}
  {{#> data-list-cell}}
    <span id="simple-item2">
      patternfly-unified-design-kit
    </span>
  {{/data-list-cell}}
    {{#> data-list-cell}}
      Graph here
    {{/data-list-cell}}
{{/data-list-item}}

  {{#> data-list-item data-list-item--attribute='aria-labelledby="simple-item2"'}}
  {{#> data-list-cell}}
    <span id="simple-item2">
      patternfly-unified-design-kit
    </span>
  {{/data-list-cell}}
    {{#> data-list-cell}}
      Graph here
    {{/data-list-cell}}
{{/data-list-item}}

  {{#> data-list-item data-list-item--attribute='aria-labelledby="simple-item2"'}}
  {{#> data-list-cell}}
    <span id="simple-item2">
      patternfly-unified-design-kit
    </span>
  {{/data-list-cell}}
    {{#> data-list-cell}}
      Graph here
    {{/data-list-cell}}
  {{/data-list-item}}
{{/data-list}}
