<span class="pf-c-chip__actions{{#if chip-actions--modifier}} {{chip-actions--modifier}}{{/if}}"
  {{#if chip-actions--attribute}}
    {{{chip-actions--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
