<span class="pf-c-chip__content{{#if chip-content--modifier}} {{chip-content--modifier}}{{/if}}"
  {{#if chip-content--attribute}}
    {{{chip-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
