@import "../../patternfly-imports";

.pf-c-chip {
  @extend %pf-t-light; // force the container follow the light theme

  --pf-c-chip--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-chip--BackgroundColor: var(--pf-global--Color--light-100);
  --pf-c-chip--BorderColor: var(--pf-global--secondary-color--100);
  --pf-c-chip--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--BorderRadius: var(--pf-global--BorderRadius--sm);

  // modified chip
  --pf-c-chip--m-overflow--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-chip--m-overflow--PaddingLeft: 0;
  --pf-c-chip--m-overflow--BorderColor: transparent;
  --pf-c-chip--m-overflow--BorderWidth: 0;

  // modified chip button
  --pf-c-chip--m-overflow--c-button--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-chip--m-overflow--c-button--BorderWidth: 0;
  --pf-c-chip--m-overflow--c-button--BorderColor: transparent;
  --pf-c-chip--m-overflow--c-button--PaddingX: var(--pf-global--spacer--sm);

  // active,focus,hover
  --pf-c-chip--m-overflow--c-button--active--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--m-overflow--c-button--active--BorderColor: var(--pf-global--secondary-color--100);

  // chip text
  --pf-c-chip__text--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-chip__text--Color: var(--pf-global--Color--100);
  --pf-c-chip__text--MaxWidth: #{pf-size-prem(120px)};

  // chip button
  --pf-c-chip--c-button--PaddingX: var(--pf-global--spacer--sm);
  --pf-c-chip--c-button--FontSize: var(--pf-global--FontSize--xs);

  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: var(--pf-c-chip--PaddingLeft);
  background-color: var(--pf-c-chip--BackgroundColor);
  border-radius: var(--pf-c-chip--BorderRadius);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: var(--pf-c-chip--BorderWidth) solid var(--pf-c-chip--BorderColor);
    border-radius: var(--pf-c-chip--BorderRadius);
  }

  // Chip Overflow Modifier
  &.pf-m-overflow {
    --pf-c-chip--PaddingLeft: var(--pf-c-chip--m-overflow--PaddingLeft);
    --pf-c-chip--BackgroundColor: var(--pf-c-chip--m-overflow--BackgroundColor);

    // Remove Chip border
    &::before {
      content: "";

      --pf-c-chip--BorderColor: var(--pf-c-chip--m-overflow--BorderColor);
      --pf-c-chip--BorderWidth: var(--pf-c-chip--m-overflow--BorderWidth);
    }

    .pf-c-button {
      padding-right: var(--pf-c-chip--m-overflow--c-button--PaddingX);
      padding-left: var(--pf-c-chip--m-overflow--c-button--PaddingX);
      border: var(--pf-c-chip--m-overflow--c-button--BorderWidth) solid var(--pf-c-chip--m-overflow--c-button--BorderColor);

      &::after {
        border-radius: var(--pf-c-chip--m-overflow--c-button--BorderRadius);
      }

      &.pf-m-hover,
      &:hover,
      &.pf-m-active,
      &:active,
      &.pf-m-focus,
      &:focus {
        /* stylelint-disable-next-line */
        &::after {
          border: var(--pf-c-chip--m-overflow--c-button--active--BorderWidth) solid var(--pf-c-chip--m-overflow--c-button--active--BorderColor);
        }
      }
    }
  }

  // Button
  .pf-c-button {
    padding-right: var(--pf-c-chip--c-button--PaddingX);
    padding-left: var(--pf-c-chip--c-button--PaddingX);
    font-size: var(--pf-c-chip--c-button--FontSize);
  }
}

// Text Element
.pf-c-chip__text {
  max-width: var(--pf-c-chip__text--MaxWidth);
  overflow: hidden;
  font-size: var(--pf-c-chip__text--FontSize);
  color: var(--pf-c-chip__text--Color);
  text-overflow: ellipsis;
  white-space: nowrap;
}
