<div class="{{pfv}}chip-group{{#if chip-group--modifier}} {{chip-group--modifier}}{{/if}}"
  role="group"
  aria-label="Chip group category"
  {{#if chip-group--attribute}}
    {{{chip-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
