<div class="{{pfv}}chip-group__main{{#if chip-group-main--modifier}} {{chip-group-main--modifier}}{{/if}}"
  {{#if chip-group-main--attribute}}
    {{{chip-group-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
