// stylelint-disable

$pf-v5-u-alignment-options: (
  float-left: (float inline-start),
  float-right: (float inline-end)
);

// Text utilities
@include pf-v5-utility-builder($pf-v5-u-alignment-options, $pf-v5-global--breakpoint-list);

// stylelint-enable
