// stylelint-disable

$pf-v6-u-alignment-options: (
  float-start: (float inline-start),
  float-end: (float inline-end)
);

// Text utilities
@include pf-v5-utility-builder($pf-v6-u-alignment-options, $pf-v5-global--breakpoint-list);

// stylelint-enable
