<div class="pf-c-progress-stepper__step-title{{#if progress-stepper-step-title--modifier}} {{progress-stepper-step-title--modifier}}{{/if}}"
  {{#if progress-stepper-step-title--attribute}}
    {{{progress-stepper-step-title--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
