<div class="pf-c-progress-stepper__step-description{{#if progress-stepper-step-description--modifier}} {{progress-stepper-step-description--modifier}}{{/if}}"
  {{#if progress-stepper-step-description--attribute}}
    {{{progress-stepper-step-description--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
