<div class="pf-c-progress-stepper__step-main{{#if progress-stepper-step-main--modifier}} {{progress-stepper-step-main--modifier}}{{/if}}"
  {{#if progress-stepper-step-main--attribute}}
    {{{progress-stepper-step-main--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
