.pf-c-progress-stepper {
  // Stepper variables
  --pf-c-progress-stepper--GridAutoFlow: column;
  --pf-c-progress-stepper--GridTemplateRows: auto 1fr;
  --pf-c-progress-stepper--GridTemplateColumns: initial;
  --pf-c-progress-stepper--m-vertical--GridAutoFlow: row;
  --pf-c-progress-stepper--m-vertical--GridTemplateColumns: auto 1fr;
  --pf-c-progress-stepper--m-compact--GridAutoFlow: row;
  --pf-c-progress-stepper--m-compact--GridTemplateColumns: repeat(auto-fill, 28px);

  // Step variables

  // Step icon-wrapper variables
  --pf-c-progress-stepper__icon-wrapper--JustifyContent: start;
  --pf-c-progress-stepper--m-center__icon-wrapper--JustifyContent: center;

  // Step icon variables
  --pf-c-progress-stepper__step-icon--Width: 28px;
  --pf-c-progress-stepper__step-icon--Height: var(--pf-c-progress-stepper__step-icon--Width);
  --pf-c-progress-stepper__step-icon--FontSize: var(--pf-global--icon--FontSize--md);
  --pf-c-progress-stepper__step-icon--Color: var(--pf-global--Color-100);
  --pf-c-progress-stepper__step-icon--BackgroundColor: var(--pf-global--BackgroundColor--light-200);
  --pf-c-progress-stepper__step-icon--BorderColor: var(--pf-global--BorderColor--100);
  --pf-c-progress-stepper--m-compact__step-icon--Width: 18px;
  --pf-c-progress-stepper--m-compact__step-icon--FontSize: var(--pf-global--icon--FontSize--sm);

  // Icon adjustments to fix differences in alignment
  --pf-c-progress-stepper__pficon--MarginTop: 3px;
  --pf-c-progress-stepper__fa-exclamation-triangle--MarginTop: -5px;
  --pf-c-progress-stepper--m-compact__pficon--MarginTop: 2px;
  --pf-c-progress-stepper--m-compact__fa-exclamation-triangle--MarginTop: -3px;


  // Step :before (the connecting line) variables
  --pf-c-progress-stepper__icon-wrapper--before--Top: calc(var(--pf-c-progress-stepper__step-icon--Height) / 2);
  --pf-c-progress-stepper__icon-wrapper--before--Left: 0;
  --pf-c-progress-stepper__icon-wrapper--before--Width: 100%;
  --pf-c-progress-stepper__icon-wrapper--before--Height: auto;
  --pf-c-progress-stepper__icon-wrapper--before--BorderRight: none;
  --pf-c-progress-stepper__icon-wrapper--before--BorderBottom: var(--pf-global--BorderWidth--md) solid var(--pf-global--BorderColor--100);
  --pf-c-progress-stepper--m-center__icon-wrapper--before--Left: 50%;
  --pf-c-progress-stepper--m-vertical__icon-wrapper--before--Top: 0;
  --pf-c-progress-stepper--m-vertical__icon-wrapper--before--Left: calc(var(--pf-c-progress-stepper__step-icon--Width) / 2);
  --pf-c-progress-stepper--m-vertical__icon-wrapper--before--Width: auto;
  --pf-c-progress-stepper--m-vertical__icon-wrapper--before--Height: 100%;
  --pf-c-progress-stepper--m-vertical__icon-wrapper--before--BorderRight: var(--pf-global--BorderWidth--md) solid var(--pf-global--BorderColor--100);
  --pf-c-progress-stepper--m-vertical__icon-wrapper--before--BorderBottom: none;

  // Step Main variables
  --pf-c-progress-stepper__step-main--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-progress-stepper__step-main--MarginRight: var(--pf-global--spacer--sm);
  --pf-c-progress-stepper__step-main--MarginBottom: 0;
  --pf-c-progress-stepper__step-main--MarginLeft: 0;
  --pf-c-progress-stepper--m-center__step-main--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-progress-stepper--m-center__step-main--MarginLeft: var(--pf-global--spacer--xs);
  --pf-c-progress-stepper--m-vertical__step-main--MarginTop: var(--pf-global--spacer--xs);
  --pf-c-progress-stepper--m-vertical__step-main--MarginRight: 0;
  --pf-c-progress-stepper--m-vertical__step-main--MarginBottom: var(--pf-global--spacer--xl);
  --pf-c-progress-stepper--m-vertical__step-main--MarginLeft: var(--pf-global--spacer--xs);
  --pf-c-progress-stepper--m-compact__step-main--MarginTop: 0;
  --pf-c-progress-stepper--m-compact__step-main--MarginBottom: var(--pf-global--spacer--sm);

  // Step Title variables
  --pf-c-progress-stepper__step-title--Color: var(--pf-global--Color--100);
  --pf-c-progress-stepper__step-title--TextAlign: left;
  --pf-c-progress-stepper__step-title--FontSize: var(--pf-global--FontSize--md);
  --pf-c-progress-stepper__step-title--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-progress-stepper__step--m-current__step-title--FontWeight: var(--pf-global--FontWeight--bold);
  --pf-c-progress-stepper__step--m-current__step-title--Color: var(--pf-global--Color--100);
  --pf-c-progress-stepper__step--m-pending__step-title--Color: var(--pf-global--Color--200);
  --pf-c-progress-stepper__step--m-danger__step-description--Color: var(--pf-global--danger-color--100);
  --pf-c-progress-stepper--m-center__step-title--TextAlign: center;
  --pf-c-progress-stepper--m-compact__step-title--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-progress-stepper--m-compact__step-title--FontWeight: var(--pf-global--FontWeight--normal);

  // Step Description variables
  --pf-c-progress-stepper__step-description--MarginTop: var(--pf-global--spacer--xs);
  --pf-c-progress-stepper__step-description--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-progress-stepper__step-description--Color: var(--pf-global--Color--200);
  --pf-c-progress-stepper__step-description--TextAlign: left;
  --pf-c-progress-stepper--m-center__step-description--TextAlign: center;

  position: relative;
  display: grid;
  grid-auto-flow: var(--pf-c-progress-stepper--GridAutoFlow);
  grid-template-columns: var(--pf-c-progress-stepper--GridTemplateColumns);
  grid-template-rows: var(--pf-c-progress-stepper--GridTemplateRows);
  grid-auto-columns: 1fr; // gives even spacing between steps

  // Progress stepper Modifiers
  &.pf-m-center {
    --pf-c-progress-stepper__icon-wrapper--before--Left: var(--pf-c-progress-stepper--m-center__icon-wrapper--before--Left);
    --pf-c-progress-stepper__icon-wrapper--JustifyContent: var(--pf-c-progress-stepper--m-center__icon-wrapper--JustifyContent);
    --pf-c-progress-stepper__step-main--MarginRight: var(--pf-c-progress-stepper--m-center__step-main--MarginRight);
    --pf-c-progress-stepper__step-main--MarginLeft: var(--pf-c-progress-stepper--m-center__step-main--MarginLeft);
    --pf-c-progress-stepper__step-description--MarginRight: var(--pf-c-progress-stepper--m-center__step-description--MarginRight);
    --pf-c-progress-stepper__step-description--MarginLeft: var(--pf-c-progress-stepper--m-center__step-description--MarginLeft);
    --pf-c-progress-stepper__step-title--TextAlign: var(--pf-c-progress-stepper--m-center__step-title--TextAlign);
    --pf-c-progress-stepper__step-description--TextAlign: var(--pf-c-progress-stepper--m-center__step-description--TextAlign);
  }

  &.pf-m-vertical {
    --pf-c-progress-stepper--GridAutoFlow: var(--pf-c-progress-stepper--m-vertical--GridAutoFlow);
    --pf-c-progress-stepper--GridTemplateColumns: var(--pf-c-progress-stepper--m-vertical--GridTemplateColumns);
    --pf-c-progress-stepper__icon-wrapper--before--Top: var(--pf-c-progress-stepper--m-vertical__icon-wrapper--before--Top);
    --pf-c-progress-stepper__icon-wrapper--before--Left: var(--pf-c-progress-stepper--m-vertical__icon-wrapper--before--Left);
    --pf-c-progress-stepper__icon-wrapper--before--Width: var(--pf-c-progress-stepper--m-vertical__icon-wrapper--before--Width);
    --pf-c-progress-stepper__icon-wrapper--before--Height: var(--pf-c-progress-stepper--m-vertical__icon-wrapper--before--Height);
    --pf-c-progress-stepper__icon-wrapper--before--BorderRight: var(--pf-c-progress-stepper--m-vertical__icon-wrapper--before--BorderRight);
    --pf-c-progress-stepper__icon-wrapper--before--BorderBottom: var(--pf-c-progress-stepper--m-vertical__icon-wrapper--before--BorderBottom);
    --pf-c-progress-stepper__step-main--MarginTop: var(--pf-c-progress-stepper--m-vertical__step-main--MarginTop);
    --pf-c-progress-stepper__step-main--MarginRight: var(--pf-c-progress-stepper--m-vertical__step-main--MarginRight);
    --pf-c-progress-stepper__step-main--MarginBottom: var(--pf-c-progress-stepper--m-vertical__step-main--MarginBottom);
    --pf-c-progress-stepper__step-main--MarginLeft: var(--pf-c-progress-stepper--m-vertical__step-main--MarginLeft);
  }

  &.pf-m-compact {
    --pf-c-progress-stepper--GridAutoFlow: var(--pf-c-progress-stepper--m-compact--GridAutoFlow);
    --pf-c-progress-stepper--GridTemplateColumns: var(--pf-c-progress-stepper--m-compact--GridTemplateColumns);
    --pf-c-progress-stepper__step-icon--Width: var(--pf-c-progress-stepper--m-compact__step-icon--Width);
    --pf-c-progress-stepper__step-icon--FontSize: var(--pf-c-progress-stepper--m-compact__step-icon--FontSize);
    --pf-c-progress-stepper__pficon--MarginTop: var(--pf-c-progress-stepper--m-compact__pficon--MarginTop);
    --pf-c-progress-stepper__fa-exclamation-triangle--MarginTop: var(--pf-c-progress-stepper--m-compact__fa-exclamation-triangle--MarginTop);
    --pf-c-progress-stepper__step-main--MarginTop: var(--pf-c-progress-stepper--m-compact__step-main--MarginTop);
    --pf-c-progress-stepper__step-main--MarginBottom: var(--pf-c-progress-stepper--m-compact__step-main--MarginBottom);
    --pf-c-progress-stepper__step-title--FontSize: var(--pf-c-progress-stepper--m-compact__step-title--FontSize);
    --pf-c-progress-stepper__step--m-current__step-title--FontWeight: var(--pf-c-progress-stepper--m-compact__step-title--FontWeight);

    // TODO: use sr-only instead of hiding so that screen readers can see the steps? Or when compact is it all hidden but the current one?
    .pf-c-progress-stepper__step:not(.pf-m-current) .pf-c-progress-stepper__step-main {
      @include pf-u-screen-reader;
    }

    .pf-c-progress-stepper__step-description {
      display: none;
    }

    // For this compact variant only, move the main content for the current step to above the icons
    // stylelint-disable
    .pf-c-progress-stepper__step.pf-m-current .pf-c-progress-stepper__step-main {
        grid-column: 1/-1;
        grid-row: 1/2;
      }
    // stylelint-enable
  }
}

// Step
.pf-c-progress-stepper__step {
  display: contents;

  // Step Modifiers
  &.pf-m-current {
    --pf-c-progress-stepper__step-title--FontWeight: var(--pf-c-progress-stepper__step--m-current__step-title--FontWeight);
    --pf-c-progress-stepper__step-title--Color: var(--pf-c-progress-stepper__step--m-current__step-title--Color);
  }

  &.pf-m-pending {
    --pf-c-progress-stepper__step-title--Color: var(--pf-c-progress-stepper__step--m-pending__step-title--Color);
  }

  &.pf-m-in-process {
    --pf-c-progress-stepper__step-icon--Color: var(--pf-global--info-color--100);
  }

  &.pf-m-success {
    --pf-c-progress-stepper__step-icon--Color: var(--pf-global--success-color--100);
  }

  &.pf-m-danger {
    --pf-c-progress-stepper__step-icon--Color: var(--pf-global--danger-color--100);
    --pf-c-progress-stepper__step-title--Color: var(--pf-c-progress-stepper__step--m-danger__step-description--Color);
  }

  &.pf-m-warning {
    --pf-c-progress-stepper__step-icon--Color: var(--pf-global--warning-color--100);
  }

  &.pf-m-info {
    --pf-c-progress-stepper__step-icon--Color: var(--pf-global--info-color--100);
  }
}

// The step icon wrapper provides a container on which to use the before for the line connecting the steps
.pf-c-progress-stepper__icon-wrapper {
  position: relative;
  display: flex;
  justify-content: var(--pf-c-progress-stepper__icon-wrapper--JustifyContent);
  width: 100%;
  transform: translateX(0);

  .pf-c-progress-stepper__step:not(:last-of-type) > &::before {
    position: absolute;
    top: var(--pf-c-progress-stepper__icon-wrapper--before--Top); // half the height
    left: var(--pf-c-progress-stepper__icon-wrapper--before--Left);
    z-index: -1;
    width: var(--pf-c-progress-stepper__icon-wrapper--before--Width);
    height: var(--pf-c-progress-stepper__icon-wrapper--before--Height);
    content: "";
    border-right: var(--pf-c-progress-stepper__icon-wrapper--before--BorderRight);
    border-bottom: var(--pf-c-progress-stepper__icon-wrapper--before--BorderBottom);
  }
}

// Step icon
.pf-c-progress-stepper__step-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--pf-c-progress-stepper__step-icon--Width);
  height: var(--pf-c-progress-stepper__step-icon--Height);
  font-size: var(--pf-c-progress-stepper__step-icon--FontSize);
  color: var(--pf-c-progress-stepper__step-icon--Color);
  background-color: var(--pf-c-progress-stepper__step-icon--BackgroundColor);
  border: 2px solid var(--pf-c-progress-stepper__step-icon--BorderColor);
  border-radius: 50%;

  // Align pficons with the font awesome icons
  // stylelint-disable
  & .pficon {
    margin-top: var(--pf-c-progress-stepper__pficon--MarginTop);
  }

  // Push the triangle up to fit inside the circle
  & .fa-exclamation-triangle {
    margin-top: var(--pf-c-progress-stepper__fa-exclamation-triangle--MarginTop);
  }
  // stylelint-enable
}

// Step main
.pf-c-progress-stepper__step-main {
  margin-top: var(--pf-c-progress-stepper__step-main--MarginTop);
  margin-right: var(--pf-c-progress-stepper__step-main--MarginRight);
  margin-bottom: var(--pf-c-progress-stepper__step-main--MarginBottom);
  margin-left: var(--pf-c-progress-stepper__step-main--MarginLeft);
}

// Step title
.pf-c-progress-stepper__step-title {
  font-size: var(--pf-c-progress-stepper__step-title--FontSize);
  font-weight: var(--pf-c-progress-stepper__step-title--FontWeight);
  color: var(--pf-c-progress-stepper__step-title--Color);
  text-align: var(--pf-c-progress-stepper__step-title--TextAlign);
}

// Step description
.pf-c-progress-stepper__step-description {
  margin-top: var(--pf-c-progress-stepper__step-description--MarginTop);
  font-size: var(--pf-c-progress-stepper__step-description--FontSize);
  color: var(--pf-c-progress-stepper__step-description--Color);
  text-align: var(--pf-c-progress-stepper__step-description--TextAlign);
}
