<span class="pf-c-app-launcher__menu-item-text{{#if app-launcher-menu-item-text--modifier}} {{app-launcher-menu-item-text--modifier}}{{/if}}"
  {{#if app-launcher-menu-item-text--attribute}}
	  {{{app-launcher-menu-item-text--attribute}}}
  {{/if}}>
  {{{@partial-block}}}
</span>
