<i class="pf-c-app-launcher__menu-item-external-icon fas fa-external-link-alt{{#if app-launcher-menu-item-external-icon--modifier}} {{app-launcher-menu-item-external-icon--modifier}}{{/if}}"
  aria-hidden="true"
  {{#if app-launcher-menu-item-external-icon--attribute}}
	  {{{app-launcher-menu-item-external-icon--attribute}}}
  {{/if}}></i>
<span class="pf-screen-reader">(opens new window)</span>
