<li class="pf-c-app-launcher__menu-item-wrapper{{#if app-launcher-menu-item-wrapper--modifier}} {{app-launcher-menu-item-wrapper--modifier}}{{/if}}"
  {{#if app-launcher-menu-item-wrapper--attribute}}
	  {{{app-launcher-menu-item-wrapper--attribute}}}
  {{/if}}>
  {{{@partial-block}}}
</li>
