<li class="{{pfv}}app-launcher__menu-wrapper{{#if app-launcher-menu-wrapper--modifier}} {{app-launcher-menu-wrapper--modifier}}{{/if}}"
  role="none"
  {{#if app-launcher-menu-wrapper--attribute}}
	  {{{app-launcher-menu-wrapper--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
