@import "../../patternfly-imports";

.pf-c-app-launcher {
  // Menu
  --pf-c-app-launcher__menu--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-app-launcher__menu--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-app-launcher__menu--BoxShadow: var(--pf-global--BoxShadow--md);
  --pf-c-app-launcher__menu--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu--Top: calc(100% + var(--pf-global--spacer--xs));
  --pf-c-app-launcher__menu--ZIndex: var(--pf-global--ZIndex--xs);

  // Expanded

  // TODO: --pf-global--Color-100 is not a real variable. need to change this
  // --pf-c-app-launcher--m-expanded--c-button--Color: var(--pf-global--Color-100);
  --pf-c-app-launcher--m-expanded--c-button--Color: inherit;

  // Menu Item
  --pf-c-app-launcher__menu-item--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu-item--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-app-launcher__menu-item--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu-item--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-app-launcher__menu-item--Color: var(--pf-global--Color--dark-100);
  --pf-c-app-launcher__menu-item--disabled--Color: var(--pf-global--Color--dark-200);
  --pf-c-app-launcher__menu-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-300);

  position: relative;
  display: inline-block;
  max-width: 100%;

  &.pf-m-expanded {
    > .pf-c-button {
      color: var(--pf-c-app-launcher--m-expanded--c-button--Color);
    }
  }
}

.pf-c-app-launcher__menu {
  position: absolute;
  top: var(--pf-c-app-launcher__menu--Top);
  z-index: var(--pf-c-app-launcher__menu--ZIndex);
  min-width: 100%;
  padding-top: var(--pf-c-app-launcher__menu--PaddingTop);
  padding-bottom: var(--pf-c-app-launcher__menu--PaddingBottom);
  background-color: var(--pf-c-app-launcher__menu--BackgroundColor);
  background-clip: padding-box;
  border: var(--pf-c-app-launcher__menu--BorderWidth) solid transparent; // this is for high contrast mode in windows
  box-shadow: var(--pf-c-app-launcher__menu--BoxShadow);
}

.pf-c-app-launcher__menu-item {
  display: block;
  width: 100%;
  padding: var(--pf-c-app-launcher__menu-item--PaddingTop) var(--pf-c-app-launcher__menu-item--PaddingRight) var(--pf-c-app-launcher__menu-item--PaddingBottom) var(--pf-c-app-launcher__menu-item--PaddingLeft);
  color: var(--pf-c-app-launcher__menu-item--Color);
  white-space: nowrap;

  &:hover,
  &.pf-m-hover,
  &:focus,
  &.pf-m-focus {
    text-decoration: none;
    background-color: var(--pf-c-app-launcher__menu-item--hover--BackgroundColor);
  }

  &:disabled,
  &.pf-m-disabled {
    --pf-c-app-launcher__menu-item--Color: var(--pf-c-app-launcher__menu-item--disabled--Color);

    pointer-events: none;
    background-color: transparent;
  }
}
