<div class="pf-c-app-launcher__menu-input{{#if app-launcher-menu-input--modifier}} {{app-launcher-menu-input--modifier}}{{/if}}"
  {{#if app-launcher-menu-input--attribute}}
    {{{app-launcher-menu-input--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
