<a class="pf-c-app-launcher__menu-item{{#if app-launcher-menu-item--modifier}} {{app-launcher-menu-item--modifier}}{{/if}}"
  href="#"
  {{#if app-launcher-menu-item--attribute}}
	  {{{app-launcher-menu-item--attribute}}}
  {{/if}}>
  {{{@partial-block}}}
</a>
