.pf-c-app-launcher {
  // Menu
  --pf-c-app-launcher__menu--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-app-launcher__menu--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-app-launcher__menu--BoxShadow: var(--pf-global--BoxShadow--md);
  --pf-c-app-launcher__menu--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu--Top: calc(100% + var(--pf-global--spacer--xs));
  --pf-c-app-launcher__menu--ZIndex: var(--pf-global--ZIndex--sm);
  --pf-c-app-launcher--m-top__menu--Top: 0;
  --pf-c-app-launcher--m-top__menu--Transform: translateY(calc(-100% - var(--pf-global--spacer--xs))); // The "dropup" menu must be transformed up and this calculates how much to create space between the toggle and menu

  // Expanded
  --pf-c-app-launcher__toggle--PaddingTop: var(--pf-global--spacer--form-element);
  --pf-c-app-launcher__toggle--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-app-launcher__toggle--PaddingBottom: var(--pf-global--spacer--form-element);
  --pf-c-app-launcher__toggle--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-app-launcher__toggle--Color: var(--pf-global--Color--200);
  --pf-c-app-launcher__toggle--hover--Color: var(--pf-global--Color--100);
  --pf-c-app-launcher__toggle--active--Color: var(--pf-global--Color--100);
  --pf-c-app-launcher__toggle--focus--Color: var(--pf-global--Color--100);
  --pf-c-app-launcher__toggle--disabled--Color: var(--pf-global--disabled-color--200);
  --pf-c-app-launcher__toggle--m-expanded--Color: var(--pf-global--Color--100);

  // Menu item
  --pf-c-app-launcher__menu-item--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu-item--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-app-launcher__menu-item--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu-item--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-app-launcher__menu-item--Color: var(--pf-global--Color--dark-100);
  --pf-c-app-launcher__menu-item--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-app-launcher__menu-item--disabled--Color: var(--pf-global--Color--dark-200);
  --pf-c-app-launcher__menu-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-300);

  // Menu item icon
  --pf-c-app-launcher__menu-item-icon--MarginRight: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__menu-item-icon--Width: var(--pf-global--icon--FontSize--lg);
  --pf-c-app-launcher__menu-item-icon--Height: var(--pf-global--icon--FontSize--lg);

  // Menu item external icon
  --pf-c-app-launcher__menu-item-external-icon--Color: var(--pf-global--link--Color);
  --pf-c-app-launcher__menu-item-external-icon--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-app-launcher__menu-item-external-icon--Transform: translateY(#{pf-size-prem(-1px)});
  --pf-c-app-launcher__menu-item-external-icon--FontSize: var(--pf-global--FontSize--sm);

  // Menu Separator
  --pf-c-app-launcher__separator--Height: var(--pf-global--BorderWidth--sm);
  --pf-c-app-launcher__separator--BackgroundColor: var(--pf-global--BorderColor--100);
  --pf-c-app-launcher__separator--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__separator--MarginBottom: var(--pf-global--spacer--sm);

  // Groups
  --pf-c-app-launcher__group--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-app-launcher__group--first-child--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-app-launcher__group-title--PaddingRight: var(--pf-c-app-launcher__menu-item--PaddingRight);
  --pf-c-app-launcher__group-title--PaddingBottom: var(--pf-c-app-launcher__menu-item--PaddingBottom);
  --pf-c-app-launcher__group-title--PaddingLeft: var(--pf-c-app-launcher__menu-item--PaddingLeft);
  --pf-c-app-launcher__group-title--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-app-launcher__group-title--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-app-launcher__group-title--Color: var(--pf-global--Color--dark-200);

  position: relative;
  display: inline-block;
  max-width: 100%;

  &.pf-m-expanded {
    > .pf-c-app-launcher__toggle {
      color: var(--pf-c-app-launcher__toggle--m-expanded--Color);
    }
  }
}

.pf-c-app-launcher__toggle {
  padding: var(--pf-c-app-launcher__toggle--PaddingTop) var(--pf-c-app-launcher__toggle--PaddingRight) var(--pf-c-app-launcher__toggle--PaddingBottom) var(--pf-c-app-launcher__toggle--PaddingLeft);
  color: var(--pf-c-app-launcher__toggle--Color);
  border: none;

  &:hover,
  &.pf-m-hover {
    --pf-c-app-launcher__toggle--Color: var(--pf-c-app-launcher__toggle--hover--Color);
  }

  &:active,
  &.pf-m-active {
    --pf-c-app-launcher__toggle--Color: var(--pf-c-app-launcher__toggle--active--Color);
  }

  &:focus,
  &.pf-m-focus {
    --pf-c-app-launcher__toggle--Color: var(--pf-c-app-launcher__toggle--focus--Color);
  }

  &:disabled,
  &.pf-m-disabled {
    --pf-c-app-launcher__toggle--Color: var(--pf-c-app-launcher__toggle--disabled--Color);

    pointer-events: none;
  }
}

.pf-c-app-launcher__menu {
  position: absolute;
  top: var(--pf-c-app-launcher__menu--Top);
  z-index: var(--pf-c-app-launcher__menu--ZIndex);
  min-width: 100%;
  padding-top: var(--pf-c-app-launcher__menu--PaddingTop);
  padding-bottom: var(--pf-c-app-launcher__menu--PaddingBottom);
  background-color: var(--pf-c-app-launcher__menu--BackgroundColor);
  background-clip: padding-box;
  border: var(--pf-c-app-launcher__menu--BorderWidth) solid transparent; // this is for high contrast mode in windows
  box-shadow: var(--pf-c-app-launcher__menu--BoxShadow);

  &.pf-m-align-right {
    right: 0;
  }

  .pf-c-app-launcher.pf-m-top & {
    --pf-c-app-launcher__menu--Top: var(--pf-c-app-launcher--m-top__menu--Top);

    transform: var(--pf-c-app-launcher--m-top__menu--Transform);
  }
}

.pf-c-app-launcher__menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--pf-c-app-launcher__menu-item--PaddingTop) var(--pf-c-app-launcher__menu-item--PaddingRight) var(--pf-c-app-launcher__menu-item--PaddingBottom) var(--pf-c-app-launcher__menu-item--PaddingLeft);
  font-weight: var(--pf-c-app-launcher__menu-item--FontWeight);
  color: var(--pf-c-app-launcher__menu-item--Color);
  white-space: nowrap;
  border: 0;

  &:hover,
  &.pf-m-hover,
  &:focus,
  &.pf-m-focus {
    text-decoration: none;
    background-color: var(--pf-c-app-launcher__menu-item--hover--BackgroundColor);
  }

  &:disabled,
  &.pf-m-disabled {
    --pf-c-app-launcher__menu-item--Color: var(--pf-c-app-launcher__menu-item--disabled--Color);

    pointer-events: none;
    background-color: transparent;
  }

  &.pf-m-external {
    &:hover,
    &:focus {
      .pf-c-app-launcher__menu-item-external-icon {
        opacity: 1;
      }
    }
  }
}

.pf-c-app-launcher__menu-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--pf-c-app-launcher__menu-item-icon--Width);
  height: var(--pf-c-app-launcher__menu-item-icon--Height);
  margin-right: var(--pf-c-app-launcher__menu-item-icon--MarginRight);

  > * {
    max-width: 100%;
    max-height: 100%;
  }
}

.pf-c-app-launcher__menu-item-external-icon {
  padding-left: var(--pf-c-app-launcher__menu-item-external-icon--PaddingLeft);
  margin-left: auto;
  font-size: var(--pf-c-app-launcher__menu-item-external-icon--FontSize);
  color: var(--pf-c-app-launcher__menu-item-external-icon--Color);
  opacity: 0;
  transform: var(--pf-c-app-launcher__menu-item-external-icon--Transform); // move icon a bit to appear more visually centered
}

.pf-c-app-launcher__separator {
  height: var(--pf-c-app-launcher__separator--Height);
  margin-top: var(--pf-c-app-launcher__separator--MarginTop);
  margin-bottom: var(--pf-c-app-launcher__separator--MarginBottom);
  background-color: var(--pf-c-app-launcher__separator--BackgroundColor);
  border: 0; // for use when separator is an <hr>
}

.pf-c-app-launcher__group {
  padding-top: var(--pf-c-app-launcher__group--PaddingTop);

  &:first-child {
    --pf-c-app-launcher__group--PaddingTop: var(--pf-c-app-launcher__group--first-child--PaddingTop);
  }
}

.pf-c-app-launcher__group-title {
  padding-right: var(--pf-c-app-launcher__group-title--PaddingRight);
  padding-bottom: var(--pf-c-app-launcher__group-title--PaddingBottom);
  padding-left: var(--pf-c-app-launcher__group-title--PaddingLeft);
  font-size: var(--pf-c-app-launcher__group-title--FontSize);
  font-weight: var(--pf-c-app-launcher__group-title--FontWeight);
  color: var(--pf-c-app-launcher__group-title--Color);
}
