<div class="pf-c-app-launcher{{#if applauncher--IsExpanded}} pf-m-expanded{{/if}}{{#if app-launcher--modifier}} {{app-launcher--modifier}}{{/if}}"
  {{#if app-launcher--attribute}}
    {{{app-launcher--attribute}}}
  {{/if}}>
  {{> app-launcher-toggle}}
  {{> app-launcher-menu}}
</div>