<ul class="pf-c-app-launcher__menu{{#if app-launcher-menu--modifier}} {{app-launcher-menu--modifier}}{{/if}}"
  aria-labelledby="{{id}}-button"
  {{#unless app-launcher--IsExpanded}}hidden{{/unless}}
  {{#if app-launcher-menu--attribute}}
	  {{{app-launcher-menu--attribute}}}
  {{/if}}>
  <li><a class="pf-c-app-launcher__menu-item" href="#">Link</a></li>
  <li><a class="pf-c-app-launcher__menu-item" href="#">Link two</a></li>
  <li><a class="pf-c-app-launcher__menu-item pf-m-disabled" aria-disabled="true" tabindex="-1" href="#">Disabled link</a></li>  
</ul>