<span class="pf-c-app-launcher__menu-item-description{{#if app-launcher-menu-item-description--modifier}} {{app-launcher-menu-item-description--modifier}}{{/if}}"
  {{#if app-launcher-menu-item-description--attribute}}
	  {{{app-launcher-menu-item-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
