dist/
node_modules/
test/scenario_tests/
test/results/
.sass-cache/
.vscode/
.cache/
public/
static/admin/*.bundle.*
local/
tmp/
src/icons/**/*.svg

.DS_Store
.codetoolsrc.js
.blueprints
npm-debug.log
yarn-error.log
yarn.lock
.idea
coverage/
*.swp

logs/
.tmp/
allure-report/
allure-results/
browserstack.err
local.log
workspace/
assets/
