/dist/
**/node_modules/
.sass-cache/
/.vscode/
/.cache/
/public/
/tmp/
/src/icons/**/*.svg
.DS_Store
.blueprints
npm-debug.log
yarn-error.log
package-lock.json
/.idea
/coverage/
*.swp
/workspace/
/assets/
/scripts/sizeReport/package-lock.json
/scripts/sizeReport/report.html
src/generated/**/*.js
