@import "../../patternfly-utilities";

// Tabs
.pf-c-alert-group {
  // Alert Group variables
  --pf-c-alert-group__item--MarginBottom: var(--pf-global--spacer--sm);

  // Toast variables
  --pf-c-alert-group--m-toast--Top: var(--pf-global--spacer--2xl);
  --pf-c-alert-group--m-toast--Right: var(--pf-global--spacer--xl);
  --pf-c-alert-group--m-toast--MaxWidth: #{pf-size-prem(600px)};

  // Spacing between alerts
  > .pf-c-alert:not(:last-child) {
    margin-bottom: var(--pf-c-alert-group__item--MarginBottom);
  }

  // Toast positioning modifier
  &.pf-m-toast {
    position: fixed;
    top: var(--pf-c-alert-group--m-toast--Top);
    right: var(--pf-c-alert-group--m-toast--Right);
    width: calc(100% - calc(var(--pf-c-alert-group--m-toast--Right) * 2));
    max-width: var(--pf-c-alert-group--m-toast--MaxWidth);
  }
}
