<div class="{{pfv}}action-list__group{{#if action-list-group--modifier}} {{action-list-group--modifier}}{{/if}}"
  {{#if action-list-group--attribute}}
    {{{action-list-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
