// @debug $action-list; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$action-list} {
  --#{$action-list}--m-icon--spacer: 0;
  --#{$action-list}--child--spacer-base: var(--#{$pf-global}--spacer--md);
  --#{$action-list}--group--spacer-base: var(--#{$pf-global}--spacer--2xl);
}

.#{$action-list},
.#{$action-list}__group {
  --#{$action-list}--child--spacer: var(--#{$action-list}--child--spacer-base);
  --#{$action-list}--group--spacer: var(--#{$action-list}--group--spacer-base);

  display: flex;
  align-items: center;

  > * + * {
    margin-inline-start: var(--#{$action-list}--child--spacer);
  }

  > * + .#{$action-list}__group,
  .#{$action-list}__group + * {
    margin-inline-start: var(--#{$action-list}--group--spacer);
  }

  &.pf-m-icons {
    --#{$action-list}--child--spacer: var(--#{$action-list}--m-icon--spacer);
  }
}
