<div class="{{pfv}}action-list{{#if action-list--modifier}} {{action-list--modifier}}{{/if}}{{#if action-list--IsVertical}} pf-m-vertical{{/if}}"
  {{#if action-list--attribute}}
    {{{action-list--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
