<div class="{{pfv}}action-list__item{{#if action-list-item--modifier}} {{action-list-item--modifier}}{{/if}}"
  {{#if action-list-item--attribute}}
    {{{action-list-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
