@import "../../patternfly";

$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;

$pf-c-box--Padding: $unit-s !default;
$pf-c-box__header--Padding: $unit-s !default;
$pf-c-box__body--Padding: $unit-s !default;
$pf-c-box__footer--Padding: $unit-s !default;

$pf-c-box--Border: 1px solid #000 !default;
$pf-c-box--BackgroundColor: #fff !default;
$pf-c-box--Color: #000 !default;
$pf-c-box__header--Border: 1px solid #000 !default;
$pf-c-box__header--BackgroundColor: #fff !default;
$pf-c-box__header--Color: #000 !default;
$pf-c-box__body--Border: 1px solid #000 !default;
$pf-c-box__body--BackgroundColor: #fff !default;
$pf-c-box__body--Color: #000 !default;
$pf-c-box__footer--Border: 1px solid #000 !default;
$pf-c-box__footer--BackgroundColor: #fff !default;
$pf-c-box__footer--Color: #000 !default;

.pf-c-box {
  display: block;
  padding: $pf-c-box--Padding;
  margin: 0;
  color: $pf-c-box--Color;
  background-color: $pf-c-box--BackgroundColor;
  border: $pf-c-box--Border;

  // module sections
  &__header {
    padding: $pf-c-box__header--Padding;
    color: $pf-c-box__header--Color;
    background-color: $pf-c-box__header--BackgroundColor;
    border: $pf-c-box__header--Border;
  }
  &__body {
    padding: $pf-c-box__body--Padding;
    color: $pf-c-box__body--Color;
    background-color: $pf-c-box__body--BackgroundColor;
    border: $pf-c-box__body--Border;
  }
  &__footer {
    padding: $pf-c-box__footer--Padding;
    color: $pf-c-box__footer--Color;
    background-color: $pf-c-box__footer--BackgroundColor;
    border: $pf-c-box__footer--Border;
  }
  &__items {}
  &__item {}

  // module layouts
  &.is-stack {
    display: flex;
    flex-direction: column;
  }
  &.is-stack > &__body {
    flex: 1;
  }
  &.is-split {
    display: flex;
  }
  &.is-split > &__primary {
    flex: 1;
  }
  &.is-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.is-grid {
    display: grid;
    grid-template-columns: 22.75% 22.75% 22.75% 22.75%;
    grid-column-gap: 3%;
    grid-row-gap: 1rem;
  }
}
