@import "../../patternfly-utilities";

// Component variables 
$pf-c-box--Padding: $pf-global--spacer--xl !default;
$pf-c-box--BackgroundColor: $pf-global--BackgroundColor--light-100 !default;
$pf-c-box--BoxShadow: $pf-global--BoxShadow--sm !default;


.pf-c-box {
  padding: $pf-c-box--Padding;
  background-color: $pf-c-box--BackgroundColor;
  box-shadow: $pf-c-box--BoxShadow;

  &.pf-has-no-Padding {
    padding: 0;
  }
}

