@import "../../patternfly-imports";

.pf-c-badge {
  // Component
  --pf-c-badge--BorderRadius: var(--pf-global--BorderRadius--lg);
  --pf-c-badge--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-badge--FontWeight: var(--pf-global--FontWeight--bold);
  --pf-c-badge--PaddingX: var(--pf-global--spacer--sm);
  --pf-c-badge--Color: var(--pf-global--Color--dark-100);

  // Modifiers
  --pf-c-badge--m-read--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-badge--m-read--Color: var(--pf-global--Color--dark-100);
  --pf-c-badge--m-unread--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-badge--m-unread--Color: var(--pf-global--Color--light-100);

  display: inline-block;
  padding-right: var(--pf-c-badge--PaddingX);
  padding-left: var(--pf-c-badge--PaddingX);
  font-size: var(--pf-c-badge--FontSize);
  font-weight: var(--pf-c-badge--FontWeight);
  color: var(--pf-c-badge--Color);
  background-color: var(--pf-c-badge--BackgroundColor);
  border-radius: var(--pf-c-badge--BorderRadius);

  &.pf-m-read {
    --pf-c-badge--Color: var(--pf-c-badge--m-read--Color);
    --pf-c-badge--BackgroundColor: var(--pf-c-badge--m-read--BackgroundColor);
  }

  &.pf-m-unread {
    --pf-c-badge--Color: var(--pf-c-badge--m-unread--Color);
    --pf-c-badge--BackgroundColor: var(--pf-c-badge--m-unread--BackgroundColor);
  }
}
