<span class="{{pfv}}badge__toggle-icon{{#if badge-icon--modifier}} {{badge-icon--modifier}}{{/if}}"
  {{#if badge-icon--attribute}}
    {{{badge-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-caret-down"></i>
</span>
