@import "../../patternfly-utilities";

.pf-c-badge {
  --pf-c-badge--BorderRadius: var(--pf-global--BorderRadius);
  --pf-c-badge--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-badge--FontWeight: var(--pf-global--FontWeight--bold);
  --pf-c-badge--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-badge--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-badge--m-read--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-badge--m-read--Color: var(--pf-global--Color--dark-100);
  --pf-c-badge--m-unread--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-badge--m-unread--Color: var(--pf-global--Color--light-100);

  display: inline-block;
  padding-right: var(--pf-c-badge--PaddingRight);
  padding-left: var(--pf-c-badge--PaddingLeft);
  font-size: var(--pf-c-badge--FontSize);
  font-weight: var(--pf-c-badge--FontWeight);
  border-radius: var(--pf-c-badge--BorderRadius);

  &.pf-m-read {
    color: var(--pf-c-badge--m-read--Color);
    background-color: var(--pf-c-badge--m-read--BackgroundColor);
  }

  &.pf-m-unread {
    color: var(--pf-c-badge--m-unread--Color);
    background-color: var(--pf-c-badge--m-unread--BackgroundColor);
  }
}
