#ws-html-demos-c-toolbar-toolbar-attribute-value-single-select-filter-desktop,
#ws-html-demos-c-toolbar-toolbar-attribute-value-single-select-filter-on-mobile,
#ws-html-demos-c-toolbar-toolbar-attribute-value-checkbox-select-filter-desktop,
#ws-html-demos-c-toolbar-toolbar-attribute-value-checkbox-select-filter-on-mobile {
  min-height: 420px;
}

#ws-html-demos-c-toolbar-toolbar-attribute-value-single-select-filter-on-desktop,
#ws-html-demos-c-toolbar-toolbar-attribute-value-checkbox-select-filter-on-desktop {
  min-height: 320px;
}

#ws-html-demos-c-toolbar-toolbar-attribute-value-search-filter-on-mobile {
  min-height: 175px;
}

.pf-v6-c-menu-toggle + .pf-v6-c-panel {
  position: absolute;
  top: calc(100% + 2px);
  z-index: var(--pf-t--global--z-index--sm);
}

.ws-html-demos-c-toolbar .pf-v6-c-toolbar__item {
  position: relative;
}