<span class="pf-c-tabs__item-toggle-icon">
  {{#if tabs-item-toggle-icon--IsExpanded}}
    <i class="fas fa-angle-down fa-sm" aria-hidden="true"></i>
  {{else}}
    <i class="fas fa-angle-right fa-sm" aria-hidden="true"></i>
  {{/if}}
</span>
