<button class="pf-c-tabs__button{{#if tabs-button--modifier}} {{tabs-buttons--modifier}}{{/if}}" 
  {{#if tabs-button--attribute}}
    {{{tabs-button--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
