<span class="pf-c-tabs__item-icon{{#if tabs-item-icon--modifier}} {{tabs-item-icon--modifier}}{{/if}}">
  <i class="fas fa-{{tabs-item-icon--name}}"
    {{#if tabs-item-icon--attribute}}
      {{{tabs-item-icon--attribute}}}
    {{/if}}>
  </i>
</span>
