<span class="pf-c-tabs__add{{#if tabs-add--modifier}} {{tabs-add--modifier}}{{/if}}"
  {{#if tabs-add--attribute}}
    {{{tabs-add--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Add tab"'}}
    <i class="fas fa-plus" aria-hidden="true"></i>
  {{/button}}
</span>
