$pf-c-tabs--breakpoint-map: build-breakpoint-map("base", "md", "lg", "xl", "2xl");
$pf-c-tabs--spacer-map: build-spacer-map("none", "sm", "md", "lg", "xl", "2xl");

.pf-c-tabs {
  --pf-c-tabs--Inset: 0;
  --pf-c-tabs--before--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs--before--BorderColor: var(--pf-global--BorderColor--100);

  // Primary tab items
  --pf-c-tabs__item--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-tabs__item--BorderWidth: var(--pf-global--BorderWidth--sm);

  // Tab buttons
  --pf-c-tabs__button--Color: var(--pf-global--Color--200);
  --pf-c-tabs__button--BackgroundColor: transparent;
  --pf-c-tabs__button--OutlineOffset: calc(-1 * var(--pf-global--spacer--xs));
  --pf-c-tabs__button--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-tabs__button--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-tabs__button--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-tabs__button--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-tabs__button--md--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-tabs__button--md--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-tabs__button--before--BorderStyle: solid;
  --pf-c-tabs__item--m-current__button--Color: var(--pf-global--Color--100);
  --pf-c-tabs__item--m-current__button--after--BorderColor: var(--pf-global--active-color--100);

  // Roomy
  --pf-c-tabs--m-roomy__button--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-tabs--m-roomy__button--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-tabs--m-roomy__button--md--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-tabs--m-roomy__button--md--PaddingLeft: var(--pf-global--spacer--xl);

  // Button before
  --pf-c-tabs__button--before--BorderColor: var(--pf-global--BorderColor--100);
  --pf-c-tabs__button--before--BorderWidth: var(--pf-global--BorderWidth--sm);

  // Button after
  --pf-c-tabs__button--after--BorderColor: transparent;
  --pf-c-tabs__button--after--BorderWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-tabs__button--hover--after--BorderColor: var(--pf-global--BorderColor--light-100);
  --pf-c-tabs__button--child--MarginRight: var(--pf-global--spacer--md);

  // Scroll buttons
  --pf-c-tabs__scroll-button--Width: var(--pf-global--spacer--2xl);
  --pf-c-tabs__scroll-button--md--Width: var(--pf-global--spacer--3xl);
  --pf-c-tabs__scroll-button--Color: var(--pf-global--Color--100);
  --pf-c-tabs__scroll-button--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-tabs__scroll-button--BorderStyle: solid;
  --pf-c-tabs__scroll-button--OutlineOffset: calc(-1 * var(--pf-global--spacer--xs));
  --pf-c-tabs__scroll-button--hover--Color: var(--pf-global--active-color--100);
  --pf-c-tabs__scroll-button--disabled--Color: var(--pf-global--disabled-color--200);
  --pf-c-tabs__scroll-button--Transition: margin .125s, transform .125s;
  --pf-c-tabs__scroll-button--before--BorderColor: var(--pf-c-tabs__button--before--BorderColor);
  --pf-c-tabs__scroll-button--before--BorderWidth: var(--pf-c-tabs__button--before--BorderWidth);

  // Vertical
  --pf-c-tabs--m-vertical__button--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-tabs--m-vertical__button--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-tabs--m-vertical--Inset: var(--pf-global--spacer--lg);

  // Box
  --pf-c-tabs--m-box--Background: var(--pf-global--BackgroundColor--300);
  --pf-c-tabs__item--m-current__button--Background: var(--pf-global--BackgroundColor--100);
  --pf-c-tabs--m-vertical__scroll-button--PaddingTop: calc(var(--pf-global--spacer--xl) / 2);
  --pf-c-tabs--m-vertical__scroll-button--PaddingBottom: calc(var(--pf-global--spacer--xl) / 2);

  // Vertical box
  --pf-c-tabs--m-vertical--m-box--Inset: var(--pf-global--spacer--xl);
  --pf-c-tabs__scroll-button--Width: var(--pf-c-tabs__scroll-button--md--Width);

  @media screen and (min-width: $pf-global--breakpoint--md) {
    // Button
    --pf-c-tabs__button--PaddingTop: var(--pf-c-tabs__button--md--PaddingTop);
    --pf-c-tabs__button--PaddingBottom: var(--pf-c-tabs__button--md--PaddingBottom);
    --pf-c-tabs--m-roomy__button--PaddingRight: var(--pf-c-tabs--m-roomy__button--md--PaddingRight);
    --pf-c-tabs--m-roomy__button--PaddingLeft: var(--pf-c-tabs--m-roomy__button--md--PaddingLeft);

    // Scroll button
    --pf-c-tabs__scroll-button--Width: var(--pf-c-tabs__scroll-button--md--Width);
  }

  position: relative;
  display: flex;
  padding-right: var(--pf-c-tabs--Inset);
  padding-left: var(--pf-c-tabs--Inset);
  overflow: hidden;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: var(--pf-c-tabs--before--BorderWidth) solid var(--pf-c-tabs--before--BorderColor);
  }

  &.pf-m-secondary::before,
  &.pf-m-no-border::before {
    content: none;
  }

  // Filled style
  &.pf-m-fill {
    .pf-c-tabs__list {
      flex-basis: 100%;
    }

    .pf-c-tabs__item {
      flex-grow: 1;
    }

    .pf-c-tabs__button {
      flex-basis: 100%;
      justify-content: center;
    }
  }

  // Scrollable, scroll buttons enabled
  &.pf-m-scrollable {
    .pf-c-tabs__scroll-button {
      visibility: visible;
      opacity: 1;

      &::before {
        border-bottom-color: var(--pf-c-tabs__scroll-button--before--BorderColor);
        border-bottom-width: var(--pf-c-tabs__scroll-button--before--BorderWidth);
      }
    }

    // Scroll buttons
    .pf-c-tabs__scroll-button:nth-of-type(1) {
      margin-right: 0;
      border-right-width: var(--pf-c-tabs__button--before--BorderWidth);
      transform: translateX(0);
    }

    .pf-c-tabs__scroll-button:nth-of-type(2) {
      margin-left: 0;
      border-left-width: var(--pf-c-tabs__button--before--BorderWidth);
      opacity: 1;
      transform: translateX(0);
    }

    &.pf-m-secondary .pf-c-tabs__scroll-button,
    &.pf-m-no-border .pf-c-tabs__scroll-button {
      border-bottom-color: transparent;
      border-bottom-width: 0;
    }

    .pf-c-tabs__item:first-child .pf-c-tabs__button::before {
      border-left-width: 0;
    }

    &.pf-m-no-border .pf-c-tabs__button::before,
    &.pf-m-no-border .pf-c-tabs__scroll-button::before {
      border-bottom-width: 0;
    }
  }

  // Box
  &.pf-m-box {
    --pf-c-tabs__button--BackgroundColor: var(--pf-c-tabs--m-box--Background);

    &::before {
      top: calc(100% - var(--pf-c-tabs--before--BorderWidth));
    }

    .pf-c-tabs__button::after {
      border-top-color: var(--pf-c-tabs__button--after--BorderColor);
      border-top-width: var(--pf-c-tabs__button--after--BorderWidth);
      border-bottom-width: 0;
    }

    .pf-c-tabs__button::before {
      border-bottom-width: var(--pf-c-tabs__button--before--BorderWidth);
      border-left-width: var(--pf-c-tabs__button--before--BorderWidth);
    }

    // stylelint-disable selector-max-class
    .pf-c-tabs__item.pf-m-current .pf-c-tabs__button {
      --pf-c-tabs__button--BackgroundColor: var(--pf-c-tabs__item--m-current__button--Background);
    }

    .pf-c-tabs__item.pf-m-current .pf-c-tabs__button::before {
      border-right-width: var(--pf-c-tabs__button--before--BorderWidth);
      border-bottom-color: var(--pf-c-tabs__button--BackgroundColor);
    }

    .pf-c-tabs__item:not(.pf-m-current):first-child .pf-c-tabs__button::before {
      border-left-width: 0;
    }

    .pf-c-tabs__item.pf-m-current + .pf-c-tabs__item .pf-c-tabs__button::before {
      border-left-width: 0;
    }

    .pf-c-tabs__item.pf-m-current:last-child .pf-c-tabs__button::before {
      border-right-width: 0;
    }
    // stylelint-enable
  }

  // Vertical
  &.pf-m-vertical {
    --pf-c-tabs--m-vertical--MaxWidth: #{pf-size-prem(250px)};
    --pf-c-tabs--Inset: var(--pf-c-tabs--m-vertical--Inset);

    padding: var(--pf-c-tabs--Inset) 0 var(--pf-c-tabs--Inset) 0;

    &::before {
      top: 0;
      bottom: 0;
      left: 0;
      border-bottom: none;
      border-left: var(--pf-c-tabs--before--BorderWidth) solid var(--pf-c-tabs--before--BorderColor);
    }

    .pf-c-tabs__list {
      flex-direction: column;
      max-width: var(--pf-c-tabs--m-vertical--MaxWidth);
      border: 0;
    }

    .pf-c-tabs__button {
      --pf-c-tabs__button--PaddingTop: var(--pf-c-tabs--m-vertical__button--PaddingTop);
      --pf-c-tabs__button--PaddingBottom: var(--pf-c-tabs--m-vertical__button--PaddingBottom);

      max-width: 100%;
      text-align: left;

      &::after {
        border-top-width: 0;
        border-bottom-width: 0;
        border-left-color: var(--pf-c-tabs__button--after--BorderColor);
        border-left-width: var(--pf-c-tabs__button--after--BorderWidth);
      }
    }

    .pf-c-tabs__item-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Box, vertical
  &.pf-m-box.pf-m-vertical {
    --pf-c-tabs--Inset: var(--pf-c-tabs--m-vertical--m-box--Inset);

    &::before {
      left: calc(100% - var(--pf-c-tabs--before--BorderWidth));
    }

    // offset left border by top border
    .pf-c-tabs__button::after {
      top: calc(var(--pf-c-tabs__button--before--BorderWidth) * -1);
    }

    // stylelint-disable selector-max-class
    .pf-c-tabs__item .pf-c-tabs__button::before {
      border-right-width: var(--pf-c-tabs__button--before--BorderWidth);
      border-bottom-color: var(--pf-c-tabs__button--before--BorderColor);
      border-left-width: 0;
    }

    .pf-c-tabs__item:last-child .pf-c-tabs__button::before {
      border-bottom-width: 0;
    }

    .pf-c-tabs__item.pf-m-current .pf-c-tabs__button::before {
      border-right-color: var(--pf-c-tabs__item--m-current__button--Background);
      border-right-width: var(--pf-c-tabs__button--before--BorderWidth);
    }

    .pf-c-tabs__item.pf-m-current:first-child .pf-c-tabs__button::before {
      border-top-width: var(--pf-c-tabs__button--before--BorderWidth);
    }

    .pf-c-tabs__item.pf-m-current:last-child .pf-c-tabs__button::before {
      border-bottom-width: var(--pf-c-tabs__button--before--BorderWidth);
    }
    // stylelint-enable
  }
}

// Tab list
.pf-c-tabs__list {
  @include pf-overflow-hide-scroll;

  position: relative;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

// Tabs item
.pf-c-tabs__item {
  display: flex;
  flex: none;

  // Current
  &.pf-m-current {
    --pf-c-tabs__button--Color: var(--pf-c-tabs__item--m-current__button--Color);
    --pf-c-tabs__button--after--BorderColor: var(--pf-c-tabs__item--m-current__button--after--BorderColor);
    --pf-c-tabs__button--hover--after--BorderColor: var(--pf-c-tabs__item--m-current__button--after--BorderColor);
  }

  // If focussed and hovered
  &:not(.pf-m-current) .pf-c-tabs__button:focus::after {
    --pf-c-tabs__button--after--BorderColor: transparent;
  }
}

// Buttons
.pf-c-tabs__button,
.pf-c-tabs__scroll-button {
  border: 0;

  // Button borders
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-style: var(--pf-c-tabs__button--before--BorderStyle);
    border-width: 0;
  }
}

// Tab button
.pf-c-tabs__button {
  position: relative;
  display: flex;
  flex: 1;
  padding: var(--pf-c-tabs__button--PaddingTop) var(--pf-c-tabs__button--PaddingRight) var(--pf-c-tabs__button--PaddingBottom) var(--pf-c-tabs__button--PaddingLeft);
  color: var(--pf-c-tabs__button--Color);
  user-select: none;
  background-color: var(--pf-c-tabs__button--BackgroundColor);
  border: 0;
  outline-offset: var(--pf-c-tabs__button--OutlineOffset);

  &::before {
    border-color: var(--pf-c-tabs__button--before--BorderColor);
  }

  &::after {
    border-color: var(--pf-c-tabs__button--after--BorderColor);
    border-bottom-width: var(--pf-c-tabs__button--after--BorderWidth);
  }

  // Tab item hover state
  &:hover::after {
    --pf-c-tabs__button--after--BorderColor: var(--pf-c-tabs__button--hover--after--BorderColor);
  }

  &.pf-m-hover,
  &:hover {
    text-decoration: none;
  }

  .pf-c-tabs__item-icon,
  .pf-c-tabs__item-text {
    margin-right: var(--pf-c-tabs__button--child--MarginRight);

    &:last-child {
      --pf-c-tabs__button--child--MarginRight: 0;
    }
  }

  .pf-c-tabs.pf-m-roomy & {
    --pf-c-tabs__button--PaddingRight: var(--pf-c-tabs--m-roomy__button--PaddingRight);
    --pf-c-tabs__button--PaddingLeft: var(--pf-c-tabs--m-roomy__button--PaddingLeft);
  }
}

// Scroll buttons
.pf-c-tabs__scroll-button {
  flex: none;
  width: var(--pf-c-tabs__scroll-button--Width);
  line-height: 1;
  color: var(--pf-c-tabs__scroll-button--Color);
  visibility: hidden;
  background-color: var(--pf-c-tabs__scroll-button--BackgroundColor);
  outline-offset: var(--pf-c-tabs__scroll-button--OutlineOffset);
  opacity: 0;
  transition: var(--pf-c-tabs__scroll-button--Transition);

  &:hover,
  &:active,
  &:focus {
    --pf-c-tabs__scroll-button--Color: var(--pf-c-tabs__scroll-button--hover--Color);
  }

  &:nth-of-type(1) {
    margin-right: calc(var(--pf-c-tabs__scroll-button--Width) * -1);
    transform: translateX(-100%);

    &::before {
      border-right-color: var(--pf-c-tabs__scroll-button--before--BorderColor);
      border-right-width: var(--pf-c-tabs__scroll-button--before--BorderWidth);
    }
  }

  &:nth-of-type(2) {
    margin-left: calc(var(--pf-c-tabs__scroll-button--Width) * -1);
    transform: translateX(100%);

    &::before {
      border-left-color: var(--pf-c-tabs__scroll-button--before--BorderColor);
      border-left-width: var(--pf-c-tabs__scroll-button--before--BorderWidth);
    }
  }

  &:disabled {
    --pf-c-tabs__scroll-button--Color: var(--pf-c-tabs__scroll-button--disabled--Color);

    pointer-events: none;
  }

  &::after {
    content: none;
  }
}

// stylelint-disable no-duplicate-selectors, max-nesting-depth
.pf-c-tabs {
  @each $breakpoint, $breakpoint-value in $pf-c-tabs--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-apply-breakpoint($breakpoint, $pf-c-tabs--breakpoint-map) {
      @each $spacer, $spacer-value in $pf-c-tabs--spacer-map {
        &.pf-m-inset-#{$spacer}#{$breakpoint-name} {
          --pf-c-tabs--Inset: #{$spacer-value};
        }
      }
    }
  }
}
// stylelint-enable
