<section class="pf-c-tabs__section"{{#if tabs-section--modifier}} {{tabs-section--modifier}}{{/if}}
  {{#if tabs-section--attribute}}
    {{{tabs-section--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</section>
