<span class="{{pfv}}tabs__link-toggle-icon{{#if tabs-link-toggle-icon--modifier}} {{tabs-link-toggle-icon--modifier}}{{/if}}"
  {{#if tabs-link-toggle-icon--attribute}}
    {{{expandable-section-toggle-icon--attribute}}}
  {{/if}}>
    {{pfIcon "rh-microns-caret-down"}}
</span>
