<span class="{{pfv}}tabs__toggle-icon{{#if tabs-toggle-icon--modifier}} {{tabs-toggle-icon--modifier}}{{/if}}"
  {{#if tabs-toggle-icon--attribute}}
    {{{tabs-toggle-icon--attribute}}}
  {{/if}}>
  {{pfIcon "rh-microns-caret-down"}}
</span>
