<span class="{{pfv}}tabs__item-icon{{#if tabs-item-icon--modifier}} {{tabs-item-icon--modifier}}{{/if}}"
  {{#if tabs-item-icon--attribute}}
    {{{tabs-item-icon--attribute}}}
  {{/if}}>
  {{pfIcon tabs-item-icon--name}}
</span>
