<span class="{{pfv}}tabs__item-action-icon{{#if tabs-item-action-icon--modifier}} {{tabs-item-action-icon--modifier}}{{/if}}"
  {{#if tabs-item-action-icon--attribute}}
    {{{tabs-item-action-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
