<div class="{{pfv}}tabs__toggle-button{{#if tabs-toggle-button--modifier}} {{tabs-toggle-button--modifier}}{{/if}}"
  {{#if tabs-toggle-button--attribute}}
    {{{tabs-toggle-button--attribute}}}
  {{/if}}>
  {{#> button
    button--IsPlain=true
    button--icon-template="tabs-toggle-icon"
    button--IsIcon=tabs--IsLegacy
    button--aria-label="Details"
    button--AriaExpanded=(ternary tabs--IsExpanded tabs--IsExpanded false)
    button--attribute=(concat 'aria-label="Details" id="' tabs--id '-toggle-button" aria-labelledby="' tabs--id '-toggle-text ' tabs--id '-toggle-button"')}}
    {{#unless tabs--IsLegacy}}
      {{> tabs-toggle-text}}
    {{/unless}}
  {{/button}}
</div>
