<span class="{{pfv}}tabs__add{{#if tabs-add--modifier}} {{tabs-add--modifier}}{{/if}}"
  {{#if tabs-add--attribute}}
    {{{tabs-add--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--IsIcon=true button--icon="plus" button--attribute='aria-label="Add tab"'}}
</span>
