<li class="pf-c-tabs__item{{#if tabs-item--current}} pf-m-current{{/if}}{{#if tabs-item--modifier}} {{tabs-item--modifier}}{{/if}}" 
  {{#if tabs-item--attribute}}
    {{{tabs-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
