<ul class="pf-c-tabs__list{{#if tabs-list--modifier}} {{tabs-list--modifier}}{{/if}}" 
  {{#if tabs-list--attribute}}
    {{{tabs-list--attribute}}}
  {{/if}}>
  <button class="pf-c-tabs__scroll-button" aria-label="Scroll left" 
  {{#if tabs-scroll-buttons--attribute}}
    {{{tabs-scroll-buttons--attribute}}}
  {{/if}}>
    <i class="fas fa-angle-left" hidden></i>
  </button>
  {{> @partial-block}}
  <button class="pf-c-tabs__scroll-button" aria-label="Scroll right" 
  {{#if tabs-scroll-buttons--attribute}}
    {{{tabs-scroll-buttons--attribute}}}
  {{/if}}>
    <i class="fas fa-angle-right" hidden></i>
  </button>
</ul>
