<button class="pf-c-tabs__scroll-button {{#if tabs-scroll-button--modifier}} {{tabs-scroll-button--modifier}}{{/if}}"
  {{#if tabs-scroll-button--attribute}}
    {{{tabs-scroll-button--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>