<div class="pf-c-tabs__toggle{{#if tabs-toggle--modifier}} {{tabs-toggle--modifier}}{{/if}}"
  {{#if tabs-toggle--attribute}}
    {{{tabs-toggle--attribute}}}
  {{/if}}>
  {{> tabs-toggle-button}}
  {{#if tabs--IsLegacy}}
    {{> tabs-toggle-text}}
  {{/if}}
</div>
