{{#> wizard-modal}}
{{#> wizard-finite}}

{{#> modal}}
  {{#> backdrop}}
    {{#> bullseye}}
      {{#> modal-box modal-box--modifier="pf-m-lg pf-m-dark" modal-box--attribute='aria-labelledby="wizard-modal-simple-title" aria-describedby="wizard-modal-simple-description"'}}
        {{#> wizard-finite-header}}
          {{#> modal-box-close}}
            {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close Dialog"'}}
              <i class="fas fa-times"></i>
            {{/button}}
          {{/modal-box-close}}

          {{#> wizard-finite-title-area}}
            {{#> title titleType="h1" title--modifier="pf-m-2xl" title--attribute='id="wizard-modal-simple-title"'}}
                Wizard title
            {{/title}}
            {{#> wizard-finite-description}}
              {{#> title titleType="h2" title--attribute='id="wizard-modal-simple-description"'}}
                Wizard description
              {{/title}}
            {{/wizard-finite-description}}
          {{/wizard-finite-title-area}}

            <div class="pf-c-wizard-finite__sequence">
              {{#> sequence sequence--attribute='aria-label="sequence"'}}
                {{#> sequence-control sequence-control--modifier="pf-m-start" sequence-control--attribute='aria-label="Start"'}}
                  {{#> sequence-control-icon sequence-control-icon--start="true"}}
                  {{/sequence-control-icon}}
                {{/sequence-control}}
                {{#> sequence-list sequence-list--attribute='role="list"'}}
                  {{#> sequence-item}}
                    {{#> sequence-link sequence-link--modifier="pf-m-current" sequence-link--attribute='href="#"'}}
                      {{#> sequence-content}}
                        {{#> sequence-content-title}}Step One{{/sequence-content-title}}
                        {{#> sequence-content-status}}Status{{/sequence-content-status}}
                      {{/sequence-content}}
                    {{/sequence-link}}
                  {{/sequence-item}}
                  {{#> sequence-item}}
                    {{#> sequence-link sequence-link--attribute='href="#"'}}
                      {{#> sequence-content}}
                        {{#> sequence-content-title}}Step Two{{/sequence-content-title}}
                        {{#> sequence-content-status}}Status{{/sequence-content-status}}
                      {{/sequence-content}}
                    {{/sequence-link}}
                  {{/sequence-item}}
                  {{#> sequence-item}}
                    {{#> sequence-link sequence-link--attribute='href="#"'}}
                      {{#> sequence-content}}
                        {{#> sequence-content-title}}Step Three{{/sequence-content-title}}
                        {{#> sequence-content-status}}Status{{/sequence-content-status}}
                      {{/sequence-content}}
                    {{/sequence-link}}
                  {{/sequence-item}}
                  {{#> sequence-item}}
                    {{#> sequence-link sequence-link--attribute='href="#"'}}
                      {{#> sequence-content}}
                        {{#> sequence-content-title}}Step Four{{/sequence-content-title}}
                        {{#> sequence-content-status}}Status{{/sequence-content-status}}
                      {{/sequence-content}}
                    {{/sequence-link}}
                  {{/sequence-item}}
                  {{#> sequence-item}}
                    {{#> sequence-link sequence-link--attribute='href="#"'}}
                      {{#> sequence-content}}
                        {{#> sequence-content-title}}Step Five{{/sequence-content-title}}
                        {{#> sequence-content-status}}Status{{/sequence-content-status}}
                      {{/sequence-content}}
                    {{/sequence-link}}
                  {{/sequence-item}}
                {{/sequence-list}}
                {{#> sequence-control sequence-control--modifier="pf-m-end" sequence-control--attribute='aria-label="End"'}}
                  {{#> sequence-control-icon sequence-control-icon--end="true"}}
                  {{/sequence-control-icon}}
                {{/sequence-control}}
              {{/sequence}}
            </div>

        {{/wizard-finite-header}}

        {{#> wizard-finite-content}}
          <p>Wizard content</p>
        {{/wizard-finite-content}}

      {{/modal-box}}
    {{/bullseye}}
  {{/backdrop}}
{{/modal}}

{{/wizard-finite}}
{{/wizard-modal}}
