{{#> wizard-modal}}
{{#> wizard-finite}}

{{#> modal}}
  {{#> backdrop}}
    {{#> bullseye}}
      {{#> modal-box modal-box--modifier="pf-m-lg pf-m-dark" modal-box--attributes='aria-labelledby="modal-title" aria-describedby="modal-description"'}}
        {{#> wizard-finite-header}}
          {{#> modal-box-close}}
            {{#> button btnClass="pf-m-plain" btnAttributes='aria-label="Close Dialog"'}}
              <i class="fas fa-times"></i>
            {{/button}}
          {{/modal-box-close}}

          {{#> wizard-finite-title}}
            {{#> title titleType="h1" title--modifier="pf-m-2xl"}}
                Wizard title
            {{/title}}
            {{#> title titleType="h1" title--modifier="pf-m-md pf-c-wizard-finite__description"}}
                Wizard description
            {{/title}}
          {{/wizard-finite-title}}

            {{!-- Sequence will be added here --}}
            <div class="pf-c-wizard-finite__sequence">
              sequence here
            </div>

        {{/wizard-finite-header}}

        {{#> wizard-finite-content}}
          <p>Wizard content</p>
        {{/wizard-finite-content}}

      {{/modal-box}}
    {{/bullseye}}
  {{/backdrop}}
{{/modal}}

{{/wizard-finite}}
{{/wizard-modal}}
