{{#> wizard-modal}}
{{#> wizard-finite}}

{{#> modal}}
  {{#> backdrop}}
    {{#> bullseye}}
      {{#> modal-box modal-box--modifier="pf-m-lg pf-m-dark" modal-box--attribute='aria-labelledby="modal-step3-title" aria-describedby="modal-step3-description"'}}
        {{#> wizard-finite-header}}
          {{#> modal-box-close}}
            {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close Dialog"'}}
              <i class="fas fa-times"></i>
            {{/button}}
          {{/modal-box-close}}

          {{#> wizard-finite-title-area}}
            {{#> title titleType="h1" title--modifier="pf-m-2xl" title--attribute='id="wizard-step3-title"'}}
                Wizard title
            {{/title}}
            {{#> wizard-finite-description}}
              {{#> title titleType="h2"  title--attribute='id="wizard-step3-description"'}}
                Wizard description
              {{/title}}
            {{/wizard-finite-description}}
          {{/wizard-finite-title-area}}

            <div class="pf-c-wizard-finite__sequence">
              {{#> sequence sequence--attribute='aria-label="sequence"'}}
                {{#> sequence-control sequence-control--modifier="pf-m-start" sequence-control--attribute='aria-label="Start"'}}
                  {{#> sequence-control-icon sequence-control-icon--start="true"}}
                  {{/sequence-control-icon}}
                {{/sequence-control}}
                {{#> sequence-list sequence-list--attribute='role="list"'}}
                  {{#> sequence-item}}
                    {{#> sequence-link sequence-link--attribute='href="#"'}}
                      {{#> sequence-content}}
                        {{#> sequence-content-title}}Information{{/sequence-content-title}}
                        {{#> sequence-content-status}}Status{{/sequence-content-status}}
                      {{/sequence-content}}
                    {{/sequence-link}}
                  {{/sequence-item}}
                  {{#> sequence-item}}
                    {{#> sequence-link sequence-link--attribute='href="#"'}}
                      {{#> sequence-content}}
                        {{#> sequence-content-title}}Configuration{{/sequence-content-title}}
                        {{#> sequence-content-status}}Status{{/sequence-content-status}}
                      {{/sequence-content}}
                    {{/sequence-link}}
                  {{/sequence-item}}
                  {{#> sequence-item}}
                    {{#> sequence-link sequence-link--modifier="pf-m-current" sequence-link--attribute='href="#"'}}
                      {{#> sequence-content}}
                        {{#> sequence-content-title}}Review{{/sequence-content-title}}
                        {{#> sequence-content-status}}Status{{/sequence-content-status}}
                      {{/sequence-content}}
                    {{/sequence-link}}
                  {{/sequence-item}}
                {{/sequence-list}}
                {{#> sequence-control sequence-control--modifier="pf-m-end" sequence-control--attribute='aria-label="End"'}}
                  {{#> sequence-control-icon sequence-control-icon--end="true"}}
                  {{/sequence-control-icon}}
                {{/sequence-control}}
              {{/sequence}}
            </div>

        {{/wizard-finite-header}}

        {{#> wizard-finite-content}}
          {{#> title titleType="h3" title--modifier="pf-m-md pf-u-mb-md"}}
              Configuration Details
          {{/title}}

          {{#> form}}
            {{#> content}}
            <p>Review the information below and click Finish to configure your project. Use the Back button to make changes.</p>
            <dl>
              <dt>Account Name</dt>
              <dd>Admin</dd>
              <dt>Project</dt>
              <dd>My Project</dd>
              <dt>Version</dt>
              <dd>2.4</dd>
              <dt>Git Repository</dt>
              <dd>https://github.com/openshirt/httpd-ex.git</dd>
            </dl>
            {{/content}}
            {{#> form-group form-group--modifier="pf-m-action"}}
              {{#> toolbar toolbar--modifier="pf-u-justify-content-flex-end"}}
                {{#> toolbar-group}}
                  {{#> toolbar-item}}
                    {{#> button button--modifier="pf-m-link"}}
                      Cancel
                    {{/button}}
                  {{/toolbar-item}}
                {{/toolbar-group}}
                {{#> toolbar-group}}
                  {{#> toolbar-item}}
                    {{#> button button--modifier="pf-m-secondary"}}
                      Back
                    {{/button}}
                  {{/toolbar-item}}
                {{/toolbar-group}}
                {{#> toolbar-group}}
                  {{#> toolbar-item}}
                    {{#> button button--modifier="pf-m-primary"}}
                      Next
                    {{/button}}
                  {{/toolbar-item}}
                {{/toolbar-group}}
              {{/toolbar}}
            {{/form-group}}
          {{/form}}

        {{/wizard-finite-content}}  

      {{/modal-box}}
    {{/bullseye}}
  {{/backdrop}}
{{/modal}}

{{/wizard-finite}}
{{/wizard-modal}}
