  <div class="pf-c-progress__bar{{#if progress-bar--modifier}} {{progress-bar--modifier}}{{/if}}"
    {{#if progress-bar--attribute}}
        {{{progress-bar--attribute}}}
    {{/if}}>
    {{> progress-indicator}}
</div>