{{!-- This provides the success or danger icon --}}
{{#if progress--success}}
  <span class="pf-c-progress__status-icon"><i class="fas fa-check-circle"></i></span>
{{/if}}
{{#if progress--danger}}
  <span class="pf-c-progress__status-icon"><i class="fas fa-times-circle"></i></span>
{{/if}}