{{!-- <div class="pf-c-progress__status">
  {{#unless progress--inside}}
    {{#unless progress--no-measure}}
      {{>progress__measure}}
        {{/unless}}
    {{/unless}}
  {{> progress__status-icon}}
  </div> --}}