<div class="{{pfv}}progress__helper-text {{#if progress-helper-text--modifier}} {{progress-helper-text--modifier}}{{/if}}"
  {{#if progress-helper-text--attribute}}
    {{{progress-helper-text--attribute}}}
  {{/if}}>
  {{#if helper-text--value}}
    {{> helper-text}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
