<div class="pf-c-progress__status{{#if progress-status--modifier}} {{progress-status--modifier}}{{/if}}"
  aria-hidden="true"
  {{#if progress-status--attribute}}
    {{{progress-status--attribute}}}
  {{/if}}>
  {{#unless progress--inside}}
    {{#unless progress--no-measure}}
      {{> progress-measure}}
    {{/unless}}
  {{/unless}}
  {{!-- This provides the success, warning, or danger icon --}}
  {{#if progress--success}}
    {{#> progress-status-icon progress-status-icon--type="check-circle"}}{{/progress-status-icon}}
  {{/if}}
  {{#if progress--warning}}
    {{#> progress-status-icon progress-status-icon--type="exclamation-triangle"}}{{/progress-status-icon}}
  {{/if}}
  {{#if progress--danger}}
    {{#> progress-status-icon progress-status-icon--type="times-circle"}}{{/progress-status-icon}}
  {{/if}}
</div>