//
// PatternFly Functions
// --------------------------------------------------

// Transform px to rems
@function pf-strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function pf-size-prem($pxval, $base: $pf-global--space-size-root) {
  @return pf-strip-unit($pxval) / $base * 1rem;
}

@function pf-font-prem($pxval, $base: $pf-global--font-size-root) {
  @return pf-strip-unit($pxval) / $base * 1rem;
}


// Color contrast
@function pf-color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $pf-global-yiq-contrasted-threshold) {
    @return $pf-global-yiq-text-dark;
  } @else {
    @return $pf-global-yiq-text-light;
  }
}

// Retrieve color Sass maps
@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

// Request a theme color level
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $pf-global-theme-color-interval);
}
