/// Resets list.
/// @group mixins
/// @moduleType mixin
@mixin list-reset {
  padding-left: 0;
  list-style: none;
}

/// Base for all of the layout mixins.
/// @group mixins
/// @moduleType mixin
@mixin Layout {
  box-sizing: border-box;
  display: grid;
  // padding: 0;
  margin: 0;

  > *,
  > *::before,
  > *::after {
    box-sizing: border-box;
    // padding: 0;
    margin: 0;
  }
}

/// Positions the children out of the flow of it's current context.
/// @group mixins
/// @moduleType mixin
@mixin BreakAwayLayout {
  @include Layout;
  position: fixed;
  top: 0;
  left: 0;
}

/// Centers a single child horizontally and vertically.
/// @group mixins
/// @moduleType mixin
@mixin BullseyeLayout {
  @include Layout;
  display: flex;
  align-items: center;
  justify-content: center;
  & > *:not(:first-child) {
    display: none;
  }
}

/// Positions the children horizontally, and controls the width of the children.
/// @group mixins
/// @moduleType mixin
/// @parameter {Length} $maximum-width [1280px] the maximum width of the container
@mixin ContainerLayout($maximum-width: 1280px) {
  @include Layout;
  grid-template: auto / 100%;
  justify-items: center;

  & > * {
    max-width: $maximum-width;
  }
}

/// Creates flexbox fallback, with gutters for ie11 
/// @group mixins
/// @moduleType mixin
/// @parameter {Suffix} xs, sm, md, lg, xl, null
@mixin FlexboxFallback($suffix: null) {
  // Generate column widths
  // If suffix == default, ignore the suffix
  $grid-unit: 100% / 12;

  @for $col-num from 1 through 12 {
    > .pf-is-#{$col-num}-col#{$suffix} {
      flex-basis: percentage($col-num/12);
      @supports (display: grid) {
        flex-basis: 0;
      }
    }
  }

  @for $col-num from 1 through 12 {
    > .pf-is-offset-#{$col-num}-col#{$suffix} {
      margin-left: calc(#{$grid-unit} * #{$col-num});
      @supports (display: grid) {
        margin-left: 0;
      }
    }
  }
}

/// Creates flexbox fallback, with gutters for ie11 
/// @group mixins
/// @moduleType mixin
/// @parameter {Suffix} xs, sm, md, lg, xl, null
@mixin FlexboxWithGuttersFallback($suffix: null) {
  // Generate column widths
  $grid-unit: 100% / 12;
  &.pf-has-gutters {
    @for $col-num from 1 through 12 {
      $flex-basis: percentage($col-num/12);

      > .pf-is-#{$col-num}-col#{$suffix} {
        flex-basis: calc(#{$flex-basis} - #{$pf-global--gutter});
        @supports (display: grid) {
          flex-basis: 0;
        }
      }
    }

    @for $col-num from 1 through 12 {
      > .pf-is-offset-#{$col-num}-col#{$suffix} {
        margin-left: calc(#{$grid-unit} * #{$col-num} + #{$pf-global--gutter/2});
        @supports (display: grid) {
          margin-left: unset;
        }
      }
    }
  }
}

/// Creates grid item 
/// @group mixins
/// @moduleType mixin
/// @parameter {Suffix} xs, sm, md, lg, xl, null
@mixin GridItemModifiers($suffix: null) {
  // generate column span modifiers
  @for $col-num from 1 through 12 {
    > .pf-is-#{$col-num}-col#{$suffix} {
      grid-column-start: auto;
      grid-column-end: span $col-num;
    }
  }

  // generate column offset modfiers
  @for $col-num from 1 through 12 {
    > .pf-is-offset-#{$col-num}-col#{$suffix} {
      grid-column-start: col-start $col-num + 1;
    }
  }

  // generate row span modfiers
  @for $row-num from 1 through 12 {
    > .pf-is-#{$row-num}-row#{$suffix} {
      grid-row: span $row-num;
    }
  }
}

/// Media query used to create responsive grid items 
/// @group mixins
/// @moduleType mixin
/// @parameter {Point} xs, sm, md, lg, xl, null
@mixin GridMediaQuery($point) {
  @if ($point == "xs") {
    @media screen and (max-width: $pf-global--breakpoint--sm) {
      @content;
    }
  } @else if ($point == "sm" or $point == "" or $point == null) {
    @media screen and (min-width: $pf-global--breakpoint--sm) {
      @content;
    }
  } @else if ($point == "md") {
    @media screen and (min-width: $pf-global--breakpoint--md) {
      @content;
    }
  } @else if ($point == "lg") {
    @media screen and (min-width: $pf-global--breakpoint--lg) {
      @content;
    }
  } @else if ($point == "xl") {
    @media screen and (min-width: $pf-global--breakpoint--xl) {
      @content;
    }
  }
}

/// Positions children on the same axis, and centers those children on the axis.
/// @group mixins
/// @moduleType mixin
@mixin LevelLayout {
  @include Layout;
  grid-template: 1fr / auto;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  align-items: center;
}

/// Layers the children over one another.
/// @group mixins
/// @moduleType mixin
@mixin PileLayout {
  @include Layout;
}

/// Positions the children on the same axis.
/// @group mixins
/// @moduleType mixin
@mixin SplitLayout {
  @include Layout;
  grid-template: 1fr / auto;
  grid-auto-flow: column;
  grid-auto-columns: auto;
}

/// Positions children one after the other vertically.
/// @group mixins
/// @moduleType mixin
@mixin StackLayout {
  @include Layout;
}

/// Positions children on the same row, but allows them to be place on the next row if space doesn't permit. The children have controlled dimensions.
/// @group mixins
/// @moduleType mixin
/// @parameter {Number} $columns [5] the number of columns in the tile-board (default - 5)
@mixin TileBoardLayout($columns: 5) {
  @include Layout;
  grid-template-columns: repeat($columns, 1fr);
}


/// Button variants
/// @group mixins
/// @moduleType mixin


@mixin pf-button-variant($background, $color, $border, $hover-background, $hover-border: $hover-background, $active-background: darken($background, 10%), $active-border: $active-background) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &.pf-is-focus {
    color: pf-color-yiq($hover-background);
    background-color: $hover-background;
    border-color: $hover-border;
  }

  &:focus,
  &.pf-is-focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba($border, .5);
  }

  // Disabled comes first so active can properly restyle
  &.pf-is-disabled,
  &:disabled {
    color: pf-color-yiq($background);
    background-color: $background;
    border-color: $border;
    opacity: .5;
  }
}

