// This file is for initial variable values.
// All variables should have a valid css value,
// and use !default so they can be overwritten.

// `$pf-global--concept--PropiertyCamelCase--modifier--state`

// Patternfly Options
//
// Quickly modify global styling by enabling or disabling optional features.

$pf-global--enable-font-overpass-cdn:     false !default;
$pf-global--load-pf-3:                    false !default;
$pf-global--enable-reset:                 true !default;


// Patternfly uses the default root size of the browser, it assumes a 16px base
// since most browser root size is 16. This variables is just to make the
// transformation from px to rem.
$pf-global--font-size-root:  16 !default; //for fonts
$pf-global--space-size-root: 16 !default; // for spaces


// Colors
// Background color
$pf-global--BackgroundColor--light-100:     $pf-color-white !default;
$pf-global--BackgroundColor--light-200:     $pf-color-black-100 !default;
$pf-global--BackgroundColor--light-300:     $pf-color-black-200 !default;

$pf-global--BackgroundColor--dark-100:      $pf-color-black-900 !default;
$pf-global--BackgroundColor--dark-200:    $pf-color-black-800 !default;

// Text color
$pf-global--Color--light-100:      $pf-color-white !default;
$pf-global--Color--light-200:      $pf-color-black-200 !default;

$pf-global--Color--dark-100:      $pf-color-black-900 !default;
$pf-global--Color--dark-200:    $pf-color-black-600 !default;

// States color
$pf-global--Color--hover:                  $pf-color-red-100 !default;
$pf-global--BackgroundColor--hover:        $pf-color-red-300 !default;
$pf-global--BorderColor--hover:            $pf-color-red-300 !default;

$pf-global--Color--active:                 $pf-color-blue-400 !default;
$pf-global--BackgroundColor--active:       $pf-color-blue-100 !default;
$pf-global--BorderColor--active:           $pf-color-blue-100 !default;

$pf-global--Color--disabled:               $pf-color-black-400 !default;
$pf-global--BackgroundColor--disabled:     $pf-color-black-200 !default;
$pf-global--BorderColor--disabled:         $pf-color-black-200 !default;

// Theme color
$pf-global--primary-color:         $pf-color-blue-400 !default;
$pf-global--primary-color--dark:   $pf-color-blue-500 !default;
$pf-global--secondary-color:       $pf-color-black-600 !default;
$pf-global--success-color:         $pf-color-green-100 !default;
$pf-global--success-color--dark:   $pf-color-green-400 !default;
$pf-global--info-color:            $pf-color-cyan-100 !default;
$pf-global--info-color--dark:      $pf-color-cyan-400 !default;
$pf-global--warning-color:         $pf-color-orange-100 !default;
$pf-global--warning-color--dark:   $pf-color-orange-400 !default;
$pf-global--danger-color:          $pf-color-red-100 !default;
$pf-global--danger-color--dark:    $pf-color-red-300 !default;

// Shadows

$pf-global--BoxShadow--sm:  0  pf-size-prem(1)  pf-size-prem(2) 0 rgba($pf-color-black-1000, .2) !default;
$pf-global--BoxShadow:  0  pf-size-prem(2)  pf-size-prem(1) pf-size-prem(1) rgba($pf-color-black-1000, .12), 0  pf-size-prem(4)  pf-size-prem(11) pf-size-prem(6) rgba($pf-color-black-1000, .05) !default;
$pf-global--LineHeight--lg:  0  pf-size-prem(3)  pf-size-prem(7) pf-size-prem(3) rgba($pf-color-black-1000, .13), 0  pf-size-prem(11)  pf-size-prem(24) pf-size-prem(16) rgba($pf-color-black-1000, .12) !default;

$pf-global--BoxShadow--sm-right:  pf-size-prem(4)  0  pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$pf-global--BoxShadow--sm-left:   pf-size-prem(-4) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$pf-global--BoxShadow--sm-bottom: 0 pf-size-prem(4) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$pf-global--BoxShadow--sm-top:    0 pf-size-prem(-4) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;

$pf-global--BoxShadow-right:  pf-size-prem(5) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$pf-global--BoxShadow-left:   pf-size-prem(-5) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$pf-global--BoxShadow-bottom: 0 pf-size-prem(5) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$pf-global--BoxShadow-top:    0 pf-size-prem(-5) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;

$pf-global--LineHeight--lg-right: pf-size-prem(12) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$pf-global--LineHeight--lg-left:  pf-size-prem(-12) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$pf-global--LineHeight--lg-bottom: 0 pf-size-prem(12) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$pf-global--LineHeight--lg-top:   0 pf-size-prem(-12) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;

$pf-global--BoxShadow--inset:     inset 0 0 pf-size-prem(10) 0 rgba($pf-color-black-1000, .25) !default;

// Fontpath
$pf-global--font-path: "/assets/fonts" !default;

// Spacers
$pf-global--spacer--xs:    pf-size-prem(4px) !default;
$pf-global--spacer--sm:    pf-size-prem(8px) !default;
$pf-global--spacer--md:    pf-size-prem(16px) !default;
$pf-global--spacer--lg:    pf-size-prem(24px) !default;
$pf-global--spacer--xl:    pf-size-prem(32px) !default;
$pf-global--spacer--xxl:   pf-size-prem(48px) !default;
$pf-global--spacer--xxxl:  pf-size-prem(64px) !default;

// Gutter
$pf-global--gutter:   $pf-global--spacer--lg !default;


// Grid breakpoints
$pf-global--breakpoint--xs: 0 !default;
$pf-global--breakpoint--sm: 576px !default;
$pf-global--breakpoint--md: 768px !default;
$pf-global--breakpoint--lg: 992px !default;
$pf-global--breakpoint--xl: 1200px !default;


// Links
$pf-global--link--Color:                  $pf-global--primary-color !default;
$pf-global--link--TextDecoration:         none !default;
$pf-global--link--Color--hover:           darken($pf-global--primary-color, 15%) !default;
$pf-global--link--TextDecoration--hover:  underline !default;


// Borders
$pf-global--BorderWidth--sm:     1px !default;
$pf-global--BorderWidth--md:     2px !default;
$pf-global--BorderWidth--lg:     3px !default;
$pf-global--BorderColor--dark:   $pf-color-black-400 !default;
$pf-global--BorderColor--light:  $pf-color-black-400 !default;
$pf-global--BorderRadius:        30em !default;

// Fonts

// Font family
// stylelint-disable value-keyword-case
$pf-global--FontFamily--sans-serif: “Overpass”, Overpass, “open sans”, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$pf-global--FontFamily--monospace:  “Overpass-mono”, Overpass-mono, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

// Font size
$pf-global--FontSize--xxxxl:    pf-font-prem(36px) !default;
$pf-global--FontSize--xxxl:     pf-font-prem(28px) !default;
$pf-global--FontSize--xxl:      pf-font-prem(24px) !default;
$pf-global--FontSize--xl:       pf-font-prem(21px) !default;
$pf-global--FontSize--lg:       pf-font-prem(18px) !default;
$pf-global--FontSize--md:       pf-font-prem(16px) !default;
$pf-global--FontSize--sm:       pf-font-prem(14px) !default;
$pf-global--FontSize--xs:       pf-font-prem(12px) !default;

// Font weight
$pf-global--FontWeight--light:          300 !default;
$pf-global--FontWeight--normal:         400 !default;
$pf-global--FontWeight--semi-bold:      600 !default;
$pf-global--FontWeight--bold:           700 !default;

// Line height
$pf-global--LineHeight--sm:         1.3 !default;
$pf-global--LineHeight--md:             1.4 !default;
$pf-global--LineHeight--lg:         1.5 !default;

// List
$global-ListStyle: disc outside !default;

// filters
// overlay
// animations

@if $pf-global--load-pf-3 {
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.37.10/css/patternfly.min.css");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.37.10/css/patternfly-additions.min.css");
}
