// This file is for initial variable values.
// All variables should have a valid css value,
// and use !default so they can be overwritten.

// `$pf-global--concept--PropiertyCamelCase--modifier--state`

// Patternfly Options
//
// Quickly modify global styling by enabling or disabling optional features.

$pf-global--enable-font-overpass-cdn: false !default;
$pf-global--load-pf-3: false !default;
$pf-global--enable-reset: true !default;

// Patternfly uses the default root size of the browser, it assumes a 16px base
// since most browser root size is 16. This variables is just to make the
// transformation from px to rem.
$pf-global--font-size-root: 16 !default; //for fonts
$pf-global--space-size-root: 16 !default; // for spaces

// Colors
// Background color
$pf-global--BackgroundColor--100: $pf-color-white !default;
$pf-global--BackgroundColor--200: $pf-color-black-100 !default;
$pf-global--BackgroundColor--300: $pf-color-black-200 !default;

// do not use - background colors for exceptions and defining theme
$pf-global--BackgroundColor--light-100:     $pf-color-white !default;
$pf-global--BackgroundColor--light-200:     $pf-color-black-100 !default;
$pf-global--BackgroundColor--light-300:     $pf-color-black-200 !default;

$pf-global--BackgroundColor--dark-100:      $pf-color-black-900 !default;
$pf-global--BackgroundColor--dark-200:      $pf-color-black-800 !default;

// Text color
$pf-global--Color--100: $pf-color-black-900 !default;
$pf-global--Color--200: $pf-color-black-600 !default;

// do not use - text colors for exceptions and defining theme
$pf-global--Color--light-100:      $pf-color-white !default;
$pf-global--Color--light-200:      $pf-color-black-200 !default;

$pf-global--Color--dark-100:      $pf-color-black-900 !default;
$pf-global--Color--dark-200:      $pf-color-black-600 !default;

// States color
$pf-global--Color--active:                 $pf-color-blue-400 !default;
$pf-global--BackgroundColor--active:       $pf-color-blue-100 !default;
$pf-global--BorderColor--active:           $pf-color-blue-400 !default;

$pf-global--Color--disabled:               $pf-color-black-600 !default;
$pf-global--BackgroundColor--disabled:     $pf-color-black-300 !default;
$pf-global--BorderColor--disabled:         $pf-color-black-300 !default;

// Theme color
$pf-global--primary-color--100:         $pf-color-blue-400 !default;
$pf-global--primary-color--200:         $pf-color-blue-500 !default;
$pf-global--secondary-color--100:       $pf-color-black-600 !default;
$pf-global--success-color--100:         $pf-color-light-green-400 !default;
$pf-global--success-color--200:         $pf-color-light-green-600 !default;
$pf-global--info-color--100:            $pf-color-blue-300 !default;
$pf-global--info-color--200:            $pf-color-blue-600 !default;
$pf-global--warning-color--100:         $pf-color-gold-400 !default;
$pf-global--warning-color--200:         $pf-color-gold-600 !default;
$pf-global--danger-color--100:          $pf-color-red-100 !default;
$pf-global--danger-color--200:          $pf-color-red-200 !default;
$pf-global--danger-color--300:          $pf-color-red-400 !default;

// Shadows

$pf-global--BoxShadow--sm: 0 pf-size-prem(1) pf-size-prem(2) 0 rgba($pf-color-black-1000, .2) !default;
$pf-global--BoxShadow: 0 pf-size-prem(2) pf-size-prem(1) pf-size-prem(1) rgba($pf-color-black-1000, .12), 0 pf-size-prem(4) pf-size-prem(11) pf-size-prem(6) rgba($pf-color-black-1000, .05) !default;
$pf-global--BoxShadow--lg: 0 pf-size-prem(3) pf-size-prem(7) pf-size-prem(3) rgba($pf-color-black-1000, .13), 0 pf-size-prem(11) pf-size-prem(24) pf-size-prem(16) rgba($pf-color-black-1000, .12) !default;

$pf-global--BoxShadow--sm-right: pf-size-prem(4) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$pf-global--BoxShadow--sm-left: pf-size-prem(-4) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$pf-global--BoxShadow--sm-bottom: 0 pf-size-prem(4) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$pf-global--BoxShadow--sm-top: 0 pf-size-prem(-4) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;

$pf-global--BoxShadow-right: pf-size-prem(5) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$pf-global--BoxShadow-left: pf-size-prem(-5) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$pf-global--BoxShadow-bottom: 0 pf-size-prem(5) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$pf-global--BoxShadow-top: 0 pf-size-prem(-5) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;

$pf-global--BoxShadow--lg-right: pf-size-prem(12) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$pf-global--BoxShadow--lg-left: pf-size-prem(-12) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$pf-global--BoxShadow--lg-bottom: 0 pf-size-prem(12) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$pf-global--BoxShadow--lg-top: 0 pf-size-prem(-12) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;

$pf-global--BoxShadow--inset: inset 0 0 pf-size-prem(10) 0 rgba($pf-color-black-1000, .25) !default;

// Fontpath
$pf-global--font-path: "./assets/fonts" !default;

// Iconpath
$fa-font-path: "./assets/fonts/webfonts" !default;

//Imagepath
$pf-global--image-path: "/assets/images" !default;

// Spacers
$pf-global--spacer--xs: pf-size-prem(4px) !default;     // Color in the visuals
$pf-global--spacer--sm: pf-size-prem(8px) !default;     // Color in the visuals
$pf-global--spacer--md: pf-size-prem(16px) !default;    // Color in the visuals
$pf-global--spacer--lg: pf-size-prem(24px) !default;    // Color in the visuals
$pf-global--spacer--xl: pf-size-prem(32px) !default;    // Color in the visuals
$pf-global--spacer--2xl: pf-size-prem(48px) !default;   // Color in the visuals
$pf-global--spacer--3xl: pf-size-prem(64px) !default;  // Color in the visuals

// Gutter
$pf-global--gutter: $pf-global--spacer--lg !default;

// Z-Index
$pf-global--ZIndex--xs: 100;
$pf-global--ZIndex--sm: 200;
$pf-global--ZIndex--md: 300;
$pf-global--ZIndex--lg: 400;
$pf-global--ZIndex--xl: 500;
$pf-global--ZIndex--2xl: 600;

// Grid breakpoints
$pf-global--breakpoint--xs: 0 !default;
$pf-global--breakpoint--sm: 576px !default;
$pf-global--breakpoint--md: 768px !default;
$pf-global--breakpoint--lg: 992px !default;
$pf-global--breakpoint--xl: 1200px !default;

// Links
$pf-global--link--Color:                  $pf-global--primary-color--100 !default;
$pf-global--link--TextDecoration:         none !default;
$pf-global--link--Color--hover:           darken($pf-global--primary-color--100, 15%) !default;
$pf-global--link--TextDecoration--hover:  underline !default;

// Borders
$pf-global--BorderWidth--sm:     1px !default;
$pf-global--BorderWidth--md:     2px !default;
$pf-global--BorderWidth--lg:     3px !default;
$pf-global--BorderColor:         $pf-color-black-600 !default;
$pf-global--BorderColor--dark:   $pf-color-black-600 !default;
$pf-global--BorderColor--light:  $pf-color-black-400 !default;
$pf-global--BorderRadius--sm:        3px !default;
$pf-global--BorderRadius--lg:        30em !default; //This is a sufficiently large number to ensure in most cases that the ends are evenly rounded.

// Fonts
// Font family
// stylelint-disable value-keyword-case
$pf-global--FontFamily--sans-serif: “Overpass”, Overpass, “open sans”, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$pf-global--FontFamily--monospace: “Overpass-mono”, Overpass-mono, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// stylelint-enable value-keyword-case

// Font size
$pf-global--FontSize--4xl: pf-font-prem(36px) !default;
$pf-global--FontSize--3xl: pf-font-prem(28px) !default;
$pf-global--FontSize--2xl: pf-font-prem(24px) !default;
$pf-global--FontSize--xl: pf-font-prem(21px) !default;
$pf-global--FontSize--lg: pf-font-prem(18px) !default;
$pf-global--FontSize--md: pf-font-prem(16px) !default;
$pf-global--FontSize--sm: pf-font-prem(14px) !default;
$pf-global--FontSize--xs: pf-font-prem(12px) !default;

// Font weight
$pf-global--FontWeight--light: 300 !default;
$pf-global--FontWeight--normal: 400 !default;
$pf-global--FontWeight--semi-bold: 600 !default;
$pf-global--FontWeight--bold: 700 !default;

// Line height
$pf-global--LineHeight--sm: 1.3 !default;
$pf-global--LineHeight--md: 1.5 !default;

// List
$global-ListStyle: disc outside !default;

// filters
// overlay
// animations

@if $pf-global--load-pf-3 {
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");

  @import url("https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.37.10/css/patternfly.min.css");

  @import url("https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.37.10/css/patternfly-additions.min.css");
}

/* stylelint-disable */

:root {
  // Colors
  // Background color
  --pf-global--BackgroundColor--100: $pf-global--BackgroundColor--100;
  --pf-global--BackgroundColor--200: $pf-global--BackgroundColor--200;
  --pf-global--BackgroundColor--300: $pf-global--BackgroundColor--300;
  --pf-global--BackgroundColor--light-100: $pf-global--BackgroundColor--light-100;
  --pf-global--BackgroundColor--light-200: $pf-global--BackgroundColor--light-200;
  --pf-global--BackgroundColor--light-300: $pf-global--BackgroundColor--light-300;
  --pf-global--BackgroundColor--dark-100: $pf-global--BackgroundColor--dark-100;
  --pf-global--BackgroundColor--dark-200: $pf-global--BackgroundColor--dark-200;

  // Text color
  --pf-global--Color--100: $pf-global--Color--100;
  --pf-global--Color--200: $pf-global--Color--200;
  --pf-global--Color--light-100: $pf-global--Color--light-100;
  --pf-global--Color--light-200: $pf-global--Color--light-200;
  --pf-global--Color--dark-100: $pf-global--Color--dark-100;
  --pf-global--Color--dark-200: $pf-global--Color--dark-200;

  // States color
  --pf-global--Color--active: $pf-global--Color--active;
  --pf-global--BackgroundColor--active: $pf-global--BackgroundColor--active;
  --pf-global--BorderColor--active: $pf-global--BorderColor--active;
  --pf-global--Color--disabled: $pf-global--Color--disabled;
  --pf-global--BackgroundColor--disabled: $pf-global--BackgroundColor--disabled;
  --pf-global--BorderColor--disabled: $pf-global--BorderColor--disabled;

  // Theme color
  --pf-global--primary-color--100: $pf-global--primary-color--100;
  --pf-global--primary-color--200: $pf-global--primary-color--200;
  --pf-global--secondary-color--100: $pf-global--secondary-color--100;
  --pf-global--success-color--100: $pf-global--success-color--100;
  --pf-global--success-color--200: $pf-global--success-color--200;
  --pf-global--info-color--100: $pf-global--info-color--100;
  --pf-global--info-color--200: $pf-global--info-color--200;
  --pf-global--warning-color--100: $pf-global--warning-color--100;
  --pf-global--warning-color--200: $pf-global--warning-color--200;
  --pf-global--danger-color--100: $pf-global--danger-color--100;
  --pf-global--danger-color--200: $pf-global--danger-color--200;
  --pf-global--danger-color--300: $pf-global--danger-color--300;

  // Shadows
  --pf-global--BoxShadow--sm: $pf-global--BoxShadow--sm;
  --pf-global--BoxShadow: $pf-global--BoxShadow;
  --pf-global--BoxShadow--lg: $pf-global--BoxShadow--lg;
  --pf-global--BoxShadow--sm-right: $pf-global--BoxShadow--sm-right;
  --pf-global--BoxShadow--sm-left: $pf-global--BoxShadow--sm-left;
  --pf-global--BoxShadow--sm-bottom: $pf-global--BoxShadow--sm-bottom;
  --pf-global--BoxShadow--sm-top: $pf-global--BoxShadow--sm-top;
  --pf-global--BoxShadow-right: $pf-global--BoxShadow-right;
  --pf-global--BoxShadow-left: $pf-global--BoxShadow-left;
  --pf-global--BoxShadow-bottom: $pf-global--BoxShadow-bottom;
  --pf-global--BoxShadow-top: $pf-global--BoxShadow-top;
  --pf-global--BoxShadow--lg-right: $pf-global--BoxShadow--lg-right;
  --pf-global--BoxShadow--lg-left: $pf-global--BoxShadow--lg-left;
  --pf-global--BoxShadow--lg-bottom: $pf-global--BoxShadow--lg-bottom;
  --pf-global--BoxShadow--lg-top: $pf-global--BoxShadow--lg-top;
  --pf-global--BoxShadow--inset: $pf-global--BoxShadow--inset;

  // Fontpath
  --pf-global--font-path: $pf-global--font-path;

  // Spacers
  --pf-global--spacer--xs: $pf-global--spacer--xs;
  --pf-global--spacer--sm: $pf-global--spacer--sm;
  --pf-global--spacer--md: $pf-global--spacer--md;
  --pf-global--spacer--lg: $pf-global--spacer--lg;
  --pf-global--spacer--xl: $pf-global--spacer--xl;
  --pf-global--spacer--2xl: $pf-global--spacer--2xl;
  --pf-global--spacer--3xl: $pf-global--spacer--3xl;

  // Gutter
  --pf-global--gutter: $pf-global--gutter;

  // Z-Index
  --pf-global--ZIndex--xs: $pf-global--ZIndex--xs;
  --pf-global--ZIndex--sm: $pf-global--ZIndex--sm;
  --pf-global--ZIndex--md: $pf-global--ZIndex--md;
  --pf-global--ZIndex--lg: $pf-global--ZIndex--lg;
  --pf-global--ZIndex--xl: $pf-global--ZIndex--xl;
  --pf-global--ZIndex--2xl: $pf-global--ZIndex--2xl;

  // Grid breakpoints
  --pf-global--breakpoint--xs: $pf-global--breakpoint--xs;
  --pf-global--breakpoint--sm: $pf-global--breakpoint--sm;
  --pf-global--breakpoint--md: $pf-global--breakpoint--md;
  --pf-global--breakpoint--lg: $pf-global--breakpoint--lg;
  --pf-global--breakpoint--xl: $pf-global--breakpoint--xl;

  // Links
  --pf-global--link--Color: $pf-global--link--Color;
  --pf-global--link--TextDecoration: $pf-global--link--TextDecoration;
  --pf-global--link--Color--hover: $pf-global--link--Color--hover;
  --pf-global--link--TextDecoration--hover: $pf-global--link--TextDecoration--hover;

  // Borders
  --pf-global--BorderWidth--sm: $pf-global--BorderWidth--sm;
  --pf-global--BorderWidth--md: $pf-global--BorderWidth--md;
  --pf-global--BorderWidth--lg: $pf-global--BorderWidth--lg;
  --pf-global--BorderColor: $pf-global--BorderColor;
  --pf-global--BorderColor--dark: $pf-global--BorderColor--dark;
  --pf-global--BorderColor--light: $pf-global--BorderColor--light;
  --pf-global--BorderRadius--sm: $pf-global--BorderRadius--sm;
  --pf-global--BorderRadius--lg: $pf-global--BorderRadius--lg;


  // Fonts

  // Font family
  --pf-global--FontFamily--sans-serif: $pf-global--FontFamily--sans-serif;
  --pf-global--FontFamily--monospace: $pf-global--FontFamily--monospace;

  // Font size
  --pf-global--FontSize--4xl: $pf-global--FontSize--4xl;
  --pf-global--FontSize--3xl: $pf-global--FontSize--3xl;
  --pf-global--FontSize--2xl: $pf-global--FontSize--2xl;
  --pf-global--FontSize--xl: $pf-global--FontSize--xl;
  --pf-global--FontSize--lg: $pf-global--FontSize--lg;
  --pf-global--FontSize--md: $pf-global--FontSize--md;
  --pf-global--FontSize--sm: $pf-global--FontSize--sm;
  --pf-global--FontSize--xs: $pf-global--FontSize--xs;

  // Font weight
  --pf-global--FontWeight--light: $pf-global--FontWeight--light;
  --pf-global--FontWeight--normal: $pf-global--FontWeight--normal;
  --pf-global--FontWeight--semi-bold: $pf-global--FontWeight--semi-bold;
  --pf-global--FontWeight--bold: $pf-global--FontWeight--bold;

  // Line height
  --pf-global--LineHeight--sm: $pf-global--LineHeight--sm;
  --pf-global--LineHeight--md: $pf-global--LineHeight--md;

  // List
  --global-ListStyle: $global-ListStyle;
}

/* stylelint-enable */
