// This file is for initial variable values.
// All variables should have a valid css value,
// and use !default so they can be overwritten.

// `$global--concept--PropiertyCamelCase--modifier--state`

// Patternfly Options
//
// Quickly modify global styling by enabling or disabling optional features.

$global--enable-font-overpass-cdn:     false !default;
$global--load-pf-3:                    false !default;
$global--enable-reset:                 true !default;


// Patternfly uses the default root size of the browser, it assumes a 16px base
// since most browser root size is 16. This variables is just to make the
// transformation from px to rem.
$global--font-size-root:  16 !default; //for fonts
$global--space-size-root: 16 !default; // for spaces


// Colors

// Background color
$global--BackgroundColor--light:      $pf-color-white !default;
$global--BackgroundColor--light-alt:  $pf-color-black-200 !default;

$global--BackgroundColor--dark:       $pf-color-black-900 !default;
$global--BackgroundColor--dark-alt:   $pf-color-black-800 !default;


// Text color
$global--Color--dark:       $pf-color-black-900 !default;
$global--Color--dark-alt:    $pf-color-black-600 !default;

$global--Color--light:        $pf-color-white !default;
$global--Color--light-alt:   $pf-color-black-200 !default;


// States color
$global--Color--hover:                  $pf-color-red-100 !default;
$global--BackgroundColor--hover:        $pf-color-red-300 !default;
$global--BorderColor--hover:            $pf-color-red-300 !default;

$global--Color--active:                 $pf-color-blue-400 !default;
$global--BackgroundColor--active:       $pf-color-blue-100 !default;
$global--BorderColor--active:           $pf-color-blue-100 !default;

$global--Color--disabled:               $pf-color-black-400 !default;
$global--BackgroundColor--disabled:     $pf-color-black-200 !default;
$global--BorderColor--disabled:         $pf-color-black-200 !default;

// Theme color
$global--primary-color:       $pf-color-blue-300 !default;
$global--secondary-color:     $pf-color-black-600 !default;
$global--success-color:       $pf-color-green-100 !default;
$global--success-color--dark: $pf-color-green-400 !default;
$global--info-color:          $pf-color-cyan-100 !default;
$global--info-color--dark:    $pf-color-cyan-400 !default;
$global--warning-color:       $pf-color-orange-100 !default;
$global--warning-color--dark: $pf-color-orange-400 !default;
$global--danger-color:        $pf-color-red-100 !default;
$global--danger-color--dark:  $pf-color-red-300 !default;

// Shadows

$global--BoxShadow--sm:  0  pf-size-prem(1)  pf-size-prem(2) 0 rgba($pf-color-black-1000, .2) !default;
$global--BoxShadow:  0  pf-size-prem(2)  pf-size-prem(1) pf-size-prem(1) rgba($pf-color-black-1000, .12), 0  pf-size-prem(4)  pf-size-prem(11) pf-size-prem(6) rgba($pf-color-black-1000, .05) !default;
$global--BoxShadow--md:  0  pf-size-prem(3)  pf-size-prem(7) pf-size-prem(3) rgba($pf-color-black-1000, .13), 0  pf-size-prem(11)  pf-size-prem(24) pf-size-prem(16) rgba($pf-color-black-1000, .12) !default;

$global--BoxShadow--sm-right:  pf-size-prem(4)  0  pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$global--BoxShadow--sm-left:   pf-size-prem(-4) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$global--BoxShadow--sm-bottom: 0 pf-size-prem(4) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$global--BoxShadow--sm-top:    0 pf-size-prem(-4) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .12) !default;

$global--BoxShadow-right:  pf-size-prem(5) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$global--BoxShadow-left:   pf-size-prem(-5) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$global--BoxShadow-bottom: 0 pf-size-prem(5) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$global--BoxShadow-top:    0 pf-size-prem(-5) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .25) !default;

$global--BoxShadow--md-right: pf-size-prem(12) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$global--BoxShadow--md-left:  pf-size-prem(-12) 0 pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$global--BoxShadow--md-bottom: 0 pf-size-prem(12) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$global--BoxShadow--md-top:   0 pf-size-prem(-12) pf-size-prem(10) pf-size-prem(-4) rgba($pf-color-black-1000, .07) !default;

$global--BoxShadow--inset:     inset 0 0 pf-size-prem(10) 0 rgba($pf-color-black-1000, .25) !default;

// Fontpath
$global--font-path: "/assets/fonts" !default;

// Spacers
$global--spacer--xs:    pf-size-prem(4px) !default;
$global--spacer--sm:    pf-size-prem(8px) !default;
$global--spacer:        pf-size-prem(16px) !default;
$global--spacer--md:    pf-size-prem(24px) !default;
$global--spacer--lg:    pf-size-prem(32px) !default;
$global--spacer--xl:    pf-size-prem(48px) !default;
$global--spacer--xxl:   pf-size-prem(64px) !default;


// Grid breakpoints
$global--breakpoint--xs: 0 !default;
$global--breakpoint--sm: 576px !default;
$global--breakpoint--md: 768px !default;
$global--breakpoint--lg: 992px !default;
$global--breakpoint--xl: 1200px !default;


// Links
$global--link--Color:                  $global--primary-color !default;
$global--link--TextDecoration:         none !default;
$global--link--Color--hover:           darken($global--primary-color, 15%) !default;
$global--link--TextDecoration--hover:  underline !default;


// Borders
$global--BorderWidth:         1px !default;
$global--BorderColor--dark:   $pf-color-black-400 !default;
$global--BorderColor--light:  $pf-color-black-400 !default;


// Fonts

// Font family
// stylelint-disable value-keyword-case
$global--FontFamily--sans-serif: “Overpass”, Overpass, “open sans”, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$global--FontFamily--monospace:  “Overpass-mono”, Overpass-mono, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

// Font size
$global--FontSize--xxxl:     pf-font-prem(36px) !default;
$global--FontSize--xxl:      pf-font-prem(28px) !default;
$global--FontSize--xl:       pf-font-prem(24px) !default;
$global--FontSize--lg:       pf-font-prem(21px) !default;
$global--FontSize--md:       pf-font-prem(18px) !default;
$global--FontSize:           pf-font-prem(16px) !default;
$global--FontSize--sm:       pf-font-prem(14px) !default;
$global--FontSize--xs:       pf-font-prem(14px) !default;


// Font weight
$global--FontWeight--light:          300 !default;
$global--FontWeight--normal:         400 !default;
$global--FontWeight--semi-bold:      600 !default;
$global--FontWeight--bold:           700 !default;

// Line height
$global--LineHeight--sm:         1.3 !default;
$global--LineHeight:             1.4 !default;
$global--LineHeight--md:         1.8 !default;

// List
$global-ListStyle: disc outside !default;


// filters
// overlay
// animations

@if $global--load-pf-3 {
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.37.10/css/patternfly.min.css");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.37.10/css/patternfly-additions.min.css");
}


// Lets makes the linter happy with CSS variables:
// stylelint-disable

:root {

  // Colors

  // Background color
  --global--BackgroundColor--light:      $global--BackgroundColor--light;
  --global--BackgroundColor--light-alt:  $global--BackgroundColor--light-alt;

  --global--BackgroundColor--dark:       $global--BackgroundColor--dark;
  --global--BackgroundColor--dark:   $global--BackgroundColor--dark;

  // Text color
  --global--Color--dark:         $global--Color--dark;
  --global--Color--dark-alt:      $global--Color--dark-alt;

  --global--Color--light:        $global--Color--light;
  --global--Color--light-alt:   $global--Color--light-alt;

  // States color
  --global--Color--hover:                  $global--Color--hover;
  --global--BackgroundColor--hover:        $global--BackgroundColor--hover;
  --global--BorderColor--hover:            $global--BorderColor--hover;

  --global--Color--active:                  $global--Color--active;
  --global--BackgroundColor--active:        $global--BackgroundColor--active;
  --global--BorderColor--active:            $global--BorderColor--active;

  --global--Color--disabled:                  $global--Color--disabled;
  --global--BackgroundColor--disabled:        $global--BackgroundColor--disabled;
  --global--BorderColor--disabled:            $global--BorderColor--disabled;

  // Shadows
  --global--BoxShadow--sm:            $global--BoxShadow--sm;
  --global--BoxShadow:            $global--BoxShadow;
  --global--BoxShadow--md:            $global--BoxShadow--md;

  --global--BoxShadow--sm-right:      $global--BoxShadow--sm-right;
  --global--BoxShadow--sm-left:       $global--BoxShadow--sm-left;
  --global--BoxShadow--sm-bottom:     $global--BoxShadow--sm-bottom;
  --global--BoxShadow--sm-top:        $global--BoxShadow--sm-top;
  --global--BoxShadow-right:      $global--BoxShadow-right;
  --global--BoxShadow-left:       $global--BoxShadow-left;
  --global--BoxShadow-bottom:     $global--BoxShadow-bottom;
  --global--BoxShadow-top:        $global--BoxShadow-top;
  --global--BoxShadow--md-right:      $global--BoxShadow--md-right;
  --global--BoxShadow--md-left:       $global--BoxShadow--md-left;
  --global--BoxShadow--md-bottom:     $global--BoxShadow--md-bottom;
  --global--BoxShadow--md-top:        $global--BoxShadow--md-top;

  --global--BoxShadow--inset:         $global--BoxShadow--inset;

  // spacers
  --global--spacer--xs:   $global--spacer--xs;
  --global--spacer--sm:    $global--spacer--sm;
  --global--spacer:     $global--spacer;
  --global--spacer--md:     $global--spacer--md;
  --global--spacer--lg:     $global--spacer--lg;
  --global--spacer--xl:     $global--spacer--xl;
  --global--spacer--xxl:     $global--spacer--xxl;

  // Grid breakpoints
  --global--breakpoint--xs: $global--breakpoint--xs;
  --global--breakpoint--sm: $global--breakpoint--sm;
  --global--breakpoint--md: $global--breakpoint--md;
  --global--breakpoint--lg: $global--breakpoint--lg;
  --global--breakpoint--xl: $global--breakpoint--xl;

  // theme colors
  --global--primary-color:        $global--primary-color;
  --global--danger-color:         $global--danger-color;
  --global--danger-color--dark:   $global--danger-color--dark;
  --global--success-color:        $global--success-color;
  --global--success-color--dark:  $global--success-color--dark;
  --global--warning-color:        $global--warning-color;
  --global--warning-color--dark:  $global--warning-color--dark;
  --global--info-color:           $global--info-color;
  --global--info-color--dark:     $global--info-color--dark;

  // Links
  --global--link--Color:                  $global--link--Color;
  --global--link--TextDecoration:         $global--link--TextDecoration;
  --global--link--Color--hover:           $global--link--Color--hover;
  --global--link--TextDecoration--hover:  $global--link--TextDecoration--hover;

  // Borders
  --global--BorderWidth:         $global--BorderWidth;
  --global--BorderColor--dark:   $global--BorderColor--dark;
  --global--BorderColor--light:  $global--BorderColor--light;


  // Font size
  --global--FontSize--xxxl:     $global--FontSize--xxxl;
  --global--FontSize--xxl:      $global--FontSize--xxl;
  --global--FontSize--xl:       $global--FontSize--xl;
  --global--FontSize--lg:       $global--FontSize--lg;
  --global--FontSize--md:       $global--FontSize;
  --global--FontSize--sm:       $global--FontSize--sm;

  // line height
  --global--LineHeight--sm:   $global--LineHeight--sm;
  --global--LineHeight:   $global--LineHeight--sm;
  --global--LineHeight--md:   $global--LineHeight--sm;

  // Font weight
  --global--FontWeight--light:     $global--FontWeight--light;
  --global--FontWeight--normal:    $global--FontWeight--normal;
  --global--FontWeight--semi-bold: $global--FontWeight--semi-bold;
  --global--FontWeight--bold:      $global--FontWeight--bold;
}