<div class="pf-c-alert__title{{#if alert-title--modifiers}} {{alert-title--modifiers}}{{/if}}"
  {{#if alert-title--attributes}}
    {{{alert-title--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>