<div class="pf-c-alert__description{{#if alert-description--modifier}} {{alert-description--modifier}}{{/if}}"
  {{#if alert-description--attribute}}
    {{{alert-description--attribute}}}
  {{/if}}
  {{#if alert--IsExpandable}}
    {{#unless alert--IsExpanded}}
      hidden
    {{/unless}}
  {{/if}}>
  <p>{{> @partial-block}}</p>
</div>
