<div class="pf-c-alert__dismiss{{#if alert-dismiss--modifier}} {{alert-dismiss--modifier}}{{/if}}"
  {{#if alert-dismiss--attribute}}
    {{{alert-dismiss--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>