@import "../../patternfly-imports";

.pf-c-alert {
  // component variables
  --pf-c-alert--BoxShadow: var(--pf-global--BoxShadow--lg);
  --pf-c-alert--BackgroundColor: var(--pf-global--BackgroundColor--light-100);

  // Icon
  --pf-c-alert__icon--Padding: var(--pf-global--spacer--md);
  --pf-c-alert__icon--Color: var(--pf-global--Color--100);
  --pf-c-alert__icon--FontSize: var(--pf-global--icon--FontSize--lg);

  // Body
  --pf-c-alert__body--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-alert__body--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-alert__body--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-alert__body--PaddingLeft: var(--pf-global--spacer--md);

  // Title
  --pf-c-alert__title--FontSize: var(--pf-global--FontSize--md);
  --pf-c-alert__title--Color: var(--pf-global--Color--100);
  --pf-c-alert__title--siblings--MarginTop: var(--pf-global--spacer--xs);

  // Action
  --pf-c-alert__action--PaddingRight: var(--pf-global--spacer--sm);

  // Dismiss button
  --pf-c-alert--c-button--Top: var(--pf-global--spacer--sm);
  --pf-c-alert--c-button--FontSize: var(--pf-global--FontSize--lg);
  --pf-c-alert--c-button--sibling--PaddingRight: var(--pf-global--spacer--lg);

  // Success
  --pf-c-alert--m-success__icon--Color: var(--pf-global--success-color--200);
  --pf-c-alert--m-success__icon--BackgroundColor: var(--pf-global--success-color--100);
  --pf-c-alert--m-success__title--Color: var(--pf-global--success-color--200);

  // Danger
  --pf-c-alert--m-danger__icon--Color: var(--pf-global--danger-color--300);
  --pf-c-alert--m-danger__icon--BackgroundColor: var(--pf-global--danger-color--100);
  --pf-c-alert--m-danger__title--Color: var(--pf-global--danger-color--200);

  // Warning
  --pf-c-alert--m-warning__icon--Color: var(--pf-global--warning-color--200);
  --pf-c-alert--m-warning__icon--BackgroundColor: var(--pf-global--warning-color--100);
  --pf-c-alert--m-warning__title--Color: var(--pf-global--warning-color--200);

  // Info
  --pf-c-alert--m-info__icon--Color: var(--pf-global--info-color--200);
  --pf-c-alert--m-info__icon--BackgroundColor: var(--pf-global--info-color--100);
  --pf-c-alert--m-info__title--Color: var(--pf-global--info-color--200);

  // This component always needs to be light
  @extend %pf-t-light;

  display: flex;
  background-color: var(--pf-c-alert--BackgroundColor);
  box-shadow: var(--pf-c-alert--BoxShadow);


  &.pf-m-success {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-success__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-success__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-success__title--Color);
  }

  &.pf-m-danger {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-danger__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-danger__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-danger__title--Color);
  }

  &.pf-m-warning {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-warning__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-warning__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-warning__title--Color);
  }

  &.pf-m-info {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-info__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-info__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-info__title--Color);
  }
}

.pf-c-alert__icon {
  display: flex;
  padding: var(--pf-c-alert__icon--Padding);
  font-size: var(--pf-c-alert__icon--FontSize);
  color: var(--pf-c-alert__icon--Color);
  background-color: var(--pf-c-alert__icon--BackgroundColor);
}

.pf-c-alert__body {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  padding: var(--pf-c-alert__body--PaddingTop) var(--pf-c-alert__body--PaddingRight) var(--pf-c-alert__body--PaddingBottom) var(--pf-c-alert__body--PaddingLeft);

  > .pf-c-button {
    position: absolute;
    top: var(--pf-c-alert--c-button--Top);
    right: 0;
    font-size: var(--pf-c-alert--c-button--FontSize);

    + * {
      padding-right: var(--pf-c-alert--c-button--sibling--PaddingRight);
    }
  }
}

.pf-c-alert__title {
  font-size: var(--pf-c-alert__title--FontSize);
  color: var(--pf-c-alert__title--Color);

  ~ * {
    margin-top: var(--pf-c-alert__title--siblings--MarginTop);
  }
}

.pf-c-alert__action {
  display: flex;
  align-items: center;

  &:last-child {
    padding-right: var(--pf-c-alert__action--PaddingRight);
  }
}
