// @debug $alert; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

// TODO create a token for --#{$pf-global}--spacer--form-element ?

:root {
  // Alert variables
  --#{$alert}--BoxShadow: var(--pf-t--global--box-shadow--lg);
  --#{$alert}--BackgroundColor: var(--pf-t--global--background--color--floating--default);
  --#{$alert}--GridTemplateColumns: max-content 1fr max-content;
  --#{$alert}--GridTemplateAreas:
    "icon title action"
    ". description description"
    ". actiongroup actiongroup";
  --#{$alert}--BorderWidth: var(--pf-t--global--border--width--200);
  --#{$alert}--BorderColor: transparent;
  --#{$alert}--BorderRadius: var(--pf-t--global--border--radius--medium);
  --#{$alert}--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$alert}--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$alert}--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$alert}--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$alert}--FontSize: var(--pf-t--global--font--size--body);

  // Toggle
  --#{$alert}__toggle--MarginTop: calc(-1 * var(--#{$pf-global}--spacer--form-element) - #{pf-size-prem(1px)});
  --#{$alert}__toggle--MarginBottom: calc(-1 * var(--#{$pf-global}--spacer--form-element));
  --#{$alert}__toggle--MarginRight: var(--pf-t--global--spacer--sm);

  // Toggle icon
  --#{$alert}__toggle-icon--Rotate: 0;
  --#{$alert}__toggle-icon--Transition: var(--#{$pf-global}--Transition);

  // Icon
  --#{$alert}__icon--Color: var(--pf-t--global--icon--color--regular);
  --#{$alert}__icon--MarginTop: #{pf-size-prem(4px)};
  --#{$alert}__icon--MarginRight: var(--pf-t--global--spacer--sm);
  --#{$alert}__icon--FontSize: var(--pf-t--global--icon--size--md);

  // Title
  --#{$alert}__title--FontSize: var(--pf-t--global--font--size--heading--xs);
  --#{$alert}__title--FontWeight: var(--pf-t--global--font--weight--heading--bold);
  --#{$alert}__title--LineHeight: var(--pf-t--global--font--line-height--heading);
  --#{$alert}__title--Color: var(--pf-t--global--text--color--regular);
  --#{$alert}__title--max-lines: 1;

  // Action
  --#{$alert}__action--MarginTop: calc(var(--#{$pf-global}--spacer--form-element) * -1);
  --#{$alert}__action--MarginBottom: calc(var(--#{$pf-global}--spacer--form-element) * -1);
  --#{$alert}__action--TranslateY: #{pf-size-prem(2px)};
  --#{$alert}__action--MarginRight: calc(var(--pf-t--global--spacer--sm) * -1);

  // Description
  --#{$alert}__description--PaddingTop: var(--pf-t--global--spacer--xs);

  // Action group
  --#{$alert}__action-group--PaddingTop-base: var(--pf-t--global--spacer--xs);
  --#{$alert}__action-group--PaddingTop: var(--#{$alert}__action-group--PaddingTop-base);
  --#{$alert}__description--action-group--PaddingTop-base: var(--pf-t--global--spacer--sm);
  --#{$alert}__description--action-group--PaddingTop: var(--#{$alert}__description--action-group--PaddingTop-base);
  --#{$alert}__action-group__c-button--not-last-child--MarginRight: var(--pf-t--global--spacer--lg);

  // Custom
  --#{$alert}--m-custom--BorderColor: var(--pf-t--global--border--color--status--custom--default);
  --#{$alert}--m-custom__icon--Color: var(--pf-t--global--icon--color--status--custom--default);
  --#{$alert}--m-custom__title--Color: var(--pf-t--global--text--color--regular);

  // Success
  --#{$alert}--m-success--BorderColor: var(--pf-t--global--border--color--status--success--default);
  --#{$alert}--m-success__icon--Color: var(--pf-t--global--icon--color--status--success--default);
  --#{$alert}--m-success__title--Color: var(--pf-t--global--text--color--regular);

  // Danger
  --#{$alert}--m-danger--BorderColor: var(--pf-t--global--border--color--status--danger--default);
  --#{$alert}--m-danger__icon--Color: var(--pf-t--global--icon--color--status--danger--default);
  --#{$alert}--m-danger__title--Color: var(--pf-t--global--text--color--regular);

  // Warning
  --#{$alert}--m-warning--BorderColor: var(--pf-t--global--border--color--status--warning--default);
  --#{$alert}--m-warning__icon--Color: var(--pf-t--global--icon--color--status--warning--default);
  --#{$alert}--m-warning__title--Color: var(--pf-t--global--text--color--regular);

  // Info
  --#{$alert}--m-info--BorderColor: var(--pf-t--global--border--color--status--info--default);
  --#{$alert}--m-info__icon--Color: var(--pf-t--global--icon--color--status--info--default);
  --#{$alert}--m-info__title--Color: var(--pf-t--global--text--color--regular);

  // Inline
    --#{$alert}--m-inline--BackgroundColor: var(--pf-t--global--background--color--primary--default);
    --#{$alert}--m-inline--BoxShadow: none;

  // Inline plain
  --#{$alert}--m-inline--m-plain--BorderWidth: 0;
  --#{$alert}--m-inline--m-plain--BackgroundColor: transparent;
  --#{$alert}--m-inline--m-plain--PaddingTop: 0;
  --#{$alert}--m-inline--m-plain--PaddingRight: 0;
  --#{$alert}--m-inline--m-plain--PaddingBottom: 0;
  --#{$alert}--m-inline--m-plain--PaddingLeft: 0;

  // Expandable
  --#{$alert}--m-expandable--GridTemplateColumns: auto max-content 1fr max-content;
  --#{$alert}--m-expandable--GridTemplateAreas:
    "toggle icon title action"
    ". . description description"
    ". . actiongroup actiongroup";
  --#{$alert}--m-expandable__description--action-group--PaddingTop: var(--#{$alert}__action-group--PaddingTop-base);

  // Expanded
  --#{$alert}--m-expanded__toggle-icon--Rotate: 90deg;
  --#{$alert}--m-expanded__description--action-group--PaddingTop: var(--#{$alert}__description--action-group--PaddingTop-base);
}

.#{$alert} {
  position: relative;
  display: grid;
  grid-template-areas: var(--#{$alert}--GridTemplateAreas);
  grid-template-columns: var(--#{$alert}--GridTemplateColumns);
  padding-block-start: var(--#{$alert}--PaddingTop);
  padding-block-end: var(--#{$alert}--PaddingBottom);
  padding-inline-start: var(--#{$alert}--PaddingLeft);
  padding-inline-end: var(--#{$alert}--PaddingRight);
  font-size: var(--#{$alert}--FontSize);
  background-color: var(--#{$alert}--BackgroundColor);
  border: var(--#{$alert}--BorderWidth) solid var(--#{$alert}--BorderColor);
  border-radius: var(--#{$alert}--BorderRadius);
  box-shadow: var(--#{$alert}--BoxShadow);

  &.pf-m-custom {
    --#{$alert}--BorderColor: var(--#{$alert}--m-custom--BorderColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-custom__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-custom__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-custom--BackgroundColor);
  }

  &.pf-m-success {
    --#{$alert}--BorderColor: var(--#{$alert}--m-success--BorderColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-success__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-success__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-success--BackgroundColor);
  }

  &.pf-m-danger {
    --#{$alert}--BorderColor: var(--#{$alert}--m-danger--BorderColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-danger__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-danger__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-danger--BackgroundColor);
  }

  &.pf-m-warning {
    --#{$alert}--BorderColor: var(--#{$alert}--m-warning--BorderColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-warning__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-warning__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-warning--BackgroundColor);
  }

  &.pf-m-info {
    --#{$alert}--BorderColor: var(--#{$alert}--m-info--BorderColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-info__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-info__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-info--BackgroundColor);
  }

  &.pf-m-inline {
    --#{$alert}--BoxShadow: var(--#{$alert}--m-inline--BoxShadow);
    --#{$alert}--BackgroundColor: var(--#{$alert}--m-inline--BackgroundColor);
  }

  &.pf-m-plain {
    --#{$alert}--BorderWidth: var(--#{$alert}--m-inline--m-plain--BorderWidth);
    --#{$alert}--BackgroundColor: var(--#{$alert}--m-inline--m-plain--BackgroundColor);
    --#{$alert}--PaddingTop: var(--#{$alert}--m-inline--m-plain--PaddingTop);
    --#{$alert}--PaddingRight: var(--#{$alert}--m-inline--m-plain--PaddingRight);
    --#{$alert}--PaddingBottom: var(--#{$alert}--m-inline--m-plain--PaddingBottom);
    --#{$alert}--PaddingLeft: var(--#{$alert}--m-inline--m-plain--PaddingLeft);
  }

  &.pf-m-expandable {
    --#{$alert}--GridTemplateColumns: var(--#{$alert}--m-expandable--GridTemplateColumns);
    --#{$alert}--GridTemplateAreas: var(--#{$alert}--m-expandable--GridTemplateAreas);
    --#{$alert}__description--action-group--PaddingTop: var(--#{$alert}--m-expandable__description--action-group--PaddingTop);
  }

  &.pf-m-expanded {
    --#{$alert}__toggle-icon--Rotate: var(--#{$alert}--m-expanded__toggle-icon--Rotate);
    --#{$alert}__description--action-group--PaddingTop: var(--#{$alert}--m-expanded__description--action-group--PaddingTop);
  }
}

.#{$alert}__toggle {
  margin-block-start: var(--#{$alert}__toggle--MarginTop);
  margin-block-end: var(--#{$alert}__toggle--MarginBottom);
  margin-inline-end: var(--#{$alert}__toggle--MarginRight);
}

.#{$alert}__toggle-icon {
  @include pf-v5-mirror-inline-on-rtl;
  
  display: inline-block;
  transition: var(--#{$alert}__toggle-icon--Transition);
  transform: rotate(var(--#{$alert}__toggle-icon--Rotate));
}

.#{$alert}__icon {
  display: flex;
  grid-area: icon;
  margin-block-start: var(--#{$alert}__icon--MarginTop);
  margin-inline-end: var(--#{$alert}__icon--MarginRight);
  font-size: var(--#{$alert}__icon--FontSize);
  color: var(--#{$alert}__icon--Color);
}

.#{$alert}__title {
  grid-area: title;
  font-size: var(--#{$alert}__title--FontSize);
  font-weight: var(--#{$alert}__title--FontWeight);
  line-height: var(--#{$alert}__title--LineHeight);
  color: var(--#{$alert}__title--Color);
  word-break: break-word;

  &.pf-m-truncate {
    @include pf-v5-line-clamp("var(--#{$alert}__title--max-lines)");
  }
}

.#{$alert}__description {
  grid-area: description;
  padding-block-start: var(--#{$alert}__description--PaddingTop);
  word-break: break-word;

  + .#{$alert}__action-group {
    --#{$alert}__action-group--PaddingTop: var(--#{$alert}__description--action-group--PaddingTop);
  }
}

.#{$alert}__action {
  grid-area: action;
  margin-block-start: var(--#{$alert}__action--MarginTop);
  margin-block-end: var(--#{$alert}__action--MarginBottom);
  margin-inline-end: var(--#{$alert}__action--MarginRight);
  transform: translateY(var(--#{$alert}__action--TranslateY));

  > .#{$button} {
    --#{$button}--LineHeight: 1;
  }
}

.#{$alert}__action-group {
  grid-area: actiongroup;
  padding-block-start: var(--#{$alert}__action-group--PaddingTop);

  > .#{$button} {
    --#{$button}--m-link--m-inline--hover--TextDecoration: none;

    &:not(:last-child) {
      margin-inline-end: var(--#{$alert}__action-group__c-button--not-last-child--MarginRight);
    }
  }
}
