<div class="pf-c-alert__expandable-content-body{{#if alert-expandable-content-body--modifier}} {{alert-expandable-content-body--modifier}}{{/if}}"
  {{#if alert-expandable-content-body--attribute}}
    {{{alert-expandable-content-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
