<div class="{{pfv}}alert__icon{{#if alert-icon--modifier}} {{alert-icon--modifier}}{{/if}}"
  {{#if alert-icon--attribute}}
    {{{alert-icon--attribute}}}
  {{/if}}>
  {{pfIcon alert-icon--type}}
</div>
