@use '../../sass-utilities' as *;

// Tabs
:where(:root, .#{$alert-group}) {
  // Alert group variables
  --#{$alert-group}__item--MarginBlockStart: var(--pf-t--global--spacer--md);

  // Toast variables
  --#{$alert-group}--m-toast--InsetBlockStart: var(--pf-t--global--spacer--2xl);
  --#{$alert-group}--m-toast--InsetInlineEnd: var(--pf-t--global--spacer--xl);
  --#{$alert-group}--m-toast--MaxWidth: #{pf-size-prem(600px)};
  --#{$alert-group}--m-toast--ZIndex: var(--pf-t--global--z-index--2xl);

  // Overflow button
  --#{$alert-group}__overflow-button--BorderWidth: 0;
  --#{$alert-group}__overflow-button--BorderRadius: var(--pf-t--global--border--radius--medium);
  --#{$alert-group}__overflow-button--PaddingBlockStart: var(--pf-t--global--spacer--md);
  --#{$alert-group}__overflow-button--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --#{$alert-group}__overflow-button--PaddingBlockEnd: var(--pf-t--global--spacer--md);
  --#{$alert-group}__overflow-button--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --#{$alert-group}__overflow-button--Color: var(--pf-t--global--text--color--link--default);
  --#{$alert-group}__overflow-button--BoxShadow: var(--pf-t--global--box-shadow--lg);
  --#{$alert-group}__overflow-button--BackgroundColor: var(--pf-t--global--background--color--floating--default);
  --#{$alert-group}__overflow-button--hover--Color: var(--pf-t--global--text--color--link--hover);
  --#{$alert-group}__overflow-button--hover--BackgroundColor: var(--pf-t--global--background--color--floating--hover);
  --#{$alert-group}__overflow-button--hover--BoxShadow: var(--pf-t--global--box-shadow--lg), var(--pf-t--global--box-shadow--lg--bottom);
  --#{$alert-group}__overflow-button--focus--Color: var(--pf-t--global--text--color--link--hover);
  --#{$alert-group}__overflow-button--focus--BoxShadow: var(--pf-t--global--box-shadow--lg), var(--pf-t--global--box-shadow--lg--bottom);
  --#{$alert-group}__overflow-button--active--Color: var(--pf-t--global--text--color--link--hover);
  --#{$alert-group}__overflow-button--active--BoxShadow: var(--pf-t--global--box-shadow--lg), var(--pf-t--global--box-shadow--lg--bottom);
}

.#{$alert-group} {
  // Spacing between alerts
  > * + * {
    margin-block-start: var(--#{$alert-group}__item--MarginBlockStart);
  }

  // Toast positioning modifier
  &.pf-m-toast {
    position: fixed;
    inset-block-start: var(--#{$alert-group}--m-toast--InsetBlockStart);
    inset-inline-end: var(--#{$alert-group}--m-toast--InsetInlineEnd);
    z-index: var(--#{$alert-group}--m-toast--ZIndex);
    width: calc(100% - calc(var(--#{$alert-group}--m-toast--InsetInlineEnd) * 2));
    max-width: var(--#{$alert-group}--m-toast--MaxWidth);
  }
}

.#{$alert-group}__overflow-button {
  position: relative;
  width: 100%;
  padding-block-start: var(--#{$alert-group}__overflow-button--PaddingBlockStart);
  padding-block-end: var(--#{$alert-group}__overflow-button--PaddingBlockEnd);
  padding-inline-start: var(--#{$alert-group}__overflow-button--PaddingInlineStart);
  padding-inline-end: var(--#{$alert-group}__overflow-button--PaddingInlineEnd);
  color: var(--#{$alert-group}__overflow-button--Color);
  background-color: var(--#{$alert-group}__overflow-button--BackgroundColor);
  border-width: var(--#{$alert-group}__overflow-button--BorderWidth);
  border-radius: var(--#{$alert-group}__overflow-button--BorderRadius);
  box-shadow: var(--#{$alert-group}__overflow-button--BoxShadow);

  &:hover {
    --#{$alert-group}__overflow-button--Color: var(--#{$alert-group}__overflow-button--hover--Color);
    --#{$alert-group}__overflow-button--BackgroundColor: var(--#{$alert-group}__overflow-button--hover--BackgroundColor);
    --#{$alert-group}__overflow-button--BoxShadow: var(--#{$alert-group}__overflow-button--hover--BoxShadow);
  }

  &:focus {
    --#{$alert-group}__overflow-button--Color: var(--#{$alert-group}__overflow-button--focus--Color);
    --#{$alert-group}__overflow-button--BoxShadow: var(--#{$alert-group}__overflow-button--focus--BoxShadow);
  }

  &:active {
    --#{$alert-group}__overflow-button--Color: var(--#{$alert-group}__overflow-button--active--Color);
    --#{$alert-group}__overflow-button--BoxShadow: var(--#{$alert-group}__overflow-button--active--BoxShadow);
  }
}
