<div class="pf-c-alert__action{{#if alert-action--modifiers}} {{alert-action--modifiers}}{{/if}}"
  {{#if alert-action--attributes}}
    {{{alert-action--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>