<div class="{{pfv}}alert__toggle{{#if alert-toggle--modifier}} {{alert-toggle--modifier}}{{/if}}"
  {{#if alert-toggle--attribute}}
    {{{alert-toggle--attribute}}}
  {{/if}}>
  {{> button
    button--IsPlain=true
    button--IsIcon=true
    button--IsExpanded=alert--IsExpanded
    button--id=(concat alert--id '-toggle')
    button--aria-label="Details"
    button--aria-labelledby=(concat alert--id '-title ' alert--id '-toggle')
    button--icon-template="alert-toggle-icon"}}
</div>
