<p class="pf-c-alert-description{{#if alert-description--modifier}} {{alert-description--modifier}}{{/if}}"
  {{#if alert-description--attribute}}
    {{{alert-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
