.pf-c-alert {
  // Component variables
  --pf-c-alert--BoxShadow: var(--pf-global--BoxShadow--lg);
  --pf-c-alert--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-alert--grid-template-columns: max-content 1fr max-content;
  --pf-c-alert--grid-template-rows: var(--pf-global--spacer--lg) auto auto;
  --pf-c-alert--before--BorderTopWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-alert--before--BorderTopColor: var(--pf-global--default-color--200);
  --pf-c-alert--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-alert--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-alert--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-alert--PaddingLeft: var(--pf-global--spacer--md);

  // Icon
  --pf-c-alert__icon--Color: var(--pf-global--default-color--200);
  --pf-c-alert__icon--MarginRight: var(--pf-global--spacer--sm);
  --pf-c-alert__icon--MarginTop: calc((var(--pf-global--spacer--xs) / 2));
  --pf-c-alert__icon--FontSize: var(--pf-global--icon--FontSize--md);

  // Title
  --pf-c-alert__title--FontSize: var(--pf-global--FontSize--md);
  --pf-c-alert__title--Color: var(--pf-global--default-color--300);

  // Alert description
  --pf-c-alert__description--PaddingTop: var(--pf-global--spacer--xs);

  // Action
  --pf-c-alert__action--MarginTop: #{pf-size-prem(-6px)};
  --pf-c-alert__action--MarginRight: #{pf-size-prem(-8px)};

  // Alert action group
  --pf-c-alert__action-group--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-alert__description--action-group--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-alert__action-group--c-button--not-last-child--MarginRight: var(--pf-global--spacer--lg);
  --pf-c-alert__action-group--c-button--FontWeight: var(--pf-global--FontWeight--bold);

  // Success
  --pf-c-alert--m-success--before--BorderTopColor: var(--pf-global--success-color--100);
  --pf-c-alert--m-success__icon--Color: var(--pf-global--success-color--100);
  --pf-c-alert--m-success__title--Color: var(--pf-global--success-color--200);

  // Danger
  --pf-c-alert--m-danger--before--BorderTopColor: var(--pf-global--danger-color--100);
  --pf-c-alert--m-danger__icon--Color: var(--pf-global--danger-color--100);
  --pf-c-alert--m-danger__title--Color: var(--pf-global--danger-color--200);

  // Warning
  --pf-c-alert--m-warning--before--BorderTopColor: var(--pf-global--warning-color--100);
  --pf-c-alert--m-warning__icon--Color: var(--pf-global--warning-color--100);
  --pf-c-alert--m-warning__title--Color: var(--pf-global--warning-color--200);

  // Info
  --pf-c-alert--m-info--before--BorderTopColor: var(--pf-global--info-color--100);
  --pf-c-alert--m-info__icon--Color: var(--pf-global--info-color--100);
  --pf-c-alert--m-info__title--Color: var(--pf-global--info-color--200);

  // Inline modification
  --pf-c-alert--m-inline--BoxShadow: none;
  --pf-c-alert--m-inline--BackgroundColor: var(--pf-global--palette--cyan-50);

  // Inline success
  --pf-c-alert--m-inline--m-success--BackgroundColor: var(--pf-global--palette--green-50);

  // Inline danger
  --pf-c-alert--m-inline--m-danger--BackgroundColor: var(--pf-global--palette--red-50);

  // Inline warning
  --pf-c-alert--m-inline--m-warning--BackgroundColor: var(--pf-global--palette--gold-50);

  // Inline info
  --pf-c-alert--m-inline--m-info--BackgroundColor: var(--pf-global--palette--blue-50);

  @include pf-t-light; // This component always needs to be light

  position: relative;
  display: grid;
  padding: var(--pf-c-alert--PaddingTop) var(--pf-c-alert--PaddingRight) var(--pf-c-alert--PaddingBottom) var(--pf-c-alert--PaddingLeft);
  background-color: var(--pf-c-alert--BackgroundColor);
  box-shadow: var(--pf-c-alert--BoxShadow);
  grid-template-columns: var(--pf-c-alert--grid-template-columns);
  grid-template-rows: var(--pf-c-alert--grid-template-rows);
  grid-template-areas:
    "icon title action"
    "icon content content"
    "icon actiongroup actiongroup";

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    content: "";
    border: var(--pf-c-alert--before--BorderTopWidth) solid;
    border-color: var(--pf-c-alert--before--BorderTopColor);
  }

  &.pf-m-success {
    --pf-c-alert--before--BorderTopColor: var(--pf-c-alert--m-success--before--BorderTopColor);
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-success__icon--Color);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-success__title--Color);
    --pf-c-alert--m-inline--BackgroundColor: var(--pf-c-alert--m-inline--m-success--BackgroundColor);
  }

  &.pf-m-danger {
    --pf-c-alert--before--BorderTopColor: var(--pf-c-alert--m-danger--before--BorderTopColor);
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-danger__icon--Color);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-danger__title--Color);
    --pf-c-alert--m-inline--BackgroundColor: var(--pf-c-alert--m-inline--m-danger--BackgroundColor);
  }

  &.pf-m-warning {
    --pf-c-alert--before--BorderTopColor: var(--pf-c-alert--m-warning--before--BorderTopColor);
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-warning__icon--Color);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-warning__title--Color);
    --pf-c-alert--m-inline--BackgroundColor: var(--pf-c-alert--m-inline--m-warning--BackgroundColor);
  }

  &.pf-m-info {
    --pf-c-alert--before--BorderTopColor: var(--pf-c-alert--m-info--before--BorderTopColor);
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-info__icon--Color);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-info__title--Color);
    --pf-c-alert--m-inline--BackgroundColor: var(--pf-c-alert--m-inline--m-info--BackgroundColor);
  }

  &.pf-m-inline {
    --pf-c-alert--BoxShadow: var(--pf-c-alert--m-inline--BoxShadow);
    --pf-c-alert--BackgroundColor: var(--pf-c-alert--m-inline--BackgroundColor);
  }
}

.pf-c-alert__icon {
  display: flex;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  margin-top: var(--pf-c-alert__icon--MarginTop);
  margin-right: var(--pf-c-alert__icon--MarginRight);
  font-size: var(--pf-c-alert__icon--FontSize);
  color: var(--pf-c-alert__icon--Color);
}

.pf-c-alert__title {
  display: flex;
  grid-area: title;
  font-size: var(--pf-c-alert__title--FontSize);
  color: var(--pf-c-alert__title--Color);
}

.pf-c-alert__description {
  grid-area: content;
  padding-top: var(--pf-c-alert__description--PaddingTop);

  + .pf-c-alert__action-group {
    padding-top: var(--pf-c-alert__description--action-group--PaddingTop);
  }
}

.pf-c-alert__action {
  grid-area: action;
  margin-top: var(--pf-c-alert__action--MarginTop);
  margin-right: var(--pf-c-alert__action--MarginRight);
}

.pf-c-alert__action-group {
  grid-area: actiongroup;
  padding-top: var(--pf-c-alert__action-group--PaddingTop);

  > .pf-c-button {
    font-weight: var(--pf-c-alert__action-group--c-button--FontWeight);

    &:not(:last-child) {
      margin-right: var(--pf-c-alert__action-group--c-button--not-last-child--MarginRight);
    }
  }
}

// RedHat Font overrides
@include pf-m-redhat-font {
  .pf-c-alert__title {
    font-weight: var(--pf-global--FontWeight--bold);
  }
}
