<div class="{{pfv}}alert__toggle{{#if alert-toggle--modifier}} {{alert-toggle--modifier}}{{/if}}"
  {{#if alert-toggle--attribute}}
    {{{alert-toggle--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--IsIcon=true button--IsExpanded=alert--IsExpanded button--icon-template="alert-toggle-icon"}}
</div>
