.pf-c-alert {
  // component variables
  --pf-c-alert--BoxShadow: var(--pf-global--BoxShadow--lg);
  --pf-c-alert--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-alert--grid-template-columns: max-content 1fr max-content;
  --pf-c-alert--grid-template-rows: 1fr auto;

  // Icon
  --pf-c-alert__icon--Padding: var(--pf-global--spacer--md);
  --pf-c-alert__icon--Color: var(--pf-global--Color--100);
  --pf-c-alert__icon--FontSize: var(--pf-global--icon--FontSize--lg);

  // Title
  --pf-c-alert__title--FontSize: var(--pf-global--FontSize--md);
  --pf-c-alert__title--Color: var(--pf-global--Color--100);
  --pf-c-alert__title--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-alert__title--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-alert__title--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-alert__title--PaddingLeft: var(--pf-global--spacer--md);

  // description
  --pf-c-alert__description--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-alert__description--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-alert__description--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-alert__description--MarginTop: calc(-1 * var(--pf-global--spacer--sm));

  // action
  --pf-c-alert__action--PaddingTop: #{pf-size-prem(11px)}; // one off spacer to align properly.
  --pf-c-alert__action--PaddingRight: var(--pf-global--spacer--xs);

  // Success
  --pf-c-alert--m-success__icon--Color: var(--pf-global--success-color--200);
  --pf-c-alert--m-success__icon--BackgroundColor: var(--pf-global--success-color--100);
  --pf-c-alert--m-success__title--Color: var(--pf-global--success-color--200);

  // Danger
  --pf-c-alert--m-danger__icon--Color: var(--pf-global--danger-color--300);
  --pf-c-alert--m-danger__icon--BackgroundColor: var(--pf-global--danger-color--100);
  --pf-c-alert--m-danger__title--Color: var(--pf-global--danger-color--200);

  // Warning
  --pf-c-alert--m-warning__icon--Color: var(--pf-global--warning-color--200);
  --pf-c-alert--m-warning__icon--BackgroundColor: var(--pf-global--warning-color--100);
  --pf-c-alert--m-warning__icon--FontSize: var(--pf-global--FontSize--xl);
  --pf-c-alert--m-warning__title--Color: var(--pf-global--warning-color--200);

  // Info
  --pf-c-alert--m-info__icon--Color: var(--pf-global--info-color--200);
  --pf-c-alert--m-info__icon--BackgroundColor: var(--pf-global--info-color--100);
  --pf-c-alert--m-info__title--Color: var(--pf-global--info-color--200);

  // This component always needs to be light
  @include pf-t-light;

  display: grid;
  grid-template-columns: var(--pf-c-alert--grid-template-columns);
  grid-template-rows: var(--pf-c-alert--grid-template-rows);
  grid-template-areas:
    "icon title action"
    "icon content content";
  background-color: var(--pf-c-alert--BackgroundColor);
  box-shadow: var(--pf-c-alert--BoxShadow);


  &.pf-m-success {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-success__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-success__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-success__title--Color);
  }

  &.pf-m-danger {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-danger__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-danger__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-danger__title--Color);
  }

  &.pf-m-warning {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-warning__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-warning__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-warning__title--Color);

    .pf-c-alert__icon {
      --pf-c-alert__icon--FontSize: var(--pf-c-alert--m-warning__icon--FontSize); // ensures icons are all same width.
    }
  }

  &.pf-m-info {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-info__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-info__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-info__title--Color);
  }
}

.pf-c-alert__icon {
  display: flex;
  grid-area: icon;
  padding: var(--pf-c-alert__icon--Padding);
  font-size: var(--pf-c-alert__icon--FontSize);
  color: var(--pf-c-alert__icon--Color);
  background-color: var(--pf-c-alert__icon--BackgroundColor);
}

.pf-c-alert__title {
  grid-area: title;
  padding: var(--pf-c-alert__title--PaddingTop) var(--pf-c-alert__title--PaddingRight) var(--pf-c-alert__title--PaddingBottom)  var(--pf-c-alert__title--PaddingLeft);
  font-size: var(--pf-c-alert__title--FontSize);
  color: var(--pf-c-alert__title--Color);

  & + .pf-c-alert__description {
    margin-top: var(--pf-c-alert__description--MarginTop);
  }
}

.pf-c-alert__description {
  grid-area: content;
  padding-right: var(--pf-c-alert__description--PaddingRight);
  padding-bottom: var(--pf-c-alert__description--PaddingBottom);
  padding-left: var(--pf-c-alert__description--PaddingLeft);
}

.pf-c-alert__action {
  grid-area: action;
  padding-top: var(--pf-c-alert__action--PaddingTop);
  padding-right: var(--pf-c-alert__action--PaddingRight);
}
