<div class="pf-c-alert__content{{#if alert-content--modifier}} {{alert-content--modifier}}{{/if}}"
  {{#if alert-content--attribute}}
    {{{alert-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
