// @debug $alert; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$alert} {
  // Alert variables
  --#{$alert}--BoxShadow: var(--#{$pf-global}--BoxShadow--lg);
  --#{$alert}--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$alert}--GridTemplateColumns: max-content 1fr max-content;
  --#{$alert}--GridTemplateAreas:
    "icon title action"
    ". description description"
    ". actiongroup actiongroup";
  --#{$alert}--BorderTopWidth: var(--#{$pf-global}--BorderWidth--md);
  --#{$alert}--BorderTopColor: var(--#{$pf-global}--BorderColor--100);
  --#{$alert}--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$alert}--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$alert}--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$alert}--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$alert}__FontSize: var(--#{$pf-global}--FontSize--sm);

  // Toggle
  --#{$alert}__toggle--MarginTop: calc(-1 * var(--#{$pf-global}--spacer--form-element) - #{pf-size-prem(1px)});
  --#{$alert}__toggle--MarginBottom: calc(-1 * var(--#{$pf-global}--spacer--form-element));
  --#{$alert}__toggle--MarginLeft: calc(-1 * var(--#{$pf-global}--spacer--md));

  // Toggle icon
  --#{$alert}__toggle-icon--Rotate: 0;
  --#{$alert}__toggle-icon--Transition: var(--#{$pf-global}--Transition);

  // Icon
  --#{$alert}__icon--Color: var(--#{$pf-global}--Color--100);
  --#{$alert}__icon--MarginTop: #{pf-size-prem(1px)};
  --#{$alert}__icon--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$alert}__icon--FontSize: var(--#{$pf-global}--icon--FontSize--md);

  // Title
  --#{$alert}__title--FontWeight: var(--#{$pf-global}--FontWeight--bold);
  --#{$alert}__title--Color: var(--#{$pf-global}--Color--100);
  --#{$alert}__title--max-lines: 1;

  // Action
  --#{$alert}__action--MarginTop: calc(var(--#{$pf-global}--spacer--form-element) * -1);
  --#{$alert}__action--MarginBottom: calc(var(--#{$pf-global}--spacer--form-element) * -1);
  --#{$alert}__action--TranslateY: #{pf-size-prem(2px)};
  --#{$alert}__action--MarginRight: calc(var(--#{$pf-global}--spacer--sm) * -1);

  // Description
  --#{$alert}__description--PaddingTop: var(--#{$pf-global}--spacer--xs);

  // Action group
  --#{$alert}__action-group--PaddingTop-base: var(--#{$pf-global}--spacer--xs);
  --#{$alert}__action-group--PaddingTop: var(--#{$alert}__action-group--PaddingTop-base);
  --#{$alert}__description--action-group--PaddingTop-base: var(--#{$pf-global}--spacer--md);
  --#{$alert}__description--action-group--PaddingTop: var(--#{$alert}__description--action-group--PaddingTop-base);
  --#{$alert}__action-group__c-button--not-last-child--MarginRight: var(--#{$pf-global}--spacer--lg);

  // Custom
  --#{$alert}--m-custom--BorderTopColor: var(--#{$pf-global}--custom-color--200);
  --#{$alert}--m-custom__icon--Color: var(--#{$pf-global}--custom-color--200);
  --#{$alert}--m-custom__title--Color: var(--#{$pf-global}--custom-color--300);

  // Success
  --#{$alert}--m-success--BorderTopColor: var(--#{$pf-global}--success-color--100);
  --#{$alert}--m-success__icon--Color: var(--#{$pf-global}--success-color--100);
  --#{$alert}--m-success__title--Color: var(--#{$pf-global}--success-color--200);

  // Danger
  --#{$alert}--m-danger--BorderTopColor: var(--#{$pf-global}--danger-color--100);
  --#{$alert}--m-danger__icon--Color: var(--#{$pf-global}--danger-color--100);
  --#{$alert}--m-danger__title--Color: var(--#{$pf-global}--danger-color--200);

  // Warning
  --#{$alert}--m-warning--BorderTopColor: var(--#{$pf-global}--warning-color--100);
  --#{$alert}--m-warning__icon--Color: var(--#{$pf-global}--warning-color--100);
  --#{$alert}--m-warning__title--Color: var(--#{$pf-global}--warning-color--200);

  // Info
  --#{$alert}--m-info--BorderTopColor: var(--#{$pf-global}--info-color--100);
  --#{$alert}--m-info__icon--Color: var(--#{$pf-global}--info-color--100);
  --#{$alert}--m-info__title--Color: var(--#{$pf-global}--info-color--200);

  // Inline
  --#{$alert}--m-inline--BoxShadow: none;

  // Inline custom
  --#{$alert}--m-inline--m-custom--BackgroundColor: var(--#{$pf-global}--palette--cyan-50);

  // Inline success
  --#{$alert}--m-inline--m-success--BackgroundColor: var(--#{$pf-global}--palette--green-50);

  // Inline danger
  --#{$alert}--m-inline--m-danger--BackgroundColor: var(--#{$pf-global}--palette--red-50);

  // Inline warning
  --#{$alert}--m-inline--m-warning--BackgroundColor: var(--#{$pf-global}--palette--gold-50);

  // Inline info
  --#{$alert}--m-inline--m-info--BackgroundColor: var(--#{$pf-global}--palette--blue-50);

  // Inline plain
  --#{$alert}--m-inline--m-plain--BorderTopWidth: 0;
  --#{$alert}--m-inline--m-plain--BackgroundColor: transparent;
  --#{$alert}--m-inline--m-plain--PaddingTop: 0;
  --#{$alert}--m-inline--m-plain--PaddingRight: 0;
  --#{$alert}--m-inline--m-plain--PaddingBottom: 0;
  --#{$alert}--m-inline--m-plain--PaddingLeft: 0;

  // Expandable
  --#{$alert}--m-expandable--GridTemplateColumns: auto max-content 1fr max-content;
  --#{$alert}--m-expandable--GridTemplateAreas:
    "toggle icon title action"
    ". . description description"
    ". . actiongroup actiongroup";
  --#{$alert}--m-expandable__description--action-group--PaddingTop: var(--#{$alert}__action-group--PaddingTop-base);

  // Expanded
  --#{$alert}--m-expanded__toggle-icon--Rotate: 90deg;
  --#{$alert}--m-expanded__description--action-group--PaddingTop: var(--#{$alert}__description--action-group--PaddingTop-base);

  @include pf-v5-t-light; // This component always needs to be light

  position: relative;
  display: grid;
  grid-template-areas: var(--#{$alert}--GridTemplateAreas);
  grid-template-columns: var(--#{$alert}--GridTemplateColumns);
  padding-block-start: var(--#{$alert}--PaddingTop);
  padding-block-end: var(--#{$alert}--PaddingBottom);
  padding-inline-start: var(--#{$alert}--PaddingLeft);
  padding-inline-end: var(--#{$alert}--PaddingRight);
  font-size: var(--#{$alert}__FontSize);
  background-color: var(--#{$alert}--BackgroundColor);
  border-block-start: var(--#{$alert}--BorderTopWidth) solid var(--#{$alert}--BorderTopColor);
  box-shadow: var(--#{$alert}--BoxShadow);

  &.pf-m-custom {
    --#{$alert}--BorderTopColor: var(--#{$alert}--m-custom--BorderTopColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-custom__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-custom__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-custom--BackgroundColor);
  }

  &.pf-m-success {
    --#{$alert}--BorderTopColor: var(--#{$alert}--m-success--BorderTopColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-success__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-success__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-success--BackgroundColor);
  }

  &.pf-m-danger {
    --#{$alert}--BorderTopColor: var(--#{$alert}--m-danger--BorderTopColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-danger__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-danger__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-danger--BackgroundColor);
  }

  &.pf-m-warning {
    --#{$alert}--BorderTopColor: var(--#{$alert}--m-warning--BorderTopColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-warning__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-warning__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-warning--BackgroundColor);
  }

  &.pf-m-info {
    --#{$alert}--BorderTopColor: var(--#{$alert}--m-info--BorderTopColor);
    --#{$alert}__icon--Color: var(--#{$alert}--m-info__icon--Color);
    --#{$alert}__title--Color: var(--#{$alert}--m-info__title--Color);
    --#{$alert}--m-inline--BackgroundColor: var(--#{$alert}--m-inline--m-info--BackgroundColor);
  }

  &.pf-m-inline {
    --#{$alert}--BoxShadow: var(--#{$alert}--m-inline--BoxShadow);
    --#{$alert}--BackgroundColor: var(--#{$alert}--m-inline--BackgroundColor);
  }

  &.pf-m-plain {
    --#{$alert}--BorderTopWidth: var(--#{$alert}--m-inline--m-plain--BorderTopWidth);
    --#{$alert}--BackgroundColor: var(--#{$alert}--m-inline--m-plain--BackgroundColor);
    --#{$alert}--PaddingTop: var(--#{$alert}--m-inline--m-plain--PaddingTop);
    --#{$alert}--PaddingRight: var(--#{$alert}--m-inline--m-plain--PaddingRight);
    --#{$alert}--PaddingBottom: var(--#{$alert}--m-inline--m-plain--PaddingBottom);
    --#{$alert}--PaddingLeft: var(--#{$alert}--m-inline--m-plain--PaddingLeft);
  }

  &.pf-m-expandable {
    --#{$alert}--GridTemplateColumns: var(--#{$alert}--m-expandable--GridTemplateColumns);
    --#{$alert}--GridTemplateAreas: var(--#{$alert}--m-expandable--GridTemplateAreas);
    --#{$alert}__description--action-group--PaddingTop: var(--#{$alert}--m-expandable__description--action-group--PaddingTop);
  }

  &.pf-m-expanded {
    --#{$alert}__toggle-icon--Rotate: var(--#{$alert}--m-expanded__toggle-icon--Rotate);
    --#{$alert}__description--action-group--PaddingTop: var(--#{$alert}--m-expanded__description--action-group--PaddingTop);
  }
}

.#{$alert}__toggle {
  margin-block-start: var(--#{$alert}__toggle--MarginTop);
  margin-block-end: var(--#{$alert}__toggle--MarginBottom);
  margin-inline-start: var(--#{$alert}__toggle--MarginLeft);
}

.#{$alert}__toggle-icon {
  @include pf-v5-mirror-inline-on-rtl;
  
  display: inline-block;
  transition: var(--#{$alert}__toggle-icon--Transition);
  transform: rotate(var(--#{$alert}__toggle-icon--Rotate));
}

.#{$alert}__icon {
  display: flex;
  grid-area: icon;
  margin-block-start: var(--#{$alert}__icon--MarginTop);
  margin-inline-end: var(--#{$alert}__icon--MarginRight);
  font-size: var(--#{$alert}__icon--FontSize);
  color: var(--#{$alert}__icon--Color);
}

.#{$alert}__title {
  grid-area: title;
  font-weight: var(--#{$alert}__title--FontWeight);
  color: var(--#{$alert}__title--Color);
  word-break: break-word;

  &.pf-m-truncate {
    @include pf-v5-line-clamp("var(--#{$alert}__title--max-lines)");
  }
}

.#{$alert}__description {
  grid-area: description;
  padding-block-start: var(--#{$alert}__description--PaddingTop);
  word-break: break-word;

  + .#{$alert}__action-group {
    --#{$alert}__action-group--PaddingTop: var(--#{$alert}__description--action-group--PaddingTop);
  }
}

.#{$alert}__action {
  grid-area: action;
  margin-block-start: var(--#{$alert}__action--MarginTop);
  margin-block-end: var(--#{$alert}__action--MarginBottom);
  margin-inline-end: var(--#{$alert}__action--MarginRight);
  transform: translateY(var(--#{$alert}__action--TranslateY));

  > .#{$button} {
    --#{$button}--LineHeight: 1;
  }
}

.#{$alert}__action-group {
  grid-area: actiongroup;
  padding-block-start: var(--#{$alert}__action-group--PaddingTop);

  > .#{$button} {
    --#{$button}--m-link--m-inline--hover--TextDecoration: none;

    &:not(:last-child) {
      margin-inline-end: var(--#{$alert}__action-group__c-button--not-last-child--MarginRight);
    }
  }
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/alert";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-alert;
}
