@import "../../patternfly-utilities";

$pf-c-alert--PaddingTop:        $global--spacer--sm !default;
$pf-c-alert--PaddingRight:      $global--spacer--md !default;
$pf-c-alert--PaddingBottom:     $global--spacer--sm !default;
$pf-c-alert--PaddingLeft:       $global--spacer--md !default;
$pf-c-alert--MarginBottom:      $global--spacer !default;
$pf-c-alert--BorderWidth:       $global--BorderWidth !default;
$pf-c-alert__link--FontWeight:  $global--FontWeight--bold !default;

//success alert
$pf-c-alert--is-success--BackgroundColor:  $global--success-color !default;
$pf-c-alert--is-success--Color:            $global--success-color--dark !default;
$pf-c-alert--is-success--BorderColor:      $global--success-color--dark !default;

//danger alert
$pf-c-alert--is-danger--BackgroundColor:  $global--danger-color !default;
$pf-c-alert--is-danger--Color:            $global--Color--light !default;
$pf-c-alert--is-danger--BorderColor:      $global--danger-color--dark !default;

//warning alert
$pf-c-alert--is-warning--BackgroundColor:  $global--warning-color !default;
$pf-c-alert--is-warning--Color:            $global--warning-color--dark !default;
$pf-c-alert--is-warning--BorderColor:      $global--warning-color--dark !default;

//info alert
$pf-c-alert--is-info--BackgroundColor:  $global--info-color !default;
$pf-c-alert--is-info--Color:            $global--info-color--dark !default;
$pf-c-alert--is-info--BorderColor:      $global--info-color--dark !default;

.pf-c-alert {
  position: relative;
  padding: $pf-c-alert--PaddingTop, $pf-c-alert--PaddingRight, $pf-c-alert--PaddingBottom, $pf-c-alert--PaddingLeft;
  border: $pf-c-alert--BorderWidth solid transparent;

  &__heading {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;
  }

  &__link {
    font-weight: $pf-c-alert__link--FontWeight;
  }

  &.pf-is-success {
    color: $pf-c-alert--is-success--Color;
    background-color: $pf-c-alert--is-success--BackgroundColor;
    border-color: $pf-c-alert--is-success--BorderColor;
  }

  &.pf-is-danger {
    color: $pf-c-alert--is-danger--Color;
    background-color: $pf-c-alert--is-danger--BackgroundColor;
    border-color: $pf-c-alert--is-danger--BorderColor;
  }

  &.pf-is-warning {
    color: $pf-c-alert--is-warning--Color;
    background-color: $pf-c-alert--is-warning--BackgroundColor;
    border-color: $pf-c-alert--is-warning--BorderColor;
  }

  &.pf-is-info {
    color: $pf-c-alert--is-info--Color;
    background-color: $pf-c-alert--is-info--BackgroundColor;
    border-color: $pf-c-alert--is-info--BorderColor;
  }
}
