@import "../../patternfly-utilities";

$pf-c-alert--paddingInline:       $pf-global-spacer-sm !default;
$pf-c-alert--paddingBlock:        $pf-global-spacer-lg !default;
$pf-c-alert--marginBottom:        $pf-global-spacer-md !default;

$pf-c-alert--borderWidth:         $pf-global-border-width !default;

$pf-c-alert__link--fontWeight:    $pf-global-font-weight-bold !default;
//TODO change these to global variables?
$pf-c-alert--bgLevel:             -10 !default;
$pf-c-alert--borderLevel:         -9 !default;
$pf-c-alert--colorLevel:          6 !default;

//
// Base styles
//

.pf-c-alert {
  position: relative;
  padding: $pf-c-alert--paddingInline $pf-c-alert--paddingBlock;
  border: $pf-c-alert--borderWidth solid transparent;
  &__heading {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;
  }
  &__link {
    font-weight: $pf-c-alert__link--fontWeight;
  }
  // Generate contextual modifier classes for colorizing the alert.
  @each $color, $value in $theme-colors {
    &.pf-is-#{$color} {
      @include pf-alert-variant(theme-color-level($color, $pf-c-alert--bgLevel), theme-color-level($color, $pf-c-alert--borderLevel), theme-color-level($color, $pf-c-alert--colorLevel));
    }
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

// .pf-c-alert--dismissible {
//   // padding-right: ($close-font-size + $pf-c-alert--paddingBlock * 2);
//
//   // Adjust close link position
//   .close {
//     position: absolute;
//     top: 0;
//     right: 0;
//     padding: $pf-c-alert--paddingInline $pf-c-alert--paddingBlock;
//     color: inherit;
//   }
// }


// Alternate styles
//
