<span class="pf-c-timestamp{{#if timestamp--IsHelp}} pf-m-help-text{{/if}}{{#if timestamp--modifier}} {{timestamp--modifier}}{{/if}}"
  {{#if timestamp--attribute}}
    {{{timestamp--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</span>
