@use '../../sass-utilities' as *;

:where(:root, .#{$timestamp}) {
  --#{$timestamp}--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$timestamp}--Color: var(--pf-t--global--text--color--subtle);
  --#{$timestamp}--OutlineOffset: #{pf-size-prem(3px)};

  // Help text variables for the timestamp
  --#{$timestamp}--m-help-text--TextDecorationLine: underline;
  --#{$timestamp}--m-help-text--TextDecorationStyle: dashed;
  --#{$timestamp}--m-help-text--TextDecorationThickness: var(--pf-t--global--border--width--regular);
  --#{$timestamp}--m-help-text--TextUnderlineOffset: #{pf-size-prem(4px)};
  --#{$timestamp}--m-help-text--TextDecorationColor: var(--pf-t--global--border--color--default);
  --#{$timestamp}--m-help-text--hover--Color: var(--pf-t--global--text--color--regular);
  --#{$timestamp}--m-help-text--focus--Color: var(--pf-t--global--text--color--regular);
  --#{$timestamp}--m-help-text--hover--TextDecorationColor: var(--pf-t--global--text--color--regular);
  --#{$timestamp}--m-help-text--focus--TextDecorationColor: var(--pf-t--global--text--color--regular);
}

.#{$timestamp} {
  display: inline-block;
  font-size: var(--#{$timestamp}--FontSize);
  color: var(--#{$timestamp}--Color);
  outline-offset: var(--#{$timestamp}--OutlineOffset);

  &.pf-m-help-text {
    text-decoration-line: var(--#{$timestamp}--m-help-text--TextDecorationLine);
    text-decoration-thickness: var(--#{$timestamp}--m-help-text--TextDecorationThickness);
    text-decoration-style: var(--#{$timestamp}--m-help-text--TextDecorationStyle);
    text-decoration-color: var(--#{$timestamp}--m-help-text--TextDecorationColor);
    text-underline-offset: var(--#{$timestamp}--m-help-text--TextUnderlineOffset);
    cursor: pointer;

    &:hover {
      --#{$timestamp}--Color: var(--#{$timestamp}--m-help-text--hover--Color);
      --#{$timestamp}--m-help-text--TextDecorationColor: var(--#{$timestamp}--m-help-text--hover--TextDecorationColor);
    }

    &:focus {
      --#{$timestamp}--Color: var(--#{$timestamp}--m-help-text--focus--Color);
      --#{$timestamp}--m-help-text--TextDecorationColor: var(--#{$timestamp}--m-help-text--focus--TextDecorationColor);
    }
  }
}
