:root,
.#{$form-control} {
  --#{$form-control}--ColumnGap: var(--pf-t--global--spacer--sm);
  --#{$form-control}--Color: var(--pf-t--global--text--color--regular);
  --#{$form-control}--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$form-control}--LineHeight: var(--pf-t--global--font--line-height--body);
  --#{$form-control}--Resize: none;
  --#{$form-control}--OutlineOffset: -6px;
  --#{$form-control}--BorderRadius: var(--pf-t--global--border--radius--small);
  --#{$form-control}--before--BorderWidth: var(--pf-t--global--border--width--control--default);
  --#{$form-control}--before--BorderColor: var(--pf-t--global--border--color--default);
  --#{$form-control}--before--BorderRadius: var(--#{$form-control}--BorderRadius);
  --#{$form-control}--after--BorderWidth: var(--pf-t--global--border--width--control--default);
  --#{$form-control}--after--BorderColor: transparent;
  --#{$form-control}--after--BorderRadius: var(--#{$form-control}--BorderRadius);
  --#{$form-control}--BackgroundColor: var(--pf-t--global--background--color--control--default);
  --#{$form-control}--Width: 100%;

  // padding
  --#{$form-control}--inset--base: var(--pf-t--global--spacer--md);
  --#{$form-control}--PaddingTop: var(--pf-t--global--spacer--sm); // (--#{$pf-global}--spacer--form-element);
  --#{$form-control}--PaddingBottom: var(--pf-t--global--spacer--sm); // var(--#{$pf-global}--spacer--form-element);
  --#{$form-control}--PaddingRight: var(--#{$form-control}--inset--base);
  --#{$form-control}--PaddingLeft: var(--#{$form-control}--inset--base);

  // hover
  --#{$form-control}--hover--after--BorderWidth: var(--pf-t--global--border--width--control--hover);
  --#{$form-control}--hover--after--BorderColor: var(--pf-t--global--border--color--hover);

  // focus
  --#{$form-control}--focus--after--BorderWidth: var(--pf-t--global--border--width--control--active);
  --#{$form-control}--focus--after--BorderColor: var(--pf-t--global--border--color--active);

  // expanded
  --#{$form-control}--m-expanded--after--BorderWidth: var(--pf-t--global--border--width--control--active);
  --#{$form-control}--m-expanded--after--BorderColor: var(--pf-t--global--border--color--active);

  // placeholder
  --#{$form-control}--m-placeholder--Color: var(--pf-t--global--text--color--placeholder);
  --#{$form-control}--m-placeholder--child--Color: var(--pf-t--global--text--color--regular);

  // disabled
  --#{$form-control}--m-disabled--Color: var(--pf-t--global--text--color--on-disabled);
  --#{$form-control}--m-disabled--BackgroundColor: var(--pf-t--global--background--color--disabled--default);
  --#{$form-control}--m-disabled--after--BorderColor: transparent;

  // readonly
  --#{$form-control}--m-readonly--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$form-control}--m-readonly--BorderColor: transparent;
  --#{$form-control}--m-readonly--hover--after--BorderColor: revert;
  --#{$form-control}--m-readonly--focus--after--BorderWidth: var(--pf-t--global--border--width--control--active);
  --#{$form-control}--m-readonly--focus--after--BorderColor: var(--pf-t--global--border--color--active);

  // readonly plain
  --#{$form-control}--m-readonly--m-plain--BackgroundColor: transparent;
  --#{$form-control}--m-readonly--m-plain--inset--base: 0;
  --#{$form-control}--m-readonly--m-plain--OutlineOffset: 0;

  // success
  --#{$form-control}--m-success--after--BorderWidth: var(--pf-t--global--border--width--control--default);
  --#{$form-control}--m-success--after--BorderColor: var(--pf-t--global--border--color--status--success--default);
  --#{$form-control}--m-success--PaddingRight: var(--pf-t--global--spacer--xl);

  // warning
  --#{$form-control}--m-warning--after--BorderWidth: var(--pf-t--global--border--width--control--default);
  --#{$form-control}--m-warning--after--BorderColor: var(--pf-t--global--border--color--status--warning--default);
  --#{$form-control}--m-warning--PaddingRight: var(--pf-t--global--spacer--xl);

  // error
  --#{$form-control}--m-error--after--BorderWidth: var(--pf-t--global--border--width--control--default);
  --#{$form-control}--m-error--after--BorderColor: var(--pf-t--global--border--color--status--danger--default);
  --#{$form-control}--m-error--PaddingRight: var(--pf-t--global--spacer--xl);
  --#{$form-control}--m-error--icon--width: var(--#{$form-control}--FontSize);

  // custom icon
  --#{$form-control}--m-icon--PaddingRight: calc(var(--#{$form-control}--inset--base) + var(--#{$form-control}--m-icon--icon--width) + var(--#{$form-control}--m-icon--icon--spacer));
  --#{$form-control}--m-icon--icon--width: var(--#{$form-control}--FontSize);
  --#{$form-control}--m-icon--icon--spacer: var(--pf-t--global--spacer--sm);
  --#{$form-control}--m-icon--icon--PaddingRight: calc(var(--#{$form-control}--inset--base) + var(--#{$form-control}--m-error--icon--width) + var(--#{$form-control}--m-icon--icon--spacer) + var(--#{$form-control}--m-icon--icon--width) + var(--#{$form-control}--m-icon--icon--spacer));
  --#{$form-control}__select--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$form-control}__select--PaddingLeft: var(--pf-t--global--spacer--md);

  // Select success
  --#{$form-control}__select--m-success--m-status--PaddingRight: var(--pf-t--global--spacer--3xl);

  // Select warning
  --#{$form-control}__select--m-warning--m-status--PaddingRight: var(--pf-t--global--spacer--3xl);

  // Select invalid
  --#{$form-control}__select--m-error--m-status--PaddingRight: var(--pf-t--global--spacer--3xl);

  // Textarea
  --#{$form-control}--textarea--Width: var(--#{$form-control}--Width);
  --#{$form-control}--textarea--Height: auto;

  // Form control icon 
  --#{$form-control}__icon--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$form-control}__icon--Color: var(--pf-t--global--icon--color--regular);
  --#{$form-control}__icon--m-status--Color: var(--pf-t--global--icon--color--regular);
  --#{$form-control}--m-success__icon--m-status--Color: var(--pf-t--global--icon--color--status--success--default);
  --#{$form-control}--m-warning__icon--m-status--Color: var(--pf-t--global--icon--color--status--warning--default);
  --#{$form-control}--m-error__icon--m-status--Color: var(--pf-t--global--icon--color--status--danger--default);

  // Form control utilities
  --#{$form-control}__utilities--Gap: var(--pf-t--global--spacer--sm);
  --#{$form-control}__utilities--PaddingTop: var(--#{$form-control}--inset--base);
  --#{$form-control}__utilities--PaddingRight: var(--#{$form-control}--inset--base);

  // Form control select toggle icon
  --#{$form-control}__toggle-icon--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$form-control}__toggle-icon--PaddingRight: var(--#{$form-control}--inset--base);
  --#{$form-control}__toggle-icon--PaddingLeft: var(--#{$form-control}--inset--base);
  --#{$form-control}__toggle-icon--Color: var(--pf-t--global--icon--color--regular);
  --#{$form-control}--m-disabled__toggle-icon--Color: var(--pf-t--global--icon--color--disabled);
}

.#{$form-control} {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: var(--#{$form-control}--ColumnGap);
  align-items: start;
  width: var(--#{$form-control}--Width);
  font-size: var(--#{$form-control}--FontSize);
  line-height: var(--#{$form-control}--LineHeight);
  resize: var(--#{$form-control}--Resize);
  background-color: var(--#{$form-control}--BackgroundColor);
  border-radius: var(--#{$form-control}--BorderRadius);

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
  }

  &::before {
    border-color: var(--#{$form-control}--before--BorderColor);
    border-style: var(--#{$form-control}--before--BorderStyle, solid);
    border-width: var(--#{$form-control}--before--BorderWidth);
    border-radius: var(--#{$form-control}--before--BorderRadius);
  }

  &::after {
    border: var(--#{$form-control}--after--BorderWidth) var(--#{$form-control}--after--BorderStyle, solid) var(--#{$form-control}--after--BorderColor);
    border-radius: var(--#{$form-control}--before--BorderRadius);
  }

  > :is(input, select, textarea) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    padding-block-start: var(--#{$form-control}--PaddingTop);
    padding-block-end: var(--#{$form-control}--PaddingBottom);
    padding-inline-start: var(--#{$form-control}--PaddingLeft);
    padding-inline-end: var(--#{$form-control}--PaddingRight);
    color: var(--#{$form-control}--Color);
    background-color: transparent;
    border: none;
    border-radius: var(--#{$form-control}--BorderRadius);

    // stylelint-disable
    -moz-appearance: none;
    -webkit-appearance: none;
    // stylelint-enable

    &:focus {
      outline-offset: var(--#{$form-control}--OutlineOffset);
    }
  }

  > ::placeholder {
    color: var(--#{$form-control}--m-placeholder--Color); // TODO update to set --#{$form-control}--Color in breaking change - also look for any other place to do that in this component
  }
  
  > :is(input, select) {
    text-overflow: ellipsis;
  }

  &.pf-m-readonly {
    --#{$form-control}--BackgroundColor: var(--#{$form-control}--m-readonly--BackgroundColor);
    --#{$form-control}--BorderColor: var(--#{$form-control}--m-readonly--BorderColor);
    
    &:hover {
      --#{$form-control}--hover--after--BorderColor: var(--#{$form-control}--m-readonly--hover--after--BorderColor);
    }

    // stylelint-disable selector-not-notation
    &:not(.pf-m-success, .pf-m-warning, .pf-m-error) {
      --#{$form-control}--hover--after--BorderColor: var(--#{$form-control}--m-readonly--hover--after--BorderColor);
      --#{$form-control}--focus--after--BorderWidth: var(--#{$form-control}--m-readonly--focus--after--BorderWidth);
      --#{$form-control}--focus--after--BorderColor: var(--#{$form-control}--m-readonly--focus--after--BorderColor);
    }

    &.pf-m-plain {
      --#{$form-control}--m-readonly--BackgroundColor: var(--#{$form-control}--m-readonly--m-plain--BackgroundColor);
      --#{$form-control}--inset--base: var(--#{$form-control}--m-readonly--m-plain--inset--base);
      --#{$form-control}--before--BorderStyle: none;
      --#{$form-control}--after--BorderStyle: none;
      --#{$form-control}--OutlineOffset: var(--#{$form-control}--m-readonly--m-plain--OutlineOffset);
    }
  }

  &:hover {
    --#{$form-control}--after--BorderColor: var(--#{$form-control}--hover--after--BorderColor);
    --#{$form-control}--after--BorderWidth: var(--#{$form-control}--hover--after--BorderWidth);
  }

  &.pf-m-expanded {
    --#{$form-control}--after--BorderColor: var(--#{$form-control}--m-expanded--after--BorderColor);
    --#{$form-control}--after--BorderWidth: var(--#{$form-control}--m-expanded--after--BorderWidth);
  }

  &.pf-m-disabled {
    --#{$form-control}--BackgroundColor: var(--#{$form-control}--m-disabled--BackgroundColor);
    --#{$form-control}--Color: var(--#{$form-control}--m-disabled--Color);
    --#{$form-control}--m-placeholder--Color: var(--#{$form-control}--m-disabled--Color);
    --#{$form-control}__toggle-icon--Color: var(--#{$form-control}--m-disabled__toggle-icon--Color);
    --#{$form-control}--before--BorderStyle: none;
    --#{$form-control}--after--BorderStyle: none;

    cursor: not-allowed;
  }

  &.pf-m-error {
    --#{$form-control}--PaddingRight: var(--#{$form-control}--m-error--PaddingRight);
    --#{$form-control}--after--BorderColor: var(--#{$form-control}--m-error--after--BorderColor);
    --#{$form-control}__icon--m-status--Color: var(--#{$form-control}--m-error__icon--m-status--Color);
    --#{$form-control}__select--PaddingRight: var(--#{$form-control}__select--m-error--m-status--PaddingRight);
    --#{$form-control}--after--BorderWidth: var(--#{$form-control}--m-error--after--BorderWidth);

    &.pf-m-icon {
      --#{$form-control}--PaddingRight: var(--#{$form-control}--m-icon--icon--PaddingRight);
    }
  }

  &.pf-m-success {
    --#{$form-control}--PaddingRight: var(--#{$form-control}--m-success--PaddingRight);
    --#{$form-control}--after--BorderColor: var(--#{$form-control}--m-success--after--BorderColor);
    --#{$form-control}__icon--m-status--Color: var(--#{$form-control}--m-success__icon--m-status--Color);
    --#{$form-control}__select--PaddingRight: var(--#{$form-control}__select--m-success--m-status--PaddingRight);
    --#{$form-control}--after--BorderWidth: var(--#{$form-control}--m-success--after--BorderWidth);

    &.pf-m-icon {
      --#{$form-control}--PaddingRight: var(--#{$form-control}--m-icon--icon--PaddingRight);
    }
  }

  &.pf-m-warning {
    --#{$form-control}--PaddingRight: var(--#{$form-control}--m-warning--PaddingRight);
    --#{$form-control}--after--BorderColor: var(--#{$form-control}--m-warning--after--BorderColor);
    --#{$form-control}__icon--m-status--Color: var(--#{$form-control}--m-warning__icon--m-status--Color);
    --#{$form-control}__select--PaddingRight: var(--#{$form-control}__select--m-warning--m-status--PaddingRight);
    --#{$form-control}--after--BorderWidth: var(--#{$form-control}--m-warning--after--BorderWidth);

    &.pf-m-icon {
      --#{$form-control}--PaddingRight: var(--#{$form-control}--m-icon--icon--PaddingRight);
    }
  }

  &.pf-m-icon {
    --#{$form-control}--PaddingRight: var(--#{$form-control}--m-icon--PaddingRight);
  }

  > select {
    --#{$form-control}--PaddingRight: var(--#{$form-control}__select--PaddingRight);
    --#{$form-control}--PaddingLeft: var(--#{$form-control}__select--PaddingLeft);

    // Firefox's select text has additional padding
    // stylelint-disable-next-line
    @-moz-document url-prefix() {
      --#{$form-control}--PaddingRight: calc(var(--#{$form-control}__select--PaddingRight) - 1px);
      --#{$form-control}--PaddingLeft: calc(var(--#{$form-control}__select--PaddingLeft) - 4px);
    }
  }

  &.pf-m-placeholder > select {
    --#{$form-control}--Color: var(--#{$form-control}--m-placeholder--Color);

    * {
      --#{$form-control}--Color: var(--#{$form-control}--m-placeholder--child--Color);

      // stylelint-disable max-nesting-depth
      &:disabled {
        color: revert;
      }
      // stylelint-enable
    }
  }

  > textarea {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    resize: none;
  }

  &.pf-m-resize-vertical {
    --#{$form-control}--Resize: vertical;

    overflow: auto;
  }

  &.pf-m-resize-horizontal {
    --#{$form-control}--Resize: horizontal;

    overflow: auto;
  }

  &.pf-m-resize-both {
    --#{$form-control}--Resize: both;

    overflow: auto;
  }

}

.#{$form-control}__icon {
  padding-block-start: var(--#{$form-control}__icon--PaddingTop);
  color: var(--#{$form-control}__icon--Color);

  &.pf-m-status {
    --#{$form-control}__icon--Color: var(--#{$form-control}__icon--m-status--Color);
  }
}

.#{$form-control}__toggle-icon {
  grid-row: 1 / 2;
  grid-column: 3;
  padding-block-start: var(--#{$form-control}__toggle-icon--PaddingTop);
  padding-inline-start: var(--#{$form-control}__toggle-icon--PaddingLeft);
  padding-inline-end: var(--#{$form-control}__toggle-icon--PaddingRight);
  color: var(--#{$form-control}__toggle-icon--Color);
  pointer-events: none;
}

.#{$form-control}__utilities {
  display: flex;
  flex-wrap: nowrap;
  grid-row: 1 / 2;
  grid-column: 2;
  gap: var(--#{$form-control}__utilities--Gap);
  padding-inline-end: var(--#{$form-control}__utilities--PaddingRight);
  pointer-events: none;
}

select ~ .#{$form-control}__utilities {
--pf-v5-c-form-control__utilities--PaddingRight: 0;
}