<div class="{{pfv}}form-control__icon{{#if form-control-icon--IsStatus}} pf-m-status{{/if}}{{#if form-control-icon--modifier}} {{form-control-icon--modifier}}{{/if}}"
  {{#if form-control-icon--attribute}}
    {{{form-control-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-{{form-control--HasIcon}}" aria-hidden="true"></i>
</div>