<div class="pf-c-form-control pf-c-form-control-select">
  <select class="pf-c-form-control {{#if form-control-select--IsExpanded}} pf-m-expanded{{/if}}{{#if form-control-select--modifier}} {{form-control-select--modifier}}{{/if}}"
    {{#if form-control-select--attribute}}
      {{{form-control-select--attribute}}}
    {{/if}}
  {{#if input}}>{{else}}>{{#if @partial-block}}{{> @partial-block}}{{/if}}</select>{{/if}}
</div>
