@import "../../patternfly-utilities";

.pf-c-dialog {
  display: block;
  &_heading {}
  &_close-button {
    border-width: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__main {}
}
