<!--
  Each template tag represents an individual state that the component can
  be in. If you would like to show multiple states in the workarea, you should
  have multiple template tags. To communicate information about the state that
  the templat represents, use the data-title and data-description attributes.
  These attributes will be rendered in the workspace.
-->

<template data-title="pf-c-button colors" data-description="Color variables">
  <button type="button" class="pf-c-button pf-is-primary">Primary Button</button>
  <button type="button" class="pf-c-button pf-is-secondary">Secondary Button</button>
  <button type="button" class="pf-c-button pf-is-secondary-alt">Secondary-alt Button</button>
  <button type="button" class="pf-c-button pf-is-tertiary">Tertiary Button</button>
  <button type="button" class="pf-c-button pf-is-destructive">Destructive Button</button>
</template>

<template data-title="button" data-description="">



  <!-- Standard button -->
  <button type="button" class="btn btn-default">Default</button>

  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
  <button type="button" class="btn btn-primary">Primary</button>

  <!-- Indicates a successful or positive action -->
  <button type="button" class="btn btn-success">Success</button>

  <!-- Contextual button for informational alert messages -->
  <button type="button" class="btn btn-info">Info</button>

  <!-- Indicates caution should be taken with this action -->
  <button type="button" class="btn btn-warning">Warning</button>

  <!-- Indicates a dangerous or potentially negative action -->
  <button type="button" class="btn btn-danger">Danger</button>

  <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
  <button type="button" class="btn btn-link">Link</button>
</template>
