{{#> card-upgrade-examples}}
<div class="cards-pf">
  <div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-sm-3">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Card Title
            </h2>
          </div>
          <div class="card-pf-body">
            <p>
              Card Contents
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Card Title
            </h2>
          </div>
          <div class="card-pf-body">
            <p>
              Card Contents
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/card-upgrade-examples}}
