<div class="{{pfv}}data-list__action{{#if data-list-action--modifier}} {{data-list-action--modifier}}{{/if}}"
  {{#if data-list-action--attribute}}
    {{{data-list-action--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    {{> dropdown dropdown--id=(concat data-list--id '-' data-list-item--id '-dropdown-kebab') dropdown-toggle--IsPlain="true" dropdown-menu--modifier="pf-m-align-right"}}
  {{/if}}
</div>
