<section class="pf-c-data-list__expandable-row{{#if data-list-expandable-row--modifier}} {{data-list-expandable-row--modifier}}{{/if}}"
  {{#if data-list-expandable-row--attribute}}
    {{{data-list-expandable-row--attribute}}}
  {{/if}}
  {{#unless data-list-item--expanded}}
    hidden
  {{/unless}}>
  {{> @partial-block}}
</section>
