<div class="pf-c-data-list__icon{{#if data-list-icon--modifier}} {{data-list-icon--modifier}}{{/if}}"
  {{#if data-list-icon--attribute}}
    {{{data-list-icon--attribute}}}
  {{/if}}>
  <i class="fas{{#if data-list-icon--type}} fa-{{data-list-icon--type}}{{/if}}"
  aria-hidden="true">
  </i>
</div>
