<button class="{{pfv}}data-list__item-draggable-button{{#if data-list-item-draggable-button--modifier}} {{data-list-item-draggable-button--modifier}}{{/if}}"
  type="button"
  aria-label="Reorder"
  aria-pressed="false"
  {{#if data-list-item-draggable-button--attribute}}
    {{{data-list-item-draggable-button--attribute}}}
  {{/if}}>
  {{> data-list-item-draggable-icon}}
</button>
