<button class="pf-c-data-list__item-draggable-button{{#if data-list-item-draggable-button--modifier}} {{data-list-item-draggable-button--modifier}}{{/if}}"
  {{#if data-list-item-draggable-button--attribute}}
    {{{data-list--item-draggable-button--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
