<div class="pf-c-data-list__action{{#if data-list-action--modifier}} {{data-list-action--modifier}}{{/if}}"
  {{#if data-list-action--attribute}}
    {{{data-list-action--attribute}}}
  {{/if}}>
  {{!-- use 'button--attribute' param on parent to set attributes on button --}}
  {{#> button button--modifier="pf-m-plain pf-m-toggle"}}
    <i class="fas fa-ellipsis-v"></i>
  {{/button}}
</div>
