<p class="pf-c-data-list__expandable-row-content{{#if data-list-expandable-row-content--modifier}} {{data-list-expandable-row-content--modifier}}{{/if}}"
  {{#if data-list-expandable-row-content--attribute}}
    {{{data-list-expandable-row-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
