<div class="pf-c-data-list__action{{#if data-list-action--modifier}} {{data-list-action--modifier}}{{/if}}"
  {{#if data-list-action--attribute}}
    {{{data-list-action--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
