<div class="{{pfv}}data-list__action{{#if data-list-action--modifier}} {{data-list-action--modifier}}{{/if}}"
  {{#if data-list-action--attribute}}
    {{{data-list-action--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    {{> menu-toggle
        menu-toggle--IsPlain=true
        menu-toggle--HasKebab=true
        menu-toggle--id=(dasherize data-list--id data-list-item--id 'menu-toggle')
        menu-toggle--aria-label='Dual list item menu toggle'}}
  {{/if}}
</div>
