<span class="{{pfv}}data-list__cell-text{{#if data-list-cell-text--modifier}} {{data-list-cell-text--modifier}}{{/if}}"
  {{#if data-list-cell-text--attribute}}
    {{{data-list-cell-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
