<div class="pf-c-data-list__check{{#if data-list-check--modifier}} {{data-list-check--modifier}}{{/if}}"
  {{#if data-list-check--attribute}}
    {{{data-list-check--attribute}}}
  {{/if}}>
  {{!-- use 'check-input--attribute' param on parent to set attributes on checkbox --}}
  {{#> check-input }}{{/check-input}}
</div>
