<div class="pf-c-data-list__item-actions{{#if data-list-item-actions--modifier}} {{data-list-item-actions--modifier}}{{/if}}"
  {{#if data-list-item--attribute}}
    {{{data-list-item--attribute}}}
  {{/if}}>  
  {{> @partial-block}}
</div>
