$pf-data-list--breakpoint--mobile: 380px;

.pf-c-data-list {
  --pf-c-data-list--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-data-list--BorderTopColor: var(--pf-global--BorderColor--light-200);
  --pf-c-data-list--BorderTopWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-data-list--mobile--BorderTopWidth: var(--pf-global--spacer--sm);
  --pf-c-data-list--BorderBottomColor: var(--pf-global--Color--light-200);
  --pf-c-data-list--BorderBottomWidth: var(--pf-global--BorderWidth--sm);

  @media screen and (max-width: $pf-global--breakpoint--mobile) {
    --pf-c-data-list--BorderTopWidth: var(--pf-c-data-list--mobile--BorderTopWidth);
  }

  // Item
  --pf-c-data-list__item--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--mobile--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-data-list__item--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--mobile--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-data-list__item--m-expanded--before--BackgroundColor: var(--pf-global--active-color--100);
  --pf-c-data-list__item-item--BorderTopColor: var(--pf-global--Color--light-200);
  --pf-c-data-list__item-item--BorderTopWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-data-list__item-item--mobile--BorderTopWidth: #{pf-size-prem(8px)};

  @media screen and (max-width: $pf-data-list--breakpoint--mobile) {
    --pf-c-data-list__item--PaddingRight: var(--pf-c-data-list__item--mobile--PaddingRight);
    --pf-c-data-list__item--PaddingLeft: var(--pf-c-data-list__item--mobile--PaddingLeft);
  }

  // List item border left
  --pf-c-data-list__item--before--BackgroundColor: transparent;
  --pf-c-data-list__item--before--Width: var(--pf-global--BorderWidth--lg);
  --pf-c-data-list__item--before--Transition: var(--pf-global--Transition);
  --pf-c-data-list__item--before--ZIndex: var(--pf-global--ZIndex--xl);
  --pf-c-data-list__item--before--Top: 0;
  --pf-c-data-list__item--before--Height: 100%;
  --pf-c-data-list__item-item--before--Top: calc(var(--pf-c-data-list__item-item--BorderTopWidth) * -1);
  --pf-c-data-list__item-item--before--Height: calc(100% + var(--pf-c-data-list__item-item--BorderTopWidth));

  // Cell
  --pf-c-data-list__cell--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-data-list__cell--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-data-list__cell-cell--PaddingTop: 0;
  --pf-c-data-list__cell-cell--md--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-data-list__cell-cell--md--MarginLeft: var(--pf-global--spacer--xl);

  @media screen and (min-width: $pf-global--breakpoint--md) {
    --pf-c-data-list__cell-cell--PaddingTop: var(--pf-c-data-list__cell-cell--md--PaddingTop);
  }

  // Toggle
  --pf-c-data-list__toggle--MarginRight: var(--pf-global--spacer--md);
  --pf-c-data-list__toggle--mobile--MarginRight: var(--pf-global--spacer--sm);
  --pf-c-data-list__toggle--MarginLeft: calc(var(--pf-global--spacer--sm) * -1); // offset toggle to align left
  --pf-c-data-list__toggle--c-button--Transition: var(--pf-global--Transition);
  --pf-c-data-list__toggle--c-button--Transform: rotate(0deg);
  --pf-c-data-list__item--m-expanded__toggle--c-button--Transform: rotate(90deg);

  @media screen and (max-width: $pf-data-list--breakpoint--mobile) {
    --pf-c-data-list__toggle--MarginRight: var(--pf-c-data-list__toggle--mobile--MarginRight);
  }

  // Check
  --pf-c-data-list__check--MarginRight: var(--pf-global--spacer--xl);
  --pf-c-data-list__check--mobile--MarginRight: var(--pf-global--spacer--md);

  @media screen and (max-width: $pf-data-list--breakpoint--mobile) {
    --pf-c-data-list__check--MarginRight: var(--pf-c-data-list__check--mobile--MarginRight);
  }

  // Icon
  --pf-c-data-list__icon--MarginRight: var(--pf-global--spacer--xl);
  --pf-c-data-list__icon--mobile--MarginRight: var(--pf-global--spacer--md);

  @media screen and (max-width: $pf-data-list--breakpoint--mobile) {
    --pf-c-data-list__icon--MarginRight: var(--pf-c-data-list__icon--mobile--MarginRight);
  }

  // Actions
  --pf-c-data-list__action--MarginLeft: var(--pf-global--spacer--lg);
  --pf-c-data-list__action--mobile--MarginLeft: var(--pf-global--spacer--sm);

  @media screen and (max-width: $pf-data-list--breakpoint--mobile) {
    --pf-c-data-list__action--MarginLeft: var(--pf-c-data-list__action--mobile--MarginLeft);
  }

  // Expandable content
  --pf-c-data-list__expandable-content--Transition: var(--pf-global--Transition);
  --pf-c-data-list__expandable-content--BorderTopColor: var(--pf-global--Color--light-200);
  --pf-c-data-list__expandable-content--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-data-list__expandable-content--mobile--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-data-list__expandable-content--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-c-data-list__expandable-content--mobile--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-data-list__expandable-content--MarginRight: calc(var(--pf-c-data-list__expandable-content--PaddingRight) * -1);
  --pf-c-data-list__expandable-content--MarginLeft: calc(var(--pf-c-data-list__expandable-content--PaddingLeft) * -1);
  --pf-c-data-list__expandable-content--BoxShadow: var(--pf-global--BoxShadow--md-bottom);
  --pf-c-data-list__item--m-expanded__expandable-content--BorderTopWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-data-list__item--m-expanded__expandable-content--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--m-expanded__expandable-content--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--m-expanded__expandable-content--MaxHeight: #{pf-size-prem(600px)};
  --pf-c-data-list__item--m-expanded__expandable-content--TransitionDuration: var(--pf-global--TransitionDuration);

  @media screen and (max-width: $pf-data-list--breakpoint--mobile) {
    --pf-c-data-list__expandable-content--PaddingRight: var(--pf-c-data-list__expandable-content--mobile--PaddingRight);
    --pf-c-data-list__expandable-content--PaddingLeft: var(--pf-c-data-list__expandable-content--mobile--PaddingLeft);
  }

  @include pf-t-light;

  list-style-type: disc;
  background-color: var(--pf-c-data-list--BackgroundColor);
  border-top: var(--pf-c-data-list--BorderTopWidth) solid var(--pf-c-data-list--BorderTopColor);
  border-bottom: var(--pf-c-data-list--BorderBottomWidth) solid var(--pf-c-data-list--BorderBottomColor);
}

// li
.pf-c-data-list__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-right: var(--pf-c-data-list__item--PaddingRight);
  padding-left: var(--pf-c-data-list__item--PaddingLeft);

  // left border treatment base
  // color is transparent by default
  &::before {
    position: absolute;
    top: var(--pf-c-data-list__item--before--Top);
    left: 0;
    z-index: var(--pf-c-data-list__item--before--ZIndex);
    width: var(--pf-c-data-list__item--before--Width);
    height: var(--pf-c-data-list__item--before--Height);
    content: "";
    background-color: var(--pf-c-data-list__item--before--BackgroundColor);
    transition: var(--pf-c-data-list__item--before--Transition);
  }

  // add border top to subsequent li's
  & + & {
    border-top: var(--pf-c-data-list__item-item--BorderTopWidth) solid var(--pf-c-data-list__item-item--BorderTopColor);

    @media screen and (max-width: $pf-global--breakpoint--mobile) {
      --pf-c-data-list__item-item--BorderTopWidth: var(--pf-c-data-list__item-item--mobile--BorderTopWidth);
    }

    &::before {
      --pf-c-data-list__item--before--Top: var(--pf-c-data-list__item-item--before--Top);
      --pf-c-data-list__item--before--Height: var(--pf-c-data-list__item-item--before--Height);
    }
  }

  // expanded border treatment color
  &.pf-m-expanded {
    &::before {
      --pf-c-data-list__item--before--BackgroundColor: var(--pf-c-data-list__item--m-expanded--before--BackgroundColor);
    }
  }
}

// non-textual items
.pf-c-data-list__toggle,
.pf-c-data-list__check,
.pf-c-data-list__icon,
.pf-c-data-list__action {
  flex: none;
}

// Toggle
.pf-c-data-list__toggle {
  margin-right: var(--pf-c-data-list__toggle--MarginRight);
  margin-left: var(--pf-c-data-list__toggle--MarginLeft);

  // rotate icon
  .pf-c-button > * {
    pointer-events: none;
    transition: var(--pf-c-data-list__toggle--c-button--Transition);
    transform: var(--pf-c-data-list__toggle--c-button--Transform);

    .pf-c-data-list__item.pf-m-expanded & {
      --pf-c-data-list__toggle--c-button--Transform: var(--pf-c-data-list__item--m-expanded__toggle--c-button--Transform);
    }
  }
}

// Checkbox
.pf-c-data-list__check {
  margin-right: var(--pf-c-data-list__check--MarginRight);
}

.pf-c-data-list__icon {
  margin-right: var(--pf-c-data-list__icon--MarginRight);
}

// Content cells
.pf-c-data-list__cell {
  flex: 1;
  padding-top: var(--pf-c-data-list__cell--PaddingTop);
  padding-bottom: var(--pf-c-data-list__cell--PaddingBottom);

  // for all subsequent .pf-c-data-list__cell's, set to full width
  & + & {
    flex: 1 0 100%;
    order: 1;
    padding-top: var(--pf-c-data-list__cell-cell--PaddingTop);

    @media screen and (min-width: $pf-global--breakpoint--md) {
      flex: 1;
      order: initial;
      margin-left: var(--pf-c-data-list__cell-cell--md--MarginLeft);
    }
  }

  &.pf-m-flex-2 { flex-grow: 2; }
  &.pf-m-flex-3 { flex-grow: 3; }
  &.pf-m-flex-4 { flex-grow: 4; }
  &.pf-m-flex-5 { flex-grow: 5; }
}

// Action
.pf-c-data-list__action {
  margin-left: var(--pf-c-data-list__action--MarginLeft);
}

// add keyframes to prevent flicker when expandable content scrolls
@keyframes pf-c-data-list--expandable-content--in {
  0% { overflow: hidden; }
  99% { overflow-y: hidden; }
  100% { overflow-y: auto; }
}

// Expandable content
.pf-c-data-list__expandable-content {
  flex: 1 0 100%;
  align-self: flex-start;
  order: 2;
  max-height: 0;

  // reset li padding on expandable content
  padding-right: var(--pf-c-data-list__expandable-content--PaddingRight);
  padding-left: var(--pf-c-data-list__expandable-content--PaddingLeft);

  // offset for li padding for border to extend to li edges
  margin-right: var(--pf-c-data-list__expandable-content--MarginRight);
  margin-left: var(--pf-c-data-list__expandable-content--MarginLeft);
  overflow: hidden;
  border-top: 0 solid var(--pf-c-data-list__expandable-content--BorderTopColor);
  box-shadow: var(--pf-c-data-list__expandable-content--BoxShadow);
  opacity: 0;
  transition: var(--pf-c-data-list__expandable-content--Transition);

  .pf-c-data-list__item.pf-m-expanded & {
    max-height: var(--pf-c-data-list__item--m-expanded__expandable-content--MaxHeight);
    padding-top: var(--pf-c-data-list__item--m-expanded__expandable-content--PaddingTop);
    padding-bottom: var(--pf-c-data-list__item--m-expanded__expandable-content--PaddingBottom);
    border-top-width: var(--pf-c-data-list__item--m-expanded__expandable-content--BorderTopWidth);
    opacity: 1;

    // use animation to control overflow value to prevent flicker if content scrolls
    animation: var(--pf-c-data-list__item--m-expanded__expandable-content--TransitionDuration) pf-c-data-list--expandable-content--in forwards;
  }
}
