<span class="{{pfv}}data-list__item-draggable-icon{{#if data-list-item-draggable-icon--modifier}} {{data-list-item-draggable-icon--modifier}}{{/if}}"
  {{#if data-list-item-draggable-icon--attribute}}
    {{{data-list-item-draggable-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-grip-vertical"></i>
</span>
