// stylelint-disable
$pf-v5-u-alignment-options: (
  text-align-left:    (text-align left),
  text-align-center:  (text-align center),
  text-align-right:   (text-align right),
  text-align-justify: (text-align justify)
);

// Text utilities
@include pf-v5-utility-builder($pf-v5-u-alignment-options, $pf-v5-global--breakpoint-list);

// stylelint-enable
