@import "../../patternfly-utilities";

/* stylelint-disable */
// Text utilities
@include pf-utility-builder("text-align-left", $pf-global--breakpoint-list) { text-align: left !important; }

@include pf-utility-builder("text-align-center", $pf-global--breakpoint-list) { text-align: center !important; }

@include pf-utility-builder("text-align-right", $pf-global--breakpoint-list) { text-align: right !important; }

@include pf-utility-builder("text-align-justify", $pf-global--breakpoint-list) { text-align: justify !important; }
/* stylelint-enable */
