// CSS shild against PF 3
[class^="pf-"],
[class^="pf-"]::before,
[class^="pf-"]::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $pf-global--FontFamily--sans-serif;
  font-size: $pf-global--FontSize--md;
  font-weight: $pf-global--FontWeight--normal;
  line-height: $pf-global--LineHeight--md;
  background-color: transparent;
  text-rendering: optimizeLegibility;
}

// Since PF3 sets root font size to 10px, we need to unset it.
// This doesn't affect PF3.
// https://github.com/twbs/bootstrap/blob/v3.4.0-dev/less/scaffolding.less#L23

/* stylelint-disable */
html {
  font-size: unset !important; // the important is needed because we don't know if pf3 will be loaded after pfnext
}
/* stylelint-enable */

@if $pf-global--enable-reset {
  // Reset
  // Based on minireset.css v0.0.3 | MIT License github.com/jgthms/minireset.css
  // stylelint-disable at-rule-no-vendor-prefix, declaration-no-important, selector-no-qualifying-type, property-no-vendor-prefix

  html,
  body,
  p,
  ol,
  ul,
  li,
  dl,
  dt,
  dd,
  blockquote,
  figure,
  fieldset,
  legend,
  textarea,
  pre,
  iframe,
  hr,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: $pf-global--FontWeight--normal;
  }

  ul {
    list-style: none;
  }

  button,
  input,
  select,
  textarea {
    margin: 0;
  }

  img,
  embed,
  iframe,
  object,
  audio,
  video {
    max-width: 100%;
    height: auto;
  }

  iframe {
    border: 0;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0;
    text-align: left;
  }

  // Patternfly base styles

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    line-height: 1.15;
  }


  body {
    font-family: $pf-global--FontFamily--sans-serif;
    font-size: $pf-global--FontSize--md;
    font-weight: $pf-global--FontWeight--normal;
    line-height: $pf-global--LineHeight--md;
    color: $pf-global--Color--dark-100;
    text-align: left;
    background-color: $pf-global--BackgroundColor--light-100;
  }

  // Links styles

  a {
    color: $pf-global--link--Color;
    text-decoration: $pf-global--link--TextDecoration;

    &:hover {
      color: $pf-global--link--Color--hover;
      text-decoration: $pf-global--link--TextDecoration--hover;
    }
  }

  button,
  a {
    cursor: pointer;
  }
} // ends if
