@if $pf-global--load-pf-3 {
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.37.10/css/patternfly.min.css");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.37.10/css/patternfly-additions.min.css");
}

// CSS shield against PF 3
.pf-c-about-modal-box,
.pf-c-alert,
.pf-c-alert-group,
.pf-c-app-launcher,
.pf-c-avatar,
.pf-c-backdrop,
.pf-c-background-image,
.pf-c-badge,
.pf-c-brand,
.pf-c-breadcrumb,
.pf-c-button,
.pf-c-card,
.pf-c-check,
.pf-c-chip,
.pf-c-chip-group,
.pf-c-content,
.pf-c-context-selector,
.pf-c-data-list,
.pf-c-dropdown,
.pf-c-empty-state,
.pf-c-form,
.pf-c-form-control,
.pf-c-input-group,
.pf-c-label,
.pf-c-list,
.pf-c-login,
.pf-c-modal-box,
.pf-c-nav,
.pf-c-options-menu,
.pf-c-page,
.pf-c-pagination,
.pf-c-popover,
.pf-c-progress,
.pf-c-radio,
.pf-c-select,
.pf-c-switch,
.pf-c-table,
.pf-c-tabs,
.pf-c-title,
.pf-c-toolbar,
.pf-c-tooltip,
.pf-l-bullseye,
.pf-l-flex,
.pf-l-gallery,
.pf-l-grid,
.pf-l-level,
.pf-l-split,
.pf-l-stack {
  font-family: var(--pf-global--FontFamily--sans-serif);
  font-size: var(--pf-global--FontSize--md);
  font-weight: var(--pf-global--FontWeight--normal);
  line-height: var(--pf-global--LineHeight--md);
  color: var(--pf-global--Color--100); // this color rule is set here to be able to use themes
  text-rendering: optimizeLegibility;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
}

// Since PF3 sets root font size to 10px, we need to unset it.
// This doesn't affect PF3.
// https://github.com/twbs/bootstrap/blob/v3.4.0/less/scaffolding.less#L23

/* stylelint-disable */
html {
  font-size: unset !important; // the important is needed because we don't know if pf3 will be loaded after pfnext
}

.pf-screen-reader {
  @include pf-u-screen-reader; // for use with assistive technologies
}
/* stylelint-enable */

@if $pf-global--enable-reset {
  // Reset
  // Based on minireset.css v0.0.3 | MIT License github.com/jgthms/minireset.css
  // stylelint-disable at-rule-no-vendor-prefix, declaration-no-important, selector-no-qualifying-type, property-no-vendor-prefix

  html,
  body,
  p,
  ol,
  ul,
  li,
  dl,
  dt,
  dd,
  blockquote,
  figure,
  fieldset,
  legend,
  textarea,
  pre,
  iframe,
  hr,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: var(--pf-global--FontWeight--normal);
  }

  ul {
    list-style: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: var(--pf-global--LineHeight--md);
  }

  img,
  embed,
  iframe,
  object,
  audio,
  video {
    max-width: 100%;
    height: auto;
  }

  iframe {
    border: 0;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0;
    text-align: left;
  }

  // Patternfly base styles

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    line-height: 1.15;
  }

  body {
    font-family: var(--pf-global--FontFamily--sans-serif);
    font-size: var(--pf-global--FontSize--md);
    font-weight: var(--pf-global--FontWeight--normal);
    line-height: var(--pf-global--LineHeight--md);
    text-align: left;
    background-color: var(--pf-global--BackgroundColor--100);
  }

  // Links styles

  a {
    font-weight: var(--pf-global--link--FontWeight);
    color: var(--pf-global--link--Color);
    text-decoration: var(--pf-global--link--TextDecoration);

    &:hover {
      --pf-global--link--Color: var(--pf-global--link--Color--hover);
      --pf-global--link--TextDecoration: var(--pf-global--link--TextDecoration--hover);
    }
  }

  button,
  a {
    cursor: pointer;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    &::-moz-focus-inner {
      padding: 0;
      border-style: none;
    }
  }
} // ends if
