// Chart colors

// blue
$pf-chart-color-blue-100: #8bc1f7 !default;
$pf-chart-color-blue-200: #519de9 !default;
$pf-chart-color-blue-300: #06c !default;
$pf-chart-color-blue-400: #004b95 !default;
$pf-chart-color-blue-500: #002f5d !default;

// green
$pf-chart-color-green-100: #bde2b9 !default;
$pf-chart-color-green-200: #7cc674 !default;
$pf-chart-color-green-300: #4cb140 !default;
$pf-chart-color-green-400: #38812f !default;
$pf-chart-color-green-500: #23511e !default;

// cyan
$pf-chart-color-cyan-100: #a2d9d9 !default;
$pf-chart-color-cyan-200: #73c5c5 !default;
$pf-chart-color-cyan-300: #009596 !default;
$pf-chart-color-cyan-400: #005f60 !default;
$pf-chart-color-cyan-500: #003737 !default;

// purple
$pf-chart-color-purple-100: #b2b0ea !default;
$pf-chart-color-purple-200: #8481dd !default;
$pf-chart-color-purple-300: #5752d1 !default;
$pf-chart-color-purple-400: #3c3d99 !default;
$pf-chart-color-purple-500: #2a265f !default;

// yellow
$pf-chart-color-yellow-100: #f9e0a2 !default;
$pf-chart-color-yellow-200: #f6d173 !default;
$pf-chart-color-yellow-300: #f4c145 !default;
$pf-chart-color-yellow-400: #f0ab00 !default;
$pf-chart-color-yellow-500: #c58c00 !default;

// orange
$pf-chart-color-orange-100: #f4b678 !default;
$pf-chart-color-orange-200: #ef9234 !default;
$pf-chart-color-orange-300: #ec7a08 !default;
$pf-chart-color-orange-400: #c46100 !default;
$pf-chart-color-orange-500: #8f4700 !default;

// gray
$pf-chart-color-gray-100: #d2d2d2 !default;
$pf-chart-color-gray-200: #bbb !default;
$pf-chart-color-gray-300: #8b8d8f !default;
$pf-chart-color-gray-400: #72767b !default;
$pf-chart-color-gray-500: #4d5258 !default;
