:root {
  // Colors
  // Background color
  --pf-global--BackgroundColor--100: #{$pf-global--BackgroundColor--100};
  --pf-global--BackgroundColor--150: #{$pf-global--BackgroundColor--150};
  --pf-global--BackgroundColor--200: #{$pf-global--BackgroundColor--200};
  --pf-global--BackgroundColor--300: #{$pf-global--BackgroundColor--300};
  --pf-global--BackgroundColor--light-100: #{$pf-global--BackgroundColor--light-100};
  --pf-global--BackgroundColor--light-200: #{$pf-global--BackgroundColor--light-200};
  --pf-global--BackgroundColor--light-300: #{$pf-global--BackgroundColor--light-300};
  --pf-global--BackgroundColor--dark-100: #{$pf-global--BackgroundColor--dark-100};
  --pf-global--BackgroundColor--dark-200: #{$pf-global--BackgroundColor--dark-200};
  --pf-global--BackgroundColor--dark-transparent-100: #{$pf-global--BackgroundColor--dark-transparent-100};
  --pf-global--BackgroundColor--dark-transparent-200: #{$pf-global--BackgroundColor--dark-transparent-200};

  // Text color
  --pf-global--Color--100: #{$pf-global--Color--100};
  --pf-global--Color--200: #{$pf-global--Color--200};
  --pf-global--Color--300: #{$pf-global--Color--300};
  --pf-global--Color--400: #{$pf-global--Color--400};
  --pf-global--Color--light-100: #{$pf-global--Color--light-100};
  --pf-global--Color--light-200: #{$pf-global--Color--light-200};
  --pf-global--Color--dark-100: #{$pf-global--Color--dark-100};
  --pf-global--Color--dark-200: #{$pf-global--Color--dark-200};

  // States color
  --pf-global--active-color--100: #{$pf-global--active-color--100};
  --pf-global--active-color--200: #{$pf-global--active-color--200};
  --pf-global--active-color--300: #{$pf-global--active-color--300};
  --pf-global--active-color--400: #{$pf-global--active-color--400};
  --pf-global--disabled-color--100: #{$pf-global--disabled-color--100};
  --pf-global--disabled-color--200: #{$pf-global--disabled-color--200};
  --pf-global--disabled-color--300: #{$pf-global--disabled-color--300};

  // Theme color
  --pf-global--primary-color--100: #{$pf-global--primary-color--100};
  --pf-global--primary-color--200: #{$pf-global--primary-color--200};
  --pf-global--primary-color--light-100: #{$pf-global--primary-color--light-100};
  --pf-global--primary-color--dark-100: #{$pf-global--primary-color--dark-100};
  --pf-global--secondary-color--100: #{$pf-global--secondary-color--100};
  --pf-global--success-color--100: #{$pf-global--success-color--100};
  --pf-global--success-color--200: #{$pf-global--success-color--200};
  --pf-global--info-color--100: #{$pf-global--info-color--100};
  --pf-global--info-color--200: #{$pf-global--info-color--200};
  --pf-global--warning-color--100: #{$pf-global--warning-color--100};
  --pf-global--warning-color--200: #{$pf-global--warning-color--200};
  --pf-global--danger-color--100: #{$pf-global--danger-color--100};
  --pf-global--danger-color--200: #{$pf-global--danger-color--200};
  --pf-global--danger-color--300: #{$pf-global--danger-color--300};

  // Shadows
  --pf-global--BoxShadow--sm: #{$pf-global--BoxShadow--sm};
  --pf-global--BoxShadow--sm-right: #{$pf-global--BoxShadow--sm-right};
  --pf-global--BoxShadow--sm-left: #{$pf-global--BoxShadow--sm-left};
  --pf-global--BoxShadow--sm-bottom: #{$pf-global--BoxShadow--sm-bottom};
  --pf-global--BoxShadow--sm-top: #{$pf-global--BoxShadow--sm-top};
  --pf-global--BoxShadow--md: #{$pf-global--BoxShadow--md};
  --pf-global--BoxShadow--md-right: #{$pf-global--BoxShadow--md-right};
  --pf-global--BoxShadow--md-left: #{$pf-global--BoxShadow--md-left};
  --pf-global--BoxShadow--md-bottom: #{$pf-global--BoxShadow--md-bottom};
  --pf-global--BoxShadow--md-top: #{$pf-global--BoxShadow--md-top};
  --pf-global--BoxShadow--lg: #{$pf-global--BoxShadow--lg};
  --pf-global--BoxShadow--lg-right: #{$pf-global--BoxShadow--lg-right};
  --pf-global--BoxShadow--lg-left: #{$pf-global--BoxShadow--lg-left};
  --pf-global--BoxShadow--lg-bottom: #{$pf-global--BoxShadow--lg-bottom};
  --pf-global--BoxShadow--lg-top: #{$pf-global--BoxShadow--lg-top};
  --pf-global--BoxShadow--inset: #{$pf-global--BoxShadow--inset};

  // Fontpath
  --pf-global--font-path: #{$pf-global--font-path};

  // FontIconPath
  --pf-global--fonticon-path: #{$pf-global--fonticon-path};

  // Spacers
  --pf-global--spacer--xs: #{$pf-global--spacer--xs};
  --pf-global--spacer--sm: #{$pf-global--spacer--sm};
  --pf-global--spacer--md: #{$pf-global--spacer--md};
  --pf-global--spacer--lg: #{$pf-global--spacer--lg};
  --pf-global--spacer--xl: #{$pf-global--spacer--xl};
  --pf-global--spacer--2xl: #{$pf-global--spacer--2xl};
  --pf-global--spacer--3xl: #{$pf-global--spacer--3xl};

  // Form Spacer
  --pf-global--spacer--form-element: #{$pf-global--spacer--form-element};

  // Gutter
  --pf-global--gutter: #{$pf-global--gutter};

  // Ratio
  --pf-global--golden-ratio: #{$pf-global--golden-ratio};

  // Z-Index
  --pf-global--ZIndex--xs: #{$pf-global--ZIndex--xs};
  --pf-global--ZIndex--sm: #{$pf-global--ZIndex--sm};
  --pf-global--ZIndex--md: #{$pf-global--ZIndex--md};
  --pf-global--ZIndex--lg: #{$pf-global--ZIndex--lg};
  --pf-global--ZIndex--xl: #{$pf-global--ZIndex--xl};
  --pf-global--ZIndex--2xl: #{$pf-global--ZIndex--2xl};

  // Grid breakpoints
  --pf-global--breakpoint--xs: #{$pf-global--breakpoint--xs};
  --pf-global--breakpoint--sm: #{$pf-global--breakpoint--sm};
  --pf-global--breakpoint--md: #{$pf-global--breakpoint--md};
  --pf-global--breakpoint--lg: #{$pf-global--breakpoint--lg};
  --pf-global--breakpoint--xl: #{$pf-global--breakpoint--xl};

  // Links
  --pf-global--link--Color: #{$pf-global--link--Color};
  --pf-global--link--Color--hover: #{$pf-global--link--Color--hover};
  --pf-global--link--Color--light: #{$pf-global--link--Color--light};
  --pf-global--link--Color--light--hover: #{$pf-global--link--Color--light--hover};
  --pf-global--link--Color--dark: #{$pf-global--link--Color--dark};
  --pf-global--link--Color--dark--hover: #{$pf-global--link--Color--dark--hover};
  --pf-global--link--FontWeight: #{$pf-global--link--FontWeight};
  --pf-global--link--TextDecoration: #{$pf-global--link--TextDecoration};
  --pf-global--link--TextDecoration--hover: #{$pf-global--link--TextDecoration--hover};

  // Borders
  --pf-global--BorderWidth--sm: #{$pf-global--BorderWidth--sm};
  --pf-global--BorderWidth--md: #{$pf-global--BorderWidth--md};
  --pf-global--BorderWidth--lg: #{$pf-global--BorderWidth--lg};
  --pf-global--BorderColor: #{$pf-global--BorderColor};
  --pf-global--BorderColor--100: #{$pf-global--BorderColor--100};
  --pf-global--BorderColor--200: #{$pf-global--BorderColor--200};
  --pf-global--BorderColor--dark: #{$pf-global--BorderColor--dark};
  --pf-global--BorderColor--light: #{$pf-global--BorderColor--light};
  --pf-global--BorderColor--light-200: #{$pf-global--BorderColor--light-200};
  --pf-global--BorderRadius--sm: #{$pf-global--BorderRadius--sm};
  --pf-global--BorderRadius--lg: #{$pf-global--BorderRadius--lg};

  // Icons
  --pf-global--icon--Color--light: #{$pf-global--icon--Color--light};
  --pf-global--icon--Color--dark: #{$pf-global--icon--Color--dark};
  --pf-global--icon--FontSize--sm: #{$pf-global--icon--FontSize--sm};
  --pf-global--icon--FontSize--md: #{$pf-global--icon--FontSize--md};
  --pf-global--icon--FontSize--lg: #{$pf-global--icon--FontSize--lg};
  --pf-global--icon--FontSize--xl: #{$pf-global--icon--FontSize--xl};


  // Fonts

  // Font family
  --pf-global--FontFamily--sans-serif: #{$pf-global--FontFamily--sans-serif};
  --pf-global--FontFamily--monospace: #{$pf-global--FontFamily--monospace};

  // Font size
  --pf-global--FontSize--4xl: #{$pf-global--FontSize--4xl};
  --pf-global--FontSize--3xl: #{$pf-global--FontSize--3xl};
  --pf-global--FontSize--2xl: #{$pf-global--FontSize--2xl};
  --pf-global--FontSize--xl: #{$pf-global--FontSize--xl};
  --pf-global--FontSize--lg: #{$pf-global--FontSize--lg};
  --pf-global--FontSize--md: #{$pf-global--FontSize--md};
  --pf-global--FontSize--sm: #{$pf-global--FontSize--sm};
  --pf-global--FontSize--xs: #{$pf-global--FontSize--xs};

  // Font weight
  --pf-global--FontWeight--light: #{$pf-global--FontWeight--light};
  --pf-global--FontWeight--normal: #{$pf-global--FontWeight--normal};
  --pf-global--FontWeight--semi-bold: #{$pf-global--FontWeight--semi-bold};
  --pf-global--FontWeight--bold: #{$pf-global--FontWeight--bold};

  // Line height
  --pf-global--LineHeight--sm: #{$pf-global--LineHeight--sm};
  --pf-global--LineHeight--md: #{$pf-global--LineHeight--md};

  // List
  --pf-global--ListStyle: #{$pf-global--ListStyle};
  --pf-global--Transition: #{$pf-global--Transition};
  --pf-global--TimingFunction: #{$pf-global--TimingFunction};
  --pf-global--TransitionDuration: #{$pf-global--TransitionDuration};

  // Arrow Size
  --pf-global--arrow--width: #{$pf-global--arrow--width};
  --pf-global--arrow--width-lg: #{$pf-global--arrow--width-lg};

  // A11y
  --pf-global--target-size--MinWidth: #{$pf-global--target-size--MinWidth};
  --pf-global--target-size--MinHeight: #{$pf-global--target-size--MinHeight};
}
