// stylelint-disable
.pf-c-date-picker__calendar {
  &.flatpickr-calendar {
    // calendar
    --pf-c-date-picker__flatpickr__calendar--Background: var(--pf-global--BackgroundColor--light-100);
    --pf-c-date-picker__flatpickr__calendar--Padding: var(--pf-global--spacer--md);

    // month/year section
    --pf-c-date-picker__flatpickr__months--PaddingBottom: var(--pf-global--spacer--md);
    --pf-c-date-picker__flatpickr__month--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
    --pf-c-date-picker__flatpickr__month-select--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
    --pf-c-date-picker__flatpickr__month-select--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
    --pf-c-date-picker__flatpickr__month-select--year--MarginLeft: var(--pf-global--spacer--sm);
    --pf-c-date-picker__flatpickr__month-arrow--Color: var(--pf-global--Color--dark-200);
    --pf-c-date-picker__flatpickr__month-arrow--hover--Color: var(--pf-global--Color--dark-100);
    --pf-c-date-picker__flatpickr__year--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-100);

    // Weekdays section
    --pf-c-date-picker__flatpickr__weekdays--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
    --pf-c-date-picker__flatpickr__weekdays--PaddingBottom: var(--pf-global--spacer--md);
    --pf-c-date-picker__flatpickr__weekdays--MarginBottom: var(--pf-global--spacer--sm);
    --pf-c-date-picker__flatpickr__weekdays--BorderBottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    --pf-c-date-picker__flatpickr__weekday--BackgroundColor: var(--pf-global--BackgroundColor--light-100);

    // Calendar days
    --pf-c-date-picker__flatpickr__calendar__day--Color: var(--pf-global--Color--dark-100);
    --pf-c-date-picker__flatpickr__calendar__day--disabled--Color: var(--pf-global--disabled-color--200);
    --pf-c-date-picker__flatpickr__calendar__day--hover--BorderColor: var(--pf-global--BackgroundColor--light-300);
    --pf-c-date-picker__flatpickr__calendar__day--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
    --pf-c-date-picker__flatpickr__calendar__day--selected--hover--BorderColor: var(--pf-global--primary-color--100);
    --pf-c-date-picker__flatpickr__calendar__day--selected--hover--Background: var(--pf-global--primary-color--100);
    --pf-c-date-picker__flatpickr__calendar__day--selected--hover--BorderColor: var(--pf-global--Color--light-100);
    --pf-c-date-picker__flatpickr__calendar__day--today--BorderColor: var(--pf-global--primary-color--100);
    --pf-c-date-picker__flatpickr__calendar__day--today--hover--BorderColor: var(--pf-global--primary-color--100);
    --pf-c-date-picker__flatpickr__calendar__day--today--hover--Background: var(--pf-global--primary-color--100);
    --pf-c-date-picker__flatpickr__calendar__day--today--hover--Color: var(--pf-global--Color--light-100);

    // flatpickr container
    background: var(--pf-c-date-picker__flatpickr__calendar--Background);
    padding: var(--pf-c-date-picker__flatpickr__calendar--Padding);
  }

  .flatpickr-innerContainer {
    border: 0;
  }

  // Month/year section
  .flatpickr-months .flatpickr-month {
    background: var(--pf-c-date-picker__flatpickr__month--BackgroundColor);
  }

  .flatpickr-current-month .flatpickr-monthDropdown-months {
    background: var(--pf-c-date-picker__flatpickr__month-select--BackgroundColor);
  }

  .flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background: var(--pf-c-date-picker__flatpickr__month-select--hover--BackgroundColor);
  }

  .numInputWrapper:hover {
    background: var(--pf-c-date-picker__flatpickr__year--hover--BackgroundColor);
  }

  .flatpickr-months .flatpickr-next-month,
  .flatpickr-months .flatpickr-prev-month {
    color: var(--pf-c-date-picker__flatpickr__month-arrow--Color);
    fill: var(--pf-c-date-picker__flatpickr__month-arrow--Color);
  }

  .flatpickr-months .flatpickr-next-month:hover,
  .flatpickr-months .flatpickr-prev-month:hover,
  .flatpickr-months .flatpickr-next-month:hover svg,
  .flatpickr-months .flatpickr-prev-month:hover svg {
    color: var(--pf-c-date-picker__flatpickr__month-arrow--hover--Color);
    fill: var(--pf-c-date-picker__flatpickr__month-arrow--hover--Color);
  }

  .flatpickr-months {
    position: relative;
    padding-bottom: var(--pf-c-date-picker__flatpickr__months--PaddingBottom);
  }

  .flatpickr-monthDropdown-months + .numInputWrapper {
    margin-left: var(--pf-c-date-picker__flatpickr__month-select--year--MarginLeft);
  }

  // Weekdays section
  .flatpickr-weekdays {
    background: var(--pf-c-date-picker__flatpickr__weekdays--BackgroundColor);
  }

  span.flatpickr-weekday {
    background: var(--pf-c-date-picker__flatpickr__weekday--BackgroundColor);
  }

  .flatpickr-weekdays {
    padding-bottom: var(--pf-c-date-picker__flatpickr__weekdays--PaddingBottom);
    margin-bottom: var(--pf-c-date-picker__flatpickr__weekdays--MarginBottom);
    border-bottom: var(--pf-c-date-picker__flatpickr__weekdays--BorderBottom);
  }

  // Calendar days
  .flatpickr-days {
    border: 0;
  }

  .flatpickr-day:focus,
  .flatpickr-day:hover {
    border-color: var(--pf-c-date-picker__flatpickr__calendar__day--hover--BorderColor);
    background: var(--pf-c-date-picker__flatpickr__calendar__day--hover--BackgroundColor);
  }

  .flatpickr-day.selected,
  .flatpickr-day.selected:focus,
  .flatpickr-day.selected:hover {
    border-color: var(--pf-c-date-picker__flatpickr__calendar__day--selected--hover--BorderColor);
    background: var(--pf-c-date-picker__flatpickr__calendar__day--selected--hover--Background);
    color: var(--pf-c-date-picker__flatpickr__calendar__day--selected--hover--BorderColor);
  }

  .flatpickr-day.flatpickr-disabled,
  .flatpickr-day.flatpickr-disabled:hover,
  .flatpickr-day.nextMonthDay,
  .flatpickr-day.notAllowed,
  .flatpickr-day.notAllowed.nextMonthDay,
  .flatpickr-day.notAllowed.prevMonthDay,
  .flatpickr-day.prevMonthDay {
    color: var(--pf-c-date-picker__flatpickr__calendar__day--disabled--Color);
  }

  .flatpickr-day {
    color: var(--pf-c-date-picker__flatpickr__calendar__day--Color);
  }

  .flatpickr-day.today {
    border-color: var(--pf-c-date-picker__flatpickr__calendar__day--today--BorderColor);
  }

  .flatpickr-day.today:focus,
  .flatpickr-day.today:hover {
    border-color: var(--pf-c-date-picker__flatpickr__calendar__day--today--hover--BorderColor);
    background: var(--pf-c-date-picker__flatpickr__calendar__day--today--hover--Background);
    color: var(--pf-c-date-picker__flatpickr__calendar__day--today--hover--Color);
  }
}
