// Map unversioned fonts to v5
// stylelint-disable custom-property-pattern
@import './sass-utilities/all';

:root {
  --pf-global--FontFamily--sans-serif: var(--#{$pf-global}--FontFamily--text);
  --pf-global--FontFamily--heading--sans-serif: var(--#{$pf-global}--FontFamily--heading);
  --pf-global--FontFamily--monospace: var(--#{$pf-global}--FontFamily--monospace);
  --pf-global--FontFamily--redhat-updated--sans-serif: var(--#{$pf-global}--FontFamily--text);
  --pf-global--FontFamily--redhat-updated--heading--sans-serif: var(--#{$pf-global}--FontFamily--heading);
  --pf-global--FontFamily--redhat--monospace: var(--#{$pf-global}--FontFamily--monospace);
  --pf-global--FontFamily--redhatVF--sans-serif: var(--#{$pf-global}--FontFamily--text--vf);
  --pf-global--FontFamily--redhatVF--heading--sans-serif: var(--#{$pf-global}--FontFamily--heading--vf);
  --pf-global--FontFamily--redhatVF--monospace: var(--#{$pf-global}--FontFamily--monospace--vf);
  --pf-global--FontFamily--overpass--sans-serif: var(--#{$pf-global}--FontFamily--text);
  --pf-global--FontFamily--overpass--monospace: var(--#{$pf-global}--FontFamily--monospace);

  // unset global font settings
  --pf-global--root--FontSize: revert;
}
// stylelint-enable
