/* stylelint-disable */
:where(.pf--v5-theme--dark) {
  --pf--global--action--plain--background-color:--hover--alt: var(--pf--global--color--base--gray-800);
  --pf--global--action--plain--background-color:--hover: var(--pf--global--color--base--gray-700);
  --pf--global--action--plain--background-color:: rgba(255, 255, 255, 0);
  --pf--global--background--color--brand--active: var(--pf--global--color--base--blue-200);
  --pf--global--background--color--brand--hover: var(--pf--global--color--base--blue-200);
  --pf--global--background--color--brand: var(--pf--global--color--base--blue-300);
  --pf--global--background--color--custom--active: var(--pf--global--color--base--cyan-300);
  --pf--global--background--color--custom--hover: var(--pf--global--color--base--cyan-300);
  --pf--global--background--color--custom: var(--pf--global--color--base--cyan-400);
  --pf--global--background--color--danger--active: var(--pf--global--color--base--orangered-200);
  --pf--global--background--color--danger--hover: var(--pf--global--color--base--orangered-200);
  --pf--global--background--color--danger: var(--pf--global--color--base--orangered-300);
  --pf--global--background--color--disabled: var(--pf--global--color--base--gray-400);
  --pf--global--background--color--floating--hover: var(--pf--global--color--base--gray-600);
  --pf--global--background--color--floating--selected: var(--pf--global--color--base--gray-600);
  --pf--global--background--color--floating: var(--pf--global--color--base--gray-700);
  --pf--global--background--color--highlight--active: var(--pf--global--color--base--gold-400);
  --pf--global--background--color--highlight: var(--pf--global--color--base--gold-300);
  --pf--global--background--color--info--active: var(--pf--global--color--base--purple-200);
  --pf--global--background--color--info--hover: var(--pf--global--color--base--purple-200);
  --pf--global--background--color--info: var(--pf--global--color--base--purple-300);
  --pf--global--background--color--inverse: var(--pf--global--color--base--gray-100);
  --pf--global--background--color--primary--hover: var(--pf--global--color--base--gray-700);
  --pf--global--background--color--primary--selected: var(--pf--global--color--base--gray-700);
  --pf--global--background--color--primary: var(--pf--global--color--base--gray-800);
  --pf--global--background--color--secondary--hover: var(--pf--global--color--base--gray-800);
  --pf--global--background--color--secondary--selected: var(--pf--global--color--base--gray-800);
  --pf--global--background--color--secondary: colors.global color palette.black;
  --pf--global--background--color--success--active: var(--pf--global--color--base--green-200);
  --pf--global--background--color--success--hover: var(--pf--global--color--base--green-200);
  --pf--global--background--color--success: var(--pf--global--color--base--green-300);
  --pf--global--background--color--warning--active: var(--pf--global--color--base--gold-300);
  --pf--global--background--color--warning--hover: var(--pf--global--color--base--gold-300);
  --pf--global--background--color--warning: var(--pf--global--color--base--gold-400);
  --pf--global--border--color: var(--pf--global--color--base--gray-600);
  --pf--global--border--color--active: var(--pf--global--color--base--blue-200);
  --pf--global--border--color--brand--active: var(--pf--global--color--base--blue-200);
  --pf--global--border--color--brand--hover: var(--pf--global--color--base--blue-200);
  --pf--global--border--color--brand: var(--pf--global--color--base--blue-300);
  --pf--global--border--color--custom--active: var(--pf--global--color--base--cyan-500);
  --pf--global--border--color--custom--hover: var(--pf--global--color--base--cyan-500);
  --pf--global--border--color--custom: var(--pf--global--color--base--cyan-400);
  --pf--global--border--color--danger--active: var(--pf--global--color--base--orangered-200);
  --pf--global--border--color--danger--hover: var(--pf--global--color--base--orangered-200);
  --pf--global--border--color--danger: var(--pf--global--color--base--orangered-300);
  --pf--global--border--color--hover: var(--pf--global--color--base--blue-300);
  --pf--global--border--color--info--active: var(--pf--global--color--base--purple-200);
  --pf--global--border--color--info--hover: var(--pf--global--color--base--purple-200);
  --pf--global--border--color--info: var(--pf--global--color--base--purple-300);
  --pf--global--border--color--success--active: var(--pf--global--color--base--green-200);
  --pf--global--border--color--success--hover: var(--pf--global--color--base--green-200);
  --pf--global--border--color--success: var(--pf--global--color--base--green-400);
  --pf--global--border--color--warning--active: var(--pf--global--color--base--gold-300);
  --pf--global--border--color--warning--hover: var(--pf--global--color--base--gold-300);
  --pf--global--border--color--warning: var(--pf--global--color--base--gold-400);
  --pf--global--box-shadow--floating: shadows.shadow--11;
  --pf--global--box-shadow--floating: var(--pf--global--color--base--gray-700);
  --pf--global--box-shadow--large--bottom: shadows.shadow--9;
  --pf--global--box-shadow--large--bottom: var(--pf--global--color--base--gray-700);
  --pf--global--box-shadow--large--left: shadows.shadow--8;
  --pf--global--box-shadow--large--left: var(--pf--global--color--base--gray-700);
  --pf--global--box-shadow--large--right: shadows.shadow--14;
  --pf--global--box-shadow--large--right: var(--pf--global--color--base--gray-700);
  --pf--global--box-shadow--large: shadows.shadow--9;
  --pf--global--box-shadow--large--top: shadows.shadow--12;
  --pf--global--box-shadow--large--top: var(--pf--global--color--base--gray-700);
  --pf--global--box-shadow--large: var(--pf--global--color--base--gray-700);
  --pf--global--box-shadow--medium: shadows.shadow--13;
  --pf--global--box-shadow--medium: var(--pf--global--color--base--gray-700);
  --pf--global--box-shadow--small: shadows.shadow--10;
  --pf--global--box-shadow--small: var(--pf--global--color--base--gray-700);
  --pf--global--control--background--color: var(--pf--global--color--base--gray-700);
  --pf--global--font--heading--xxl--font--family: font--families.red-hat--display;
  --pf--global--font--heading--xxl--font--weight: font--weights.font--weight-600;
  --pf--global--font--heading--xxl--fontsize: font--sizes.font--size-8;
  --pf--global--font--heading--xxl--text--align: text--alignments.text--align--left;
  --pf--global--font--heading--xxl--text--color: var(--pf--global--color--base--gray-100);
  --pf--global--icon--color--brand--active: var(--pf--global--color--base--blue-200);
  --pf--global--icon--color--brand--hover: var(--pf--global--color--base--blue-200);
  --pf--global--icon--color--brand: var(--pf--global--color--base--blue-300);
  --pf--global--icon--color--custom--active: var(--pf--global--color--base--cyan-500);
  --pf--global--icon--color--custom--hover: var(--pf--global--color--base--cyan-500);
  --pf--global--icon--color--custom: var(--pf--global--color--base--cyan-400);
  --pf--global--icon--color--danger--active: var(--pf--global--color--base--orangered-200);
  --pf--global--icon--color--danger--hover: var(--pf--global--color--base--orangered-200);
  --pf--global--icon--color--danger: var(--pf--global--color--base--orangered-300);
  --pf--global--icon--color--disabled: var(--pf--global--color--base--gray-600);
  --pf--global--icon--color--info--active: var(--pf--global--color--base--purple-200);
  --pf--global--icon--color--info--hover: var(--pf--global--color--base--purple-200);
  --pf--global--icon--color--info: var(--pf--global--color--base--purple-300);
  --pf--global--icon--color--inverse: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-brand--hover: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-brand: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-custom--hover: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-custom: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-danger--hover: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-danger: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-info--hover: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-info: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-success--hover: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-success: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-warning--hover: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--on-warning: var(--pf--global--color--base--gray-900);
  --pf--global--icon--color--regular: var(--pf--global--color--base--gray-100);
  --pf--global--icon--color--subtle: var(--pf--global--color--base--gray-400);
  --pf--global--icon--color--success--active: var(--pf--global--color--base--green-200);
  --pf--global--icon--color--success--hover: var(--pf--global--color--base--green-200);
  --pf--global--icon--color--success: var(--pf--global--color--base--green-300);
  --pf--global--icon--color--warning--active: var(--pf--global--color--base--gold-300);
  --pf--global--icon--color--warning--hover: var(--pf--global--color--base--gold-300);
  --pf--global--icon--color--warning: var(--pf--global--color--base--gold-400);
}
