/* patternfly-theme-dark.css */

@import "themes/dark/patternfly-theme-dark";

$pf-theme-dark-class: ".pf-theme-dark" !default;

:where(#{$pf-theme-dark-class}) {
  @include pf-theme-dark($pf-theme-dark-class);
}

/* stylelint-disable */
.ws-preview,
.ws-example {
  background: transparent;
}
