/* stylelint-disable */
:root {
  --pf--global--background--color--highlight: --pf--global--color--base--gold-300;
  --pf--global--background--color--highlight--active: --pf--global--color--base--gold-400;
  --pf--global--action--plain--background-color: rgba(255, 255, 255, 0);
  --pf--global--action--plain--background--color--hover: --pf--global--color--base--gray-200;
  --pf--global--background--color--disabled: --pf--global--color--base--gray-400;
  --pf--global--background--color--floating: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--background--color--floating--hover: --pf--global--color--base--gray-100;
  --pf--global--background--color--floating--selected: --pf--global--color--base--gray-100;
  --pf--global--background--color--inverse: --pf--global--color--base--gray-800;
  --pf--global--background--color--primary: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--background--color--primary--hover: --pf--global--color--base--gray-100;
  --pf--global--background--color--primary--selected: --pf--global--color--base--gray-100;
  --pf--global--background--color--secondary: --pf--global--color--base--gray-100;
  --pf--global--background--color--secondary--hover: --pf--global--color--base--gray-200;
  --pf--global--background--color--secondary--selected: --pf--global--color--base--gray-200;
  --pf--global--border--color--active--border--color: --pf--global--color--base--blue-400;
  --pf--global--border--color--active--border--position: border.positions.inside;
  --pf--global--border--color--active--border--size: 3px;
  --pf--global--border--color--border--color: --pf--global--color--base--gray-300;
  --pf--global--border--color--border--position: border.positions.inside;
  --pf--global--border--color--border--size: 1px;
  --pf--global--border--color--brand--active--border--color: --pf--global--color--base--blue-500;
  --pf--global--border--color--brand--active--border--position: border.positions.inside;
  --pf--global--border--color--brand--active--border--size: 1px;
  --pf--global--border--color--brand--border--color: --pf--global--color--base--blue-400;
  --pf--global--border--color--brand--border--position: border.positions.inside;
  --pf--global--border--color--brand--border--size: 1px;
  --pf--global--border--color--brand--hover--border--color: --pf--global--color--base--blue-500;
  --pf--global--border--color--brand--hover--border--position: border.positions.inside;
  --pf--global--border--color--brand--hover--border--size: 1px;
  --pf--global--border--color--custom--active--border--color: --pf--global--color--base--cyan-500;
  --pf--global--border--color--custom--active--border--position: border.positions.inside;
  --pf--global--border--color--custom--active--border--size: 1px;
  --pf--global--border--color--custom--border--color: --pf--global--color--base--cyan-400;
  --pf--global--border--color--custom--border--position: border.positions.inside;
  --pf--global--border--color--custom--border--size: 1px;
  --pf--global--border--color--custom--hover--border--color: --pf--global--color--base--cyan-500;
  --pf--global--border--color--custom--hover--border--position: border.positions.inside;
  --pf--global--border--color--custom--hover--border--size: 1px;
  --pf--global--border--color--danger--active--border--color: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger—active;
  --pf--global--border--color--danger--active--border--position: border.positions.inside;
  --pf--global--border--color--danger--active--border--size: 1px;
  --pf--global--border--color--danger--border--color: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger;
  --pf--global--border--color--danger--border--position: border.positions.inside;
  --pf--global--border--color--danger--border--size: 1px;
  --pf--global--border--color--danger--hover--border--color: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger—active;
  --pf--global--border--color--danger--hover--border--position: border.positions.inside;
  --pf--global--border--color--danger--hover--border--size: 1px;
  --pf--global--border--color--hover--border--color: --pf--global--color--base--blue-300;
  --pf--global--border--color--hover--border--position: border.positions.inside;
  --pf--global--border--color--hover--border--size: 2px;
  --pf--global--border--color--info--active--border--color: --pf--global--color--base--purple-500;
  --pf--global--border--color--info--active--border--position: border.positions.inside;
  --pf--global--border--color--info--active--border--size: 1px;
  --pf--global--border--color--info--border--color: --pf--global--color--base--purple-400;
  --pf--global--border--color--info--border--position: border.positions.inside;
  --pf--global--border--color--info--border--size: 1px;
  --pf--global--border--color--info--hover--border--color: --pf--global--color--base--purple-500;
  --pf--global--border--color--info--hover--border--position: border.positions.inside;
  --pf--global--border--color--info--hover--border--size: 1px;
  --pf--global--border--color--success--active--border--color: --pf--global--color--base--green-500;
  --pf--global--border--color--success--active--border--position: border.positions.inside;
  --pf--global--border--color--success--active--border--size: 1px;
  --pf--global--border--color--success--border--color: --pf--global--color--base--green-400;
  --pf--global--border--color--success--border--position: border.positions.inside;
  --pf--global--border--color--success--border--size: 1px;
  --pf--global--border--color--success--hover--border--color: --pf--global--color--base--green-500;
  --pf--global--border--color--success--hover--border--position: border.positions.inside;
  --pf--global--border--color--success--hover--border--size: 1px;
  --pf--global--border--color--warning--active--border--color: --pf--global--color--base--gold-500;
  --pf--global--border--color--warning--active--border--position: border.positions.inside;
  --pf--global--border--color--warning--active--border--size: 1px;
  --pf--global--border--color--warning--border--color: --pf--global--color--base--gold-400;
  --pf--global--border--color--warning--border--position: border.positions.inside;
  --pf--global--border--color--warning--border--size: 1px;
  --pf--global--border--color--warning--hover--border--color: --pf--global--color--base--gold-500;
  --pf--global--border--color--warning--hover--border--position: border.positions.inside;
  --pf--global--border--color--warning--hover--border--size: 1px;
  --pf--global--border--position--inside: inside;
  --pf--global--border--width--regular--border--color: --pf--global--color--base--gray-300;
  --pf--global--border--width--regular--border--position: border.positions.inside;
  --pf--global--border--width--regular--border--size: 1px;
  --pf--global--box--shadow--drawer--top: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--box--shadow--drawer--top--shadow: shadows.shadow--4;
  --pf--global--box--shadow--floating: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--box--shadow--floating--shadow: shadows.shadow--3;
  --pf--global--box--shadow--large: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--box--shadow--large--bottom: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--box--shadow--large--bottom--shadow: shadows.shadow--7;
  --pf--global--box--shadow--large--left: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--box--shadow--large--left--shadow: shadows.shadow--2;
  --pf--global--box--shadow--large--right: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--box--shadow--large--right--shadow: shadows.shadow--5;
  --pf--global--box--shadow--large--shadow: shadows.shadow--1;
  --pf--global--box--shadow--medium: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--box--shadow--medium--shadow: shadows.shadow--3;
  --pf--global--box--shadow--small: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--box--shadow--small--shadow: shadows.shadow--6;
  --pf--global--color--base--black: rgba(0, 0, 0, 1);
  --pf--global--color--base--blue--100: rgba(217, 233, 255, 1);
  --pf--global--color--base--blue--200: rgba(156, 197, 255, 1);
  --pf--global--color--base--blue--300: rgba(96, 162, 255, 1);
  --pf--global--color--base--blue--400: rgba(12, 97, 217, 1);
  --pf--global--color--base--blue--500: rgba(0, 67, 160, 1);
  --pf--global--color--base--blue--600: rgba(0, 43, 104, 1);
  --pf--global--color--base--blue--700: rgba(0, 28, 67, 1);
  --pf--global--color--base--cyan--100: rgba(227, 252, 252, 1);
  --pf--global--color--base--cyan--200: rgba(179, 235, 236, 1);
  --pf--global--color--base--cyan--300: rgba(136, 218, 219, 1);
  --pf--global--color--base--cyan--400: rgba(66, 173, 175, 1);
  --pf--global--color--base--cyan--500: rgba(24, 117, 119, 1);
  --pf--global--color--base--cyan--600: rgba(7, 76, 77, 1);
  --pf--global--color--base--cyan--700: rgba(2, 50, 51, 1);
  --pf--global--color--base--gold--100: rgba(255, 239, 217, 1);
  --pf--global--color--base--gold--200: rgba(255, 220, 155, 1);
  --pf--global--color--base--gold--300: rgba(255, 205, 91, 1);
  --pf--global--color--base--gold--400: rgba(240, 171, 0, 1);
  --pf--global--color--base--gold--500: rgba(172, 122, 0, 1);
  --pf--global--color--base--gold--600: rgba(117, 82, 0, 1);
  --pf--global--color--base--gold--700: rgba(78, 53, 0, 1);
  --pf--global--color--base--gray--1000: rgba(21, 21, 21, 1);
  --pf--global--color--base--gray--100: rgba(242, 242, 242, 1);
  --pf--global--color--base--gray--200: rgba(224, 224, 224, 1);
  --pf--global--color--base--gray--300: rgba(199, 199, 199, 1);
  --pf--global--color--base--gray--400: rgba(163, 163, 163, 1);
  --pf--global--color--base--gray--500: rgba(110, 110, 110, 1);
  --pf--global--color--base--gray--600: rgba(77, 77, 77, 1);
  --pf--global--color--base--gray--700: rgba(56, 56, 56, 1);
  --pf--global--color--base--gray--800: rgba(41, 41, 41, 1);
  --pf--global--color--base--gray--900: rgba(31, 31, 31, 1);
  --pf--global--color--base--green--100: rgba(231, 252, 227, 1);
  --pf--global--color--base--green--200: rgba(178, 222, 170, 1);
  --pf--global--color--base--green--300: rgba(131, 192, 121, 1);
  --pf--global--color--base--green--400: rgba(62, 134, 53, 1);
  --pf--global--color--base--green--500: rgba(27, 88, 19, 1);
  --pf--global--color--base--green--600: rgba(11, 57, 6, 1);
  --pf--global--color--base--green--700: rgba(6, 41, 1, 1);
  --pf--global--color--base--orange--100: rgba(255, 231, 217, 1);
  --pf--global--color--base--orange--200: rgba(255, 209, 178, 1);
  --pf--global--color--base--orange--300: rgba(255, 185, 137, 1);
  --pf--global--color--base--orange--400: rgba(247, 130, 61, 1);
  --pf--global--color--base--orange--500: rgba(177, 78, 20, 1);
  --pf--global--color--base--orange--600: rgba(121, 47, 4, 1);
  --pf--global--color--base--orange--700: rgba(80, 29, 0, 1);
  --pf--global--color--base--orangered--100: rgba(255, 211, 201, 1);
  --pf--global--color--base--orangered--200: rgba(255, 148, 124, 1);
  --pf--global--color--base--orangered--300: rgba(255, 84, 46, 1);
  --pf--global--color--base--orangered--400: rgba(204, 58, 0, 1);
  --pf--global--color--base--orangered--500: rgba(136, 45, 0, 1);
  --pf--global--color--base--orangered--600: rgba(85, 32, 0, 1);
  --pf--global--color--base--orangered--700: rgba(51, 21, 0, 1);
  --pf--global--color--base--purple--100: rgba(234, 227, 252, 1);
  --pf--global--color--base--purple--200: rgba(192, 176, 241, 1);
  --pf--global--color--base--purple--300: rgba(154, 129, 229, 1);
  --pf--global--color--base--purple--400: rgba(95, 64, 190, 1);
  --pf--global--color--base--purple--500: rgba(62, 40, 130, 1);
  --pf--global--color--base--purple--600: rgba(41, 27, 85, 1);
  --pf--global--color--base--purple--700: rgba(28, 19, 55, 1);
  --pf--global--color--base--red--100: rgba(255, 219, 217, 1);
  --pf--global--color--base--red--200: rgba(246, 159, 152, 1);
  --pf--global--color--base--red--300: rgba(238, 102, 91, 1);
  --pf--global--color--base--red--400: rgba(201, 25, 11, 1);
  --pf--global--color--base--red--500: rgba(138, 10, 0, 1);
  --pf--global--color--base--red--600: rgba(90, 6, 0, 1);
  --pf--global--color--base--red--700: rgba(58, 4, 0, 1);
  --pf--global--color--base--white: rgba(255, 255, 255, 1);
  --pf--global--color--brand--active: --pf--global--color--base--blue-500;
  --pf--global--color--brand: --pf--global--color--base--blue-400;
  --pf--global--color--brand--hover: --pf--global--color--base--blue-500;
  --pf--global--color--custom--active: --pf--global--color--base--cyan-500;
  --pf--global--color--custom: --pf--global--color--base--cyan-400;
  --pf--global--color--custom--hover: --pf--global--color--base--cyan-500;
  --pf--global--color--danger--active: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger—active;
  --pf--global--color--danger: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger;
  --pf--global--color--danger--hover: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger—active;
  --pf--global--color--info--active: --pf--global--color--base--purple-500;
  --pf--global--color--info: --pf--global--color--base--purple-400;
  --pf--global--color--info--hover: --pf--global--color--base--purple-500;
  --pf--global--color--on-warning--hover: rgba(255, 255, 255, 1);
  --pf--global--color--on-warning: rgba(31, 31, 31, 1);
  --pf--global--color--success--active: --pf--global--color--base--green-500;
  --pf--global--color--success: --pf--global--color--base--green-400;
  --pf--global--color--success--hover: --pf--global--color--base--green-500;
  --pf--global--color--warning--active: --pf--global--color--base--gold-500;
  --pf--global--color--warning--active: rgba(172, 122, 0, 1);
  --pf--global--color--warning: --pf--global--color--base--gold-400;
  --pf--global--color--warning--hover: --pf--global--color--base--gold-500;
  --pf--global--color--warning--hover: rgba(172, 122, 0, 1);
  --pf--global--color--warning: rgba(240, 171, 0, 1);
  --pf--global--control--background--color: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--font--body--font-family: font--families.red-hat--text;
  --pf--global--font--body--font-size: font--sizes.font--size--body--200;
  --pf--global--font--body--font-weight: font--weights.font--weight-500;
  --pf--global--font--body--lg--font--family: font--families.red-hat--text;
  --pf--global--font--body--lg--font--weight: font--weights.font--weight-500;
  --pf--global--font--body--lg--fontsize: font--sizes.font--size--body--300;
  --pf--global--font--body--lg--text--align: text--alignments.text--align--left;
  --pf--global--font--body--lg--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--body--line-height: var();
  --pf--global--font--body--secondary--font--family: font--families.red-hat--text;
  --pf--global--font--body--secondary--font--weight: font--weights.font--weight-500;
  --pf--global--font--body--secondary--fontsize: font--sizes.font--size--body--200;
  --pf--global--font--body--secondary--text--align: text--alignments.text--align--left;
  --pf--global--font--body--secondary--text--color: --pf--global--color--base--gray-500;
  --pf--global--font--body--sm--font--family: font--families.red-hat--text;
  --pf--global--font--body--sm--font--weight: font--weights.font--weight-500;
  --pf--global--font--body--sm--fontsize: font--sizes.font--size--body--100;
  --pf--global--font--body--sm--secondary--font--family: font--families.red-hat--text;
  --pf--global--font--body--sm--secondary--font--weight: font--weights.font--weight-500;
  --pf--global--font--body--sm--secondary--fontsize: font--sizes.font--size--body--100;
  --pf--global--font--body--sm--secondary--text--align: text--alignments.text--align--left;
  --pf--global--font--body--sm--secondary--text--color: --pf--global--color--base--gray-500;
  --pf--global--font--body--sm--text--align: text--alignments.text--align--left;
  --pf--global--font--body--sm--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--body--text--align: text--alignments.text--align--left;
  --pf--global--font--body--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--heading--lg--font--family: font--families.red-hat--display;
  --pf--global--font--heading--lg--font--weight: font--weights.font--weight-600;
  --pf--global--font--heading--lg--fontsize: font--sizes.font--size-6;
  --pf--global--font--heading--lg--text--align: text--alignments.text--align--left;
  --pf--global--font--heading--lg--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--heading--xl--font--family: font--families.red-hat--display;
  --pf--global--font--heading--xl--font--weight: font--weights.font--weight-600;
  --pf--global--font--heading--xl--fontsize: font--sizes.font--size-7;
  --pf--global--font--heading--xl--text--align: text--alignments.text--align--left;
  --pf--global--font--heading--xl--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--heading--xxl--font--family: font--families.red-hat--display;
  --pf--global--font--heading--xxl--font--weight: font--weights.font--weight-600;
  --pf--global--font--heading--xxl--fontsize: font--sizes.font--size-8;
  --pf--global--font--heading--xxl--text--align: text--alignments.text--align--left;
  --pf--global--font--heading--xxl--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--headline--md--font--family: font--families.red-hat--display;
  --pf--global--font--headline--md--font--weight: font--weights.font--weight-600;
  --pf--global--font--headline--md--fontsize: font--sizes.font--size-5;
  --pf--global--font--headline--md--text--align: text--alignments.text--align--left;
  --pf--global--font--headline--md--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--headline--sm--font--family: font--families.red-hat--display;
  --pf--global--font--headline--sm--font--weight: font--weights.font--weight-600;
  --pf--global--font--headline--sm--fontsize: font--sizes.font--size-4;
  --pf--global--font--headline--sm--text--align: text--alignments.text--align--left;
  --pf--global--font--headline--sm--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--headline--xs--font--family: font--families.red-hat--display;
  --pf--global--font--headline--xs--font--weight: font--weights.font--weight-800;
  --pf--global--font--headline--xs--fontsize: font--sizes.font--size--body--300;
  --pf--global--font--headline--xs--text--align: text--alignments.text--align--left;
  --pf--global--font--headline--xs--text--color: --pf--global--color--base--gray-800;
  --pf--global--font--line-height--body--100: 1.3;
  --pf--global--font--line-height--heading--100: 1.5;
  --pf--global--font--size--body--100: 12;
  --pf--global--font--size--body--200: 14;
  --pf--global--font--size--body--300: 16;
  --pf--global--font--size--heading--100: 16;
  --pf--global--font--size--heading--200: 18;
  --pf--global--font--size--heading--300: 20;
  --pf--global--font--size--heading--400: 24;
  --pf--global--font--size--heading--500: 28;
  --pf--global--font--size--heading--600: 36;
  --pf--global--font--weight--body--100: 400;
  --pf--global--font--weight--body--200: 600;
  --pf--global--font--weight--heading--100: 500;
  --pf--global--font--weight--heading--200: 600;
  --pf--global--font-family--red-hat--display: red hat display;
  --pf--global--font-family--red-hat--text: red hat text;
  --pf--global--icon--color--brand--active: --pf--global--color--base--blue-500;
  --pf--global--icon--color--brand: --pf--global--color--base--blue-400;
  --pf--global--icon--color--brand--hover: --pf--global--color--base--blue-500;
  --pf--global--icon--color--custom--active: --pf--global--color--base--cyan-500;
  --pf--global--icon--color--custom: --pf--global--color--base--cyan-400;
  --pf--global--icon--color--custom--hover: --pf--global--color--base--cyan-500;
  --pf--global--icon--color--danger--active: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger—active;
  --pf--global--icon--color--danger: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger;
  --pf--global--icon--color--danger--hover: colors.text color tokens (light theme).status/danger/—pf--global—text—color—danger—active;
  --pf--global--icon--color--disabled: --pf--global--color--base--gray-600;
  --pf--global--icon--color--info--active: --pf--global--color--base--purple-500;
  --pf--global--icon--color--info: --pf--global--color--base--purple-400;
  --pf--global--icon--color--info--hover: --pf--global--color--base--purple-500;
  --pf--global--icon--color--inverse: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-brand: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-brand--hover: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-custom: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-custom--hover: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-danger: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-danger--hover: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-info: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-info--hover: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-success: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-success--hover: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--on-warning: --pf--global--color--base--gray-900;
  --pf--global--icon--color--on-warning--hover: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --pf--global--icon--color--regular: --pf--global--color--base--gray-900;
  --pf--global--icon--color--subtle: --pf--global--color--base--gray-500;
  --pf--global--icon--color--success--active: --pf--global--color--base--green-500;
  --pf--global--icon--color--success: --pf--global--color--base--green-400;
  --pf--global--icon--color--success--hover: --pf--global--color--base--green-500;
  --pf--global--icon--color--warning--active: --pf--global--color--base--gold-500;
  --pf--global--icon--color--warning: --pf--global--color--base--gold-400;
  --pf--global--icon--color--warning--hover: --pf--global--color--base--gold-500;
  --pf--global--link--text--color--hover--alt: rgba(0, 67, 160, 1);
  --pf--global--link--text--color--hover: rgba(0, 67, 160, 1);
  --pf--global--link--text--color--visited: rgba(95, 64, 190, 1);
  --pf--global--link--text--color: rgba(12, 97, 217, 1);
  --pf--global--shadow--large--bottom--blur--radius: 24;
  --pf--global--shadow--large--bottom--color: rgba(0, 0, 0, 0.161);
  --pf--global--shadow--large--bottom--offset--x: 0;
  --pf--global--shadow--large--bottom--offset--y: 8;
  --pf--global--shadow--large--bottom--spread: 0;
  --pf--global--shadow--large--left--blur--radius: 24;
  --pf--global--shadow--large--left--color: rgba(0, 0, 0, 0.161);
  --pf--global--shadow--large--left--offset--x: -8;
  --pf--global--shadow--large--left--offset--y: 0;
  --pf--global--shadow--large--left--spread: 0;
  --pf--global--shadow--large--right--blur--radius: 24;
  --pf--global--shadow--large--right--color: rgba(0, 0, 0, 0.161);
  --pf--global--shadow--large--right--offset--x: 8;
  --pf--global--shadow--large--right--offset--y: 0;
  --pf--global--shadow--large--right--spread: 0;
  --pf--global--shadow--large--top--blur--radius: 24;
  --pf--global--shadow--large--top--color: rgba(0, 0, 0, 0.161);
  --pf--global--shadow--large--top--offset--x: 0;
  --pf--global--shadow--large--top--offset--y: -8;
  --pf--global--shadow--large--top--spread: 0;
  --pf--global--shadow--medium--bottom--blur--radius: 8;
  --pf--global--shadow--medium--bottom--color: rgba(0, 0, 0, 0.122);
  --pf--global--shadow--medium--bottom--offset--x: 0;
  --pf--global--shadow--medium--bottom--offset--y: 4;
  --pf--global--shadow--medium--bottom--spread: 0;
  --pf--global--shadow--medium--left--blur--radius: 8;
  --pf--global--shadow--medium--left--color: rgba(0, 0, 0, 0.122);
  --pf--global--shadow--medium--left--offset--x: -4;
  --pf--global--shadow--medium--left--offset--y: 0;
  --pf--global--shadow--medium--left--spread: 0;
  --pf--global--shadow--medium--right--blur--radius: 8;
  --pf--global--shadow--medium--right--color: rgba(0, 0, 0, 0.122);
  --pf--global--shadow--medium--right--offset--x: 4;
  --pf--global--shadow--medium--right--offset--y: 0;
  --pf--global--shadow--medium--right--spread: 0;
  --pf--global--shadow--medium--top--blur--radius: 8;
  --pf--global--shadow--medium--top--color: rgba(0, 0, 0, 0.122);
  --pf--global--shadow--medium--top--offset--x: 0;
  --pf--global--shadow--medium--top--offset--y: -4;
  --pf--global--shadow--medium--top--spread: 0;
  --pf--global--shadow--small--bottom--blur--radius: 2;
  --pf--global--shadow--small--bottom--color: rgba(0, 0, 0, 0.161);
  --pf--global--shadow--small--bottom--offset--x: 0;
  --pf--global--shadow--small--bottom--offset--y: 1;
  --pf--global--shadow--small--bottom--spread: 0;
  --pf--global--shadow--small--left--blur--radius: 2;
  --pf--global--shadow--small--left--color: rgba(0, 0, 0, 0.161);
  --pf--global--shadow--small--left--offset--x: -1;
  --pf--global--shadow--small--left--offset--y: 0;
  --pf--global--shadow--small--left--spread: 0;
  --pf--global--shadow--small--right--blur--radius: 2;
  --pf--global--shadow--small--right--color: rgba(0, 0, 0, 0.161);
  --pf--global--shadow--small--right--offset--x: 1;
  --pf--global--shadow--small--right--offset--y: 0;
  --pf--global--shadow--small--right--spread: 0;
  --pf--global--shadow--small--top--blur--radius: 2;
  --pf--global--shadow--small--top--color: rgba(0, 0, 0, 0.161);
  --pf--global--shadow--small--top--offset--x: 0;
  --pf--global--shadow--small--top--offset--y: -1;
  --pf--global--shadow--small--top--spread: 0;
  --pf--global--text--color--brand--active: rgba(0, 67, 160, 1);
  --pf--global--text--color--brand--hover: rgba(0, 67, 160, 1);
  --pf--global--text--color--brand: rgba(12, 97, 217, 1);
  --pf--global--text--color--custom--active: rgba(24, 117, 119, 1);
  --pf--global--text--color--custom--hover: rgba(24, 117, 119, 1);
  --pf--global--text--color--custom: rgba(66, 173, 175, 1);
  --pf--global--text--color--danger--active: rgba(136, 45, 0, 1);
  --pf--global--text--color--danger--hover: rgba(136, 45, 0, 1);
  --pf--global--text--color--danger: rgba(204, 58, 0, 1);
  --pf--global--text--color--disabled--light: rgba(163, 163, 163, 1);
  --pf--global--text--color--disabled: rgba(77, 77, 77, 1);
  --pf--global--text--color--info--active: rgba(62, 40, 130, 1);
  --pf--global--text--color--info--hover: rgba(62, 40, 130, 1);
  --pf--global--text--color--info: rgba(95, 64, 190, 1);
  --pf--global--text--color--inverse: rgba(242, 242, 242, 1);
  --pf--global--text--color--on-brand--hover: rgba(255, 255, 255, 1);
  --pf--global--text--color--on-brand: rgba(255, 255, 255, 1);
  --pf--global--text--color--on-danger--hover: rgba(255, 255, 255, 1);
  --pf--global--text--color--on-danger: rgba(255, 255, 255, 1);
  --pf--global--text--color--on-success--hover: rgba(255, 255, 255, 1);
  --pf--global--text--color--on-success: rgba(255, 255, 255, 1);
  --pf--global--text--color--placeholder: rgba(110, 110, 110, 1);
  --pf--global--text--color--regular: rgba(31, 31, 31, 1);
  --pf--global--text--color--subtle: rgba(110, 110, 110, 1);
  --pf--global--text--color--success--active: rgba(27, 88, 19, 1);
  --pf--global--text--color--success--hover: rgba(27, 88, 19, 1);
  --pf--global--text--color--success: rgba(62, 134, 53, 1);
  --primary--pf--global--background--color--primary--background--color: colors.text color tokens (light theme).status/success/4—pf--global—text—color—on--success;
  --primary--pf--global--background--color--primary--hover--background--color: --pf--global--color--base--gray-100;
  --primary--pf--global--background--color--primary--selected--background--color: --pf--global--color--base--gray-100;
  --secondary--pf--global--background--color--secondary--background--color: --pf--global--color--base--gray-100;
  --secondary--pf--global--background--color--secondary--hover--background--color: --pf--global--color--base--gray-200;
  --secondary--pf--global--background--color--secondary--selected--background--color: --pf--global--color--base--gray-200;
}
