@import "patternfly-base.scss";
@import "components/all";
@import "layouts/all";

.ws-example,
.ws-lite-example {
  background: var(--pf-global--palette--BackgroundColor--200) !important;
}

.ws-preview,
#main-content {
  background-color: var(--pf-global--BackgroundColor--200) !important;
}

.ws-page-sidebar.pf-c-page__sidebar {
  background: white;
}

.ws-table tr {
  border-bottom: 1px solid var(--pf-global--BorderColor--300) !important;
}

.ws-table {
  display: none !important;
}

:root {
  // palette changes
  --pf-global--palette--black-50: #E0E0E0;
  --pf-global--palette--black-100: #C6C7C8;
  --pf-global--palette--black-200: #AAABAC;
  --pf-global--palette--black-300: #868789;
  --pf-global--palette--black-400: #57585A;
  --pf-global--palette--black-500: #444548;
  --pf-global--palette--black-600: #36373A;
  --pf-global--palette--black-700: #26292D;
  --pf-global--palette--black-800: #1B1D21;
  --pf-global--palette--black-900: #0F1214;
  --pf-global--palette--red-9999: #fe5142;
  --pf-global--palette--red-8888: #FE6A5D;

  // background colors
  --pf-global--BackgroundColor--100: var(--pf-global--palette--black-800);
  --pf-global--BackgroundColor--200: var(--pf-global--palette--black-900);
  --pf-global--BackgroundColor--300: var(--pf-global--palette--black-700); // floaty
  --pf-global--BackgroundColor--400: var(--pf-global--palette--black-600); // form control & menu item hover (on floaty bg)
  --pf-global--BackgroundColor--light-300: var(--pf-global--BackgroundColor--300);
  --pf-global--BackgroundColor--light-200: var(--pf-global--BackgroundColor--200);
  --pf-global--BorderColor--100: var(--pf-global--palette--black-500);
  --pf-global--BorderColor--200: var(--pf-global--palette--black-500);
  --pf-global--BorderColor--300: var(--pf-global--palette--black-400);

  // text colors
  --pf-global--Color--100: #fff;
  --pf-global--Color--200: var(--pf-global--palette--black-200);
  --pf-global--active-color--100: var(--pf-global--palette--blue-300);
  --pf-global--primary-color--100: var(--pf-global--palette--blue-300);
  --pf-global--success-color--100: var(--pf-global--palette--green-400);
  --pf-global--warning-color--100: var(--pf-global--palette--gold-400);
  --pf-global--danger-color--100: var(--pf-global--palette--red-9999);
  --pf-global--danger-color--200: var(--pf-global--palette--red-8888);
  --pf-global--link--Color: var(--pf-global--palette--blue-300);
  --pf-global--link--Color--hover: var(--pf-global--palette--blue-200);
  --pf-global--disabled-color--100: var(--pf-global--palette--black-400); // disabled text on regular background color
  --pf-global--disabled-color--200: var(--pf-global--palette--black-500); // disabled background color
  --pf-global--disabled-color--300: var(--pf-global--palette--black-200); // disabled text on disabled background color
}

.pf-c-accordion {
  --pf-c-accordion__toggle--hover--BackgroundColor: var(--pf-global--BackgroundColor--300);
  --pf-c-accordion__toggle--focus--BackgroundColor: var(--pf-global--BackgroundColor--300);
  --pf-c-accordion__toggle--active--BackgroundColor: var(--pf-global--BackgroundColor--300);
}

.pf-c-alert {
  // question should we disable the box shadow on alerts?
  --pf-c-alert--BackgroundColor: var(--pf-global--palette--black-600);
  --pf-c-alert__title--Color: var(--pf-global--default-color--200); // question why don't the existing title color vars swap correctly in dark theme?
  --pf-c-alert--m-success__title--Color: var(--pf-global--success-color--100);
  --pf-c-alert--m-danger__title--Color: var(--pf-global--danger-color--100);
  --pf-c-alert--m-warning__title--Color: var(--pf-global--warning-color--100);
  --pf-c-alert--m-info__title--Color: var(--pf-global--info-color--100);
  --pf-c-alert--m-inline--BackgroundColor: var(--pf-global--palette--black-600);
  --pf-c-alert--m-inline--m-success--BackgroundColor: var(--pf-global--palette--black-600);
  --pf-c-alert--m-inline--m-danger--BackgroundColor: var(--pf-global--palette--black-600);
  --pf-c-alert--m-inline--m-warning--BackgroundColor: var(--pf-global--palette--black-600);
  --pf-c-alert--m-inline--m-info--BackgroundColor: var(--pf-global--palette--black-600);
}

.pf-c-app-launcher {
  --pf-c-app-launcher__menu--BackgroundColor: var(--pf-global--BackgroundColor--300);
  --pf-c-app-launcher__menu--Top: 100%;
  --pf-c-app-launcher__menu-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--400);
  --pf-c-app-launcher__menu-item--disabled--Color: var(--pf-global--palette--black-300); // question should we have a global var for this
}
