<button class="{{pfv}}menu__item-action{{#if menu-item-action--IsFavorite}} pf-m-favorite{{/if}}{{#if menu-item-action--IsFavorited}} pf-m-favorited{{/if}}{{#if menu-item-action--modifier}} {{menu-item-action--modifier}}{{/if}}"
  type="button"
  {{#if menu-list-item--IsDisabled}}
    disabled
  {{/if}}
  {{#if menu-item-action--IsFavorited}}
    aria-label="Starred"
  {{else if menu-item-action--IsFavorite}}
    aria-label="Not starred"
  {{/if}}
  {{#if menu-item-action--attribute}}
    {{{menu-item-action--attribute}}}
  {{/if}}>
  {{> menu-item-action-icon}}
</button>
