<div class="{{pfv}}menu__search{{#if menu-search--modifier}} {{menu-search--modifier}}{{/if}}"
  {{#if menu-search--attribute}}
    {{{menu-search--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
