<div class="{{pfv}}menu__content{{#if menu-content--modifier}} {{menu-content--modifier}}{{/if}}"
  {{#if menu-content--attribute}}
    {{{menu-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
