<div class="{{pfv}}menu__breadcrumb{{#if menu-breadcrumb--modifier}} {{menu-breadcrumb--modifier}}{{/if}}"
  {{#if menu-breadcrumb--attribute}}
    {{{menu-breadcrumb--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
