<div class="{{pfv}}menu__item-action
  {{setModifiers
    menu-list-item--IsAriaDisabled='pf-m-aria-disabled'
    menu-item-action--IsFavorite='pf-m-favorite'
    menu-item-action--IsFavorited='pf-m-favorited pf-m-favorite'
    menu-item-action--modifier=menu-item-action--modifier
  }}"
  {{#if menu-item-action--attribute}}
    {{{menu-item-action--attribute}}}
  {{/if}}>
  {{#> button button--role="menuitem" button--IsPlain=true button--IsDisabled=menu-item--IsDisabled button--IsAriaDisabled=menu-list-item--IsAriaDisabled}}
    {{!-- TODO: {{#> button-icon}} --}}
    {{#ifAny menu-item-action--IsFavorite menu-item-action--IsFavorited}}
      <i class="fas fa-star" aria-hidden="true"></i>
    {{else if @partial-block}}
      {{> @partial-block}}
    {{/ifAny}}
    {{!-- TODO: {{/button-icon}} --}}
  {{/button}}
</div>
