<span class="{{pfv}}menu__item-main{{#if menu-item-main--modifier}} {{menu-item-main--modifier}}{{/if}}"
  {{#if menu-item-main--attribute}}
    {{{menu-item-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
