<span class="{{pfv}}menu__item-icon{{#if menu-item-icon--modifier}} {{menu-item-icon--modifier}}{{/if}}"
  {{#if menu-item-icon--attribute}}
    {{{menu-item-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
