<li class="pf-c-menu__list-item{{#if menu-list-item--modifier}} {{menu-list-item--modifier}}{{/if}}"
  {{#if menu-list-item--attribute}}
    {{{menu-list-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
