<span class="{{pfv}}menu__item-text{{#if menu-item-text--modifier}} {{menu-item-text--modifier}}{{/if}}"
  {{#if menu-item-text--attribute}}
    {{{menu-item-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
