<div class="{{pfv}}menu__search-input{{#if menu-search-input--modifier}} {{menu-search-input--modifier}}{{/if}}"
  {{#if menu-search-input--attribute}}
    {{{menu-search-input--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
