<section class="{{pfv}}menu__group{{#if menu-group--modifier}} {{menu-group--modifier}}{{/if}}"
  {{#if menu-group--attribute}}
    {{{menu-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</section>
