<div class="{{pfv}}menu
  {{!-- Set modifiers --}}
  {{
    setModifiers
    menu--IsDrilledIn=(ternary menu--IsDrilledInReset '' 'pf-m-drilled-in')
    menu--modifier=menu--modifier
  }}"

  {{!-- Set attributes --}}
  {{
    setAttributes
    menu--width=(concat 'width="' menu--width '"')
    menu--IsHidden='hidden'
    menu--attribute=menu--attribute
  }}>

  {{!-- Usage:: {{> menu menu--items=(array 'item 1' 'item 3' 'item 3')}} to instantiate loop --}}

  {{!-- {{> menu--items}} --}}
  {{!-- Manual content --}}
  {{#ifAny menu--items menu--IsSubmenu}}
    {{#> menu-content}}
      {{#> menu-list}}
        {{!-- Menu items array - won't render unless menu--items is passed to instance --}}
        {{#each menu--items}}
          {{#> menu-list-item menu-list-item--IsDisabled=this.IsDisabled}}
            {{> menu-item menu-item--text=this.name}}
          {{/menu-list-item}}
        {{/each}}

        {{!-- Submenu --}}
        {{#if menu--IsSubmenu}}
          {{> @partial-block}}
        {{/if}}
      {{/menu-list}}
    {{/menu-content}}
  {{/ifAny}}
  {{#if (hasNone menu--items menu--IsSubmenumenu--items)}}
    {{#if @partial-block}}
      {{> @partial-block}}
    {{/if}}
  {{/if}}
</div>
