<div class="{{pfv}}menu__footer{{#if menu-footer--modifier}} {{menu-footer--modifier}}{{/if}}"
  {{#if menu-footer--attribute}}
    {{{menu-footer--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
