<div class="{{pfv}}menu__header{{#if menu-header--modifier}} {{menu-header--modifier}}{{/if}}"
  {{#if menu-header--attribute}}
    {{{menu-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
