<span class="{{pfv}}menu__item-description{{#if menu-item-description--modifier}} {{menu-item-description--modifier}}{{/if}}"
  {{#if menu-item-description--attribute}}
    {{{menu-item-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
