<span class="pf-c-menu__item-check{{#if menu-item-check--modifier}} {{menu-item-check--modifier}}{{/if}}"
  {{#if menu-item-check--attribute}}
    {{{menu-item-check--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
