<span class="{{pfv}}menu__item-toggle-icon{{#if menu-item-toggle-icon--modifier}} {{menu-item-toggle-icon--modifier}}{{/if}}"
  {{#if menu-item-toggle-icon--attribute}}
    {{{menu-item-toggle-icon--attribute}}}
  {{/if}}>
  {{#if menu-item-toggle-icon--IsDrillup}}
    <i class="fas fa-angle-left"></i>
  {{else}}
    <i class="fas fa-angle-right"></i>
  {{/if}}
</span>
