<span class="{{pfv}}menu__item-select-icon{{#if menu-item-select-icon--modifier}} {{menu-item-select-icon--modifier}}{{/if}}"
  {{#if menu-item-select-icon--attribute}}
    {{{menu-item-select-icon--attribute}}}
  {{/if}}>
  {{{pfIcon "rh-microns-checkmark"}}}
</span>
