<h1 class="{{pfv}}menu__group-title{{#if menu-group-title--modifier}} {{menu-group-title--modifier}}{{/if}}"
  {{#if menu-group-title--attribute}}
    {{{menu-group-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</h1>
