<div class="{{pfv}}dual-list-selector__title{{#if dual-list-selector-title--modifier}} {{dual-list-selector-title--modifier}}{{/if}}"
  {{#if dual-list-selector-title--attribute}}
    {{{dual-list-selector-title--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
