<div class="{{pfv}}dual-list-selector__controls-item{{#if dual-list-selector-controls-item--modifier}} {{dual-list-selector-controls-item--modifier}}{{/if}}"
  {{#if dual-list-selector-controls-item--attribute}}
    {{{dual-list-selector-controls-item--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
