<span class="pf-c-dual-list-selector__status-text{{#if dual-list-selector-status-text--modifier}} {{dual-list-selector-status-text--modifier}}{{/if}}"
  {{#if dual-list-selector-status-text--attribute}}
    {{{dual-list-selector-status-text--attribute}}}
  {{/if}}
  {{#if dual-list-selector-status-text--id}}
    id="{{{dual-list-selector-status-text--id}}}"
  {{/if}}>
  {{>@partial-block}}
</span>
