<div class="pf-c-dual-list-selector__draggable{{#if dual-list-selector-draggable--modifier}} {{dual-list-selector-draggable--modifier}}{{/if}}"
  {{#if dual-list-selector-draggable--attribute}}
    {{{dual-list-selector-draggable--attribute}}}
  {{/if}}>
  {{> dual-list-selector-draggable-button}}
</div>
