<div class="{{pfv}}dual-list-selector{{#if dual-list-selector--modifier}} {{dual-list-selector--modifier}}{{/if}}"
  {{#if dual-list-selector--attribute}}
    {{{dual-list-selector--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
