<div class="{{pfv}}dual-list-selector__header{{#if dual-list-selector-header--modifier}} {{dual-list-selector-header--modifier}}{{/if}}"
  {{#if dual-list-selector-header--attribute}}
    {{{dual-list-selector-header--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
