<div class="{{pfv}}dual-list-selector__controls{{#if dual-list-selector-controls--modifier}} {{dual-list-selector-controls--modifier}}{{/if}}"
  {{#if dual-list-selector-controls--attribute}}
    {{{dual-list-selector-controls--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
