<span class="{{pfv}}dual-list-selector__item-main{{#if dual-list-selector-item-main--modifier}} {{dual-list-selector-item-main--modifier}}{{/if}}"
  {{#if dual-list-selector-item-main--attribute}}
    {{{dual-list-selector-item-main--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</span>
