<div class="{{pfv}}dual-list-selector__status{{#if dual-list-selector-status--modifier}} {{dual-list-selector-status--modifier}}{{/if}}"
  {{#if dual-list-selector-status--attribute}}
    {{{dual-list-selector-status--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
