<div class="pf-c-dual-list-selector__header-title-text{{#if dual-list-selector-header-title-text--modifier}} {{dual-list-selector-header-title-text--modifier}}{{/if}}"
  {{#if dual-list-selector-header-title-text--attribute}}
    {{dual-list-selector-header-title-text--attribute}}
  {{/if}}>
  {{>@partial-block}}
</div>
