<span class="pf-c-dual-list-selector__item-text{{#if dual-list-selector-item-text--modifier}} {{dual-list-selector-item-text--modifier}}{{/if}}"
  {{#if dual-list-selector-list-item--IsDraggable}}
    id="{{dual-list-selector-list-item--id}}-item-text"
  {{/if}}
  {{#if dual-list-selector-item-text--attribute}}
    {{{dual-list-selector-item-text--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</span>
