<div class="{{pfv}}dual-list-selector__title-text{{#if dual-list-selector-title-text--modifier}} {{dual-list-selector-title-text--modifier}}{{/if}}"
  {{#if dual-list-selector-title-text--attribute}}
    {{{dual-list-selector-title-text--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
