<div class="{{pfv}}dual-list-selector__item-toggle{{#if dual-list-selector-item-toggle--modifier}} {{dual-list-selector-item-toggle--modifier}}{{/if}}"
  {{#if dual-list-selector-item-toggle--attribute}}
    {{{dual-list-selector-item-toggle--attribute}}}
  {{/if}}>
  {{> dual-list-selector-item-toggle-icon}}
</div>
