<div class="{{pfv}}dual-list-selector__tools-actions{{#if dual-list-selector-tools-actions--modifier}} {{dual-list-selector-tools-actions--modifier}}{{/if}}"
  {{#if dual-list-selector-tools-actions--attribute}}
    {{{dual-list-selector-tools-actions--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
