<div class="{{pfv}}dual-list-selector__pane{{#if dual-list-selector-pane--modifier}} {{dual-list-selector-pane--modifier}}{{/if}}"
  {{#if dual-list-selector-pane--attribute}}
    {{{dual-list-selector-pane--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
