<div class="{{pfv}}dual-list-selector__menu{{#if dual-list-selector-menu--modifier}} {{dual-list-selector-menu--modifier}}{{/if}}"
  tabindex="0"
  {{#if dual-list-selector-menu--attribute}}
    {{{dual-list-selector-menu--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
