<li class="pf-c-dual-list-selector__list-item
  {{~#if dual-list-selector-list-item--IsExpandable}} pf-m-expandable{{/if}}
  {{~#if dual-list-selector-list-item--IsExpanded}} pf-m-expanded{{/if}}
  {{~#if dual-list-selector-list-item--IsDisabled}}
    {{#unless dual-list-selector-list-item--IsTopLevelDisabled}}
      pf-m-disabled
    {{/unless}}
  {{/if}}
  {{~#if dual-list-selector-list-item--modifier}} {{dual-list-selector-list-item--modifier}}{{/if}}"
  {{#if dual-list-selector-list-item--IsExpandable}}
    aria-expanded="true"
  {{/if}}
  {{#if dual-list-selector-list-item--attribute}}
    {{{dual-list-selector-list-item--attribute}}}
  {{/if}}
  {{#if dual-list-selector-list--IsTree}}
    role="treeitem"
  {{else if dual-list-selector-list--IsSublist}}
    role="treeitem"
  {{else}}
    role="option"
  {{/if}}>
  {{>@partial-block}}
</li>
