<li class="pf-c-dual-list-selector__list-item{{#if dual-list-selector-list-item--modifier}} {{dual-list-selector-list-item--modifier}}{{/if}}"
  {{#if dual-list-selector-list-item--attribute}}
    {{dual-list-selector-list-item--attribute}}
  {{/if}}>
  {{>@partial-block}}
</li>
