@import "../../patternfly-utilities";

/* stylelint-disable */
// Flex direction
@include pf-utility-builder("flex-column", $pf-global--breakpoint-list) { flex-direction: column !important; }

@include pf-utility-builder("flex-column-reverse", $pf-global--breakpoint-list) { flex-direction: column-reverse !important; }

@include pf-utility-builder("flex-row-reverse", $pf-global--breakpoint-list) { flex-direction: row-reverse !important; }

@include pf-utility-builder("flex-row", $pf-global--breakpoint-list) { flex-direction: row !important; }

// Wrap
@include pf-utility-builder("flex-wrap", $pf-global--breakpoint-list) { flex-wrap: wrap; }

@include pf-utility-builder("flex-nowrap", $pf-global--breakpoint-list) { flex-wrap: nowrap; }

@include pf-utility-builder("flex-wrap-reverse", $pf-global--breakpoint-list) { flex-wrap: wrap-reverse; }

// Align items
@include pf-utility-builder("align-items-flex-start", $pf-global--breakpoint-list) { align-items: flex-start !important; }

@include pf-utility-builder("align-items-flex-end", $pf-global--breakpoint-list) { align-items: flex-end !important; }

@include pf-utility-builder("align-items-center", $pf-global--breakpoint-list) { align-items: center !important; }

@include pf-utility-builder("align-items-baseline", $pf-global--breakpoint-list) { align-items: baseline !important; }

@include pf-utility-builder("align-items-stretch", $pf-global--breakpoint-list) { align-items: stretch !important; }

// Align self
@include pf-utility-builder("align-self-flex-start", $pf-global--breakpoint-list) { align-self: flex-start !important; }

@include pf-utility-builder("align-self-flex-end", $pf-global--breakpoint-list) { align-self: flex-end !important; }

@include pf-utility-builder("align-self-center", $pf-global--breakpoint-list) { align-self: center !important; }

@include pf-utility-builder("align-self-baseline", $pf-global--breakpoint-list) { align-self: baseline !important; }

@include pf-utility-builder("align-self-stretch", $pf-global--breakpoint-list) { align-self: stretch !important; }

// Align content
@include pf-utility-builder("align-content-flex-start", $pf-global--breakpoint-list) { align-content: flex-start !important; }

@include pf-utility-builder("align-content-flex-end", $pf-global--breakpoint-list) { align-content: flex-end !important; }

@include pf-utility-builder("align-content-center", $pf-global--breakpoint-list) { align-content: center !important; }

@include pf-utility-builder("align-content-space-between", $pf-global--breakpoint-list) { align-content: space-between !important; }

@include pf-utility-builder("align-content-space-around", $pf-global--breakpoint-list) { align-content: space-around !important; }

@include pf-utility-builder("align-content-stretch", $pf-global--breakpoint-list) { align-content: stretch !important; }

// Justify content
@include pf-utility-builder("justify-content-flex-start", $pf-global--breakpoint-list) { justify-content: flex-start !important; }

@include pf-utility-builder("justify-content-flex-end", $pf-global--breakpoint-list) { justify-content: flex-end !important; }

@include pf-utility-builder("justify-content-center", $pf-global--breakpoint-list) { justify-content: center !important; }

@include pf-utility-builder("justify-content-space-between", $pf-global--breakpoint-list) { justify-content: space-between !important; }

@include pf-utility-builder("justify-content-space-around", $pf-global--breakpoint-list) { justify-content: space-around !important; }

// Flex shrink / grow
@include pf-utility-builder("flex-shrink-1", $pf-global--breakpoint-list) { flex-shrink: 1 !important; }

@include pf-utility-builder("flex-grow-1", $pf-global--breakpoint-list) { flex-grow: 1 !important; }

@include pf-utility-builder("flex-shrink-0", $pf-global--breakpoint-list) { flex-shrink: 0 !important; }

@include pf-utility-builder("flex-grow-0", $pf-global--breakpoint-list) { flex-grow: 0 !important; }

// Flex basis
@include pf-utility-builder("flex-basis-0", $pf-global--breakpoint-list) { flex-basis: 0 !important; }

@include pf-utility-builder("flex-basis-auto", $pf-global--breakpoint-list) { flex-basis: auto !important; }

@include pf-utility-builder("flex-none", $pf-global--breakpoint-list) { flex: none !important; }

@include pf-utility-builder("flex-1", $pf-global--breakpoint-list) { flex: 1 !important; }

// Flex fill
@include pf-utility-builder("flex-fill", $pf-global--breakpoint-list) { flex: 1 1 auto !important; }
/* stylelint-enable */
