@import "../../../../sass-utilities/themes/dark/all";

@mixin pf-v5-theme-dark-context-selector() {
  .#{$context-selector} {
    --#{$context-selector}__menu--Top: 100%;
    --#{$context-selector}__menu-list-item--hover--BackgroundColor: var(--#{$pf-global}--BackgroundColor--400);
  }

  .#{$context-selector}__toggle {
    background: var(--#{$pf-global}--BackgroundColor--400);

    &.pf-m-plain {
      background: transparent;
    }
  }

  .#{$context-selector}__menu {
    background: var(--#{$pf-global}--BackgroundColor--300);
  }

  .#{$context-selector}__menu-footer {
    border-block-start: 1px solid var(--#{$pf-global}--BorderColor--300);
  }
}
