{{#> toolbar toolbar--id=(concat page--id '-toolbar-top')}}
    {{#> button button--modifier="pf-m-plain pf-c-toolbar__filter-toggle" button--attribute='aria-label="Filter results"'}}
      {{> button-icon button-icon--type="filter"}}
    {{/button}}
    {{#> toolbar-filter}}
      {{#> select id=(concat toolbar--id '-select-checkbox') select--IsCheckboxSelect="true"}}
        <i class="fas fa-filter" aria-hidden="true"></i>
        Name
      {{/select}}
    {{/toolbar-filter}}
  {{#> toolbar-action-group}}
    {{#> button button--modifier="pf-m-primary"}}
      Action
    {{/button}}
    {{#> button button--modifier="pf-m-link"}}
      Action
    {{/button}}
  {{/toolbar-action-group}}
    {{#> dropdown id=(concat toolbar--id '-dropdown') dropdown--modifier="pf-c-toolbar__action-list" dropdown--HasKebabIcon="true" dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" aria-label="Actions"}}
    {{/dropdown}}
  {{#> pagination pagination--attribute='aria-label="Element pagination"'}}
    {{#> pagination-total-items}}
      <b>1 - 5</b> of <b>10</b>
    {{/pagination-total-items}}
    {{> pagination-options-menu id=(concat toolbar--id '-pagination-options-menu')  options-menu--IsText="true"}}
    {{#> pagination-nav}}
      {{#> button button--modifier="pf-m-plain pf-m-disabled" button--attribute='aria-label="Go to first page" aria-disabled="true"'}}
        {{> button-icon button-icon--type="angle-double-left"}}
      {{/button}}
      {{#> button button--modifier="pf-m-plain pf-m-disabled" button--attribute='aria-label="Go to previous page" aria-disabled="true"'}}
        {{> button-icon button-icon--type="angle-left"}}
      {{/button}}
      {{#> pagination-nav-page-select pagination-nav-page-select--attribute='aria-label="Current page 1 of 4"'}}
        {{> form-control input="true" controlType="input" form-control--attribute='aria-label="Current page" type="number" min="1" max="4" value="1"'}}
        <span aria-hidden="true">of 4</span>
      {{/pagination-nav-page-select}}
      {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Go to next page"'}}
        {{> button-icon button-icon--type="angle-right"}}
      {{/button}}
      {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Go to last page"'}}
        {{> button-icon button-icon--type="angle-double-right"}}
      {{/button}}
    {{/pagination-nav}}
  {{/pagination}}
  {{#> toolbar-filter-list}}{{/toolbar-filter-list}}
{{/toolbar}}
