<div class="pf-d-wizard-modal{{#if wizard-modal--modifier}} {{wizard-modal--modifier}}{{/if}}"
  {{#if wizard-modal--attribute}}
    {{{wizard-modal--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
