.pf-c-notification-badge {
  --pf-c-notification-badge--after--Top: 0;
  --pf-c-notification-badge--after--Right: 0;
  --pf-c-notification-badge--after--Width: var(--pf-global--spacer--sm);
  --pf-c-notification-badge--after--Height: var(--pf-global--spacer--sm);
  --pf-c-notification-badge--after--BackgroundColor: var(--pf-global--active-color--400);
  --pf-c-notification-badge--after--BorderRadius: var(--pf-global--BorderRadius--lg);

  // Modifiers
  --pf-c-notification-badge--m-read--after--BackgroundColor: transparent;
  --pf-c-notification-badge--m-unread--after--BackgroundColor: var(--pf-global--active-color--400);

  position: relative;

  &::after {
    position: absolute;
    top: var(--pf-c-notification-badge--after--Top);
    right: var(--pf-c-notification-badge--pf-m-top-right--after--Right);
    display: inline-block;
    width: var(--pf-c-notification-badge--after--Width);
    height: var(--pf-c-notification-badge--after--Height);
    content: "";
    background-color: var(--pf-c-notification-badge--after--BackgroundColor);
    border-radius: var(--pf-c-notification-badge--after--BorderRadius);
    transform: translate(-50%, 50%);
  }

  &.pf-m-unread::after {
    --pf-c-notification-badge--after--BackgroundColor: var(--pf-c-notification-badge--m-unread--after--BackgroundColor);
  }

  &.pf-m-read::after {
    --pf-c-notification-badge--after--BackgroundColor: var(--pf-c-notification-badge--m-read--after--BackgroundColor);
  }
}
