<span class="pf-c-notification-badge__count{{#if notification-badge-count--modifier}} {{notification-badge-count--modifier}}{{/if}}"
  {{#if notification-badge-count--attribute}}
    {{{notification-badge-count--attribute}}}
  {{/if}}>
  {{{notification-badge-count--count}}}
</span>
