<span class="pf-c-notification-badge{{#if notification-badge--modifier}} {{notification-badge--modifier}}{{/if}}"
  {{#if notification-badge--attribute}}
    {{{notification-badge--attribute}}}
  {{/if}}>
  {{> @partial-block}}
  {{#if notification-badge--count}}
    <span class="pf-c-notification-badge__count">{{{notification-badge--count}}}</span>
  {{/if}}
</span>
