<div class="{{pfv}}modal-box__header-help{{#if modal-box-header-help--modifier}} {{modal-box-header-help--modifier}}{{/if}}"
  {{#if modal-box-header-help--attribute}}
    {{{modal-box-header-help--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Help"'}}
      <i class="pficon pf-v5-c-icon-help" aria-hidden="true"></i>
  {{/button}}
</div>
