<div class="{{pfv}}modal-box__header-main{{#if modal-box-header-main--modifier}} {{modal-box-header-main--modifier}}{{/if}}"
  {{#if modal-box-header-main--attribute}}
    {{{modal-box-header-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
