<div class="pf-c-modal-box__actions-help{{#if modal-box-actions-help--modifier}} {{modal-box-actions-help--modifier}}{{/if}}"
  {{#if modal-box-actions-help--attribute}}
    {{{modal-box-actions-help--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Help"'}}
      <i class="pficon pf-icon-help" aria-hidden="true"></i>
  {{/button}}
</div>
