<div class="{{pfv}}modal-box
  {{#unless modal-box--HasStatusTitle}}
    {{> modal-box--status-modifiers}}
  {{/unless}}
  {{#if modal-box--modifier}} {{modal-box--modifier}}{{/if}}"
  role="dialog"
  aria-modal="true"
  {{#if modal-box--attribute}}
    {{{modal-box--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
