<div class="pf-c-modal-box__close{{#if modal-box-close--modifiers}} {{modal-box-close--modifiers}}{{/if}}"
  {{#if modal-box-close--attributes}}
    {{{modal-box-close--attributes}}}
  {{/if}}
>
  {{> @partial-block}}
</div>
