<div class="pf-c-modal-box{{#if modal-box--modifiers}} {{modal-box--modifiers}}{{/if}}"
  role="dialog" 
  aria-modal="true"
  {{#if modal-box--attributes}}
    {{{modal-box--attributes}}} 
  {{/if}}  
>
  {{> @partial-block}}
</div>
