<div class="pf-c-modal-box__close{{#if modal-box-close--modifier}} {{modal-box-close--modifier}}{{/if}}"
  {{#if modal-box-close--attribute}}
    {{{modal-box-close--attribute}}}
  {{/if}}
>
  {{> @partial-block}}
</div>
