<span class="{{pfv}}modal-box__title-text{{#if modal-box-title-text--modifier}} {{modal-box-title-text--modifier}}{{/if}}"
  {{#if modal-box-title-text--attribute}}
    {{{modal-box-title-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
