<button class="pf-c-modal-box__button-close{{#if modal-box-button-close--modifier}} {{modal-box-button-close--modifier}}{{/if}}" aria-label="Close Dialog"
  {{#if id}}
    id="{{id}}"
  {{/if}}
>  
  <i class="fas fa-times"></i>
</button>
