// @debug $modal-box; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$modal-box} {
  --#{$modal-box}--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$modal-box}--BoxShadow: var(--#{$pf-global}--BoxShadow--xl);
  --#{$modal-box}--ZIndex: var(--#{$pf-global}--ZIndex--xl);
  --#{$modal-box}--Width: 100%;
  --#{$modal-box}--MaxWidth: calc(100% - var(--#{$pf-global}--spacer--xl)); // Ensure modal has gutters at full width
  --#{$modal-box}--m-sm--sm--MaxWidth: #{pf-size-prem(560px)}; // MaxWidth is based on optimal line length for reading
  --#{$modal-box}--m-md--Width: #{pf-size-prem(840px)};
  --#{$modal-box}--m-lg--lg--MaxWidth: #{pf-size-prem(1120px)};
  --#{$modal-box}--MaxHeight: calc(100% - var(--#{$pf-global}--spacer--2xl)); // MaxHeight ensures that the modal will not go off the screen and instead the body will scroll
  --#{$modal-box}--m-align-top--spacer: var(--#{$pf-global}--spacer--sm);
  --#{$modal-box}--m-align-top--xl--spacer: var(--#{$pf-global}--spacer--xl);
  --#{$modal-box}--m-align-top--MarginTop: var(--#{$modal-box}--m-align-top--spacer); // Rename to --Top at breaking change
  --#{$modal-box}--m-align-top--MaxHeight: calc(100% - min(var(--#{$modal-box}--m-align-top--spacer), var(--#{$pf-global}--spacer--2xl)) - var(--#{$modal-box}--m-align-top--spacer));
  --#{$modal-box}--m-align-top--MaxWidth: calc(100% - min(var(--#{$modal-box}--m-align-top--spacer) * 2, var(--#{$pf-global}--spacer--xl)));

  // States
  --#{$modal-box}--m-danger__title-icon--Color: var(--#{$pf-global}--danger-color--100);
  --#{$modal-box}--m-warning__title-icon--Color: var(--#{$pf-global}--warning-color--100);
  --#{$modal-box}--m-success__title-icon--Color: var(--#{$pf-global}--success-color--100);
  --#{$modal-box}--m-info__title-icon--Color: var(--#{$pf-global}--info-color--100);
  --#{$modal-box}--m-custom__title-icon--Color: var(--#{$pf-global}--custom-color--200);

  @media (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$modal-box}--m-align-top--spacer: var(--#{$modal-box}--m-align-top--xl--spacer);
  }

  // Header
  --#{$modal-box}__header--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__header--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__header--PaddingLeft: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__header--last-child--PaddingBottom: var(--#{$pf-global}--spacer--lg);

  // Title
  --#{$modal-box}__title--LineHeight: var(--#{$pf-global}--LineHeight--sm);
  --#{$modal-box}__title--FontFamily: var(--#{$pf-global}--FontFamily--heading);
  --#{$modal-box}__title--FontSize: var(--#{$pf-global}--FontSize--2xl);

  // Title icon
  --#{$modal-box}__title-icon--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$modal-box}__title-icon--Color: var(--#{$pf-global}--Color--100);

  // Description
  --#{$modal-box}__description--PaddingTop: var(--#{$pf-global}--spacer--xs);

  // Body
  --#{$modal-box}__body--MinHeight: calc(var(--#{$pf-global}--FontSize--md) * var(--#{$pf-global}--LineHeight--md)); // Allow for at least 1 line of content in the body
  --#{$modal-box}__body--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__body--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__body--PaddingLeft: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__body--last-child--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__header--body--PaddingTop: var(--#{$pf-global}--spacer--md);

  // Close
  --#{$modal-box}__close--Top: calc(var(--#{$pf-global}--spacer--lg));
  --#{$modal-box}__close--Right: var(--#{$pf-global}--spacer--md);
  --#{$modal-box}__close--sibling--MarginRight: calc(var(--#{$pf-global}--spacer--xl) + var(--#{$pf-global}--spacer--sm));

  // Footer
  --#{$modal-box}__footer--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__footer--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__footer--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$modal-box}__footer--PaddingLeft: var(--#{$pf-global}--spacer--lg);

  // Footer buttons
  --#{$modal-box}__footer--c-button--MarginRight: var(--#{$pf-global}--spacer--md); // Button spacer is used to manipulate margin-inline-start and/or margin-right values at various breakpoints, with a single value.
  --#{$modal-box}__footer--c-button--sm--MarginRight: calc(var(--#{$modal-box}__footer--c-button--MarginRight) / 2);

  position: relative;
  z-index: var(--#{$modal-box}--ZIndex);
  display: flex;
  flex-direction: column;
  width: var(--#{$modal-box}--Width);
  max-width: var(--#{$modal-box}--MaxWidth);
  max-height: var(--#{$modal-box}--MaxHeight);
  background-color: var(--#{$modal-box}--BackgroundColor);
  box-shadow: var(--#{$modal-box}--BoxShadow);

  &.pf-m-sm {
    --#{$modal-box}--Width: var(--#{$modal-box}--m-sm--sm--MaxWidth);
  }

  &.pf-m-md {
    --#{$modal-box}--Width: var(--#{$modal-box}--m-md--Width);
  }

  &.pf-m-lg {
    --#{$modal-box}--Width: var(--#{$modal-box}--m-lg--lg--MaxWidth);
  }

  &.pf-m-align-top {
   inset-block-start: var(--#{$modal-box}--m-align-top--MarginTop);
    align-self: flex-start;
    max-width: var(--#{$modal-box}--m-align-top--MaxWidth);
    max-height: var(--#{$modal-box}--m-align-top--MaxHeight);
  }

  &.pf-m-danger {
    --#{$modal-box}__title-icon--Color: var(--#{$modal-box}--m-danger__title-icon--Color);
  }

  &.pf-m-warning {
    --#{$modal-box}__title-icon--Color: var(--#{$modal-box}--m-warning__title-icon--Color);
  }

  &.pf-m-success {
    --#{$modal-box}__title-icon--Color: var(--#{$modal-box}--m-success__title-icon--Color);
  }

  &.pf-m-custom {
    --#{$modal-box}__title-icon--Color: var(--#{$modal-box}--m-custom__title-icon--Color);
  }

  &.pf-m-info {
    --#{$modal-box}__title-icon--Color: var(--#{$modal-box}--m-info__title-icon--Color);
  }
}

// Close button
.#{$modal-box}__close {
  position: absolute;
 inset-block-start: var(--#{$modal-box}__close--Top);
 inset-inline-end: var(--#{$modal-box}__close--Right);

  + * {
    margin-inline-end: var(--#{$modal-box}__close--sibling--MarginRight); // Create room for the close button
  }
}

.#{$modal-box}__header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-block-start: var(--#{$modal-box}__header--PaddingTop);
  padding-inline-start: var(--#{$modal-box}__header--PaddingLeft);
  padding-inline-end: var(--#{$modal-box}__header--PaddingRight);

  &.pf-m-help {
    display: flex;
    flex-direction: row;
  }

  &:last-child {
    padding-block-end: var(--#{$modal-box}__header--last-child--PaddingBottom);
  }

  + .#{$modal-box}__body {
    --#{$modal-box}__body--PaddingTop: var(--#{$modal-box}__header--body--PaddingTop);
  }
}

.#{$modal-box}__header-main {
  flex-grow: 1;
  min-width: 0;
}

.#{$modal-box}__title,
.#{$modal-box}__title-text {
  @include pf-v5-text-overflow;
}

.#{$modal-box}__title {
  flex: 0 0 auto;
  font-family: var(--#{$modal-box}__title--FontFamily);
  font-size: var(--#{$modal-box}__title--FontSize);
  line-height: var(--#{$modal-box}__title--LineHeight);

  &.pf-m-icon {
    display: flex;
  }
}

.#{$modal-box}__title-icon {
  margin-inline-end: var(--#{$modal-box}__title-icon--MarginRight);
  color: var(--#{$modal-box}__title-icon--Color);
}

.#{$modal-box}__description {
  padding-block-start: var(--#{$modal-box}__description--PaddingTop);
}

// Body
.#{$modal-box}__body {
  flex: 1 1 auto;
  min-height: var(--#{$modal-box}__body--MinHeight);
  padding-block-start: var(--#{$modal-box}__body--PaddingTop);
  padding-inline-start: var(--#{$modal-box}__body--PaddingLeft);
  padding-inline-end: var(--#{$modal-box}__body--PaddingRight);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  word-break: break-word;
  -webkit-overflow-scrolling: touch;

  &:last-child {
    padding-block-end: var(--#{$modal-box}__body--last-child--PaddingBottom);
  }
}

// Footer
.#{$modal-box}__footer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  padding-block-start: var(--#{$modal-box}__footer--PaddingTop);
  padding-block-end: var(--#{$modal-box}__footer--PaddingBottom);
  padding-inline-start: var(--#{$modal-box}__footer--PaddingLeft);
  padding-inline-end: var(--#{$modal-box}__footer--PaddingRight);

  // Base margin left and right equal for buttons when wrapped
  > .#{$button}:not(:last-child) {
    margin-inline-end: var(--#{$modal-box}__footer--c-button--MarginRight);

    @media screen and (min-width: $pf-v5-global--breakpoint--sm) {
      --#{$modal-box}__footer--c-button--MarginRight: var(--#{$modal-box}__footer--c-button--sm--MarginRight);
    }
  }
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/modal-box";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-modal-box;
}
