<div class="{{pfv}}modal-box__header-help{{#if modal-box-header-help--modifier}} {{modal-box-header-help--modifier}}{{/if}}"
  {{#if modal-box-header-help--attribute}}
    {{{modal-box-header-help--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--icon-template="icon-help" button--IsIcon=true button--attribute='aria-label="Help"'}}
</div>
