<div class="pf-c-modal-box__header-actions{{#if modal-box-header-actions--modifier}} {{modal-box-header-actions--modifier}}{{/if}}"
  {{#if modal-box-header-actions--attribute}}
    {{{modal-box-header-actions--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
