{{#if page-template-header-brand--toggle}}
  {{#> button btnClass="pf-m-plain"
    btnAttributes='id="nav-toggle"
                   aria-label="Toggle primary navigation"
                   onClick="(function(){
      const mq = window.matchMedia(\'(min-width: 768px)\');
      let page = document.getElementById(\'primary-nav\');
            page = page.parentElement;

      if (mq.matches) {
        page.classList.remove(\'pf-m-expanded\');
        page.classList.toggle(\'pf-m-collapsed\');
      } else {
        page.classList.remove(\'pf-m-collapsed\');
        page.classList.toggle(\'pf-m-expanded\');
      }
        return false;
    })();return false;"'}}
    <i class="fas fa-bars"></i>
  {{/button}}
{{/if}}
<a class="pf-l-page__header-brand-link" href="#">
  {{#> brand brand--src="/assets/images/l_pf-reverse-164x11.png" brand--alt="Patternfly Logo" brand--modifier="pf-m-sm"}}{{/brand}}
</a>
