@import "../../patternfly-utilities";

$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;

${{bemName}}--Padding: $unit-s !default;
${{bemName}}__header--Padding: $unit-s !default;
${{bemName}}__body--Padding: $unit-s !default;
${{bemName}}__footer--Padding: $unit-s !default;

${{bemName}}--Border: 1px solid #000 !default;
${{bemName}}--BackgroundColor: #fff !default;
${{bemName}}--Color: #000 !default;
${{bemName}}__header--Border: 1px solid #000 !default;
${{bemName}}__header--BackgroundColor: #fff !default;
${{bemName}}__header--Color: #000 !default;
${{bemName}}__body--Border: 1px solid #000 !default;
${{bemName}}__body--BackgroundColor: #fff !default;
${{bemName}}__body--Color: #000 !default;
${{bemName}}__footer--Border: 1px solid #000 !default;
${{bemName}}__footer--BackgroundColor: #fff !default;
${{bemName}}__footer--Color: #000 !default;

.{{bemName}} {
  display: block;
  padding: ${{bemName}}--Padding;
  margin: 0;
  color: ${{bemName}}--Color;
  background-color: ${{bemName}}--BackgroundColor;
  border: ${{bemName}}--Border;

  // module sections
  &__header {
    padding: ${{bemName}}__header--Padding;
    color: ${{bemName}}__header--Color;
    background-color: ${{bemName}}__header--BackgroundColor;
    border: ${{bemName}}__header--Border;
  }
  &__body {
    padding: ${{bemName}}__body--Padding;
    color: ${{bemName}}__body--Color;
    background-color: ${{bemName}}__body--BackgroundColor;
    border: ${{bemName}}__body--Border;
  }
  &__footer {
    padding: ${{bemName}}__footer--Padding;
    color: ${{bemName}}__footer--Color;
    background-color: ${{bemName}}__footer--BackgroundColor;
    border: ${{bemName}}__footer--Border;
  }
  &__items {}
  &__item {}

  // module layouts
  &.is-stack {
    display: flex;
    flex-direction: column;
  }
  &.is-stack > &__body {
    flex: 1;
  }
  &.is-split {
    display: flex;
  }
  &.is-split > &__primary {
    flex: 1;
  }
  &.is-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.is-grid {
    display: grid;
    grid-template-columns: 22.75% 22.75% 22.75% 22.75%;
    grid-column-gap: 3%;
    grid-row-gap: 1rem;
  }
}
