<div class="pf-c-wizard-finite__title-area{{#if wizard-finite-title-area--modifier}} {{wizard-finite-title-area--modifier}}{{/if}}"
  {{#if wizard-finite-title-area--attribute}}
    {{{wizard-finite-title-area--attribute}}}
  {{/if}}>

  {{> @partial-block}}
  
</div>

