<div class="pf-c-wizard-finite{{#if wizard-finite--modifier}} {{wizard-finite--modifier}}{{/if}}"
  {{#if wizard-finite--attribute}}
    {{{wizard-finite--attribute}}}
  {{/if}}>

  {{> @partial-block}}


</div>
