<div class="pf-c-wizard-finite__title{{#if wizard-finite-title--modifier}} {{wizard-finite-title--modifier}}{{/if}}"
  {{#if wizard-finite-title--attribute}}
    {{{wizard-finite-title--attribute}}}
  {{/if}}>

  {{> @partial-block}}
  
</div>

