@import "../../patternfly-utilities";

.pf-c-wizard-finite {
  // Element variables
  --pf-c-wizard-finite__header--BackgroundImage: url("/assets/images/pfbg_992.jpg");

  // Title variables
  --pf-c-wizard-finite__title--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-wizard-finite__title--PaddingRight: var(--pf-global--spacer--2xl);
  --pf-c-wizard-finite__title--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-wizard-finite__title--PaddingLeft: var(--pf-global--spacer--2xl);
  --pf-c-wizard-finite__title--Background: var(--pf-global--BackgroundColor--dark-transparent-100);

  // Description variables
  --pf-c-wizard-finite__description--Color: var(--pf-global--Color--200);

  // Sequence variables
  --pf-c-wizard-finite__sequence--PaddingTop: 0;// var(--pf-global--spacer--xl);
  --pf-c-wizard-finite__sequence--PaddingRight: 0;
  --pf-c-wizard-finite__sequence--PaddingBottom: 0;
  --pf-c-wizard-finite__sequence--PaddingLeft: 0;
  --pf-c-wizard-finite__sequence--Background: var(--pf-global--BackgroundColor--dark-transparent-200);

  // Content variables
  --pf-c-wizard-finite__content--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-wizard-finite__content--PaddingRight: var(--pf-global--spacer--2xl);
  --pf-c-wizard-finite__content--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-wizard-finite__content--PaddingLeft: var(--pf-global--spacer--2xl);

  // Icon indicator
  --pf-c-wizard-finite__icon--FontSize: var(--pf-global--FontSize--4xl);
  --pf-c-wizard-finite__icon--Color: var(--pf-global--Color--100);

  // Modifier variables
  --pf-c-wizard-finite__icon--m-danger--Color: var(--pf-global--danger-color--100);
  --pf-c-wizard-finite__icon--m-success--Color: var(--pf-global--success-color--100);
}

// Elements

.pf-c-wizard-finite__header {
  // This element always needs to be dark
  @extend %pf-t-dark;

  background-image: var(--pf-c-wizard-finite__header--BackgroundImage);
  background-size: cover;
}

.pf-c-wizard-finite__title {
  padding-top: var(--pf-c-wizard-finite__title--PaddingTop);
  padding-right: var(--pf-c-wizard-finite__title--PaddingRight);
  padding-bottom: var(--pf-c-wizard-finite__title--PaddingBottom);
  padding-left: var(--pf-c-wizard-finite__title--PaddingLeft);
  background: var(--pf-c-wizard-finite__title--Background);
}

.pf-c-wizard-finite__description {
  color: var(--pf-c-wizard-finite__description--Color);
}

.pf-c-wizard-finite__sequence {
  padding-top: var(--pf-c-wizard-finite__sequence--PaddingTop);
  padding-right: var(--pf-c-wizard-finite__sequence--PaddingRight);
  padding-bottom: var(--pf-c-wizard-finite__sequence--PaddingBottom);
  padding-left: var(--pf-c-wizard-finite__sequence--PaddingLeft);
  background: var(--pf-c-wizard-finite__sequence--Background);
}

.pf-c-wizard-finite__content {
  padding-top: var(--pf-c-wizard-finite__content--PaddingTop);
  padding-right: var(--pf-c-wizard-finite__content--PaddingRight);
  padding-bottom: var(--pf-c-wizard-finite__content--PaddingBottom);
  padding-left: var(--pf-c-wizard-finite__content--PaddingLeft);
  overflow-y: auto;
}

.pf-c-wizard-finite__icon {
  font-size: var(--pf-c-wizard-finite__icon--FontSize);
  color: var(--pf-c-wizard-finite__icon--Color);

  // status modifiers
  &.pf-m-success { // set color variables to the success colors
    --pf-c-wizard-finite__icon--Color: var(--pf-c-wizard-finite__icon--m-success--Color);
  }

  &.pf-m-danger { // set color variables to the danger colors
    --pf-c-wizard-finite__icon--Color: var(--pf-c-wizard-finite__icon--m-danger--Color);
  }
}
