<div class="pf-c-wizard-finite__header{{#if wizard-finite-header--modifier}} {{wizard-finite-header--modifier}}{{/if}}"
  {{#if wizard-finite-header--attribute}}
    {{{wizard-finite-header--attribute}}}
  {{/if}}>

  {{> @partial-block}} 
  
  
</div>