<div class="pf-c-wizard-finite__content{{#if wizard-finite-content--modifier}} {{wizard-finite-content--modifier}}{{/if}}"
  {{#if wizard-finite-content--attribute}}
    {{{wizard-finite-content--attribute}}}
  {{/if}}>

  {{> @partial-block}}
  
</div>

