<div class="pf-c-wizard-finite__description{{#if wizard-finite-description--modifier}} {{wizard-finite-description--modifier}}{{/if}}"
  {{#if wizard-finite-description--attribute}}
    {{{wizard-finite-description--attribute}}}
  {{/if}}>

  {{> @partial-block}} 
  
  
</div>