<div class="pf-c-wizard-finite__icon{{#if wizard-finite-icon--modifier}} {{wizard-finite-icon--modifier}}{{/if}}"
  {{#if wizard-finite-icon--attribute}}
    {{{wizard-finite-icon--attribute}}}
  {{/if}}>
  
  <i class="{{> @partial-block}}" aria-hidden="true"></i>
</div>

