@import "../../patternfly-utilities";

.pf-c-vertical-nav {
  /* stylelint-disable */

  // Vertical nav
  --pf-c-vertical-nav--Color:             var(--pf-global--Color--dark-100);

  // Vertical nav link
  --pf-c-vertical-nav__link--PaddingRight:    var(--pf-global--spacer--xl);
  --pf-c-vertical-nav__link--PaddingLeft:     var(--pf-global--spacer--xl);
  
  // Vertical nav link active :after
  --pf-c-vertical-nav__link--after--active--Width:   2rem;
  --pf-c-vertical-nav__link--after--active--Height:  .25rem;
  --pf-c-vertical-nav__link--after--active--Color:   var(--pf-global--Color--active);

  // Vertical nav link colors
  --pf-c-vertical-nav__link--Color:             var(--pf-global--Color--dark-100);
  --pf-c-vertical-nav__link--hover--Color:      var(--pf-global--Color--dark-100);
  --pf-c-vertical-nav__link--focus--Color:      var(--pf-global--Color--dark-100);
  --pf-c-vertical-nav__link--active--Color:     var(--pf-global--Color--active);
  --pf-c-vertical-nav__link--disabled--Color:   var(--pf-global--Color--disabled);

  // Vertical nav link background colors
  --pf-c-vertical-nav__link--BackgroundColor:           transparent;
  --pf-c-vertical-nav__link--hover--BackgroundColor:    transparent;
  --pf-c-vertical-nav__link--focus--BackgroundColor:    transparent;
  --pf-c-vertical-nav__link--active--BackgroundColor:   transparent;
  --pf-c-vertical-nav__link--disabled--BackgroundColor: var(--pf-global--BackgroundColor--disabled);

  // Vertical nav link text padding
  --pf-c-vertical-nav__link-text--PaddingTop:     var(--pf-global--spacer--lg);
  --pf-c-vertical-nav__link-text--PaddingBottom:   var(--pf-global--spacer--lg);

  // Vertical nav link arrow
  --pf-c-vertical-nav__link__arrow--Top: calc(var(--pf-c-vertical-nav__link--PaddingTop) - .4rem);
  --pf-c-vertical-nav__link__arrow--Right: var(--pf-global--spacer--xl);

  /* stylelint-enable */

  // List
  color: var(--pf-c-vertical-nav--Color);

  // Link
  &__link {
    $l: &;
    // Align any additional items included in __link
    display: flex;
    align-items: baseline;
    padding-right: var(--pf-c-vertical-nav__link--PaddingRight);
    padding-left: var(--pf-c-vertical-nav__link--PaddingLeft);
    color: var(--pf-c-vertical-nav__link--Color);
    text-decoration: none;
    background-color: var(--pf-c-vertical-nav__link--BackgroundColor);

    // // States
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &-text {
      position: relative;
      flex: 1;
      padding-top: var(--pf-c-vertical-nav__link-text--PaddingTop);
      padding-bottom: var(--pf-c-vertical-nav__link-text--PaddingBottom);
    }

    // Draw a border underneath link text
    &:not(.pf-m-disabled):not(:disabled) {
      &.pf-m-active,
      &.pf-m-focus,
      &.pf-m-hover,
      &:active,
      &:focus,
      &:hover {
        #{$l}-text::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: var(--pf-c-vertical-nav__link--after--active--Width);
          height: var(--pf-c-vertical-nav__link--after--active--Height);
          content: "";
          background-color: var(--pf-c-vertical-nav__link--after--active--Color);
        }
      }
    }

    // States
    &.pf-m-focus,
    &:focus {
      z-index: 2;
      background-color: var(--pf-c-vertical-nav__link--focus--BackgroundColor);

      > * {
        color: var(--pf-c-vertical-nav__link--focus--Color);
      }
    }

    &.pf-m-active,
    &.pf-m-hover,
    &:active,
    &:hover {
      background-color: var(--pf-c-vertical-nav__link--active--BackgroundColor);

      > * {
        color: var(--pf-c-vertical-nav__link--active--Color);
      }
    }

    &.pf-m-disabled,
    &:disabled {
      cursor: not-allowed;
      background-color: var(--pf-c-vertical-nav__link--disabled--BackgroundColor);

      > * {
        color: var(--pf-c-vertical-nav__link--disabled--Color);
      }
    }
  }
}
