<a href="{{url}}" class="pf-c-vertical-nav__link{{#if current}} pf-m-active{{/if}}{{#if disabled}} pf-m-disabled{{/if}} {{ pf-c-vertical-nav--modifier }}" {{#if current}} aria-current="page" {{/if}} {{#if disabled}}aria-disabled="true"{{/if}}>
  {{> @partial-block}}
</a>
