<div class="pf-l-page {{ modifierClass }}">
  <header role="banner" class="pf-l-page__header">
    <section class="pf-l-page__header-sidebar">
      Left
    </section>
    <section class="pf-l-page__header-main">
      Right
    </section>
  </header>
  <div class="pf-l-page__sidebar">
    Nav
  </div>
  <main role="main" class="pf-l-page__main">
    {{> @partial-block}}
  </main>
</div>

