<div class="pf-l-page{{#if page--expanded}} pf-m-expanded{{/if}}{{#if page--modifier}} {{page--modifier}}{{/if}}{{#if page--nav-horizontal}} pf-m-nav-horizontal{{/if}}"
  {{#if page--attribute}} 
    {{{page--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>