// URL.com/guidelines#layout
@import "../../patternfly-utilities";

$nav: "pf-c-nav";

.pf-l-page {
  // Header
  --pf-l-page__header--PaddingBottom: var(--pf-global--spacer--md);
  --pf-l-page__header--m-tall--MinHeight: #{pf-size-prem(110px)};
  --pf-l-page__header--MinHeight: 0;

  // Header brand
  --pf-l-page__header-brand--PaddingTop: var(--pf-global--spacer--sm);
  --pf-l-page__header-brand--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-l-page__header-brand--PaddingLeft: var(--pf-global--spacer--md);
  --pf-l-page__header-brand--PaddingRight: var(--pf-global--spacer--xl);
  --pf-l-page__header-brand--PaddingLeft--md: var(--pf-global--spacer--xl);
  --pf-l-page__header-brand--BackgroundColor--md: var(--pf-global--BackgroundColor--dark-transparent-100);
  --pf-l-page__header-brand--FlexBasis--lg: #{pf-size-prem(290px)};
  --pf-l-page__header-brand--m-tall--PaddingTop: var(--pf-global--spacer--md);
  --pf-l-page__header-brand--m-tall--PaddingBottom: var(--pf-global--spacer--md);

  // Toggle
  --pf-l-page__header-sidebar-toggle--PaddingTop: var(--pf-global--spacer--sm);
  --pf-l-page__header-sidebar-toggle--PaddingRight: var(--pf-global--spacer--sm);
  --pf-l-page__header-sidebar-toggle--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-l-page__header-sidebar-toggle--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-l-page__header-sidebar-toggle--FontSize: var(--pf-global--FontSize--2xl);

  // Header brand link
  --pf-l-page__header-brand-link--MarginLeft: var(--pf-global--spacer--md);
  --pf-l-page__header-brand-link--MinHeight: #{pf-size-prem(40px)};

  // Header brand logo
  --pf-l-page__header-brand-logo--Height: #{pf-size-prem(11px)};

  // Header nav
  --pf-l-page__header-nav--PaddingRight: var(--pf-global--spacer--xl);
  --pf-l-page__header-nav--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-l-page__header-nav--MarginTop--sm: var(--pf-global--spacer--md);
  --pf-l-page__header-nav--MarginLeft--md: var(--pf-global--spacer--xl);
  --pf-l-page__header-nav--MarginRight--md: var(--pf-global--spacer--xl);
  --pf-l-page__header-nav--BackgroundColor--sm: var(--pf-global--BackgroundColor--dark-transparent-100);

  // Header tools
  --pf-l-page__header-tools--MarginTop: var(--pf-global--spacer--sm);
  --pf-l-page__header-tools--MarginBottom: var(--pf-global--spacer--sm);
  --pf-l-page__header-tools--MarginRight: var(--pf-global--spacer--md);
  --pf-l-page__header-tools--MarginRight--md: var(--pf-global--spacer--xl);
  --pf-l-page__header-tools--avatar--MarginLeft: var(--pf-global--spacer--md);
  --pf-l-page__header-tools--m-tall--MarginTop: var(--pf-global--spacer--md);
  --pf-l-page__header-tools--m-tall--MarginBottom: var(--pf-global--spacer--md);

  // Sidebar
  --pf-l-page__sidebar--ZIndex: var(--pf-global--ZIndex--xl);
  --pf-l-page__sidebar--Width: 80%;
  --pf-l-page__sidebar--Width--md: #{pf-size-prem(290px)};
  --pf-l-page__sidebar--PaddingTop: var(--pf-global--spacer--md);
  --pf-l-page__sidebar--PaddingBottom: var(--pf-global--spacer--md);
  --pf-l-page__sidebar--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-l-page__sidebar--BoxShadow: var(--pf-global--BoxShadow--lg-right);

  // Sidebar transitions
  --pf-l-page__sidebar--Transition: var(--pf-global--Transition);
  --pf-l-page__sidebar--Transform--out: translate3d(-100%, 0, 0);
  --pf-l-page__sidebar--Transform--in: translate3d(0, 0, 0);

  // Main section
  --pf-l-page__main-section--PaddingTop: var(--pf-global--spacer--md);
  --pf-l-page__main-section--PaddingRight: var(--pf-global--spacer--md);
  --pf-l-page__main-section--PaddingBottom: var(--pf-global--spacer--md);
  --pf-l-page__main-section--PaddingLeft: var(--pf-global--spacer--md);
  --pf-l-page__main-section--PaddingTop--md: var(--pf-global--spacer--xl);
  --pf-l-page__main-section--PaddingRight--md: var(--pf-global--spacer--xl);
  --pf-l-page__main-section--PaddingBottom--md: var(--pf-global--spacer--xl);
  --pf-l-page__main-section--PaddingLeft--md: var(--pf-global--spacer--xl);
  --pf-l-page__main-section--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-l-page__main-section--BoxShadow: var(--pf-global--BoxShadow--lg-right);

  // Main section horizontal nav
  --pf-l-page__main-nav--PaddingTop: var(--pf-global--spacer--md);
  --pf-l-page__main-nav--PaddingRight: 0;
  --pf-l-page__main-nav--PaddingBottom: var(--pf-global--spacer--md);
  --pf-l-page__main-nav--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-l-page__main-nav--BackgroundColor: var(--pf-global--BackgroundColor--light-100);

  // Main section modifiers
  --pf-l-page__main-section--m-light--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-l-page__main-section--m-dark-100--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-100);
  --pf-l-page__main-section--m-dark-200--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-200);

  // transitions
  --pf-l-page--m-tall--transition--in: 250ms;
  --pf-l-page--m-tall--transition--out: 150ms;

  // Base
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "header"
    "main";

  @media (min-width: $pf-global--breakpoint--md) {
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }
}


// Header
.pf-l-page__header {
  @extend %pf-t-dark; // force the container follow the dark theme

  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 100%;
  min-height: var(--pf-l-page__header--MinHeight);
  transition: var(--pf-l-page--m-tall--transition--in);

  > * {
    display: flex;
    align-items: flex-end;
  }

  .pf-l-page__header-brand,
  .pf-l-page__header-tools {
    transition: var(--pf-l-page--m-tall--transition--in);
  }

  .pf-l-page__header-brand {
    padding-top: var(--pf-l-page__header-brand--PaddingTop);
    padding-bottom: var(--pf-l-page__header-brand--PaddingBottom);
  }

  .pf-l-page__header-tools {
    padding-top: var(--pf-l-page__header-tools--MarginTop);
    padding-bottom: var(--pf-l-page__header-tools--MarginBottom);
  }

  &.pf-m-tall {
    min-height: var(--pf-l-page__header--m-tall--MinHeight);
    transition: var(--pf-l-page--m-tall--transition--out);

    .pf-l-page__header-brand {
      padding-top: var(--pf-l-page__header-brand--m-tall--PaddingTop);
      padding-bottom: var(--pf-l-page__header-brand--m-tall--PaddingBottom);
    }

    .pf-l-page__header-tools {
      padding-top: var(--pf-l-page__header-tools--m-tall--MarginTop); // include margin-top for avatar to position itself vertically
      padding-bottom: var(--pf-l-page__header-tools--m-tall--MarginBottom);
    }
  }
}

// Brand
.pf-l-page__header-brand {
  padding-left: var(--pf-l-page__header-brand--PaddingLeft);

  @media (min-width: $pf-global--breakpoint--md) {
    --pf-l-page__header-brand--PaddingLeft: var(--pf-l-page__header-brand--PaddingLeft--md);

    flex: 0 0 var(--pf-l-page__header-brand--FlexBasis--lg); // Hardcode header brand width based on design spec, must match --pf-c-nav--Width
    align-self: stretch;
    padding-right: var(--pf-l-page__header-brand--PaddingRight); // set padding right here to allow mobile view to accomodate tools
    background-color: var(--pf-l-page__header-brand--BackgroundColor--md);
  }
}

// Link
.pf-l-page__header-brand-link {
  display: none;
  flex: 1;
  align-items: center;
  align-self: flex-end;
  min-height: var(--pf-l-page__header-brand-link--MinHeight); // Hardcode link min-height so it matches the button height

  @media (min-width: $pf-global--breakpoint--sm) {
    display: flex;
  }
}

// Sidebar toggle
.pf-l-page__header-brand-toggle {
  .pf-c-button {
    padding:
      var(--pf-l-page__header-sidebar-toggle--PaddingTop)
      var(--pf-l-page__header-sidebar-toggle--PaddingRight)
      var(--pf-l-page__header-sidebar-toggle--PaddingBottom)
      var(--pf-l-page__header-sidebar-toggle--PaddingLeft);
    margin-right: var(--pf-l-page__header-brand-link--MarginLeft);
    margin-left: calc(var(--pf-l-page__header-sidebar-toggle--PaddingLeft) * -1); // ensure button does not adjust positioning, offset padding-left
    font-size: var(--pf-l-page__header-sidebar-toggle--FontSize);
  }
}

// Header navigation
.pf-l-page__header-nav {
  order: 1;
  width: 100vw; // set width value for container to scale properly
  padding-left: var(--pf-l-page__header-nav--PaddingLeft);
  overflow: hidden;
  background-color: var(--pf-l-page__header-nav--BackgroundColor--sm);

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    flex: 1;
    order: initial;
    width: auto;
    padding: 0;
    margin-right: var(--pf-l-page__header-nav--MarginRight--md);
    margin-left: var(--pf-l-page__header-nav--MarginLeft--md);
    background-color: transparent;
  }
}

// Header tools
.pf-l-page__header-tools {
  align-items: center;
  margin-right: var(--pf-l-page__header-tools--MarginRight);
  margin-left: auto; // to push it to the right

  @media screen and (min-width: $pf-global--breakpoint--md) {
    --pf-l-page__header-tools--MarginRight: var(--pf-l-page__header-tools--MarginRight--md);
  }

  .pf-c-avatar {
    margin-left: var(--pf-l-page__header-tools--avatar--MarginLeft);
  }
}

// Sidebar
.pf-l-page__sidebar {
  grid-area: 2 / 1;
  z-index: var(--pf-l-page__sidebar--ZIndex);
  width: var(--pf-l-page__sidebar--Width);
  padding-top: var(--pf-l-page__sidebar--PaddingTop);
  padding-bottom: var(--pf-l-page__sidebar--PaddingBottom);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--pf-l-page__sidebar--BackgroundColor);
  transition: var(--pf-l-page__sidebar--Transition);
  transform: var(--pf-l-page__sidebar--Transform--out);

  @media screen and (min-width: $pf-global--breakpoint--md) {
    flex: 1;
    order: initial;
    width: var(--pf-l-page__sidebar--Width--md); // hardcode sidebar based on design spec, must match pf-n-nav--Width
    max-width: var(--pf-l-page__sidebar--Width--md); // max-width value set for browser to calculate max-width while transitioning. sharing value to keep consistent
    box-shadow: var(--pf-l-page__sidebar--BoxShadow);
    transform: var(--pf-l-page__sidebar--Transform--in);
  }

  // Mobile
  // Expanded nav
  &.pf-m-expanded {
    box-shadow: var(--pf-l-page__sidebar--BoxShadow);
    transform: translate3d(0, 0, 0);
  }

  // Desktop
  // Collapse nav
  &.pf-m-collapsed {
    @media screen and (min-width: $pf-global--breakpoint--md) {
      max-width: 0;
      overflow: hidden;
    }
  }
}

// Main
.pf-l-page__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.pf-l-page__main-nav {
  padding:
    var(--pf-l-page__main-nav--PaddingTop)
    var(--pf-l-page__main-nav--PaddingRight)
    var(--pf-l-page__main-nav--PaddingBottom)
    var(--pf-l-page__main-nav--PaddingLeft);
  background-color: var(--pf-l-page__main-nav--BackgroundColor);
}

.pf-l-page__main-section {
  padding:
    var(--pf-l-page__main-section--PaddingTop)
    var(--pf-l-page__main-section--PaddingRight)
    var(--pf-l-page__main-section--PaddingLeft)
    var(--pf-l-page__main-section--PaddingBottom);
  background-color: var(--pf-l-page__main-section--BackgroundColor);

  @media screen and (min-width: $pf-global--breakpoint--md) {
    --pf-l-page__main-section--PaddingTop: var(--pf-l-page__main-section--PaddingTop--md);
    --pf-l-page__main-section--PaddingRight: var(--pf-l-page__main-section--PaddingRight--md);
    --pf-l-page__main-section--PaddingLeft: var(--pf-l-page__main-section--PaddingBottom--md);
    --pf-l-page__main-section--PaddingBottom: var(--pf-l-page__main-section--PaddingLeft--md);
  }

  &:last-of-type,
  &:only-child {
    flex-grow: 1;
    background-color: var(--pf-l-page__main-section--BackgroundColor);
  }

  &.pf-m-light {
    background-color: var(--pf-l-page__main-section--m-light--BackgroundColor);
  }

  &[class^="pf-m-dark"] {
    @extend %pf-t-dark; // force the container to follow the dark theme
  }

  &.pf-m-dark-100 {
    background-color: var(--pf-l-page__main-section--m-dark-100--BackgroundColor);
  }

  &.pf-m-dark-200 {
    background-color: var(--pf-l-page__main-section--m-dark-200--BackgroundColor);
  }
}
