<div class="pf-l-page__header-selector{{#if page-header-selector--modifier}} {{page-header-selector--modifier}}{{/if}}"
  {{#if page-header-selector--attribute}}
    {{{page-header-selector--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
