<button class="pf-l-page__header-sidebar-toggle"
  {{#if button-toggle--interactive}}
    onClick="(function(){
      const mq = window.matchMedia('(min-width: 768px)');
      let page = document.getElementById('primary-nav');
            page = page.parentElement;

      if (mq.matches) {
        page.classList.remove('pf-m-expanded');
        page.classList.toggle('pf-m-collapsed');
      } else {
        page.classList.remove('pf-m-collapsed');
        page.classList.toggle('pf-m-expanded');
      }
        return false;
    })();return false;"
  {{/if}}

  {{#if nav-toggle--attribute}}
    {{{nav-toggle--attribute}}}
  {{/if}}>
  <i class="fas fa-bars"></i>
  {{> @partial-block}}
</button>
