// URL.com/guidelines#layout
@import "../../patternfly-utilities";

:root {
  // hardcoded value of 15rem for now as we are working through use cases for this layout
  --pf-l-page__sidebar-Width: 15rem;
}

.pf-l-page {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: var(--pf-l-page__sidebar-Width) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "main main";

  // show sidebar above small breakpoint
  @media (min-width: $pf-global--breakpoint--sm) {
    grid-template-areas: "header header" "sidebar main";

    &__sidebar {
      grid-area: sidebar;
    }
  }

  &__header {
    grid-area: header;
    display: grid;
    grid-template-columns: var(--pf-l-page__sidebar-Width) 1fr;
    grid-template-areas: "header-left header-right";

    &-sidebar {
      grid-area: header-left;
    }

    &-main {
      grid-area: header-right;
    }
  }

  &__main {
    grid-area: main;
  }
}
