<!--
  Each template tag represents an individual state that the component can
  be in. If you would like to show multiple states in the workarea, you should
  have multiple template tags. To communicate information about the state that
  the templat represents, use the data-title and data-description attributes.
  These attributes will be rendered in the workspace.
-->
<template data-title="Layout (break-away)" data-description="*this demo is temporarily disabled">
  <div class="pf-c-layout pf-is-break-away">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
  </div>
</template>

<template data-title="Layout (bullseye)" data-description="">
  <div class="pf-c-layout pf-is-bullseye">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
  </div>
</template>

<template data-title="Layout (container)" data-description="">
  <div class="pf-c-layout pf-is-container">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
  </div>
</template>

<template data-title="Layout (level)" data-description="">
  <div class="pf-c-layout pf-is-level">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
  </div>
</template>

<template data-title="Layout (pile)" data-description="">
  <div class="pf-c-layout pf-is-pile">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
  </div>
</template>

<template data-title="Layout (split)" data-description="">
  <div class="pf-c-layout pf-is-split">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
  </div>
</template>

<template data-title="Layout (stack)" data-description="">
  <div class="pf-c-layout pf-is-stack">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
  </div>
</template>

<template data-title="Layout (tile-board)" data-description="">
  <div class="pf-c-layout pf-is-tile-board">
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
    <div class="demo-box"></div>
  </div>
</template>
