<div class="pf-d-card-upgrade-examples {{pf-d-card-upgrade-examples--modifier}}"
  {{#if pf-d-upgrade-examples__id}}
    id="{{pf-d-card-upgrade-examples__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>
