{{#> content}}
  <h1>Information step content</h1>
  <p>Wizard description goes here. If you need more assistance, {{#> button button--modifier="pf-m-inline pf-m-link" button--attribute='aria-expanded="false"'}}see more information{{/button}} in the side drawer.</p>
{{/content}}
