<main class="pf-c-wizard__main{{#if wizard-main--modifier}} {{wizard-main--modifier}}{{/if}}"
  {{#if wizard-main--attribute}}
    {{{wizard-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</main>
