<span class="{{pfv}}wizard__nav-link-icon{{#if wizard-nav-link-icon--modifier}} {{wizard-nav-link-icon--modifier}}{{/if}}"
  {{#if wizard-nav-link-icon--attribute}}
    {{{wizard-nav-link-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
