// @debug $wizard; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$wizard} {
  --#{$wizard}--Height: 100%;
  --#{$modal-box}--c-wizard--FlexBasis: #{pf-size-prem(762px)}; // this is a specific height from design for the wizard in a modal

  // Header
  --#{$wizard}__header--BackgroundColor: var(--#{$pf-global}--BackgroundColor--dark-100);
  --#{$wizard}__header--ZIndex: auto;
  --#{$wizard}__header--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__header--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__header--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__header--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__header--lg--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__header--lg--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__header--xl--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__header--xl--PaddingLeft: var(--#{$pf-global}--spacer--lg);

  @media screen and (min-width: $pf-v5-global--breakpoint--lg) {
    --#{$wizard}__header--PaddingRight: var(--#{$wizard}__header--lg--PaddingRight);
    --#{$wizard}__header--PaddingLeft: var(--#{$wizard}__header--lg--PaddingLeft);
  }

  @media screen and (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$wizard}__header--PaddingRight: var(--#{$wizard}__header--xl--PaddingRight);
    --#{$wizard}__header--PaddingLeft: var(--#{$wizard}__header--xl--PaddingLeft);
  }

  // Close
  --#{$wizard}__close--Top: calc(var(--#{$pf-global}--spacer--lg) - var(--#{$pf-global}--spacer--form-element));
  --#{$wizard}__close--Right: 0;
  --#{$wizard}__close--xl--Right: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__close--FontSize: var(--#{$pf-global}--FontSize--xl);

  @media screen and (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$wizard}__close--Right: var(--#{$wizard}__close--xl--Right);
  }

  // Title
  --#{$wizard}__title--PaddingRight: var(--#{$pf-global}--spacer--2xl);

  // Title text
  --#{$wizard}__title-text--FontSize: var(--#{$pf-global}--FontSize--3xl);
  --#{$wizard}__title-text--FontFamily: var(--#{$pf-global}--FontFamily--heading);
  --#{$wizard}__title-text--FontWeight: var(--#{$pf-global}--FontWeight--normal);
  --#{$wizard}__title-text--LineHeight: var(--#{$pf-global}--LineHeight--sm);

  // Description
  --#{$wizard}__description--PaddingTop: var(--#{$pf-global}--spacer--sm);
  --#{$wizard}__description--Color: var(--#{$pf-global}--Color--light-200);

  // Nav link
  --#{$wizard}__nav-link--Color: var(--#{$pf-global}--Color--100);
  --#{$wizard}__nav-link--BackgroundColor: transparent;
  --#{$wizard}__nav-link--TextDecoration: var(--#{$pf-global}--link--TextDecoration);
  --#{$wizard}__nav-link--hover--Color: var(--#{$pf-global}--link--Color);
  --#{$wizard}__nav-link--focus--Color: var(--#{$pf-global}--link--Color);
  --#{$wizard}__nav-link--m-current--Color: var(--#{$pf-global}--link--Color);
  --#{$wizard}__nav-link--m-current--FontWeight: var(--#{$pf-global}--FontWeight--normal); // remove at breaking change
  --#{$wizard}__nav-link--m-disabled--Color: var(--#{$pf-global}--disabled-color--100);
  --#{$wizard}__nav-list__nav-list__nav-link--m-current--FontWeight: var(--#{$pf-global}--FontWeight--normal); // remove at breaking change

  // Nav link toggle icon
  --#{$wizard}__nav-link-toggle--PaddingRight: var(--#{$pf-global}--spacer--sm);
  --#{$wizard}__nav-link-toggle--PaddingLeft: var(--#{$pf-global}--spacer--sm);
  --#{$wizard}__nav-link-toggle--Color: var(--#{$pf-global}--Color--200);
  --#{$wizard}__nav-link--hover__nav-link-toggle-icon--Color: var(--#{$pf-global}--Color--100);
  --#{$wizard}__nav-link--focus__nav-link-toggle-icon--Color: var(--#{$pf-global}--Color--100);
  --#{$wizard}__nav-link-toggle-icon--Transition: var(--#{$pf-global}--Transition);
  --#{$wizard}__nav-link-toggle-icon--Rotate: 0;
  --#{$wizard}__nav-item--m-expanded__link-toggle-icon--Rotate: 90deg;

  // Nav link number
  --#{$wizard}__nav-link--before--Width: 1.5rem;
  --#{$wizard}__nav-link--before--Height: 1.5rem;
  --#{$wizard}__nav-link--before--Top: 0;
  --#{$wizard}__nav-link--before--BackgroundColor: var(--#{$pf-global}--BackgroundColor--200);
  --#{$wizard}__nav-link--before--BorderRadius: var(--#{$pf-global}--BorderRadius--lg);
  --#{$wizard}__nav-link--before--Color: var(--#{$pf-global}--Color--100);
  --#{$wizard}__nav-link--before--FontSize: var(--#{$pf-global}--FontSize--sm);
  --#{$wizard}__nav-link--before--TranslateX: calc(-100% - var(--#{$pf-global}--spacer--sm));
  --#{$wizard}__nav-link--m-current--before--BackgroundColor: var(--#{$pf-global}--active-color--100);
  --#{$wizard}__nav-link--m-current--before--Color: var(--#{$pf-global}--Color--light-100);
  --#{$wizard}__nav-link--m-disabled--before--BackgroundColor: transparent;
  --#{$wizard}__nav-link--m-disabled--before--Color: var(--#{$pf-global}--disabled-color--100);

  // Toggle
  --#{$wizard}__toggle--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$wizard}__toggle--ZIndex: var(--#{$pf-global}--ZIndex--xs);
  --#{$wizard}__toggle--BoxShadow: var(--#{$pf-global}--BoxShadow--md-bottom);
  --#{$wizard}__toggle--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__toggle--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__toggle--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__toggle--PaddingLeft: calc(var(--#{$pf-global}--spacer--md) + var(--#{$wizard}__nav-link--before--Width) + var(--#{$pf-global}--spacer--sm));
  --#{$wizard}__toggle--m-expanded--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$wizard}__toggle--m-expanded--BorderBottomColor: var(--#{$pf-global}--BorderColor--100);
  --#{$wizard}--m-in-page__toggle--xl--PaddingLeft: calc(var(--#{$pf-global}--spacer--xl) + var(--#{$wizard}__nav-link--before--Width) + var(--#{$pf-global}--spacer--sm));

  // Toggle number
  --#{$wizard}__toggle-num--before--Top: 0;

  // Toggle list item
  --#{$wizard}__toggle-list-item--not-last-child--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$wizard}__toggle-list-item--MarginBottom: var(--#{$pf-global}--spacer--xs);

  // Toggle list
  --#{$wizard}__toggle-list--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$wizard}__toggle-list--MarginBottom: calc(var(--#{$wizard}__toggle-list-item--MarginBottom) * -1);

  // Toggle separator
  --#{$wizard}__toggle-separator--MarginLeft: var(--#{$pf-global}--spacer--sm);
  --#{$wizard}__toggle-separator--Color: var(--#{$pf-global}--BorderColor--200);

  // Toggle icon
  --#{$wizard}__toggle-icon--LineHeight: var(--#{$pf-global}--LineHeight--md);
  --#{$wizard}__toggle--m-expanded__toggle-icon--Rotate: 180deg;

  // Nav
  --#{$wizard}__nav--ZIndex: var(--#{$pf-global}--ZIndex--xs);
  --#{$wizard}__nav--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$wizard}__nav--BoxShadow: var(--#{$pf-global}--BoxShadow--md-bottom);
  --#{$wizard}__nav--Width: 100%;
  --#{$wizard}__nav--lg--Width: #{pf-size-prem(250px)};
  --#{$wizard}__nav--lg--BorderRightWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$wizard}__nav--lg--BorderRightColor: var(--#{$pf-global}--BorderColor--100);

  @media screen and (min-width: $pf-v5-global--breakpoint--lg) {
    --#{$wizard}__nav--Width: var(--#{$wizard}__nav--lg--Width);
    --#{$wizard}__nav--BoxShadow: none;
  }

  // Nav list (nested)
  --#{$wizard}__nav-list--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__nav-list--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__nav-list--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__nav-list--PaddingLeft: calc(var(--#{$pf-global}--spacer--md) + var(--#{$wizard}__nav-link--before--Width) + var(--#{$pf-global}--spacer--sm));
  --#{$wizard}__nav-list--lg--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__nav-list--lg--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__nav-list--lg--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__nav-list--xl--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__nav-list--xl--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__nav-list--xl--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__nav-list--xl--PaddingLeft: calc(var(--#{$pf-global}--spacer--lg) + var(--#{$wizard}__nav-link--before--Width) + var(--#{$pf-global}--spacer--sm));
  --#{$wizard}__nav-list--nested--MarginLeft: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__nav-list--nested--MarginTop: var(--#{$pf-global}--spacer--md);

  @media screen and (min-width: $pf-v5-global--breakpoint--lg) {
    --#{$wizard}__nav-list--PaddingTop: var(--#{$wizard}__nav-list--lg--PaddingTop);
    --#{$wizard}__nav-list--PaddingRight: var(--#{$wizard}__nav-list--lg--PaddingRight);
    --#{$wizard}__nav-list--PaddingBottom: var(--#{$wizard}__nav-list--lg--PaddingBottom);
  }

  @media screen and (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$wizard}__nav-list--PaddingTop: var(--#{$wizard}__nav-list--xl--PaddingTop);
    --#{$wizard}__nav-list--PaddingRight: var(--#{$wizard}__nav-list--xl--PaddingRight);
    --#{$wizard}__nav-list--PaddingBottom: var(--#{$wizard}__nav-list--xl--PaddingBottom);
    --#{$wizard}__nav-list--PaddingLeft: var(--#{$wizard}__nav-list--xl--PaddingLeft);
  }

  // Nav item
  --#{$wizard}__nav-item--MarginTop: var(--#{$pf-global}--spacer--md);

  // Outer wrap
  --#{$wizard}__outer-wrap--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$wizard}__outer-wrap--lg--PaddingLeft: var(--#{$wizard}__nav--Width);
  --#{$wizard}__outer-wrap--MinHeight: #{pf-size-prem(250px)};

  // Main
  --#{$wizard}__main--ZIndex: auto;

  // Body
  --#{$wizard}__main-body--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__main-body--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__main-body--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__main-body--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__main-body--xl--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__main-body--xl--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__main-body--xl--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__main-body--xl--PaddingLeft: var(--#{$pf-global}--spacer--lg);

  @media screen and (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$wizard}__main-body--PaddingTop: var(--#{$wizard}__main-body--xl--PaddingTop);
    --#{$wizard}__main-body--PaddingRight: var(--#{$wizard}__main-body--xl--PaddingRight);
    --#{$wizard}__main-body--PaddingBottom: var(--#{$wizard}__main-body--xl--PaddingBottom);
    --#{$wizard}__main-body--PaddingLeft: var(--#{$wizard}__main-body--xl--PaddingLeft);
  }

  // Footer
  --#{$wizard}__footer--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$wizard}__footer--ZIndex: var(--#{$pf-global}--ZIndex--xs);
  --#{$wizard}__footer--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__footer--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__footer--PaddingBottom: var(--#{$pf-global}--spacer--sm);
  --#{$wizard}__footer--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__footer--xl--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__footer--xl--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__footer--xl--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__footer--xl--PaddingLeft: var(--#{$pf-global}--spacer--lg);
  --#{$wizard}__footer--BoxShadow: var(--#{$pf-global}--BoxShadow--sm-top);
  --#{$wizard}__footer--child--MarginRight: var(--#{$pf-global}--spacer--md);
  --#{$wizard}__footer--child--MarginBottom: var(--#{$pf-global}--spacer--sm);
  --#{$wizard}__footer-cancel--MarginLeft: calc(var(--#{$pf-global}--spacer--2xl) - var(--#{$wizard}__footer--child--MarginRight));

  @media screen and (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$wizard}__footer--PaddingTop: var(--#{$wizard}__footer--xl--PaddingTop);
    --#{$wizard}__footer--PaddingRight: var(--#{$wizard}__footer--xl--PaddingRight);
    --#{$wizard}__footer--PaddingBottom: var(--#{$wizard}__footer--xl--PaddingBottom);
    --#{$wizard}__footer--PaddingLeft: var(--#{$wizard}__footer--xl--PaddingLeft);
  }

  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--#{$wizard}--Height);

  // When the wizard is used in a modal
  .#{$modal-box} & {
    flex: 1 1 var(--#{$modal-box}--c-wizard--FlexBasis);
    min-height: 0;
  }

  // stylelint-disable selector-not-notation
  // update to single :not() in breaking change
  > :not(.#{$wizard}__outer-wrap):not(.#{$drawer}) {
    flex-shrink: 0;
  }

  &.pf-m-finished {
    --#{$wizard}__outer-wrap--lg--PaddingLeft: 0;

    .#{$wizard}__nav,
    .#{$wizard}__footer,
    .#{$wizard}__toggle {
      display: none;
    }
  }
}

.#{$wizard}__header {
  @include pf-v5-t-dark;

  position: relative;
  z-index: var(--#{$wizard}__header--ZIndex);
  padding-block-start: var(--#{$wizard}__header--PaddingTop);
  padding-block-end: var(--#{$wizard}__header--PaddingBottom);
  padding-inline-start: var(--#{$wizard}__header--PaddingLeft);
  padding-inline-end: var(--#{$wizard}__header--PaddingRight);
  background-color: var(--#{$wizard}__header--BackgroundColor);

  // Nested selector to match button component color specificity
  .#{$wizard}__close {
    position: absolute;
   inset-block-start: var(--#{$wizard}__close--Top);
   inset-inline-end: var(--#{$wizard}__close--Right);

    button {
      font-size: var(--#{$wizard}__close--FontSize);
    }
  }
}

.#{$wizard}__title {
  padding-inline-end: var(--#{$wizard}__title--PaddingRight);
  word-wrap: break-word;
}

.#{$wizard}__title-text {
  font-family: var(--#{$wizard}__title-text--FontFamily);
  font-size: var(--#{$wizard}__title-text--FontSize);
  font-weight: var(--#{$wizard}__title-text--FontWeight);
  line-height: var(--#{$wizard}__title-text--LineHeight);
}

.#{$wizard}__description {
  display: none;
  padding-block-start: var(--#{$wizard}__description--PaddingTop);
  color: var(--#{$wizard}__description--Color);

  @media screen and (min-width: $pf-v5-global--breakpoint--lg) {
    display: block;
  }
}

.#{$wizard}__toggle {
  position: relative;
  z-index: var(--#{$wizard}__toggle--ZIndex);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block-start: var(--#{$wizard}__toggle--PaddingTop);
  padding-block-end: var(--#{$wizard}__toggle--PaddingBottom);
  padding-inline-start: var(--#{$wizard}__toggle--PaddingLeft);
  padding-inline-end: var(--#{$wizard}__toggle--PaddingRight);
  background-color: var(--#{$wizard}__toggle--BackgroundColor);
  border: 0;
  box-shadow: var(--#{$wizard}__toggle--BoxShadow);

  @media screen and (min-width: $pf-v5-global--breakpoint--lg) {
    display: none;
  }

  &.pf-m-expanded {
    --#{$wizard}__toggle--BoxShadow: none;

    border-block-end: var(--#{$wizard}__toggle--m-expanded--BorderBottomWidth) solid var(--#{$wizard}__toggle--m-expanded--BorderBottomColor);

    .#{$wizard}__toggle-icon {
      transform: rotate(var(--#{$wizard}__toggle--m-expanded__toggle-icon--Rotate));
    }
  }
}

.#{$wizard}__toggle-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-block-end: var(--#{$wizard}__toggle-list--MarginBottom);
  margin-inline-end: var(--#{$wizard}__toggle-list--MarginRight);
  list-style: none;
}

.#{$wizard}__toggle-list-item {
  margin-block-end: var(--#{$wizard}__toggle-list-item--MarginBottom);
  text-align: start;
  word-break: break-word;

  &:not(:last-child) {
    margin-inline-end: var(--#{$wizard}__toggle-list-item--not-last-child--MarginRight);
  }
}

.#{$wizard}__toggle-num {
  --#{$wizard}__nav-link--before--Top: var(--#{$wizard}__toggle-num--before--Top);
}

.#{$wizard}__toggle-separator {
  @include pf-v5-mirror-inline-on-rtl;

  margin-inline-start: var(--#{$wizard}__toggle-separator--MarginLeft);
  color: var(--#{$wizard}__toggle-separator--Color);
}

.#{$wizard}__toggle-icon {
  line-height: var(--#{$wizard}__toggle-icon--LineHeight);
}

.#{$wizard}__outer-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: var(--#{$wizard}__outer-wrap--MinHeight);
  background-color: var(--#{$wizard}__outer-wrap--BackgroundColor);

  @media screen and (min-width: $pf-v5-global--breakpoint--lg) {
    padding-inline-start: var(--#{$wizard}__outer-wrap--lg--PaddingLeft);
  }
}

.#{$wizard}__inner-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;

  @media screen and (min-width: $pf-v5-global--breakpoint--lg) {
    position: static;
  }
}

.#{$wizard}__nav {
  position: absolute;
 inset-block-start: 0;
 inset-inline-start: 0;
  z-index: var(--#{$wizard}__nav--ZIndex);
  display: none;
  width: var(--#{$wizard}__nav--Width);
  max-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--#{$wizard}__nav--BackgroundColor);
  box-shadow: var(--#{$wizard}__nav--BoxShadow);

  &.pf-m-expanded {
    display: block;
  }

  @media screen and (min-width: $pf-v5-global--breakpoint--lg) {
    display: block;
    height: 100%;
    border-inline-end: var(--#{$wizard}__nav--lg--BorderRightWidth) solid var(--#{$wizard}__nav--lg--BorderRightColor);
  }
}

.#{$wizard}__nav-list {
  padding-block-start: var(--#{$wizard}__nav-list--PaddingTop);
  padding-block-end: var(--#{$wizard}__nav-list--PaddingBottom);
  padding-inline-start: var(--#{$wizard}__nav-list--PaddingLeft);
  padding-inline-end: var(--#{$wizard}__nav-list--PaddingRight);
  list-style: none;
  counter-reset: wizard-nav-count;

  // Nested sub menus
  & & {
    padding: 0;
    margin-block-start: var(--#{$wizard}__nav-list--nested--MarginTop);
    margin-inline-start: var(--#{$wizard}__nav-list--nested--MarginLeft);

    // Reset styles for nested nav links
    .#{$wizard}__nav-link {
      &::before {
        content: none;
      }

      &.pf-m-current {
        font-weight: var(--#{$wizard}__nav-list__nav-list__nav-link--m-current--FontWeight);
      }
    }
  }
}

.#{$wizard}__nav-item {
  & + & {
    margin-block-start: var(--#{$wizard}__nav-item--MarginTop);
  }

  &.pf-m-expandable {
    > .#{$wizard}__nav-link {
      display: flex;
    }

    > .#{$wizard}__nav-list {
      display: none;
    }
  }

  &.pf-m-expanded {
    > .#{$wizard}__nav-list {
      display: block;
    }

    > .#{$wizard}__nav-link {
      --#{$wizard}__nav-link-toggle-icon--Rotate: var(--#{$wizard}__nav-item--m-expanded__link-toggle-icon--Rotate);
    }
  }
}

.#{$wizard}__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  color: var(--#{$wizard}__nav-link--Color);
  text-align: start; // needed for when the item is a button
  text-decoration: var(--#{$wizard}__nav-link--TextDecoration);
  word-break: break-word;
  background-color: var(--#{$wizard}__nav-link--BackgroundColor);
  border: 0;

  // Common step number styles
  @at-root .#{$wizard}__toggle-num,
  &::before {
    @include pf-v5-bidirectional-style(
      $prop: transform,
      $ltr-val: translateX(var(--#{$wizard}__nav-link--before--TranslateX)),
      $rtl-val: translateX(#{pf-v5-calc-inverse(var(--#{$wizard}__nav-link--before--TranslateX))})
    );

    position: absolute;
    inset-block-start: var(--#{$wizard}__nav-link--before--Top);
    inset-inline-start: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--#{$wizard}__nav-link--before--Width);
    height: var(--#{$wizard}__nav-link--before--Height);
    font-size: var(--#{$wizard}__nav-link--before--FontSize);
    line-height: 1;
    color: var(--#{$wizard}__nav-link--before--Color);
    background-color: var(--#{$wizard}__nav-link--before--BackgroundColor);
    border-radius: var(--#{$wizard}__nav-link--before--BorderRadius);
  }

  // Nav step number
  &::before {
   inset-block-start: 0;
    content: counter(wizard-nav-count);
    counter-increment: wizard-nav-count;
  }

  &:hover {
    --#{$wizard}__nav-link--Color: var(--#{$wizard}__nav-link--hover--Color);
    --#{$wizard}__nav-link-toggle--Color: var(--#{$wizard}__nav-link--hover__nav-link-toggle-icon--Color);
  }

  &:focus {
    --#{$wizard}__nav-link--Color: var(--#{$wizard}__nav-link--focus--Color);
    --#{$wizard}__nav-link-toggle--Color: var(--#{$wizard}__nav-link--focus__nav-link-toggle-icon--Color);
  }

  &.pf-m-current {
    --#{$wizard}__nav-link--Color: var(--#{$wizard}__nav-link--m-current--Color);

    font-weight: var(--#{$wizard}__nav-link--m-current--FontWeight);

    @at-root .#{$wizard}__toggle-num,
    &::before {
      --#{$wizard}__nav-link--before--BackgroundColor: var(--#{$wizard}__nav-link--m-current--before--BackgroundColor);
      --#{$wizard}__nav-link--before--Color: var(--#{$wizard}__nav-link--m-current--before--Color);
    }
  }

  &:disabled,
  &.pf-m-disabled {
    --#{$wizard}__nav-link--Color: var(--#{$wizard}__nav-link--m-disabled--Color);

    pointer-events: none;

    &::before {
      --#{$wizard}__nav-link--before--BackgroundColor: var(--#{$wizard}__nav-link--m-disabled--before--BackgroundColor);
      --#{$wizard}__nav-link--before--Color: var(--#{$wizard}__nav-link--m-disabled--before--Color);
    }
  }
}

.#{$wizard}__nav-link-text {
  flex-grow: 1;
}

.#{$wizard}__nav-link-toggle {
  padding-inline-start: var(--#{$wizard}__nav-link-toggle--PaddingLeft);
  padding-inline-end: var(--#{$wizard}__nav-link-toggle--PaddingRight);
  color: var(--#{$wizard}__nav-link-toggle--Color);
}

.#{$wizard}__nav-link-toggle-icon {
  @include pf-v5-mirror-inline-on-rtl;

  display: inline-block;
  transition: var(--#{$wizard}__nav-link-toggle-icon--Transition);
  transform: rotate(var(--#{$wizard}__nav-link-toggle-icon--Rotate));
}

.#{$wizard}__main {
  z-index: var(--#{$wizard}__main--ZIndex);
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;
}

.#{$wizard}__main-body {
  padding-block-start: var(--#{$wizard}__main-body--PaddingTop);
  padding-block-end: var(--#{$wizard}__main-body--PaddingBottom);
  padding-inline-start: var(--#{$wizard}__main-body--PaddingLeft);
  padding-inline-end: var(--#{$wizard}__main-body--PaddingRight);

  &.pf-m-no-padding {
    padding: 0;
  }
}

.#{$wizard}__footer {
  position: relative;
  z-index: var(--#{$wizard}__footer--ZIndex);
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding-block-start: var(--#{$wizard}__footer--PaddingTop);
  padding-block-end: var(--#{$wizard}__footer--PaddingBottom);
  padding-inline-start: var(--#{$wizard}__footer--PaddingLeft);
  padding-inline-end: var(--#{$wizard}__footer--PaddingRight);
  background-color: var(--#{$wizard}__footer--BackgroundColor);

  > * {
    margin-block-end: var(--#{$wizard}__footer--child--MarginBottom);

    &:not(:last-child) {
      margin-inline-end: var(--#{$wizard}__footer--child--MarginRight);
    }
  }

  // Limit shadow to a child of modal and main-wizard since we can ensure wizard footer is fixed in those usages
  // Make a regular style in a breaking change release
  .#{$page}__main-wizard &,
  .#{$modal-box} &,
  .#{$drawer} > & {
    box-shadow: var(--#{$wizard}__footer--BoxShadow);
  }
}

.#{$wizard}__footer-cancel {
  margin-inline-start: var(--#{$wizard}__footer-cancel--MarginLeft);
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/wizard";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-wizard;
}
