<li class="pf-c-wizard__sequence-item{{#if wizard-sequence-item--modifier}} {{wizard-sequence-item--modifier}}{{/if}}"
  {{#if wizard-sequence-item--attribute}}
    {{{wizard-sequence-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>