<span class="{{pfv}}wizard__toggle-status-icon{{#if wizard-toggle-status-icon--modifier}} {{wizard-toggle-status-icon--modifier}}{{/if}}"
  {{#if wizard-toggle-status-icon--attribute}}
    {{{wizard-toggle-status-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
