<div class="pf-c-wizard__item-description{{#if wizard-item-description--modifier}} {{wizard-item-description--modifier}}{{/if}}"
  {{#if wizard-item-description--attribute}}
    {{{wizard-item-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>