<span class="{{pfv}}wizard__nav-link-main{{#if wizard-nav-link-main--modifier}} {{wizard-nav-link-main--modifier}}{{/if}}"
  {{#if wizard-nav-link-main--attribute}}
    {{{wizard-nav-link-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
