<span class="{{pfv}}wizard__nav-link-toggle{{#if wizard-nav-link-toggle--modifier}} {{wizard-nav-link-toggle--modifier}}{{/if}}"
  {{#if wizard-nav-link-toggle--attribute}}
    {{{wizard-nav-link-toggle--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
