<h1 class="pf-c-wizard__item-title{{#if wizard-item-title--modifier}} {{wizard-item-title--modifier}}{{/if}}"
  {{#if wizard-item-title--attribute}}
    {{{wizard-item-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</h1>