<div class="pf-c-wizard__sequence-link-position{{#if wizard-sequence-link-position--modifier}} {{wizard-sequence-link-position--modifier}}{{/if}}"
  {{#if wizard-sequence-link-position--attribute}}
    {{{wizard-sequence-link-position--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>