<div class="pf-c-wizard__drawer-toggle{{#if wizard-drawer-toggle--modifier}} {{wizard-drawer-toggle--modifier}}{{/if}}">
  {{#> button button--modifier="pf-m-link pf-m-inline" button--attribute=wizard-drawer-toggle--attribute}}
    {{#if wizard-drawer-toggle--text}}
      {{{wizard-drawer-toggle--text}}}
    {{else}}
      Open drawer
    {{/if}}
  {{/button}}
</div>
