<div class="pf-c-wizard__sequence-arrow{{#if wizard-sequence-arrow--modifier}} {{wizard-sequence-arrow--modifier}}{{/if}}"
    {{#if wizard-sequence-arrow--attribute}}
        {{{wizard-sequence-arrow--attribute}}}
    {{/if}}>
    {{> @partial-block}}
</div>