<span class="{{pfv}}wizard__nav-link-toggle-icon{{#if wizard-nav-link-toggle-icon--modifier}} {{wizard-nav-link-toggle-icon--modifier}}{{/if}}"
  {{#if wizard-nav-link-toggle-icon--attribute}}
    {{{wizard-nav-link-toggle-icon--attribute}}}
  {{/if}}>
  {{pfIcon "rh-microns-caret-down"}}
</span>
