<div class="pf-c-wizard__close{{#if wizard-close--modifier}} {{wizard-close--modifier}}{{/if}}"
  {{#if wizard-close--modifier--attribute}}
    {{{wizard-close--modifier--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close"'}}
    <i class="fas fa-times" aria-hidden="true"></i>
  {{/button}}
</div>