<div class="pf-c-wizard__sequence{{#if wizard-sequence--modifier}} {{wizard-sequence--modifier}}{{/if}}"
    {{#if wizard-sequence--attribute}}
        {{{wizard-sequence--attribute}}}
    {{/if}}>
</div>