<p class="pf-c-wizard__sequence-link-description-title{{#if wizard-sequence-link-description-title--modifier}} {{wizard-sequence-link-description-title--modifier}}{{/if}}"
  {{#if wizard-sequence-link-description-title--attribute}}
    {{{wizard-sequence-link-description-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
