<span class="{{pfv}}wizard__nav-link-status-icon{{#if wizard-nav-link-status-icon--modifier}} {{wizard-nav-link-status-icon--modifier}}{{/if}}"
  {{#if wizard-nav-link-status-icon--attribute}}
    {{{wizard-nav-link-status-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
