<span class="{{pfv}}wizard__nav-link-text{{#if wizard-nav-link-text--modifier}} {{wizard-nav-link-text--modifier}}{{/if}}"
  {{#if wizard-nav-link-text--attribute}}
    {{{wizard-nav-link-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
