<div class="{{pfv}}wizard__footer-cancel{{#if wizard-footer-cancel--modifier}} {{wizard-footer-cancel--modifier}}{{/if}}"
  {{#if wizard-footer-cancel--attribute}}
    {{{wizard-footer-cancel--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
