<div class="pf-c-wizard__sequence-link-description{{#if wizard-sequence-link-description--modifier}} {{wizard-sequence-link-description--modifier}}{{/if}}"
  {{#if wizard-sequence-link-description--attribute}}
    {{{wizard-sequence-link-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>