<p class="pf-c-wizard__item-status{{#if wizard-item-status--modifier}} {{wizard-item-status--modifier}}{{/if}}"
  {{#if wizard-item-status--attribute}}
    {{{wizard-item-status--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>