<div class="pf-c-wizard__body{{#if wizard-body--modifier}} {{wizard-body--modifier}}{{/if}}"
  {{#if wizard-body--attribute}}
    {{{wizard-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
