<p class="pf-c-wizard__sequence-link-description-status{{#if wizard-sequence-link-description-status--modifier}} {{wizard-sequence-link-description-status--modifier}}{{/if}}"
  {{#if wizard-sequence-link-description-status--attribute}}
    {{{wizard-sequence-link-description-status--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
