<span class="{{pfv}}wizard__toggle-status-icon{{#if wizard-toggle-status-icon--modifier}} {{wizard-toggle-status-icon--modifier}}{{/if}}"
  {{#if wizard-toggle-status-icon--attribute}}
    {{{wizard-toggle-status-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-{{ternary wizard-toggle-list-item--IsSuccess 'check-circle' (ternary wizard-toggle-list-item--IsWarning 'exclamation-triangle' 'exclamation-circle')}}" aria-hidden="true"></i>
</span>
