<div class="pf-c-wizard__item-position{{#if wizard-item-position--modifier}} {{wizard-item-position--modifier}}{{/if}}"
  {{#if wizard-item-position--attribute}}
    {{{wizard-item-position--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>