<div class="pf-c-wizard__item-bar{{#if wizard-item-bar--modifier}} {{wizard-item-bar--modifier}}{{/if}}"
  {{#if wizard-item-bar--attribute}}
    {{{wizard-item-bar--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>