<p class="pf-c-wizard__item-description-title{{#if wizard-item-description-title--modifier}} {{wizard-item-description-title--modifier}}{{/if}}"
  {{#if wizard-item-description-title--attribute}}
    {{{wizard-item-description-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>