<span class="{{pfv}}wizard__nav-link-status-icon{{#if wizard-nav-link-status-icon--modifier}} {{wizard-nav-link-status-icon--modifier}}{{/if}}"
  {{#if wizard-nav-link-status-icon--attribute}}
    {{{wizard-nav-link-status-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-{{ternary wizard-nav-item--IsSuccess 'check-circle' 'exclamation-circle'}}" aria-hidden="true"></i>
</span>
