<div class="{{pfv}}wizard__close{{#if wizard-close--modifier}} {{wizard-close--modifier}}{{/if}}"
  {{#if wizard-close--modifier--attribute}}
    {{{wizard-close--modifier--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--IsIcon=true button--icon="times" button--aria-label="Close"}}
</div>
