<div class="pf-c-wizard__item-number{{#if wizard-item-number--modifier}} {{wizard-item-number--modifier}}{{/if}}"
  {{#if wizard-item-number--attribute}}
    {{{wizard-item-number--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>