<a class="pf-c-wizard__sequence-link{{#if wizard-sequence-link--modifier}} {{wizard-sequence-link--modifier}}{{/if}}"
  {{#if wizard-sequence-link--attribute}}
    {{{wizard-sequence-link--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</a>
