{{#> drawer-panel}}
  {{#> drawer-head}}
    <span>Drawer panel header content</span>
    {{#> drawer-actions}}
      {{> drawer-close}}
    {{/drawer-actions}}
  {{/drawer-head}}
  {{#> drawer-description}}
    This is a helpful description of the drawer panel.
  {{/drawer-description}}
  {{#> drawer-body}}
    Drawer panel body content
  {{/drawer-body}}
{{/drawer-panel}}