<div class="pf-c-drawer__content{{#if drawer-content--modifier}} {{drawer-content--modifier}}{{/if}}"
  {{#if drawer-content--attribute}}
    {{{drawer-content--attribute}}}
  {{/if}}>
  {{#> drawer-content-body}}
    {{> @partial-block}}
  {{/drawer-content-body}}
</div>
