<div class="pf-c-drawer__panel-body{{#if drawer-panel-body--modifier}} {{drawer-panel-body--modifier}}{{/if}}"
  {{#if drawer-panel-body--attribute}}
    {{{drawer-panel-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
