<div class="pf-c-drawer__header{{#if drawer-header--modifier}} {{drawer-header--modifier}}{{/if}}"
  {{#if drawer-header--attribute}}
    {{{drawer-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
