<div class="{{pfv}}drawer__close{{#if drawer-close--modifier}} {{drawer-close--modifier}}{{/if}}"
  {{#if drawer-close--attribute}}
    {{{drawer-close--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--attribute='aria-label="Close drawer panel"' button--IsIcon=true button--icon="times"}}
</div>
