<div class="{{pfv}}drawer__description{{#if drawer-description--modifier}} {{drawer-description--modifier}}{{/if}}"
  {{#if drawer-description--attribute}}
    {{{drawer-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>