// @import "../../sass-utilities/all";

.pf-c-drawer {
  --pf-c-drawer__content--MarginRight: calc(var(--pf-c-drawer__panel--Width) * -1);
  --pf-c-drawer--m-expanded--m-inline__content--MarginRight: 0;
  --pf-c-drawer__content--Transition: margin-right .25s ease;
  --pf-c-drawer__content--ZIndex: var(--pf-global--ZIndex--xs);
  --pf-c-drawer__panel--ZIndex: var(--pf-global--ZIndex--sm);
  --pf-c-drawer__panel--Width: 100%;
  --pf-c-drawer__panel--md--Width: #{pf-size-prem(450px)};
  --pf-c-drawer__panel--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-drawer__panel--Transition: transform .25s ease;
  --pf-c-drawer__panel--Transform: translateX(100%);
  --pf-c-drawer--m-expanded__panel--Transform: translateX(0);
  --pf-c-drawer--m-expanded__panel--BoxShadow: var(--pf-global--BoxShadow--md-left);
  --pf-c-drawer__panel-body--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-drawer__panel-body--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-drawer__panel-body--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-drawer__panel-body--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-drawer__panel-body--md--PaddingTop: var(--pf-global--spacer--lg);
  --pf-c-drawer__panel-body--md--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-drawer__panel-body--md--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-c-drawer__panel-body--md--PaddingLeft: var(--pf-global--spacer--lg);

  @media screen and (min-width: $pf-global--breakpoint--md) {
    --pf-c-drawer__panel--Width: var(--pf-c-drawer__panel--md--Width);
    --pf-c-drawer__panel-body--PaddingTop: var(--pf-c-drawer__panel-body--md--PaddingTop);
    --pf-c-drawer__panel-body--PaddingRight: var(--pf-c-drawer__panel-body--md--PaddingRight);
    --pf-c-drawer__panel-body--PaddingBottom: var(--pf-c-drawer__panel-body--md--PaddingBottom);
    --pf-c-drawer__panel-body--PaddingLeft: var(--pf-c-drawer__panel-body--md--PaddingLeft);
  }

  display: flex;
  overflow-x: hidden;

  &.pf-m-expanded {
    --pf-c-drawer__panel--Transform: var(--pf-c-drawer--m-expanded__panel--Transform);

    @media screen and (min-width: $pf-global--breakpoint--md) {
      &.pf-m-inline {
        --pf-c-drawer__content--MarginRight: var(--pf-c-drawer--m-expanded--m-inline__content--MarginRight);
      }
    }

    .pf-c-drawer__panel {
      box-shadow: var(--pf-c-drawer--m-expanded__panel--BoxShadow);
    }
  }
}

.pf-c-drawer__content {
  z-index: var(--pf-c-drawer__content--ZIndex);
  flex-grow: 1;
  min-width: 0;
  margin-right: var(--pf-c-drawer__content--MarginRight);
  transition: var(--pf-c-drawer__content--Transition);
}

.pf-c-drawer__panel {
  flex-shrink: 0;
  z-index: var(--pf-c-drawer__panel--ZIndex);
  width: var(--pf-c-drawer__panel--Width);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--pf-c-drawer__panel--BackgroundColor);
  transition: var(--pf-c-drawer__panel--Transition);
  transform: var(--pf-c-drawer__panel--Transform);
  -webkit-overflow-scrolling: touch;
}

.pf-c-drawer__panel-body {
  padding: var(--pf-c-drawer__panel-body--PaddingTop) var(--pf-c-drawer__panel-body--PaddingRight) var(--pf-c-drawer__panel-body--PaddingBottom) var(--pf-c-drawer__panel-body--PaddingLeft);

  &.pf-m-no-padding {
    padding: 0;
  }
}
