<div class="{{pfv}}drawer__splitter{{#if drawer-splitter--modifier}} {{drawer-splitter--modifier}}{{/if}}{{#if drawer-splitter--IsVertical}} pf-m-vertical{{/if}}"
  role="separator"
  tabindex="0"
  {{#if drawer-splitter--IsVertical}}
    aria-orientation="vertical"
  {{else}}
    aria-orientation="horizontal"
  {{/if}}
  {{#if drawer-splitter--attribute}}
    {{{drawer-splitter--attribute}}}
  {{/if}}>
  {{> drawer-splitter-handle}}
</div>
