<div class="{{pfv}}drawer__panel-main{{#if drawer-panel-main--modifier}} {{drawer-panel-main--modifier}}{{/if}}"
  {{#if drawer-panel-main--attribute}}
    {{{drawer-panel-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
