<div class="pf-c-drawer__content{{#if drawer-content--modifier}} {{drawer-content--modifier}}{{/if}}"
  {{#if drawer-content--attribute}}
    {{{drawer-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
