<div class="{{pfv}}drawer__splitter-handle{{#if drawer-splitter-handle--modifier}} {{drawer-splitter-handle--modifier}}{{/if}}"
  {{#if drawer-splitter-handle--attribute}}
    {{{drawer-splitter-handle--attribute}}}
  {{/if}}>
</div>
