<div class="pf-c-drawer__content-body{{#if drawer-content-body--modifier}} {{drawer-content-body--modifier}}{{/if}}"
  {{#if drawer-content-body--attribute}}
    {{{drawer-content-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
