<span class="{{pfv}}search-input__menu-item-text{{#if search-input-menu-item-text--modifier}} {{search-input-menu-item-text--modifier}}{{/if}}"
  {{#if search-input-menu-item-text--attribute}}
    {{{search-input-menu-item-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
