<div class="{{pfv}}search-input__bar{{#if search-input-bar--modifier}} {{search-input-bar--modifier}}{{/if}}"
  {{#if search-input-bar--attribute}}
    {{{search-input-bar--attribute}}}
  {{/if}}>
  {{> search-input-text}}
  {{> search-input-utilities}}
</div>
