<div class="pf-c-search-input{{#if search-input--modifier}} {{search-input--modifier}}{{/if}}"
  {{#if search-input--attribute}}
    {{{search-input--attribute}}}
  {{/if}}>
  {{#if search-input--IsAdvancedSearch}}
    {{#> input-group}}
      {{#> input-group-item input-group-item--IsFill=true}}
        {{> search-input-bar}}
      {{/input-group-item}}
      {{#> input-group-item}}
        {{> search-input-toggle}}
      {{/input-group-item}}
      {{#> input-group-item}}
        {{> search-input-search-button}}
      {{/input-group-item}}
    {{/input-group}}
  {{else}}
    {{#if search-input--HasSubmitButton}}
      {{#>input-group}}
        {{#> input-group-item input-group-item--IsFill=true}}
          {{> search-input-bar}}
        {{/input-group-item}}
        {{#> input-group-item}}
          {{> search-input-search-button}}
        {{/input-group-item}}
      {{/input-group}}
    {{else}}
      {{> search-input-bar}}
    {{/if}}
  {{/if}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
