<div class="{{pfv}}search-input__menu{{#if search-input-menu--modifier}} {{search-input-menu--modifier}}{{/if}}"
  {{#if search-input-menu--attribute}}
    {{{search-input-menu--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
