<div class="{{pfv}}search-input__menu-body{{#if search-input-menu-body--modifier}} {{search-input-menu-body--modifier}}{{/if}}"
  {{#if search-input-menu-body--attribute}}
    {{{search-input-menu-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
