<div class="pf-c-search-input{{#if search-input--modifier}} {{search-input--modifier}}{{/if}}"
  {{#if search-input--attribute}}
    {{{search-input--attribute}}}
  {{/if}}>
  {{#if search-input--IsAdvancedSearch}}
    {{#> input-group}}
      {{> search-input-bar}}
      {{> search-input-toggle}}
      {{> search-input-search-button}}
    {{/input-group}}
  {{else}}
    {{#if search-input--HasSubmitButton}}
      {{#>input-group}}
        {{> search-input-bar}}
        {{> search-input-search-button}}
      {{/input-group}}
    {{else}}
      {{> search-input-bar}}
    {{/if}}
  {{/if}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
