<li class="{{pfv}}search-input__menu-list-item{{#if search-input-menu-list-item--modifier}} {{search-input-menu-list-item--modifier}}{{/if}}"
  {{#if search-input-menu-list-item--attribute}}
    {{{search-input-menu-list-item--attribute}}}
  {{/if}}>
  {{#> search-input-menu-item}}
    {{#> search-input-menu-item-text}}
      {{search-input-menu-list-item--text}}
    {{/search-input-menu-item-text}}
  {{/search-input-menu-item}}
</li>
