<span class="{{pfv}}search-input__text{{#if search-input-text--modifier}} {{search-input-text--modifier}}{{/if}}"
  {{#if search-input-text--attribute}}
    {{search-input-text--attribute}}
  {{/if}}>
  {{> search-input-icon}}
  {{#if search-input--hint-text}}
    {{> search-input-text-input search-input-text-input--IsHintText="true"}}
  {{/if}}
  {{> search-input-text-input}}
</span>
