// PF content is based on Bulma's content element.

/// A description of pf-c-content
/// @group components
/// @moduleType component
/// @modifier .is-modifier - An example modifier description
/// @modifier .is-another-modifier - Another example modifier description
/// @template src/components/pf-c-content/pf-c-content.html


.pf-c-content {
  a {
    color: $pf-global--link--Color;
    text-decoration: $pf-global--link--TextDecoration;

    &:hover {
      color: $pf-global--link--Color--hover;
      text-decoration: $pf-global--link--TextDecoration--hover;
    }
  }

  li + li {
    margin-top: $pf-global--spacer--sm;
  }

  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    &:not(:last-child){
      margin-bottom: $pf-global--spacer--xl;
    }
  }

  dl,
  ol,
  ul {
    padding-left: $pf-global--spacer--xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: $pf-global--FontWeight--normal;
    line-height: $pf-global--LineHeight--md;
  }

  h1 {
    margin-bottom: $pf-global--spacer--md;
    font-size: $pf-global--FontSize--xxxxl;
    &:not(:first-child) {
      margin-top: $pf-global--spacer--xxl;
    }
  }

  h2 {
    margin-bottom: $pf-global--spacer--md;
    font-size: $pf-global--FontSize--xxxl;
    &:not(:first-child) {
      margin-top: $pf-global--spacer--xxxl;
    }
  }

  h3 {
    margin-bottom: $pf-global--spacer--md;
    font-size: $pf-global--FontSize--xxl;
    &:not(:first-child) {
      margin-top: $pf-global--spacer--xxl;
    }
  }

  h4 {
    margin-bottom: $pf-global--spacer--xl;
    font-size: $pf-global--FontSize--xl;
  }

  h5 {
    margin-bottom: $pf-global--spacer--xl;
    font-size: $pf-global--FontSize--lg;
  }

  h6 {
    margin-bottom: $pf-global--spacer--xl;
    font-size: $pf-global--FontSize--sm;
  }

  blockquote {
    padding: $pf-global--spacer--xl;
    border-left: 5px solid $pf-global--Color--dark-alt;
  }

  ol {
    margin-top: $pf-global--spacer--xl;
    margin-left: $pf-global--spacer--xl;
  }

  ul {
    margin: 0;
    margin-top: $pf-global--spacer--xl;
    margin-left: $pf-global--spacer--lg;
    ul {
      margin-top: $pf-global--spacer--md;
    }
  }

  dd {
    margin-left: $pf-global--spacer--xxxl;
  }

  // figure {
  //   margin-right: 2em;
  //   margin-left: 2em;
  //   text-align: center;
  //   &:not(:first-child){
  //     margin-top: 2em;
  //   }
  //   &:not(:last-child) {
  //     margin-bottom: 2em;
  //   }
  //   img {
  //     display: inline-block;
  //   }
  //   figcaption{
  //     font-style: italic;
  //   }
  // }

  // pre {
  //   padding: $pf-c-content--pre--Padding;
  //   overflow-x: auto;
  //   word-wrap: normal;
  //   white-space: pre;
  // }
  //
  // sup,
  // sub {
  //   font-size: 75%;
  // }

  // table {
  //   width: 100%;
  //   td,
  //   th {
  //     padding: $pf-c-content-table-cell-padding;
  //     vertical-align: top;
  //     border: $content-table-cell-border;
  //     border-width: $content-table-cell-border-width;
  //   }
  //   th {
  //     color: $content-table-cell-heading-color;
  //     text-align: left;
  //   }
  //   tr {
  //     &:hover {
  //       background-color: $content-table-row-hover-background-color;
  //     }
  //   }
  //   thead {
  //     td,
  //     th {
  //       color: $content-table-head-cell-color;
  //       border-width: $content-table-head-cell-border-width;
  //     }
  //   }
  //   tfoot {
  //     td,
  //     th {
  //       color: $content-table-foot-cell-color;
  //       border-width: $content-table-foot-cell-border-width;
  //     }
  //   }
  //   tbody {
  //     tr {
  //       &:last-child {
  //         td,
  //         th {
  //           border-bottom-width: 0;
  //         }
  //       }
  //     }
  //   }
  // }
}
