<div class="pf-c-skeleton__element{{#if skeleton-element--modifier}} {{skeleton-element--modifier}}{{/if}}"
  {{#if skeleton-element--attribute}}
    {{{skeleton-element--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
