<div class="pf-c-skeleton__container{{#if skeleton-container--modifier}} {{skeleton-container--modifier}}{{/if}}"
  {{#if skeleton-container--attribute}}
    {{{skeleton-container--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
