<div class="ws-chart">
  {{#if card-demo--chart--IsLineChart2}}
    <img src="/assets/images/img_line-chart-2.png" alt="Line chart" />
  {{else if card-demo--chart--IsThresholdChart}}
    <img src="/assets/images/img_chart-threshold.png" alt="Threshold chart" />
  {{else if card-demo--chart--IsStackChart}}
    <img src="/assets/images/img_chart-stack.png" alt="Stack chart" />
  {{else}}
    <img src="/assets/images/img_line-chart-1.png" alt="Line Chart" />
  {{/if}}
</div>
