<div class="pf-c-select__menu{{#if select-menu--modifier}} {{select-menu--modifier}}{{/if}}"
  {{#unless select--IsExpanded}}hidden{{/unless}}
  {{#if select--attribute}}
    {{{select--attribute}}}
  {{/if}}>
  {{#> select-menu-list}}
    <li role="presentation">
      {{#> select-menu-item}}Running{{/select-menu-item}}
    </li>
    <li role="presentation">
      {{#> select-menu-item select-menu-item--IsSelected="true"}}Stopped{{/select-menu-item}}
    </li>
    <li role="presentation">
      {{#> select-menu-item}}Down{{/select-menu-item}}
    </li>
    <li role="presentation">
      {{#> select-menu-item}}Degraded{{/select-menu-item}}
    </li>
    <li role="presentation">
      {{#> select-menu-item}}Needs maintenance{{/select-menu-item}}
    </li>
  {{/select-menu-list}}
  {{#> select-menu-footer}}
    {{#> button button--modifier="pf-m-link pf-m-inline"}}
      Action
    {{/button}}
  {{/select-menu-footer}}
</div>
