<div class="{{pfv}}select__menu-footer{{#if select-menu-footer--modifier}} {{select-menu-footer--modifier}}{{/if}}"
  {{#if select-menu-footer--attribute}}
    {{{select-menu-footer--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
