<div class="pf-c-select__menu-input{{#if select-menu-input--modifier}} {{select-menu-input--modifier}}{{/if}}"
  {{#if select-menu-input--attribute}}
    {{{select-menu-input--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
