<span class="{{pfv}}select__menu-item-text{{#if select-menu-item-text--modifier}} {{select-menu-item-text--modifier}}{{/if}}"
  {{#if select-menu-item-text--attribute}}
    {{{select-menu-item-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
