<button class="pf-c-button pf-m-plain pf-c-select__toggle-button"
  id="{{id}}-toggle"
  aria-haspopup="true"
  aria-expanded="{{#if select--IsExpanded}}true{{else}}false{{/if}}"
  aria-labelledby="{{id}}-label {{id}}-toggle"
  aria-label="Select">
  <i class="fas fa-caret-down pf-c-select__toggle-arrow" aria-hidden="true"></i>
</button>