<span class="{{pfv}}select__menu-item-row{{#if select-menu-item-row--modifier}} {{select-menu-item-row--modifier}}{{/if}}"
  {{#if select-menu-item-row--attribute}}
    {{{select-menu-item-row--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
