<div class="pf-c-select__menu-item-title{{#if select-menu-item-title--modifier}} {{select-menu-item-title--modifier}}{{/if}}"
  {{#if select-menu-item-title--attribute}}
    {{{select-menu-item-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
