<div class="pf-c-select__fieldset{{#if select-fieldset--modifier}} {{select-fieldset--modifier}}{{/if}}"
  {{#if select-fieldset--attribute}}
    {{{select-fieldset--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
