<span class="{{pfv}}select__menu-item-count{{#if select-menu-item-count--modifier}} {{select-menu-item-count--modifier}}{{/if}}"
  {{#if select-menu-item-count--attribute}}
    {{{select-menu-item-count--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
