<form novalidate class="pf-c-select__toggle-typeahead-form{{#if select-toggle-typeahead-form--modifier}} {{select-toggle-typeahead-form--modifier}}{{/if}}"
  {{#if select-toggle-typeahead-form--attribute}}
    {{{select-toggle-typeahead-form--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</form>
