<span class="{{pfv}}select__toggle-status-icon{{#if select-toggle-status-icon--modifier}} {{select-toggle-status-icon--modifier}}{{/if}}"
  {{#if select-toggle-status-icon--attribute}}
    {{{select-toggle-status-icon--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</span>
