// stylelint-disable

// Display options
$pf-v5-u-display-options: (
  display-none:           (display none),
  display-inline-block:   (display inline-block),
  display-block:          (display block),
  display-inline:         (display inline),
  display-table:          (display table),
  display-table-cell:     (display table-cell),
  display-table-row:      (display table-row),
  display-flex:           (display flex),
  display-inline-flex:    (display inline-flex)
);

@include pf-v5-utility-builder($pf-v5-u-display-options, $pf-v5-global--breakpoint-list);

// stylelint-enable
