<button class="{{pfv}}toggle-group__button{{#if toggle-group-button--modifier}} {{toggle-group-button--modifier}}{{/if}}"
  type="button"
  {{#if toggle-group-button--attribute}}
    {{{toggle-group-button--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
