<span class="pf-c-toggle-group__icon{{#if toggle-group-icon--modifier}} {{toggle-group-icon--modifier}}{{/if}}"
  {{#if toggle-group-icon--attribute}}
    {{{toggle-group-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
