<span class="pf-c-toggle-group__text{{#if toggle-group-text--modifier}} {{toggle-group-text--modifier}}{{/if}}"
  {{#if toggle-group-text--attribute}}
    {{{toggle-group-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
