<div class="pf-c-toggle-group{{#if toggle-group--modifier}} {{toggle-group--modifier}}{{/if}}"
  {{#if toggle-group--attribute}}
    {{{toggle-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
