<div class="pf-c-toggle-group__item{{#if toggle-group-item--modifier}} {{toggle-group-item--modifier}}{{/if}}"
  {{#if toggle-group-item--attribute}}
    {{{toggle-group-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
