@import "../../patternfly-utilities";
// pf-p-block__element--modifier--state--PropiertyCamel
$pf-p-secondary-nav--BorderColor:                $pf-global-light-border-color !default;
$pf-p-secondary-nav--BorderWidth:                $pf-global-border-width !default;

$pf-p-secondary-nav__item--MarginLeft:           $pf-global-spacer-md !default;
$pf-p-secondary-nav__item--MarginRight:          $pf-global-spacer-md !default;

$pf-p-secondary-nav__link--Color:                $pf-global-dark-color !default;
$pf-p-secondary-nav__link--PaddingTop:           $pf-global-spacer-sm !default;
$pf-p-secondary-nav__link--PaddingBottom:        $pf-global-spacer-sm !default;

$pf-p-secondary-nav__link--active--Color:        $pf-global-active-color !default;
$pf-p-secondary-nav__link--active--BorderColor:  $pf-global-active-color !default;

$pf-p-secondary-nav__link--disabled--Color:      $pf-color-black-300 !default;


/// A description of pf-p-secondary-nav
/// @group components
/// @moduleType component
/// @author  <>
/// @modifier .is-modifier - An example modifier description
/// @modifier .is-another-modifier - Another example modifier description
/// @template src/components/pf-p-secondary-nav/pf-p-secondary-nav.html
.pf-p-secondary-nav {
  display: flex;
  // reset list
  padding-left: 0;
  list-style: none;
  // @include SplitLayout;
  // The background creates a border under the menu
  background-image:
    linear-gradient(
      to top,
      $pf-p-secondary-nav--BorderColor $pf-p-secondary-nav--BorderWidth,
      transparent $pf-p-secondary-nav--BorderWidth
    );

  // Selects every direct child of pf-p-secondary-nav, for example .pf-p-secondary-nav__item
  > * {
    display: flex;
    margin-right: $pf-p-secondary-nav__item--MarginRight;
    margin-left: $pf-p-secondary-nav__item--MarginLeft;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding-top: $pf-p-secondary-nav__link--PaddingTop;
    padding-bottom: $pf-p-secondary-nav__link--PaddingBottom;
    color: $pf-p-secondary-nav__link--Color;

    // @include hover-focus-active {
    //   color: inherit;
    //   text-decoration: inherit;
    //   // The background creates a thicker border under the link
    //   background-image:
    //     linear-gradient(
    //       to top,
    //       $pf-p-secondary-nav--BorderColor ($pf-p-secondary-nav--BorderWidth *
    //       2),
    //       transparent ($pf-p-secondary-nav--BorderWidth * 2)
    //     );
    // }

    // Active State
    &.pf-is-active {
      // @include hover-focus-active {
      //   // The background creates a thicker blue border under the active link
      //   background-image:
      //     linear-gradient(
      //       to top,
      //       $pf-p-secondary-nav__link--active--Color ($pf-p-secondary-nav--BorderWidth * 2),
      //       transparent ($pf-p-secondary-nav--BorderWidth * 2)
      //     );
      // }
      color: $pf-p-secondary-nav__link--active--Color;
      // The background creates a thicker blue border under the active link
      background-image:
        linear-gradient(
          to top,
          $pf-p-secondary-nav__link--active--BorderColor ($pf-p-secondary-nav--BorderWidth *
          2),
          transparent ($pf-p-secondary-nav--BorderWidth * 2)
        );
    }

    // Disabled State
    &.pf-is-disabled {
      // @include hover-focus-active {
      //   // The background removes the border when hover on disabled state
      //   background-image: none;
      // }
      color: $pf-p-secondary-nav__link--disabled--Color;
      cursor: not-allowed;
    }
  }
}
