@import "../../../../sass-utilities/themes/dark/all";

@mixin pf-v5-theme-dark-text() {
  // Font color options to be redefined in theme
  $pf-v5-u-font-color-options: (
    color-300: (
      color var(--#{$pf-global}--Color--100)
    ),
    color-light-100: (
      color var(--#{$pf-global}--Color-100)
    ),
    color-light-200: (
      color var(--#{$pf-global}--Color-200)
    ),
    custom-color-300: (
      color var(--#{$pf-global}--custom-color--100)
    ),
    success-color-200: (
      color var(--#{$pf-global}--success-color--100)
    ),
    info-color-200: (
      color var(--#{$pf-global}--info-color--100)
    ),
    danger-color-300: (
      color var(--#{$pf-global}--danger-color--100)
    ),
    icon-color-dark: (
      color var(--#{$pf-global}--icon--Color--dark)
    )
  );

  @include pf-v5-utility-builder($pf-v5-u-font-color-options, $pf-v5-global--breakpoint-list);
}
