<div class="{{pfv}}calendar-month__header-year{{#if calendar-month-header-year--modifier}} {{calendar-month-header-year--modifier}}{{/if}}"
  {{#if calendar-month-header-year--attribute}}
    {{{calendar-month-header-year--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
