<div class="{{pfv}}calendar-month__header-month{{#if calendar-month-header-month--modifier}} {{calendar-month-header-month--modifier}}{{/if}}"
  {{#if calendar-month-header-month--attribute}}
    {{{calendar-month-header-month--attribute}}}
  {{/if}}>
  {{#> select select-typeahead--Placeholder="Month" select--id=(concat calendar-month--id '-month-select')}}
    {{calendar-month--month}}
  {{/select}}
</div>
