<button class="pf-c-calendar-month__date{{#if calendar-month-date--modifier}} {{calendar-month-date--modifier}}{{/if}}"
  type="button"
  {{#if calendar-month-dates-cell--IsDisabled}}
    disabled
  {{/if}}
  {{#if calendar-month-date--attribute}}
    {{{calendar-month-date--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
