<div class="{{pfv}}calendar-month__header{{#if calendar-month-header--modifier}} {{calendar-month-header--modifier}}{{/if}}"
  {{#if calendar-month-header--attribute}}
    {{{calendar-month-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
