<table class="{{pfv}}calendar-month__calendar{{#if calendar-month-calendar--modifier}} {{calendar-month-calendar--modifier}}{{/if}}"
  {{#if calendar-month-calendar--attribute}}
    {{{calendar-month-calendar--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</table>
