<div class="pf-c-calendar-month__body{{#if calendar-month-body--modifier}} {{calendar-month-body--modifier}}{{/if}}"
  {{#if calendar-month-body--attribute}}
    {{calendar-month-body--attribute}}
  {{/if}}>
  {{>@partial-block}}
</div>
