<div class="{{pfv}}calendar-month__header-nav-control{{#if calendar-month-header-nav-control--modifier}} {{calendar-month-header-nav-control--modifier}}{{/if}}"
  {{#if calendar-month-header-nav-control--attribute}}
    {{{calendar-month-header-nav-control--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
