<td class="{{pfv}}calendar-month__dates-cell
  {{~#if calendar-month-dates-cell--IsCurrent}} pf-m-current{{/if}}
  {{~#if calendar-month-dates-cell--IsSelected}} pf-m-selected{{/if}}
  {{~#if calendar-month-dates-cell--IsStartRange}} pf-m-start-range{{/if}}
  {{~#if calendar-month-dates-cell--IsInRange}} pf-m-in-range{{/if}}
  {{~#if calendar-month-dates-cell--IsEndRange}} pf-m-end-range{{/if}}
  {{~#if calendar-month-dates-cell--IsAdjacentMonth}} pf-m-adjacent-month{{/if}}
  {{~#if calendar-month-dates-cell--IsDisabled}} pf-m-disabled{{/if}}
  {{~#if calendar-month-dates-cell--modifier}} {{calendar-month-dates-cell--modifier}}{{/if}}"
  {{#if calendar-month-dates-cell--attribute}}
    {{{calendar-month-dates-cell--attribute}}}
  {{/if}}>
  {{> calendar-month-date}}
</td>
