<div class="{{pfv}}calendar-month{{#if calendar-month--modifier}} {{calendar-month--modifier}}{{/if}}"
  {{#if calendar-month--attribute}}
    {{{calendar-month--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
