@use '../../sass-utilities' as *;

:where(:root),
:where(.#{$calendar-month}) {
  --#{$calendar-month}--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$calendar-month}--PaddingTop: var(--pf-t--global--spacer--lg);
  --#{$calendar-month}--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$calendar-month}--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$calendar-month}--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$calendar-month}--FontSize: var(--pf-t--global--font--size--sm);

  // header
  --#{$calendar-month}__header--MarginBottom: var(--pf-t--global--spacer--md);
  --#{$calendar-month}__header--Gap: var(--pf-t--global--spacer--xs);
  --#{$calendar-month}__header-year--Width: 9ch;
  --#{$calendar-month}__header-nav-control--MarginRight: 0;
  --#{$calendar-month}__header-nav-control--MarginLeft: 0;

  // week days thead
  --#{$calendar-month}__days--BorderBottomWidth: var(--pf-t--global--border--width--divider--default);
  --#{$calendar-month}__days--BorderBottomColor: var(--pf-t--global--border--color--default);

  // day th
  --#{$calendar-month}__day--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$calendar-month}__day--FontWeight: var(--pf-t--global--font--weight--body);
  --#{$calendar-month}__day--Color: var(--pf-t--global--text--color--regular);


  // dates td
  --#{$calendar-month}__dates-cell--PaddingTop: #{pf-size-prem(2px)};
  --#{$calendar-month}__dates-cell--PaddingRight: #{pf-size-prem(2px)};
  --#{$calendar-month}__dates-cell--PaddingBottom: #{pf-size-prem(2px)};
  --#{$calendar-month}__dates-cell--PaddingLeft: #{pf-size-prem(2px)};
  --#{$calendar-month}__dates-row--first-child__dates-cell--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$calendar-month}__dates-cell--m-current__date--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$calendar-month}__dates-cell--m-selected__date--BackgroundColor: var(--pf-t--global--color--brand--default);
  --#{$calendar-month}__dates-cell--m-selected__date--hover--BackgroundColor: var(--pf-t--global--color--brand--default);
  --#{$calendar-month}__dates-cell--m-selected__date--focus--BackgroundColor: var(--pf-t--global--color--brand--default);
  --#{$calendar-month}__dates-cell--m-selected__date--focus--after--BorderColor: var(--pf-t--global--border--color--brand--default);
  --#{$calendar-month}__dates-cell--m-selected__date--Color: var(--pf-t--global--text--color--on-brand--default);
  --#{$calendar-month}__dates-cell--before--BackgroundColor: transparent;
  --#{$calendar-month}__dates-cell--before--Top: 0;
  --#{$calendar-month}__dates-cell--before--Right: 0;
  --#{$calendar-month}__dates-cell--before--Bottom: var(--#{$calendar-month}__dates-cell--PaddingBottom);
  --#{$calendar-month}__dates-cell--before--Left: 0;
  --#{$calendar-month}__dates-cell--m-in-range--before--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$calendar-month}__dates-cell--m-in-range--m-start-range--before--Left: 50%;
  --#{$calendar-month}__dates-cell--m-in-range--m-end-range--before--Right: 50%;
  --#{$calendar-month}__dates-cell--m-in-range__date--hover--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$calendar-month}__dates-cell--m-in-range__date--hover--BorderWidth: var(--pf-t--global--border--width--regular);
  --#{$calendar-month}__dates-cell--m-in-range__date--hover--BorderColor: var(--pf-t--global--border--color--hover);
  --#{$calendar-month}__dates-cell--m-in-range__date--focus--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$calendar-month}__dates-cell--m-adjacent-month__date--Color: var(--pf-t--global--text--color--subtle);

  // date button
  --#{$calendar-month}__date--Width: 4ch;
  --#{$calendar-month}__date--Height: 4ch;
  --#{$calendar-month}__date--BorderRadius: var(--pf-t--global--border--radius--large);
  --#{$calendar-month}__date--Color: var(--pf-t--global--text--color--regular);
  --#{$calendar-month}__date--BackgroundColor: transparent;
  --#{$calendar-month}__date--disabled--BackgroundColor: var(--pf-t--global--background--color--disabled--default);
  --#{$calendar-month}__date--disabled--Color: var(--pf-t--global--text--color--on-disabled);
  --#{$calendar-month}__date--after--BorderWidth: var(--pf-t--global--border--width--regular);
  --#{$calendar-month}__date--after--BorderColor: transparent;
  --#{$calendar-month}__date--after--OutlineOffset: 0;
  --#{$calendar-month}__date--hover--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$calendar-month}__date--hover--BorderWidth: var(--pf-t--global--border--width--regular);
  --#{$calendar-month}__date--hover--BorderColor: var(--pf-t--global--border--color--hover);
  --#{$calendar-month}__date--focus--Color: var(--pf-t--global--icon--color--on-brand--clicked);
  --#{$calendar-month}__date--focus--BackgroundColor: var(--pf-t--global--color--brand--default);
  --#{$calendar-month}__date--focus--after--BorderColor: var(--pf-t--global--border--color--hover);
  --#{$calendar-month}__date--after--focus--OutlineOffset: -2px;
}

:where(.#{$calendar-month}) {
  display: inline-flex;
  flex-direction: column;
  padding-block-start: var(--#{$calendar-month}--PaddingTop);
  padding-block-end: var(--#{$calendar-month}--PaddingBottom);
  padding-inline-start: var(--#{$calendar-month}--PaddingLeft);
  padding-inline-end: var(--#{$calendar-month}--PaddingRight);
  font-size: var(--#{$calendar-month}--FontSize);
  background-color: var(--#{$calendar-month}--BackgroundColor);
}

.#{$calendar-month}__header {
  display: flex;
  gap: var(--#{$calendar-month}__header--Gap);
  margin-block-end: var(--#{$calendar-month}__header--MarginBottom);
}

.#{$calendar-month}__header-nav-control {
  @include pf-v6-mirror-inline-on-rtl;

  margin-inline-start: var(--#{$calendar-month}__header-nav-control--MarginLeft);
  margin-inline-end: var(--#{$calendar-month}__header-nav-control--MarginRight);

}

.#{$calendar-month}__header-month {
  flex-grow: 1;

  & > .#{$menu-toggle} {
    width: 100%;
  }
}

.#{$calendar-month}__header-year {
  width: var(--#{$calendar-month}__header-year--Width);
}

.#{$calendar-month}__calendar {
  table-layout: fixed;
}

.#{$calendar-month}__days {
  color: var(--#{$calendar-month}__day--Color);
  border-block-end: var(--#{$calendar-month}__days--BorderBottomWidth) solid var(--#{$calendar-month}__days--BorderBottomColor);
}

.#{$calendar-month}__day {
  padding-block-end: var(--#{$calendar-month}__day--PaddingBottom);
  font-weight: var(--#{$calendar-month}__day--FontWeight);
  text-align: center;
}

.#{$calendar-month}__dates-row:first-child {
  --#{$calendar-month}__dates-cell--PaddingTop: var(--#{$calendar-month}__dates-row--first-child__dates-cell--PaddingTop);
}

.#{$calendar-month}__dates-cell {
  --#{$calendar-month}__dates-cell--before--Top: var(--#{$calendar-month}__dates-cell--PaddingTop);

  position: relative;
  padding-block-start: var(--#{$calendar-month}__dates-cell--PaddingTop);
  padding-block-end: var(--#{$calendar-month}__dates-cell--PaddingBottom);
  padding-inline-start: var(--#{$calendar-month}__dates-cell--PaddingLeft);
  padding-inline-end: var(--#{$calendar-month}__dates-cell--PaddingRight);
  text-align: center;

  &::before {
    position: absolute;
    inset-block-start: var(--#{$calendar-month}__dates-cell--before--Top);
    inset-block-end: var(--#{$calendar-month}__dates-cell--before--Bottom);
    inset-inline-start: var(--#{$calendar-month}__dates-cell--before--Left);
    inset-inline-end: var(--#{$calendar-month}__dates-cell--before--Right);
    content: "";
    background-color: var(--#{$calendar-month}__dates-cell--before--BackgroundColor);
  }

  &.pf-m-current {
    --#{$calendar-month}__date--BackgroundColor: var(--#{$calendar-month}__dates-cell--m-current__date--BackgroundColor);
  }

  &.pf-m-in-range {
    --#{$calendar-month}__dates-cell--before--BackgroundColor: var(--#{$calendar-month}__dates-cell--m-in-range--before--BackgroundColor);
    --#{$calendar-month}__date--hover--BackgroundColor: var(--#{$calendar-month}__dates-cell--m-in-range__date--hover--BackgroundColor);
    --#{$calendar-month}__date--hover--BorderWidth: var(--#{$calendar-month}__dates-cell--m-in-range__date--hover--BorderWidth);
    --#{$calendar-month}__date--hover--BorderColor: var(--#{$calendar-month}__dates-cell--m-in-range__date--hover--BorderColor);
    --#{$calendar-month}__date--focus--BackgroundColor: var(--#{$calendar-month}__dates-cell--m-in-range__date--focus--BackgroundColor);
  }

  &.pf-m-start-range {
    --#{$calendar-month}__dates-cell--before--Left: var(--#{$calendar-month}__dates-cell--m-in-range--m-start-range--before--Left);
  }

  &.pf-m-end-range {
    --#{$calendar-month}__dates-cell--before--Right: var(--#{$calendar-month}__dates-cell--m-in-range--m-end-range--before--Right);
  }

  &.pf-m-adjacent-month {
    --#{$calendar-month}__date--Color: var(--#{$calendar-month}__dates-cell--m-adjacent-month__date--Color);
  }

  &.pf-m-selected {
    --#{$calendar-month}__date--BackgroundColor: var(--#{$calendar-month}__dates-cell--m-selected__date--BackgroundColor);
    --#{$calendar-month}__date--Color: var(--#{$calendar-month}__dates-cell--m-selected__date--Color);

    // tweak the hover styling for a selected date
    --#{$calendar-month}__date--hover--BackgroundColor: var(--#{$calendar-month}__dates-cell--m-selected__date--hover--BackgroundColor);
    --#{$calendar-month}__date--hover--BorderWidth: 0;

    // tweak the focus styling for a selected date
    --#{$calendar-month}__date--focus--BackgroundColor: var(--#{$calendar-month}__dates-cell--m-selected__date--focus--BackgroundColor);
    --#{$calendar-month}__date--focus--after--BorderColor: var(--#{$calendar-month}__dates-cell--m-selected__date--focus--after--BorderColor);
    --#{$calendar-month}__date--after--OutlineOffset: var(--#{$calendar-month}__date--after--focus--OutlineOffset);
  }

  &.pf-m-disabled {
    --#{$calendar-month}__dates-cell--before--BackgroundColor: transparent;
    --#{$calendar-month}__date--BackgroundColor: transparent;
  }
}

.#{$calendar-month}__date {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--#{$calendar-month}__date--Width);
  height: var(--#{$calendar-month}__date--Height);
  line-height: 1;
  color: var(--#{$calendar-month}__date--Color);
  background-color: var(--#{$calendar-month}__date--BackgroundColor);
  border: 0;

  &::after {
    position: absolute;
    inset-block-start: var(--#{$calendar-month}__date--after--OutlineOffset);
    inset-block-end: var(--#{$calendar-month}__date--after--OutlineOffset);
    inset-inline-start: var(--#{$calendar-month}__date--after--OutlineOffset);
    inset-inline-end: var(--#{$calendar-month}__date--after--OutlineOffset);
    content: "";
    border: var(--#{$calendar-month}__date--after--BorderWidth) solid var(--#{$calendar-month}__date--after--BorderColor);
  }

  &,
  &::after {
    border-radius: var(--#{$calendar-month}__date--BorderRadius);
  }

  &:hover,
  &.pf-m-hover {
    --#{$calendar-month}__date--BackgroundColor: var(--#{$calendar-month}__date--hover--BackgroundColor);

    border: var(--#{$calendar-month}__date--hover--BorderColor) solid var(--#{$calendar-month}__date--hover--BorderWidth);
  }

  &:focus,
  &.pf-m-focus {
    --#{$calendar-month}__date--after--BorderColor: var(--#{$calendar-month}__date--focus--after--BorderColor);

    outline: 0;
  }

  &:disabled {
    --#{$calendar-month}__date--BackgroundColor: var(--#{$calendar-month}__date--disabled--BackgroundColor);
    --#{$calendar-month}__date--Color: var(--#{$calendar-month}__date--disabled--Color);
    --#{$calendar-month}__date--hover--focus--BorderColor: transparent;

    pointer-events: none;
  }
}
