<div class="pf-c-calendar-month__header-nav{{#if calendar-month-header-nav--modifier}} {{calendar-month-header-nav--modifier}}{{/if}}"
  {{#if calendar-month-header-nav--attribute}}
    {{calendar-month-header-nav--attribute}}
  {{/if}}>
  {{>@partial-block}}
</div>
