<table class="pf-c-calendar-month__grid{{#if calendar-month-grid--modifier}} {{calendar-month-grid--modifier}}{{/if}}"
  {{#if calendar-month-grid--attribute}}
    {{calendar-month-grid--attribute}}
  {{/if}}>
  {{>@partial-block}}
</table>
