{{#> background-image}}
{{/background-image}}

{{#> page page--nav-horizontal="true" page--attribute='id="page"' page--modifier="pf-m-exanded"}}
  {{#> page-header}}

    {{!-- Brand --}}
    {{#> page-header-brand}}
      <a class="pf-l-page__header-brand-link" href="#">
        <img class="pf-l-page__header-brand-logo" src="/assets/images/l_pf-reverse.svg" alt="Patternfly brand logo" alt="Patternfly Logo" /> 
      </a>
    {{/page-header-brand}}

    {{!-- Horizontal Nav --}}
    {{#> page-header-nav}}
      {{#> nav nav--horizontal="true" nav--attribute='id="nav-primary" aria-label="Primary Nav Default Example"'}}
        {{#> nav-list nav-list--type="horizontal"}}
          {{#> nav-list-item}}
            {{#> nav-list-link nav-list-link--href="#" nav-list-link--current="true"}}
              Nav Item 1
            {{/nav-list-link}}
          {{/nav-list-item}}
          {{#> nav-list-item}}
            {{#> nav-list-link nav-list-link--href="#"}}
              Nav Item 2
            {{/nav-list-link}}
          {{/nav-list-item}}
          {{#> nav-list-item}}
            {{#> nav-list-link nav-list-link--href="#"}}
              Link 3
            {{/nav-list-link}}
          {{/nav-list-item}}
          {{#> nav-list-item}}
            {{#> nav-list-link nav-list-link--href="#"}}
              Link 4
            {{/nav-list-link}}
          {{/nav-list-item}}
          {{#> nav-list-item}}
            {{#> nav-list-link nav-list-link--href="#"}}
              Link 5
            {{/nav-list-link}}
          {{/nav-list-item}}
        {{/nav-list}}
      {{/nav}}
    {{/page-header-nav}}

    {{!-- Toolbar --}}
    {{#> page-header-tools}}
      {{#> toolbar}}
        {{#> toolbar-group pf-l-toolbar__group--modifier="pf-u-hidden pf-u-display-flex-on-xl"}}
          {{#> toolbar-item}}
            {{#> button btnClass="pf-m-action" btnAttributes='aria-label="Overflow actions"'}}
              <i class="fas fa-bell"></i>
            {{/button}}
          {{/toolbar-item}}
          {{#> toolbar-item}}
            {{#> button btnClass="pf-m-action" btnAttributes='aria-label="Overflow actions"'}}
              <i class="fas fa-cog"></i>
            {{/button}}
          {{/toolbar-item}}
        {{/toolbar-group}}
        {{#> toolbar-group}}
          {{#> toolbar-item pf-l-toolbar__item--modifier="pf-u-hidden pf-u-display-flex-on-xl"}}
            {{#> dropdown id="dropdown-example-collapsed" pf-c-dropdown--HasToggleIcon="true"}}
              Kyle Baker
            {{/dropdown}}
          {{/toolbar-item}}
          {{#> toolbar-item pf-l-toolbar__item--modifier="pf-u-hidden-on-xl"}}
            {{#> button btnClass="pf-m-action" btnAttributes='aria-label="Overflow actions"'}}
              <i class="fas fa-ellipsis-v"></i>
            {{/button}}
          {{/toolbar-item}}
        {{/toolbar-group}}
      {{/toolbar}}  
    {{/page-header-tools}}
    <div class="pf-l-page__header-avatar">
      <img class="" src="/assets/images/img_avatar.png" alt="Avatar" alt="Account avatar" /> 
    </div>
  {{/page-header}}

  {{#> page-main}}
{{!--     {{#> page-main-section page-main-section--modifier="pf-m-dark"}}
      Dark content
    {{/page-main-section}} --}}
    {{#> page-template-title}}
    {{/page-template-title}}
    {{#> page-template-gallery}}
    {{/page-template-gallery}}
  {{/page-main}}
{{/page}}

