<div class="pf-c-date-picker{{#if date-picker--modifier}} {{date-picker--modifier}}{{/if}}"
  {{#if date-picker--attribute}}
    {{{date-picker--attribute}}}
  {{/if}}>
  {{> date-picker-input}}
  {{#if helper-text--value}}
    {{#> date-picker-helper-text}}
      {{> helper-text}}
    {{/date-picker-helper-text}}
  {{/if}}
  {{#if date-picker--IsExpanded}}
    {{#> date-picker-calendar}}
      Calendar
    {{/date-picker-calendar}}
  {{/if}}
</div>
