<div class="pf-c-date-picker{{#if date-picker--modifier}} {{date-picker--modifier}}{{/if}}"
  {{#if date-picker--attribute}}
    {{date-picker--attribute}}
  {{/if}}>
  {{> date-picker-input}}
  {{#if date-picker-helper-text--text}}
    {{> date-picker-helper-text}}
  {{/if}}
</div>
