<div class="pf-c-date-picker__helper-text{{#if date-picker-helper-text--modifier}} {{date-picker-helper-text--modifier}}{{/if}}"
  {{#if date-picker-helper-text--attribute}}
    {{date-picker-helper-text--attribute}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
