<div class="{{pfv}}date-picker__input{{#if date-picker-input--modifier}} {{date-picker-input--modifier}}{{/if}}"
  {{#if date-picker-input--attribute}}
    {{date-picker-input--attribute}}
  {{/if}}>
  {{> @partial-block}}
</div>
