<div class="{{pfv}}date-picker__calendar{{#if date-picker-calendar--modifier}} {{date-picker-calendar--modifier}}{{/if}}"
  {{#if date-picker-calendar--attribute}}
    {{date-picker-calendar--attribute}}
  {{/if}}>
  {{> @partial-block}}
</div>
