// @debug $date-picker; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$date-picker} {
  --#{$date-picker}--m-top__calendar--Top: 0;
  --#{$date-picker}--m-top__calendar--TranslateY: calc(-100% - var(--#{$pf-global}--spacer--xs));
  --#{$date-picker}__helper-text--MarginTop: var(--#{$pf-global}--spacer--xs);
  --#{$date-picker}__input--c-form-control--Width: calc(var(--#{$date-picker}__input--c-form-control--width-chars) * 1ch + var(--#{$date-picker}__input--c-form-control--width-base));
  --#{$date-picker}__input--c-form-control--width-base: calc(var(--#{$pf-global}--spacer--xl) + var(--#{$pf-global}--spacer--sm)); // form control left/right padding + status icon width and spacer
  --#{$date-picker}__input--c-form-control--width-chars: 10;
  --#{$date-picker}__calendar--BackgroundColor: var(--#{$pf-global}--BackgroundColor--light-100);
  --#{$date-picker}__calendar--BoxShadow: var(--#{$pf-global}--BoxShadow--md);
  --#{$date-picker}__calendar--ZIndex: var(--#{$pf-global}--ZIndex--sm);
  --#{$date-picker}__calendar--Top: calc(100% + var(--#{$pf-global}--spacer--xs));
  --#{$date-picker}__calendar--Right: auto;
  --#{$date-picker}__calendar--Left: 0;
  --#{$date-picker}__calendar--m-align-right--Right: 0;
  --#{$date-picker}__calendar--m-align-right--Left: auto;

  position: relative;
  display: inline-block;
}

.#{$date-picker}__helper-text {
  margin-block-start: var(--#{$date-picker}__helper-text--MarginTop);
}

.#{$date-picker}__input {
  .#{$form-control} {
    width: var(--#{$date-picker}__input--c-form-control--Width);
  }
}

.#{$date-picker}__calendar {
  position: absolute;
  inset-block-start: var(--#{$date-picker}__calendar--Top);
  inset-inline-start: var(--#{$date-picker}__calendar--Left);
  inset-inline-end: var(--#{$date-picker}__calendar--Right);
  z-index: var(--#{$date-picker}__calendar--ZIndex);
  background-color: var(--#{$date-picker}__calendar--BackgroundColor);
  box-shadow: var(--#{$date-picker}__calendar--BoxShadow);

  &.pf-m-align-right {
    --#{$date-picker}__calendar--Right: var(--#{$date-picker}__calendar--m-align-right--Right);
    --#{$date-picker}__calendar--Left: var(--#{$date-picker}__calendar--m-align-right--Left);
  }

  .#{$date-picker}.pf-m-top & {
    --#{$date-picker}__calendar--Top: var(--#{$date-picker}--m-top__calendar--Top);

    transform: translateY(var(--#{$date-picker}--m-top__calendar--TranslateY));
  }

  &.pf-m-static {
    --#{$date-picker}--m-top__calendar--TranslateY: 0;

    position: static;
    inset-block-start: auto;
    inset-block-end: auto;
    inset-inline-start: auto;
    inset-inline-end: auto;
    z-index: auto;
    min-width: min-content;
  }
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/date-picker";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-date-picker;
}
