.documentation {
  display: flex;
  flex-direction: column;
}
.documentation-header {
  /* max-height: 10vh; */
  padding: 1rem;
}
.documentation-main {
  /* max-height: 190vh; */
  padding: 1rem;
  flex: 1;
  display: flex;
}
.documentation-sidebar {
}
.documentation-content {}
.documentation-footer {
  padding: 1rem;
}

.module {
  border: 1px solid #eaeaea;
}
