<template data-title="Default Alert" data-description="This is the alert that is used if a modifier is not used">
  <div class="pf-alert">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
<template>
  <div class="pf-alert is-primary">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
<template>
  <div class="pf-alert is-secondary">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
<template>
  <div class="pf-alert is-success">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
<template>
  <div class="pf-alert is-danger">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
<template>
  <div class="pf-alert is-warning">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
<template>
  <div class="pf-alert is-info">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
<template>
  <div class="pf-alert is-light">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
<template>
  <div class="pf-alert is-dark">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
