// pf-alert
//
// A component for displaying a message
//
// .is-info - An informational alert
// .is-warning - A warning alert
//
// markup: pf-alert.html
//
// Styleguide 2.1.3
.pf-alert {
  background-color: #eaeaea;
  border: 1px solid #dadada;
  &.is-info {
    background-color: #eaeaea;
    border: 1px solid #dadada;
  }
  &.is-warning {
    background-color: #eaeaea;
    border: 1px solid #dadada;
  }
}
