// @debug $banner; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$banner} {
  --#{$banner}--PaddingTop: var(--#{$pf-global}--spacer--xs);
  --#{$banner}--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$banner}--md--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$banner}--PaddingBottom: var(--#{$pf-global}--spacer--xs);
  --#{$banner}--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$banner}--md--PaddingLeft: var(--#{$pf-global}--spacer--lg);
  --#{$banner}--FontSize: var(--#{$pf-global}--FontSize--sm);
  --#{$banner}--Color: var(--#{$pf-global}--Color--100);
  --#{$banner}--BackgroundColor: var(--#{$pf-global}--BackgroundColor--dark-400);

  @media (min-width: $pf-v5-global--breakpoint--md) {
    --#{$banner}--PaddingRight: var(--#{$banner}--md--PaddingRight);
    --#{$banner}--PaddingLeft: var(--#{$banner}--md--PaddingLeft);
  }

  // banner link variables
  --#{$banner}--link--Color: var(--#{$banner}--Color);
  --#{$banner}--link--TextDecoration: underline;
  --#{$banner}--link--hover--Color: var(--#{$banner}--Color);
  --#{$banner}--link--hover--FontWeight: var(--#{$pf-global}--FontWeight--bold);
  --#{$banner}--link--disabled--Color: var(--#{$banner}--Color);
  --#{$banner}--link--disabled--TextDecoration: none;

  // modifier variables
  --#{$banner}--m-blue--BackgroundColor: var(--#{$pf-global}--palette--blue-200);
  --#{$banner}--m-red--BackgroundColor: var(--#{$pf-global}--danger-color--100);
  --#{$banner}--m-green--BackgroundColor: var(--#{$pf-global}--success-color--100);
  --#{$banner}--m-gold--BackgroundColor: var(--#{$pf-global}--warning-color--100);
  --#{$banner}--m-sticky--ZIndex: var(--#{$pf-global}--ZIndex--md);
  --#{$banner}--m-sticky--BoxShadow: var(--#{$pf-global}--BoxShadow--md-bottom);

  @include pf-v5-t-dark;
  @include pf-v5-text-overflow;

  flex-shrink: 0;
  padding-block-start: var(--#{$banner}--PaddingTop);
  padding-block-end: var(--#{$banner}--PaddingBottom);
  padding-inline-start: var(--#{$banner}--PaddingLeft);
  padding-inline-end: var(--#{$banner}--PaddingRight);
  font-size: var(--#{$banner}--FontSize);
  color: var(--#{$banner}--Color);
  white-space: nowrap;
  background-color: var(--#{$banner}--BackgroundColor);

  &.pf-m-blue {
    @include pf-v5-t-light(false);

    --#{$banner}--BackgroundColor: var(--#{$banner}--m-blue--BackgroundColor);
  }

  &.pf-m-red {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-red--BackgroundColor);
  }

  &.pf-m-green {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-green--BackgroundColor);
  }

  &.pf-m-gold {
    @include pf-v5-t-light(false);

    --#{$banner}--BackgroundColor: var(--#{$banner}--m-gold--BackgroundColor);
  }

  &.pf-m-sticky {
    position: sticky;
    inset-block-start: 0;
    z-index: var(--#{$banner}--m-sticky--ZIndex);
    box-shadow: var(--#{$banner}--m-sticky--BoxShadow);
  }

  a {
    color: var(--#{$banner}--link--Color);
    text-decoration: var(--#{$banner}--link--TextDecoration);

    &:hover:not(.pf-m-disabled) {
      --#{$banner}--link--Color: var(--#{$banner}--link--hover--Color);

      font-weight: var(--#{$banner}--link--hover--FontWeight);
    }

    // stylelint-disable selector-no-qualifying-type
    &.pf-m-disabled {
      --#{$banner}--link--Color: var(--#{$banner}--link--disabled--Color);
      --#{$banner}--link--TextDecoration: var(--#{$banner}--link--disabled--TextDecoration);

      cursor: not-allowed;
    }
    // stylelint-enable selector-no-qualifying-type
  }

  .#{$button}.pf-m-inline {
    --#{$button}--m-link--Color: var(--#{$banner}--link--Color);
    --#{$button}--m-link--m-inline--hover--Color: var(--#{$banner}--link--hover--Color);
    --#{$button}--disabled--Color: var(--#{$banner}--link--disabled--Color);

    text-decoration: var(--#{$banner}--link--TextDecoration);

    &:hover {
      --#{$banner}--link--Color: var(--#{$banner}--link--hover--Color);

      font-weight: var(--#{$banner}--link--hover--FontWeight);
    }

    &:disabled,
    &.pf-m-disabled {
      --#{$banner}--link--TextDecoration: var(--#{$banner}--link--disabled--TextDecoration);

      cursor: not-allowed;
    }
  }
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/banner";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-banner;
}
