// @debug $banner; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root {
  --#{$banner}--PaddingTop: var(--pf-t--global--spacer--xs);
  --#{$banner}--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$banner}--md--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$banner}--PaddingBottom: var(--pf-t--global--spacer--xs);
  --#{$banner}--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$banner}--md--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$banner}--FontSize: var(--pf-t--global--font--size--body);
  --#{$banner}--Color: var(--pf-t--global--text--color--nonstatus--on-gray--default);
  --#{$banner}--BackgroundColor: var(--pf-t--global--color--nonstatus--gray--default);

  @media (min-width: $pf-v5-global--breakpoint--md) {
    --#{$banner}--PaddingRight: var(--#{$banner}--md--PaddingRight);
    --#{$banner}--PaddingLeft: var(--#{$banner}--md--PaddingLeft);
  }

  // banner link variables
  --#{$banner}--link--Color: var(--#{$banner}--Color);
  --#{$banner}--link--TextDecoration: underline;
  --#{$banner}--link--hover--Color: var(--#{$banner}--Color);
  --#{$banner}--link--hover--FontWeight: var(--pf-t--global--font--weight--body--bold);
  --#{$banner}--link--disabled--Color: var(--#{$banner}--Color);
  --#{$banner}--link--disabled--TextDecoration: none;

  // modifier variables
  --#{$banner}--m-danger--BackgroundColor: var(--pf-t--global--color--status--danger--default);
  --#{$banner}--m-success--BackgroundColor: var(--pf-t--global--color--status--success--default);
  --#{$banner}--m-warning--BackgroundColor: var(--pf-t--global--color--status--warning--default);
  --#{$banner}--m-info--BackgroundColor: var(--pf-t--global--color--status--info--default);
  --#{$banner}--m-custom--BackgroundColor: var(--pf-t--global--color--status--custom--default);
  --#{$banner}--m-sticky--ZIndex: var(--#{$pf-global}--ZIndex--md);
  --#{$banner}--m-sticky--BoxShadow: var(--pf-t--global--box-shadow--md);
  --#{$banner}--m-info--Color: var(--pf-t--global--text--color--status--on-info--default);

  // nonstatus modifier variables
  --#{$banner}--m-red--BackgroundColor: var(--pf-t--global--color--nonstatus--red--default);
  --#{$banner}--m-orangered--BackgroundColor: var(--pf-t--global--color--nonstatus--orangered--default);
  --#{$banner}--m-orange--BackgroundColor: var(--pf-t--global--color--nonstatus--orange--default);
  --#{$banner}--m-gold--BackgroundColor: var(--pf-t--global--color--nonstatus--gold--default);
  --#{$banner}--m-green--BackgroundColor: var(--pf-t--global--color--nonstatus--green--default);
  --#{$banner}--m-cyan--BackgroundColor: var(--pf-t--global--color--nonstatus--cyan--default);
  --#{$banner}--m-blue--BackgroundColor: var(--pf-t--global--color--nonstatus--blue--default);
  --#{$banner}--m-purple--BackgroundColor: var(--pf-t--global--color--nonstatus--purple--default);
}

.#{$banner} {
  flex-shrink: 0;
  padding-block-start: var(--#{$banner}--PaddingTop);
  padding-block-end: var(--#{$banner}--PaddingBottom);
  padding-inline-start: var(--#{$banner}--PaddingLeft);
  padding-inline-end: var(--#{$banner}--PaddingRight);
  font-size: var(--#{$banner}--FontSize);
  color: var(--#{$banner}--Color);
  white-space: nowrap;
  background-color: var(--#{$banner}--BackgroundColor);

  &.pf-m-danger {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-danger--BackgroundColor);
  }

  &.pf-m-success {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-success--BackgroundColor);
  }

  &.pf-m-warning {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-warning--BackgroundColor);
  }

  &.pf-m-info {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-info--BackgroundColor);
    --#{$banner}--Color: var(--#{$banner}--m-info--Color);
  }

  &.pf-m-red {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-red--BackgroundColor);
  }
  
  &.pf-m-orangered {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-orangered--BackgroundColor);
  }

  &.pf-m-orange {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-orange--BackgroundColor);
  }

  &.pf-m-gold {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-gold--BackgroundColor);
  }

  &.pf-m-green {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-green--BackgroundColor);
  }

  &.pf-m-cyan {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-cyan--BackgroundColor);
  }

  &.pf-m-blue {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-blue--BackgroundColor);
  }

  &.pf-m-purple {
    --#{$banner}--BackgroundColor: var(--#{$banner}--m-purple--BackgroundColor);
  }

  &.pf-m-sticky {
    position: sticky;
    inset-block-start: 0;
    z-index: var(--#{$banner}--m-sticky--ZIndex);
    box-shadow: var(--#{$banner}--m-sticky--BoxShadow);
  }

  a {
    color: var(--#{$banner}--link--Color);
    text-decoration: var(--#{$banner}--link--TextDecoration);

    &:hover:not(.pf-m-disabled) {
      --#{$banner}--link--Color: var(--#{$banner}--link--hover--Color);

      font-weight: var(--#{$banner}--link--hover--FontWeight);
    }

    // stylelint-disable selector-no-qualifying-type
    &.pf-m-disabled {
      --#{$banner}--link--Color: var(--#{$banner}--link--disabled--Color);
      --#{$banner}--link--TextDecoration: var(--#{$banner}--link--disabled--TextDecoration);

      cursor: not-allowed;
    }
    // stylelint-enable selector-no-qualifying-type
  }

  .#{$button}.pf-m-inline {
    --#{$button}--m-link--Color: var(--#{$banner}--link--Color);
    --#{$button}--m-link--m-inline--hover--Color: var(--#{$banner}--link--hover--Color);
    --#{$button}--disabled--Color: var(--#{$banner}--link--disabled--Color);

    text-decoration: var(--#{$banner}--link--TextDecoration);

    &:hover {
      --#{$banner}--link--Color: var(--#{$banner}--link--hover--Color);

      font-weight: var(--#{$banner}--link--hover--FontWeight);
    }

    &:disabled,
    &.pf-m-disabled {
      --#{$banner}--link--TextDecoration: var(--#{$banner}--link--disabled--TextDecoration);

      cursor: not-allowed;
    }
  }
}
