{{#> login-footer}}
  <p>This is placeholder text only. Use this area to place any information or introductory message about your application that may be relevant to users.</p>
  {{#> list list--modifier="pf-m-inline"}}
    <li>
      <a href="#">
        Terms of use
      </a>
    </li>
    <li>
      <a href="#">
        Help
      </a>
    </li>
    <li>
      <a href="#">
        Privacy policy
      </a>
    </li>
  {{/list}}
{{/login-footer}}
