<span class="pf-c-login__main-footer-link-text{{#if login-main-footer-link-text--modifier}} {{login-main-footer-link-text--modifier}}{{/if}}"
  {{#if login-main-footer-link-text--attribute}}
    {{{login-main-footer-link-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
