<a href="#" class="pf-c-login__main-footer-link{{#if login-main-footer-link--modifier}} {{login-main-footer-link--modifier}}{{/if}}"
  {{#if login-main-footer-link--attribute}}
    {{{login-main-footer-link--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</a>
