// @debug $login; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$login} {
  --#{$login}--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$login}--PaddingBottom: var(--#{$pf-global}--spacer--lg);

  // container
  --#{$login}__container--xl--GridColumnGap: var(--#{$pf-global}--spacer--3xl);
  --#{$login}__container--MaxWidth: #{pf-size-prem(500px)}; // This is a magic number to prevent the login layout grow more than what's defined in the specs.
  --#{$login}__container--xl--MaxWidth: none;
  --#{$login}__container--PaddingLeft: #{pf-size-prem(98px)};
  --#{$login}__container--PaddingRight: #{pf-size-prem(98px)};
  --#{$login}__container--xl--GridTemplateColumns: #{pf-size-prem(544px)} minmax(auto, #{pf-size-prem(544px)}); // unique to the login layout

  @media (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$login}__container--MaxWidth: var(--#{$login}__container--xl--MaxWidth);
  }

  // header
  --#{$login}__header--MarginBottom: var(--#{$pf-global}--spacer--md);
  --#{$login}__header--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$login}__header--PaddingRight: var(--#{$pf-global}--spacer--md);

  @media (min-width: $pf-v5-global--breakpoint--sm) {
    --#{$login}__header--PaddingRight: 0;
    --#{$login}__header--PaddingLeft: 0;
  }

  --#{$login}__header--xl--MarginBottom: var(--#{$pf-global}--spacer--2xl);
  --#{$login}__header--xl--MarginTop: var(--#{$pf-global}--spacer--3xl);
  --#{$login}__header--c-brand--MarginBottom: var(--#{$pf-global}--spacer--lg);
  --#{$login}__header--c-brand--xl--MarginBottom: var(--#{$pf-global}--spacer--2xl);

  @media (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$login}__header--MarginBottom: var(--#{$login}__header--xl--MarginBottom);
    --#{$login}__header--c-brand--MarginBottom: var(--#{$login}__header--c-brand--xl--MarginBottom);
  }

  // main
  --#{$login}__main--BackgroundColor: var(--#{$pf-global}--BackgroundColor--light-100);
  --#{$login}__main--MarginBottom: var(--#{$pf-global}--spacer--lg);
  --#{$login}__main--BoxShadow: var(--#{$pf-global}--BoxShadow--xl);

  @media (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$login}__main--MarginBottom: 0;
  }

  // main header
  --#{$login}__main-header--PaddingTop: var(--#{$pf-global}--spacer--2xl);
  --#{$login}__main-header--PaddingRight: var(--#{$pf-global}--spacer--xl);
  --#{$login}__main-header--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$login}__main-header--PaddingLeft: var(--#{$pf-global}--spacer--xl);
  --#{$login}__main-header--md--PaddingRight: var(--#{$pf-global}--spacer--2xl);
  --#{$login}__main-header--md--PaddingLeft: var(--#{$pf-global}--spacer--2xl);
  --#{$login}__main-header--ColumnGap: var(--#{$pf-global}--spacer--md);
  --#{$login}__main-header--RowGap: var(--#{$pf-global}--spacer--md);

  // main header desc
  --#{$login}__main-header-desc--MarginBottom: var(--#{$pf-global}--spacer--sm);
  --#{$login}__main-header-desc--md--MarginBottom: 0;
  --#{$login}__main-header-desc--FontSize: var(--#{$pf-global}--FontSize--sm);


  @media (min-width: $pf-v5-global--breakpoint--md) {
    --#{$login}__main-header--PaddingRight: var(--#{$login}__main-header--md--PaddingRight);
    --#{$login}__main-header--PaddingLeft: var(--#{$login}__main-header--md--PaddingLeft);
    --#{$login}__main-header-desc--MarginBottom: var(--#{$login}__main-header-desc--md--MarginBottom);
  }

  // main body
  --#{$login}__main-body--PaddingRight: var(--#{$pf-global}--spacer--xl);
  --#{$login}__main-body--PaddingBottom: var(--#{$pf-global}--spacer--xl);
  --#{$login}__main-body--PaddingLeft: var(--#{$pf-global}--spacer--xl);
  --#{$login}__main-body--md--PaddingRight: var(--#{$pf-global}--spacer--2xl);
  --#{$login}__main-body--md--PaddingLeft: var(--#{$pf-global}--spacer--2xl);

  @media (min-width: $pf-v5-global--breakpoint--md) {
    --#{$login}__main-body--PaddingRight: var(--#{$login}__main-body--md--PaddingRight);
    --#{$login}__main-body--PaddingLeft: var(--#{$login}__main-body--md--PaddingLeft);
  }

  // main footer
  --#{$login}__main-footer--PaddingBottom: var(--#{$pf-global}--spacer--3xl);
  --#{$login}__main-footer--c-title--MarginBottom: var(--#{$pf-global}--spacer--md);
  --#{$login}__main-footer-links--PaddingTop: var(--#{$pf-global}--spacer--sm);
  --#{$login}__main-footer-links--PaddingRight: var(--#{$pf-global}--spacer--3xl);
  --#{$login}__main-footer-links--PaddingBottom: var(--#{$pf-global}--spacer--xl);
  --#{$login}__main-footer-links--PaddingLeft: var(--#{$pf-global}--spacer--3xl);
  --#{$login}__main-footer-links-item--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$login}__main-footer-links-item--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$login}__main-footer-links-item--MarginBottom: var(--#{$pf-global}--spacer--sm);
  --#{$login}__main-footer-links-item-link-svg--Fill: var(--#{$pf-global}--icon--Color--light);
  --#{$login}__main-footer-links-item-link-svg--Width: var(--#{$pf-global}--icon--FontSize--lg);
  --#{$login}__main-footer-links-item-link-svg--Height: var(--#{$pf-global}--icon--FontSize--lg);
  --#{$login}__main-footer-links-item-link-svg--hover--Fill: var(--#{$pf-global}--icon--Color--dark);
  --#{$login}__main-footer-band--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$login}__main-footer-band--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$login}__main-footer-band--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$login}__main-footer-band--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$login}__main-footer-band--BorderTopColor: var(--#{$pf-global}--BorderColor--100);
  --#{$login}__main-footer-band--BorderTopWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$login}__main-footer-band-item--PaddingTop: var(--#{$pf-global}--spacer--md);

  // footer
  --#{$login}__footer--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$login}__footer--PaddingRight: var(--#{$pf-global}--spacer--md);

  @media (min-width: $pf-v5-global--breakpoint--sm) {
    --#{$login}__footer--PaddingRight: 0;
    --#{$login}__footer--PaddingLeft: 0;
  }

  --#{$login}__footer--c-list--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$login}__footer--c-list--xl--PaddingTop: var(--#{$pf-global}--spacer--2xl);

  @media (min-width: $pf-v5-global--breakpoint--xl) {
    --#{$login}__footer--c-list--PaddingTop: var(--#{$login}__footer--c-list--xl--PaddingTop);
  }

  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-block-start: var(--#{$login}--PaddingTop);
  padding-block-end: var(--#{$login}--PaddingBottom);

  @media (min-width: $pf-v5-global--breakpoint--sm) {
    align-items: center;
  }
}

.#{$login}__container {
  width: 100%; // This keeps the login container from shrinking based on its content
  max-width: var(--#{$login}__container--MaxWidth);

  // Large viewports
  @media (min-width: $pf-v5-global--breakpoint--xl) {
    display: grid;
    grid-template-areas:
      "main header"
      "main footer"
      "main .";
    grid-template-columns: var(--#{$login}__container--xl--GridTemplateColumns);
    grid-column-gap: var(--#{$login}__container--xl--GridColumnGap);
    justify-content: center;
    padding-inline-start: var(--#{$login}__container--PaddingLeft);
    padding-inline-end: var(--#{$login}__container--PaddingRight);
  }
}

.#{$login}__header {
  @include pf-v5-t-dark;

  grid-area: header;
  padding-inline-start: var(--#{$login}__header--PaddingLeft);
  padding-inline-end: var(--#{$login}__header--PaddingRight);

  @media (min-width: $pf-v5-global--breakpoint--xl) {
    margin-block-start: var(--#{$login}__header--xl--MarginTop);
  }

  .#{$brand} {
    margin-block-end: var(--#{$login}__header--c-brand--MarginBottom);
  }
}

.#{$login}__main {
  grid-area: main;
  align-self: start;
  margin-block-end: var(--#{$login}__main--MarginBottom);
  background-color: var(--#{$login}__main--BackgroundColor);
  box-shadow: var(--#{$login}__main--BoxShadow);

  // If the first child isn't a header, then we need to put the header's top padding there
  > :first-child:not(.#{$login}__main-header) {
    padding-block-start: var(--#{$login}__main-header--PaddingTop);
  }

  // If the last child isn't the footer, then we need to put the footer's bottom padding there
  > :last-child:not(.#{$login}__main-footer) {
    padding-block-end: var(--#{$login}__main-footer--PaddingBottom);
  }
}

.#{$login}__main-header {
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--#{$login}__main-header--RowGap);
  column-gap: var(--#{$login}__main-header--ColumnGap);
  align-items: center;
  padding-block-start: var(--#{$login}__main-header--PaddingTop);
  padding-block-end: var(--#{$login}__main-header--PaddingBottom);
  padding-inline-start: var(--#{$login}__main-header--PaddingLeft);
  padding-inline-end: var(--#{$login}__main-header--PaddingRight);

  @media (min-width: $pf-v5-global--breakpoint--md) {
    grid-template-columns: 1fr auto;
  }
}

.#{$login}__main-header-utilities,
.#{$login}__main-header .#{$dropdown} {
  grid-row: auto;
  grid-column: auto;

  @media (min-width: $pf-v5-global--breakpoint--md) {
    grid-row: 1;
    grid-column: 2 / 3;
  }
}

.#{$login}__main-header-utilities {
  .#{$dropdown} {
    grid-row: auto;
    grid-column: auto;
  }
}

.#{$login}__main-header-desc {
  grid-column: 1 / -1;
  margin-block-end: var(--#{$login}__main-header-desc--MarginBottom);
  font-size: var(--#{$login}__main-header-desc--FontSize);
}

.#{$login}__main-body {
  padding-block-end: var(--#{$login}__main-body--PaddingBottom);
  padding-inline-start: var(--#{$login}__main-body--PaddingLeft);
  padding-inline-end: var(--#{$login}__main-body--PaddingRight);
}

.#{$login}__main-footer {
  display: flex;
  flex-wrap: wrap;

  .#{$title} {
    margin-block-end: var(--#{$login}__main-footer--c-title--MarginBottom);
    text-align: center;
  }

  > * {
    flex-basis: 100%;
  }
}

.#{$login}__main-footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block-start: var(--#{$login}__main-footer-links--PaddingTop);
  padding-block-end: var(--#{$login}__main-footer-links--PaddingBottom);
  padding-inline-start: var(--#{$login}__main-footer-links--PaddingLeft);
  padding-inline-end: var(--#{$login}__main-footer-links--PaddingRight);
}

.#{$login}__main-footer-links-item {
  padding-inline-start: var(--#{$login}__main-footer-links-item--PaddingLeft);
  padding-inline-end: var(--#{$login}__main-footer-links-item--PaddingRight);
  margin-block-end: var(--#{$login}__main-footer-links-item--MarginBottom);
}

.#{$login}__main-footer-links-item-link {
  svg {
    width: 100%;
    max-width: var(--#{$login}__main-footer-links-item-link-svg--Width);
    height: 100%;
    max-height: var(--#{$login}__main-footer-links-item-link-svg--Height);
    fill: var(--#{$login}__main-footer-links-item-link-svg--Fill);
  }

  &:hover {
    svg {
      fill: var(--#{$login}__main-footer-links-item-link-svg--hover--Fill);
    }
  }
}

.#{$login}__main-footer-band {
  padding-block-start: var(--#{$login}__main-footer-band--PaddingTop);
  padding-block-end: var(--#{$login}__main-footer-band--PaddingBottom);
  padding-inline-start: var(--#{$login}__main-footer-band--PaddingLeft);
  padding-inline-end: var(--#{$login}__main-footer-band--PaddingRight);
  text-align: center;
  border-block-start: var(--#{$login}__main-footer-band--BorderTopWidth) solid var(--#{$login}__main-footer-band--BorderTopColor);

  > * + * {
    padding-block-start: var(--#{$login}__main-footer-band-item--PaddingTop);
  }
}

.#{$login}__footer {
  @include pf-v5-t-dark;

  grid-area: footer;
  padding-inline-start: var(--#{$login}__footer--PaddingLeft);
  padding-inline-end: var(--#{$login}__footer--PaddingRight);

  .#{$list} {
    a {
      color: unset; // fixes a11y issue
    }

    &:not(:only-child) { // paragraph text might not always be included.
      padding-block-start: var(--#{$login}__footer--c-list--PaddingTop);
    }
  }
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/login";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-login;
}
