<a href="#" class="pf-c-login__footer-link{{#if login-footer-link--modifier}} {{login-footer-link--modifier}}{{/if}}"
  {{#if login-footer-link--attribute}}
    {{{login-footer-link--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</a>
