<div class="pf-c-login__main-footer-grid{{#if login-main-footer-grid--modifier}} {{login-main-footer-grid--modifier}}{{/if}}"
  {{#if login-main-footer-grid--attribute}}
    {{{login-main-footer-grid--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
