<a href="#" class="pf-c-login__footer-list-link{{#if login-footer-list-link--modifier}} {{login-footer-list-link--modifier}}{{/if}}"
  {{#if login-footer-list-link--attribute}}
    {{{login-footer-list-link--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</a>
