@import "../../patternfly-imports";

.pf-c-login {
  --pf-c-login--PaddingTop: var(--pf-global--spacer--lg);
  --pf-c-login--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-c-login--xl--BackgroundImage: linear-gradient(to right, var(--pf-global--BackgroundColor--dark-transparent-200), var(--pf-global--BackgroundColor--dark-transparent-200) calc((98px - var(--pf-c-login__container--xl--GridColumnGap)) + var(--pf-c-login__container--xl--GridColumnGap) + 272px), transparent calc((98px - var(--pf-c-login__container--xl--GridColumnGap)) + var(--pf-c-login__container--xl--GridColumnGap) + 272px)); // unique to the login layout

  // container
  --pf-c-login__container--xl--GridColumnGap: var(--pf-global--spacer--3xl);
  --pf-c-login__container--MaxWidth: #{pf-size-prem(500px)}; // This is a magic number to prevent the login layout grow more than what's defined in the specs.
  --pf-c-login__container--PaddingLeft: #{pf-size-prem(98px)};
  --pf-c-login__container--PaddingRight: #{pf-size-prem(98px)};
  --pf-c-login__container--xl--GridTemplateColumns: #{pf-size-prem(544px)} minmax(auto, #{pf-size-prem(544px)}); // unique to the login layout

  // header
  --pf-c-login__header--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-login__header--sm--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-login__header--sm--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-login__header--xl--MarginBottom: var(--pf-global--spacer--2xl);
  --pf-c-login__header--xl--MarginTop: var(--pf-global--spacer--3xl);
  --pf-c-login__header--c-brand--MarginBottom: var(--pf-global--spacer--lg);
  --pf-c-login__header--c-brand--xl--MarginBottom: var(--pf-global--spacer--2xl);

  @media (min-width: $pf-global--breakpoint--xl) {
    --pf-c-login__header--MarginBottom: var(--pf-c-login__header--xl--MarginBottom);
    --pf-c-login__header--c-brand--MarginBottom: var(--pf-c-login__header--c-brand--xl--MarginBottom);
  }

  // main
  --pf-c-login__main--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-login__main--xl--MarginBottom: var(--pf-global--spacer--lg);

  // main header
  --pf-c-login__main-header--PaddingTop: var(--pf-global--spacer--2xl);
  --pf-c-login__main-header--PaddingRight: var(--pf-global--spacer--2xl);
  --pf-c-login__main-header--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-login__main-header--PaddingLeft: var(--pf-global--spacer--2xl);
  --pf-c-login__main-header--ColumnGap: var(--pf-global--spacer--md);
  --pf-c-login__main-header--RowGap: var(--pf-global--spacer--sm);

  // main body
  --pf-c-login__main-body--PaddingRight: var(--pf-global--spacer--2xl);
  --pf-c-login__main-body--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-login__main-body--PaddingLeft: var(--pf-global--spacer--2xl);
  --pf-c-login__main-body--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-login__main-body--c-form__group--m-action--GridGap: var(--pf-global--spacer--lg);
  --pf-c-login__main-body--c-form__group--m-action--c-button--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-login__main-body--c-form__group--m-action--c-button--PaddingLeft: var(--pf-global--spacer--xl);

  // main footer
  --pf-c-login__main-footer--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-login__main-footer--PaddingRight: var(--pf-global--spacer--2xl);
  --pf-c-login__main-footer--PaddingBottom: var(--pf-global--spacer--3xl);
  --pf-c-login__main-footer--PaddingLeft: var(--pf-global--spacer--2xl);
  --pf-c-login__main-footer--c-title--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-login__main-footer-link--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-login__main-footer-link--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-login__main-footer-link--GridGap: var(--pf-global--spacer--sm);
  --pf-c-login__main-footer-link--Color: var(--pf-global--Color--dark-100);
  --pf-c-login__main-footer-link--hover--Color: var(--pf-global--Color--dark-200);
  --pf-c-login__main-footer-grid--GridGap: var(--pf-global--gutter);
  --pf-c-login__main-footer-grid--GridTemplateColumns: repeat(5, 1fr);
  --pf-c-login__main-footer-grid--md--GridTemplateColumns: repeat(auto-fit, minmax(100px, 1fr));

  @media (min-width: $pf-global--breakpoint--md) {
    --pf-c-login__main-footer-grid--GridTemplateColumns: var(--pf-c-login__main-footer-grid--md--GridTemplateColumns);
  }

  // footer
  --pf-c-login__footer--sm--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-login__footer--sm--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-login__footer-link--Color: var(--pf-global--Color--light-100);

  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: var(--pf-c-login--PaddingTop);
  padding-bottom: var(--pf-c-login--PaddingBottom);

  @media (min-width: $pf-global--breakpoint--xl) {
    justify-content: flex-start;
    background-image: var(--pf-c-login--xl--BackgroundImage);
  }

  @media (min-width: $pf-global--breakpoint--sm) {
    align-items: center;
  }

  @extend %pf-t-dark;
}

.pf-c-login__container {
  max-width: var(--pf-c-login__container--MaxWidth);

  // Large viewports
  @media (min-width: $pf-global--breakpoint--xl) {
    display: grid;
    grid-column-gap: var(--pf-c-login__container--xl--GridColumnGap);
    grid-template-columns: var(--pf-c-login__container--xl--GridTemplateColumns);
    grid-template-areas:
      "main header"
      "main footer"
      "main .";
    max-width: none;
    padding-right: var(--pf-c-login__container--PaddingRight);
    padding-left: var(--pf-c-login__container--PaddingLeft);
  }
}

.pf-c-login__header {
  grid-area: header;
  margin-bottom: var(--pf-c-login__header--MarginBottom);

  @media (max-width: $pf-global--breakpoint--sm) {
    padding-right: var(--pf-c-login__header--sm--PaddingRight);
    padding-left: var(--pf-c-login__header--sm--PaddingLeft);
  }

  @media (min-width: $pf-global--breakpoint--xl) {
    margin-top: var(--pf-c-login__header--xl--MarginTop);
  }

  .pf-c-brand {
    margin-bottom: var(--pf-c-login__header--c-brand--MarginBottom);
  }
}

.pf-c-login__main {
  // This component always needs to be light
  @extend %pf-t-light;

  grid-area: main;
  background-color: var(--pf-c-login__main--BackgroundColor);

  // If the first child isn't a header, then we need to put the header's top padding there
  > :first-child:not(.pf-c-login__main-header) {
    padding-top: var(--pf-c-login__main-header--PaddingTop);
  }

  // If the last child isn't the footer, then we need to put the footer's bottom padding there
  > :last-child:not(.pf-c-login__main-footer) {
    padding-bottom: var(--pf-c-login__main-footer--PaddingBottom);
  }

  // This is not mobile first but avoids removing the margin for larger devices
  @media (max-width: $pf-global--breakpoint--xl) {
    margin-bottom: var(--pf-c-login__main--xl--MarginBottom);
  }
}

.pf-c-login__main-header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--pf-c-login__main-header--ColumnGap);
  row-gap: var(--pf-c-login__main-header--RowGap);
  align-items: center;
  padding: var(--pf-c-login__main-header--PaddingTop) var(--pf-c-login__main-header--PaddingRight) var(--pf-c-login__main-header--PaddingBottom) var(--pf-c-login__main-header--PaddingLeft);

  .pf-c-title {
    grid-column: -1 / 1;
  }
}

.pf-c-login__main-body {
  padding: var(--pf-c-login__main-body--PaddingTop) var(--pf-c-login__main-body--PaddingRight) var(--pf-c-login__main-body--PaddingBottom) var(--pf-c-login__main-body--PaddingLeft);

  .pf-c-form__group.pf-m-action {
    display: grid;
    justify-items: center;
    grid-gap: var(--pf-c-login__main-body--c-form__group--m-action--GridGap);

    @media (min-width: $pf-global--breakpoint--md) {
      grid-template-columns: auto 1fr;
      justify-items: start;
    }

    .pf-c-button {
      padding-right: var(--pf-c-login__main-body--c-form__group--m-action--c-button--PaddingRight);
      padding-left: var(--pf-c-login__main-body--c-form__group--m-action--c-button--PaddingLeft);
      justify-self: stretch;
    }
  }
}

.pf-c-login__main-footer {
  padding: var(--pf-c-login__main-footer--PaddingTop) var(--pf-c-login__main-footer--PaddingRight) var(--pf-c-login__main-footer--PaddingBottom) var(--pf-c-login__main-footer--PaddingLeft);

  .pf-c-title {
    margin-bottom: var(--pf-c-login__main-footer--c-title--MarginBottom);
    text-align: center;

    @media (min-width: $pf-global--breakpoint--md) {
      text-align: left;
    }
  }
}

.pf-c-login__main-footer-link {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-top: var(--pf-c-login__main-footer-link--PaddingTop);
  padding-bottom: var(--pf-c-login__main-footer-link--PaddingBottom);
  color: var(--pf-c-login__main-footer-link--Color);

  @media (min-width: $pf-global--breakpoint--md) {
    grid-gap: var(--pf-c-login__main-footer-link--GridGap);
  }

  &:hover,
  &.pf-m-hover {
    --pf-c-login__main-footer-link--Color: var(--pf-c-login__main-footer-link--hover--Color);
  }
}

.pf-c-login__main-footer-link-text {
  // styles the text to be hidden from the screen but read by a screen reader.
  @media (max-width: $pf-global--breakpoint--md) {
    position: fixed;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.pf-c-login__footer {
  grid-area: footer;

  @media (max-width: $pf-global--breakpoint--sm) {
    padding-right: var(--pf-c-login__footer--sm--PaddingRight);
    padding-left: var(--pf-c-login__footer--sm--PaddingLeft);
  }
}

.pf-c-login__main-footer-grid {
  display: grid;
  grid-gap: var(--pf-c-login__main-footer-grid--GridGap);
  grid-template-columns: var(--pf-c-login__main-footer-grid--GridTemplateColumns);

  @media (max-width: $pf-global--breakpoint--md) {
    justify-items: center;
  }

  @media (min-width: $pf-global--breakpoint--md) {
    .pf-c-login__main-footer-grid-item {
      .pf-c-button {
        padding-left: 0;
      }
    }
  }
}

.pf-c-login__main-footer-grid-item {
  &.pf-m-more {
    @media (max-width: $pf-global--breakpoint--md) {
      grid-column: 1 / -1;
    }
  }
}

.pf-c-login__footer-link {
  &,
  &:hover,
  &.pf-m-hover {
    color: var(--pf-c-login__footer-link--Color);
  }
}
