<div class="pf-c-login__main-header-utilities{{#if login-main-header-utilities--modifier}} {{login-main-header-utilities--modifier}}{{/if}}"
  {{#if login-main-header-utilities--attribute}}
    {{{login-main-header-utilities--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
