<li class="pf-c-login__main-footer-grid-item{{#if login-main-footer-grid-item--modifier}} {{login-main-footer-grid-item--modifier}}{{/if}}"
  {{#if login-main-footer-grid-item--attribute}}
    {{{login-main-footer-grid-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
