<h1>Dashboard</h1>

{{#> level}}
  {{#> level-item}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quas illo unde beatae, delectus expedita culpa, dolorem explicabo laborum distinctio eos consequuntur debitis fugiat, cum exercitationem labore excepturi illum quaerat.</p>
    {{#> button}}button 1{{/button}}
  {{/level-item}}
  {{#> level-item}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus magni labore, delectus, eius aperiam cum non repudiandae optio odio est facilis qui minima earum necessitatibus fuga esse, atque reprehenderit porro.</p>
    {{#> button}}button 2{{/button}}
  {{/level-item}}
  {{#> level-item}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis nisi rerum laboriosam excepturi sunt, ducimus ex blanditiis, cumque nulla at hic assumenda deserunt modi aperiam perferendis eum ut debitis officiis?</p>
    {{#> button}}button 3{{/button}}
  {{/level-item}}
{{/level}}
