<h2 class="example-title">
  Small Gutters
</h2>
{{#> stack stack--modifier="pf-m-gutter-sm"}}
  {{#> stack-item}}
    content
  {{/stack-item}}
  {{#> stack-item stack-item--modifier="pf-m-fill"}}
    pf-m-fill
  {{/stack-item}}
  {{#> stack-item}}
    content
  {{/stack-item}}
{{/stack}}
<h2 class="example-title">
  Medium Gutters
</h2>
{{#> stack stack--modifier="pf-m-gutter-md"}}
  {{#> stack-item}}
    content
  {{/stack-item}}
  {{#> stack-item stack-item--modifier="pf-m-fill"}}
    pf-m-fill
  {{/stack-item}}
  {{#> stack-item}}
    content
  {{/stack-item}}
{{/stack}}
<h2 class="example-title">
  Large Gutters
</h2>
{{#> stack stack--modifier="pf-m-gutter-lg"}}
  {{#> stack-item}}
    content
  {{/stack-item}}
  {{#> stack-item stack-item--modifier="pf-m-fill"}}
    pf-m-fill
  {{/stack-item}}
  {{#> stack-item}}
    content
  {{/stack-item}}
{{/stack}}