<div class="pf-c-label-group__header{{#if label-group-header--modifier}} {{label-group-header--modifier}}{{/if}}"
  {{#if label-group-header--attribute}}
    {{{label-group-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>