<span class="pf-c-label-group__add{{#if label-group-add--modifier}} {{label-group-add--modifier}}{{/if}}"
  {{#if label-group-add--attribute}}
    {{{label-group-add--attribute}}}
  {{/if}}>
  {{#> label label--IsAdd="true"}}
    Add Label
  {{/label}}
</span>
