<span class="{{pfv}}label-group__label{{#if label-group-label--modifier}} {{label-group-label--modifier}}{{/if}}"
  aria-hidden="true"
  {{#if label-group-label--attribute}}
    {{{label-group-label--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
