<span class="{{pfv}}number-input__icon{{#if number-input-icon--modifier}} {{number-input-icon--modifier}}{{/if}}"
  {{#if number-input-icon--attribute}}
    {{{number-input-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
