<span class="{{pfv}}number-input__unit{{#if number-input-unit--modifier}} {{number-input-unit--modifier}}{{/if}}"
  {{#if number-input-unit--attribute}}
    {{{number-input-unit--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
