<div class="{{pfv}}number-input{{#if number-input--modifier}} {{number-input--modifier}}{{/if}}"
  {{#if number-input--attribute}}
    {{{number-input--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
