{{#> options-menu id="options-menu-single-disabled-example" options-menu--HasToggleIcon="true" options-menu-toggle--IsDisabled="true"}}
  {{#> options-menu-toggle}}
    <span class="pf-c-options-menu__toggle-text">
      Disabled options menu
    </span>
  {{/options-menu-toggle}}
{{/options-menu}}
