{{#> options-menu options-menu--IsExpanded="true" options-menu--modifier="pf-m-top" id="options-menu-top-example" options-menu--label-text="Items per page" options-menu--HasToggleIcon="true" options-menu--modifier="pf-m-align-right"}}
  {{#> options-menu-toggle}}
    <span class="pf-c-options-menu__toggle-text">
      Options Menu
    </span>
  {{/options-menu-toggle}}
  {{> options-menu-single}}
{{/options-menu}}
