{{#> options-menu id="options-menu-multiple-example" options-menu--label-text="Sort methods"  options-menu--HasToggleIcon="true"}}
  {{#> options-menu-toggle}}
    <span class="pf-c-options-menu__toggle-text">
      Sort by
    </span>
  {{/options-menu-toggle}}
  {{> options-menu-multiple}}
{{/options-menu}}

{{#> options-menu options-menu--IsExpanded="true" id="options-menu-multiple-expanded-example" options-menu--label-text="Sort methods"  options-menu--HasToggleIcon="true"}}
  {{#> options-menu-toggle}}
    <span class="pf-c-options-menu__toggle-text">
      Sort by
    </span>
  {{/options-menu-toggle}}
  {{> options-menu-multiple}}
{{/options-menu}}
