{{#> options-menu options-menu--IsExpanded="true" id="options-menu-align-right-example" options-menu--HasToggleIcon="true" options-menu--modifier="pf-m-align-right"}}
  {{#> options-menu-toggle}}
    <span class="pf-c-options-menu__toggle-text">
      Options menu
    </span>
  {{/options-menu-toggle}}
  {{> options-menu-single}}
{{/options-menu}}
