{{#> options-menu id="options-menu-single-example" options-menu--label-text="Items per page" options-menu--HasToggleIcon="true"}}
  {{#> options-menu-toggle}}
    <span class="pf-c-options-menu__toggle-text">
      Options Menu
    </span>
  {{/options-menu-toggle}}
  {{> options-menu-single}}
{{/options-menu}}

{{#> options-menu options-menu--IsExpanded="true" id="options-menu-single-expanded-example" options-menu--label-text="Items per page" options-menu--HasToggleIcon="true"}}
  {{#> options-menu-toggle}}
    <span class="pf-c-options-menu__toggle-text">
      Options Menu
    </span>
  {{/options-menu-toggle}}
  {{> options-menu-single}}
{{/options-menu}}
