// stylelint-disable
:root {
  --pf--global--background--color--primary: var(--pf--global--background--color--100);
  --pf--global--background--color--primary--hover: var(--pf--global--background--color--200);
  --pf--global--background--color--primary--selected: var(--pf--global--background--color--200);
  --pf--global--background--color--secondary: var(--pf--global--background--color--200);
  --pf--global--background--color--secondary--hover: var(--pf--global--background--color--300);
  --pf--global--background--color--secondary--selected: var(--pf--global--background--color--300);
  --pf--global--background--color--floating: var(--pf--global--background--color--primary);
  --pf--global--background--color--floating--hover: var(--pf--global--background--color--200);
  --pf--global--background--color--floating--selected: var(--pf--global--background--color--200);
  --pf--global--background--color--action--plain: transparent;
  --pf--global--background--color--action--plain--hover: var(--pf--global--background--color--200);
  --pf--global--background--color--action--plain--hover--blend: var(--pf--global--mix-blend-mode--100);
  --pf--global--background--color--action--plain--hover--alt: var(--pf--global--background--color--100);

  --pf--global--background--color--control: var(--pf--global--background--color--primary);
  --pf--global--background--color--highlight: var(--pf--global--background--color--highlight--100);
  --pf--global--background--color--highlight--active: var(--pf--global--background--color--highlight--200);
  --pf--global--background--color--inverse: var(--pf--global--background--color--400);
  --pf--global--background--color--disabled: var(--pf--global--color--disabled--200);

  --pf--global--color--brand: var(--pf--global--color--brand--200);
  --pf--global--color--brand--hover: var(--pf--global--color--brand--300);
  --pf--global--color--brand--active: var(--pf--global--color--brand--300);

  --pf--global--color--custom: var(--pf--global--color--custom--100);
  --pf--global--color--custom--hover: var(--pf--global--color--custom--200);
  --pf--global--color--custom--active: var(--pf--global--color--custom--200);

  --pf--global--color--success: var(--pf--global--color--success--100);
  --pf--global--color--success--hover: var(--pf--global--color--success--200);
  --pf--global--color--success--active: var(--pf--global--color--success--200);

  --pf--global--color--warning: var(--pf--global--color--warning--100);
  --pf--global--color--warning--hover: var(--pf--global--color--warning--200);
  --pf--global--color--warning--active: var(--pf--global--color--warning--200);

  --pf--global--color--danger: var(--pf--global--color--danger--100);
  --pf--global--color--danger--hover: var(--pf--global--color--danger--200);
  --pf--global--color--danger--active: var(--pf--global--color--danger--200);

  --pf--global--color--info: var(--pf--global--color--info--100);
  --pf--global--color--info--hover: var(--pf--global--color--info--200);
  --pf--global--color--info--active: var(--pf--global--color--info--200);
  --pf--global--icon--color--on-brand: var(--pf--global--icon--color--inverse);
  --pf--global--icon--color--on-brand--hover: var(--pf--global--icon--color--inverse);
  --pf--global--text--color--on-brand: var(--pf--global--icon--color--inverse);
  --pf--global--text--color--on-brand--hover: var(--pf--global--icon--color--inverse);

  --pf--global--icon--color--on-custom: var(--pf--global--icon--color--inverse);
  --pf--global--icon--color--on-custom--hover: var(--pf--global--icon--color--inverse);
  --pf--global--text--color--on-custom: var(--pf--global--icon--color--inverse);
  --pf--global--text--color--on-custom--hover: var(--pf--global--icon--color--inverse);

  --pf--global--icon--color--on-success: var(--pf--global--icon--color--inverse);
  --pf--global--icon--color--on-success-hover: var(--pf--global--icon--color--inverse);
  --pf--global--text--color--on-success: var(--pf--global--icon--color--inverse);
  --pf--global--text--color--on-success-hover: var(--pf--global--icon--color--inverse);

  --pf--global--icon--color--on-warning: var(--pf--global--text--color--regular);
  --pf--global--icon--color--on-warning--hover: var(--pf--global--text--color--inverse);
  --pf--global--text--color--on-warning: var(--pf--global--text--color--regular);
  --pf--global--text--color--on-warning--hover: var(--pf--global--text--color--inverse);

  --pf--global--icon--color--on-danger: var(--pf--global--text--color--inverse);
  --pf--global--icon--color--on-danger--hover: var(--pf--global--text--color--inverse);
  --pf--global--text--color--on-danger: var(--pf--global--text--color--inverse);
  --pf--global--text--color--on-danger--hover: var(--pf--global--text--color--inverse);

  --pf--global--icon--color--on-info: var(--pf--global--text--color--inverse);
  --pf--global--icon--color--on-info--hover: var(--pf--global--text--color--inverse);
  --pf--global--text--color--on-info: var(--pf--global--text--color--inverse);
  --pf--global--text--color--on-info--hover: var(--pf--global--text--color--inverse);

  --pf--global--text--color--regular: var(--pf--global--color--text--100);
  --pf--global--text--color--subtle: var(--pf--global--color--text--200);
  --pf--global--text--color--inverse: var(--pf--global--color--text--300);
  --pf--global--text--color--disabled: var(--pf--global--color--disabled--300);
  --pf--global--text--color--disabled--light: var(--pf--global--color--disabled--100);
  --pf--global--text--color--placeholder: var(--pf--global--text--color--subtle);
  --pf--global--link--text--color: var(--pf--global--link--color--100);
  --pf--global--link--text--color--hover: var(--pf--global--link--color--200);
  --pf--global--link--text--color--visited: var(--pf--global--link--color--300);

  --pf--global--link--text-decoration: var(--pf--global--text-decoration--200);
  --pf--global--link--text-decoration--hover: var(--pf--global--text-decoration--200);

  --pf--global--text--color--brand: var(--pf--global--color--brand);
  --pf--global--text--color--brand--hover: var(--pf--global--color--brand-hover);
  --pf--global--text--color--brand--active: var(--pf--global--color--brand-active);

  --pf--global--text--color--custom: var(--pf--global--color--custom);
  --pf--global--text--color--custom--hover: var(--pf--global--color--custom-hover);
  --pf--global--text--color--custom--active: var(--pf--global--color--custom-active);

  --pf--global--text--color--success: var(--pf--global--color--success);
  --pf--global--text--color--success--hover: var(--pf--global--color--success-hover);
  --pf--global--text--color--success--active: var(--pf--global--color--success-active);

  --pf--global--text--color--warning: var(--pf--global--color--warning);
  --pf--global--text--color--warning--hover: var(--pf--global--color--warning-hover);
  --pf--global--text--color--warning--active: var(--pf--global--color--warning-active);

  --pf--global--text--color--danger: var(--pf--global--color--danger);
  --pf--global--text--color--danger--hover: var(--pf--global--color--danger-hover);
  --pf--global--text--color--danger--active: var(--pf--global--color--danger-active);

  --pf--global--text--color--info: var(--pf--global--color--info);
  --pf--global--text--color--info-hover: var(--pf--global--color--info-hover);
  --pf--global--text--color--info-active: var(--pf--global--color--info-active);

  --pf--global--icon--color--brand: var(--pf--global--color--brand);
  --pf--global--icon--color--brand--hover: var(--pf--global--color--brand--hover);
  --pf--global--icon--color--brand--active: var(--pf--global--color--brand--active);

  --pf--global--icon--color--custom: var(--pf--global--color--custom);
  --pf--global--icon--color--custom--hover: var(--pf--global--color--custom--hover);
  --pf--global--icon--color--custom--active: var(--pf--global--color--custom--active);

  --pf--global--icon--color--success: var(--pf--global--color--success);
  --pf--global--icon--color--success--hover: var(--pf--global--color--success--hover);
  --pf--global--icon--color--success--active: var(--pf--global--color--success--active);

  --pf--global--icon--color--warning: var(--pf--global--color--warning);
  --pf--global--icon--color--warning--hover: var(--pf--global--color--warning--hover);
  --pf--global--icon--color--warning--active: var(--pf--global--color--warning--active);

  --pf--global--icon--color--danger: var(--pf--global--color--danger);
  --pf--global--icon--color--danger--hover: var(--pf--global--color--danger--hover);
  --pf--global--icon--color--danger--active: var(--pf--global--color--danger--active);

  --pf--global--icon--color--info: var(--pf--global--color--info);
  --pf--global--icon--color--info--hover: var(--pf--global--color--info--hover);
  --pf--global--icon--color--info--active: var(--pf--global--color--info--active);

  --pf--global--border--color--brand: var(--pf--global--color--brand);
  --pf--global--border--color--brand--hover: var(--pf--global--color--brand--hover);
  --pf--global--border--color--brand--active: var(--pf--global--color--brand--hover);

  --pf--global--border--color--custom: var(--pf--global--color--custom);
  --pf--global--border--color--custom--hover: var(--pf--global--color--custom--hover);
  --pf--global--border--color--custom--active: var(--pf--global--color--custom--hover);

  --pf--global--border--color--success: var(--pf--global--color--success);
  --pf--global--border--color--success--hover: var(--pf--global--color--success--hover);
  --pf--global--border--color--success--active: var(--pf--global--color--success--active);

  --pf--global--border--color--warning: var(--pf--global--color--warning);
  --pf--global--border--color--warning--hover: var(--pf--global--color--warning--hover);
  --pf--global--border--color--danger--active: var(--pf--global--color--warning--active);

  --pf--global--border--color--danger: var(--pf--global--color--danger);
  --pf--global--border--color--danger--hover: var(--pf--global--color--danger--hover);
  --pf--global--border--color--danger--active: var(--pf--global--color--danger--active);

  --pf--global--border--color-info: var(--pf--global--color--info);
  --pf--global--border--color--info--hover: var(--pf--global--color--info--hover);
  --pf--global--border--color--info--active: var(--pf--global--color--info--active);

  --pf--global--icon--color--regular: var(--pf--global--icon--color--100);
  --pf--global--icon--color--subtle: var(--pf--global--icon--color--200);
  --pf--global--icon--color--inverse: var(--pf--global--icon--color--300);
  --pf--global--icon--color--disabled: var(--pf--global--color--disabled--300);

  --pf--global--border--color: var(--pf--global--border--color--100);
  --pf--global--border--color--hover: var(--pf--global--color--brand--100);
  --pf--global--border--color--active: var(--pf--global--color--brand--300);

  --pf--global--border--width--divider: var(--pf--global--border--width--100);
  --pf--global--border--width--divider--hover: var(--pf--global--border--width--100);
  --pf--global--border--width--divider--active: var(--pf--global--border--width--100);
  --pf--global--border--width--button: var(--pf--global--border--width--100);
  --pf--global--border--width--button--hover: var(--pf--global--border--width--200);
  --pf--global--border--width--button--active: var(--pf--global--border--width--200);
  --pf--global--border--width--control: var(--pf--global--border--width--100);
  --pf--global--border--width--control--hover: var(--pf--global--border--width--100);
  --pf--global--border--width--control--active: var(--pf--global--border--width--200);

  --pf--global--border--radius--tiny: var(--pf--global--border--radius--100);
  --pf--global--border--radius--small: var(--pf--global--border--radius--200);
  --pf--global--border--radius--medium: var(--pf--global--border--radius--300);
  --pf--global--border--radius--large: var(--pf--global--border--radius--400);
  --pf--global--border--radius--pill: var(--pf--global--border--radius--500);

  --pf--global--font--family--body: var(--pf--global--font--family--100);
  --pf--global--font--family--heading: var(--pf--global--font--family--200);
  --pf--global--font--family--mono: var(--pf--global--font--family--300);
  --pf--global--font--line-height--body: var(--pf--global--font--line-height--100);
  --pf--global--font--line-height--heading: var(--pf--global--font--line-height--200);
  --pf--global--font--weight--body: var(--pf--global--font--weight--body--100);
  --pf--global--font--weight--body--bold: var(--pf--global--font--weight--body--200);
  --pf--global--font--weight--heading: var(--pf--global--font--weight--heading--100);
  --pf--global--font--weight--heading--bold: var(--pf--global--font--weight--heading--200);
  --pf--global--font--size--body--sm: var(--pf--global--font--size--body--100);
  --pf--global--font--size--body--md: var(--pf--global--font--size--body--200);
  --pf--global--font--size--body--lg: var(--pf--global--font--size--body--300);
  --pf--global--font--size--body: var(--pf--global--font--size--body--md);
  --pf--global--font--size--heading--xs: var(--pf--global--font--size--heading--100);
  --pf--global--font--size--heading--sm: var(--pf--global--font--size--heading--200);
  --pf--global--font--size--heading--md: var(--pf--global--font--size--heading--300);
  --pf--global--font--size--heading--lg: var(--pf--global--font--size--heading--400);
  --pf--global--font--size--heading--xl: var(--pf--global--font--size--heading--500);
  --pf--global--font--size--heading--2xl: var(--pf--global--font--size--heading--600);

  // gutters 
  --pf--global--gutter: var(--pf--global--spacer--md);
  --pf--global--gutter--compact: var(--pf--global--spacer--sm);

  // insets 
  --pf--global--inset: var(--pf--global--spacer--lg);
  --pf--global--inset--compact: var(--pf--global--spacer--md);
}
