<div class="{{pfv}}sidebar{{#if sidebar--modifier}} {{sidebar--modifier}}{{/if}}"
  {{#if sidebar--attribute}}
    {{{sidebar--attribute}}}
  {{/if}}>
  {{#> sidebar-main}}
    {{> @partial-block}}
  {{/sidebar-main}}
</div>
