<div class="{{pfv}}sidebar
  {{setModifiers
    sidebar--HasBorder='pf-m-border'
    sidebar--modifier=sidebar--modifier
  }}"
  {{#if sidebar--attribute}}
    {{{sidebar--attribute}}}
  {{/if}}>
  {{#> sidebar-main}}
    {{> @partial-block}}
  {{/sidebar-main}}
</div>
