<div class="{{pfv}}sidebar__panel{{#if sidebar-panel--modifier}} {{sidebar-panel--modifier}}{{/if}}"
  {{#if sidebar-panel--attribute}}
    {{{sidebar-panel--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
