<div class="{{pfv}}sidebar__content{{#if sidebar-content--modifier}} {{sidebar-content--modifier}}{{/if}}"
  {{#if sidebar-content--attribute}}
    {{{sidebar-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
