<div class="pf-c-input-group__icon{{#if input-group-icon--modifier}} {{input-group-icon--modifier}}{{/if}}" 
  {{#if input-group-icon--attribute}}
    {{{input-group-icon--attribute}}}
  {{/if}}>
  <i class="fas{{#if input-group-icon--type}} fa-{{input-group-icon--type}}{{/if}}" aria-hidden="true"></i>
</div>
