<div class="pf-c-input-group__icon{{#if input-group-icon--modifier}} {{input-group-icon--modifier}}{{/if}}" 
  {{#if input-group-icon--attribute}}
    {{{input-group-icon--attribute}}}
  {{/if}}>
  {{#if input-group-icon--type}}
    <i class="fas fa-{{input-group-icon--type}}" aria-hidden="true"></i>
  {{else}}
    {{> @partial-block}}
  {{/if}}
</div>
