// @debug $input-group; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$input-group} {
  // Input group
  --#{$input-group}--child--ZIndex: var(--#{$pf-global}--ZIndex--xs);

  // Input group item
  --#{$input-group}__item--offset: var(--#{$pf-global}--BorderWidth--sm);
  --#{$input-group}__item--MarginLeft: calc(var(--#{$input-group}__item--offset) * -1);
  --#{$input-group}__item--BorderWidth--base: var(--#{$input-group}__item--offset);
  --#{$input-group}__item--BorderColor--base: var(--#{$pf-global}--BorderColor--300);
  --#{$input-group}__item--BorderColor--accent: var(--#{$pf-global}--BorderColor--200);
  --#{$input-group}__item--BackgroundColor: transparent;

  // Input group item, box variant
  --#{$input-group}__item--m-box--PaddingRight: var(--#{$pf-global}--spacer--sm);
  --#{$input-group}__item--m-box--PaddingLeft: var(--#{$pf-global}--spacer--sm);
  --#{$input-group}__item--m-box--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$input-group}__item--m-box--BorderWidth: var(--#{$input-group}__item--offset);
  --#{$input-group}__item--m-box--BorderTopColor: var(--#{$input-group}__item--BorderColor--base);
  --#{$input-group}__item--m-box--BorderRightColor: var(--#{$input-group}__item--BorderColor--base);
  --#{$input-group}__item--m-box--BorderBottomColor: var(--#{$input-group}__item--BorderColor--accent);
  --#{$input-group}__item--m-box--BorderLeftColor: var(--#{$input-group}__item--BorderColor--base);

  // Input group item, plain variant
  --#{$input-group}__item--m-plain--BackgroundColor: transparent;

  // Input group text
  --#{$input-group}__text--FontSize: var(--#{$pf-global}--FontSize--md);
  --#{$input-group}__text--Color: var(--#{$pf-global}--Color--dark-200);

  // Input group text, disabled variant
  --#{$input-group}__item--m-disabled__text--Color: var(--#{$pf-global}--disabled-color--100);
  --#{$input-group}__item--m-disabled--BorderBottomColor: transparent;
  --#{$input-group}__item--m-disabled--BackgroundColor: var(--#{$pf-global}--disabled-color--300);

  display: flex;
  width: 100%;
}

.#{$input-group}__item {
  position: relative; // stack items without explicit z-index
  display: flex;
  min-width: var(--#{$input-group}__item--MinWidth, revert);
  max-width: var(--#{$input-group}__item--MaxWidth, revert);
  background-color: var(--#{$input-group}__item--BackgroundColor);
  border-block-start-color: var(--#{$input-group}__item--m-box--BorderTopColor);
  border-block-end-color: var(--#{$input-group}__item--m-box--BorderBottomColor);
  border-inline-start-color: var(--#{$input-group}__item--m-box--BorderLeftColor);
  border-inline-end-color: var(--#{$input-group}__item--m-box--BorderRightColor);

  &:where(:not(:first-child)) {
    margin-inline-start: var(--#{$input-group}__item--MarginLeft);
  }

  &.pf-m-box {
    --#{$input-group}__item--BackgroundColor: var(--#{$input-group}__item--m-box--BackgroundColor);

    padding-inline-start: var(--#{$input-group}__item--m-box--PaddingLeft);
    padding-inline-end: var(--#{$input-group}__item--m-box--PaddingRight);
    border: var(--#{$input-group}__item--m-box--BorderWidth) solid;
    border-block-start-color: var(--#{$input-group}__item--m-box--BorderTopColor);
    border-block-end-color: var(--#{$input-group}__item--m-box--BorderBottomColor);
    border-inline-start-color: var(--#{$input-group}__item--m-box--BorderLeftColor);
    border-inline-end-color: var(--#{$input-group}__item--m-box--BorderRightColor);
  }

  &.pf-m-plain {
    --#{$input-group}__item--MarginLeft: 0;
    --#{$input-group}__item--BackgroundColor: var(--#{$input-group}__item--m-plain--BackgroundColor);

    border: none;
  }

  &.pf-m-disabled {
    --#{$input-group}__item--BackgroundColor: var(--#{$input-group}__item--m-disabled--BackgroundColor);
    --#{$input-group}__item--m-box--BorderBottomColor: var(--#{$input-group}__item--m-disabled--BorderBottomColor);
    --#{$input-group}__text--Color: var(--#{$input-group}__item--m-disabled__text--Color);
  }

  &.pf-m-fill {
    flex-grow: 1;
  }
}

.#{$input-group}__text {
  align-self: center;
  font-size: var(--#{$input-group}__text--FontSize);
  color: var(--#{$input-group}__text--Color);

  @at-root label#{&} {
    cursor: pointer;
  }
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/input-group";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-input-group;
}
