@use '../../sass-utilities' as *;

@include pf-root($input-group) {
  --#{$input-group}--Gap: var(--pf-t--global--spacer--gap--control-to-control--default);

  // Input group item
  --#{$input-group}__item--offset: var(--pf-t--global--border--width--control--default);
  --#{$input-group}__item--BorderWidth--base: var(--pf-t--global--border--width--control--default);
  --#{$input-group}__item--BorderColor--base: var(--pf-t--global--border--color--default);
  --#{$input-group}__item--BackgroundColor: transparent;
  --#{$input-group}__item--AlignItems: start;

  // Input group item, box variant
  --#{$input-group}__item--m-box--PaddingInlineEnd: var(--pf-t--global--spacer--sm);
  --#{$input-group}__item--m-box--PaddingInlineStart: var(--pf-t--global--spacer--sm);
  --#{$input-group}__item--m-box--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$input-group}__item--m-box--BorderWidth: var(--#{$input-group}__item--BorderWidth--base);
  --#{$input-group}__item--m-box--BorderRadius: var(--pf-t--global--border--radius--small);
  --#{$input-group}__item--m-box--BorderBlockStartColor: var(--#{$input-group}__item--BorderColor--base);
  --#{$input-group}__item--m-box--BorderInlineEndColor: var(--#{$input-group}__item--BorderColor--base);
  --#{$input-group}__item--m-box--BorderBlockEndColor: var(--#{$input-group}__item--BorderColor--base);
  --#{$input-group}__item--m-box--BorderInlineStartColor: var(--#{$input-group}__item--BorderColor--base);

  // Input group item, plain variant
  --#{$input-group}__item--m-plain--BackgroundColor: transparent;

  // Input group text
  --#{$input-group}__text--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$input-group}__text--Color: var(--pf-t--global--text--color--regular);

  // Input group text, disabled variant
  --#{$input-group}__item--m-disabled__text--Color: var(--pf-t--global--text--color--on-disabled);
  --#{$input-group}__item--m-disabled--BackgroundColor: var(--pf-t--global--background--color--disabled--default);
}

.#{$input-group} {
  display: flex;
  gap: var(--#{$input-group}--Gap);
  width: 100%;
}

.#{$input-group}__item {
  position: relative; // stack items without explicit z-index
  display: flex;
  align-items: var(--#{$input-group}__item--AlignItems);
  min-width: var(--#{$input-group}__item--MinWidth, revert);
  max-width: var(--#{$input-group}__item--MaxWidth, revert);
  background-color: var(--#{$input-group}__item--BackgroundColor);
  border-block-start-color: var(--#{$input-group}__item--m-box--BorderBlockStartColor);
  border-block-end-color: var(--#{$input-group}__item--m-box--BorderBlockEndColor);
  border-inline-start-color: var(--#{$input-group}__item--m-box--BorderInlineStartColor);
  border-inline-end-color: var(--#{$input-group}__item--m-box--BorderInlineEndColor);

  &.pf-m-box {
    --#{$input-group}__item--BackgroundColor: var(--#{$input-group}__item--m-box--BackgroundColor);

    padding-inline-start: var(--#{$input-group}__item--m-box--PaddingInlineStart);
    padding-inline-end: var(--#{$input-group}__item--m-box--PaddingInlineEnd);
    border: var(--#{$input-group}__item--m-box--BorderWidth) solid;
    border-block-start-color: var(--#{$input-group}__item--m-box--BorderBlockStartColor);
    border-block-end-color: var(--#{$input-group}__item--m-box--BorderBlockEndColor);
    border-inline-start-color: var(--#{$input-group}__item--m-box--BorderInlineStartColor);
    border-inline-end-color: var(--#{$input-group}__item--m-box--BorderInlineEndColor);
    border-radius: var(--#{$input-group}__item--m-box--BorderRadius);
  }

  &.pf-m-plain {
    --#{$input-group}__item--BackgroundColor: var(--#{$input-group}__item--m-plain--BackgroundColor);

    border: none;
  }

  &.pf-m-disabled {
    --#{$input-group}__item--BackgroundColor: var(--#{$input-group}__item--m-disabled--BackgroundColor);
    --#{$input-group}__text--Color: var(--#{$input-group}__item--m-disabled__text--Color);
  }

  &.pf-m-fill {
    flex-grow: 1;
  }
}

.#{$input-group}__text {
  align-self: center;
  font-size: var(--#{$input-group}__text--FontSize);
  color: var(--#{$input-group}__text--Color);

  @at-root label#{&} {
    cursor: pointer;
  }
}

