<div class="pf-c-input-group{{#if pf-c-input-group--modifier}} {{pf-c-input-group--modifier}}{{/if}}"
  {{#if pf-c-input-group__id}}
    id="{{pf-c-input-group__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>
