<div class="{{pfv}}input-group__item
  {{#if input-group-item--IsBox}} pf-m-box{{/if}}
  {{#if input-group-item--IsPlain}} pf-m-plain{{/if}}
  {{#if input-group-item--IsFill}} pf-m-fill{{/if}}
  {{#if input-group-item--modifier}} {{input-group-item--modifier}}{{/if}}"
  {{#if input-group-item--attribute}}
    {{{input-group-item--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
