<div class="{{pfv}}input-group__item
  {{setModifiers
    input-group-item--IsBox='pf-m-box'
    input-group-item--IsPlain='pf-m-plain'
    input-group-item--IsFill='pf-m-fill'
    input-group-item--IsDisabled='pf-m-disabled'
    input-group-item--IsSearchTextInput='pf-m-search-input'
    input-group-item--IsSearchClose='pf-m-search-close'
    input-group-item--IsSearchExpand='pf-m-search-expand'
    input-group-item--modifier=input-group-item--modifier
  }}"
  {{#if input-group-item--attribute}}
    {{{input-group-item--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
