<div class="pf-c-inline-edit__toggle{{#if inline-edit-toggle--modifier}} {{inline-edit-toggle--modifier}}{{/if}}"
  {{#if inline-edit-toggle--attribute}}
    {{{inline-edit-toggle--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
