<div class="pf-c-inline-edit__action-group{{#if inline-edit-action-group--modifier}} {{inline-edit-action-group--modifier}}{{/if}}{{#if inline-edit-action-group--IsInline}} pf-m-inline{{/if}}"
  {{#if inline-edit-action-group--id}}
    id="{{inline-edit-action-group--id}}"
  {{/if}}
  {{#if inline-edit-action-group--attribute}}
    {{{inline-edit-action-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
