<div class="pf-c-inline-edit__input-group{{#if inline-edit-input-group--modifier}} {{inline-edit-input-group--modifier}}{{/if}}"
  {{#if inline-edit-input-group--id}}
    id="{{inline-edit-input-group--id}}"
  {{/if}}
  {{#if inline-edit-input-group--attribute}}
    {{{inline-edit-input-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
