<div class="pf-c-inline-edit__value-group{{#if inline-edit-value-group--modifier}} {{inline-edit-value-group--modifier}}{{/if}}"
  {{#if inline-edit-value-group--id}}
    id="{{inline-edit-value-group--id}}"
  {{/if}}
  {{#if inline-edit-value-group--attribute}}
    {{{inline-edit-value-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
