// @debug $inline-edit; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$inline-edit} {
  // Group
  --#{$inline-edit}__group--item--MarginRight: var(--#{$pf-global}--spacer--sm);

  // Valid action
  --#{$inline-edit}__action--c-button--m-valid--m-plain--Color: var(--#{$pf-global}--link--Color);
  --#{$inline-edit}__action--c-button--m-valid--m-plain--hover--Color: var(--#{$pf-global}--link--Color--hover);

  // Icon button
  --#{$inline-edit}__action--m-icon-group--item--MarginRight: 0;

  // Footer group
  --#{$inline-edit}__group--m-footer--MarginTop: var(--#{$pf-global}--spacer--xl);

  // Label
  --#{$inline-edit}__label--m-bold--FontWeight: var(--#{$pf-global}--FontWeight--bold);
}

// Group
.#{$inline-edit}__group {
  display: flex;
  align-items: baseline;

  > * {
    margin-inline-end: var(--#{$inline-edit}__group--item--MarginRight);
  }

  &.pf-m-icon-group {
    --#{$inline-edit}__group--item--MarginRight: var(--#{$inline-edit}__action--m-icon-group--item--MarginRight);
  }

  // Footer
  &.pf-m-footer {
    margin-block-start: var(--#{$inline-edit}__group--m-footer--MarginTop);
  }

  // Column
  &.pf-m-column {
    --#{$inline-edit}__group--item--MarginRight: 0;

    flex-direction: column;
  }

  > :last-child {
    --#{$inline-edit}__group--item--MarginRight: 0;
  }
}

// Input and input group
.#{$inline-edit}__input {
  flex: 1;
}

// Valid icon action button
.#{$inline-edit}__action.pf-m-valid .#{$button}.pf-m-plain {
  --#{$button}--m-plain--Color: var(--#{$inline-edit}__action--c-button--m-valid--m-plain--Color);

  &:hover {
    --#{$button}--m-plain--Color: var(--#{$inline-edit}__action--c-button--m-valid--m-plain--hover--Color);
  }
}

// Input and input group
.#{$inline-edit}__input,
.#{$inline-edit}__action,
.#{$inline-edit}__group.pf-m-action-group {
  display: none;
}

// Enable groups
.#{$inline-edit}__action.pf-m-enable-editable {
  display: inline-block;
}

// Editable
.#{$inline-edit}.pf-m-inline-editable,
.#{$inline-edit} .pf-m-inline-editable {
  // Expose inputs, input groups, actions and action groups
  // Input
  .#{$inline-edit}__input {
    display: block;
  }

  // Action
  .#{$inline-edit}__action {
    display: inline-block;
  }

  // Action group
  .#{$inline-edit}__group.pf-m-action-group {
    display: inline-flex;
  }

  // Hide value, value group and enable actions
  .#{$inline-edit}__value,
  .#{$inline-edit}__action.pf-m-enable-editable {
    display: none;
  }
}

// offset button by top padding
.#{$inline-edit}__label + .#{$inline-edit}__action.pf-m-enable > .#{$button} {
  margin-block-start: calc(var(--#{$button}--PaddingTop) * -1);
  margin-block-end: calc(var(--#{$button}--PaddingBottom) * -1);
}

.#{$inline-edit}__label.pf-m-bold {
  font-weight: var(--#{$inline-edit}__label--m-bold--FontWeight);
}

.#{$inline-edit}__editable-text {
  br {
    display: none;
  }
}
