{{#> icon}}
<div class="pf-d-icon">
  <i class="fas fa-check-circle pf-c-icon pf-m-success" title="Everything is OK/Ready/Finished"></i>
  <span class="sr-only">Everything is OK/Ready/Finished</span>
</div>

<div class="pf-d-icon">
  <i class="fas fa-exclamation-triangle pf-c-icon pf-m-warning" title="Indicates that there is a warning. This is not to be confused with an error."></i>
  <span class="sr-only">Indicates that there is a warning. This is not to be confused with an error.</span>
</div>

<div class="pf-d-icon">
  <i class="fas fa-times-circle pf-c-icon pf-m-error" title="Indicates that there is a major or critical error present"></i>
  <span class="sr-only">Indicates that there is a major or critical error present</span>
</div>
{{/icon}}
