<div class="{{pfv}}jump-links__header{{#if jump-links-header--modifier}} {{jump-links-header--modifier}}{{/if}}"
  {{#if jump-links-header--attribute}}
    {{{jump-links-header--attribute}}}
  {{/if}}>
  {{#if jump-links--IsExpandable}}
    {{#> jump-links-toggle}}
      {{#> button button--IsPlain=true button--icon-template="jump-links-toggle-icon" button--aria-label="Toggle jump links" button--AriaExpanded=jump-links--IsExpanded}}
        Jump to section
      {{/button}}
    {{/jump-links-toggle}}
  {{/if}}
  {{#unless jump-links--HasNoLabel}}
    {{> jump-links-label}}
  {{/unless}}
</div>
