<span class="pf-c-jump-links__toggle-text{{#if jump-links-toggle-text--modifier}} {{jump-links-toggle-text--modifier}}{{/if}}"
  {{#if jump-links-toggle-text--attribute}}
    {{{jump-links-toggle-text--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    Jump to section
  {{/if}}
</span>
