<div class="{{pfv}}jump-links__header{{#if jump-links-header--modifier}} {{jump-links-header--modifier}}{{/if}}"
  {{#if jump-links-header--attribute}}
    {{{jump-links-header--attribute}}}
  {{/if}}>
  {{#if jump-links--IsExpandable}}
    {{#> jump-links-toggle}}
      {{#> button button--IsPlain=true button--icon-template="jump-links-toggle-icon" button--IsAriaExpanded=jump-links--IsExpanded}}
        {{#if @partial-block}}
          {{> @partial-block}}
        {{else}}
          Jump to section
        {{/if}}
      {{/button}}
    {{/jump-links-toggle}}
  {{/if}}
  {{#unless jump-links--HasNoLabel}}
    {{> jump-links-label}}
  {{/unless}}
</div>
