// @debug $jump-links; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss
$pf-v5-c-jump-links--m-expandable--breakpoint-map: build-breakpoint-map("base", "sm", "md", "lg", "xl", "2xl");

.#{$jump-links} {
  // list
  --#{$jump-links}__list--Display: flex;
  --#{$jump-links}__list--PaddingTop: 0;
  --#{$jump-links}__list--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}__list--PaddingBottom: 0;
  --#{$jump-links}__list--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}--m-vertical__list--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}--m-vertical__list--PaddingRight: 0;
  --#{$jump-links}--m-vertical__list--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}--m-vertical__list--PaddingLeft: 0;
  --#{$jump-links}__list--FlexDirection: row;
  --#{$jump-links}--m-vertical__list--FlexDirection: column;
  --#{$jump-links}__list--before--BorderColor: var(--#{$pf-global}--BorderColor--100);
  --#{$jump-links}__list--before--BorderTopWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$jump-links}__list--before--BorderRightWidth: 0;
  --#{$jump-links}__list--before--BorderBottomWidth: 0;
  --#{$jump-links}__list--before--BorderLeftWidth: 0;
  --#{$jump-links}--m-vertical__list--before--BorderLeftWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$jump-links}--m-vertical__list--before--BorderTopWidth: 0;
  --#{$jump-links}__list__list--MarginTop: calc(var(--#{$pf-global}--spacer--sm) * -1);

  // link
  --#{$jump-links}__link--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}__link--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}__link--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}__link--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}__list__list__link--PaddingTop: var(--#{$pf-global}--spacer--sm);
  --#{$jump-links}__list__list__link--PaddingLeft: var(--#{$pf-global}--spacer--lg);
  --#{$jump-links}__list__list__link--PaddingBottom: var(--#{$pf-global}--spacer--sm);
  --#{$jump-links}__link--OutlineOffset: calc(-1 * var(--#{$pf-global}--spacer--sm));

  // before
  --#{$jump-links}__link--before--BorderTopWidth: 0;
  --#{$jump-links}__link--before--BorderRightWidth: 0;
  --#{$jump-links}__link--before--BorderBottomWidth: 0;
  --#{$jump-links}__link--before--BorderLeftWidth: 0;
  --#{$jump-links}__link--before--BorderColor: transparent;
  --#{$jump-links}__item--m-current__link--before--BorderTopWidth: var(--#{$pf-global}--BorderWidth--lg);
  --#{$jump-links}__item--m-current__link--before--BorderLeftWidth: 0;
  --#{$jump-links}__item--m-current__link--before--BorderColor: var(--#{$pf-global}--primary-color--100);
  --#{$jump-links}--m-vertical__item--m-current__link--before--BorderTopWidth: 0;
  --#{$jump-links}--m-vertical__item--m-current__link--before--BorderLeftWidth: var(--#{$pf-global}--BorderWidth--lg);

  // text
  --#{$jump-links}__link-text--Color: var(--#{$pf-global}--Color--200);
  --#{$jump-links}__link--hover__link-text--Color: var(--#{$pf-global}--Color--100);
  --#{$jump-links}__link--focus__link-text--Color: var(--#{$pf-global}--Color--100);
  --#{$jump-links}__item--m-current__link-text--Color: var(--#{$pf-global}--Color--100);

  // label
  --#{$jump-links}__label--MarginBottom: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}__label--Display: block;

  // toggle
  --#{$jump-links}__toggle--MarginTop: calc(-1 * var(--#{$pf-global}--spacer--form-element));
  --#{$jump-links}__toggle--MarginBottom--base: calc(-1 * var(--#{$pf-global}--spacer--form-element));
  --#{$jump-links}__toggle--MarginBottom: var(--#{$jump-links}__toggle--MarginBottom--base);
  --#{$jump-links}--m-expanded__toggle--MarginBottom: calc(var(--#{$jump-links}__toggle--MarginBottom--base) + var(--#{$pf-global}--spacer--md));
  --#{$jump-links}__toggle--MarginLeft: calc(-1 * var(--#{$pf-global}--spacer--md));
  --#{$jump-links}__toggle--Display: none;

  // toggle icon
  --#{$jump-links}__toggle-icon--Color: currentcolor;
  --#{$jump-links}__toggle-icon--Transition: var(--#{$pf-global}--Transition);
  --#{$jump-links}__toggle-icon--Rotate: 0;
  --#{$jump-links}--m-expanded__toggle-icon--Color: var(--#{$pf-global}--Color--100);
  --#{$jump-links}--m-expanded__toggle-icon--Rotate: 90deg;

  // toggle text
  --#{$jump-links}__toggle-text--MarginLeft: var(--#{$pf-global}--spacer--md);
  --#{$jump-links}__toggle-text--Color: var(--#{$pf-global}--Color--100);

  display: flex;

  &.pf-m-center {
    justify-content: center;

    .#{$jump-links}__main {
      align-items: center;
    }
  }

  &.pf-m-vertical,
  &.pf-m-expandable {
    --#{$jump-links}__list--PaddingTop: var(--#{$jump-links}--m-vertical__list--PaddingTop);
    --#{$jump-links}__list--PaddingRight: var(--#{$jump-links}--m-vertical__list--PaddingRight);
    --#{$jump-links}__list--PaddingBottom: var(--#{$jump-links}--m-vertical__list--PaddingBottom);
    --#{$jump-links}__list--PaddingLeft: var(--#{$jump-links}--m-vertical__list--PaddingLeft);
    --#{$jump-links}__list--before--BorderTopWidth: var(--#{$jump-links}--m-vertical__list--before--BorderTopWidth);
    --#{$jump-links}__list--before--BorderLeftWidth: var(--#{$jump-links}--m-vertical__list--before--BorderLeftWidth);
    --#{$jump-links}__item--m-current__link--before--BorderTopWidth: var(--#{$jump-links}--m-vertical__item--m-current__link--before--BorderTopWidth);
    --#{$jump-links}__item--m-current__link--before--BorderLeftWidth: var(--#{$jump-links}--m-vertical__item--m-current__link--before--BorderLeftWidth);
    --#{$jump-links}__list--FlexDirection: var(--#{$jump-links}--m-vertical__list--FlexDirection);

    flex-direction: column;
  }

  @each $breakpoint, $breakpoint-value in $pf-v5-c-jump-links--m-expandable--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-v5-apply-breakpoint($breakpoint) {
      &.pf-m-expandable#{$breakpoint-name} {
        --#{$jump-links}__list--Display: none;
        --#{$jump-links}__toggle--Display: block;
        --#{$jump-links}__label--Display: none;
      }

      &.pf-m-non-expandable#{$breakpoint-name} {
        --#{$jump-links}__list--Display: flex;
        --#{$jump-links}__toggle--Display: none;
        --#{$jump-links}__label--Display: block;
      }
    }
  }

  &.pf-m-expanded {
    --#{$jump-links}__list--Display: flex;
    --#{$jump-links}__toggle--MarginBottom: var(--#{$jump-links}--m-expanded__toggle--MarginBottom);
    --#{$jump-links}__toggle-icon--Rotate: var(--#{$jump-links}--m-expanded__toggle-icon--Rotate);
    --#{$jump-links}__toggle-icon--Color: var(--#{$jump-links}--m-expanded__toggle-icon--Color);
  }
}

.#{$jump-links}__list {
  position: relative;
  display: var(--#{$jump-links}__list--Display);
  flex-direction: var(--#{$jump-links}__list--FlexDirection);
  padding-block-start: var(--#{$jump-links}__list--PaddingTop);
  padding-block-end: var(--#{$jump-links}__list--PaddingBottom);
  padding-inline-start: var(--#{$jump-links}__list--PaddingLeft);
  padding-inline-end: var(--#{$jump-links}__list--PaddingRight);

  &::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border: solid var(--#{$jump-links}__list--before--BorderColor);
    border-block-start-width: var(--#{$jump-links}__list--before--BorderTopWidth);
    border-block-end-width: var(--#{$jump-links}__list--before--BorderBottomWidth);
    border-inline-start-width: var(--#{$jump-links}__list--before--BorderLeftWidth);
    border-inline-end-width: var(--#{$jump-links}__list--before--BorderRightWidth);
  }

  .#{$jump-links}__list {
    --#{$jump-links}__list--PaddingTop: 0;
    --#{$jump-links}__list--PaddingBottom: 0;
    --#{$jump-links}__link--PaddingTop: var(--#{$jump-links}__list__list__link--PaddingTop);
    --#{$jump-links}__link--PaddingBottom: var(--#{$jump-links}__list__list__link--PaddingBottom);
    --#{$jump-links}__link--PaddingLeft: var(--#{$jump-links}__list__list__link--PaddingLeft);

    margin-block-start: var(--#{$jump-links}__list__list--MarginTop);
  }
}

.#{$jump-links}__link {
  position: relative;
  display: flex;
  flex: 1;
  padding-block-start: var(--#{$jump-links}__link--PaddingTop);
  padding-block-end: var(--#{$jump-links}__link--PaddingBottom);
  padding-inline-start: var(--#{$jump-links}__link--PaddingLeft);
  padding-inline-end: var(--#{$jump-links}__link--PaddingRight);
  text-decoration: none;
  outline-offset: var(--#{$jump-links}__link--OutlineOffset);

  &:hover {
    --#{$jump-links}__link-text--Color: var(--#{$jump-links}__link--hover__link-text--Color);
  }

  &:focus {
    --#{$jump-links}__link-text--Color: var(--#{$jump-links}__link--focus__link-text--Color);
  }

  &::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border-color: var(--#{$jump-links}__link--before--BorderColor);
    border-style: solid;
    border-block-start-width: var(--#{$jump-links}__link--before--BorderTopWidth);
    border-block-end-width: var(--#{$jump-links}__link--before--BorderBottomWidth);
    border-inline-start-width: var(--#{$jump-links}__link--before--BorderLeftWidth);
    border-inline-end-width: var(--#{$jump-links}__link--before--BorderRightWidth);
  }
}

// stylelint-disable
.#{$jump-links}__item {
  --#{$jump-links}__list--before--BorderColor: transparent;

  &.pf-m-current > .#{$jump-links}__link {
    --#{$jump-links}__link--before--BorderTopWidth: var(--#{$jump-links}__item--m-current__link--before--BorderTopWidth);
    --#{$jump-links}__link--before--BorderLeftWidth: var(--#{$jump-links}__item--m-current__link--before--BorderLeftWidth);
    --#{$jump-links}__link--before--BorderColor: var(--#{$jump-links}__item--m-current__link--before--BorderColor);
    --#{$jump-links}__link-text--Color: var(--#{$jump-links}__item--m-current__link-text--Color);
  }
}
// stylelint-enable

.#{$jump-links}__link-text {
  color: var(--#{$jump-links}__link-text--Color);
}

.#{$jump-links}__label {
  display: var(--#{$jump-links}__label--Display);
  margin-block-end: var(--#{$jump-links}__label--MarginBottom);
}

.#{$jump-links}__main {
  display: flex;
  flex-direction: column;
}

.#{$jump-links}__toggle {
  display: var(--#{$jump-links}__toggle--Display);
  margin-block-start: var(--#{$jump-links}__toggle--MarginTop);
  margin-block-end: var(--#{$jump-links}__toggle--MarginBottom);
  margin-inline-start: var(--#{$jump-links}__toggle--MarginLeft);

  .#{$button} {
    display: flex;
    align-items: center;
  }
}

.#{$jump-links}__toggle-icon {
  @include pf-v5-mirror-inline-on-rtl;

  display: inline-block;
  color: var(--#{$jump-links}__toggle-icon--Color);
  transition: var(--#{$jump-links}__toggle-icon--Transition);
  transform: rotate(var(--#{$jump-links}__toggle-icon--Rotate));
}

.#{$jump-links}__toggle-text {
  margin-inline-start: var(--#{$jump-links}__toggle-text--MarginLeft);
  color: var(--#{$jump-links}__toggle-text--Color);
}
