<div class="{{pfv}}jump-links__toggle{{#if jump-links-toggle--modifier}} {{jump-links-toggle--modifier}}{{/if}}"
  {{#if jump-links-toggle--attribute}}
    {{{jump-links-toggle--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
