<div class="pf-c-jump-links__header{{#if jump-links-header--modifier}} {{jump-links-header--modifier}}{{/if}}"
  {{#if jump-links-header--attribute}}
    {{{jump-links-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
