<nav class="pf-c-jump-links{{#if jump-links--modifier}} {{jump-links--modifier}}{{/if}}"
  {{#if aria-label}}
    aria-label="{{aria-label}}"
  {{/if}}
  {{#if jump-links--attribute}}
    {{{jump-links--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</nav>
