<span class="{{pfv}}jump-links__link-text{{#if jump-links-link-text--modifier}} {{jump-links-link-text--modifier}}{{/if}}"
  {{#if jump-links-link-text--attribute}}
    {{{jump-links-link-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
