<a class="pf-c-jump-links__link{{#if jump-links-link--modifier}} {{jump-links-link--modifier}}{{/if}}"
  href="#"
  {{#if jump-links-link--attribute}}
    {{{jump-links-link--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</a>
