<span class="{{pfv}}jump-links__toggle-icon{{#if jump-links-toggle-icon--modifier}} {{jump-links-toggle-icon--modifier}}{{/if}}"
  {{#if jump-links-toggle-icon--attribute}}
    {{{jump-links-toggle-icon--attribute}}}
  {{/if}}>
  {{pfIcon "rh-microns-caret-down"}}
</span>
