<nav class="pf-c-jump-links{{#if jump-links--modifier}} {{jump-links--modifier}}{{/if}}{{#if jump-links--IsExpandable}} pf-m-expandable{{/if}}{{#if jump-links--IsExpanded}} pf-m-expanded{{/if}}"
  {{#if jump-links--aria-label}}
    aria-label="{{jump-links--aria-label}}"
  {{/if}}
  {{#if jump-links--attribute}}
    {{{jump-links--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</nav>
