<div class="{{pfv}}jump-links__main{{#if jump-links-main--modifier}} {{jump-links-main--modifier}}{{/if}}"
  {{#if jump-links-main--attribute}}
    {{{jump-links-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
