<span class="pf-c-jump-links__item-text{{#if jump-links-item-text--modifier}} {{jump-links-item-text--modifier}}{{/if}}"
  {{#if jump-links-item-text--attribute}}
    {{{jump-links-item-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
