{{#> popover-upgrade-examples}}
<div class="popovers-pf">
  <div class="container-fluid container-popovers-pf">
   <div class="popover fade right in" role="tooltip" style="display: block; position:relative;">
      <div class="arrow" style="top: 50%;"></div>
        <h3 class="popover-title closable">Popover Header
          <button type="button" class="close" aria-hidden="true"><span class="pficon pficon-close"></span></button>
        </h3>
      <div class="popover-content"><b>Popover Body</b> <br> <br> This is more information about a smartproxy. This is more information about a smartproxy. This is more information about a smartproxy. This is more information about a smartproxy.</div>
    </div>
  </div>
</div>
{{/popover-upgrade-examples}}



