{{#> popover-upgrade-examples}}
<div class="popovers-pf">
  <div class="container-fluid container-popovers-pf">
   <div class="popover fade right in" role="tooltip" style="top: 147px; left: 156.25px; display: block;">
      <div class="arrow" style="top: 50%;"></div>
        <h3 class="popover-title closable">1 http smartproxy 1 http http http
          <button type="button" class="close" aria-hidden="true"><span class="pficon pficon-close"></span></button>
        </h3>
      <div class="popover-content">This is more information about a smartproxy. This is more information about a smartproxy. This is more information about a smartproxy. This is more information about a smartproxy.</div>
    </div>
  </div>
</div>
{{/popover-upgrade-examples}}



