{{#> popover-upgrade-examples}}
<div class="popovers-pf">
  <div class="container-fluid container-popovers-pf">
    <div class="row row-popovers-pf">
      <div class="col-sm-3">
        <div class="popover-pf">
          <div class="popover-pf-heading">
            <h2 class="popover-pf-title">
              popover Title
            </h2>
          </div>
          <div class="popover-pf-body">
            <p>
              popover Contents
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="popover-pf">
          <div class="popover-pf-heading">
            <h2 class="popover-pf-title">
              popover Title
            </h2>
          </div>
          <div class="popover-pf-body">
            <p>
              popover Contents
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/popover-upgrade-examples}}
