{{#>form}}
  <fieldset class="pf-c-form__fieldset">
    <legend class="pf-c-form__legend">Standard checkboxes nested in label</legend>
    {{#>check}}
      {{#>checkbox check-nested="true" checkbox-value="checkboxOption1" checkbox-id="checkbox1" checkbox-name="checkbox1" checkbox-label="Checkbox 1"}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>
      {{/checkbox}}
    {{/check}}
    {{#>check}}
      {{#>checkbox check-nested="true" checkbox-value="checkboxOption2" checkbox-id="checkbox2" checkbox-name="checkbox2" checkbox-label="Checkbox 2, checked " checked="true"}}{{/checkbox}}
    {{/check}}
    {{#>check}}
      {{#>checkbox check-nested="true" checkbox-value="checkboxOption3" checkbox-id="checkbox3" checkbox-name="checkbox3" checkbox-label="Checkbox 3, disabled" disabled="true"}}{{/checkbox}}
    {{/check}}
  </fieldset>
  <fieldset class="pf-c-form__fieldset">
    <legend class="pf-c-form__legend">Standard radios nested in label</legend>
    {{#>check}}
      {{#>radio check-nested="true" radio-value="radionOption1" radio-id="radio1" radio-name="radios1" radio-label="Radio 1"}}{{/radio}}
    {{/check}}
    {{#>check}}
      {{#>radio check-nested="true" radio-value="radionOption2" radio-id="radio2" radio-name="radios1" radio-label="Radio 2, checked" checked="true"}}{{/radio}}
    {{/check}}
    {{#>check}}
      {{#>radio check-nested="true" radio-value="radionOption3" radio-id="radio3" radio-name="radios1" radio-label="Radio 3, disabled" disabled="true"}}{{/radio}}
    {{/check}}
  </fieldset>
  <fieldset class="pf-c-form__fieldset">
    <legend class="pf-c-form__legend">Inline checkboxes nested in label</legend>
    {{#>group pf-c-form--modifier="pf-m-inline"}}
      {{#>check}}
        {{#>checkbox check-nested="true" checkbox-value="checkboxOption4" checkbox-id="checkbox4" checkbox-name="checkbox4" checkbox-label="Checkbox 1"}}{{/checkbox}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>
      {{/check}}
      {{#>check}}
        {{#>checkbox check-nested="true" checkbox-value="checkboxOption5" checkbox-id="checkbox5" checkbox-name="checkbox5" checkbox-label="Checkbox 2"}}{{/checkbox}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>
      {{/check}}
      {{#>check}}
        {{#>checkbox check-nested="true" checkbox-value="checkboxOption6" checkbox-id="checkbox6" checkbox-name="checkbox6" checkbox-label="Checkbox 3" disabled="true"}}{{/checkbox}}
      {{/check}}
    {{/group}}
  </fieldset>
  <fieldset class="pf-c-form__fieldset">
    <legend class="pf-c-form__legend">Inline radios nested in label</legend>
    {{#>group pf-c-form--modifier="pf-m-inline"}}
      {{#>check newcontent check-nested="true"}}
        {{#>radio radio-value="radionOption4" radio-id="radio4" radio-name="radios2" radio-label="Radio 1"}}{{/radio}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>        
      {{/check}}
      {{#>check newcontent check-nested="true"}}
        {{#>radio radio-value="radionOption5" radio-id="radio5" radio-name="radios2" radio-label="Radio 2"}}{{/radio}}
      {{/check}}
      {{#>check newcontent check-nested="true"}}
        {{#>radio radio-value="radionOption6" radio-id="radio6" radio-name="radios2" radio-label="Radio 3" disabled="true"}}{{/radio}}
      {{/check}}
    {{/group}}  
  </fieldset>
{{/form}}
