{{#>form}}
  <fieldset class="pf-c-form__fieldset">
    <legend class="pf-c-form__legend">Standard checkboxes nested in label</legend>
    {{#>check checkNested="true"}}
      {{#>checkbox checkboxValue="checkboxOption1" checkboxId="checkbox1" checkboxName="checkbox1" checkboxLabel="Checkbox 1"}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>
      {{/checkbox}}
    {{/check}}
    {{#>check checkNested="true"}}
      {{#>checkbox checkboxValue="checkboxOption2" checkboxId="checkbox2" checkboxName="checkbox2" checkboxLabel="Checkbox 2, checked " checked="true"}}{{/checkbox}}
    {{/check}}
    {{#>check checkNested="true"}}
      {{#>checkbox checkboxValue="checkboxOption3" checkboxId="checkbox3" checkboxName="checkbox3" checkboxLabel="Checkbox 3, disabled" disabled="true"}}{{/checkbox}}
    {{/check}}
  </fieldset>
  <fieldset class="pf-c-form__fieldset">
    <legend class="pf-c-form__legend">Standard radios nested in label</legend>
    {{#>check checkNested="true"}}
      {{#>radio radioValue="radionOption1" radioId="radio1" radioName="radios1" radioLabel="Radio 1"}}{{/radio}}
    {{/check}}
    {{#>check checkNested="true"}}
      {{#>radio radioValue="radionOption2" radioId="radio2" radioName="radios1" radioLabel="Radio 2, checked" checked="true"}}{{/radio}}
    {{/check}}
    {{#>check checkNested="true"}}
      {{#>radio radioValue="radionOption3" radioId="radio3" radioName="radios1" radioLabel="Radio 3, disabled" disabled="true"}}{{/radio}}
    {{/check}}
  </fieldset>
  <fieldset class="pf-c-form__fieldset">
    <legend class="pf-c-form__legend">Inline checkboxes nested in label</legend>
    {{#>group pf-c-form--modifier="pf-m-inline"}}
      {{#>check newcontent checkNested="true"}}
        {{#>checkbox checkboxValue="checkboxOption4" checkboxId="checkbox4" checkboxName="checkbox4" checkboxLabel="Checkbox 1"}}{{/checkbox}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>
      {{/check}}
      {{#>check newcontent checkNested="true"}}
        {{#>checkbox checkboxValue="checkboxOption5" checkboxId="checkbox5" checkboxName="checkbox5" checkboxLabel="Checkbox 2"}}{{/checkbox}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>
      {{/check}}
      {{#>check newcontent checkNested="true"}}
        {{#>checkbox checkboxValue="checkboxOption6" checkboxId="checkbox6" checkboxName="checkbox6" checkboxLabel="Checkbox 3" disabled="true"}}{{/checkbox}}
      {{/check}}
    {{/group}}
  </fieldset>
  <fieldset class="pf-c-form__fieldset">
    <legend class="pf-c-form__legend">Inline radios nested in label</legend>
    {{#>group pf-c-form--modifier="pf-m-inline"}}
      {{#>check newcontent checkNested="true"}}
        {{#>radio radioValue="radionOption4" radioId="radio4" radioName="radios2" radioLabel="Radio 1"}}{{/radio}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>        
      {{/check}}
      {{#>check newcontent checkNested="true"}}
        {{#>radio radioValue="radionOption5" radioId="radio5" radioName="radios2" radioLabel="Radio 2"}}{{/radio}}
      {{/check}}
      {{#>check newcontent checkNested="true"}}
        {{#>radio radioValue="radionOption6" radioId="radio6" radioName="radios2" radioLabel="Radio 3" disabled="true"}}{{/radio}}
      {{/check}}
    {{/group}}  
  </fieldset>
{{/form}}
