{{#> form}}
  {{#> form-group}}
    {{#> form-label for="select1"}}Select input{{/form-label}}
    {{#> form-control controlType="select" id="select1" name="select1"}}
      <option disabled>Please choose</option>
      <option value="Mr">Mr</option>
      <option value="Miss">Miss</option>
      <option value="Mrs">Mrs</option>
      <option value="Ms">Ms</option>
      <option value="Dr">Dr</option>
      <option value="Other">Other</option>
    {{/form-control}}
  {{/form-group}}
  {{#> form-group}}
    {{#> form-label for="select2"}}Select input with grouping{{/form-label}}
    {{#> form-control controlType="select" id="select2" name="select2"}}
      <optgroup label="Group 1">
        <option value="Option 1">The first option</option>
        <option value="Option 2" selected>The second option is selected by default</option>
      </optgroup>
      <optgroup label="Group 2">
        <option value="Option 3">The third option</option>
        <option value="Option 4">The fourth option</option>
      </optgroup>
    {{/form-control}}
  {{/form-group}}
  {{#> form-group}}
    {{#> form-label for="select3" pf-c-form__label--modifier="pf-m-disabled"}}Select label and input disabled{{/form-label}}
      {{#> form-control controlType="select" id="select3" name="select3" disabled="true"}}
        <option value="" selected>Please choose</option>
        <option value="Mr">Mr</option>
        <option value="Miss">Miss</option>
        <option value="Mrs">Mrs</option>
        <option value="Ms">Ms</option>
        <option value="Dr">Dr</option>
        <option value="Other">Other</option>
    {{/form-control}}
  {{/form-group}}
{{/form}}


