{{#> form}}
  {{#> form-fieldset}}
    <legend class="pf-c-form__legend">Standard checkboxes nested in label</legend>
    {{#> form-check}}
      {{#> form-checkbox nested="true" value="checkboxOption1" id="checkbox1" name="checkbox1" text="Checkbox 1"}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>
      {{/form-checkbox}}
    {{/form-check}}
    {{#> form-check}}
      {{#> form-checkbox nested="true" value="checkboxOption2" id="checkbox2" name="checkbox2" text="Checkbox 2, checked" checked="true"}}{{/form-checkbox}}
    {{/form-check}}
    {{#> form-check}}
      {{#> form-checkbox nested="true" value="checkboxOption3" id="checkbox3" name="checkbox3" text="Checkbox 3, disabled" disabled="true"}}{{/form-checkbox}}
    {{/form-check}}
  {{/form-fieldset}}
  {{#> form-fieldset}}
    <legend class="pf-c-form__legend">Standard radios nested in label</legend>
    {{#> form-check}}
      {{#> form-radio nested="true" value="radionOption1" id="radio1" name="radios1" text="Radio 1"}}{{/form-radio}}
    {{/form-check}}
    {{#> form-check}}
      {{#> form-radio nested="true" value="radionOption2" id="radio2" name="radios1" text="Radio 2, checked" checked="true"}}{{/form-radio}}
    {{/form-check}}
    {{#> form-check}}
      {{#> form-radio nested="true" value="radionOption3" id="radio3" name="radios1" text="Radio 3, disabled" disabled="true"}}{{/form-radio}}
    {{/form-check}}
  {{/form-fieldset}}
  {{#> form-fieldset}}
    <legend class="pf-c-form__legend">Inline checkboxes nested in label</legend>
    {{#> form-group pf-c-form--modifier="pf-m-inline"}}
      {{#> form-check newcontent}}
        {{#> form-checkbox nested="true" value="checkboxOption4" id="checkbox4" name="checkbox4" text="Checkbox 1"}}{{/form-checkbox}}
      {{/form-check}}
      {{#> form-check newcontent}}
        {{#> form-checkbox nested="true" value="checkboxOption5" id="checkbox5" name="checkbox5" text="Checkbox 2"}}{{/form-checkbox}}
      {{/form-check}}
      {{#> form-check newcontent}}
        {{#> form-checkbox nested="true" value="checkboxOption6" id="checkbox6" name="checkbox6" text="Checkbox 3" disabled="true"}}{{/form-checkbox}}
      {{/form-check}}
    {{/form-group}}
  {{/form-fieldset}}
  {{#> form-fieldset}}
    <legend class="pf-c-form__legend">Inline radios nested in label</legend>
    {{#> form-group pf-c-form--modifier="pf-m-inline"}}
      {{#> form-check newcontent nested="true"}}
        {{#> form-radio value="radionOption4" id="radio4" name="radios2" text="Radio 1"}}{{/form-radio}}
        <div class="pf-c-tooltip">
          <i class="fas fa-info-circle"></i>
        </div>        
      {{/form-check}}
      {{#> form-check newcontent nested="true"}}
        {{#> form-radio value="radionOption5" id="radio5" name="radios2" text="Radio 2"}}{{/form-radio}}
      {{/form-check}}
      {{#> form-check newcontent nested="true"}}
        {{#> form-radio value="radionOption6" id="radio6" name="radios2" text="Radio 3" disabled="true"}}{{/form-radio}}
      {{/form-check}}
    {{/form-group}}  
  {{/form-fieldset}}
{{/form}}
