{{#>group}}
  {{#>label labelFor="textInput1"}}Standard input{{/label}}
  {{#>form-control pf-c-form-control--modifier="pf-m-addons"}}
    {{#>button btnClass="pf-is-primary"}}test{{/button}}
    {{#>text-input inputId="textInput1" inputType="text" inputName="textInput1"}}{{/text-input}}
    {{#>button btnClass="pf-is-primary"}}test{{/button}}
    {{#>button btnClass="pf-is-primary"}}test{{/button}}
    {{#>button btnClass="pf-is-primary"}}test{{/button}}
    <div class="pf-c-tooltip">
      <i class="fas fa-info-circle"></i>
    </div>    
  {{/form-control}}
{{/group}}

