{{#>form}}
  {{#>group}}
    <textarea class="pf-c-form__textarea" rows="4" cols="50">text</textarea>
  {{/group}}    
  {{#>group}}
    <div class="pf-c-form__datalist ">
      <input class="pf-c-form__input" list="datalist1">
    </div>
      <datalist class="pf-c-form__datalist" id="datalist1">
        <option value="Option 1">
        <option value="Option 2">
        <option value="Option 3">
        <option value="Option 4">
        <option value="Option 5">
      </datalist>
  {{/group}}
{{/form}}