// @debug $expandable-section; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root {
  // Toggle
  --#{$expandable-section}__toggle--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}__toggle--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$expandable-section}__toggle--PaddingBottom: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}__toggle--PaddingLeft: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}__toggle--Color: var(--pf-t--global--color--brand--default);
  --#{$expandable-section}__toggle--hover--Color: var(--pf-t--global--color--brand--hover);
  --#{$expandable-section}__toggle--active--Color: var(--pf-t--global--color--brand--hover);
  --#{$expandable-section}__toggle--focus--Color: var(--pf-t--global--color--brand--hover);
  --#{$expandable-section}__toggle--m-expanded--Color: var(--pf-t--global--color--brand--hover);
  --#{$expandable-section}__toggle--BackgroundColor: transparent;
  --#{$expandable-section}__toggle--ColumnGap: calc(var(--pf-t--global--spacer--xs) + var(--pf-t--global--spacer--sm));
  
  // Toggle icon
  --#{$expandable-section}__toggle-icon--MinWidth: 1em;
  --#{$expandable-section}__toggle-icon--Color: var(--pf-t--global--icon--color--100);
  --#{$expandable-section}__toggle-icon--Transition: .2s ease-in 0s;
  --#{$expandable-section}__toggle-icon--Rotate: 0;
  --#{$expandable-section}__toggle-icon--m-expand-top--Rotate: 0;
  --#{$expandable-section}--m-expanded__toggle-icon--Rotate: 90deg;
  --#{$expandable-section}--m-expanded__toggle-icon--m-expand-top--Rotate: -90deg;
  
  // Content
  --#{$expandable-section}__content--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}__content--PaddingRight: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}__content--PaddingBottom: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}__content--PaddingLeft: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}__content--MaxWidth: auto;
  
  // Limit Width
  --#{$expandable-section}--m-limit-width__content--MaxWidth: #{pf-size-prem(750px)};
  
  // Large / Disclosure
  --#{$expandable-section}--m-display-lg--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$expandable-section}--m-display-lg--BorderColor: var(--pf-t--global--border--color--default);
  --#{$expandable-section}--m-display-lg--BorderRadius: var(--pf-t--global--border--radius--medium);
  --#{$expandable-section}--m-display-lg__toggle--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$expandable-section}--m-display-lg__toggle--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$expandable-section}--m-display-lg__toggle--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$expandable-section}--m-display-lg__toggle--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$expandable-section}--m-display-lg__toggle--BorderRadius: var(--pf-t--global--border--radius--medium);
  --#{$expandable-section}--m-display-lg__toggle--Width: 100%;
  --#{$expandable-section}--m-display-lg__toggle--hover--BackgroundColor: var(--pf-t--global--background--color--secondary--hover);
  --#{$expandable-section}--m-display-lg__toggle--active--BackgroundColor: var(--pf-t--global--background--color--secondary--hover);
  --#{$expandable-section}--m-display-lg__toggle--focus--BackgroundColor: var(--pf-t--global--background--color--secondary--hover);
  --#{$expandable-section}--m-display-lg__content--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$expandable-section}--m-display-lg__content--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$expandable-section}--m-display-lg__content--PaddingLeft: var(--pf-t--global--spacer--lg);

  // Indented
  --#{$expandable-section}--m-indented__content--PaddingLeft--base: calc(var(--#{$expandable-section}__toggle--ColumnGap) + var(--#{$expandable-section}__toggle-icon--MinWidth));
  --#{$expandable-section}--m-indented__content--PaddingLeft: calc(var(--#{$expandable-section}--m-indented__content--PaddingLeft--base) + var(--#{$expandable-section}__toggle--PaddingLeft));
  --#{$expandable-section}--m-display-lg--m-indented__content--PaddingLeft: calc(var(--#{$expandable-section}--m-indented__content--PaddingLeft--base) + var(--#{$expandable-section}--m-display-lg__content--PaddingLeft));
  
  // Truncate
  --#{$expandable-section}--m-truncate--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}--m-truncate--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$expandable-section}--m-truncate--PaddingBottom: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}--m-truncate--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$expandable-section}--m-truncate__toggle--PaddingBottom: var(--pf-t--global--spacer--sm);
  --#{$expandable-section}--m-truncate__content--LineClamp: 3;
}

.#{$expandable-section} {
  &.pf-m-expanded {
    --#{$expandable-section}__toggle--Color: var(--#{$expandable-section}__toggle--m-expanded--Color);
    --#{$expandable-section}__toggle-icon--Rotate: var(--#{$expandable-section}--m-expanded__toggle-icon--Rotate);
    --#{$expandable-section}__toggle-icon--m-expand-top--Rotate: var(--#{$expandable-section}--m-expanded__toggle-icon--m-expand-top--Rotate);
    --#{$expandable-section}--m-display-lg--after--BackgroundColor: var(--#{$expandable-section}--m-display-lg--m-expanded--after--BackgroundColor);
  }

  &.pf-m-limit-width {
    --#{$expandable-section}__content--MaxWidth: var(--#{$expandable-section}--m-limit-width__content--MaxWidth);
  }

  &.pf-m-display-lg {
    --#{$expandable-section}__toggle--PaddingTop: var(--#{$expandable-section}--m-display-lg__toggle--PaddingTop);
    --#{$expandable-section}__toggle--PaddingRight: var(--#{$expandable-section}--m-display-lg__toggle--PaddingRight);
    --#{$expandable-section}__toggle--PaddingBottom: var(--#{$expandable-section}--m-display-lg__toggle--PaddingBottom);
    --#{$expandable-section}__toggle--PaddingLeft: var(--#{$expandable-section}--m-display-lg__toggle--PaddingLeft);
    --#{$expandable-section}__toggle--hover--BackgroundColor: var(--#{$expandable-section}--m-display-lg__toggle--hover--BackgroundColor);
    --#{$expandable-section}__toggle--active--BackgroundColor: var(--#{$expandable-section}--m-display-lg__toggle--active--BackgroundColor);
    --#{$expandable-section}__toggle--focus--BackgroundColor: var(--#{$expandable-section}--m-display-lg__toggle--focus--BackgroundColor);
    --#{$expandable-section}__toggle--BorderRadius: var(--#{$expandable-section}--m-display-lg__toggle--BorderRadius);
    --#{$expandable-section}__toggle--Width: var(--#{$expandable-section}--m-display-lg__toggle--Width);
    --#{$expandable-section}__content--PaddingRight: var(--#{$expandable-section}--m-display-lg__content--PaddingRight);
    --#{$expandable-section}__content--PaddingBottom: var(--#{$expandable-section}--m-display-lg__content--PaddingBottom);
    --#{$expandable-section}__content--PaddingLeft: var(--#{$expandable-section}--m-display-lg__content--PaddingLeft);
    --#{$expandable-section}--m-indented__content--PaddingLeft: var(--#{$expandable-section}--m-display-lg--m-indented__content--PaddingLeft);

    background-color: var(--#{$expandable-section}--m-display-lg--BackgroundColor);
    border: solid 1px var(--#{$expandable-section}--m-display-lg--BorderColor);
    border-radius: var(--#{$expandable-section}--m-display-lg--BorderRadius);
  }

  &.pf-m-indented {
    --#{$expandable-section}__content--PaddingLeft: var(--#{$expandable-section}--m-indented__content--PaddingLeft);
  }

  &.pf-m-truncate {
    --#{$expandable-section}__toggle--PaddingTop: 0;
    --#{$expandable-section}__toggle--PaddingRight: 0;
    --#{$expandable-section}__toggle--PaddingBottom: var(--#{$expandable-section}--m-truncate__toggle--PaddingBottom);
    --#{$expandable-section}__toggle--PaddingLeft: 0;
    --#{$expandable-section}__content--PaddingTop: 0;
    --#{$expandable-section}__content--PaddingRight: 0;
    --#{$expandable-section}__content--PaddingBottom: 0;
    --#{$expandable-section}__content--PaddingLeft: 0;

    &:not(.pf-m-expanded) .#{$expandable-section}__content {
      // stylelint-disable
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--#{$expandable-section}--m-truncate__content--LineClamp);
      // stylelint-enable
      overflow: hidden;
    }
  }
}

.#{$expandable-section}__toggle {
  display: flex;
  column-gap: var(--#{$expandable-section}__toggle--ColumnGap);
  width: var(--#{$expandable-section}__toggle--Width, initial);
  padding-block-start: var(--#{$expandable-section}__toggle--PaddingTop);
  padding-block-end: var(--#{$expandable-section}__toggle--PaddingBottom);
  padding-inline-start: var(--#{$expandable-section}__toggle--PaddingLeft);
  padding-inline-end: var(--#{$expandable-section}__toggle--PaddingRight);
  color: var(--#{$expandable-section}__toggle--Color);
  background-color: var(--#{$expandable-section}__toggle--BackgroundColor);
  border: none;
  border-radius: var(--#{$expandable-section}__toggle--BorderRadius, 0);

  &:hover {
    --#{$expandable-section}__toggle--Color: var(--#{$expandable-section}__toggle--hover--Color);
    --#{$expandable-section}__toggle--BackgroundColor: var(--#{$expandable-section}__toggle--hover--BackgroundColor, initial);
  }

  &:active,
  &.pf-m-active {
    --#{$expandable-section}__toggle--Color: var(--#{$expandable-section}__toggle--active--Color);
    --#{$expandable-section}__toggle--BackgroundColor: var(--#{$expandable-section}__toggle--active--BackgroundColor, initial);
  }

  &:focus {
    --#{$expandable-section}__toggle--Color: var(--#{$expandable-section}__toggle--focus--Color);
    --#{$expandable-section}__toggle--BackgroundColor: var(--#{$expandable-section}__toggle--focus--BackgroundColor, initial);
  }
}

.#{$expandable-section}__toggle-icon {
  @include pf-v5-mirror-inline-on-rtl;

  min-width: var(--#{$expandable-section}__toggle-icon--MinWidth);
  color: var(--#{$expandable-section}__toggle-icon--Color);
  transition: var(--#{$expandable-section}__toggle-icon--Transition);
  transform: rotate(var(--#{$expandable-section}__toggle-icon--Rotate));

  &.pf-m-expand-top {
    --#{$expandable-section}__toggle-icon--Rotate: var(--#{$expandable-section}__toggle-icon--m-expand-top--Rotate);
  }
}

.#{$expandable-section}__content {
  max-width: var(--#{$expandable-section}__content--MaxWidth);
  padding-block-start: var(--#{$expandable-section}__content--PaddingTop);
  padding-block-end: var(--#{$expandable-section}__content--PaddingBottom);
  padding-inline-start: var(--#{$expandable-section}__content--PaddingLeft);
  padding-inline-end: var(--#{$expandable-section}__content--PaddingRight);
}
