<span class="{{pfv}}expandable-section__toggle-icon{{#if expandable-section-toggle-icon--modifier}} {{expandable-section-toggle-icon--modifier}}{{/if}}"
  {{#if expandable-section-toggle-icon--attribute}}
    {{{expandable-section-toggle-icon--attribute}}}
  {{/if}}>
  {{pfIcon "rh-microns-caret-down"}}
</span>