<button type="button" class="pf-c-expandable-section__toggle{{#if expandable-section-toggle--modifier}} {{expandable-section-toggle--modifier}}{{/if}}"
  {{#if expandable-section-toggle--attribute}}
    {{{expandable-section-toggle--attribute}}}
  {{/if}}
  {{#if expandable-section--IsExpanded}}
  aria-expanded="true"
  {{else}}
  aria-expanded="false"
  {{/if}}
  >
  {{> @partial-block}}
  <i class="fas fa-angle-right pf-c-expandable-section__toggle-icon" aria-hidden="true"></i>
  {{#if expandable-section--IsExpanded}}
    <span>Show less</span>
  {{else}}
    <span>Show more</span>
  {{/if}}
</button>
