<div class="pf-c-expandable-section
  {{~#if expandable-section--IsExpanded}} pf-m-expanded{{/if}}
  {{~#if expandable-section--IsDetached}} pf-m-detached{{/if}}
  {{~#if expandable-section--IsDisplayLg}} pf-m-display-lg pf-m-limit-width{{/if}}
  {{~#if expandable-section--IsIndented}} pf-m-indented{{/if}}
  {{~#if expandable-section--modifier}} {{expandable-section--modifier}}{{/if}}"
  {{#if expandable-section--attribute}}
    {{{expandable-section--attribute}}}
  {{/if}}>{{> @partial-block}}</div>
