// All imports must not have any rendered output.
// Files that are imported here will be available to all resources.

// These imports reference files this folder

@import "./functions";
@import "./colors";
@import "./variables";
@import "./bs-variables"; // Overwrites Bootstrap variables
@import "./animations";
@import "./mixins";
@import "./controls";


// These imports reference files in the node_module folder
// @import "bootstrap/scss/_functions";
// @import "bootstrap/scss/_variables";
// @import "bootstrap/scss/_mixins";
