//
// Bootstrap Overwrite
//
// Bootstrap overwrites from patternfly Variables

// Colors

$white:    $pf-color-white !default;
$gray-100: $pf-color-black-100 !default;
$gray-200: $pf-color-black-200 !default;
$gray-300: $pf-color-black-300 !default;
$gray-400: $pf-color-black-400 !default;
$gray-500: $pf-color-black-500 !default;
$gray-600: $pf-color-black-600 !default;
$gray-700: $pf-color-black-700 !default;
$gray-800: $pf-color-black-800 !default;
$gray-900: $pf-color-black-900 !default;
$black:    $pf-color-black-1000 !default;

$blue:    $pf-color-blue-400 !default;
$purple:  $pf-color-purple-400 !default;
$red:     $pf-color-red-100 !default;
$orange:  $pf-color-orange-400 !default;
$yellow:  $pf-color-gold-400 !default;
$green:   $pf-color-green-400 !default;
$cyan:    $pf-color-cyan-400 !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:                      true !default;
$enable-shadows:                      true !default;
$enable-gradients:                    true !default;
$enable-hover-media-query:            true !default;


// Spacing
//

$spacer: $pf-global-spacer-md !default;


// Body

// Links

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   $pf-global-spacer-md !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: $pf-global-breakpoint-xs,
  sm: $pf-global-breakpoint-sm,
  md: $pf-global-breakpoint-md,
  lg: $pf-global-breakpoint-lg,
  xl: $pf-global-breakpoint-xl
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:           $pf-global-spacer-xxxl !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-width:                $pf-global-border-width !default;

$component-active-color:      $pf-global-active-color !default;
$component-active-bg:         $pf-global-active-background-color !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: $pf-global-font-family-sans-serif !default;

$font-family-monospace:  $pf-global-font-family-monospace !default;

$font-size-base:   $pf-global-font-size-base !default;

$font-weight-light:           $pf-global-font-weight-light !default;
$font-weight-normal:          $pf-global-font-weight-normal !default;
$font-weight-bold:            $pf-global-font-weight-bold !default;

$line-height-base:            $pf-global-line-height-base !default;

$line-height-base:            $pf-global-line-height-base !default;

$h1-font-size:                $pf-global-hero-title-font-size !default;
$h2-font-size:                $pf-global-main-title-font-size !default;
$h3-font-size:                $pf-global-secondary-title-font-size !default;
$h4-font-size:                $pf-global-sub-title-font-size !default;
$h5-font-size:                $pf-global-body-font-size !default;
$h6-font-size:                $pf-global-caption-font-size !default;
