// Colors
//

$pf-color-black-100:             #fafafa !default;
$pf-color-black-150:             #f5f5f5 !default;
$pf-color-black-200:             #ededed !default;
$pf-color-black-300:             #d1d1d1 !default;
$pf-color-black-400:             #bbb !default;
$pf-color-black-500:             #8b8d8f !default;
$pf-color-black-600:             #72767b !default;
$pf-color-black-700:             #4d5258 !default;
$pf-color-black-800:             #393f44 !default;
$pf-color-black-900:             #292e34 !default;
$pf-color-black-1000:            #030303 !default;
$pf-color-blue-50:               #def3ff !default;
$pf-color-blue-100:              #bee1f4 !default;
$pf-color-blue-200:              #7dc3e8 !default;
$pf-color-blue-300:              #39a5dc !default;
$pf-color-blue-400:              #0088ce !default;
$pf-color-blue-500:              #00659c !default;
$pf-color-blue-600:              #004368 !default;
$pf-color-blue-700:              #002235 !default;
$pf-color-cyan-100:              #bedee1 !default;
$pf-color-cyan-200:              #7dbdc3 !default;
$pf-color-cyan-300:              #3a9ca6 !default;
$pf-color-cyan-400:              #007a87 !default;
$pf-color-cyan-500:              #005c66 !default;
$pf-color-cyan-600:              #003d44 !default;
$pf-color-cyan-700:              #001f22 !default;
$pf-color-gold-100:              #fbeabc !default;
$pf-color-gold-200:              #f9d67a !default;
$pf-color-gold-300:              #f5c12e !default;
$pf-color-gold-400:              #f0ab00 !default;
$pf-color-gold-500:              #b58100 !default;
$pf-color-gold-600:              #795600 !default;
$pf-color-gold-700:              #3d2c00 !default;
$pf-color-green-100:             #cfe7cd !default;
$pf-color-green-200:             #9ecf99 !default;
$pf-color-green-300:             #6ec664 !default;
$pf-color-green-400:             #3f9c35 !default;
$pf-color-green-500:             #2d7623 !default;
$pf-color-green-600:             #1e4f18 !default;
$pf-color-green-700:             #0f280d !default;
$pf-color-light-blue-100:        #beedf9 !default;
$pf-color-light-blue-200:        #7cdbf3 !default;
$pf-color-light-blue-300:        #35caed !default;
$pf-color-light-blue-400:        #00b9e4 !default;
$pf-color-light-blue-500:        #008bad !default;
$pf-color-light-blue-600:        #005c73 !default;
$pf-color-light-blue-700:        #002d39 !default;
$pf-color-light-green-100:       #e4f5bc !default;
$pf-color-light-green-200:       #c8eb79 !default;
$pf-color-light-green-300:       #ace12e !default;
$pf-color-light-green-400:       #92d400 !default;
$pf-color-light-green-500:       #6ca100 !default;
$pf-color-light-green-600:       #486b00 !default;
$pf-color-light-green-700:       #253600 !default;
$pf-color-orange-100:            #fbdebf !default;
$pf-color-orange-200:            #f7bd7f !default;
$pf-color-orange-300:            #f39d3c !default;
$pf-color-orange-400:            #ec7a08 !default;
$pf-color-orange-500:            #b35c00 !default;
$pf-color-orange-600:            #773d00 !default;
$pf-color-orange-700:            #3b1f00 !default;
$pf-color-purple-100:            #c7bfff !default;
$pf-color-purple-200:            #a18fff !default;
$pf-color-purple-300:            #8461f7 !default;
$pf-color-purple-400:            #703fec !default;
$pf-color-purple-500:            #582fc0 !default;
$pf-color-purple-600:            #40199a !default;
$pf-color-purple-700:            #1f0066 !default;
$pf-color-red-100:               #c00 !default;
$pf-color-red-200:               #a30000 !default;
$pf-color-red-300:               #8b0000 !default;
$pf-color-red-400:               #470000 !default;
$pf-color-red-500:               #2c0000 !default;

$pf-color-white:                 #fff !default;
