// This file is for initial variable values.
// All variables should have a valid css value,
// and use !default so they can be overwritten

// Sizing Variables
$xxs-unit: 2px !default;
$xs-unit: .25rem !default;
$s-unit: .5rem !default;
$m-unit: 1rem !default;
$l-unit: 1.5rem !default;
$xl-unit: 1.75rem !default;
$xxl-unit: 3.25rem !default;
