{{#> page page--id="page-layout-data-list-actionable"}}
  {{#> skip-to-content skip-to-content--attribute=(concat 'href="#main-content-' page--id '"')}}
    Skip to content
  {{/skip-to-content}}
  {{#> page-header}}
    {{> data-list-page-header}}
  {{/page-header}}
  {{#> page-sidebar}}
    {{> data-list-page-nav}}
  {{/page-sidebar}}
  {{#> page-main}}
    {{#> page-main-nav page-main-nav--modifier="pf-m-light"}}
      {{> data-list-main-section-nav}}
    {{/page-main-nav}}
    <a id="main-content-{{page--id}}"></a>
    {{#> page-main-section page-main-section--modifier="pf-m-light"}}
      {{> data-list-main-section-content}}
    {{/page-main-section}}
    {{#> page-main-section page-main-section--modifier="pf-m-no-padding-mobile"}}
      {{#> card}}
        {{> data-list-toolbar}}
        {{> data-list-actionable-data-list}}
        {{> data-list-pagination}}
      {{/card}}
    {{/page-main-section}}
  {{/page-main}}
{{/page}}
