// @debug $back-to-top; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root {
  --#{$back-to-top}--Right: var(--pf-t--global--spacer--2xl);
  --#{$back-to-top}--Bottom: var(--pf-t--global--spacer--lg);
  --#{$back-to-top}--md--Bottom: var(--pf-t--global--spacer--2xl);
  --#{$back-to-top}--c-button--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$back-to-top}--c-button--PaddingTop: var(--pf-t--global--spacer--xs);
  --#{$back-to-top}--c-button--PaddingRight: var(--pf-t--global--spacer--sm);
  --#{$back-to-top}--c-button--PaddingBottom: var(--pf-t--global--spacer--xs);
  --#{$back-to-top}--c-button--PaddingLeft: var(--pf-t--global--spacer--sm);
  --#{$back-to-top}--c-button--BoxShadow: var(--pf-t--global--box-shadow--sm);

  @media (min-width: $pf-v5-global--breakpoint--md) {
    --#{$back-to-top}--Bottom: var(--#{$back-to-top}--md--Bottom);
  }
}

.#{$back-to-top} {
  position: absolute;
  inset-block-end: var(--#{$back-to-top}--Bottom);
  inset-inline-end: var(--#{$back-to-top}--Right);

  &.pf-m-hidden {
    display: none;
  }

  .#{$button} {
    --#{$button}--FontSize: var(--#{$back-to-top}--c-button--FontSize);
    --#{$button}--BorderRadius: var(--#{$back-to-top}--c-button--BorderRadius);
    --#{$button}--PaddingTop: var(--#{$back-to-top}--c-button--PaddingTop);
    --#{$button}--PaddingRight: var(--#{$back-to-top}--c-button--PaddingRight);
    --#{$button}--PaddingBottom: var(--#{$back-to-top}--c-button--PaddingBottom);
    --#{$button}--PaddingLeft: var(--#{$back-to-top}--c-button--PaddingLeft);

    box-shadow: var(--#{$back-to-top}--c-button--BoxShadow);
  }
}
