// @debug $back-to-top; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$back-to-top} {
  --#{$back-to-top}--Right: var(--#{$pf-global}--spacer--2xl);
  --#{$back-to-top}--Bottom: var(--#{$pf-global}--spacer--lg);
  --#{$back-to-top}--md--Bottom: var(--#{$pf-global}--spacer--2xl);
  --#{$back-to-top}--c-button--FontSize: var(--#{$pf-global}--FontSize--xs);
  --#{$back-to-top}--c-button--BorderRadius: var(--#{$pf-global}--BorderRadius--lg);
  --#{$back-to-top}--c-button--PaddingTop: var(--#{$pf-global}--spacer--xs);
  --#{$back-to-top}--c-button--PaddingRight: var(--#{$pf-global}--spacer--sm);
  --#{$back-to-top}--c-button--PaddingBottom: var(--#{$pf-global}--spacer--xs);
  --#{$back-to-top}--c-button--PaddingLeft: var(--#{$pf-global}--spacer--sm);
  --#{$back-to-top}--c-button--BoxShadow: var(--#{$pf-global}--BoxShadow--lg-bottom);

  @media (min-width: $pf-v5-global--breakpoint--md) {
    --#{$back-to-top}--Bottom: var(--#{$back-to-top}--md--Bottom);
  }

  position: absolute;
  inset-block-end: var(--#{$back-to-top}--Bottom);
  inset-inline-end: var(--#{$back-to-top}--Right);

  &.pf-m-hidden {
    display: none;
  }

  .#{$button} {
    --#{$button}--FontSize: var(--#{$back-to-top}--c-button--FontSize);
    --#{$button}--BorderRadius: var(--#{$back-to-top}--c-button--BorderRadius);
    --#{$button}--PaddingTop: var(--#{$back-to-top}--c-button--PaddingTop);
    --#{$button}--PaddingRight: var(--#{$back-to-top}--c-button--PaddingRight);
    --#{$button}--PaddingBottom: var(--#{$back-to-top}--c-button--PaddingBottom);
    --#{$button}--PaddingLeft: var(--#{$back-to-top}--c-button--PaddingLeft);

    box-shadow: var(--#{$back-to-top}--c-button--BoxShadow);
  }
}
