<label class="pf-c-form__label {{ pf-c-form--modifier }} {{#if required}}pf-m-required {{/if}} {{#if hidden}} pf-m-visually-hidden{{/if}}" {{#if for}} for="{{for}}" {{/if}} {{#if required}}data-required="true"{{/if}}>{{> @partial-block }}</label>
