<div class="pf-c-form__section-title{{#if form-section-title--modifier}} {{form-section-title--modifier}}{{/if}}"
  {{#if form-section-title--attribute}}
    {{{form-section-title--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
