<div class="pf-c-form__field-group{{#if form-field-group--IsExpanded}} pf-m-expanded{{/if}}{{#if form-field-group--modifier}} {{form-field-group--modifier}}{{/if}}"
  role="group"
  {{#unless form-field-group--HasNoTitle}}
    aria-labelledby="{{form-field-group--id}}-title"
  {{/unless}}
  {{#if form-field-group--attribute}}
    {{{form-field-group--attribute}}}
  {{/if}}>
  {{#if form-field-group--IsExpandable}}
    {{> form-field-group-toggle}}
  {{/if}}
  {{> @partial-block}}
</div>
