<div class="pf-c-form__action-item{{#if form-action-item--modifier}} {{form-action-item--modifier}}{{/if}}"
  {{#if form-action-item--attribute}}
    {{{form-action-item--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
