<div class="pf-c-form__action-row{{#if form-action-row--modifier}} {{form-action-row--modifier}}{{/if}}"
  {{#if form-action-row--attribute}}
    {{{form-action-row--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
