<div class="{{pfv}}form__field-group-body{{#if form-field-group-body--modifier}} {{form-field-group-body--modifier}}{{/if}}"
  {{#unless form-field-group--IsExpanded}}
    inert
  {{/unless}}
  {{#if form-field-group-body--attribute}}
    {{{form-field-group-body--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
