<div class="{{pfv}}form__field-group-toggle-button{{#if form-field-group-toggle-button--modifier}} {{form-field-group-toggle-button--modifier}}{{/if}}"
  {{#if form-field-group-toggle-button--attribute}}
    {{{form-field-group-toggle-button--attribute}}}
  {{/if}}>
  {{#if form-field-group--IsExpanded}}
    {{#> button button--modifier="pf-m-plain" button--attribute=(concat 'aria-expanded="true" aria-label="Details" id="' form-field-group--id '-toggle" aria-labelledby="' form-field-group--id '-title ' form-field-group--id '-toggle"')}}
      {{> form-field-group-toggle-icon}}
    {{/button}}
  {{else}}
    {{#> button button--modifier="pf-m-plain" button--attribute=(concat 'aria-expanded="false" aria-label="Details" id="' form-field-group--id '-toggle" aria-labelledby="' form-field-group--id '-title ' form-field-group--id '-toggle"')}}
      {{> form-field-group-toggle-icon}}
    {{/button}}
  {{/if}}
</div>
