<div class="{{pfv}}form__field-group-header-description{{#if form-field-group-header-description--modifier}} {{form-field-group-header-description--modifier}}{{/if}}"
  {{#if form-field-group-header-description--attribute}}
    {{{form-field-group-header-description--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
