<div class="{{pfv}}form__field-group-header-actions{{#if form-field-group-header-actions--modifier}} {{form-field-group-header-actions--modifier}}{{/if}}"
  {{#if form-field-group-header-actions--attribute}}
    {{{form-field-group-header-actions--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
