<div class="{{pfv}}form__group-label-main{{#if form-group-label-main--modifier}} {{form-group-label-main--modifier}}{{/if}}"
  {{#if form-group-label-main--attribute}}
    {{{form-group-label-main--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
