<div class="{{pfv}}form__field-group-header{{#if form-field-group-header--modifier}} {{form-field-group-header--modifier}}{{/if}}"
  {{#if form-field-group-header--attribute}}
    {{{form-field-group-header--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
