<label class="pf-c-form__label{{#if pf-c-form__label--modifier}} {{ pf-c-form__label--modifier }}{{/if}}{{#if required}} pf-m-required{{/if}}{{#if hidden}} pf-u-sr-only{{/if}}" 
{{#if for}} for="{{for}}"{{/if}} 
>
{{> @partial-block }}
</label>
