<div class="pf-c-form__group-label-main{{#if form-label--modifier}} {{form-label--modifier}}{{/if}}"
  {{#if form-label--attribute}}
    {{{form-label--attribute}}}
  {{/if}}>
  {{#> form-label}}
    {{>@partial-block}}
  {{/form-label}}
</div>
