<div class="pf-c-form__section-title{{#if form-section-title--modifier}} {{form-section-title--modifier}}{{/if}}"
  id="{{form-section--id}}-title"
  aria-hidden="true"
  {{#if form-section-title--attribute}}
    {{{form-section-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
