<div class="pf-c-form__field-group-header-title-text{{#if form-field-group-title-text--modifier}} {{form-field-group-title-text--modifier}}{{/if}}"
  id="{{form-field-group--id}}-title"
  {{#if form-field-group-title-text--attribute}}
    {{{form-field-group-title-text--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
