<div class="{{pfv}}form__field-group-header-main{{#if form-field-group-header-main--modifier}} {{form-field-group-header-main--modifier}}{{/if}}"
  {{#if form-field-group-header-main--attribute}}
    {{{form-field-group-header-main--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
