<div class="{{pfv}}form__field-group-header-title{{#if form-field-group-title--modifier}} {{form-field-group-title--modifier}}{{/if}}"
  {{#if form-field-group-title--attribute}}
    {{{form-field-group-title--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
