<p class="pf-c-form__helper-text{{#if form__helper--modifier}} {{ form__helper--modifier }}{{/if}}" 
{{#if id}} id="{{id}}"{{/if}}
{{#if aria-live}} aria-live="{{aria-live}}"{{/if}}
{{#if aria-hidden}} aria-hidden="{{aria-hidden}}" {{/if}}
>
{{> @partial-block }}
</p>
