<div class="{{pfv}}form__field-group-toggle{{#if form-field-group-toggle--modifier}} {{form-field-group-toggle--modifier}}{{/if}}"
  {{#if form-field-group-toggle--attribute}}
    {{{form-field-group-toggle--attribute}}}
  {{/if}}>
  {{> form-field-group-toggle-button}}
</div>
