<div class="{{pfv}}form__group-label-info{{#if form-group-label-info--modifier}} {{form-group-label-info--modifier}}{{/if}}"
  {{#if form-group-label-info--attribute}}
    {{{form-group-label-info--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
