<div class="pf-c-form__group{{#if form-group--modifier}} {{form-group--modifier}}{{/if}}"
  {{~#if form-group--IsCheckGroup}}
    role="group"
    aria-labelledby="{{form--id}}{{form-group--id}}-legend"
  {{/if}}
  {{#if form-group--attribute}}
    {{{form-group--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
