<label class="pf-c-form__label{{#if form-label--modifier}} {{form-label--modifier}}{{/if}}"
	{{#if required}}
    required
  {{/if}}
  {{#if form-label--attribute}}
    {{{form-label--attribute}}}
  {{/if}}>
  {{>@partial-block}}
  {{#if required}}
    <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
  {{/if}}
</label>