
@import "../../patternfly-utilities";

// // Select - chevron
// $pf-c-form__select--chevron-svg--Color: $pf-global--BorderColor--dark !default;
// $pf-c-form__select--chevron-svg--disabled--Color: $pf-global--BorderColor--light !default;
// $pf-c-form__select--chevron-svg--Width: 28px !default;
// $pf-c-form__select--chevron-svg--Height: 10px !default;
// $pf-c-form__select--chevron-svg--Coordinates: "M0 1.7L1.7 0l4.7 4.6L11 0l1.7 1.7L6.4 8L0 1.7z" !default;
// $pf-c-form__select--chevron-svg--Viewbox: "0 0 32 10" !default;
// Base form
.pf-c-form {
  // Label
  --pf-c-form__label--Color: var(--pf-global--Color--100);
  --pf-c-form__label--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-form__label--FontSize: var(--pf-global--FontSize--md);
  --pf-c-form__label--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-form__label--disabled--Color: var(--pf-global--Color--disabled);

  // nested Label
  --pf-c-form__label-nested--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-form__label-nested--PaddingRight: 0;
  --pf-c-form__label-nested--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-form__label-nested--PaddingLeft: 0;
  // --pf-c-form__check--addons--MarginLeft:   var(--pf-global--spacer--sm);

  // Group
  --pf-c-form--group--MarginLeft: var(--pf-global--spacer--sm);

  // Section
  --pf-c-form--section--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-form--section--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-form--section--border--BorderBottomWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-form--section--border--BorderBottomColor: var(--pf-global--BorderColor--light);

  // Sub-section
  --pf-c-form--subsection-title--MarginBottom: var(--pf-global--spacer--sm);

  // Legend
  --pf-c-form__legend--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-form__legend--FontSize: var(--pf-global--FontSize--lg);
  --pf-c-form__legend--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // // States
  --pf-c-form--error--Color: var(--pf-global--danger-color--200);

  // Helpers
  --pf-c-form__helper-text--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-form__helper-text--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-form__helper-text--Color: var(--pf-global--Color--100);
  // Inline
  --pf-c-form--inline--MarginRight: var(--pf-global--spacer--lg);
  // Checkbox
  --pf-c-check--MarginRight: var(--pf-global--spacer--md);
  // Button group
  --pf-c-form--button-group--item--MarginRight: var(--pf-global--spacer--lg);

  // Section
  &__section {
    padding-top: var(--pf-c-form--section--PaddingTop);
    padding-bottom: var(--pf-c-form--section--PaddingBottom);

    &.pf-m-border {
      border-bottom: var(--pf-c-form--section--border--BorderBottomWidth) solid var(--pf-c-form--section--border--BorderBottomColor);
    }
  }

  // Group - label and control container
  // Note: Fieldset and legend are replaced groups. In order to have fieldset elements layout like a group, fieldset contents must be wrapped in __group.
  &__group {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    // Handle additional items within __group without having an additional wrapper or selector
    > *:not(.pf-c-form__label):not(.pf-c-input-group):not(.pf-c-form-control):not(.pf-c-form__helper-text):not(.pf-c-form__legend):not(.pf-c-form__button-group):not([class*="pf-l-"]) {
      margin-left: var(--pf-c-form--group--MarginLeft);
    }

    // For pf-l- items to clear appropriately
    [class*="pf-l-"] {
      width: 100%;
    }
  }

  // Groups stacked
  &__group + &__group {
    margin-top: var(--pf-global--gutter);
  }

  // Form label
  &__label {
    display: flex;
    align-items: baseline;
    // using padding to prevent flicker
    padding-bottom: var(--pf-c-form__label--PaddingBottom);
    font-size: var(--pf-c-form__label--FontSize);
    font-weight: var(--pf-c-form__label--FontWeight);
    color: var(--pf-c-form__label--Color);

    // Hide label selection on click
    &::selection {
      background-color: none;
    }

    &.pf-m-disabled {
      color: var(--pf-c-form__label--disabled--Color);
      cursor: not-allowed;
    }
    &.pf-m-required {
      position: relative;
      &::after {
        margin-left: 4px;
        font-size: 14px;
        color: #c00;
        content: "*";
      }
    }
  }

  // // Checkbox and radio container
  // &__check {
  //   // Handle additional elements within check
  //   display: flex;
  //   flex: 1;
  //   align-items: baseline;

  //   // Space additional elements within pf-c-check
  //   > *:not(.pf-c-form__label):not(.pf-c-check) {
  //     margin-left: var(--pf-c-form__check--addons--MarginLeft);
  //   }

  //   .pf-c-form__label {
  //     // Remove default label padding
  //     padding-bottom: 0;

  //     &:not(.pf-m-disabled):hover {
  //       cursor: pointer;
  //     }

  //     &.pf-m-disabled:hover {
  //       cursor: not-allowed;
  //     }
  //   }
  // }

  // // Checkbox, radio
  .pf-c-check {
    margin-right: var(--pf-c-check--MarginRight);
  }

  // Fieldset
  &__fieldset {
    border: none;
  }

  // Legend
  &__legend {
    margin-bottom: var(--pf-c-form__legend--MarginBottom);
    font-size: var(--pf-c-form__legend--FontSize);
    font-weight: var(--pf-c-form__legend--FontWeight);
  }

  // Helper text
  &__helper-text {
    margin-top: var(--pf-c-form__helper-text--MarginTop);
    font-size: var(--pf-c-form__helper-text--FontSize);
    &:not(.pf-m-error){
      color: var(--pf-c-form__helper-text--Color);
    }
    &.pf-m-error {
      color: var(--pf-c-form--error--Color);
    }
  }

  // Button group
  &__button-group {
    display: flex;

    > * {
      margin-right: var(--pf-c-form--button-group--item--MarginRight);
    }
  }

  // Modifiers
  .pf-m {

    // Inline
    &-inline {
      display: flex;
      flex-flow: row wrap;
      > * {
        // Purpose: larger margin-right than the default value for '--group.'
        flex: auto 0;
        margin-right: var(--pf-c-form--inline--MarginRight);
      }
      .pf-c-form__label {
        padding-top: var(--pf-c-form__label-nested--PaddingTop);
        padding-right: var(--pf-c-form__label-nested--PaddingRight);
        padding-bottom: var(--pf-c-form__label-nested--PaddingBottom);
        padding-left: var(--pf-c-form__label-nested--PaddingLeft);
      }
    }

    // Sub-section title
    &-subsection-title {
      margin-bottom: var(--pf-c-form--subsection-title--MarginBottom);
    }


    &-visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
      /* stylelint-disable */
      position: absolute !important;
      /* stylelint-enable */
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
}

