<a href="#" class="pf-c-breadcrumb__link{{#if breadcrumb-link--modifier}} {{breadcrumb-link--modifier}}{{/if}}"
  {{#if breadcrumb-link--attribute}}
    {{{breadcrumb-link--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</a>
