@use '../../sass-utilities' as *;

:where(:root, .#{$breadcrumb}) {
  // Breadcrumb item
  --#{$breadcrumb}__item--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$breadcrumb}__item--LineHeight: var(--pf-t--global--font--line-height--body);
  --#{$breadcrumb}__item--MarginRight: var(--pf-t--global--spacer--sm);

  // Breadcrumb divider
  --#{$breadcrumb}__item-divider--Color: var(--pf-t--global--icon--color--regular);
  --#{$breadcrumb}__item-divider--MarginRight: var(--pf-t--global--spacer--sm);
  --#{$breadcrumb}__item-divider--FontSize: var( --pf-t--global--font--size--body--sm);

  // Breadcrumb link
  --#{$breadcrumb}__link--PaddingInlineStart: var(--pf-t--global--spacer--sm); // use a mutable value for alignment control
  --#{$breadcrumb}__link--PaddingInlineEnd: var(--pf-t--global--spacer--sm); // use a mutable value for alignment control
  --#{$breadcrumb}__link--Color: var(--pf-t--global--text--color--link--default);
  --#{$breadcrumb}__link--TextDecoration: var(--pf-t--global--link--text-decoration);
  --#{$breadcrumb}__link--hover--Color: var(--pf-t--global--text--color--link--hover);
  --#{$breadcrumb}__link--hover--TextDecoration: var(--pf-t--global--link--text-decoration--hover);
  --#{$breadcrumb}__link--m-current--Color: var(--pf-t--global--text--color--regular);
  --#{$breadcrumb}__link--BackgroundColor: transparent;

  // Heading
  --#{$breadcrumb}__heading--FontSize: var( --pf-t--global--font--size--body--sm);

  // breadcrumb dropdown
  --#{$breadcrumb}__dropdown--MarginTop: calc(var(--pf-t--global--spacer--control--vertical--default) * -1);
  --#{$breadcrumb}__dropdown--MarginRight: calc(var(--#{$breadcrumb}__item--MarginRight) * -1);
  --#{$breadcrumb}__dropdown--MarginBottom: calc(var(--pf-t--global--spacer--control--vertical--default) * -1);
  --#{$breadcrumb}__dropdown--MarginLeft: calc(var(--#{$breadcrumb}__item-divider--MarginRight) * -1);

  // breadcrumb toggle
  --#{$breadcrumb}__dropdown--c-dropdown__toggle--LineHeight: var(--pf-t--global--font--line-height--body);
}

.#{$breadcrumb} {
  display: inline-flex;
}

// Breadcrumb list
.#{$breadcrumb}__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// Breadcrumb list item
.#{$breadcrumb}__item {
  display: flex;
  align-items: baseline;
  font-size: var(--#{$breadcrumb}__item--FontSize);
  font-weight: var(--#{$breadcrumb}__item--FontWeight);
  line-height: var(--#{$breadcrumb}__item--LineHeight);
  white-space: nowrap; // Keeps the item-divider and __link text on the same line
  list-style: none;

  &:first-child:has(.#{$breadcrumb}__link) {
    --#{$breadcrumb}__link--PaddingInlineStart: 0; // remove padding from first child if link
  }

  &:not(:last-child) {
    margin-inline-end: var(--#{$breadcrumb}__item--MarginRight);
  }
}

// Breadcrumb divider
.#{$breadcrumb}__item-divider {
  @include pf-v6-mirror-inline-on-rtl;

  margin-inline-end: var(--#{$breadcrumb}__item-divider--MarginRight);
  font-size: var(--#{$breadcrumb}__item-divider--FontSize);
  line-height: 1;
  color: var(--#{$breadcrumb}__item-divider--Color);
}

// Breadcrumb link
.#{$breadcrumb}__link {
  padding-inline-start: var(--#{$breadcrumb}__link--PaddingInlineStart); // use a mutable value for alignment control
  padding-inline-end: var(--#{$breadcrumb}__link--PaddingInlineEnd); // use a mutable value for alignment control
  font-size: inherit;
  font-weight: var(--#{$breadcrumb}__link--FontWeight);
  line-height: inherit;
  color: var(--#{$breadcrumb}__link--Color);
  text-decoration: var(--#{$breadcrumb}__link--TextDecoration);
  word-break: break-word;
  background-color: var(--#{$breadcrumb}__link--BackgroundColor);

  &:hover {
    --#{$breadcrumb}__link--Color: var(--#{$breadcrumb}__link--hover--Color);
    --#{$breadcrumb}__link--TextDecoration: var(--#{$breadcrumb}__link--hover--TextDecoration);
  }


  // current item
  &.pf-m-current {
    cursor: default;

    &,
    &:hover {
      color: var(--#{$breadcrumb}__link--m-current--Color);
      text-decoration: none;
    }
  }

  // update at breaking change
  @at-root button#{&} {
    border: none;
  }
}

.#{$breadcrumb}__dropdown {
  margin-block-start: var(--#{$breadcrumb}__dropdown--MarginTop);
  margin-block-end: var(--#{$breadcrumb}__dropdown--MarginBottom);
  margin-inline-start: var(--#{$breadcrumb}__dropdown--MarginLeft);
  margin-inline-end: var(--#{$breadcrumb}__dropdown--MarginRight);

  .#{$dropdown}__toggle {
    line-height: var(--#{$breadcrumb}__dropdown--c-dropdown__toggle--LineHeight);
  }
}

.#{$breadcrumb}__heading {
  display: inline;
  font-size: var(--#{$breadcrumb}__heading--FontSize);
}

.#{$breadcrumb}__link,
.#{$breadcrumb}__heading {
  white-space: normal;
}

// Hide divider of first child - required for react since dividers are included in each item
// Consider revisiting this in a breaking change release
.#{$breadcrumb}__list > :first-child .#{$breadcrumb}__item-divider {
  display: none;
}
