<span class="{{pfv}}breadcrumb__dropdown{{#if breadcrumb-dropdown--modifier}} {{breadcrumb-dropdown--modifier}}{{/if}}"
  {{#if breadcrumb-dropdown--attribute}}
    {{{breadcrumb-dropdown--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
