<nav aria-label="breadcrumb" class="pf-c-breadcrumb{{#if breadcrumb--modifier}} {{breadcrumb--modifier}}{{/if}}"
  {{#if breadcrumb--attribute}}
    {{{breadcrumb--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</nav>