@import "../../patternfly-utilities";

.pf-c-breadcrumb {
  --pf-c-breadcrumb--title--MarginTop: var(--pf-global--spacer--md);

  // Breadcrumb Item
  --pf-c-breadcrumb__item--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-breadcrumb__item--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-breadcrumb__item--LineHeight: var(--pf-global--LineHeight--lg);
  --pf-c-breadcrumb__item--Color: var(--pf-global--Color--300);
  --pf-c-breadcrumb__item--hover--Color: var(--pf-global--Color--300);
  --pf-c-breadcrumb__item--MarginRight: var(--pf-global--spacer--sm);

  // Breadcrumb Divider
  --pf-c-breadcrumb__item-divider--MarginLeft: var(--pf-global--spacer--sm);
  --pf-c-breadcrumb__item-divider--Color: var(--pf-global--Color--300);
  --pf-c-breadcrumb__item-divider--FontSize: var(--pf-global--FontSize--sm);

  // Breadcrumb Link
  --pf-c-breadcrumb__link--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-breadcrumb__link--Color: var(--pf-global--link--Color);
  --pf-c-breadcrumb__link--hover--Color: var(--pf-global--link--Color);
  --pf-c-breadcrumb__link--hover--TextDecoration: var(--pf-global--link--TextDecoration--hover);

  // ============================================================ //
  // Modifiers
  // ============================================================ //

  // Modifier - current item
  --pf-c-breadcrumb__item--m-current--Color: var(--pf-c-breadcrumb__item--Color);
  --pf-c-breadcrumb__item--m-current--hover--Color: var(--pf-c-breadcrumb__item--Color);

  // Modifier - title item
  --pf-c-breadcrumb__item--m-title--MarginTop: var(--pf-global--spacer--md);

  display: inline-flex;
}

// Breadcrumb list
.pf-c-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// Breadcrumb list item
.pf-c-breadcrumb__item {
  display: flex;
  align-items: center;
  font-size: var(--pf-c-breadcrumb__item--FontSize);
  font-weight: var(--pf-c-breadcrumb__item--FontWeight);
  line-height: var(--pf-c-breadcrumb__item--LineHeight);
  color: var(--pf-c-breadcrumb__item--Color);
  cursor: default;

  &:not(:last-child) {
    margin-right: var(--pf-c-breadcrumb__item--MarginRight);
  }

  // current item
  &.pf-m-current * {
    color: var(--pf-c-breadcrumb__item--m-current--Color);
    text-decoration: none;
    cursor: default;

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-breadcrumb__item--m-current--hover--Color);
      text-decoration: none;
    }
  }
}

// Breadcrumb divider
.pf-c-breadcrumb__item-divider {
  margin-left: var(--pf-c-breadcrumb__item-divider--MarginLeft);
  font-size: var(--pf-c-breadcrumb__item-divider--FontSize);
  line-height: 1;
  color: var(--pf-c-breadcrumb__item-divider--Color);
}

// Breadcrumb link
.pf-c-breadcrumb__link {
  font-size: inherit;
  font-weight: var(--pf-c-breadcrumb__link--FontWeight);
  line-height: inherit;
  color: var(--pf-c-breadcrumb__link--Color);

  &:hover,
  &.pf-m-hover {
    color: var(--pf-c-breadcrumb__link--hover--Color);
    text-decoration: var(--pf-c-breadcrumb__link--hover--TextDecoration);
  }
}
