@import "../../patternfly-utilities";

.pf-c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 100vh;
  background: var(--pf-c-overlay--Background, rgba(0, 0, 0, .7));

  &.pf-is-active {
    display: block;
  }
}
