{{#> data-list data-list--attribute='aria-label="Checkbox and action data list example"'}}
  {{#> data-list-item data-list-item--attribute='aria-labelledby="check-action-item1"'}}
    {{#> data-list-item-controls}}
      {{#> data-list-check checkbox--attribute='name="check-action-check1" aria-labelledby="check-action-item1"'}}{{/data-list-check}}
    {{/data-list-item-controls}}
    {{#> data-list-item-content}}
      {{#> data-list-cell}}
        <span id='check-action-item1'>Primary content</span>
      {{/data-list-cell}}
      {{#> data-list-cell}}
        Secondary content
      {{/data-list-cell}}
      {{#> data-list-cell}}
        <span>Tertiary Content</span>
      {{/data-list-cell}}
        {{#> data-list-cell}}
        <span>More Content</span>
      {{/data-list-cell}}
        {{#> data-list-cell}}
        <span>More Content</span>
      {{/data-list-cell}}
    {{/data-list-item-content}}
    {{#> data-list-item-actions}}
      {{#> data-list-action id="dropdown-kebab-right-action-1"}}{{/data-list-action}}
    {{/data-list-item-actions}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--attribute='aria-labelledby="check-action-item2"'}}
    {{#> data-list-item-controls}}
      {{#> data-list-check checkbox--attribute='name="check-action-check2" aria-labelledby="check-action-item2"'}}{{/data-list-check}}
    {{/data-list-item-controls}}
    {{#> data-list-item-content}}
      {{#> data-list-cell}}
        <span id='check-action-item2'>Primary content - Lorem ipsum</span> dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      {{/data-list-cell}}
      {{#> data-list-cell}}
        Secondary content. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      {{/data-list-cell}}
    {{/data-list-item-content}}
    {{#> data-list-item-actions}}
      {{#> data-list-action id="dropdown-kebab-right-action-2"}}{{/data-list-action}}
    {{/data-list-item-actions}}
  {{/data-list-item}}
{{/data-list}}
