{{!-- Example 1 --}}
<h2 class="Preview__section-title">Default fitting - example 1</h2>
{{#> data-list data-list--attribute='aria-label="Width modifier data list example 1"'}}
  {{#> data-list-item data-list-item--attribute='aria-labelledby="width-ex1-item1"'}}
  {{#> data-list-check check-input--attribute='type="checkbox" name="width-ex1-check1" aria-labelledby="width-ex1-item1"'}}{{/data-list-check}}
    {{#> data-list-cell}}
      <div class="Preview__placeholder">
        <b id="width-ex1-item1">default</b>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      <div class="Preview__placeholder">
        <b>default</b>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    {{/data-list-cell}}
  {{/data-list-item}}
{{/data-list}}

{{!-- Example 2 --}}
<h2 class="Preview__section-title">Flex modifiers - example 2</h2>
{{#> data-list data-list--attribute='aria-label="Width modifier data list example 2"'}}
  {{#> data-list-item data-list-item--attribute='aria-labelledby="width-ex2-item1"'}}
    {{#> data-list-check check-input--attribute='type="checkbox" name="width-ex2-check1" aria-labelledby="width-ex2-item1"'}}{{/data-list-check}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-2"}}
      <div class="Preview__placeholder">
        <b id="width-ex2-item1">.pf-m-flex-2</b>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
    {{/data-list-cell}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-4"}}
      <div class="Preview__placeholder">
        <b>.pf-m-flex-4</b>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    {{/data-list-cell}}
    {{#> data-list-action button--attribute='aria-labelledby="width-ex2-item1 width-ex2-action1" id="width-ex2-action1" aria-label="Actions"'}}{{/data-list-action}}
  {{/data-list-item}}
{{/data-list}}

{{!-- Example 3 --}}
<h2 class="Preview__section-title">Flex modifiers - example 3</h2>
{{#> data-list data-list--attribute='aria-label="Width modifier data list example 3"'}}
  {{#> data-list-item data-list-item--expanded="true" data-list-item--attribute='aria-labelledby="width-ex3-item1"'}}
    {{#> data-list-toggle button--attribute='aria-labelledby="width-ex3-toggle1 width-ex3-item1" id="width-ex3-toggle1" aria-label="Toggle details for" aria-expanded="true" aria-controls="content-3"'}}{{/data-list-toggle}}
    {{#> data-list-check check-input--attribute='type="checkbox" name="width-ex3-check1" aria-labelledby="width-ex3-item1"'}}{{/data-list-check}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-5"}}
      <div class="Preview__placeholder">
        <b id="width-ex3-item1">.pf-m-flex-5</b>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    {{/data-list-cell}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-2"}}
      <div class="Preview__placeholder">
        <b>.pf-m-flex-2</b>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      <div class="Preview__placeholder">default</div>
    {{/data-list-cell}}
    {{#> data-list-action button--attribute='aria-labelledby="width-ex3-item1 width-ex3-action1" id="width-ex3-action1" aria-label="Actions"'}}{{/data-list-action}}
    {{#> data-list-expandable-content data-list-expandable-content--attribute='id="content-3" aria-label="Primary Content Details"'}}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    {{/data-list-expandable-content}}
  {{/data-list-item}}
{{/data-list}}
