{{#> data-list data-list--interactive="true" data-list--modifier="pf-u-box-shadow-md"}}
  {{#> data-list-item data-list-item--modifier="pf-m-expanded"}}
    {{#> data-list-toggle button--attribute='aria-labelledby="ex-toggle1 ex-cell1" id="ex-toggle1" aria-label="Toggle"'}}{{/data-list-toggle}}
    {{#> data-list-check check-input--attribute='type="checkbox" name="ex-check1" aria-labelledby="ex-check1 ex-cell1" id="ex-check1" aria-label="Check"'}}{{/data-list-check}}
    {{#> data-list-separator}}{{/data-list-separator}}
    {{#> data-list-cell data-list-cell--attribute='id="ex-cell1"'}}
      <div>Primary textual cell</div>
      <a href="#">link</a>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
      </span>
    {{/data-list-cell}}
    {{#> data-list-action button--attribute='aria-label="Actions"'}}{{/data-list-action}}
    {{#> data-list-expandable-content}}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    {{/data-list-expandable-content}}
  {{/data-list-item}}

  {{#> data-list-item}}
    {{#> data-list-toggle button--attribute='aria-labelledby="ex-toggle2 ex-cell2" id="ex-toggle2" aria-label="Toggle"'}}{{/data-list-toggle}}
    {{#> data-list-check check-input--attribute='type="checkbox" name="ex-check2" aria-labelledby="ex-check2 ex-cell2" id="ex-check2" aria-label="Check"'}}{{/data-list-check}}
    {{#> data-list-separator}}{{/data-list-separator}}
    {{#> data-list-cell data-list-cell--attribute='id="ex-cell2"'}}
      <div>Primary textual cell</div>
      <a href="#">link</a>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
      </span>
    {{/data-list-cell}}
    {{#> data-list-action button--attribute='aria-label="Actions"'}}{{/data-list-action}}
    {{#> data-list-expandable-content}}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    {{/data-list-expandable-content}}
  {{/data-list-item}}
{{/data-list}}
