{{#> data-list data-list--attribute='aria-label="Expandable data list example"'}}
  {{#> data-list-item data-list-item--expanded="true" data-list-item--attribute='aria-labelledby="ex-item1"'}}
    {{#> data-list-item-row}}
      {{#> data-list-item-controls}}
        {{#> data-list-toggle button--attribute='aria-labelledby="ex-toggle1 ex-item1" id="ex-toggle1" aria-label="Toggle details for" aria-expanded="true" aria-controls="content-1"'}}{{/data-list-toggle}}
        {{#> data-list-check checkbox--attribute='name="check-action-check1" aria-labelledby="check-action-item1"'}}{{/data-list-check}}
      {{/data-list-item-controls}}
      {{#> data-list-item-content}}
        {{#> data-list-cell data-list-cell--modifier="pf-m-shrink-start"}}
          {{#> data-list-icon data-list-icon--type="code-branch"}}{{/data-list-icon}}
        {{/data-list-cell}}
        {{#> data-list-cell}}
          <div id="ex-item1">Primary content</div><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          <a href="#">link</a>
        {{/data-list-cell}}
        {{#> data-list-cell}}
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        {{/data-list-cell}}
        {{#> data-list-cell}}
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        {{/data-list-cell}}
      {{/data-list-item-content}}
      {{#> data-list-item-actions}}
        {{#> data-list-action id="dropdown-kebab-right-action-3"}}{{/data-list-action}}
      {{/data-list-item-actions}}
    {{/data-list-item-row}}
    {{#> data-list-expandable-content data-list-expandable-content--attribute='id="content-1" aria-label="Primary Content Details"'}}
      {{#> data-list-expandable-content-body}}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      {{/data-list-expandable-content-body}}
    {{/data-list-expandable-content}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--attribute='aria-labelledby="ex-item2"'}}
    {{#> data-list-item-row}}
      {{#> data-list-item-controls}}
        {{#> data-list-toggle button--attribute='aria-labelledby="ex-toggle2 ex-item2" id="ex-toggle2" aria-label="Toggle details for" aria-expanded="false" aria-controls="content-2"'}}{{/data-list-toggle}}
      {{/data-list-item-controls}}
      {{#> data-list-item-content}}
        {{#> data-list-cell data-list-cell--modifier="pf-m-shrink-start"}}
          {{#> data-list-icon data-list-icon--type="code-branch"}}{{/data-list-icon}}
        {{/data-list-cell}}        
        {{#> data-list-cell}}
          <div id="ex-item2">Secondary content</div><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        {{/data-list-cell}}
        {{#> data-list-cell}}
          <span>Lorem ipsum dolor sit amet.</span>
        {{/data-list-cell}}
        {{#> data-list-cell}}
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        {{/data-list-cell}}
      {{/data-list-item-content}}
      {{#> data-list-item-actions}}
        {{#> data-list-action id="dropdown-kebab-right-action-4"}}{{/data-list-action}}
      {{/data-list-item-actions}}
    {{/data-list-item-row}}
    {{#> data-list-expandable-content data-list-expandable-content--attribute='id="content-2" aria-label="Secondary Content Details"'}}
      {{#> data-list-expandable-content-body}}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      {{/data-list-expandable-content-body}}    
    {{/data-list-expandable-content}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--expanded="true" data-list-item--attribute='aria-labelledby="ex-item3"'}}
    {{#> data-list-item-row}}
      {{#> data-list-item-controls}}
        {{#> data-list-toggle button--attribute='aria-labelledby="ex-toggle3 ex-item3" id="ex-toggle3" aria-label="Toggle details for" aria-expanded="false" aria-controls="content-3"'}}{{/data-list-toggle}}
      {{/data-list-item-controls}}
      {{#> data-list-item-content}}
        {{#> data-list-cell data-list-cell--modifier="pf-m-shrink-start"}}
          {{#> data-list-icon data-list-icon--type="code-branch"}}{{/data-list-icon}}
        {{/data-list-cell}}        
        {{#> data-list-cell}}
          <div id="ex-item3">Tertiary content</div><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        {{/data-list-cell}}
        {{#> data-list-cell}}
          <span>Lorem ipsum dolor sit amet.</span>
        {{/data-list-cell}}
        {{#> data-list-cell}}
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        {{/data-list-cell}}
      {{/data-list-item-content}}
      {{#> data-list-item-actions}}
        {{#> data-list-action id="dropdown-kebab-right-action-5"}}{{/data-list-action}}
      {{/data-list-item-actions}}
    {{/data-list-item-row}}
    {{#> data-list-expandable-content data-list-expandable-content--attribute='id="content-3" aria-label="Tertiary Content Details"'}}
      {{#> data-list-expandable-content-body data-list-expandable-content-body--modifier="pf-m-no-padding"}}
        This expanded section has no padding.
      {{/data-list-expandable-content-body}}    
    {{/data-list-expandable-content}}
  {{/data-list-item}}
{{/data-list}}
