{{#> data-list data-list--modifier='pf-u-box-shadow-md'}}
  {{#> data-list-item}}
    {{#> data-list-cell data-list-cell--attribute='id="simple-cell1"'}}
      <span>Primary textual cell 1</span>
    {{/data-list-cell}}
  {{/data-list-item}}

  {{#> data-list-item}}
    {{#> data-list-cell data-list-cell--attribute='id="simple-cell2"'}}
      <span>Primary textual cell 2</span>
    {{/data-list-cell}}
  {{/data-list-item}}
{{/data-list}}
