<h3 class="Preview__section-title">Section 1</h3>

{{#> data-list data-list--modifier="pf-u-box-shadow-md"}}
  {{#> data-list-item}}
    {{#> data-list-check check-input--attribute='type="checkbox" name="width-check1" aria-labelledby="width-check1 width-cell1" id="width-check1" aria-label="Check"'}}{{/data-list-check}}
    {{#> data-list-separator}}{{/data-list-separator}}
    {{#> data-list-cell}}
      <span class="placeholder" id="width-cell1">default</span>
    {{/data-list-cell}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-3"}}
      <b class="placeholder">pf-m-flex-3</b>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      <span class="placeholder">default</span>
    {{/data-list-cell}}
    {{#> data-list-action button--attribute='aria-label="Actions"'}}{{/data-list-action}}
  {{/data-list-item}}
{{/data-list}}

<h3 class="Preview__section-title">Section 2</h3>

{{#> data-list data-list--modifier="pf-u-box-shadow-md"}}
  {{#> data-list-item}}
    {{#> data-list-check check-input--attribute='type="checkbox" name="width-check2" aria-labelledby="width-check2 width-cell2" id="width-check2" aria-label="Check"'}}{{/data-list-check}}
    {{#> data-list-separator}}{{/data-list-separator}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-3"}}
      <b class="placeholder" id="width-cell2">pf-m-flex-3</b>
    {{/data-list-cell}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-4"}}
      <b class="placeholder">pf-m-flex-4</b>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      <span class="placeholder">default</span>
    {{/data-list-cell}}
    {{#> data-list-action button--attribute='aria-label="Actions"'}}{{/data-list-action}}
  {{/data-list-item}}

  {{#> data-list-item}}
    {{#> data-list-check check-input--attribute='type="checkbox" name="width-check2" aria-labelledby="width-check2 width-cell2" id="width-check2" aria-label="Check"'}}{{/data-list-check}}
    {{#> data-list-separator}}{{/data-list-separator}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-3"}}
      <b class="placeholder" id="width-cell2">pf-m-flex-3</b>
    {{/data-list-cell}}
    {{#> data-list-cell data-list-cell--modifier="pf-m-flex-4"}}
      <b class="placeholder">pf-m-flex-4</b>
    {{/data-list-cell}}
    {{#> data-list-cell}}
      <span class="placeholder">default</span>
    {{/data-list-cell}}
    {{#> data-list-action button--attribute='aria-label="Actions"'}}{{/data-list-action}}
  {{/data-list-item}}
{{/data-list}}
