<button class="pf-c-clipboard-copy__group-copy{{#if clipboard-copy-group-copy--modifier}} {{clipboard-copy-group-copy--modifier}}{{/if}}"
  aria-label="Copy to clipboard"
  type="button"
  {{#if clipboard-copy-group-copy--attribute}}
    {{{clipboard-copy-group-copy--attribute}}}
  {{/if}}>
  {{> @partial-block}}
  <i class="fas fa-copy"></i>
</button>
