// @debug $clipboard-copy; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:where(:root),
:where(.#{$clipboard-copy}) {
  // Toggle icon
  --#{$clipboard-copy}__toggle-icon--Transition: .2s ease-in 0s;
  --#{$clipboard-copy}--m-expanded__toggle-icon--Rotate: 90deg;

  // Clipboard copy expanded content
  --#{$clipboard-copy}__expandable-content--MarginTop: var(--pf-t--global--spacer--xs);
  --#{$clipboard-copy}__expandable-content--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$clipboard-copy}__expandable-content--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$clipboard-copy}__expandable-content--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$clipboard-copy}__expandable-content--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$clipboard-copy}__expandable-content--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$clipboard-copy}__expandable-content--BorderTopWidth: var(--pf-t--global--border--width--control--default);
  --#{$clipboard-copy}__expandable-content--BorderRightWidth: var(--pf-t--global--border--width--control--default);
  --#{$clipboard-copy}__expandable-content--BorderBottomWidth: var(--pf-t--global--border--width--control--default);
  --#{$clipboard-copy}__expandable-content--BorderLeftWidth: var(--pf-t--global--border--width--control--default);
  --#{$clipboard-copy}__expandable-content--BorderColor: var(--pf-t--global--border--color--default);
  --#{$clipboard-copy}__expandable-content--BorderRadius: var(--pf-t--global--border--radius--small);
  --#{$clipboard-copy}__expandable-content--OutlineOffset: var(--pf-t--global--spacer--xs);

  // Group
  --#{$clipboard-copy}__group--Gap: var(--pf-t--global--spacer--xs);

  // Inline
  --#{$clipboard-copy}--m-inline--PaddingTop: 0; // remove at breaking change
  --#{$clipboard-copy}--m-inline--PaddingBottom: 0; // remove at breaking change
  --#{$clipboard-copy}--m-inline--PaddingLeft: var(--pf-t--global--spacer--xs);
  --#{$clipboard-copy}--m-inline--BackgroundColor: var(--pf-t--global--background--color--secondary--default);

  // Text
  --#{$clipboard-copy}__text--m-code--FontFamily: var(--pf-t--global--font--family--mono);
  --#{$clipboard-copy}__text--m-code--FontSize: var(--pf-t--global--font--size--body--default);

  // Actions
  --#{$clipboard-copy}__actions-item--MarginTop: calc(-1 * var(--pf-t--global--spacer--xs));
  --#{$clipboard-copy}__actions-item--MarginBottom: calc(-1 * var(--pf-t--global--spacer--xs));
  --#{$clipboard-copy}__actions-item--button--PaddingTop: var(--pf-t--global--spacer--xs);
  --#{$clipboard-copy}__actions-item--button--PaddingRight: var(--pf-t--global--spacer--xs);
  --#{$clipboard-copy}__actions-item--button--PaddingBottom: var(--pf-t--global--spacer--xs);
  --#{$clipboard-copy}__actions-item--button--PaddingLeft: var(--pf-t--global--spacer--xs);
}

.#{$clipboard-copy} {
  // Toggle button expanded
  &.pf-m-expanded {
    .#{$clipboard-copy}__toggle-icon {
      transform: rotate(var(--#{$clipboard-copy}--m-expanded__toggle-icon--Rotate));
    }
  }

  &.pf-m-inline {
    display: inline;
    padding-block-start: var(--#{$clipboard-copy}--m-inline--PaddingTop);
    padding-block-end: var(--#{$clipboard-copy}--m-inline--PaddingBottom);
    padding-inline-start: var(--#{$clipboard-copy}--m-inline--PaddingLeft);
    white-space: nowrap;
    background-color: var(--#{$clipboard-copy}--m-inline--BackgroundColor);

    &.pf-m-block {
      display: block;
    }
  }
}


.#{$clipboard-copy}__group {
  display: flex;
  gap: var(--#{$clipboard-copy}__group--Gap);

  > * + * {
    margin-inline-start: -1px;
  }
}

.#{$clipboard-copy}__toggle-icon {
  @include pf-v6-mirror-inline-on-rtl;

  transition: var(--#{$clipboard-copy}__toggle-icon--Transition);
}

.#{$clipboard-copy}__expandable-content {
  padding-block-start: var(--#{$clipboard-copy}__expandable-content--PaddingTop);
  padding-block-end: var(--#{$clipboard-copy}__expandable-content--PaddingBottom);
  padding-inline-start: var(--#{$clipboard-copy}__expandable-content--PaddingLeft);
  padding-inline-end: var(--#{$clipboard-copy}__expandable-content--PaddingRight);
  margin-block-start: var(--#{$clipboard-copy}__expandable-content--MarginTop);
  word-wrap: break-word;
  background-color: var(--#{$clipboard-copy}__expandable-content--BackgroundColor);
  background-clip: padding-box;
  border: solid var(--#{$clipboard-copy}__expandable-content--BorderColor);
  border-block-start-width: var(--#{$clipboard-copy}__expandable-content--BorderTopWidth);
  border-block-end-width: var(--#{$clipboard-copy}__expandable-content--BorderBottomWidth);
  border-inline-start-width: var(--#{$clipboard-copy}__expandable-content--BorderLeftWidth);
  border-inline-end-width: var(--#{$clipboard-copy}__expandable-content--BorderRightWidth);
  border-radius: var(--#{$clipboard-copy}__expandable-content--BorderRadius);
  box-shadow: var(--#{$clipboard-copy}__expandable-content--BoxShadow);

  pre {
    white-space: pre-wrap;
  }
}

.#{$clipboard-copy}__text {
  word-break: break-word;
  white-space: normal;

  &.pf-m-code {
    font-family: var(--#{$clipboard-copy}__text--m-code--FontFamily);
    font-size: var(--#{$clipboard-copy}__text--m-code--FontSize);
  }
}

.#{$clipboard-copy}__actions {
  display: inline-flex;
}

.#{$clipboard-copy}__actions-item {
  margin-block-start: calc(-1 * var(--#{$clipboard-copy}__actions-item--button--PaddingTop));
  margin-block-end: calc(-1 * var(--#{$clipboard-copy}__actions-item--button--PaddingBottom));

  .#{$button} {
    --#{$button}--PaddingTop: var(--#{$clipboard-copy}__actions-item--button--PaddingTop);
    --#{$button}--PaddingRight: var(--#{$clipboard-copy}__actions-item--button--PaddingRight);
    --#{$button}--PaddingBottom: var(--#{$clipboard-copy}__actions-item--button--PaddingBottom);
    --#{$button}--PaddingLeft: var(--#{$clipboard-copy}__actions-item--button--PaddingLeft);
  }
}

// stylelint-disable no-invalid-position-at-import-rule

