<button class="pf-c-clipboard-copy__toggle{{#if clipboard-copy-toggle--modifier}} {{clipboard-copy-toggle--modifier}}{{/if}}"
  {{#if clipboard-copy-toggle--attribute}}
    {{{clipboard-copy-toggle--attribute}}}
  {{/if}}>
  {{> @partial-block}}
    <i class="fas fa-angle-right"></i>
</button>
