<span class="{{pfv}}clipboard-copy__actions-item{{#if clipboard-copy-actions-item--modifier}} {{clipboard-copy-actions-item--modifier}}{{/if}}"
  {{#if clipboard-copy-actions-item--attribute}}
    {{{clipboard-copy-actions-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
