<span class="pf-c-clipboard-copy__text{{#if clipboard-copy-text--modifier}} {{clipboard-copy-text--modifier}}{{/if}}"
  {{#if clipboard-copy-text--attribute}}
    {{{clipboard-copy-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
