<div class="pf-c-clipboard-copy__copy{{#if clipboard-copy-copy--modifier}} {{clipboard-copy-copy--modifier}}{{/if}}"
  {{#if clipboard-copy-copy--attribute}}
    {{{clipboard-copy-copy--attribute}}}
  {{/if}}>
  <i class="far fa-copy"></i>
  {{> @partial-block}}
</div>
