<div class="{{pfv}}clipboard-copy__expandable-content{{#if clipboard-copy-expandable-content--modifier}} {{clipboard-copy-expandable-content--modifier}}{{/if}}"
  {{#unless clipboard-copy--IsExpanded}}hidden{{/unless}}
  {{#if clipboard-copy-expandable-content--attribute}}
    {{{clipboard-copy-expandable-content--attribute}}}
  {{/if}}>
  {{#if clipboard-copy--IsCode}}
    <pre dir="ltr">
      {{~> @partial-block~}}
    </pre>
  {{else}}
    {{> @partial-block}}
  {{/if}}
</div>
