<span class="{{pfv}}clipboard-copy__actions{{#if clipboard-copy-actions--modifier}} {{clipboard-copy-actions--modifier}}{{/if}}"
  {{#if clipboard-copy-actions--attribute}}
    {{{clipboard-copy-actions--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
