<div class="pf-c-clipboard-copy__expanded-content{{#if clipboard-copy-expanded-content--modifier}} {{clipboard-copy-expanded-content--modifier}}{{/if}}"
  {{#if clipboard-copy-expanded-content--attribute}}
    {{{clipboard-copy-expanded-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
