<button class="pf-c-accordion__item-button{{#if accordion-item-button--modifier}} {{accordion-item-button--modifier}}{{/if}}"
 {{#if accordion-item-button--attribute}}
   {{{accordion-item-button--attribute}}}
 {{/if}}>
 {{> @partial-block}}
</button>
