<span class="pf-c-accordion__item-button-toggle{{#if accordion-item-button-toggle--modifier}} {{accordion-item-button-toggle--modifier}}{{/if}}"
 {{#if accordion-item-button-toggle--attribute}}
   {{{accordion-item-button-toggle--attribute}}}
 {{/if}}>
  <i class="fas fa-angle-right pf-c-accordion__item-button-toggle-icon" aria-hidden="true"></i>
 {{> @partial-block}}
</span>
