<span class="pf-c-accordion__button-text{{#if accordion-button-text--modifier}} {{accordion-button-text--modifier}}{{/if}}"
 {{#if accordion-button-text--attribute}}
   {{{accordion-button-text--attribute}}}
 {{/if}}>
 {{> @partial-block}}
</span>
