<span class="pf-c-accordion__item-button-text{{#if accordion-item-button-text--modifier}} {{accordion-item-button-text--modifier}}{{/if}}"
 {{#if accordion-item-button-text--attribute}}
   {{{accordion-item-button-text--attribute}}}
 {{/if}}>
 {{> @partial-block}}
</span>
