<dt><h3><button class="pf-c-accordion__button{{#if accordion-button--IsExpanded}} pf-m-expanded{{/if}}{{#if accordion-button--modifier}} {{accordion-button--modifier}}{{/if}}"
 {{#if accordion-button--attribute}}
   {{{accordion-button--attribute}}}
 {{/if}}>
 {{> @partial-block}}
</button></h3></dt>
