<span class="pf-c-accordion__button-toggle{{#if accordion__button-toggle--modifier}} {{accordion__button-toggle--modifier}}{{/if}}"
 {{#if accordion__button-toggle--attribute}}
   {{{accordion__button-toggle--attribute}}}
 {{/if}}>
  <i class="fas fa-angle-right pf-c-accordion__button-toggle-icon" aria-hidden="true"></i>
 {{> @partial-block}}
</span>
