<div class="{{pfv}}accordion__expandable-content-body{{#if accordion-expandable-content-body--modifier}} {{accordion-expandable-content-body--modifier}}{{/if}}"
  {{#if accordion-expandable-content-body--attribute}}
    {{{accordion-expandable-content-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
