<div class="pf-c-accordion__item-expanded-content{{#if accordion-item-expanded-content--IsFixed}} pf-m-fixed{{/if}}{{#if accordion-item-expanded-content--modifier}} {{accordion-item-expanded-content--modifier}}{{/if}}"
  {{#unless accordion-item--IsExpanded}}hidden{{/unless}}
  {{#if accordion-item-expanded-content--attribute}}
    {{{accordion-item-expanded-content--attribute}}}
  {{/if}}>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie lorem lacinia dolor aliquet faucibus. Suspendisse gravida imperdiet accumsan. Aenean auctor lorem justo, vitae tincidunt enim blandit vel. Aenean quis tempus dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit Bla Bla Blee Bla. 
  {{> @partial-block}}
</div>
