<span class="{{pfv}}accordion__toggle-icon{{#if accordion-toggle-icon--modifier}} {{accordion-toggle-icon--modifier}}{{/if}}"
  {{#if accordion-toggle-icon--attribute}}
    {{{accordion-toggle-icon--attribute}}}
  {{/if}}>
  {{pfIcon "rh-microns-caret-down"}}
</span>
