@import "../../patternfly-utilities";

.pf-c-accordion {
  &__header {
    display: flex;
    flex-flow: wrap;
  }
  &__body {
    display: none;
  }
  &.pf-is-expanded > &__body {
    display: block;
  }
  &_heading {}
  &_subtitle {
    width: 100%;
  }
}
