@import "../../patternfly-utilities";

.pf-c-tooltip {
  // Component variables
  --pf-c-tooltip--MaxWidth: #{pf-size-prem(200px)};
  --pf-c-tooltip--BoxShadow: var(--pf-global--BoxShadow--md);

  // Content variables
  --pf-c-tooltip__content--Padding: var(--pf-global--spacer--md);
  --pf-c-tooltip__content--Color: var(--pf-global--Color--light-100);
  --pf-c-tooltip__content--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);

  // Arrow variables
  --pf-c-tooltip__arrow--Width: var(--pf-global--arrow--width);
  --pf-c-tooltip__arrow--Height: var(--pf-c-tooltip__arrow--Width);
  --pf-c-tooltip__arrow--BoxShadow: var(--pf-global--BoxShadow--md);
  --pf-c-tooltip__arrow--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);

  position: relative;
  max-width: var(--pf-c-tooltip--MaxWidth);
  box-shadow: var(--pf-c-tooltip--BoxShadow);

  &.pf-m-top {
    .pf-c-tooltip__arrow {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%) rotate(45deg);
    }
  }

  &.pf-m-bottom {
    .pf-c-tooltip__arrow {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &.pf-m-left {
    .pf-c-tooltip__arrow {
      top: 50%;
      right: 0;
      transform: translate(50%, -50%) rotate(45deg);
    }
  }

  &.pf-m-right {
    .pf-c-tooltip__arrow {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.pf-c-tooltip__content {
  position: relative;
  padding: var(--pf-c-tooltip__content--Padding);
  color: var(--pf-c-tooltip__content--Color);
  text-align: center;
  background-color: var(--pf-c-tooltip__content--BackgroundColor);
}

.pf-c-tooltip__arrow {
  position: absolute;
  width: var(--pf-c-tooltip__arrow--Width);
  height: var(--pf-c-tooltip__arrow--Height);
  pointer-events: none;
  background-color: var(--pf-c-tooltip__arrow--BackgroundColor);
  box-shadow: var(--pf-c-tooltip__arrow--BoxShadow);
}
