{{#> modal}}
  {{#> backdrop}}
    {{#> bullseye}}
      {{#> modal-box aria-labelledby="modal-title" aria-describedby="modal-description"}}
        {{#> modal-box-header}}
          {{#> modal-box-button-close id="modal-close"}}
          {{/modal-box-button-close}}          
          {{#> modal-box-header-title id="modal-title"}}
            Overwrite existing file?
          {{/modal-box-header-title}}
        {{/modal-box-header}}
        {{#> modal-box-body id="modal-description"}}
          <p>general_modal_final_finalfinal_v9_actualfinal.sketch</p>
          <p>A file with this name already exists, would you like to overwrite the existing file or save a new copy?</p>
        {{/modal-box-body}}
        {{#> modal-box-footer}}
          {{#> button}}
            Save a copy
          {{/button}}
          {{#> button btnClass="pf-m-primary"}}
            Overwrite
          {{/button}}
        {{/modal-box-footer}}
      {{/modal-box}}
    {{/bullseye}}
  {{/backdrop}}
{{/modal}}
