{{#> modal}}
  {{#> backdrop}}
    {{#> bullseye}}
      {{#> modal-box modal-box--modifier="pf-m-sm" modal-box--attribute='aria-labelledby="modal-title" aria-describedby="modal-description"'}}
        {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close dialog"'}}
          <i class="fas fa-times" aria-hidden="true"></i>
        {{/button}}
        {{#> title titleType="h1" title--modifier="pf-m-2xl" title--attribute='id="modal-title"'}}
          Overwrite existing file?
        {{/title}}
        {{#> modal-box-body modal-box-body--attribute='id="modal-description"'}}
          <p>general_modal_final_finalfinal_v9_actualfinal.sketch</p>
          <p>A file with this name already exists, would you like to overwrite the existing file or save a new copy?</p>
        {{/modal-box-body}}
        {{#> modal-box-footer}}
          {{#> button button--modifier="pf-m-link"}}
            Save a copy
          {{/button}}
          {{#> button button--modifier="pf-m-primary"}}
            Overwrite
          {{/button}}
        {{/modal-box-footer}}
      {{/modal-box}}
    {{/bullseye}}
  {{/backdrop}}
{{/modal}}
