{{#> modal}}
  {{#> backdrop}}
    {{#> bullseye}}
      {{#> modal-box modal-box--attribute='aria-labelledby="modal-left-aligned-footer-title" aria-describedby="modal-left-aligned-footer-description"'}}
        {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close dialog"'}}
          <i class="fas fa-times" aria-hidden="true"></i>
        {{/button}}
        {{#> title titleType="h1" title--modifier="pf-m-2xl" title--attribute='id="modal-left-aligned-footer-title"'}}
          This is a long header title that will truncate because modal titles should be very short. Use the modal body to provide more info.
        {{/title}}
        {{#> modal-box-body}}
          <p id="modal-left-aligned-footer-description">The "aria-describedby" attribute can be applied to any text that adequately describes the modal's purpose. It does not have to be assigned to ".pf-c-modal-box__body"</p>
          <p>Form here</p>
        {{/modal-box-body}}
        {{#> modal-box-footer modal-box-footer--modifier="pf-m-align-left"}}
          {{#> button button--modifier="pf-m-primary"}}
            Save
          {{/button}}
          {{#> button button--modifier="pf-m-link"}}
            Cancel
          {{/button}}
        {{/modal-box-footer}}
      {{/modal-box}}
    {{/bullseye}}
  {{/backdrop}}
{{/modal}}
