<span class="{{pfv}}label__actions{{#if label-actions--modifier}} {{label-actions--modifier}}{{/if}}"
  {{#if label-actions--attribute}}
    {{{label-actions--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
