<div class="{{pfv}}label-group__main{{#if label-group-main--modifier}} {{label-group-main--modifier}}{{/if}}"
  {{#if label-group-main--attribute}}
    {{{label-group-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
