// @debug $label; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss
@import '../../sass-utilities/all';

:where(:root),
:where(.#{$label}) {
  --#{$label}--PaddingTop: var(--pf-t--global--spacer--xs);
  --#{$label}--PaddingRight: var(--pf-t--global--spacer--sm);
  --#{$label}--PaddingBottom: var(--pf-t--global--spacer--xs);
  --#{$label}--PaddingLeft: var(--pf-t--global--spacer--sm);
  --#{$label}--MaxWidth: 100%;
  --#{$label}--BorderWidth: 0;
  --#{$label}--BorderColor: transparent;
  --#{$label}--BorderRadius: var(--pf-t--global--border--radius--pill);
  --#{$label}--FontSize: var(--pf-t--global--font--size--body--sm);

  // Gray (default)
  --#{$label}--BackgroundColor: var(--pf-t--global--border--color--nonstatus--gray--default);
  --#{$label}--Color: var(--pf-t--global--text--color--nonstatus--on-gray--default);
  --#{$label}__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-gray--default);
  --#{$label}--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--gray--hover);
  --#{$label}--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-gray--hover);
  --#{$label}--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-gray--hover);
  --#{$label}--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--gray--default);
  --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--gray--hover);

  // Blue
  --#{$label}--m-blue--BackgroundColor: var(--pf-t--global--border--color--nonstatus--blue--default);
  --#{$label}--m-blue--Color: var(--pf-t--global--text--color--nonstatus--on-blue--default);
  --#{$label}--m-blue__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-blue--default);
  --#{$label}--m-blue--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--blue--hover);
  --#{$label}--m-blue--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-blue--hover);
  --#{$label}--m-blue--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-blue--hover);
  --#{$label}--m-blue--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--blue--default);
  --#{$label}--m-blue--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--blue--hover);

  // Red
  --#{$label}--m-red--BackgroundColor: var(--pf-t--global--border--color--nonstatus--red--default);
  --#{$label}--m-red--Color: var(--pf-t--global--text--color--nonstatus--on-red--default);
  --#{$label}--m-red__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-red--default);
  --#{$label}--m-red--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--red--hover);
  --#{$label}--m-red--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-red--hover);
  --#{$label}--m-red--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-red--hover);
  --#{$label}--m-red--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--red--default);
  --#{$label}--m-red--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--red--hover);

  // Orange
  --#{$label}--m-orange--BackgroundColor: var(--pf-t--global--border--color--nonstatus--orange--default);
  --#{$label}--m-orange--Color: var(--pf-t--global--text--color--nonstatus--on-orange--default);
  --#{$label}--m-orange__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-orange--default);
  --#{$label}--m-orange--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--orange--hover);
  --#{$label}--m-orange--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-orange--hover);
  --#{$label}--m-orange--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-orange--hover);
  --#{$label}--m-orange--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--orange--default);
  --#{$label}--m-orange--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--orange--hover);

  // Orangered
  --#{$label}--m-orangered--BackgroundColor: var(--pf-t--global--border--color--nonstatus--orangered--default);
  --#{$label}--m-orangered--Color: var(--pf-t--global--text--color--nonstatus--on-orangered--default);
  --#{$label}--m-orangered__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-orangered--default);
  --#{$label}--m-orangered--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--orangered--hover);
  --#{$label}--m-orangered--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-orangered--hover);
  --#{$label}--m-orangered--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-orangered--hover);
  --#{$label}--m-orangered--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--orangered--default);
  --#{$label}--m-orangered--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--orangered--hover);

  // Gold
  --#{$label}--m-gold--BackgroundColor: var(--pf-t--global--border--color--nonstatus--gold--default);
  --#{$label}--m-gold--Color: var(--pf-t--global--text--color--nonstatus--on-gold--default);
  --#{$label}--m-gold__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-gold--default);
  --#{$label}--m-gold--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--gold--hover);
  --#{$label}--m-gold--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-gold--hover);
  --#{$label}--m-gold--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-gold--hover);
  --#{$label}--m-gold--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--gold--default);
  --#{$label}--m-gold--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--gold--hover);

  // Green
  --#{$label}--m-green--BackgroundColor: var(--pf-t--global--border--color--nonstatus--green--default);
  --#{$label}--m-green--Color: var(--pf-t--global--text--color--nonstatus--on-green--default);
  --#{$label}--m-green__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-green--default);
  --#{$label}--m-green--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--green--hover);
  --#{$label}--m-green--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-green--hover);
  --#{$label}--m-green--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-green--hover);
  --#{$label}--m-green--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--green--default);
  --#{$label}--m-green--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--green--hover);

  // Cyan
  --#{$label}--m-cyan--BackgroundColor: var(--pf-t--global--border--color--nonstatus--cyan--default);
  --#{$label}--m-cyan--Color: var(--pf-t--global--text--color--nonstatus--on-cyan--default);
  --#{$label}--m-cyan__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-cyan--default);
  --#{$label}--m-cyan--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--cyan--hover);
  --#{$label}--m-cyan--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-cyan--hover);
  --#{$label}--m-cyan--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-cyan--hover);
  --#{$label}--m-cyan--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--cyan--default);
  --#{$label}--m-cyan--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--cyan--hover);

  // Purple
  --#{$label}--m-purple--BackgroundColor: var(--pf-t--global--border--color--nonstatus--purple--default);
  --#{$label}--m-purple--Color: var(--pf-t--global--text--color--nonstatus--on-purple--default);
  --#{$label}--m-purple__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-purple--default);
  --#{$label}--m-purple--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--nonstatus--purple--hover);
  --#{$label}--m-purple--m-clickable--hover--Color: var(--pf-t--global--text--color--nonstatus--on-purple--hover);
  --#{$label}--m-purple--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--nonstatus--on-purple--hover);
  --#{$label}--m-purple--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--purple--default);
  --#{$label}--m-purple--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--nonstatus--purple--hover);

  // Success
  --#{$label}--m-success--BackgroundColor: var(--pf-t--global--border--color--status--success--default);
  --#{$label}--m-success--Color: var(--pf-t--global--text--color--status--on-success--default);
  --#{$label}--m-success__icon--Color: var(--pf-t--global--icon--color--status--on-success--default);
  --#{$label}--m-success--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--status--success--hover);
  --#{$label}--m-success--m-clickable--hover--Color: var(--pf-t--global--text--color--status--on-success--hover);
  --#{$label}--m-success--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--status--on-success--hover);
  --#{$label}--m-success--m-outline--BorderColor: var(--pf-t--global--border--color--status--success--default);
  --#{$label}--m-success--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--status--success--hover);

  // Warning
  --#{$label}--m-warning--BackgroundColor: var(--pf-t--global--border--color--status--warning--default);
  --#{$label}--m-warning--Color: var(--pf-t--global--text--color--status--on-warning--default);
  --#{$label}--m-warning__icon--Color: var(--pf-t--global--icon--color--status--on-warning--default);
  --#{$label}--m-warning--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--status--warning--hover);
  --#{$label}--m-warning--m-clickable--hover--Color: var(--pf-t--global--text--color--status--on-warning--hover);
  --#{$label}--m-warning--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--status--on-warning--hover);
  --#{$label}--m-warning--m-outline--BorderColor: var(--pf-t--global--border--color--status--warning--default);
  --#{$label}--m-warning--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--status--warning--hover);

  // Danger
  --#{$label}--m-danger--BackgroundColor: var(--pf-t--global--border--color--status--danger--default);
  --#{$label}--m-danger--Color: var(--pf-t--global--text--color--status--on-danger--default);
  --#{$label}--m-danger__icon--Color: var(--pf-t--global--icon--color--status--on-danger--default);
  --#{$label}--m-danger--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--status--danger--hover);
  --#{$label}--m-danger--m-clickable--hover--Color: var(--pf-t--global--text--color--status--on-danger--hover);
  --#{$label}--m-danger--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--status--on-danger--hover);
  --#{$label}--m-danger--m-outline--BorderColor: var(--pf-t--global--border--color--status--danger--default);
  --#{$label}--m-danger--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--status--danger--hover);

  // Info
  --#{$label}--m-info--BackgroundColor: var(--pf-t--global--border--color--status--info--default);
  --#{$label}--m-info--Color: var(--pf-t--global--text--color--status--on-info--default);
  --#{$label}--m-info__icon--Color: var(--pf-t--global--icon--color--status--on-info--default);
  --#{$label}--m-info--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--status--info--hover);
  --#{$label}--m-info--m-clickable--hover--Color: var(--pf-t--global--text--color--status--on-info--hover);
  --#{$label}--m-info--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--status--on-info--hover);
  --#{$label}--m-info--m-outline--BorderColor: var(--pf-t--global--border--color--status--info--default);
  --#{$label}--m-info--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--status--info--hover);

  // Custom
  --#{$label}--m-custom--BackgroundColor: var(--pf-t--global--border--color--status--custom--default);
  --#{$label}--m-custom--Color: var(--pf-t--global--text--color--status--on-custom--default);
  --#{$label}--m-custom__icon--Color: var(--pf-t--global--icon--color--status--on-custom--default);
  --#{$label}--m-custom--m-clickable--hover--BackgroundColor: var(--pf-t--global--border--color--status--custom--hover);
  --#{$label}--m-custom--m-clickable--hover--Color: var(--pf-t--global--text--color--status--on-custom--hover);
  --#{$label}--m-custom--m-clickable--hover__icon--Color: var(--pf-t--global--icon--color--status--on-custom--hover);
  --#{$label}--m-custom--m-outline--BorderColor: var(--pf-t--global--border--color--status--custom--default);
  --#{$label}--m-custom--m-outline--m-clickable--hover--BorderColor: var(--pf-t--global--border--color--status--custom--hover);

  // Clickable
  --#{$label}--m-clickable--hover--BorderWidth: 0;
  --#{$label}--m-clickable--hover--BorderColor: transparent;

  // Outline
  --#{$label}--m-outline--BorderWidth: var(--pf-t--global--border--width--button--default);
  --#{$label}--m-outline--BackgroundColor: transparent;
  --#{$label}--m-outline--Color: var(--pf-t--global--text--color--regular);
  --#{$label}--m-outline__icon--Color: var(--pf-t--global--icon--color--regular);
  --#{$label}--m-outline--m-clickable--hover--BackgroundColor: transparent;
  --#{$label}--m-outline--m-clickable--hover--BorderWidth: var(--pf-t--global--border--width--button--hover);
  --#{$label}--m-outline--m-clickable--hover--Color: var(--pf-t--global--text--color--regular);

  // Overflow
  --#{$label}--m-overflow--Color: var(--pf-t--global--text--color--brand--default);
  --#{$label}--m-overflow--BackgroundColor: var(--pf-t--global--background--color--action--plain--default);
  --#{$label}--m-overflow--hover--Color: var(--pf-t--global--text--color--brand--hover);
  --#{$label}--m-overflow--hover--BackgroundColor: var(--pf-t--global--background--color--action--plain--hover);
  --#{$label}--m-overflow--MixBlendMode: var(--pf-t--global--background--color--action--plain--hover--blend);

  // Add
  --#{$label}--m-add--Color: var(--pf-t--global--text--color--brand--default);
  --#{$label}--m-add--BackgroundColor: transparent;
  --#{$label}--m-add--BorderColor: var(--pf-t--global--border--color--default);
  --#{$label}--m-add--BorderWidth: var(--pf-t--global--border--width--button--default);
  --#{$label}--m-add--hover--Color: var(--pf-t--global--text--color--brand--hover);
  --#{$label}--m-add--hover--BackgroundColor: transparent;
  --#{$label}--m-add--hover--BorderColor: var(--pf-t--global--border--color--hover);
  --#{$label}--m-add--hover--BorderWidth: var(--pf-t--global--border--width--button--hover);

  // Compact
  --#{$label}--m-compact--PaddingTop: 0;
  --#{$label}--m-compact--PaddingRight: var(--pf-t--global--spacer--sm);
  --#{$label}--m-compact--PaddingBottom: 0;
  --#{$label}--m-compact--PaddingLeft: var(--pf-t--global--spacer--sm);
  --#{$label}--m-compact--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$label}--m-compact--m-editable--TextDecorationOffset: #{pf-size-prem(1px)};

  // Content
  --#{$label}__content--MaxWidth: 100%;
  --#{$label}__content--Gap: var(--pf-t--global--spacer--xs);

  // Icon
  --#{$label}__icon--FontSize: var(--pf-t--global--icon--size--body--sm);

  // Text
  --#{$label}__text--MaxWidth: 100%;

  // Actions
  --#{$label}__actions--MarginRight: calc(var(--#{$label}__actions--c-button--PaddingRight) * -1);

  // Actions button (close)
  --#{$label}__actions--c-button--FontSize: var(--pf-t--global--icon--size--body--sm);
  --#{$label}__actions--c-button--Color: var(--#{$label}__icon--Color);
  --#{$label}__actions--c-button--OutlineOffset: #{pf-size-prem(-3px)};
  --#{$label}__actions--c-button--MarginTop: calc(var(--#{$label}__actions--c-button--PaddingTop) * -1);
  --#{$label}__actions--c-button--MarginBottom: calc(var(--#{$label}__actions--c-button--PaddingBottom) * -1);
  --#{$label}__actions--c-button--PaddingTop: var(--pf-t--global--spacer--xs);
  --#{$label}__actions--c-button--PaddingRight: var(--pf-t--global--spacer--xs);
  --#{$label}__actions--c-button--PaddingBottom: var(--pf-t--global--spacer--xs);
  --#{$label}__actions--c-button--PaddingLeft: var(--pf-t--global--spacer--xs);

  // Editable
  --#{$label}--m-editable--TextDecoration: underline;
  --#{$label}--m-editable--TextDecorationStyle: dashed;
  --#{$label}--m-editable--TextDecorationThickness: var(--pf-t--global--border--width--regular);
  --#{$label}--m-editable--TextDecorationOffset: #{pf-size-prem(4px)};
  --#{$label}--m-editable--TextDecorationColor: currentcolor;
  --#{$label}--m-editable__content--MaxWidth: 16ch;

  // Editable active
  --#{$label}--m-editable--m-editable-active--TextDecoration: none;
  --#{$label}--m-editable--m-editable-active--BackgroundColor: transparent;
  --#{$label}--m-editable--m-editable-active--Color: var(--pf-t--global--text--color--regular);;
}

.#{$label} {
  position: relative;
  max-width: var(--#{$label}--MaxWidth);
  padding-block-start: var(--#{$label}--PaddingTop);
  padding-block-end: var(--#{$label}--PaddingBottom);
  padding-inline-start: var(--#{$label}--PaddingLeft);
  padding-inline-end: var(--#{$label}--PaddingRight);
  font-size: var(--#{$label}--FontSize);
  white-space: nowrap;
  isolation: isolate;
  border: 0;
  border-radius: var(--#{$label}--BorderRadius);

  &.pf-m-blue {
    --#{$label}--BackgroundColor: var(--#{$label}--m-blue--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-blue--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-blue__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-blue--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-blue--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-blue--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-blue--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-blue--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-red {
    --#{$label}--BackgroundColor: var(--#{$label}--m-red--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-red--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-red__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-red--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-red--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-red--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-red--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-red--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-orange {
    --#{$label}--BackgroundColor: var(--#{$label}--m-orange--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-orange--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-orange__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-orange--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-orange--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-orange--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-orange--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-orange--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-orangered {
    --#{$label}--BackgroundColor: var(--#{$label}--m-orangered--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-orangered--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-orangered__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-orangered--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-orangered--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-orangered--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-orangered--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-orangered--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-gold {
    --#{$label}--BackgroundColor: var(--#{$label}--m-gold--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-gold--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-gold__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-gold--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-gold--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-gold--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-gold--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-gold--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-green {
    --#{$label}--BackgroundColor: var(--#{$label}--m-green--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-green--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-green__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-green--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-green--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-green--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-green--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-green--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-cyan {
    --#{$label}--BackgroundColor: var(--#{$label}--m-cyan--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-cyan--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-cyan__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-cyan--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-cyan--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-cyan--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-cyan--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-cyan--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-purple {
    --#{$label}--BackgroundColor: var(--#{$label}--m-purple--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-purple--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-purple__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-purple--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-purple--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-purple--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-purple--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-purple--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-success {
    --#{$label}--BackgroundColor: var(--#{$label}--m-success--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-success--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-success__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-success--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-success--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-success--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-success--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-success--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-warning {
    --#{$label}--BackgroundColor: var(--#{$label}--m-warning--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-warning--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-warning__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-warning--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-warning--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-warning--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-warning--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-warning--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-danger {
    --#{$label}--BackgroundColor: var(--#{$label}--m-danger--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-danger--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-danger__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-danger--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-danger--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-danger--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-danger--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-danger--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-info {
    --#{$label}--BackgroundColor: var(--#{$label}--m-info--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-info--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-info__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-info--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-info--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-info--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-info--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-info--m-outline--m-clickable--hover--BorderColor);
  }

    &.pf-m-custom {
    --#{$label}--BackgroundColor: var(--#{$label}--m-custom--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-custom--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-custom__icon--Color);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-custom--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-custom--m-clickable--hover--Color);
    --#{$label}--m-clickable--hover__icon--Color: var(--#{$label}--m-custom--m-clickable--hover__icon--Color);
    --#{$label}--m-outline--BorderColor: var(--#{$label}--m-custom--m-outline--BorderColor);
    --#{$label}--m-outline--m-clickable--hover--BorderColor: var(--#{$label}--m-custom--m-outline--m-clickable--hover--BorderColor);
  }

  &.pf-m-compact {
    --#{$label}--PaddingTop: var(--#{$label}--m-compact--PaddingTop);
    --#{$label}--PaddingRight: var(--#{$label}--m-compact--PaddingRight);
    --#{$label}--PaddingBottom: var(--#{$label}--m-compact--PaddingBottom);
    --#{$label}--PaddingLeft: var(--#{$label}--m-compact--PaddingLeft);
    --#{$label}--FontSize: var(--#{$label}--m-compact--FontSize);
    --#{$label}--m-editable--TextDecorationOffset: var(--#{$label}--m-compact--m-editable--TextDecorationOffset);
  }

  &.pf-m-outline {
    --#{$label}--Color: var(--#{$label}--m-outline--Color);
    --#{$label}--BorderWidth: var(--#{$label}--m-outline--BorderWidth);
    --#{$label}--BorderColor: var(--#{$label}--m-outline--BorderColor);
    --#{$label}--BackgroundColor: var(--#{$label}--m-outline--BackgroundColor);
    --#{$label}--m-clickable--hover--BackgroundColor: var(--#{$label}--m-outline--m-clickable--hover--BackgroundColor);
    --#{$label}--m-clickable--hover--BorderWidth: var(--#{$label}--m-outline--m-clickable--hover--BorderWidth);
    --#{$label}--m-clickable--hover--BorderColor: var(--#{$label}--m-outline--m-clickable--hover--BorderColor);
    --#{$label}--m-clickable--hover--Color: var(--#{$label}--m-outline--m-clickable--hover--Color);
    --#{$label}__icon--Color: var(--#{$label}--m-outline__icon--Color);
  }

  &.pf-m-editable {
    --#{$label}__content--MaxWidth: var(--#{$label}--m-editable__content--MaxWidth);

    .#{$label}__text {
      text-decoration: var(--#{$label}--m-editable--TextDecoration);
      text-decoration-thickness: var(--#{$label}--m-editable--TextDecorationThickness);
      text-decoration-style: var(--#{$label}--m-editable--TextDecorationStyle);
      text-decoration-color: var(--#{$label}--m-editable--TextDecorationColor);
      text-underline-offset: var(--#{$label}--m-editable--TextDecorationOffset);
    }
  }

  &.pf-m-editable-active {
    --#{$label}--m-editable--TextDecoration: var(--#{$label}--m-editable--m-editable-active--TextDecoration);
    --#{$label}--BackgroundColor: var(--#{$label}--m-editable--m-editable-active--BackgroundColor);
    --#{$label}--Color: var(--#{$label}--m-editable--m-editable-active--Color);
  }

  &.pf-m-add,
  &.pf-m-overflow {
    background: transparent;
  }

  &.pf-m-overflow {
    --#{$label}--Color: var(--#{$label}--m-overflow--Color);
    --#{$label}--BackgroundColor: var(--#{$label}--m-overflow--BackgroundColor);

    mix-blend-mode: var(--#{$label}--m-overflow--MixBlendMode);

    &:is(:hover, :focus) {
      --#{$label}--m-overflow--Color: var(--#{$label}--m-overflow--hover--Color);
      --#{$label}--m-overflow--BackgroundColor: var(--#{$label}--m-overflow--hover--BackgroundColor);
    }
  }

  &.pf-m-add {
    --#{$label}--Color: var(--#{$label}--m-add--Color);
    --#{$label}--BackgroundColor: var(--#{$label}--m-add--BackgroundColor);
    --#{$label}--BorderColor: var(--#{$label}--m-add--BorderColor);
    --#{$label}--BorderWidth: var(--#{$label}--m-add--BorderWidth);

    &:is(:hover, :focus) {
      --#{$label}--m-add--Color: var(--#{$label}--m-add--hover--Color);
      --#{$label}--m-add--BackgroundColor: var(--#{$label}--m-add--hover--BackgroundColor);
      --#{$label}--m-add--BorderColor: var(--#{$label}--m-add--hover--BorderColor);
      --#{$label}--m-add--BorderWidth: var(--#{$label}--m-add--hover--BorderWidth);
    }
  }

  &.pf-m-clickable,
  &.pf-m-editable {
    .#{$label}__content {
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }

  &.pf-m-clickable {
    .#{$label}__content {
      &,
      &:is(:hover, :focus) {
        text-decoration: none;
      }

      &:is(:hover, :focus) {
        --#{$label}--Color: var(--#{$label}--m-clickable--hover--Color);
        --#{$label}--BackgroundColor: var(--#{$label}--m-clickable--hover--BackgroundColor);
        --#{$label}--BorderWidth: var(--#{$label}--m-clickable--hover--BorderWidth);
        --#{$label}--BorderColor: var(--#{$label}--m-clickable--hover--BorderColor);
        --#{$label}--m-outline--BorderWidth: var(--#{$label}--m-outline--m-clickable--hover--BorderWidth);
        --#{$label}--m-outline--BorderColor: var(--#{$label}--m-outline--m-clickable--hover--BorderColor);
      }
    }
  }
}

.#{$label},
.#{$label}__content {
  display: inline-flex;
  align-items: center;
}

.#{$label}__text {
  @include pf-v5-text-overflow;

  max-width: var(--#{$label}__text--MaxWidth);
}

.#{$label}__content {
  gap: var(--#{$label}__content--Gap);
  max-width: var(--#{$label}__content--MaxWidth);
  overflow: hidden;
  color: var(--#{$label}--Color);
  border-width: 0;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    content: "";
    background-color: var(--#{$label}--BackgroundColor);
    border: var(--#{$label}--BorderWidth) solid var(--#{$label}--BorderColor);
    border-radius: var(--#{$label}--BorderRadius);
  }

  // truncate input fields
  @at-root input#{&} {
    @include pf-v5-text-overflow;
  }
}

.#{$label}__icon {
  color: var(--#{$label}__icon--Color);
}

.#{$label}__actions {
  margin-inline-end: var(--#{$label}__actions--MarginRight);

  .#{$button} {
    --#{$button}--Color: var(--#{$label}__actions--c-button--Color);
    --#{$button}--FontSize: var(--#{$label}__actions--c-button--FontSize);
    --#{$button}--m-plain--m-no-padding--PaddingTop: var(--#{$label}__actions--c-button--PaddingTop);
    --#{$button}--m-plain--m-no-padding--PaddingRight: var(--#{$label}__actions--c-button--PaddingRight);
    --#{$button}--m-plain--m-no-padding--PaddingBottom: var(--#{$label}__actions--c-button--PaddingBottom);
    --#{$button}--m-plain--m-no-padding--PaddingLeft: var(--#{$label}__actions--c-button--PaddingLeft);

    margin-block-start: var(--#{$label}__actions--c-button--MarginTop);
    margin-block-end: var(--#{$label}__actions--c-button--MarginBottom);
    outline-offset: var(--#{$label}__actions--c-button--OutlineOffset);
  }
}
