<div class="{{pfv}}label-group__close{{#if label-group-close--modifier}} {{label-group-close--modifier}}{{/if}}"
  {{#if label-group-close--attribute}}
    {{{label-group-close--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--IsSmall=true button--IsIcon=true button--icon="times" button--attribute=(concat 'aria-labelledby="' label-group--id '-button ' label-group--id '-label" aria-label="Close label group" id="' label-group--id '-button"')}}
</div>
