<div class="{{pfv}}label-group{{#if label-group--modifier}} {{label-group--modifier}}{{/if}}{{#if label-group--IsEditable}} pf-m-editable{{/if}}"
  {{#if label-group--attribute}}
    {{label-group--attribute}}
  {{/if}}>
  {{>@partial-block}}
</div>
