<span class="{{pfv}}label__icon{{#if label-icon--modifier}} {{label-icon--modifier}}{{/if}}"
  {{#if label-icon--attribute}}
    {{{label-icon--attribute}}}
  {{/if}}>
  {{#ifAny label-icon--value label--status}}
    <i class="fas fa-fw fa-{{~> label-icon--map~}}" aria-hidden="true"></i>
  {{/ifAny}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
