<li class="{{pfv}}label-group__list-item{{#if label-group-list-item--modifier}} {{label-group-list-item--modifier}}{{/if}}"
  {{#if label-group-list-item--attribute}}
    {{{label-group-list-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
