@import "../../patternfly-utilities";

.pf-c-label {
  // Component
  --pf-c-label--BackgroundColor: var(--pf-global--primary-color--100);
  --pf-c-label--BorderRadius: 2px;
  --pf-c-label--PaddingTop: 5px;
  --pf-c-label--PaddingLeft: 8px;
  --pf-c-label--PaddingBottom: 6px;
  --pf-c-label--PaddingRight: 8px;

  background-color: var(--pf-c-label--BackgroundColor);
  border-radius: var(--pf-c-label--BorderRadius);
}

