@import "../../patternfly-utilities";

// Component variables follow this formula:
// --pf-c-label__element--modifier--state--PropertyCamelCase

// The value of component scoped variables is always defined by a global variable:
.pf-c-label {
  // Example block variable
  --pf-c-label--Color: var(--pf-global--Color--dark);

  // Example element variable
  --pf-c-label__element--FontSize: var(--pf-global--FontSize--2xl);

  // Example modifier variable
  --pf-c-label--m-danger--BackgroundColor: var(--pf-global--danger-color);

  color: var(--pf-c-label--Color);

  // Modifier
  &.pf-m-danger {
    background-color: var(--pf-c-label--m-danger--BackgroundColor);
  }
}

// Element
.pf-c-label__element {
  font-size: var(--pf-c-label__element--FontSize);
}
