<div class="pf-c-toggle-button-group{{#if toggle-button-group--modifier}} {{toggle-button-group--modifier}}{{/if}}"
  {{#if toggle-button-group--attribute}}
    {{{toggle-button-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
