@import "../../patternfly-utilities";

.pf-c-list {
  --pf-c-list--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-list--ul--nested--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-list--ul--nested--MarginLeft: var(--pf-global--spacer--sm);
  --pf-c-list--ul--ListStyle: var(--pf-global--ListStyle);
  --pf-c-list--ul--ListStyle: none;
  --pf-c-list--li--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-list--m-inline--li--MarginRight: var(--pf-global--spacer--lg);

  ol,
  ul {
    margin-top: var(--pf-c-list--ul--nested--MarginTop);
    margin-left: var(--pf-c-list--ul--nested--MarginLeft);
  }

  /* stylelint-disable */ 
  &:not(.pf-m-inline) {
    li {
      padding-left: var(--pf-c-list--PaddingLeft);
    }
  }

  @at-root ul#{&} {
    list-style: var(--pf-c-list--ul--ListStyle);

    li {
      display: flex;
      align-items: center;
      padding-top: 8px; // make variable
      padding-bottom: 8px; // make variable
      line-height: 16px; // make variable
      list-style: none;

      &:hover {
        background-color: #{$pf-color-black-150}; // make variable
      }
    }

    &.pf-m-avatar {
      li {
        position: relative;
  
        &::before {
          display: inline-block;
          width: 24px; // make variable 
          height: 24px; // make variable
          margin-right: 16px; // make variable
          content: "";
          background-image: url("/assets/images/img_avatar.svg");
        }

        .list-item-text {
          display: flex;
          flex-direction: column;
        }

        // p {
        //   background-color: #000;
        //   position: absolute;
        //   bottom: -8px;
        //   left: 64px;
        //   right: 0;
        // }

        // &::after {
        //   content: 'WOW';
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   right: 0;  
        // }

        .pf-c-check__input {
          position: absolute;
          right: 24px;
        }
      }
    }

    &.pf-m-star {

    }
  }

  /* stylelint-enable */

  &.pf-m-inline {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li {
      margin-right: var(--pf-c-list--m-inline--li--MarginRight);
    }
  }
}

// Add this to the standard modifier
// li + li {
//   margin-top: var(--pf-c-list--li--MarginTop); // change variable name
// }
