<p class="pf-c-list__item-text-secondary{{#if list-item-text-secondary--modifier}} {{list-item-text-secondary--modifier}}{{/if}}"
  {{#if list-item-text-secondary--attribute}}
    {{{list-item-text-secondary--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>