// @debug $list; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$list} {
  // list
  --#{$list}--PaddingLeft: var(--#{$pf-global}--spacer--lg);
  --#{$list}--nested--MarginTop: var(--#{$pf-global}--spacer--sm);
  --#{$list}--nested--MarginLeft: var(--#{$pf-global}--spacer--sm);
  --#{$list}--ul--ListStyle: var(--#{$pf-global}--ListStyle);
  --#{$list}--li--MarginTop: var(--#{$pf-global}--spacer--sm);

  // inline
  --#{$list}--m-inline--li--MarginRight: var(--#{$pf-global}--spacer--lg);

  // bordered
  --#{$list}--m-bordered--li--PaddingBottom: var(--#{$pf-global}--spacer--sm);
  --#{$list}--m-bordered--li--BorderBottomColor: var(--#{$pf-global}--BorderColor--100);
  --#{$list}--m-bordered--li--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--sm);

  // icon
  --#{$list}__item-icon--MinWidth: var(--#{$pf-global}--icon--FontSize--sm);
  --#{$list}__item-icon--MarginTop: #{pf-size-prem(6px)};
  --#{$list}__item-icon--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$list}__item-icon--Color: var(--#{$pf-global}--icon--Color--dark);
  --#{$list}__item-icon--FontSize: var(--#{$pf-global}--icon--FontSize--sm);
  --#{$list}--m-icon-lg__item-icon--MinWidth: var(--#{$pf-global}--icon--FontSize--lg);
  --#{$list}--m-icon-lg__item-icon--MarginRight: var(--#{$pf-global}--spacer--md);
  --#{$list}--m-icon-lg__item-icon--FontSize: var(--#{$pf-global}--icon--FontSize--lg);

  padding-inline-start: var(--#{$list}--PaddingLeft);

  ol,
  ul {
    margin-block-start: var(--#{$list}--nested--MarginTop);
    margin-inline-start: var(--#{$list}--nested--MarginLeft);
  }

  li + li {
    margin-block-start: var(--#{$list}--li--MarginTop);
  }

  @at-root ul#{&} {
    list-style: var(--#{$list}--ul--ListStyle);
  }

  .#{$list}__item {
    display: flex;
  }

  .#{$list}__item-icon {
    flex-shrink: 0;
    min-width: var(--#{$list}__item-icon--MinWidth);
    margin-block-start: var(--#{$list}__item-icon--MarginTop);
    margin-inline-end: var(--#{$list}__item-icon--MarginRight);
    font-size: var(--#{$list}__item-icon--FontSize);
    line-height: 1;
    color: var(--#{$list}__item-icon--Color);
  }

  &.pf-m-icon-lg {
    --#{$list}__item-icon--MinWidth: var(--#{$list}--m-icon-lg__item-icon--MinWidth);
    --#{$list}__item-icon--MarginTop: 0;
    --#{$list}__item-icon--MarginRight: var(--#{$list}--m-icon-lg__item-icon--MarginRight);
    --#{$list}__item-icon--FontSize: var(--#{$list}--m-icon-lg__item-icon--FontSize);
  }

  &.pf-m-plain {
    --#{$list}--PaddingLeft: 0;

    list-style: none;
  }

  &.pf-m-inline {
    --#{$list}--PaddingLeft: 0;

    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      --#{$list}--li--MarginTop: 0;

      &:not(:last-child) {
        margin-inline-end: var(--#{$list}--m-inline--li--MarginRight);
      }
    }
  }

  &.pf-m-bordered {
    > * {
      padding-block-end: var(--#{$list}--m-bordered--li--PaddingBottom);
      border-block-end: var(--#{$list}--m-bordered--li--BorderBottomWidth) solid var(--#{$list}--m-bordered--li--BorderBottomColor);
    }

    > :last-child {
      --#{$list}--m-bordered--li--PaddingBottom: 0;
      --#{$list}--m-bordered--li--BorderBottomWidth: 0;
    }
  }
}
