<div class="pf-c-list__item-text{{#if list-item-text--modifier}} {{list-item-text--modifier}}{{/if}}"
  {{#if list-item-text--attribute}}
    {{{list-item-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>