<span class="{{pfv}}list__item-icon{{#if list-item-icon--modifier}} {{list-item-icon--modifier}}{{/if}}"
  {{#if list-item-icon--attribute}}
    {{{list-item-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
