<div class="pf-c-list__item-main{{#if list-item-main--modifier}} {{list-item-main--modifier}}{{/if}}"
  {{#if list-item-main--attribute}}
    {{{list-item-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
