@import "../../patternfly-utilities";

$pf-c-list--MarginBottom: $pf-global--spacer--md !default;
$pf-c-list--PaddingLeft: $pf-global--spacer--lg !default;
$pf-c-list--li--MarginTop: $pf-global--spacer--sm !default;

// unordered list
$pf-c-list--is-unordered--MarginTop: $pf-global--spacer--md !default;
$pf-c-list--is-unordered--MarginLeft: $pf-global--spacer--lg !default;
$pf-c-list--is-unordered--ListStyle: $global-ListStyle !default;
$pf-c-list--is-unordered--nested--MarginTop: $pf-global--spacer--sm !default;
$pf-c-list--is-unordered--nested--MarginLeft: $pf-global--spacer--sm !default;

// ordered list
$pf-c-list--is-ordered--MarginTop: $pf-global--spacer--md !default;
$pf-c-list--is-ordered--MarginLeft: $pf-global--spacer--lg !default;
$pf-c-list--is-ordered--nested--MarginTop: $pf-global--spacer--sm !default;
$pf-c-list--is-ordered--nested--MarginLeft: $pf-global--spacer--sm !default;

// Description list
$pf-c-list--is-description--dd--MarginBottom: $pf-global--spacer--sm !default;
$pf-c-list--is-description--dd--MarginLeft: $pf-global--spacer--lg !default;

.pf-c-list {
  padding-left: $pf-c-list--PaddingLeft;
  margin-bottom: $pf-c-list--MarginBottom;

  li + li {
    margin-top: $pf-c-list--li--MarginTop;
  }

  &.pf-is-unordered {
    margin: 0;
    margin-top: $pf-c-list--is-unordered--MarginTop;
    margin-left: $pf-c-list--is-unordered--MarginLeft;
    list-style: $pf-c-list--is-unordered--ListStyle;

    ul {
      margin-top: $pf-c-list--is-unordered--nested--MarginTop;
      margin-left: $pf-c-list--is-unordered--nested--MarginLeft;
    }
  }

  &.pf-is-ordered {
    margin: 0;
    margin-top: $pf-c-list--is-ordered--MarginTop;
    margin-left: $pf-c-list--is-ordered--MarginLeft;

    ol {
      margin-top: $pf-c-list--is-ordered--nested--MarginTop;
      margin-left: $pf-c-list--is-ordered--nested--MarginLeft;
    }
  }

  &.pf-is-description {

    dd {
      margin-bottom: $pf-c-list--is-description--dd--MarginBottom;
      margin-left: $pf-c-list--is-description--dd--MarginLeft;
    }
  }

  &.pf-has-no-margin {
    margin: 0;
  }
}
