@import "../../patternfly-utilities";

.pf-c-dropdown {
  // Toggle
  --pf-c-dropdown__toggle--PaddingTop: #{pf-size-prem(6px)};
  --pf-c-dropdown__toggle--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-dropdown__toggle--PaddingBottom: #{pf-size-prem(6px)};
  --pf-c-dropdown__toggle--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-dropdown__toggle--MinWidth: var(--pf-global--target-size--MinWidth);
  --pf-c-dropdown__toggle--MinHeight: var(--pf-global--target-size--MinHeight);
  --pf-c-dropdown__toggle--FontSize: var(--pf-global--FontSize--md);
  --pf-c-dropdown__toggle--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-dropdown__toggle--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-dropdown__toggle--BackgroundColor: transparent;
  --pf-c-dropdown__toggle--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-dropdown__toggle--BorderTopColor: var(--pf-global--BorderColor--light-200);
  --pf-c-dropdown__toggle--BorderRightColor: var(--pf-global--BorderColor--light-200);
  --pf-c-dropdown__toggle--BorderBottomColor: var(--pf-global--BorderColor--dark);
  --pf-c-dropdown__toggle--BorderLeftColor: var(--pf-global--BorderColor--light-200);
  --pf-c-dropdown__toggle--Color: var(--pf-global--Color--100);
  --pf-c-dropdown__toggle--hover--BorderBottomWidth: var(--pf-global--BorderWidth--md);
  --pf-c-dropdown__toggle--expanded--BorderBottomWidth: var(--pf-global--BorderWidth--md);
  --pf-c-dropdown__toggle--expanded--BorderBottomColor: var(--pf-global--active-color--100);
  --pf-c-dropdown__toggle--m-plain--BorderColor: transparent;

  // Toggle Arrow
  --pf-c-dropdown__arrow--MarginLeft: var(--pf-global--spacer--md);
  --pf-c-dropdown__arrow--BorderWidth: var(--pf-global--BorderWidth--md);

  // Menu
  --pf-c-dropdown__menu--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-dropdown__menu--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-dropdown__menu--BorderColor: var(--pf-global--BorderColor);
  --pf-c-dropdown__menu--BoxShadow: var(--pf-global--BoxShadow--md);
  --pf-c-dropdown__menu--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-dropdown__menu--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-dropdown__menu--Top: calc(100% + var(--pf-global--spacer--xs)); // The top of the menu must be pushed down to create space between the toggle and menu
  --pf-c-dropdown__menu--ZIndex: var(--pf-global--ZIndex--xs);
  --pf-c-dropdown__menu--top--Transform: translateY(calc(-100% - var(--pf-global--spacer--xs))); // The "dropup" menu must be transformed up and this calculates how much to create space between the toggle and menu

  // Menu Item
  --pf-c-dropdown__menu-item--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-dropdown__menu-item--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-dropdown__menu-item--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-dropdown__menu-item--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-dropdown__menu-item--FontSize: var(--pf-global--FontSize--md);
  --pf-c-dropdown__menu-item--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-dropdown__menu-item--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-dropdown__menu-item--Color: var(--pf-global--Color--dark-100);
  --pf-c-dropdown__menu-item--disabled--Color: var(--pf-global--Color--dark-200);
  --pf-c-dropdown__menu-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-300);

  // Menu Item Separator
  --pf-c-dropdown__separator--Height: var(--pf-global--BorderWidth--sm);
  --pf-c-dropdown__separator--BackgroundColor: var(--pf-global--BackgroundColor--light-300);

  position: relative;
  display: inline-block;
}

.pf-c-dropdown__toggle {
  position: relative;
  min-width: var(--pf-c-dropdown__toggle--MinWidth);
  min-height: var(--pf-c-dropdown__toggle--MinHeight);
  padding: var(--pf-c-dropdown__toggle--PaddingTop) var(--pf-c-dropdown__toggle--PaddingRight) var(--pf-c-dropdown__toggle--PaddingBottom) var(--pf-c-dropdown__toggle--PaddingLeft);
  font-size: var(--pf-c-dropdown__toggle--FontSize);
  font-weight: var(--pf-c-dropdown__toggle--FontWeight);
  line-height: var(--pf-c-dropdown__toggle--LineHeight);
  color: var(--pf-c-dropdown__toggle--Color);
  background-color: var(--pf-c-dropdown__toggle--BackgroundColor);
  border: none;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: var(--pf-c-dropdown__toggle--BorderWidth) solid;
    border-color: var(--pf-c-dropdown__toggle--BorderTopColor) var(--pf-c-dropdown__toggle--BorderRightColor) var(--pf-c-dropdown__toggle--BorderBottomColor) var(--pf-c-dropdown__toggle--BorderLeftColor);
  }

  &:hover,
  &.pf-m-hover {
    &::before {
      border-bottom-width: var(--pf-c-dropdown__toggle--hover--BorderBottomWidth);
    }
  }

  &:active,
  &.pf-m-active,
  .pf-m-expanded > & {
    &::before {
      border-bottom-color: var(--pf-c-dropdown__toggle--expanded--BorderBottomColor);
      border-bottom-width: var(--pf-c-dropdown__toggle--expanded--BorderBottomWidth);
    }
  }

  &.pf-m-plain {
    &::before {
      border-color: var(--pf-c-dropdown__toggle--m-plain--BorderColor);
    }

    &:hover,
    &.pf-m-hover {
      &::before {
        border-color: var(--pf-c-dropdown__toggle--BorderTopColor) var(--pf-c-dropdown__toggle--BorderRightColor) var(--pf-c-dropdown__toggle--BorderBottomColor) var(--pf-c-dropdown__toggle--BorderLeftColor);
        border-width: var(--pf-c-dropdown__toggle--BorderWidth) var(--pf-c-dropdown__toggle--BorderWidth) var(--pf-c-dropdown__toggle--hover--BorderBottomWidth) var(--pf-c-dropdown__toggle--BorderWidth);
      }
    }

    &:active,
    &.pf-m-active,
    .pf-m-expanded > & {
      &::before {
        border-color: var(--pf-c-dropdown__toggle--BorderTopColor) var(--pf-c-dropdown__toggle--BorderTopColor) var(--pf-c-dropdown__toggle--expanded--BorderBottomColor) var(--pf-c-dropdown__toggle--BorderTopColor);
        border-width: var(--pf-c-dropdown__toggle--BorderWidth) var(--pf-c-dropdown__toggle--BorderWidth) var(--pf-c-dropdown__toggle--expanded--BorderBottomWidth) var(--pf-c-dropdown__toggle--BorderWidth);
      }
    }
  }

  .pf-c-dropdown__toggle-icon {
    margin-left: var(--pf-c-dropdown__arrow--MarginLeft);

    .pf-m-top.pf-m-expanded > & {
      transform: rotate(-180deg);
    }
  }
}

.pf-c-dropdown__menu {
  position: absolute;
  top: var(--pf-c-dropdown__menu--Top);
  z-index: var(--pf-c-dropdown__menu--ZIndex);
  min-width: 100%;
  padding-top: var(--pf-c-dropdown__menu--PaddingTop);
  padding-bottom: var(--pf-c-dropdown__menu--PaddingBottom);
  background: var(--pf-c-dropdown__menu--BackgroundColor);
  background-clip: padding-box;
  border: var(--pf-c-dropdown__menu--BorderWidth) solid transparent;
  box-shadow: var(--pf-c-dropdown__menu--BoxShadow);

  &.pf-m-align-right {
    right: 0;
  }

  .pf-c-dropdown.pf-m-top & {
    top: 0;
    transform: var(--pf-c-dropdown__menu--top--Transform);
  }
}

.pf-c-dropdown__menu-item {
  display: block;
  width: 100%;
  padding: var(--pf-c-dropdown__menu-item--PaddingTop) var(--pf-c-dropdown__menu-item--PaddingRight) var(--pf-c-dropdown__menu-item--PaddingBottom) var(--pf-c-dropdown__menu-item--PaddingLeft);
  font-size: var(--pf-c-dropdown__menu-item--FontSize);
  font-weight: var(--pf-c-dropdown__menu-item--FontWeight);
  line-height: var(--pf-c-dropdown__menu-item--LineHeight);
  color: var(--pf-c-dropdown__menu-item--Color);
  text-align: left;
  white-space: nowrap;
  border: none;

  &:hover,
  &.pf-m-hover,
  &:focus,
  &.pf-m-focus {
    color: var(--pf-c-dropdown__menu-item--Color);
    text-decoration: none;
    background-color: var(--pf-c-dropdown__menu-item--hover--BackgroundColor);
  }

  &:disabled,
  &.pf-m-disabled {
    color: var(--pf-c-dropdown__menu-item--disabled--Color);
    pointer-events: none;
    background-color: transparent;
  }
}

.pf-c-dropdown__separator {
  height: var(--pf-c-dropdown__separator--Height);
  background-color: var(--pf-c-dropdown__separator--BackgroundColor);
}
