<div class="pf-c-dropdown__menu{{#if dropdown-menu--modifier}} {{dropdown-menu--modifier}}{{/if}}"
  aria-labelledby="{{id}}-button"
  {{#unless dropdown--IsExpanded}}hidden{{/unless}}
  {{#if dropdown-menu--attribute}}
	  {{{dropdown-menu--attribute}}}
  {{/if}}>
  <section class="pf-c-dropdown__group">
    <h1 class="pf-c-dropdown__group-title">Group 1</h1>
    <ul>
        <li><a class="pf-c-dropdown__menu-item" href="#">Group 1 Link</a></li>
        <li><button class="pf-c-dropdown__menu-item">Group 1 Action</button></li>
    </ul>
  </section>
  <section class="pf-c-dropdown__group">
    <h1 class="pf-c-dropdown__group-title">Group 2</h1>
    <ul>
        <li><a class="pf-c-dropdown__menu-item" href="#">Group 2 Link</a></li>
        <li><button class="pf-c-dropdown__menu-item">Group 2 Action</button></li>
    </ul>
  </section>
</div>
