<span class="pf-c-dropdown__toggle-badge{{#if dropdown-toggle-badge--modifier}} {{dropdown-toggle-badge--modifier}}{{/if}}"
  {{#if dropdown-toggle-badge--attribute}}
    {{{dropdown-toggle-badge--attribute}}}
  {{/if}}>
  {{#if dropdown-toggle-badge--text}}
    <span class="pf-c-dropdown__toggle-badge-text">{{dropdown-toggle-badge--text}}</span>
  {{else}}
    <span class="pf-c-dropdown__toggle-badge-text">5</span>
  {{/if}}
  {{#unless dropdown-toggle-badge--HasNoToggleIcon}}
    {{> dropdown-toggle-icon}}
  {{/unless}}
</span>
