<div class="pf-c-dropdown{{#if dropdown--IsExpanded}} pf-m-expanded{{/if}}{{#if dropdown--modifier}} {{dropdown--modifier}}{{/if}}"
  {{#if dropdown--attribute}}
    {{dropdown--attribute}}
  {{/if}}>
  {{#> dropdown-toggle}}
    {{> @partial-block}}
  {{/dropdown-toggle}}
  {{#if dropdown--IsActionMenu}}
    {{> dropdown-menu}}
  {{else if dropdown--isSplitButton}}
    {{> dropdown-menu-split-button}}
  {{else}}
    {{> dropdown-menu-basic}}
  {{/if}}
</div>
