<button class="pf-c-dropdown__toggle" id="{{id}}" aria-haspopup="true" aria-expanded="{{#if dropdown--IsExpanded}}true{{else}}false{{/if}}"
	{{#if aria-label}}
		aria-label="{{aria-label}}" 
	{{/if}}>
	{{> @partial-block}}
	{{#if dropdown--HasToggleIcon}}
		{{> dropdown-toggle-icon}}
	{{/if}}
	{{#if dropdown--HasKebabIcon}}
		{{> kebab-icon}}
	{{/if}}
</button> 