<span class="pf-c-dropdown__submenu-toggle-icon{{#if dropdown-submenu-toggle-icon--modifier}} {{dropdown-submenu-toggle-icon--modifier}}{{/if}}"
  {{#if dropdown-submenu-toggle-icon--attribute}}
	  {{{dropdown-submenu-toggle-icon--attribute}}}
  {{/if}}>
  {{{@partial-block}}}
</span>
