<span class="{{pfv}}dropdown__toggle-progress{{#if dropdown-toggle-progress--modifier}} {{dropdown-toggle-progress--modifier}}{{/if}}"
  {{#if dropdown-toggle-progress--attribute}}
    {{{dropdown-toggle-progress--attribute}}}
  {{/if}}>
  {{> spinner}}
</span>
