<div class="pf-c-dropdown__menu-item-title{{#if dropdown-menu-item-title--modifier}} {{dropdown-menu-item-title--modifier}}{{/if}}"
  {{#if dropdown-menu-item-title--attribute}}
    {{{dropdown-menu-item-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
