<div class="pf-c-dropdown{{#if dropdown--IsExpanded}} pf-m-expanded{{/if}} {{#if dropdown--modifier}} {{dropdown--modifier}}{{/if}}"
  {{#if dropdown--attribute}}
    {{{dropdown--attribute}}}
  {{/if}}>
		{{> dropdown-toggle}}
    {{> dropdown-menu}}
</div>
