<div class="pf-c-dropdown__menu" role="dialog" aria-labelledby="{{id}}" {{#unless dropdown--IsExpanded}}hidden="hidden"{{/unless}}>
    <form class="pf-c-form">
    <fieldset class="pf-c-form__fieldset">
        <label class="pf-c-form__label  pf-c-dropdown__menu-item" for="checkbox-apples">
            <input class="pf-c-check" type="checkbox" name="apples" id="checkbox-apples" checked> Apples
        </label>
        <label class="pf-c-form__label pf-c-dropdown__menu-item" for="checkbox-oranges">
            <input class="pf-c-check" type="checkbox" name="oranges" id="checkbox-oranges" checked> Oranges
        </label>
        <label class="pf-c-form__label  pf-c-dropdown__menu-item pf-m-disabled" for="checkbox-bananas"> 
            <input class="pf-c-check" type="checkbox" name="bananas" id="checkbox-bananas" disabled> Bananas
        </label>
        <div class="pf-c-dropdown__separator" role="separator"></div>
        <label class="pf-c-form__label  pf-c-dropdown__menu-item" for="checkbox-grapes">
            <input class="pf-c-check" type="checkbox" name="carrots" id="checkbox-grapes"> Carrots
        </label>
    </fieldset>
  </form>
</div>
