<li class="pf-c-dropdown__menu-wrapper{{#if dropdown-menu-wrapper--modifier}} {{dropdown-menu-wrapper--modifier}}{{/if}}"
  {{#if dropdown-menu-wrapper--attribute}}
    {{{dropdown-menu-wrapper--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
