<div class="pf-c-dropdown__menu" role="dialog" aria-labelledby="{{id}}" {{#unless dropdown--IsExpanded}}hidden="hidden"{{/unless}}>
    <form class="pf-c-form">
    <fieldset class="pf-c-form__fieldset">
        <legend class="pf-u-sr-only">Choose one or more items</legend>
        {{#> check check--modifier="pf-c-dropdown__menu-item"}}
            {{#> check-input check-input--attribute='type="checkbox" id="checkbox-apples" name="apples"'}}{{/check-input}}
            {{#> check-label check-label--attribute='for="checkbox-apples"'}}Apples{{/check-label}}
        {{/check}}
        {{#> check check--modifier="pf-c-dropdown__menu-item"}}
            {{#> check-input check-input--attribute='type="checkbox" id="checkbox-oranges" name="oranges" checked'}}{{/check-input}}
            {{#> check-label check-label--attribute='for="checkbox-apples"'}}Oranges{{/check-label}}
        {{/check}}
        {{#> check check--modifier="pf-c-dropdown__menu-item"}}
            {{#> check-input check-input--attribute='type="checkbox" id="checkbox-bananas" name="bananas"'}}{{/check-input}}
            {{#> check-label check-label--attribute='for="checkbox-bananas"'}}Bananas{{/check-label}}
        {{/check}}
        <div class="pf-c-dropdown__separator" role="separator"></div>
        {{#> check check--modifier="pf-c-dropdown__menu-item"}}
            {{#> check-input check-input--attribute='type="checkbox" id="checkbox-apples" name="carrots" aria-disabled="true" disabled'}}{{/check-input}}
            {{#> check-label check-label--attribute='for="checkbox-carrots"'}}Carrots{{/check-label}}
        {{/check}}
    </fieldset>
  </form>
</div>
