<div class="pf-c-dropdown__menu{{#if dropdown-menu--modifier}} {{dropdown-menu--modifier}}{{/if}}"
  aria-labelledby="{{id}}-button"
  {{#unless dropdown--IsExpanded}}hidden{{/unless}}
  {{#if dropdown-menu--attribute}}
	  {{{dropdown-menu--attribute}}}
  {{/if}}>
  <section class="pf-c-dropdown__group">
    <ul>
      <li><a class="pf-c-dropdown__menu-item" href="#">Link</a></li>
      <li><button class="pf-c-dropdown__menu-item">Action</button></li>
      {{#if dropdown--HasSeparatorsItems}}
        {{#> dropdown-separator}}{{/dropdown-separator}}
      {{/if}}
    </ul>
  </section>
  {{#if dropdown--HasSeparatorsGroups}}
    {{#> dropdown-separator dropdown-separator--IsHr="true"}}{{/dropdown-separator}}
  {{/if}}
  <section class="pf-c-dropdown__group">
    <h1 class="pf-c-dropdown__group-title">Group 2</h1>
    <ul>
      <li><a class="pf-c-dropdown__menu-item" href="#">Group 2 link</a></li>
      <li><button class="pf-c-dropdown__menu-item">Group 2 action</button></li>
      {{#if dropdown--HasSeparatorsItems}}
        {{#> dropdown-separator}}{{/dropdown-separator}}
      {{/if}}
    </ul>
  </section>
  {{#if dropdown--HasSeparatorsGroups}}
    {{#> dropdown-separator dropdown-separator--IsHr="true"}}{{/dropdown-separator}}
  {{/if}}
  <section class="pf-c-dropdown__group">
    <h1 class="pf-c-dropdown__group-title">Group 3</h1>
    <ul>
      <li><a class="pf-c-dropdown__menu-item" href="#">Group 3 link</a></li>
      <li><button class="pf-c-dropdown__menu-item">Group 3 action</button></li>
    </ul>
  </section>
</div>
