<div class="pf-c-dropdown__menu{{#if dropdown-multi-select--modifier}} {{ddropdown-multi-select--modifier}}{{/if}}"
  {{#unless dropdown--IsExpanded}}hidden{{/unless}}
  {{#if dropdown-multi-select--attribute}}
    {{{dropdown-multi-select--attribute}}}
  {{/if}}>
  <form class="pf-c-form">
  <fieldset class="pf-c-form__fieldset" aria-labelledby="{{id}}-label">
    {{#> check check--modifier="pf-c-dropdown__menu-item"}}
      {{#> check-input check-input--attribute=(concat 'type="checkbox" id="' id '-apples" name="fruit"')}}{{/check-input}}
      {{#> check-label check-label--attribute=(concat 'for="' id '-apples"')}}Apples{{/check-label}}
    {{/check}}
    {{#> check check--modifier="pf-c-dropdown__menu-item"}}
      {{#> check-input check-input--attribute=(concat 'type="checkbox" id="' id '-oranges" name="fruit" checked')}}{{/check-input}}
      {{#> check-label check-label--attribute=(concat 'for="' id '-oranges"')}}Oranges{{/check-label}}
    {{/check}}
    {{#> check check--modifier="pf-c-dropdown__menu-item"}}
      {{#> check-input check-input--attribute=(concat 'type="checkbox" id="' id '-bananas" name="fruit" aria-disabled="true" disabled')}}{{/check-input}}
      {{#> check-label check-label--attribute=(concat 'for="' id '-bananas"')}}Bananas{{/check-label}}
    {{/check}}
    <div class="pf-c-dropdown__separator" role="separator"></div>
    {{#> check check--modifier="pf-c-dropdown__menu-item"}}
      {{#> check-input check-input--attribute=(concat 'type="checkbox" id="' id '-carrots" name="fruit"')}}{{/check-input}}
      {{#> check-label check-label--attribute=(concat 'for="' id '-carrots"')}}Carrots{{/check-label}}
    {{/check}}
  </fieldset>
  </form>
</div>