<ul class="pf-c-dropdown__menu" 
role="listbox" 
aria-labelledby="{{id}}" 
aria-activedescendant="ID_REF" 
{{#unless pf-c-dropdown--IsExpanded}}hidden="hidden"{{/unless}}>
    <li class="pf-c-dropdown__menu-item" role="option" tabindex="0">Apples</li>
    <li class="pf-c-dropdown__menu-item" role="option" tabindex="0">Oranges</li>
    <li class="pf-c-dropdown__menu-item pf-m-disabled" role="option" >Bananas</li>
    <li class="pf-c-dropdown__separator" role="separator"></li>
    <li class="pf-c-dropdown__menu-item" role="option" tabindex="0">Carrots</li>
</ul>
