<div class="{{pfv}}{nameDasherized}{{#if {nameDasherized}--modifier}} {{{nameDasherized}--modifier}}{{/if}}"
  {{#if {nameDasherized}--attribute}}
    {{{{nameDasherized}--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
