// @debug $simple-list; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root, .#{$simple-list} {
  // Simple list item link
  --#{$simple-list}__item-link--PaddingTop: var(--pf-t--global--spacer--xs);
  --#{$simple-list}__item-link--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$simple-list}__item-link--PaddingBottom: var(--pf-t--global--spacer--xs);
  --#{$simple-list}__item-link--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$simple-list}__item-link--BackgroundColor: var(--pf-t--global--background--color--action--plain--default);
  --#{$simple-list}__item-link--Color: var(--pf-t--global--text--color--subtle);
  --#{$simple-list}__item-link--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$simple-list}__item-link--m-current--Color: var(--pf-t--global--text--color--regular);
  --#{$simple-list}__item-link--m-current--BackgroundColor: var(--pf-t--global--background--color--action--plain--selected);
  --#{$simple-list}__item-link--hover--Color: var(--pf-t--global--text--color--subtle);
  --#{$simple-list}__item-link--hover--BackgroundColor: var(--pf-t--global--background--color--action--plain--hover);
  --#{$simple-list}__item-link--MixBlendMode: var(--pf-t--global--background--color--action--plain--hover--blend);
  --#{$simple-list}__item-link--BorderRadius: var(--pf-t--global--border--radius--tiny);

  // Simple list item link
  --#{$simple-list}__item-link--m-link--Color: var(--pf-t--global--text--color--link--default);
  --#{$simple-list}__item-link--m-link--m-current--Color: var(--pf-t--global--text--color--link--hover);
  --#{$simple-list}__item-link--m-link--hover--Color: var(--pf-t--global--text--color--link--hover);

  // Simple list title
  --#{$simple-list}__title--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$simple-list}__title--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$simple-list}__title--PaddingBottom: var(--pf-t--global--spacer--sm);
  --#{$simple-list}__title--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$simple-list}__title--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$simple-list}__title--Color: var(--pf-t--global--text--color--regular);
  --#{$simple-list}__title--FontWeight: var(--pf-t--global--font--weight--body--bold);

  // Simple list section
  --#{$simple-list}__section--section--MarginTop: var(--pf-t--global--spacer--sm);
}

.#{$simple-list}__item-link {
  display: block;
  width: 100%;
  padding-block-start: var(--#{$simple-list}__item-link--PaddingTop);
  padding-block-end: var(--#{$simple-list}__item-link--PaddingBottom);
  padding-inline-start: var(--#{$simple-list}__item-link--PaddingLeft);
  padding-inline-end: var(--#{$simple-list}__item-link--PaddingRight);
  font-size: var(--#{$simple-list}__item-link--FontSize);
  color: var(--#{$simple-list}__item-link--Color);
  text-align: start;
  text-decoration: none;
  background-color: var(--#{$simple-list}__item-link--BackgroundColor);
  border: none;
  border-radius: var(--#{$simple-list}__item-link--BorderRadius);
  
  &.pf-m-link {
    --#{$simple-list}__item-link--Color: var(--#{$simple-list}__item-link--m-link--Color);
    --#{$simple-list}__item-link--hover--Color: var(--#{$simple-list}__item-link--m-link--m-current--Color);
    --#{$simple-list}__item-link--m-current--Color:  var(--#{$simple-list}__item-link--m-link--hover--Color);
  }

  &:hover,
  &:focus {
    --#{$simple-list}__item-link--BackgroundColor: var(--#{$simple-list}__item-link--hover--BackgroundColor);
    --#{$simple-list}__item-link--Color: var(--#{$simple-list}__item-link--hover--Color);

    text-decoration: none;
    mix-blend-mode: var(--#{$simple-list}__item-link--MixBlendMode);
  }

  &.pf-m-current {
    --#{$simple-list}__item-link--BackgroundColor: var(--#{$simple-list}__item-link--m-current--BackgroundColor);
    --#{$simple-list}__item-link--Color: var(--#{$simple-list}__item-link--m-current--Color);

    mix-blend-mode: var(--#{$simple-list}__item-link--MixBlendMode);
  }
}

.#{$simple-list}__title {
  padding-block-start: var(--#{$simple-list}__title--PaddingTop);
  padding-block-end: var(--#{$simple-list}__title--PaddingBottom);
  padding-inline-start: var(--#{$simple-list}__title--PaddingLeft);
  padding-inline-end: var(--#{$simple-list}__title--PaddingRight);
  font-size: var(--#{$simple-list}__title--FontSize);
  font-weight: var(--#{$simple-list}__title--FontWeight);
  color: var(--#{$simple-list}__title--Color);
}

.#{$simple-list}__section + .#{$simple-list}__section {
  margin-block-start: var(--#{$simple-list}__section--section--MarginTop);
}