.pf-c-simple-list {
  // Simple list item
  --pf-c-simple-list__item-button--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-simple-list__item-button--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-simple-list__item-button--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-simple-list__item-button--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-simple-list__item-button--hover--Color: var(--pf-global--link--Color);
  --pf-c-simple-list__item-button--hover--BackgroundColor: var(--pf-global--BackgroundColor--150);
  --pf-c-simple-list__item-button--hover--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-simple-list__item-button--focus--Color: var(--pf-global--link--Color);
  --pf-c-simple-list__item-button--focus--BackgroundColor: var(--pf-global--BackgroundColor--150);
  --pf-c-simple-list__item-button--focus--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-simple-list__item-button--active--Color: var(--pf-global--link--Color);
  --pf-c-simple-list__item-button--active--BackgroundColor: var(--pf-global--BackgroundColor--150);
  --pf-c-simple-list__item-button--active--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // Simple list title
  --pf-c-simple-list__title--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-simple-list__title--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-simple-list__title--PaddingBottom: var(--pf-global--spacer--sm); // what is this value?
  --pf-c-simple-list__title--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-simple-list__title--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-simple-list__title--Color: var(--pf-global--Color--dark-200);
  --pf-c-simple-list__title--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // Simple list section
  --pf-c-simple-list__section-section--MarginTop: var(--pf-global--spacer--md); // what is this value?
}

.pf-c-simple-list__item-button {
  width: 100%;
  padding: var(--pf-c-simple-list__item-button--PaddingTop) var(--pf-c-simple-list__item-button--PaddingRight) var(--pf-c-simple-list__item-button--PaddingBottom) var(--pf-c-simple-list__item-button--PaddingLeft);
  text-align: left;
  border: none;

  &.pf-m-hover,
  &:hover {
    font-weight: var(--pf-c-simple-list__item-button--hover--FontWeight);
    color: var(--pf-c-simple-list__item-button--hover--Color);
    background-color: var(--pf-c-simple-list__item-button--hover--BackgroundColor);
  }

  &.pf-m-focus,
  &:focus {
    font-weight: var(--pf-c-simple-list__item-button--focus--FontWeight);
    color: var(--pf-c-simple-list__item-button--focus--Color);
    background-color: var(--pf-c-simple-list__item-button--focus--BackgroundColor);
  }

  &.pf-m-active,
  &:active {
    font-weight: var(--pf-c-simple-list__item-button--active--FontWeight);
    color: var(--pf-c-simple-list__item-button--active--Color);
    background-color: var(--pf-c-simple-list__item-button--active--BackgroundColor);
  }
}

.pf-c-simple-list__title {
  padding: var(--pf-c-simple-list__title--PaddingTop) var(--pf-c-simple-list__title--PaddingRight) var(--pf-c-simple-list__title--PaddingBottom) var(--pf-c-simple-list__title--PaddingLeft);
  font-size: var(--pf-c-simple-list__title--FontSize);
  font-weight: var(--pf-c-simple-list__title--FontWeight);
  color: var(--pf-c-simple-list__title--Color);
}

.pf-c-simple-list__section + .pf-c-simple-list__section {
  margin-top: var(--pf-c-simple-list__section-section--MarginTop);
}
