<button class="pf-c-simple-list__item-button{{#if simple-list-item-button--modifier}} {{simple-list-item-button--modifier}}{{/if}}"
  {{#if simple-list-item-button--attribute}}
    {{{simple-list-item-button--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>