// @debug $spinner; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$spinner} {
  --#{$spinner}--diameter: var(--#{$pf-global}--icon--FontSize--xl);
  --#{$spinner}--Width: var(--#{$spinner}--diameter);
  --#{$spinner}--Height: var(--#{$spinner}--diameter);
  --#{$spinner}--Color: var(--#{$pf-global}--primary-color--100);

  // sizes
  --#{$spinner}--m-sm--diameter: var(--#{$pf-global}--icon--FontSize--sm);
  --#{$spinner}--m-md--diameter: var(--#{$pf-global}--icon--FontSize--md);
  --#{$spinner}--m-lg--diameter: var(--#{$pf-global}--icon--FontSize--lg);
  --#{$spinner}--m-xl--diameter: var(--#{$pf-global}--icon--FontSize--xl);

  // inline
  --#{$spinner}--m-inline--diameter: 1em;

  width: var(--#{$spinner}--Width);
  height: var(--#{$spinner}--Height);
  overflow: hidden;

  // Modifiers change the variables for size variations
  &.pf-m-inline {
    --#{$spinner}--diameter: var(--#{$spinner}--m-inline--diameter);
  }

  &.pf-m-sm {
    --#{$spinner}--diameter: var(--#{$spinner}--m-sm--diameter);
  }

  &.pf-m-md {
    --#{$spinner}--diameter: var(--#{$spinner}--m-md--diameter);
  }

  &.pf-m-lg {
    --#{$spinner}--diameter: var(--#{$spinner}--m-lg--diameter);
  }

  &.pf-m-xl {
    --#{$spinner}--diameter: var(--#{$spinner}--m-xl--diameter);
  }
}

// stylelint-disable selector-no-qualifying-type
svg.#{$spinner} {
  --#{$spinner}--diameter: var(--#{$pf-global}--icon--FontSize--xl);
  --#{$spinner}--AnimationDuration: 1.4s;
  --#{$spinner}--AnimationTimingFunction: linear;
  --#{$spinner}--stroke-width: 10;

  // path
  --#{$spinner}__path--Stroke: var(--#{$spinner}--Color);
  --#{$spinner}__path--StrokeWidth: var(--#{$spinner}--stroke-width);
  --#{$spinner}__path--AnimationTimingFunction: ease-in-out;

  // size modifiers
  --#{$spinner}--m-sm--diameter: var(--#{$pf-global}--icon--FontSize--sm);
  --#{$spinner}--m-md--diameter: var(--#{$pf-global}--icon--FontSize--md);
  --#{$spinner}--m-lg--diameter: var(--#{$pf-global}--icon--FontSize--lg);
  --#{$spinner}--m-xl--diameter: var(--#{$pf-global}--icon--FontSize--xl);

  animation: #{$spinner}-animation-rotate calc(var(--#{$spinner}--AnimationDuration) * 2) var(--#{$spinner}--AnimationTimingFunction) infinite;

  // Modifiers change the variables for size variations
  &.pf-m-sm {
    --#{$spinner}--diameter: var(--#{$spinner}--m-sm--diameter);
  }

  &.pf-m-md {
    --#{$spinner}--diameter: var(--#{$spinner}--m-md--diameter);
  }

  &.pf-m-lg {
    --#{$spinner}--diameter: var(--#{$spinner}--m-lg--diameter);
  }

  &.pf-m-xl {
    --#{$spinner}--diameter: var(--#{$spinner}--m-xl--diameter);
  }
}
// stylelint-enable

.#{$spinner}__path {
  width: 100%;
  height: 100%;
  stroke: var(--#{$spinner}--Color);
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-linecap: round;
  stroke-width: var(--#{$spinner}--stroke-width);
  transform-origin: 50% 50%;
  animation: #{$spinner}-animation-dash var(--#{$spinner}--AnimationDuration) var(--#{$spinner}__path--AnimationTimingFunction) infinite;
}

@keyframes #{$spinner}-animation-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes #{$spinner}-animation-dash {
  0% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  15% {
    stroke-width: calc(var(--#{$spinner}__path--StrokeWidth) - 4);
  }

  40% {
    stroke-dasharray: 220;
    stroke-dashoffset: 150;
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(720deg);
  }
}
