.pf-c-spinner {
  --pf-c-spinner--diameter: var(--pf-global--icon--FontSize--xl);
  --pf-c-spinner--Width: var(--pf-c-spinner--diameter);
  --pf-c-spinner--Height: var(--pf-c-spinner--diameter);
  --pf-c-spinner--Color: var(--pf-global--primary-color--100);
  --pf-c-spinner--AnimationDuration: 1.35s;
  --pf-c-spinner--AnimationTimingFunction: ease;
  --pf-c-spinner--stroke-width: 8;

  // path
  --pf-c-spinner__path--Stroke: var(--pf-c-spinner--Color);
  --pf-c-spinner__path--StrokeWidth: var(--pf-c-spinner--stroke-width);
  --pf-c-spinner__path--AnimationTimingFunction: linear;

  // size modifiers
  --pf-c-spinner--m-sm--diameter: var(--pf-global--icon--FontSize--sm);
  --pf-c-spinner--m-md--diameter: var(--pf-global--icon--FontSize--md);
  --pf-c-spinner--m-lg--diameter: var(--pf-global--icon--FontSize--lg);
  --pf-c-spinner--m-xl--diameter: var(--pf-global--icon--FontSize--xl);

  width: var(--pf-c-spinner--Width);
  height: var(--pf-c-spinner--Height);
  animation: pf-c-spinner-animation-rotate calc(var(--pf-c-spinner--AnimationDuration) * 2) var(--pf-c-spinner--AnimationTimingFunction) infinite;

  // Modifiers change the variables for size variations
  &.pf-m-sm {
    --pf-c-spinner--diameter: var(--pf-c-spinner--m-sm--diameter);
  }

  &.pf-m-md {
    --pf-c-spinner--diameter: var(--pf-c-spinner--m-md--diameter);
  }

  &.pf-m-lg {
    --pf-c-spinner--diameter: var(--pf-c-spinner--m-lg--diameter);
  }

  &.pf-m-xl {
    --pf-c-spinner--diameter: var(--pf-c-spinner--m-xl--diameter);
  }
}

.pf-c-spinner__path {
  width: 100%;
  height: 100%;
  animation: pf-c-spinner-animation-dash calc(var(--pf-c-spinner--AnimationDuration) * 1) var(--pf-c-spinner__path--AnimationTimingFunction) infinite;
  stroke: var(--pf-c-spinner--Color);
  stroke-linecap: round;
}

@keyframes pf-c-spinner-animation-rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(540deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

@keyframes pf-c-spinner-animation-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
    stroke-width: var(--pf-c-spinner__path--StrokeWidth);
  }

  15% {
    stroke-dashoffset: 0;
    stroke-width: var(--pf-c-spinner__path--StrokeWidth) - 2;
  }

  35% {
    stroke-dasharray: 45, 150;
  }

  85% {
    stroke-dasharray: 45, 150;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
    stroke-width: var(--pf-c-spinner__path--StrokeWidth);
  }
}
