<div class="pf-c-spinner{{#if spinner--modifier}} {{spinner--modifier}}{{/if}}"
  {{#if spinner--attribute}}
    {{{spinner--attribute}}}
  {{/if}}>
  <div class="pf-c-spinner__clipper"></div>
  <div class="pf-c-spinner__lead-ball"></div>  
  <div class="pf-c-spinner__tail-ball"></div> 
</div>
