@import "../../patternfly-imports";


.pf-c-skip-to-content {
  position: absolute;
  top: var(--pf-c-skip-to-content--Top);
  left: -300%; /* moves off screen */
  z-index: var(--pf-c-skip-to-content--ZIndex);

  &:focus {
    left: var(--pf-c-skip-to-content--focus--Left);
  }
}
