<div class="{{pfv}}skip-to-content{{#if skip-to-content--modifier}} {{skip-to-content--modifier}}{{/if}}"
  {{#if skip-to-content--attribute}}
    {{{skip-to-content--attribute}}}
  {{/if}}>
  {{#> button button--IsAnchor=true button--url=skip-to-content--href button--IsPrimary=true}}
    {{> @partial-block}}
  {{/button}}
</div>
