<div class="pf-c-splitter__handle{{#if splitter-handle--modifier}} {{splitter-handle--modifier}}{{/if}}"
  {{#if splitter-handle--attribute}}
    {{{splitter-handle--attribute}}}
  {{/if}}>
  {{#> splitter-handle-line}}
  {{/splitter-handle-line}}
  {{#> splitter-handle-line}}
  {{/splitter-handle-line}}
</div>
