<div class="pf-c-splitter__handle-line{{#if splitter-handle-line--modifier}} {{splitter-handle-line--modifier}}{{/if}}"
  {{#if splitter-handle-line--attribute}}
    {{{splitter-handle-line--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
