.pf-c-splitter {
  // splitter
  --pf-c-splitter--Height: var(--pf-global--spacer--sm);
  --pf-c-splitter--Width: 100%;
  --pf-c-splitter--BackgroundColor: var(--pf-global--BackgroundColor--200);
  --pf-c-splitter--Cursor: row-resize;
  --pf-c-splitter--m-vertical--Height: 100%;
  --pf-c-splitter--m-vertical--Width: var(--pf-global--spacer--sm);
  --pf-c-splitter--m-vertical--Cursor: col-resize;

  // dark variation
  --pf-c-splitter--m-dark--BackgroundColor: var(--pf-global--disabled-color--200);

  // splitter handle
  --pf-c-splitter__handle--Top: 0;
  --pf-c-splitter__handle--Right: 0;
  --pf-c-splitter__handle--Bottom: 0;
  --pf-c-splitter__handle--Left: 50%;
  --pf-c-splitter--m-vertical__handle--Top: 50%;
  --pf-c-splitter--m-vertical__handle--Right: 0;
  --pf-c-splitter--m-vertical__handle--Left: 0;
  --pf-c-splitter--m-vertical__handle--Bottom: 0;

  // splitter handle line
  --pf-c-splitter__handle-line--BackgroundColor: var(--pf-global--BorderColor--200);
  --pf-c-splitter__handle-line--Height: #{pf-size-prem(1px)};
  --pf-c-splitter__handle-line--Width: #{pf-size-prem(12px)};
  --pf-c-splitter--m-vertical__handle-line--Height: #{pf-size-prem(12px)};
  --pf-c-splitter--m-vertical__handle-line--Width: #{pf-size-prem(1px)};

  position: relative;
  width: var(--pf-c-splitter--Width);
  height: var(--pf-c-splitter--Height);
  cursor: var(--pf-c-splitter--Cursor);
  background-color: var(--pf-c-splitter--BackgroundColor);

  &.pf-m-vertical {
    --pf-c-splitter--Height: var(--pf-c-splitter--m-vertical--Height);
    --pf-c-splitter--Width: var(--pf-c-splitter--m-vertical--Width);
    --pf-c-splitter--Cursor: var(--pf-c-splitter--m-vertical--Cursor);

    .pf-c-splitter__handle {
      --pf-c-splitter__handle--Top: var(--pf-c-splitter--m-vertical__handle--Top);
      --pf-c-splitter__handle--Right: var(--pf-c-splitter--m-vertical__handle--Right);
      --pf-c-splitter__handle--Bottom: var(--pf-c-splitter--m-vertical__handle--Bottom);
      --pf-c-splitter__handle--Left: var(--pf-c-splitter--m-vertical__handle--Left);

      flex-direction: row;
    }

    .pf-c-splitter__handle-line {
      --pf-c-splitter__handle-line--Height: var(--pf-c-splitter--m-vertical__handle-line--Height);
      --pf-c-splitter__handle-line--Width: var(--pf-c-splitter--m-vertical__handle-line--Width);
    }
  }

  &.pf-m-dark {
    --pf-c-splitter--BackgroundColor: var(--pf-c-splitter--m-dark--BackgroundColor);
  }
}

.pf-c-splitter__handle {
  position: absolute;
  top: var(--pf-c-splitter__handle--Top);
  right: var(--pf-c-splitter__handle--Right);
  bottom: var(--pf-c-splitter__handle--Bottom);
  left: var(--pf-c-splitter__handle--Left);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pf-c-splitter__handle-line {
  width: var(--pf-c-splitter__handle-line--Width);
  height: var(--pf-c-splitter__handle-line--Height);
  background-color: var(--pf-c-splitter__handle-line--BackgroundColor);
}
