{{#> table-th table-th--modifier="pf-m-nowrap" table-th--attribute='scope="col"'}}
  {{#> table-text}}
    {{#> l-flex l-flex--modifier="pf-m-nowrap"}}
      <i class="pficon fas {{#if table--scrollable--th--icon}}{{table--scrollable--th--icon}}{{else}}pf-icon-blueprint{{/if}}" aria-hidden="true"></i>
      <span>
        {{#if table--scrollable--th--text}}
          {{{table--scrollable--th--text}}}
        {{else}}
          Table scrollable header
        {{/if}}
      </span>
    {{/l-flex}}
  {{/table-text}}
{{/table-th}}
