<div class="pf-c-touchspin__units{{#if touchspin-units--modifier}} {{touchspin-units--modifier}}{{/if}}"
  {{#if touchspin-units--attribute}}
    {{{touchspin-units--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
