<div class="pf-c-touchspin__main{{#if touchspin-main--modifier}} {{touchspin-main--modifier}}{{/if}}"
  {{#if touchspin-main--attribute}}
    {{{touchspin-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
