<div class="pf-c-touchspin__control{{#if touchspin-control--modifier}} {{touchspin-control--modifier}}{{/if}}"
  {{#if touchspin-control--attribute}}
    {{{touchspin-control--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
