<span class="pf-c-touchspin__icon{{#if touchspin-icon--modifier}} {{touchspin-icon--modifier}}{{/if}}"
  {{#if touchspin-icon--attribute}}
    {{{touchspin-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
