<div class="pf-c-touchspin__unit{{#if touchspin-unit--modifier}} {{touchspin-unit--modifier}}{{/if}}"
  {{#if touchspin-unit--attribute}}
    {{{touchspin-unit--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
