.pf-c-touchspin {
  // unit
  --pf-c-touchspin__unit--c-input-group--MarginLeft: var(--pf-global--spacer--sm);

  // icon
  --pf-c-touchspin__icon--FontSize: var(--pf-global--FontSize--xs);

  display: inline-flex;
  align-items: center;

  .pf-c-form-control {
    display: inline-flex;
    width: auto;
    text-align: right;
  }
}

.pf-c-input-group + .pf-c-touchspin__unit,
.pf-c-touchspin__unit + .pf-c-input-group {
  margin-left: var(--pf-c-touchspin__unit--c-input-group--MarginLeft);
}

.pf-c-touchspin__icon {
  font-size: var(--pf-c-touchspin__icon--FontSize);
}
