<div class="{{pfv}}code-block__actions{{#if code-block-actions--modifier}} {{code-block-actions--modifier}}{{/if}}"
  {{#if code-block-actions--attribute}}
    {{{code-block-actions--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
