<div class="{{pfv}}code-block__actions-item{{#if code-block-actions-item--modifier}} {{code-block-actions-item--modifier}}{{/if}}"
  {{#if code-block-actions-item--attribute}}
    {{{code-block-actions-item--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
