@use '../../sass-utilities' as *;

:where(:root, .#{$code-block}) {
  --#{$code-block}--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$code-block}--BorderRadius: var(--pf-t--global--border--radius--medium);
  --#{$code-block}__header--BorderBottomWidth: var(--pf-t--global--border--width--divider--default);
  --#{$code-block}__header--BorderBottomColor: var(--pf-t--global--border--color--default);
  --#{$code-block}__header--PaddingTop: var(--pf-t--global--spacer--xs);
  --#{$code-block}__header--PaddingBottom: var(--pf-t--global--spacer--xs);
  --#{$code-block}__header--PaddingRight: var(--pf-t--global--spacer--sm);
  --#{$code-block}__header--PaddingLeft: var(--pf-t--global--spacer--sm);
  --#{$code-block}__content--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$code-block}__content--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$code-block}__content--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$code-block}__content--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$code-block}__pre--FontFamily: var(--pf-t--global--font--family--mono);
  --#{$code-block}__pre--FontSize: var(--pf-t--global--font--size--xs);
}

.#{$code-block} {
  background-color: var(--#{$code-block}--BackgroundColor);
  border-radius: var(--#{$code-block}--BorderRadius);
}

.#{$code-block}__header {
  display: flex;
  padding-block-start: var(--#{$code-block}__header--PaddingTop);
  padding-block-end: var(--#{$code-block}__header--PaddingBottom);
  padding-inline-start: var(--#{$code-block}__header--PaddingLeft);
  padding-inline-end: var(--#{$code-block}__header--PaddingRight);
  border-block-end: var(--#{$code-block}__header--BorderBottomWidth) solid var(--#{$code-block}__header--BorderBottomColor);
}

.#{$code-block}__actions {
  display: flex;
  margin-inline-start: auto;
}

.#{$code-block}__content {
  padding-block-start: var(--#{$code-block}__content--PaddingTop);
  padding-block-end: var(--#{$code-block}__content--PaddingBottom);
  padding-inline-start: var(--#{$code-block}__content--PaddingLeft);
  padding-inline-end: var(--#{$code-block}__content--PaddingRight);
}

.#{$code-block}__pre {
  font-family: var(--#{$code-block}__pre--FontFamily);
  font-size: var(--#{$code-block}__pre--FontSize);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.#{$code-block}__code {
  font-family: var(--#{$code-block}__code--FontFamily, inherit);
}
