<div class="{{pfv}}code-block__content{{#if code-block-content--modifier}} {{code-block-content--modifier}}{{/if}}"
  {{#if code-block-content--attribute}}
    {{{code-block-content--attribute}}}
  {{/if}}>
{{>@partial-block}}
</div>
