<div class="{{pfv}}code-block__header{{#if code-block-header--modifier}} {{code-block-header--modifier}}{{/if}}"
  {{#if code-block-header--attribute}}
    {{{code-block-header--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
