<div class="pf-c-context-selector pf-is-expanded">
    <button class="pf-c-context-selector__toggle" aria-expanded="true">
        app-project
        <span class="fas fa-angle-down pf-c-context-selector_icon"></span>
    </button>
    <ul class="pf-c-context-selector__items" aria-hidden="false">
        <li class="pf-c-context-selector__item">
            <a href="#" class="pf-c-context-selector_link">List Item 1</a>
        </li>
        <li class="pf-c-context-selector__item">
            <a href="#" class="pf-c-context-selector_link">List Item 1</a>
        </li>
        <li class="pf-c-context-selector__item">
            <a href="#" class="pf-c-context-selector_link pf-is-active" aria-selected="true">List Item 1</a>
        </li>
        <li class="pf-c-context-selector__item">
            <a href="#" class="pf-c-context-selector_link">List Item 1</a>
        </li>
        <li class="pf-c-context-selector__item">
            <a href="#" class="pf-c-context-selector_link">List Item 1</a>
        </li>
        <li class="pf-c-context-selector__item">
            <a href="#" class="pf-c-context-selector_link">List Item 1</a>
        </li>
    </ul>
</div>
