<button class="pf-c-context-selector__menu-menu-item{{#if context-selector-menu-menu-item--modifier}} {{context-selector-menu-menu-item--modifier}}{{/if}}"
  {{#if context-selector-menu-menu-item--attribute}}
    {{{context-selector-menu-menu-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
