<div class="{{pfv}}context-selector__menu-footer{{#if context-selector-menu-footer--modifier}} {{context-selector-menu-footer--modifier}}{{/if}}"
  {{#if context-selector-menu-footer--attribute}}
    {{{context-selector-menu-footer--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
