<div class="pf-c-context-selector__menu-input{{#if context-selector-menu-input--modifier}} {{context-selector-menu-input--modifier}}{{/if}}"
  {{#if context-selector-menu-input--attribute}}
    {{{context-selector-menu-input--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
