<div class="pf-c-context-selector__menu{{#if context-selector-menu--modifier}} {{context-selector-menu--modifier}}{{/if}}"
  {{#if context-selector-menu--attribute}}
    {{{context-selector-menu--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
