@use '../../sass-utilities' as *;

.#{$context-selector} {
  // Context selector
  --#{$context-selector}--Width: #{pf-size-prem(250px)};

  // Toggle
  --#{$context-selector}__toggle--PaddingBlockStart: var(--#{$pf-global}--spacer--form-element);
  --#{$context-selector}__toggle--PaddingInlineEnd: var(--#{$pf-global}--spacer--sm);
  --#{$context-selector}__toggle--PaddingBlockEnd: var(--#{$pf-global}--spacer--form-element);
  --#{$context-selector}__toggle--PaddingInlineStart: var(--#{$pf-global}--spacer--sm);
  --#{$context-selector}__toggle--ColumnGap: var(--#{$pf-global}--spacer--sm);
  --#{$context-selector}__toggle--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$context-selector}__toggle--BorderBlockStartColor: var(--#{$pf-global}--BorderColor--300);
  --#{$context-selector}__toggle--BorderInlineEndColor: var(--#{$pf-global}--BorderColor--300);
  --#{$context-selector}__toggle--BorderBlockEndColor: var(--#{$pf-global}--BorderColor--200);
  --#{$context-selector}__toggle--BorderInlineStartColor: var(--#{$pf-global}--BorderColor--300);
  --#{$context-selector}__toggle--Color: var(--#{$pf-global}--Color--100);
  --#{$context-selector}__toggle--hover--BorderBlockEndWidth: var(--#{$context-selector}__toggle--BorderWidth);
  --#{$context-selector}__toggle--hover--BorderBlockEndColor: var(--#{$pf-global}--active-color--100);
  --#{$context-selector}__toggle--active--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--md);
  --#{$context-selector}__toggle--active--BorderBlockEndColor: var(--#{$pf-global}--active-color--100);
  --#{$context-selector}__toggle--expanded--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--md);
  --#{$context-selector}__toggle--expanded--BorderBlockEndColor: var(--#{$pf-global}--active-color--100);
  --#{$context-selector}__toggle--BackgroundColor: transparent;
  --#{$context-selector}__toggle--m-plain--Color: var(--#{$pf-global}--Color--200);
  --#{$context-selector}__toggle--m-plain--hover--Color: var(--#{$pf-global}--Color--100);
  --#{$context-selector}__toggle--m-plain--disabled--Color: var(--#{$pf-global}--disabled-color--200);
  --#{$context-selector}__toggle--m-plain--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__toggle--m-plain--PaddingInlineStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__toggle--m-plain--m-text--PaddingInlineEnd: var(--#{$pf-global}--spacer--sm);
  --#{$context-selector}__toggle--m-plain--m-text--PaddingInlineStart: var(--#{$pf-global}--spacer--sm);

  // Toggle text
  --#{$context-selector}__toggle-text--FontSize: var(--#{$pf-global}--FontSize--md);
  --#{$context-selector}__toggle-text--FontWeight: var(--#{$pf-global}--FontWeight--normal);
  --#{$context-selector}__toggle-text--LineHeight: var(--#{$pf-global}--LineHeight--md);

  // Toggle icon arrow
  --#{$context-selector}__toggle-icon--PaddingInlineEnd: var(--#{$pf-global}--spacer--sm);
  --#{$context-selector}__toggle-icon--PaddingInlineStart: var(--#{$pf-global}--spacer--sm);
  --#{$context-selector}--m-plain__toggle-icon--Color: var(--#{$pf-global}--Color--200);
  --#{$context-selector}--m-plain--hover__toggle-icon--Color: var(--#{$pf-global}--Color--100);

  // Menu
  --#{$context-selector}__menu--BlockStart: calc(100% + var(--#{$pf-global}--spacer--xs));
  --#{$context-selector}__menu--ZIndex: var(--pf-t--global--z-index--sm);
  --#{$context-selector}__menu--PaddingBlockStart: var(--#{$pf-global}--spacer--sm); // remove at breaking change
  --#{$context-selector}__menu--BackgroundColor: var(--#{$pf-global}--BackgroundColor--light-100);
  --#{$context-selector}__menu--BoxShadow: var(--#{$pf-global}--BoxShadow--md);

  // Menu input
  --#{$context-selector}__menu-search--PaddingBlockStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__menu-search--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__menu-search--PaddingBlockEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__menu-search--PaddingInlineStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__menu-search--BorderBlockEndColor: var(--#{$pf-global}--BorderColor--100);
  --#{$context-selector}__menu-search--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--sm);

  // Menu footer
  --#{$context-selector}__menu-footer--BoxShadow: var(--#{$pf-global}--BoxShadow--sm-top);
  --#{$context-selector}__menu-footer--PaddingBlockStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__menu-footer--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__menu-footer--PaddingBlockEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}__menu-footer--PaddingInlineStart: var(--#{$pf-global}--spacer--md);

  // Menu list
  --#{$context-selector}__menu-list--MaxHeight: #{pf-size-prem(200px)};
  --#{$context-selector}__menu-list--PaddingBlockStart: var(--#{$context-selector}__menu--PaddingBlockStart); // reference spacer directly at breaking change
  --#{$context-selector}__menu-list--PaddingBlockEnd: var(--#{$pf-global}--spacer--sm);

  // Menu item
  --#{$context-selector}__menu-list-item--Color: var(--#{$pf-global}--Color--dark-100);
  --#{$context-selector}__menu-list-item--PaddingBlockStart: var(--#{$pf-global}--spacer--sm);
  --#{$context-selector}__menu-list-item--PaddingInlineEnd: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}__menu-list-item--PaddingBlockEnd: var(--#{$pf-global}--spacer--sm);
  --#{$context-selector}__menu-list-item--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}__menu-list-item--BackgroundColor: transparent;
  --#{$context-selector}__menu-list-item--hover--BackgroundColor: var(--#{$pf-global}--BackgroundColor--light-300);
  --#{$context-selector}__menu-list-item--disabled--Color: var(--#{$pf-global}--Color--dark-200);

  // Menu item icon
  --#{$context-selector}__menu-item-icon--Color: var(--#{$pf-global}--active-color--100);
  --#{$context-selector}__menu-item-icon--FontSize: var(--#{$pf-global}--icon--FontSize--sm);
  --#{$context-selector}__menu-item-icon--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);

  // Full height
  --#{$context-selector}--m-full-height__toggle--PaddingInlineEnd: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-full-height__toggle--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-full-height__toggle--before--BorderBlockStartWidth: 0;
  --#{$context-selector}--m-full-height__toggle--hover--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--xl);
  --#{$context-selector}--m-full-height__toggle--active--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--xl);
  --#{$context-selector}--m-full-height__toggle--expanded--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--xl);

  // Large
  --#{$context-selector}--m-large__toggle--PaddingBlockStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-large__toggle--PaddingBlockEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-large__toggle--hover--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--xl);
  --#{$context-selector}--m-large__toggle--active--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--xl);
  --#{$context-selector}--m-large__toggle--expanded--BorderBlockEndWidth: var(--#{$pf-global}--BorderWidth--xl);

  // Page insets
  --#{$context-selector}--m-page-insets__toggle--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__toggle--PaddingInlineStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__toggle--xl--PaddingInlineEnd: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__toggle--xl--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__menu-list-item--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__menu-list-item--PaddingInlineStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__menu-list-item--xl--PaddingInlineEnd: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__menu-list-item--xl--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__menu-search--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__menu-search--PaddingInlineStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__menu-search--xl--PaddingInlineEnd: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__menu-search--xl--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__menu-footer--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__menu-footer--PaddingInlineStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__menu-footer--xl--PaddingInlineEnd: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__menu-footer--xl--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__toggle--m-plain--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__toggle--m-plain--PaddingInlineStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__toggle--m-plain--xl--PaddingInlineEnd: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__toggle--m-plain--xl--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__toggle--m-plain--m-text--PaddingInlineEnd: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__toggle--m-plain--m-text--PaddingInlineStart: var(--#{$pf-global}--spacer--md);
  --#{$context-selector}--m-page-insets__toggle--m-plain--m-text--xl--PaddingInlineEnd: var(--#{$pf-global}--spacer--lg);
  --#{$context-selector}--m-page-insets__toggle--m-plain--m-text--xl--PaddingInlineStart: var(--#{$pf-global}--spacer--lg);

  @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
    --#{$context-selector}--m-page-insets__toggle--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__toggle--xl--PaddingInlineEnd);
    --#{$context-selector}--m-page-insets__toggle--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__toggle--xl--PaddingInlineStart);
    --#{$context-selector}--m-page-insets__menu-list-item--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__menu-list-item--xl--PaddingInlineEnd);
    --#{$context-selector}--m-page-insets__menu-list-item--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__menu-list-item--xl--PaddingInlineStart);
    --#{$context-selector}--m-page-insets__menu-search--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__menu-search--xl--PaddingInlineEnd);
    --#{$context-selector}--m-page-insets__menu-search--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__menu-search--xl--PaddingInlineStart);
    --#{$context-selector}--m-page-insets__menu-footer--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__menu-footer--xl--PaddingInlineEnd);
    --#{$context-selector}--m-page-insets__menu-footer--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__menu-footer--xl--PaddingInlineStart);
    --#{$context-selector}--m-page-insets__toggle--m-plain--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__toggle--m-plain--xl--PaddingInlineEnd);
    --#{$context-selector}--m-page-insets__toggle--m-plain--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__toggle--m-plain--xl--PaddingInlineStart);
    --#{$context-selector}--m-page-insets__toggle--m-plain--m-text--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__toggle--m-plain--m-text--xl--PaddingInlineEnd);
    --#{$context-selector}--m-page-insets__toggle--m-plain--m-text--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__toggle--m-plain--m-text--xl--PaddingInlineStart);
  }

  position: relative;
  display: inline-block;
  width: var(--#{$context-selector}--Width);
  max-width: 100%;

  &.pf-m-full-height {
    --#{$context-selector}__toggle--active--BorderBlockEndWidth: var(--#{$context-selector}--m-full-height__toggle--active--BorderBlockEndWidth);
    --#{$context-selector}__toggle--expanded--BorderBlockEndWidth: var(--#{$context-selector}--m-full-height__toggle--expanded--BorderBlockEndWidth);
    --#{$context-selector}__toggle--PaddingInlineEnd: var(--#{$context-selector}--m-full-height__toggle--PaddingInlineEnd);
    --#{$context-selector}__toggle--PaddingInlineStart: var(--#{$context-selector}--m-full-height__toggle--PaddingInlineStart);

    display: inline-flex;
    align-items: center;
    height: 100%;

    .#{$context-selector}__toggle {
      align-self: stretch;

      &::before {
        border-block-start-width: var(--#{$context-selector}--m-full-height__toggle--before--BorderBlockStartWidth);
      }
    }

    &:hover {
      .#{$context-selector}__toggle::before {
        border-block-end-width: var(--#{$context-selector}--m-full-height__toggle--hover--BorderBlockEndWidth);
      }
    }
  }

  &.pf-m-large {
    --#{$context-selector}__toggle--PaddingBlockStart: var(--#{$context-selector}--m-large__toggle--PaddingBlockStart);
    --#{$context-selector}__toggle--PaddingBlockEnd: var(--#{$context-selector}--m-large__toggle--PaddingBlockEnd);
    --#{$context-selector}__toggle--hover--BorderBlockEndWidth: var(--#{$context-selector}--m-large__toggle--hover--BorderBlockEndWidth);
    --#{$context-selector}__toggle--active--BorderBlockEndWidth: var(--#{$context-selector}--m-large__toggle--active--BorderBlockEndWidth);
    --#{$context-selector}__toggle--expanded--BorderBlockEndWidth: var(--#{$context-selector}--m-large__toggle--expanded--BorderBlockEndWidth);
  }

  &.pf-m-page-insets {
    --#{$context-selector}__toggle--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__toggle--PaddingInlineEnd);
    --#{$context-selector}__toggle--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__toggle--PaddingInlineStart);
    --#{$context-selector}__menu-list-item--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__menu-list-item--PaddingInlineEnd);
    --#{$context-selector}__menu-list-item--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__menu-list-item--PaddingInlineStart);
    --#{$context-selector}__menu-search--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__menu-search--PaddingInlineEnd);
    --#{$context-selector}__menu-search--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__menu-search--PaddingInlineStart);
    --#{$context-selector}__menu-footer--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__menu-footer--PaddingInlineEnd);
    --#{$context-selector}__menu-footer--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__menu-footer--PaddingInlineStart);
    --#{$context-selector}__toggle--m-plain--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__toggle--m-plain--PaddingInlineEnd);
    --#{$context-selector}__toggle--m-plain--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__toggle--m-plain--PaddingInlineStart);
    --#{$context-selector}__toggle--m-plain--m-text--PaddingInlineEnd: var(--#{$context-selector}--m-page-insets__toggle--m-plain--m-text--PaddingInlineEnd);
    --#{$context-selector}__toggle--m-plain--m-text--PaddingInlineStart: var(--#{$context-selector}--m-page-insets__toggle--m-plain--m-text--PaddingInlineStart);
  }
}

.#{$context-selector}__toggle {
  position: relative;
  display: flex;
  column-gap: var(--#{$context-selector}__toggle--ColumnGap);
  align-items: center;
  width: 100%;
  padding-block-start: var(--#{$context-selector}__toggle--PaddingBlockStart);
  padding-block-end: var(--#{$context-selector}__toggle--PaddingBlockEnd);
  padding-inline-start: var(--#{$context-selector}__toggle--PaddingInlineStart);
  padding-inline-end: var(--#{$context-selector}__toggle--PaddingInlineEnd);
  color: var(--#{$context-selector}__toggle--Color);
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--#{$context-selector}__toggle--BackgroundColor);
  border: none;

  &::before {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    content: "";
    border: var(--#{$context-selector}__toggle--BorderWidth) solid;
    border-block-start-color: var(--#{$context-selector}__toggle--BorderBlockStartColor);
    border-block-end-color: var(--#{$context-selector}__toggle--BorderBlockEndColor);
    border-inline-start-color: var(--#{$context-selector}__toggle--BorderInlineStartColor);
    border-inline-end-color: var(--#{$context-selector}__toggle--BorderInlineEndColor);
  }

  &:hover {
    &::before {
      --#{$context-selector}__toggle--BorderBlockEndColor: var(--#{$context-selector}__toggle--hover--BorderBlockEndColor);

      border-block-end-width: var(--#{$context-selector}__toggle--hover--BorderBlockEndWidth);
    }
  }

  &:active,
  &.pf-m-active,
  &:focus-within {
    &::before {
      --#{$context-selector}__toggle--BorderBlockEndColor: var(--#{$context-selector}__toggle--active--BorderBlockEndColor);

      border-block-end-width: var(--#{$context-selector}__toggle--active--BorderBlockEndWidth);
    }
  }

  .pf-m-expanded > & {
    &::before {
      --#{$context-selector}__toggle--BorderBlockEndColor: var(--#{$context-selector}__toggle--expanded--BorderBlockEndColor);

      border-block-end-width: var(--#{$context-selector}__toggle--expanded--BorderBlockEndWidth);
    }
  }

  &.pf-m-plain {
    --#{$context-selector}__toggle--PaddingInlineEnd: var(--#{$context-selector}__toggle--m-plain--PaddingInlineEnd);
    --#{$context-selector}__toggle--PaddingInlineStart: var(--#{$context-selector}__toggle--m-plain--PaddingInlineStart);
    --#{$context-selector}__toggle-icon--Color: var(--#{$context-selector}--m-plain__toggle-icon--Color);

    &.pf-m-text {
      --#{$context-selector}__toggle--PaddingInlineEnd: var(--#{$context-selector}__toggle--m-plain--m-text--PaddingInlineEnd);
      --#{$context-selector}__toggle--PaddingInlineStart: var(--#{$context-selector}__toggle--m-plain--m-text--PaddingInlineStart);
    }

    &:not(.pf-m-text) {
      display: inline-block;
      width: auto;
      color: var(--#{$context-selector}__toggle--m-plain--Color);
    }

    &.pf-m-disabled,
    &:disabled {
      --#{$context-selector}__toggle--m-plain--Color: var(--#{$context-selector}__toggle--m-plain--disabled--Color);
    }

    &:hover,
    &:active,
    &.pf-m-active,
    &:focus,
    .#{$context-selector}.pf-m-expanded > & {
      --#{$context-selector}__toggle--m-plain--Color: var(--#{$context-selector}__toggle--m-plain--hover--Color);
      --#{$context-selector}--m-plain__toggle-icon--Color: var(--#{$context-selector}--m-plain--hover__toggle-icon--Color);
    }

    &::before {
      border: 0;
    }
  }

  .#{$context-selector}__toggle-text {
    @include pf-v6-text-overflow;

    flex: 1 1 auto;
    font-size: var(--#{$context-selector}__toggle-text--FontSize);
    font-weight: var(--#{$context-selector}__toggle-text--FontWeight);
    line-height: var(--#{$context-selector}__toggle-text--LineHeight);
    text-align: start;
  }
}

.#{$context-selector}__toggle-icon {
  padding-inline-start: var(--#{$context-selector}__toggle-icon--PaddingInlineStart);
  padding-inline-end: var(--#{$context-selector}__toggle-icon--PaddingInlineEnd);
  color: var(--#{$context-selector}__toggle-icon--Color, inherit);
}

.#{$context-selector}__menu {
  position: absolute;
  inset-block-start: var(--#{$context-selector}__menu--BlockStart);
  z-index: var(--#{$context-selector}__menu--ZIndex);
  min-width: 100%;
  background-color: var(--#{$context-selector}__menu--BackgroundColor);
  background-clip: padding-box;
  box-shadow: var(--#{$context-selector}__menu--BoxShadow);

  &.pf-m-static {
    position: static;
    inset-block-start: auto;
    inset-block-end: auto;
    inset-inline-start: auto;
    inset-inline-end: auto;
    z-index: auto;
    min-width: min-content;
  }
}

.#{$context-selector}__menu-search {
  position: relative;
  padding-block-start: var(--#{$context-selector}__menu-search--PaddingBlockStart);
  padding-block-end: var(--#{$context-selector}__menu-search--PaddingBlockEnd);
  padding-inline-start: var(--#{$context-selector}__menu-search--PaddingInlineStart);
  padding-inline-end: var(--#{$context-selector}__menu-search--PaddingInlineEnd);
  border-block-end: var(--#{$context-selector}__menu-search--BorderBlockEndWidth) solid var(--#{$context-selector}__menu-search--BorderBlockEndColor);
}

.#{$context-selector}__menu-footer {
  padding-block-start: var(--#{$context-selector}__menu-footer--PaddingBlockStart);
  padding-block-end: var(--#{$context-selector}__menu-footer--PaddingBlockEnd);
  padding-inline-start: var(--#{$context-selector}__menu-footer--PaddingInlineStart);
  padding-inline-end: var(--#{$context-selector}__menu-footer--PaddingInlineEnd);
  box-shadow: var(--#{$context-selector}__menu-footer--BoxShadow);
}

.#{$context-selector}__menu-list {
  max-height: var(--#{$context-selector}__menu-list--MaxHeight);
  padding-block-start: var(--#{$context-selector}__menu-list--PaddingBlockStart);
  padding-block-end: var(--#{$context-selector}__menu-list--PaddingBlockEnd);
  overflow-y: auto;
}

.#{$context-selector}__menu-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding-block-start: var(--#{$context-selector}__menu-list-item--PaddingBlockStart);
  padding-block-end: var(--#{$context-selector}__menu-list-item--PaddingBlockEnd);
  padding-inline-start: var(--#{$context-selector}__menu-list-item--PaddingInlineStart);
  padding-inline-end: var(--#{$context-selector}__menu-list-item--PaddingInlineEnd);
  color: var(--#{$context-selector}__menu-list-item--Color);
  white-space: nowrap;
  background-color: var(--#{$context-selector}__menu-list-item--BackgroundColor);
  border: none;

  &:hover,
  &:focus {
    --#{$context-selector}__menu-list-item--BackgroundColor: var(--#{$context-selector}__menu-list-item--hover--BackgroundColor);

    text-decoration: none;
  }

  &.pf-m-disabled,
  &:disabled {
    --#{$context-selector}__menu-list-item--Color: var(--#{$context-selector}__menu-list-item--disabled--Color);

    pointer-events: none;
  }
}
