<button class="{{pfv}}context-selector__toggle{{#if context-selector-toggle--IsText}} pf-m-text{{/if}}{{#if context-selector-toggle--IsPlain}} pf-m-plain{{/if}}{{#if context-selector-toggle--modifier}} {{context-selector-toggle--modifier}}{{/if}}"
  {{#if context-selector--IsExpanded}}
    aria-expanded="true"
  {{else}}
    aria-expanded="false"
  {{/if}}
  {{#if context-selector-toggle--attribute}}
    {{{context-selector-toggle--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
