@import "../../patternfly-utilities";

// Component variables follow this formula:
// --pf-c-context-selector__element--modifier--state--PropertyCamelCase

// The value of component scoped variables is always defined by a global variable:
:root {
  // Example block variable
  --pf-c-context-selector--Color: var(--pf-global--light-color, #fff);
  --pf-c-context-selector__items--BackgroundColor: var(--pf-global--light-color, #fff);

  // Example element variable
  --pf-c-context-selector_title--FontSize: var(--pf-global--secondary-title--FontSize, 24px);

  // Example modifier variable
  --pf-c-context-selector--is-danger--BackgroundColor: var(--pf-global--danger-color, #c00);

  // Padding
  --pf-c-context-selector__toggle--PaddingTop: var(--pf-global--spacer--md, 32px);
  --pf-c-context-selector__toggle--PaddingBottom: var(--pf-global--spacer--md, 32px);
  --pf-c-context-selector__toggle--PaddingLeft: var(--pf-global--spacer--xxs, 8px);

  // Colors
  --pf-c-context-selector__items--BorderColor: var(--pf-global--active--Color, #0088ce);

  // Link
  --pf-c-context-selector_link--PaddingRight: var(--pf-global--spacer--xs, 16px);
  --pf-c-context-selector_link--PaddingLeft: var(--pf-global--spacer--xs, 16px);
  --pf-c-context-selector_link--PaddingTop: var(--pf-global--spacer--xxs, 8px);
  --pf-c-context-selector_link--PaddingBottom: var(--pf-global--spacer--xxs, 8px);
  --pf-c-context-selector_link--Color: var(--pf-global--dark-color, #292e34);
}

.pf-c-context-selector {
  position: relative;
  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: var(--pf-c-context-selector__toggle--PaddingTop);
    padding-bottom: var(--pf-c-context-selector__toggle--PaddingBottom);
    padding-left: var(--pf-c-context-selector__toggle--PaddingLeft);
    color: var(--pf-c-context-selector--Color);
    background-color: transparent;
    border: none;
  }
  &__items {
    position: absolute;
    top: 100%;
    z-index: 5;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: var(--pf-c-context-selector__items--BackgroundColor);
    border-top: 4px solid var(--pf-c-context-selector__items--BorderColor);
  }
  &_link {
    display: block;
    padding-top: var(--pf-c-context-selector_link--PaddingTop);
    padding-right: var(--pf-c-context-selector_link--PaddingRight);
    padding-bottom: var(--pf-c-context-selector_link--PaddingBottom);
    padding-left: var(--pf-c-context-selector_link--PaddingLeft);
    color: var(--pf-c-context-selector_link--Color);
    &:hover {
      color: currentColor;
      text-decoration: none;
    }
  }
}

