@import "../../patternfly-utilities";
.pf-l-alignment {
  padding: 0;
  margin: 0;

  &.pf-m-left {
    text-align: left;
  }
  &.pf-m-center {
    text-align: center;
  }

  &.pf-m-right {
    text-align: right;
  }

}
