{{#> card-head}}
  <img src="/assets/images/camel-dropbox_200x150.png" width="60px" alt="Logo">
  {{#> card-actions}}
    {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
    {{/dropdown}}
    <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
  {{/card-actions}}
{{/card-head}}
{{#> card-header}}
  <p id="{{card--id}}-check-label">DropBox</p>
  {{#> content}}
    <small class="pf-u-mb-0">Provided by Red Hat</small>
  {{/content}}
{{/card-header}}
{{#> card-body}}
  The dropbox: component allows you to treat Dropbox remote folders as a producer or consumer of messages.
{{/card-body}}
