{{#> card-header}}
    {{#> l-flex flex--modifier="pf-m-align-right"}}
    {{#> l-flex flex--modifier="pf-m-grow"}}
    {{#> brand brand--attribute='src="/assets/images/pf-logo-blue.png" alt="Logo"'}} 
    {{/brand}}
{{/l-flex}}
    {{#> dropdown id="dropdown-example-kebab" dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
    {{/dropdown}}
    {{#> check}} 
    {{#> check-input check-input--attribute=(concat 'id="' card--id '-check" name="' card--id '-check-example"')}}{{/check-input}}
    {{#> check-label check-label--attribute=(concat 'for="' card--id '-check"')}}{{/check-label}}
    {{/check}}
{{/l-flex}}
{{/card-header}}
{{#> card-body}}
{{#> content content--modifier="pf-m-no-margin"}}
    <h4>Patternfly</h4>
{{/content}}
{{#> content}}
    <small>Provided by Red Hat</small>
{{/content}}
{{#> content content--modifier="pf-m-no-margin"}}
    <small>
    PatternFly is a community project that promotes design commonality and improves user experience.
    </small>
{{/content}}
{{/card-body}}
