{{#> card-head}}
  <img src="/assets/images/FuseConnector_Icons_AzureServices.png" width="60px" alt="Logo">
  {{#> card-actions}}
    {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
    {{/dropdown}}
    <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
  {{/card-actions}}
{{/card-head}}
{{#> card-header}}
  <p id="{{card--id}}-check-label">Azure Services</p>
  {{#> content}}
    <small>Provided by Red Hat</small>
  {{/content}}
{{/card-header}}
{{#> card-body}}
  The Camel Components for Windows Azure Services provide connectivity to Azure services from Camel.
{{/card-body}}
