{{#> card-head}}
  <img src="/assets/images/camel-saxon_200x150.png" width="60px" alt="Logo">
  {{#> card-actions}}
    {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
    {{/dropdown}}
    <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
  {{/card-actions}}
{{/card-head}}
{{#> card-header}}
  <p id="{{card--id}}-check-label">Crypto</p>
  {{#> content}}
    <small>Provided by Red Hat</small>
  {{/content}}
{{/card-header}}
{{#> card-body}}
For providing flexible endpoints to sign and verify exchanges using the Signature Service of the Java Cryptographic Extension.
{{/card-body}}