{{#> card-head}}
  <img src="/assets/images/pf-logo-small.svg" alt="Logo">
  {{#> card-actions}}
    {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
    {{/dropdown}}
    <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
  {{/card-actions}}
{{/card-head}}
{{#> card-header}}
  <p id="{{card--id}}-check-label">Patternfly</p>
  {{#> content}}
    <small>Provided by Red Hat</small>
  {{/content}}
{{/card-header}}
{{#> card-body}}
    PatternFly is a community project that promotes design commonality and improves user experience.
{{/card-body}}
