{{#> card-header card-header--modifier="pf-l-flex pf-m-space-items-none pf-m-align-center"}}
  <img class="pf-m-align-left" src="/assets/images/camel-saxon_200x150.png" width="60px" alt="Logo">
  {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
  {{/dropdown}}
  <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
{{/card-header}}
{{#> card-body}}
  {{#> l-flex flex--modifier="pf-m-column"}}
    {{#> title title--modifier="pf-m-lg" title--attribute=(concat 'id="' card--id '-check-label"')}}Crypto{{/title}}
    {{#> content}}
      <small>Provided by Red Hat</small>
      <p style="font-size:14px">For providing flexible endpoints to sign and verify exchanges using the Signature Service of the Java Cryptographic Extension.</p>
    {{/content}}
  {{/l-flex}}
{{/card-body}}
