<div class="{{pfv}}pagination__page-menu{{#if pagination-page-menu--modifier}} {{pagination-page-menu--modifier}}{{/if}}"
  {{#if pagination-page-menu--attribute}}
    {{{pagination-page-menu--attribute}}}
  {{/if}}>
  {{#> menu-toggle
    menu-toggle--IsPlain=true
    menu-toggle--IsText=true
    menu-toggle--IsDisabled=pagination-menu-toggle--IsDisabled
    menu-toggle--modifier=pagination-menu-toggle--modifier menu-toggle--id=pagination-menu-toggle--id}}
    {{#> menu-toggle-text}}
      <b>1 - 10</b>&nbsp;of&nbsp;<b>{{#if pagination--IsIndeterminate}}many{{else}}36{{/if}}</b>
    {{/menu-toggle-text}}
    {{#> menu-toggle-controls}}
      {{> menu-toggle-toggle-icon}}
    {{/menu-toggle-controls}}
  {{/menu-toggle}}
</div>
