<div class="pf-c-pagination__range{{#if pagination-range--modifier}} {{pagination-range--modifier}}{{/if}}"
  {{#if pagination-range--attribute}}
    {{{pagination-range--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
