<div class="pf-c-pagination__items{{#if pagination-items--modifier}} {{pagination-items--modifier}}{{/if}}"
  {{#if pagination-items--attribute}}
    {{{pagination-items--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
