<button class="pf-c-pagination__nav-button{{#if pagination-nav-button--modifier}} {{pagination-nav-button--modifier}}{{/if}}"
  {{#if pagination-nav-button--attribute}}
    {{{pagination-nav-button--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>