<div class="pf-c-pagination__current{{#if pagination-current--modifier}} {{pagination-current--modifier}}{{/if}}"
  {{#if pagination-current--attribute}}
    {{{pagination-current--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
