// @debug $pagination; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss
$pf-v6-c-pagination--breakpoint-map: build-breakpoint-map();
$pf-v6-c-pagination--variable-map: build-spacer-map("none", "sm", "md", "lg", "xl", "2xl");

:where(:root),
:where(.#{$pagination}) {
  --#{$pagination}--inset: 0;
  --#{$pagination}--ColumnGap: var(--pf-t--global--spacer--lg);

  // Page insets
  --#{$pagination}--m-page-insets--inset: var(--pf-t--global--spacer--lg);

  // nav
  --#{$pagination}__nav--Display: none;
  --#{$pagination}--m-display-summary__nav--Display: none;
  --#{$pagination}--m-display-full__nav--Display: inline-flex;
  --#{$pagination}__nav--ColumnGap: var(--pf-t--global--spacer--sm);

  // nav page select
  --#{$pagination}__nav-page-select--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$pagination}__nav-page-select--ColumnGap: var(--pf-t--global--spacer--sm);
  --#{$pagination}__nav-page-select--c-form-control--width-base: calc((var(--#{$form-control}--PaddingRight) + var(--#{$form-control}--PaddingLeft)) + (var(--#{$form-control}--before--BorderWidth) * 2));
  --#{$pagination}__nav-page-select--c-form-control--width-chars: 2;
  --#{$pagination}__nav-page-select--c-form-control--Width: calc(var(--#{$pagination}__nav-page-select--c-form-control--width-base) + (var(--#{$pagination}__nav-page-select--c-form-control--width-chars) * 1ch));

  // total items
  --#{$pagination}__total-items--Display: block;
  --#{$pagination}--m-display-summary__total-items--Display: block;
  --#{$pagination}--m-display-full__total-items--Display: none;

  // top
  --#{$pagination}--m-sticky--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$pagination}--m-sticky--BoxShadow: var(--pf-t--global--box-shadow--sm--bottom);
  --#{$pagination}--m-sticky--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$pagination}--m-sticky--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$pagination}--m-sticky--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$pagination}--m-sticky--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$pagination}--m-sticky--ZIndex: 100; // TODO: replace with z-index token
  --#{$pagination}--m-sticky--Top: 0;

  // bottom
  --#{$pagination}--m-bottom--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$pagination}--m-bottom--BoxShadow: var(--pf-t--global--box-shadow--sm--top);
  --#{$pagination}--m-bottom--Bottom: 0;
  --#{$pagination}--m-bottom--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$pagination}--m-bottom--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$pagination}--m-bottom--m-sticky--BoxShadow: var(--pf-t--global--box-shadow--sm--top);

  // options menu
  --#{$pagination}__page-menu--Display: none;
  --#{$pagination}--m-display-summary__page-menu--Display: none;
  --#{$pagination}--m-display-full__page-menu--Display: inline-flex;

  @media screen and (min-width: $pf-v6-global--breakpoint--md) {
    --#{$pagination}--m-bottom--BoxShadow: none;
    --#{$pagination}__page-menu--Display: inline-flex;
    --#{$pagination}__nav--Display: inline-flex;
    --#{$pagination}__total-items--Display: none;
  }

  @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
    --#{$pagination}__scroll-button--Width: var(--#{$pagination}__scroll-button--xl--Width);
  }
}

.#{$pagination} {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--#{$pagination}--ColumnGap);
  align-items: center;
  justify-content: flex-end;
  padding-inline-start: var(--#{$pagination}--inset);
  padding-inline-end: var(--#{$pagination}--inset);

  .#{$pagination}__page-menu {
    display: var(--#{$pagination}__page-menu--Display);
  }

  &.pf-m-bottom {
    --#{$pagination}--m-sticky--BoxShadow: var(--#{$pagination}--m-bottom--m-sticky--BoxShadow);
    --#{$pagination}--m-sticky--Top: auto;

    position: sticky;
    inset-block-end: var(--#{$pagination}--m-bottom--Bottom);
    justify-content: center;
    padding-inline-start: var(--#{$pagination}--m-bottom--PaddingLeft);
    padding-inline-end: var(--#{$pagination}--m-bottom--PaddingRight);
    background-color: var(--#{$pagination}--m-bottom--BackgroundColor);
    box-shadow: var(--#{$pagination}--m-bottom--BoxShadow);

    &.pf-m-static {
      --#{$pagination}--m-bottom--MarginTop: 0;
      --#{$pagination}--m-bottom--BorderTopWidth: 0;

      position: relative;
      box-shadow: none;
    }

    .#{$pagination}__nav-control.pf-m-first,
    .#{$pagination}__nav-control.pf-m-last,
    .#{$pagination}__nav-page-select {
      display: none;
    }

    .#{$pagination}__page-menu {
      position: absolute;
      display: block;
    }

    .#{$pagination}__nav {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
    }

    @media screen and (min-width: $pf-v6-global--breakpoint--md) {
      --#{$pagination}--m-bottom--BorderTopWidth: 0;
      --#{$pagination}--m-bottom--MarginTop: 0;
      --#{$pagination}--m-bottom--Bottom: auto;

      position: relative;
      justify-content: flex-end;

      .#{$pagination}__nav-control.pf-m-first,
      .#{$pagination}__nav-control.pf-m-last,
      .#{$pagination}__nav-page-select {
        display: block;
      }

      .#{$pagination}__nav-page-select {
        display: inline-flex;
      }

      .#{$pagination}__page-menu {
        position: relative;
      }

      .#{$pagination}__nav {
        display: inline-flex;
        flex-basis: auto;
      }
    }
  }

  &.pf-m-sticky {
    --#{$pagination}--m-bottom--Bottom: 0;

    position: sticky;
    inset-block-start: var(--#{$pagination}--m-sticky--Top);
    z-index: var(--#{$pagination}--m-sticky--ZIndex);
    padding-block-start: var(--#{$pagination}--m-sticky--PaddingTop);
    padding-block-end: var(--#{$pagination}--m-sticky--PaddingBottom);
    padding-inline-start: var(--#{$pagination}--m-sticky--PaddingLeft);
    padding-inline-end: var(--#{$pagination}--m-sticky--PaddingRight);
    background-color: var(--#{$pagination}--m-sticky--BackgroundColor);
    box-shadow: var(--#{$pagination}--m-sticky--BoxShadow);
  }

  &.pf-m-page-insets {
    --#{$pagination}--inset: var(--#{$pagination}--m-page-insets--inset);
  }
}


// nav
.#{$pagination}__nav {
  display: var(--#{$pagination}__nav--Display);
  column-gap: var(--#{$pagination}__nav--ColumnGap);
  justify-content: flex-end;
}

// nav control
.#{$pagination}__nav-control {
  @include pf-v6-mirror-inline-on-rtl;
}

// nav page element
.#{$pagination}__nav-page-select {
  display: flex;
  column-gap: var(--#{$pagination}__nav-page-select--ColumnGap);
  align-items: center;

  > * {
    font-size: var(--#{$pagination}__nav-page-select--FontSize);
    white-space: nowrap;
  }

  .#{$form-control} {
    width: var(--#{$pagination}__nav-page-select--c-form-control--Width);

    > :is(input) {
      @extend %pf-v6-remove-num-arrows;
    }
  }
}

// display-summary element for total-items items
.#{$pagination}__total-items {
  display: var(--#{$pagination}__total-items--Display);
}

// stylelint-disable no-duplicate-selectors
.#{$pagination} {
  @each $breakpoint, $breakpoint-value in $pf-v6-c-pagination--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-v6-apply-breakpoint($breakpoint) {
      &.pf-m-display-summary#{$breakpoint-name} {
        --#{$pagination}__nav--Display: var(--#{$pagination}--m-display-summary__nav--Display);
        --#{$pagination}__page-menu--Display: var(--#{$pagination}--m-display-summary__page-menu--Display);
        --#{$pagination}__total-items--Display: var(--#{$pagination}--m-display-summary__total-items--Display);
      }

      &.pf-m-display-full#{$breakpoint-name} {
        --#{$pagination}__nav--Display: var(--#{$pagination}--m-display-full__nav--Display);
        --#{$pagination}__page-menu--Display: var(--#{$pagination}--m-display-full__page-menu--Display);
        --#{$pagination}__total-items--Display: var(--#{$pagination}--m-display-full__total-items--Display);
      }

      @each $spacer, $spacer-value in $pf-v6-c-pagination--variable-map {
        &.pf-m-inset-#{$spacer}#{$breakpoint-name} {
          --#{$pagination}--inset: #{$spacer-value};
        }
      }
    }
  }
}
// stylelint-enable
