<div class="pf-c-pagination__nav-page{{#if pagination-nav-page--modifier}} {{pagination-nav-page--modifier}}{{/if}}"
  {{#if pagination-nav-page--attribute}}
    {{{pagination-nav-page--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>