{{#> options-menu}}
  {{#> options-menu-toggle options-menu-toggle--type="div" options-menu-toggle--modifier="pf-m-plain"}}
    <span class="pf-c-options-menu__toggle-text">
      <b>1 - 10</b> of <b>37</b>
    </span>
    {{> options-menu-toggle-button aria-label="Items per page"}}
  {{/options-menu-toggle}}
  {{#> options-menu-menu}}
    {{#> options-menu-menu-item}}
      5 <span class="pf-c-pagination__menu-text">per page</span>
    {{/options-menu-menu-item}}
    {{#> options-menu-menu-item options-menu-menu-item--IsSelected="true"}}
      10 <span class="pf-c-pagination__menu-text">per page</span>
    {{/options-menu-menu-item}}
    {{#> options-menu-menu-item}}
      20 <span class="pf-c-pagination__menu-text">per page</span>
    {{/options-menu-menu-item}}
  {{/options-menu-menu}}
{{/options-menu}}
