<div class="pf-c-pagination__select{{#if pagination-nav-select--modifier}} {{pagination-nav-select--modifier}}{{/if}}"
  {{#if pagination-nav-select--attribute}}
    {{{pagination-nav-select--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
