.#{$table} {
  --#{$table}__sticky-cell--MinWidth--base: #{pf-size-prem(200px)};
  --#{$table}__sticky-cell--MinWidth: var(--#{$table}__sticky-cell--MinWidth--base);
  --#{$table}__sticky-cell--ZIndex: var(--#{$pf-global}--ZIndex--xs);
  --#{$table}__sticky-cell--Right: auto;
  --#{$table}__sticky-cell--Left: auto;
  --#{$table}__sticky-cell--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$table}__sticky-cell--m-border-right--before--BorderRightWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$table}__sticky-cell--m-border-right--before--BorderRightColor: var(--#{$pf-global}--BorderColor--100);
  --#{$table}__sticky-cell--m-border-left--before--BorderLeftWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$table}__sticky-cell--m-border-left--before--BorderLeftColor: var(--#{$pf-global}--BorderColor--100);
  --#{$table}__sticky-cell--m-right--Right: 0;
  --#{$table}__sticky-cell--m-left--Left: 0;
  --#{$table}--m-sticky-header__sticky-cell--ZIndex: calc(var(--#{$table}__sticky-cell--ZIndex) + 1);

  .#{$table}__sticky-cell {
    --#{$table}--cell--Overflow: visible;
    --#{$table}--m-sticky-header--cell--ZIndex: var(--#{$table}--m-sticky-header__sticky-cell--ZIndex);

    position: sticky;
    inset-inline-start: var(--#{$table}__sticky-cell--Left);
    inset-inline-end: var(--#{$table}__sticky-cell--Right);
    z-index: var(--#{$table}__sticky-cell--ZIndex);
    min-width: var(--#{$table}__sticky-cell--MinWidth);
    background-color: var(--#{$table}__sticky-cell--BackgroundColor);
    background-clip: padding-box;

    &.pf-m-border-right::before {
      --#{$table}--cell--m-border-right--before--BorderRightWidth: var(--#{$table}__sticky-cell--m-border-right--before--BorderRightWidth);
      --#{$table}--cell--m-border-right--before--BorderRightColor: var(--#{$table}__sticky-cell--m-border-right--before--BorderRightColor);
    }

    &.pf-m-border-left::before {
      --#{$table}--cell--m-border-left--before--BorderLeftWidth: var(--#{$table}__sticky-cell--m-border-left--before--BorderLeftWidth);
      --#{$table}--cell--m-border-left--before--BorderLeftColor: var(--#{$table}__sticky-cell--m-border-left--before--BorderLeftColor);
    }

    &.pf-m-right, 
    &.pf-m-inline-end {
      --#{$table}__sticky-cell--Right: var(--#{$table}__sticky-cell--m-right--Right);
    }

    &.pf-m-left, 
    &.pf-m-inline-start {
      --#{$table}__sticky-cell--Left: var(--#{$table}__sticky-cell--m-left--Left);
    }

  }
}

.#{$scroll-outer-wrapper} {
  --#{$scroll-outer-wrapper}--MinHeight: #{pf-size-prem(400px)};
  --#{$scroll-outer-wrapper}--MaxHeight: 100%;

  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: var(--#{$scroll-outer-wrapper}--MinHeight);
  max-height: var(--#{$scroll-outer-wrapper}--MaxHeight);
  overflow: hidden;
}

.#{$scroll-inner-wrapper} {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
