<div class="{{pfv}}table__toggle-icon{{#if table-toggle-icon--modifier}} {{table-toggle-icon--modifier}}{{/if}}"
  {{#if table-toggle-icon--attribute}}
    {{{table-toggle-icon--attribute}}}
  {{/if}}>
  {{pfIcon "rh-microns-caret-down"}}
</div>
