<label>
  <input type="checkbox"
  {{#if table-check--name}}
    name="{{table-check--name}}"
  {{/if}}
  {{#if table-check--aria-labelledby}}
    aria-labelledby="{{table-check--aria-labelledby}}"
  {{/if}}
  {{#if table-check--aria-label}}
    aria-label="{{table-check--aria-label}}"
  {{/if}}>
</label>
