<button class="pf-c-table__button-cell{{#if table-button-cell--modifier}} {{table-button-cell--modifier}}{{/if}}"
  {{#if table-button-cell--attribute}}
    {{{table-button-cell--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
