<div class="pf-c-table__cell-content{{#if table-cell-content--modifier}} {{table-cell-content--modifier}}{{/if}}"
  {{#if table-cell-content--attribute}}
    {{{table-cell-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
