<div class="{{pfv}}table__expandable-row-content
  {{setModifiers
    table-expandable-row-content--HasNoBackground="pf-m-no-background"
    table-expandable-row-content--modifier=table-expandable-row-content--modifier
  }}"
  {{#if table-expandable-row-content--attribute}}
    {{{table-expandable-row-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
