<span class="{{pfv}}table__column-help-action{{#if table-column-help-action--modifier}} {{table-column-help-action--modifier}}{{/if}}"
  {{#if table-column-help-action--attribute}}
    {{{table-column-help-action--attribute}}}
  {{/if}}>
  {{#> button button--IsPlain=true button--HasNoPadding=true button--aria-label='aria-label="More info"'}}
    <i class="pf-v6-pficon pf-v6-pficon-help" aria-hidden="true"></i>
  {{/button}}
</span>
