<span class="{{pfv}}table__tree-view-icon{{#if table-tree-view-icon--modifier}} {{table-tree-view-icon--modifier}}{{/if}}"
  {{#if table-tree-view-icon--attribute}}
    {{{table-tree-view-icon--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
