<span class="pf-c-table__button-text{{#if table-button-text--modifier}} {{table-button-text--modifier}}{{/if}}"
  {{#if table-button-text--attribute}}
    {{{table-button-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
