<table class="pf-c-table{{#if table--modifier}} {{table--modifier}}{{/if}}"
  {{#if table--attribute}}
    {{{table--attribute}}}
  {{/if}}
  {{#if table--exandable}}
    role="treegrid"
  {{else}}
    role="grid"
  {{/if}}
  {{#if table--interactive}}
    onClick="(function(){
      let toggle = event.target;

      // if toggle is clicked, return true
      let buttonClick = toggle.classList.contains('pf-m-toggle') ? true : false;

      if (buttonClick) {
        let toggleParent = toggle.parentNode.parentNode;
        let siblingRow = toggleParent.nextElementSibling;

        // toggle expanded on button
        toggle.classList.toggle('pf-m-expanded');

        if (toggle.classList.contains('pf-m-expanded')) {
          // toggle attributes on sibling row
          siblingRow.classList.add('pf-m-expanded');

          // toggle attributes on toggle parent
          toggleParent.setAttribute('aria-expanded', 'true');
          siblingRow.setAttribute('aria-hidden', 'false');
        } else {
          // toggle attributes on sibling row
          siblingRow.classList.remove('pf-m-expanded');

          // toggle attributes on toggle parent
          toggleParent.setAttribute('aria-expanded', 'false');
          siblingRow.setAttribute('aria-hidden', 'true');
        }
      }
        return false;
    })();return false;"
  {{/if}}>
  {{> @partial-block}}
</table>
