<div class="{{pfv}}table__tree-view-main{{#if table-tree-view-main--modifier}} {{table-tree-view-main--modifier}}{{/if}}"
  {{#if table-tree-view-main--attribute}}
    {{{table-tree-view-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
