<table class="pf-c-table
  {{#if table--expandable}} pf-m-expandable{{/if}}
  {{#if table--IsTree-view}} pf-m-tree-view{{/if}}
  {{#if tree-view--HasCheckboxes}} pf-m-tree-view-checkboxes{{/if}}
  {{#if table--HasNoPosinset}} pf-m-no-inset{{/if}}
  {{#if table--modifier}} {{table--modifier}}{{/if}}"
  {{#if table--grid}}
    role="grid"
  {{/if}}
  {{#unless table--HasNoInset}}
    {{#if table--IsTree-view}}
      role="treegrid"
    {{/if}}
  {{/unless}}
  {{#if table--attribute}}
    {{{table--attribute}}}
  {{/if}}
  {{#if table--id}}
    id="{{table--id}}"
  {{/if}}
  {{#if table-nested--attribute}}
    {{{table-nested--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</table>
