<button class="pf-c-table__button{{#if button-table--modifier}} {{table-button--modifier}}{{/if}}"
  type="button"
  {{#if button--attribute}}
    {{{button--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
