<div class="pf-c-table__sorter{{#if table-sorter--modifier}} {{table-sorter--modifier}}{{/if}}"
  {{#if table-sorter--attribute}}
    {{{table-sorter--attribute}}}
  {{/if}}>
  {{> @partial-block}}
  <span class="pf-c-table__th-expand">
    <i class="fas fa-chevron-down"></i>
  </span>
</div>
