<div class="pf-c-table__tree-view-control{{#if table-tree-view-control--modifier}} {{table-tree-view-control--modifier}}{{/if}}"
  {{#if table-tree-view-control--attribute}}
    {{{table-tree-view-control--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
