<span class="pf-c-table__column-help{{#if table-column-help--modifier}} {{table-column-help--modifier}}{{/if}}"
  {{#if table-column-help--attribute}}
    {{{table-column-help--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain" button--attribute="More info"}}
    <i class="pficon pf-icon-help" aria-hidden="true"></i>
  {{/button}}
</span>