<span class="{{pfv}}table__tree-view-details-toggle{{#if table-tree-view-details-toggle--modifier}} {{table-tree-view-details-toggle--modifier}}{{/if}}"
  {{#if table-tree-view-details-toggle--attribute}}
    {{{table-tree-view-details-toggle--attribute}}}
  {{/if}}>
  {{> button
    button--IsPlain=true
    button--IsIcon=true
    button--AriaExpanded=table-tr--details--IsExpanded
    button--icon-template="table-details-toggle-icon"
    button--aria-label=(concat table--id '-' table-tr--tree--index '--tree-table--details-toggle')}}
</span>
