<div class="{{pfv}}table__tree-view-text{{#if table-tree-view-text--modifier}} {{table-tree-view-text--modifier}}{{/if}}"
  {{#if table-tree-view-text--attribute}}
    {{{table-tree-view-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
