{{#> table--tr}}
  {{#> table-td table-td--data-label="Source"}}
    {{#> l-flex l-flex--modifier="pf-m-nowrap"}}
      {{#> l-flex-item}}
        {{#> label label--modifier="pf-m-cyan"}}
          P
        {{/label}}
      {{/l-flex-item}}
      {{#> l-flex-item l-flex-item--modifier="pf-m-flex-1"}}
        <span class="pf-c-table__text pf-m-truncate">
          <a href="#">api-pod-source-name</a>
        </span>
      {{/l-flex-item}}
    {{/l-flex}}
  {{/table-td}}
  {{#> table-td table-td--data-label="Destination"}}
    {{#> l-flex l-flex--modifier="pf-m-nowrap"}}
      {{#> l-flex-item}}
        {{#> label label--modifier="pf-m-cyan"}}
          P
        {{/label}}
      {{/l-flex-item}}
      {{#> l-flex-item l-flex-item--modifier="pf-m-flex-1"}}
        <span class="pf-c-table__text pf-m-truncate">
          <a href="#">api-pod-destination-name</a>
        </span>
      {{/l-flex-item}}
    {{/l-flex}}
  {{/table-td}}
  {{#> table-td table-td--data-label="Date & time"}}
    {{#> stack}}
      <span>June 22, 2021</span>
      <span class="pf-u-color-200">3:58:24 PM</span>
    {{/stack}}
  {{/table-td}}
  {{#> table-td table-td--data-label="Source"}}
    {{#> stack}}
      <span>443</span>
      <span class="pf-u-color-200">(HTTPS)</span>
    {{/stack}}
  {{/table-td}}
  {{#> table-td table-td--data-label="Destination"}}
    {{#> stack}}
      <span>24</span>
      <span class="pf-u-color-200">(smtp)</span>
    {{/stack}}
  {{/table-td}}
  {{#> table-td table-td--data-label="Protocol"}}
    TCP
  {{/table-td}}
  {{#> table-td table-td--data-label="Flow rate"}}
    1.9 Kbps
  {{/table-td}}
  {{#> table-td table-td--data-label="Traffic"}}
    2.1 KB
  {{/table-td}}
  {{#> table-td table-td--data-label="Packets"}}
    3
  {{/table-td}}
{{/table--tr}}
