{{#> table-td table-td--check="true"}}
  <label>
    {{#> radio radio--modifier="pf-m-standalone"}}
      {{#> radio-input radio-input--attribute=(concat 'name="' table--id '-radio" aria-labelledby="' table--id '-node' table-tr--index '"')}}{{/radio-input}}
    {{/radio}}
  </label>
{{/table-td}}
