<div class="pf-c-log-viewer__scroll-container{{#if log-viewer-scroll-container--modifier}} {{log-viewer-scroll-container--modifier}}{{/if}}"
  tabindex="0"
  {{#if log-viewer-scroll-container--attribute}}
    {{{log-viewer-scroll-container--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
