<div class="{{pfv}}log-viewer__header{{#if log-viewer-header--modifier}} {{log-viewer-header--modifier}}{{/if}}"
  {{#if log-viewer-header--attribute}}
    {{{log-viewer-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
