<span class="pf-c-log-viewer__string{{#if log-viewer-string--modifier}} {{log-viewer-string--modifier}}{{/if}}"
  {{#if log-viewer-string--attribute}}
    {{{log-viewer-string--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
