@use '../../sass-utilities' as *;

:where(:root, .#{$log-viewer}) {
  --#{$log-viewer}--Height: 100%;
  --#{$log-viewer}--MaxHeight: auto;
  --#{$log-viewer}--m-line-numbers__index--Display: inline;

  // Header
  --#{$log-viewer}__header--MarginBlockEnd: var(--pf-t--global--spacer--sm);

  // Main
  --#{$log-viewer}__main--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$log-viewer}__main--BorderWidth: var(--pf-t--global--border--width--box--default);
  --#{$log-viewer}__main--BorderColor: var(--pf-t--global--border--color--default);

  // Scroll container
  --#{$log-viewer}__scroll-container--Height: #{pf-size-prem(600px)};
  --#{$log-viewer}__scroll-container--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --#{$log-viewer}__scroll-container--PaddingBlockEnd: var(--pf-t--global--spacer--sm);

  // Main ::after
  --#{$log-viewer}--m-line-numbers__list--before--InsetBlockStart: 0;
  --#{$log-viewer}--m-line-numbers__list--before--InsetBlockEnd: 0;
  --#{$log-viewer}--m-line-numbers__list--before--Width: var(--pf-t--global--border--width--divider--default);
  --#{$log-viewer}--m-line-numbers__list--before--BackgroundColor: var(--pf-t--global--border--color--default);

  // List
  --#{$log-viewer}__list--Height: auto;
  --#{$log-viewer}--m-line-numbers__list--InsetInlineStart: var(--#{$log-viewer}__index--Width);
  --#{$log-viewer}__list--FontFamily: var(--pf-t--global--font--family--mono);
  --#{$log-viewer}__list--FontSize: var(--pf-t--global--font--size--body--sm);

  // Index
  --#{$log-viewer}__index--Display: none;
  --#{$log-viewer}__index--Width: #{pf-size-prem(65px)}; // default width
  --#{$log-viewer}__index--PaddingInlineEnd: var(--pf-t--global--spacer--xl);
  --#{$log-viewer}__index--PaddingInlineStart: var(--pf-t--global--spacer--lg);
  --#{$log-viewer}__index--Color: var(--pf-t--global--text--color--subtle);
  --#{$log-viewer}__index--BackgroundColor: transparent;
  --#{$log-viewer}--line-number-chars: 4.4; // it's close enough to the existing default
  --#{$log-viewer}--m-line-number-chars__index--PaddingInlineEnd: var(--pf-t--global--spacer--xs);
  --#{$log-viewer}--m-line-number-chars__index--Width: calc(1ch * var(--#{$log-viewer}--line-number-chars) + var(--#{$log-viewer}__index--PaddingInlineEnd) + var(--#{$log-viewer}__index--PaddingInlineStart));

  // Text
  --#{$log-viewer}__text--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --#{$log-viewer}__text--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --#{$log-viewer}__text--Color: var(--pf-t--global--text--color--regular);
  --#{$log-viewer}__text--WordBreak: break-all;
  --#{$log-viewer}__text--WhiteSpace: break-spaces;
  --#{$log-viewer}__text--LineBreak: anywhere;
  --#{$log-viewer}--m-nowrap__text--WhiteSpace: nowrap;
  --#{$log-viewer}__string--m-match--Color: var(--pf-t--global--text--color--on-highlight);
  --#{$log-viewer}__string--m-match--BackgroundColor: var(--pf-t--global--background--color--highlight--default);
  --#{$log-viewer}__string--m-current--Color: var(--pf-t--global--text--color--on-highlight);
  --#{$log-viewer}__string--m-current--BackgroundColor: var(--pf-t--global--background--color--highlight--clicked);

  // Timestamp
  --#{$log-viewer}__timestamp--FontWeight: var(--pf-t--global--font--weight--body--bold);

  // Toolbar
  --#{$log-viewer}--c-toolbar--PaddingBlockStart: 0;
  --#{$log-viewer}--c-toolbar--PaddingBlockEnd: 0;
  --#{$log-viewer}--c-toolbar__content--PaddingInlineEnd: 0;
  --#{$log-viewer}--c-toolbar__content--PaddingInlineStart: 0;
  --#{$log-viewer}--c-toolbar__group--m-toggle-group--spacer: 0;
  --#{$log-viewer}--c-toolbar__group--m-toggle-group--m-show--spacer: var(--pf-t--global--spacer--sm);

  // Dark theme
  --#{$log-viewer}--m-dark__main--BorderWidth: 0;
}

.#{$log-viewer} {
  &.pf-m-dark {
    --#{$log-viewer}__main--BorderWidth: var(--#{$log-viewer}--m-dark__main--BorderWidth);

    .#{$log-viewer}__main {
      --#{$log-viewer}__main--BackgroundColor: var(--pf-t--global--background--color--primary--default);
      --#{$log-viewer}__main--BorderColor: var(--pf-t--global--border--color--default);
      --#{$log-viewer}__text--Color: var(--pf-t--global--text--color--regular);
      --#{$log-viewer}__index--Color: var(--pf-t--global--text--color--subtle);
      --#{$log-viewer}--m-line-numbers__list--before--BackgroundColor: var(--pf-t--global--border--color--default);
    }
  }

  display: flex;
  flex-direction: column;
  height: var(--#{$log-viewer}--Height);
  max-height: var(--#{$log-viewer}--MaxHeight);

  &.pf-m-wrap-text {
    word-break: break-all;
  }

  &.pf-m-nowrap {
    --#{$log-viewer}__text--WhiteSpace: var(--#{$log-viewer}--m-nowrap__text--WhiteSpace);
  }

  &.pf-m-line-numbers {
    --#{$log-viewer}__index--Display: var(--#{$log-viewer}--m-line-numbers__index--Display);

    .#{$log-viewer}__list {
      position: absolute;
      inset-inline-start: var(--#{$log-viewer}--m-line-numbers__list--InsetInlineStart);
      inset-inline-end: 0;

      // Divider
      &::before {
        position: absolute;
        inset-block-start: var(--#{$log-viewer}--m-line-numbers__list--before--InsetBlockStart);
        inset-block-end: var(--#{$log-viewer}--m-line-numbers__list--before--InsetBlockEnd);
        inset-inline-start: 0;
        width: var(--#{$log-viewer}--m-line-numbers__list--before--Width);
        content: "";
        background: var(--#{$log-viewer}--m-line-numbers__list--before--BackgroundColor);
      }
    }
  }

  &.pf-m-line-number-chars {
    --#{$log-viewer}__index--PaddingInlineEnd: var(--#{$log-viewer}--m-line-number-chars__index--PaddingInlineEnd);
    --#{$log-viewer}__index--Width: var(--#{$log-viewer}--m-line-number-chars__index--Width);
  }

  // Nested toolbar
  .#{$toolbar} {
    --#{$toolbar}--PaddingBlockStart: var(--#{$log-viewer}--c-toolbar--PaddingBlockStart);
    --#{$toolbar}--PaddingBlockEnd: var(--#{$log-viewer}--c-toolbar--PaddingBlockEnd);
    --#{$toolbar}__content--PaddingInlineEnd: var(--#{$log-viewer}--c-toolbar__content--PaddingInlineEnd);
    --#{$toolbar}__content--PaddingInlineStart: var(--#{$log-viewer}--c-toolbar__content--PaddingInlineStart);
    --#{$toolbar}__group--m-toggle-group--spacer: 0;
    --#{$toolbar}__group--m-toggle-group--m-show--spacer: var(--#{$log-viewer}--c-toolbar__group--m-toggle-group--m-show--spacer);
  }

  .#{$toolbar}__content-section {
    flex-wrap: nowrap;
  }
}

// Header
.#{$log-viewer}__header {
  margin-block-end: var(--#{$log-viewer}__header--MarginBlockEnd);
}

// Main
.#{$log-viewer}__main {
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: var(--#{$log-viewer}__main--BackgroundColor);
  border: var(--#{$log-viewer}__main--BorderWidth) solid var(--#{$log-viewer}__main--BorderColor);
}

.#{$log-viewer}__scroll-container {
  position: relative;
  height: var(--#{$log-viewer}__scroll-container--Height);
  padding-block-start: var(--#{$log-viewer}__scroll-container--PaddingBlockStart);
  padding-block-end: var(--#{$log-viewer}__scroll-container--PaddingBlockEnd);
  overflow: auto;
  will-change: transform;
  direction: ltr;
}

// List
.#{$log-viewer}__list {
  position: relative;
  height: var(--#{$log-viewer}__list--Height);
  font-family: var(--#{$log-viewer}__list--FontFamily);
  font-size: var(--#{$log-viewer}__list--FontSize);
}

.#{$log-viewer}__list-item {
  inset-inline-start: 0;
  width: 100%;
}

.#{$log-viewer}__string {
  &.pf-m-match {
    color: var(--#{$log-viewer}__string--m-match--Color, inherit);
    background-color: var(--#{$log-viewer}__string--m-match--BackgroundColor);
  }

  &.pf-m-current {
    color: var(--#{$log-viewer}__string--m-current--Color, inherit);
    background-color: var(--#{$log-viewer}__string--m-current--BackgroundColor);
  }
}

// Index
.#{$log-viewer}__index {
  position: fixed;
  inset-inline-start: 0;
  display: var(--#{$log-viewer}__index--Display);
  width: var(--#{$log-viewer}__index--Width);
  padding-inline-start: var(--#{$log-viewer}__index--PaddingInlineStart);
  padding-inline-end: var(--#{$log-viewer}__index--PaddingInlineEnd);
  font-family: var(--#{$log-viewer}__index--FontFamily, inherit);
  font-size: var(--#{$log-viewer}__index--FontSize, inherit);
  color: var(--#{$log-viewer}__index--Color);
  user-select: none;
  background-color: var(--#{$log-viewer}__index--BackgroundColor);
}

// Text
.#{$log-viewer}__text {
  display: block;
  padding-inline-start: var(--#{$log-viewer}__text--PaddingInlineStart);
  padding-inline-end: var(--#{$log-viewer}__text--PaddingInlineEnd);
  font-family: var(--#{$log-viewer}__text--FontFamily, inherit);
  font-size: var(--#{$log-viewer}__text--FontSize, inherit);
  color: var(--#{$log-viewer}__text--Color);
  word-break: var(--#{$log-viewer}__text--WordBreak);
  white-space: var(--#{$log-viewer}__text--WhiteSpace);
  line-break: var(--#{$log-viewer}__text--LineBreak);
}

// Timestamp
.#{$log-viewer}__timestamp {
  font-weight: var(--#{$log-viewer}__timestamp--FontWeight);
}
