<div class="{{pfv}}log-viewer__main{{#if log-viewer-main--modifier}} {{log-viewer-main--modifier}}{{/if}}"
  {{#if log-viewer-main--attribute}}
    {{{log-viewer-main--attribute}}}
  {{/if}}
  role="log">
  {{> @partial-block}}
</div>
