// @debug $log-viewer; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$log-viewer} {
  --#{$log-viewer}--Height: 100%;
  --#{$log-viewer}--MaxHeight: auto;
  --#{$log-viewer}--m-line-numbers__index--Display: inline;

  // Header
  --#{$log-viewer}__header--MarginBottom: var(--#{$pf-global}--spacer--sm);

  // Main
  --#{$log-viewer}__main--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$log-viewer}__main--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$log-viewer}__main--BorderColor: var(--#{$pf-global}--BorderColor--100);

  // Scroll container
  --#{$log-viewer}__scroll-container--Height: #{pf-size-prem(600px)};
  --#{$log-viewer}__scroll-container--PaddingTop: var(--#{$pf-global}--spacer--sm);
  --#{$log-viewer}__scroll-container--PaddingBottom: var(--#{$pf-global}--spacer--sm);

  // Main ::after
  --#{$log-viewer}--m-line-numbers__main--before--Top: 0;
  --#{$log-viewer}--m-line-numbers__main--before--Bottom: 0;
  --#{$log-viewer}--m-line-numbers__main--before--Width: var(--#{$pf-global}--BorderWidth--sm);
  --#{$log-viewer}--m-line-numbers__main--before--BackgroundColor: var(--#{$pf-global}--BorderColor--100);

  // List
  --#{$log-viewer}__list--Height: auto;
  --#{$log-viewer}--m-line-numbers__list--Left: var(--#{$log-viewer}__index--Width);
  --#{$log-viewer}__list--FontFamily: var(--#{$pf-global}--FontFamily--monospace);
  --#{$log-viewer}__list--FontSize: var(--#{$pf-global}--FontSize--sm);

  // Index
  --#{$log-viewer}__index--Display: none;
  --#{$log-viewer}__index--Width: #{pf-size-prem(65px)}; // default width
  --#{$log-viewer}__index--PaddingRight: var(--#{$pf-global}--spacer--xl);
  --#{$log-viewer}__index--PaddingLeft: var(--#{$pf-global}--spacer--lg);
  --#{$log-viewer}__index--Color: var(--#{$pf-global}--Color--200);
  --#{$log-viewer}__index--BackgroundColor: transparent;
  --#{$log-viewer}--line-number-chars: 4.4; // it's close enough to the existing default
  --#{$log-viewer}--m-line-number-chars__index--PaddingRight: var(--#{$pf-global}--spacer--xs);
  --#{$log-viewer}--m-line-number-chars__index--Width: calc(1ch * var(--#{$log-viewer}--line-number-chars) + var(--#{$log-viewer}__index--PaddingRight) + var(--#{$log-viewer}__index--PaddingLeft));

  // Text
  --#{$log-viewer}__text--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$log-viewer}__text--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$log-viewer}__text--Color: var(--#{$pf-global}--Color--100);
  --#{$log-viewer}__text--WordBreak: break-all;
  --#{$log-viewer}__text--WhiteSpace: break-spaces;
  --#{$log-viewer}__text--LineBreak: anywhere;
  --#{$log-viewer}--m-nowrap__text--WhiteSpace: nowrap;
  --#{$log-viewer}__string--m-match--Color: var(--#{$pf-global}--palette--gold-700);
  --#{$log-viewer}__string--m-match--BackgroundColor: var(--#{$pf-global}--palette--gold-100);
  --#{$log-viewer}__string--m-current--Color: var(--#{$pf-global}--palette--gold-700);
  --#{$log-viewer}__string--m-current--BackgroundColor: var(--#{$pf-global}--palette--gold-400);

  // Timestamp
  --#{$log-viewer}__timestamp--FontWeight: var(--#{$pf-global}--FontWeight--bold);

  // Toolbar
  --#{$log-viewer}--c-toolbar--PaddingTop: 0;
  --#{$log-viewer}--c-toolbar--PaddingBottom: 0;
  --#{$log-viewer}--c-toolbar__content--PaddingRight: 0;
  --#{$log-viewer}--c-toolbar__content--PaddingLeft: 0;
  --#{$log-viewer}--c-toolbar__group--m-toggle-group--spacer: 0;
  --#{$log-viewer}--c-toolbar__group--m-toggle-group--m-show--spacer: var(--#{$pf-global}--spacer--sm);

  // Dark theme
  --#{$log-viewer}--m-dark__main--BorderWidth: 0;

  &.pf-m-dark {
    --#{$log-viewer}__main--BorderWidth: var(--#{$log-viewer}--m-dark__main--BorderWidth);

    .#{$log-viewer}__main {
      @include pf-v5-t-dark;

      --#{$log-viewer}__main--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
      --#{$log-viewer}__main--BorderColor: var(--#{$pf-global}--BorderColor--100);
      --#{$log-viewer}__text--Color: var(--#{$pf-global}--Color--100);
      --#{$log-viewer}__index--Color: var(--#{$pf-global}--Color--200);
      --#{$log-viewer}--m-line-numbers__main--before--BackgroundColor: var(--#{$pf-global}--BorderColor--100);
    }
  }

  display: flex;
  flex-direction: column;
  height: var(--#{$log-viewer}--Height);
  max-height: var(--#{$log-viewer}--MaxHeight);

  &.pf-m-wrap-text {
    word-break: break-all;
  }

  &.pf-m-nowrap {
    --#{$log-viewer}__text--WhiteSpace: var(--#{$log-viewer}--m-nowrap__text--WhiteSpace);
  }

  &.pf-m-line-numbers {
    --#{$log-viewer}__index--Display: var(--#{$log-viewer}--m-line-numbers__index--Display);

    .#{$log-viewer}__list {
      position: absolute;
      inset-inline-start: var(--#{$log-viewer}--m-line-numbers__list--Left);
      inset-inline-end: 0;

      // Divider
      &::before {
        position: absolute;
       inset-block-start: var(--#{$log-viewer}--m-line-numbers__main--before--Top); // rename these vars at a breaking change
       inset-block-end: var(--#{$log-viewer}--m-line-numbers__main--before--Bottom);
       inset-inline-start: 0;
        width: var(--#{$log-viewer}--m-line-numbers__main--before--Width);
        content: "";
        background: var(--#{$log-viewer}--m-line-numbers__main--before--BackgroundColor);
      }
    }
  }

  &.pf-m-line-number-chars {
    --#{$log-viewer}__index--PaddingRight: var(--#{$log-viewer}--m-line-number-chars__index--PaddingRight);
    --#{$log-viewer}__index--Width: var(--#{$log-viewer}--m-line-number-chars__index--Width);
  }

  // Nested toolbar
  .#{$toolbar} {
    --#{$toolbar}--PaddingTop: var(--#{$log-viewer}--c-toolbar--PaddingTop);
    --#{$toolbar}--PaddingBottom: var(--#{$log-viewer}--c-toolbar--PaddingBottom);
    --#{$toolbar}__content--PaddingRight: var(--#{$log-viewer}--c-toolbar__content--PaddingRight);
    --#{$toolbar}__content--PaddingLeft: var(--#{$log-viewer}--c-toolbar__content--PaddingLeft);
    --#{$toolbar}__group--m-toggle-group--spacer: 0;
    --#{$toolbar}__group--m-toggle-group--m-show--spacer: var(--#{$log-viewer}--c-toolbar__group--m-toggle-group--m-show--spacer);
  }

  .#{$toolbar}__content-section {
    flex-wrap: nowrap;
  }
}

// Header
.#{$log-viewer}__header {
  margin-block-end: var(--#{$log-viewer}__header--MarginBottom);
}

// Main
.#{$log-viewer}__main {
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: var(--#{$log-viewer}__main--BackgroundColor);
  border: var(--#{$log-viewer}__main--BorderWidth) solid var(--#{$log-viewer}__main--BorderColor);
}

.#{$log-viewer}__scroll-container {
  position: relative;
  height: var(--#{$log-viewer}__scroll-container--Height);
  padding-block-start: var(--#{$log-viewer}__scroll-container--PaddingTop);
  padding-block-end: var(--#{$log-viewer}__scroll-container--PaddingBottom);
  overflow: auto;
  will-change: transform;
  direction: ltr;
}

// List
.#{$log-viewer}__list {
  position: relative;
  height: var(--#{$log-viewer}__list--Height);
  font-family: var(--#{$log-viewer}__list--FontFamily);
  font-size: var(--#{$log-viewer}__list--FontSize);
}

.#{$log-viewer}__list-item {
 inset-inline-start: 0;
  width: 100%;
}

.#{$log-viewer}__string {
  &.pf-m-match {
    color: var(--#{$log-viewer}__string--m-match--Color, inherit);
    background-color: var(--#{$log-viewer}__string--m-match--BackgroundColor);
  }

  &.pf-m-current {
    color: var(--#{$log-viewer}__string--m-current--Color, inherit);
    background-color: var(--#{$log-viewer}__string--m-current--BackgroundColor);
  }
}

// Index
.#{$log-viewer}__index {
  position: fixed;
  inset-inline-start: 0;
  display: var(--#{$log-viewer}__index--Display);
  width: var(--#{$log-viewer}__index--Width);
  padding-inline-start: var(--#{$log-viewer}__index--PaddingLeft);
  padding-inline-end: var(--#{$log-viewer}__index--PaddingRight);
  font-family: var(--#{$log-viewer}__index--FontFamily, inherit);
  font-size: var(--#{$log-viewer}__index--FontSize, inherit);
  color: var(--#{$log-viewer}__index--Color);
  user-select: none;
  background-color: var(--#{$log-viewer}__index--BackgroundColor);
}

// Text
.#{$log-viewer}__text {
  display: block;
  padding-inline-start: var(--#{$log-viewer}__text--PaddingLeft);
  padding-inline-end: var(--#{$log-viewer}__text--PaddingRight);
  font-family: var(--#{$log-viewer}__text--FontFamily, inherit);
  font-size: var(--#{$log-viewer}__text--FontSize, inherit);
  color: var(--#{$log-viewer}__text--Color);
  word-break: var(--#{$log-viewer}__text--WordBreak);
  white-space: var(--#{$log-viewer}__text--WhiteSpace);
  line-break: var(--#{$log-viewer}__text--LineBreak);
}

// Timestamp
.#{$log-viewer}__timestamp {
  font-weight: var(--#{$log-viewer}__timestamp--FontWeight);
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/log-viewer";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-log-viewer;
}
