<li class="{{pfv}}log-viewer__list-item{{#if log-viewer-list-item--modifier}} {{log-viewer-list-item--modifier}}{{/if}}"
  {{#if log-viewer-list-item--attribute}}
    {{{log-viewer-list-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
