<!--
Each template tag represents an individual state that the component can
be in. If you would like to show multiple states in the workarea, you should
have multiple template tags. To communicate information about the state that
the templat represents, use the data-title and data-description attributes.
These attributes will be rendered in the workspace.
-->
<template data-title="pf-c-button" data-description="a button">
  <button type="button" class="pf-c-button pf-is-primary">Patternfly Button</button>
</template>

<template data-title="pf-c-button colors" data-description="Color variables">
  <button type="button" class="pf-c-button pf-is-primary">Primary Button</button>
  <button type="button" class="pf-c-button pf-is-secondary">Secondary Button</button>
  <button type="button" class="pf-c-button pf-is-secondary-alt">Secondary-alt Button</button>
  <button type="button" class="pf-c-button pf-is-tertiary">Tertiary Button</button>
  <button type="button" class="pf-c-button pf-is-destructive">Destructive Button</button>
</template>

<template data-title="pf-c-button sizes" data-description="Color variables">
  <button type="button" class="pf-c-button pf-is-primary pf-is-large">Large Button</button>
  <button type="button" class="pf-c-button pf-is-primary pf-is-small">Small Button</button>
</template>

<template data-title="pf-c-button states" data-description="Color variables">
  <button type="button" class="pf-c-button pf-is-primary pf-is-focus">Focus Button</button>
  <button type="button" class="pf-c-button pf-is-primary pf-is-disabled" disabled>Disabled Button</button>
</template>

<template data-title="pf-c-button block" data-description="block level button">
  <button type="button" class="pf-c-button pf-is-primary pf-is-block">Block Button</button>
</template>


<!-- <button type="button" class="Button Button-secondary">Secondary</button>
<button type="button" class="Button Button-success">Success</button>
<button type="button" class="Button Button-danger">Danger</button>
<button type="button" class="Button Button-warning">Warning</button>
<button type="button" class="Button Button-info">Info</button>
<button type="button" class="Button Button-light">Light</button>
<button type="button" class="Button Button-dark">Dark</button> -->
