@import "../../patternfly-utilities";

.pf-c-filter-chip {
  --pf-c-filter-chip--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-filter-chip--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-filter-chip--BackgroundColor: var(--pf-global--Color--light-100);
  --pf-c-filter-chip--BorderColor: var(--pf-global--Color--200);
  --pf-c-filter-chip--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-filter-chip--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-filter-chip--hover--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-filter-chip--m-current--BorderColor: var(--pf-global--primary-color--100);

  // Text Styles
  --pf-c-filter-chip__text--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-filter-chip__text--Color: var(--pf-global--Color--100);
  --pf-c-filter-chip__text--MaxWidth: #{pf-size-prem(140px)};

  // Button Styles
  --pf-c-filter-chip__button--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-filter-chip__button--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-filter-chip__button--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-filter-chip__button--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-filter-chip--button--Color: var(--pf-global--secondary-color--100);
  --pf-c-filter-chip__button--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-filter-chip__button--LineHeight: var(--pf-global--FontSize--sm);
  --pf-c-filter-chip__button--focus--Color: var(--pf-global--primary-color--200);
  --pf-c-filter-chip__button--active--Color: var(--pf-global--primary-color--200);
  --pf-c-filter-chip__button--hover--Color: var(--pf-global--primary-color--100);
  --pf-c-filter-chip__button--m-current--Color: var(--pf-global--primary-color--100);

  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: var(--pf-c-filter-chip--PaddingLeft);
  margin-right: var(--pf-c-filter-chip--MarginRight); // change this to be all except last child
  font-size: var(--pf-c-filter-chip--FontSize);
  line-height: 0;
  color: var(--pf-c-filter-chip--Color);
  background-color: var(--pf-c-filter-chip--BackgroundColor);
  border: var(--pf-c-filter-chip--BorderWidth) solid var(--pf-c-filter-chip--BorderColor);
  border-radius: var(--pf-c-filter-chip--BorderRadius);

  &.pf-m-hover,
  &:hover {
    border-color: var(--pf-c-filter-chip--hover--BorderColor);

    .pf-c-button {
      color: var(--pf-c-filter-chip__button--hover--Color);
    }
  }

  &.pf-m-current {
    border-color: var(--pf-c-filter-chip--m-current--BorderColor);

    .pf-c-button {
      color: var(--pf-c-filter-chip--button--m-current--Color);
    }
  }

  .pf-c-filter-chip__text {
    display: inline-block;
    max-width: var(--pf-c-filter-chip__text--MaxWidth);
    overflow-x: hidden;
    font-size: var(--pf-c-filter-chip__text--FontSize);
    line-height: 14px;
    color: var(--pf-c-filter-chip__text--Color);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pf-c-button {
    min-width: 14px;
    min-height: 14px;
    padding-top: 0;
    padding-right: 8px;
    padding-bottom: 0;
    padding-left: 4px;

    // padding:
    //   var(--pf-c-filter-chip__button--PaddingTop)
    //   var(--pf-c-filter-chip__button--PaddingRight)
    //   var(--pf-c-filter-chip__button--PaddingBottom)
    //   var(--pf-c-filter-chip__button--PaddingLeft);
    font-size: var(--pf-c-filter-chip__button--FontSize);
    line-height: var(--pf-c-filter-chip__button--LineHeight);
    color: var(--pf-c-filter-chip--button--Color);
    text-align: center;

    &.pf-m-focus,
    &:focus {
      color: var(--pf-c-filter-chip__button--focus--Color);
      outline: none;

      // .pf-c-filter-chip {
      //   border-color: var(--pf-global--primary-color--100);
      // }
    }

    &.pf-m-active,
    &:active {
      color: var(--pf-c-filter-chip__button--active--Color);
      outline: none;

      // .pf-c-filter-chip {
      //   background-color: #000;
      //   border-color: var(--pf-global--primary-color--100);
      // }
    }


    > :first-child {
      margin-right: 0;
    }
  }
}

.pf-c-filter-chip__group {
  display: flex;
  display: inline-block;
  height: 40px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  background-color: var(--pf-global--BackgroundColor--200);
  border-radius: 3px;
}

.pf-c-filter-chip__label {
  margin-right: 8px;
  font-size: 14px;
}

// this is the style the focus ring on the filter chip rather than the button? probably remove
// &:focus {
//   outline: -webkit-focus-ring-color auto 5px;
//   outline-width: 5px;
//   outline-style: auto;
//   outline-color: -webkit-focus-ring-color;
// }

