<div class="pf-c-filter-chip__group{{#if filter-chip-group--modifier}} {{filter-chip-group--modifier}}{{/if}}"
  {{#if filter-chip-group--attribute}}
    {{{filter-chip-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
