@import "../../patternfly-utilities";

.pf-c-filter-chip {
  --pf-c-filter-chip--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-filter-chip--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-filter-chip--BackgroundColor: var(--pf-global--Color--light-100);
  --pf-c-filter-chip--BorderColor: var(--pf-global--BorderColor);
  --pf-c-filter-chip--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-filter-chip--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-filter-chip--hover--BorderColor: var(--pf-global--primary-color--100);

  // Filter chip text
  --pf-c-filter-chip__text--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-filter-chip__text--Color: var(--pf-global--Color--100);
  --pf-c-filter-chip__text--MaxWidth: #{pf-size-prem(120px)}; // This can be changed for different use cases

  // Filter chip button
  --pf-c-filter-chip__button--MinWidth: var(--pf-global--spacer--xl); // Change this to a new target size for accessibility
  --pf-c-filter-chip__button--MinHeight: #{pf-size-prem(26px)}; // Custom size for min height is as close as possible to target size for accessibility;
  --pf-c-filter-chip__button--PaddingRight: var(--pf-global--spacer--xs);
  --pf-c-filter-chip__button--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-filter-chip__button--Color: var(--pf-global--Color--200);
  --pf-c-filter-chip__button--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-filter-chip__button--hover--Color: var(--pf-global--primary-color--100);
  --pf-c-filter-chip__button--focus--Color: var(--pf-global--primary-color--200);
  --pf-c-filter-chip__button--active--Color: var(--pf-global--primary-color--200);

  display: inline-flex;
  padding-left: var(--pf-c-filter-chip--PaddingLeft);
  color: var(--pf-c-filter-chip--Color);
  background-color: var(--pf-c-filter-chip--BackgroundColor);
  border: var(--pf-c-filter-chip--BorderWidth) solid var(--pf-c-filter-chip--BorderColor);
  border-radius: var(--pf-c-filter-chip--BorderRadius);

  &:not(:last-child) {
    margin-right: var(--pf-c-filter-chip--MarginRight);
  }

  // Hover State
  &.pf-m-hover,
  &:hover {
    border-color: var(--pf-c-filter-chip--hover--BorderColor);

    .pf-c-button {
      color: var(--pf-c-filter-chip__button--hover--Color);
    }
  }

  // Filter Chip Counter (acts as button)
  &.pf-m-count {
    padding-left: 0;
    background-color: var(--pf-global--BackgroundColor--300); // change this
    border-color: transparent;

    &:hover {
      background-color: var(--pf-global--BackgroundColor--300); // change this
    }

    .pf-c-button:focus {
      outline: none;
    }
  }

  // Text Element
  .pf-c-filter-chip__text {
    max-width: var(--pf-c-filter-chip__text--MaxWidth);
    margin: auto;
    overflow: hidden;
    font-size: var(--pf-c-filter-chip__text--FontSize);
    color: var(--pf-c-filter-chip__text--Color);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // Remove Button
  .pf-c-button {
    min-width: var(--pf-c-filter-chip__button--MinWidth);
    min-height: var(--pf-c-filter-chip__button--MinHeight);
    padding-right: var(--pf-c-filter-chip__button--PaddingRight);
    padding-left: var(--pf-c-filter-chip__button--PaddingLeft);
    font-size: var(--pf-c-filter-chip__button--FontSize);
    color: var(--pf-c-filter-chip__button--Color);

    &.pf-m-focus,
    &:focus {
      color: var(--pf-c-filter-chip__button--focus--Color);
      outline: none; // turn off default button focus styles
    }

    &.pf-m-active,
    &:active {
      color: var(--pf-c-filter-chip__button--active--Color);
    }

    // Turn off default button margin-right style
    > :first-child {
      margin-right: 0;
    }
  }
}

// Filter chip group container
.pf-c-filter-chip__group {
  --pf-c-filter-chip__group--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-filter-chip__group--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-filter-chip__group--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-filter-chip__group--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-filter-chip__group--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-filter-chip__group--BackgroundColor: var(--pf-global--BackgroundColor--200);
  --pf-c-filter-chip__group--MarginRight: var(--pf-global--spacer--sm);
  --pf-c-filter-chip__group--MarginBottom: var(--pf-glocal--spacer--sm);

  // Label in group (optional)
  --pf-c-filter-chip__label--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-filter-chip__label--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-filter-chip__label--FontSize: var(--pf-global--FontSize--sm);

  display: inline-flex;
  padding:
    var(--pf-c-filter-chip__group--PaddingTop)
    var(--pf-c-filter-chip__group--PaddingRight)
    var(--pf-c-filter-chip__group--PaddingBottom)
    var(--pf-c-filter-chip__group--PaddingLeft);
  background-color: var(--pf-c-filter-chip__group--BackgroundColor);
  border-radius: var(--pf-c-filter-chip__group--BorderRadius);


  &:not(:last-child) {
    margin-right: var(--pf-c-filter-chip__group--MarginRight);
    margin-bottom: var(--pf-c-filter-chip__group--MarginBottom);
  }

  .pf-c-filter-chip__label {
    padding-right: var(--pf-c-filter-chip__label--PaddingRight);
    padding-left: var(--pf-c-filter-chip__label--PaddingLeft);
    margin: auto;
    font-size: var(--pf-c-filter-chip__label--FontSize);
  }
}

.pf-c-filter-chip__container {
  max-width: 700px; // Change this depending on discussion
  white-space: wrap;
}

::-webkit-scrollbar {
  display: none;
}

