<span class="pf-c-filter-chip__text{{#if filter-chip-text--modifier}} {{filter-chip-text--modifier}}{{/if}}"
  {{#if filter-chip-text--attribute}}
    {{{filter-chip-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
