<div class="pf-c-filter-chip{{#if filter-chip--modifier}} {{filter-chip--modifier}}{{/if}}"
  {{#if filter-chip--attribute}}
    {{{filter-chip--attribute}}}
  {{/if}}>
  {{#if button--HasTimesCircleIcon}}
    {{> button-timescircle-icon}}
  {{/if}}
  {{> @partial-block}}
</div>
