<div class="pf-c-filter-chip__container{{#if filter-chip-container--modifier}} {{filter-chip-container--modifier}}{{/if}}"
  {{#if filter-chip-container--attribute}}
    {{{filter-chip-container--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
