<span class="pf-c-filter-chip__label{{#if filter-chip-label--modifier}} {{filter-chip-label--modifier}}{{/if}}"
  {{#if filter-chip-label--attribute}}
    {{{filter-chip-label--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
