@import "../../patternfly-utilities";

.pf-c-filter-chip {
  --pf-c-filter-chip--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-filter-chip--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-filter-chip--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-filter-chip--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-filter-chip--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-filter-chip--BorderRadius: var(--pf-global--BorderWidth--lg);
  --pf-c-filter-chip--Color: var(--pf-global--Color--100);
  --pf-c-filter-chip--BorderColor: var(--pf-global--secondary-color--100);
  --pf-c-filter-chip--FontSize: var(--pf-global--FontSize--sm);

  display: inline-block;
  padding:
    var(--pf-c-filter-chip--PaddingTop)
    var(--pf-c-filter-chip--PaddingRight)
    var(--pf-c-filter-chip--PaddingBottom)
    var(--pf-c-filter-chip--PaddingLeft);
  font-size: var(--pf-c-filter-chip--FontSize);
  color: var(--pf-c-filter-chip--Color);
  border: var(--pf-c-filter-chip--BorderWidth) solid var(--pf-c-filter-chip--BorderColor);
  border-radius: var(--pf-c-filter-chip--BorderRadius);

  button {
    min-width: 24px;
    min-height: 24px;
  }
}
