{{#> page-main-section page-main-section--modifier="pf-m-light"}}
  {{#> content}}
    {{#> title titleType="h1" title--modifier="pf-m-2xl"}}
      Horizontal form demo
    {{/title}}
    <p>Below is an example of a horizontal form.</p>
  {{/content}}
{{/page-main-section}}
{{#> page-main-section page-main-section--modifier="pf-m-light"}}
  {{#> form form--modifier="pf-m-horizontal" form--id="horizontal-align-labels-1"}}
    {{#> form-alert}}
      {{#> alert alert--modifier="pf-m-danger pf-m-inline" alert--attribute='aria-label="Inline danger alert"'}}
        {{#> alert-icon alert-icon--type="exclamation-circle"}}
        {{/alert-icon}}
        {{#> alert-title}}
          {{#> screen-reader}}Danger alert:{{/screen-reader}}
          You must fill out all required fields before you can proceed.
        {{/alert-title}}
      {{/alert}}
    {{/form-alert}}
    {{#> form-group}}
      {{#> form-group-label}}
        {{#> form-label form-label--attribute=(concat 'for="' form--id '-form-name"') required='true'}}
          Name
        {{/form-label}}
      {{/form-group-label}}
      {{#> form-group-control}}
        {{#> form-control controlType="input" input="true" form-control--attribute=(concat 'required type="text" id="' form--id '-form-name" name="' form--id '-form-name" aria-invalid="true" aria-describedby="' form--id '-form-name-helper"')}}
        {{/form-control}}
        {{#> form-helper-text form-helper-text--modifier="pf-m-error" form-helper-text--attribute=(concat 'id="' form--id '-form-name-helper" aria-live="polite"')}}
          This is a required field.
        {{/form-helper-text}}
      {{/form-group-control}}
    {{/form-group}}
    {{#> form-group}}
      {{#> form-group-label}}
        {{#> form-label form-label--attribute=(concat 'for="' form--id '-form-email"') required="true"}}
          Email
        {{/form-label}}
      {{/form-group-label}}
      {{#> form-group-control}}
        {{#> form-control controlType="input" input="true" form-control--attribute=(concat 'type="text" value="patternfly@patternfly.com" id="' form--id '-form-email" name="' form--id '-form-email" required')}}{{/form-control}}
      {{/form-group-control}}
    {{/form-group}}
    {{#> form-group}}
      {{#> form-group-label}}
        {{#> form-label form-label--attribute=(concat 'for="' form--id '-form-phone"') required='true'}}
          Phone number
        {{/form-label}}
      {{/form-group-label}}
      {{#> form-group-control}}
        {{#> form-control controlType="input" input="true" form-control--attribute=(concat 'required type="text" id="' form--id '-form-phone" name="' form--id '-form-phone" aria-invalid="true" aria-describedby="' form--id '-form-phone-helper"')}}
        {{/form-control}}
        {{#> form-helper-text form-helper-text--modifier="pf-m-error" form-helper-text--attribute=(concat 'id="' form--id '-form-phone-helper" aria-live="polite"')}}
          This is a required field.
        {{/form-helper-text}}
      {{/form-group-control}}
    {{/form-group}}
    {{#> form-group form-group--IsCheckGroup="true" form-group--id="-check-group"}}
      {{#> form-group-label form-group-label--modifier="pf-m-no-padding-top"}}
        {{#> form-label form-label--attribute=(concat 'for="' form--id '-form-experience"') required='true'}}
          Your experience
        {{/form-label}}

      {{/form-group-label}}
      {{#> form-group-control}}
        {{#> form-helper-text form-helper-text--modifier="pf-m-error" form-helper-text--attribute=(concat 'id="' form--id '-simple-form-info-helper" aria-live="polite"')}}
          {{#> form-helper-text-icon}}
            <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
          {{/form-helper-text-icon}}
            This is a requied field
        {{/form-helper-text}}
        {{#> check}}
          {{#> check-input check-input--attribute='type="checkbox" id="alt-form-checkbox1" name="alt-form-checkbox1"'}}{{/check-input}}
          {{#> check-label check-label--attribute='for="alt-form-checkbox1"'}}Follow up via email{{/check-label}}
        {{/check}}
        {{#> check}}
          {{#> check-input check-input--attribute='type="checkbox" id="alt-form-checkbox2" name="alt-form-checkbox2"'}}{{/check-input}}
          {{#> check-label check-label--attribute='for="alt-form-checkbox2"'}}Remember my password for 30 days{{/check-label}}
        {{/check}}
      {{/form-group-control}}
    {{/form-group}}
    {{#> form-group form-group--modifier="pf-m-action"}}
      {{#> form-group-control}}
        {{#> form-actions}}
          {{#> button button--modifier="pf-m-primary" button--IsSubmit="true"}}
            Submit form
          {{/button}}
          {{#> button button--modifier="pf-m-secondary" button--IsReset="true"}}
            Cancel
          {{/button}}
        {{/form-actions}}
      {{/form-group-control}}
    {{/form-group}}
  {{/form}}
{{/page-main-section}}
