@import "../../../../sass-utilities/themes/dark/all";

@mixin pf-v5-theme-dark-input-group() {
  .#{$input-group} {
    --#{$input-group}__item--BorderLeftWidth: var(--#{$input-group}__item--BorderWidth--base);
    --#{$input-group}__item--BorderLeftColor: var(--#{$pf-global}--palette--black-700);
    --#{$input-group}__item--m-box--BackgroundColor: var(--#{$pf-global}--BackgroundColor--400);
    --#{$input-group}__item--m-box--BorderTopColor: transparent;
    --#{$input-group}__item--m-box--BorderRightColor: transparent;
    --#{$input-group}__item--m-box--BorderBottomColor: var(--#{$pf-global}--BorderColor--400);
    --#{$input-group}__item--m-box--BorderLeftColor: transparent;
    --#{$input-group}__item--m-disabled--BackgroundColor: var(--#{$pf-global}--disabled-color--200);
    --#{$input-group}__item--m-disabled--BorderBottomColor: transparent;
    --#{$input-group}__item--m-disabled__text--Color: var(--#{$pf-global}--disabled-color--300);

    > * + * {
      --#{$input-group}__item--m-box--BorderLeftColor: var(--#{$input-group}__item--BorderLeftColor);

      border-inline-start: var(--#{$input-group}__item--BorderLeftWidth) solid var(--#{$input-group}__item--BorderLeftColor);
    }
  }
}
