{{#> list listType="ul" list--modifier="pf-m-avatar"}}
	<li>
        John Smith
       {{#> list-item-icon}}{{/list-item-icon}}
    </li>
	<li>
        Mary Davidson
        {{#> list-item-icon}}{{/list-item-icon}}
    </li>
	<li>
        James Williamson
        {{#> list-item-icon}}{{/list-item-icon}}
    </li>
    <li>
        Jo Brown
        {{#> list-item-icon}}{{/list-item-icon}}
    </li>
    <li>
        Andrew Davis
        {{#> list-item-icon}}{{/list-item-icon}}
    </li>
    <li>
        Lisa Miller
        {{#> list-item-icon}}{{/list-item-icon}}
    </li>
{{/list}}