{{#> list listType="ul"}}
	<li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
	<li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
	<li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.
		{{#> list listType="ul"}}
			<li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
			<li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
			<li>Ut venenatis, nisl scelerisque.
				{{#> list listType="ol"}}
					<li>Donec blandit a lorem id convallis.</li>
					<li>Cras gravida arcu at diam gravida gravida.</li>
					<li>Integer in volutpat libero.</li>
				{{/list}}
			</li>
		{{/list}}
	</li>
	<li>Ut non enim metus.</li>
{{/list}}
