{{#> list listType="ul"}}
	<li>
        {{#> list-item-text}}
            John Smith
            {{#> list-item-text-secondary}}
                Front End Developer
            {{/list-item-text-secondary}}
        {{/list-item-text}}
    </li>
	<li>
        {{#> list-item-text}}
            Mary Davidson
            {{#> list-item-text-secondary}}
                Visual Designer
            {{/list-item-text-secondary}}
        {{/list-item-text}}
    </li>
	<li>
        {{#> list-item-text}}
            James Williamson
            {{#> list-item-text-secondary}}
                Visual Designer
            {{/list-item-text-secondary}}
        {{/list-item-text}}
    </li>
    <li>
        {{#> list-item-text}}
            Jo Brown
            {{#> list-item-text-secondary}}
                UI Designer
            {{/list-item-text-secondary}}
        {{/list-item-text}}
    </li>
    <li>
        {{#> list-item-text}}
            Andrew Davis
            {{#> list-item-text-secondary}}
                Visual Designer
            {{/list-item-text-secondary}}
        {{/list-item-text}}
    </li>
    <li>
        {{#> list-item-text}}
            Lisa Miller
            {{#> list-item-text-secondary}}
                Front End Developer
            {{/list-item-text-secondary}}
        {{/list-item-text}}
    </li>
{{/list}}