{{#> list listType="ul"}}
	<li>
        {{#> list-item-text}}
            John Smith
            <p>Front End Developer</p>
        {{/list-item-text}}
    </li>
	<li>
        {{#> list-item-text}}
            Mary Davidson
            <p>Visual Designer</p>
        {{/list-item-text}}
    </li>
	<li>
        {{#> list-item-text}}
            James Williamson
            <p>Visual Designer</p>
        {{/list-item-text}}
    </li>
    <li>
        {{#> list-item-text}}
            Jo Brown
            <p>UI Designer</p>
        {{/list-item-text}}
    </li>
    <li>
        {{#> list-item-text}}
            Andrew Davis
            <p>Visual Designer</p>
        {{/list-item-text}}
    </li>
    <li>
        {{#> list-item-text}}
            Lisa Miller
            <p>Front End developer</p>
        {{/list-item-text}}
    </li>
{{/list}}