<div class="{{pfv}}background-image{{#if background-image--modifier}} {{background-image--modifier}}{{/if}}"
  {{#if background-image--attribute}}
    {{{background-image--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
