// @debug $background-image; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$background-image} {
  --#{$background-image}--BackgroundColor: var(--#{$pf-global}--BackgroundColor--dark-100);
  --#{$background-image}--BackgroundImage: none;
  --#{$background-image}--BackgroundPosition: bottom right;
  --#{$background-image}--BackgroundSize--min-width: 200px;
  --#{$background-image}--BackgroundSize--width: 60%;
  --#{$background-image}--BackgroundSize--max-width: 600px;
  --#{$background-image}--BackgroundSize: clamp(var(--#{$background-image}--BackgroundSize--min-width), var(--#{$background-image}--BackgroundSize--width), var(--#{$background-image}--BackgroundSize--max-width));

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--#{$background-image}--BackgroundColor);
  background-image: var(--#{$background-image}--BackgroundImage);
  background-repeat: no-repeat;
  background-size: var(--#{$background-image}--BackgroundSize);

  @include pf-v5-bidirectional-style(
    $prop: background-position,
    $ltr-val: var(--#{$background-image}--BackgroundPosition),
    $rtl-val: bottom left
  );
}
