<div class="pf-c-background-image{{#if background-image--modifier}} {{background-image--modifier}}{{/if}}"
  {{#if background-image--attribute}}
    {{{background-image--attribute}}}
  {{/if}}>
  {{> @partial-block}}

</div>