@import "../../patternfly-utilities";

.pf-c-background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("#{$pf-global--image-path}/pfbg_576.jpg");
  filter: url("#{$pf-global--image-path}/background-filter.svg#image_overlay");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $pf-global--breakpoint--sm) {
    background-image: url("#{$pf-global--image-path}/pfbg_768.jpg");
  }

  @media (min-width: $pf-global--breakpoint--md) {
    background-image: url("#{$pf-global--image-path}/pfbg_992.jpg");
  }

  @media (min-width: $pf-global--breakpoint--lg) {
    background-image: url("#{$pf-global--image-path}/pfbg_1200.jpg");
  }

  @media (min-width: $pf-global--breakpoint--xl) {
    background-image: url("#{$pf-global--image-path}/pfbg_2000.jpg");
  }
}
