<div class="documentation-sidebar">
  <h3>Pages</h3>
  {{#each data }}
      <h1>{{groups.[@key]}}</h1>
      {{#each this}}
        {{#if this}}
          <section>
            <h2>{{@key}}</h2>
            {{#each this}}
              <li>
                <a href="#module-{{@index}}">{{context.name}}</a>
              </li>
            {{/each}}
          </section>
        {{/if}}
      {{/each}}
  {{/each}}
  <nav>

  </nav>
</div>
