<span class="pf-c-expandable__toggle-text{{#if expandable-toggle-text--modifier}} {{expandable-toggle-text--modifier}}{{/if}}"
  {{#if expandable-toggle-text--attribute}}
    {{{expandable-toggle-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
