<button type="button" class="pf-c-expandable__toggle{{#if expandable-toggle--modifier}} {{expandable-toggle--modifier}}{{/if}}"
  {{#if expandable-toggle--attribute}}
    {{{expandable-toggle--attribute}}}
  {{/if}}
  {{#if expandable--IsExpanded}}
  aria-expanded="true"
  {{else}}
  aria-expanded="false"
  {{/if}}
  >
  {{> @partial-block}}
  {{#> expandable-toggle-icon}}{{/expandable-toggle-icon}}
  {{#if expandable--IsExpanded}}
    {{#> expandable-toggle-text}}
      Show less
    {{/expandable-toggle-text}}
  {{else}}
    {{#> expandable-toggle-text}}
      Show more
    {{/expandable-toggle-text}}
  {{/if}}
</button>
