<div class="pf-c-expandable__expanded{{#if expandable-expanded--modifier}} {{expandable-expanded--modifier}}{{/if}}"
  {{#if expandable-expanded--attribute}}
    {{{expandable-expanded--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
