<div class="pf-c-expandable {{#if expandable--IsExpanded}} pf-m-expanded{{/if}}{{#if expandable--modifier}} {{expandable--modifier}}{{/if}}"
  {{#if expandable--attribute}}
    {{{expandable--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
