<div class="pf-c-expandable__content{{#if expandable-content--modifier}} {{expandable-content--modifier}}{{/if}}"
  {{#unless expandable--IsExpanded}}hidden{{/unless}}
  {{#if expandable-content--attribute}}
    {{{expandable-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
