<span class="pf-c-expandable__toggle-icon{{#if expandable-toggle-icon--modifier}} {{expandable-toggle-icon--modifier}}{{/if}}"
  {{#if expandable-toggle-icon--attribute}}
    {{{expandable-toggle-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-angle-right" aria-hidden="true"></i>
</span>
