<div class="pf-c-expandable__toggle{{#if expandable-toggle--modifier}} {{expandable-toggle--modifier}}{{/if}}"
  {{#if expandable-toggle--attribute}}
    {{{expandable-toggle--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
