<div class="pf-c-expandable__footer {{#if expandable-footer--modifier}} {{expandable-footer--modifier}}{{/if}}"
  {{#if expandable-footer--attribute}}
    {{{expandable-footer--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
