<div class="pf-c-expandable__section{{#if expandable-section--modifier}} {{expandable-section--modifier}}{{/if}}"
  {{#if expandable-section--attribute}}
    {{{expandable-section--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
