<div class="pf-c-tabs-container">
  {{#> tabs tabs--attribute='aria-label="Secondary Tabs Example"' tabs-scroll-buttons--attribute='hidden'}}
    {{#> tabs-item tabs-item--attribute='id="ex3-tab1"' tabs-item--current="true"}}Tab item 1{{/tabs-item}}
    {{#> tabs-item tabs-item--attribute='id="ex3-tab2"'}}Tab item 2{{/tabs-item}}
    {{#> tabs-item tabs-item--attribute='id="ex3-tab3"'}}Tab item 3{{/tabs-item}}
  {{/tabs}}

  {{#> tabs tabs--modifier="pf-m-tabs-secondary" tabs--attribute='aria-label="Secondary Tabs Example"' tabs-scroll-buttons--attribute='hidden'}}
    {{#> tabs-item tabs-item--attribute='id="ex3-secondary-tab1"' tabs-item--current="true"}}Secondary tab item 1{{/tabs-item}}
    {{#> tabs-item tabs-item--attribute='id="ex3-secondary-tab2"'}}Secondary tab item 2{{/tabs-item}}
    {{#> tabs-item tabs-item--attribute='id="ex3-secondary-tab3"'}}Secondary tab item 3{{/tabs-item}}
  {{/tabs}}
</div>