// color palette changes
$pf-v5-color-black-50: #e0e0e0;
$pf-v5-color-black-100: #c6c7c8;
$pf-v5-color-black-200: #aaabac;
$pf-v5-color-black-300: #868789;
$pf-v5-color-black-400: #57585a;
$pf-v5-color-black-500: #444548;
$pf-v5-color-black-600: #36373a;
$pf-v5-color-black-700: #26292d;
$pf-v5-color-black-800: #1b1d21;
$pf-v5-color-black-850: #212427;
$pf-v5-color-black-900: #0f1214;
$pf-v5-color-black-1000: #030303;
$pf-v5-color-red-9999: #fe5142;
$pf-v5-color-red-8888: #ff7468;
$pf-v5-color-blue-300: #1fa7f8;
