%pf-theme-dark--t-dark {
  // global
  --pf-global--Color--100: #{$pf-global--Color--100};
  --pf-global--Color--200: #{$pf-global--Color--200};
  --pf-global--BorderColor--100: #{$pf-global--BorderColor--100};
  --pf-global--primary-color--100: #{$pf-global--primary-color--100};
  --pf-global--link--Color: #{$pf-global--link--Color};
  --pf-global--link--Color--hover: #{$pf-global--link--Color--hover};
  --pf-global--BackgroundColor--100: #{$pf-global--BackgroundColor--100};
}
