// pf-c-block__element--modifier--state--PropiertyCamel

// /// A description of pf-c-vertical-nav
// /// @group components
// /// @moduleType component
// /// @modifier .is-modifier - An example modifier description
// /// @modifier .is-another-modifier - Another example modifier description
// /// @template src/components/pf-c-vertical-nav/pf-c-vertical-nav.html
// /// @todo Accecibility for vertical nav
//

// stylelint-disable
:root {
  --pf-c-vertical-nav__link--PaddingTop:        var(--pf-global--spacer--lg);
  --pf-c-vertical-nav__link--PaddingBottom:     var(--pf-global--spacer--lg);
  --pf-c-vertical-nav__link--MarginTop:         var(--global-spacer--xxl);
  --pf-c-vertical-nav__link--MarginBottom:      var(--global-spacer--xxl);
  --pf-c-vertical-nav__link--Color:             var(--pf-global--Color--dark-alt);
  --pf-c-vertical-nav__link--active--Color:     var(--pf-global--Color--dark);
  --pf-c-vertical-nav__link--disabled--Color:   var(--pf-global--Color--disabled);
  --pf-c-vertical-nav__link--hover--Color:      var(--pf-global--Color--dark);
  --pf-c-vertical-nav__link-icon--PaddingRight: var(--pf-global--spacer--xxxl);
}

// stylelint-enable

.pf-c-vertical-nav {

  &__content {
    // reset list
    padding-left: 0;
    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: $pf-global--spacer--lg;
    padding-bottom: var(--pf-c-vertical-nav__link--PaddingBottom, .8rem);
    margin-top: var(--pf-c-vertical-nav__link--MarginTop, 2rem);
    margin-bottom: var(--pf-c-vertical-nav__link--MarginBottom, 2rem);
    color: var(--pf-c-vertical-nav__link--Color, #555);
    text-decoration: none;

    &:hover {
      color: var(--pf-c-vertical-nav__link--hover--Color, #000);
      text-decoration: none;
    }

    &-text {
    }

    &-icon {
      // placeholderfor an icon
      flex: 0 0 20px; //delete when we have icons
      height: 20px; //delete when we have icons
      margin-right: var(--pf-c-vertical-nav__link-icon--PaddingRight, 1.5rem);
      background: $pf-color-black-400; //delete when we have icons
    }

    &.pf-is-active {
      position: relative;

      // Since we are still unsure about the active state I am going to leave it hardcoded
      &::before {
        position: absolute;
        bottom: 0;
        left: calc(20px + var(--pf-c-vertical-nav__link-icon--PaddingRight));
        width: 32px;
        height: 4px;
        content: "";
        background-color: $pf-global--link--Color;
      }
    }

  }
}

.pf-is-active {
  --pf-c-vertical-nav__link--Color: var(--pf-c-vertical-nav__link--active--Color, #39a5dc);
}

.pf-is-disabled {
  --pf-c-vertical-nav__link--Color: var(--pf-c-vertical-nav__link--disabled--Color, #ccc);
}

// Sub menu
//
.pf-vertical-sub-nav {
  display: none; // we don't know how the submenu looks like yet
}
// .pf-vertical-sub-nav {`
//   // padding-left: 1em;
//   @include media-breakpoint-up(sm) {
//     position: absolute;
//     top: 0;
//     right: -$pf-vertical-sub-nav-width;
//     width: $pf-vertical-sub-nav-width;
//     padding: $pf-vertical-sub-nav-padding;
//   }
//
//   &--first {
//     background-color: $pf-vertical-sub-nav-first-bg-color;
//   }
//
//   &--second {
//     background-color: $pf-color-black-600;
//   }
//
//   &--thrid {
//     background-color: $pf-color-black-500;
//   }
// }
//
// .pf-vertical-sub-nav__title {
//   display: none;
//   @include media-breakpoint-up(sm) {
//     display: block;
//   }
// }
//
// .pf-vertical-sub-nav__content {
//   @include list-unstyled;
// }
//
// .pf-vertical-sub-nav__item {}
//
// .pf-vertical-sub-nav__`link {
//   display: block;
//   padding: $pf-vertical-sub-nav-link-padding-y $pf-vertical-sub-nav-link-padding-x;
//   color: $pf-vertical-sub-nav-link-hover-color;
//
//   @include hover-focus {
//     background-color: $pf-vertical-sub-nav-link-hover-bg-color;
//   }
//
//   @include media-breakpoint-up(sm) {
//     margin-right: -$pf-vertical-sub-nav-padding; // To compensate for the padding on the __content wrapper
//     &.pf-is-active {
//       background-color: $pf-color-black-600;
//
//       .pf-vertical-sub-nav--second & {
//         background-color: $pf-color-black-700;
//       }
//     }
//   }
// }
