#ws-core-e-log-viewer-with-popover-open .ws-preview-html {
  position: relative;
}

#ws-core-e-log-viewer-with-popover-open .pf-v5-c-popover {
  display: none;
  position: absolute;
  z-index: 9999;
 inset-block-start: 52px;
 inset-inline-end: 78px;
}

@media screen and (min-width: 992px) {
  #ws-core-e-log-viewer-with-popover-open .pf-v5-c-popover {
    display: block;
  }
}
