// @debug $button; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$button} {
  // Component
  --#{$button}--PaddingTop: var(--#{$pf-global}--spacer--form-element);
  --#{$button}--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$button}--PaddingBottom: var(--#{$pf-global}--spacer--form-element);
  --#{$button}--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$button}--LineHeight: var(--#{$pf-global}--LineHeight--md);
  --#{$button}--FontWeight: var(--#{$pf-global}--FontWeight--normal);
  --#{$button}--FontSize: var(--#{$pf-global}--FontSize--md);
  --#{$button}--BackgroundColor: transparent;
  --#{$button}--BorderRadius: var(--#{$pf-global}--BorderRadius--sm);
  --#{$button}--after--BorderRadius: var(--#{$pf-global}--BorderRadius--sm);
  --#{$button}--after--BorderColor: transparent;
  --#{$button}--after--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);

  // Hover state variables
  --#{$button}--hover--after--BorderWidth: var(--#{$pf-global}--BorderWidth--md);

  // Focus state variables
  --#{$button}--focus--after--BorderWidth: var(--#{$pf-global}--BorderWidth--md);

  // Active state variables
  --#{$button}--active--after--BorderWidth: var(--#{$pf-global}--BorderWidth--md);

  // Disabled state variables
  --#{$button}--disabled--Color: var(--#{$pf-global}--disabled-color--100);
  --#{$button}--disabled--BackgroundColor: var(--#{$pf-global}--disabled-color--200);
  --#{$button}--disabled--after--BorderColor: transparent;

  // Primary btn
  --#{$button}--m-primary--BackgroundColor: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-primary--Color: var(--#{$pf-global}--Color--light-100);
  --#{$button}--m-primary--hover--BackgroundColor: var(--#{$pf-global}--primary-color--200);
  --#{$button}--m-primary--hover--Color: var(--#{$pf-global}--Color--light-100);
  --#{$button}--m-primary--focus--BackgroundColor: var(--#{$pf-global}--primary-color--200);
  --#{$button}--m-primary--focus--Color: var(--#{$pf-global}--Color--light-100);
  --#{$button}--m-primary--active--BackgroundColor: var(--#{$pf-global}--primary-color--200);
  --#{$button}--m-primary--active--Color: var(--#{$pf-global}--Color--light-100);

  // Secondary btn
  --#{$button}--m-secondary--BackgroundColor: transparent;
  --#{$button}--m-secondary--after--BorderColor: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-secondary--Color: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-secondary--hover--BackgroundColor: transparent;
  --#{$button}--m-secondary--hover--after--BorderColor: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-secondary--hover--Color: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-secondary--focus--BackgroundColor: transparent;
  --#{$button}--m-secondary--focus--after--BorderColor: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-secondary--focus--Color: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-secondary--active--BackgroundColor: transparent;
  --#{$button}--m-secondary--active--after--BorderColor: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-secondary--active--Color: var(--#{$pf-global}--primary-color--100);

  // Secondary danger
  --#{$button}--m-secondary--m-danger--BackgroundColor: transparent;
  --#{$button}--m-secondary--m-danger--Color: var(--#{$pf-global}--danger-color--100);
  --#{$button}--m-secondary--m-danger--after--BorderColor: var(--#{$pf-global}--danger-color--100);
  --#{$button}--m-secondary--m-danger--hover--BackgroundColor: transparent;
  --#{$button}--m-secondary--m-danger--hover--Color: var(--#{$pf-global}--danger-color--200);
  --#{$button}--m-secondary--m-danger--hover--after--BorderColor: var(--#{$pf-global}--danger-color--100);
  --#{$button}--m-secondary--m-danger--focus--BackgroundColor: transparent;
  --#{$button}--m-secondary--m-danger--focus--Color: var(--#{$pf-global}--danger-color--200);
  --#{$button}--m-secondary--m-danger--focus--after--BorderColor: var(--#{$pf-global}--danger-color--100);
  --#{$button}--m-secondary--m-danger--active--BackgroundColor: transparent;
  --#{$button}--m-secondary--m-danger--active--Color: var(--#{$pf-global}--danger-color--200);
  --#{$button}--m-secondary--m-danger--active--after--BorderColor: var(--#{$pf-global}--danger-color--100);

  // Tertiary btn
  --#{$button}--m-tertiary--BackgroundColor: transparent;
  --#{$button}--m-tertiary--after--BorderColor: var(--#{$pf-global}--Color--100);
  --#{$button}--m-tertiary--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-tertiary--hover--BackgroundColor: transparent;
  --#{$button}--m-tertiary--hover--after--BorderColor: var(--#{$pf-global}--Color--100);
  --#{$button}--m-tertiary--hover--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-tertiary--focus--BackgroundColor: transparent;
  --#{$button}--m-tertiary--focus--after--BorderColor: var(--#{$pf-global}--Color--100);
  --#{$button}--m-tertiary--focus--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-tertiary--active--BackgroundColor: transparent;
  --#{$button}--m-tertiary--active--after--BorderColor: var(--#{$pf-global}--Color--100);
  --#{$button}--m-tertiary--active--Color: var(--#{$pf-global}--Color--100);

  // Warning btn
  --#{$button}--m-warning--BackgroundColor: var(--#{$pf-global}--warning-color--100);
  --#{$button}--m-warning--Color: var(--#{$pf-global}--Color--dark-100);
  --#{$button}--m-warning--hover--BackgroundColor: var(--#{$pf-global}--palette--gold-500);
  --#{$button}--m-warning--hover--Color: var(--#{$pf-global}--Color--dark-100);
  --#{$button}--m-warning--focus--BackgroundColor: var(--#{$pf-global}--palette--gold-500);
  --#{$button}--m-warning--focus--Color: var(--#{$pf-global}--Color--dark-100);
  --#{$button}--m-warning--active--BackgroundColor: var(--#{$pf-global}--palette--gold-500);
  --#{$button}--m-warning--active--Color: var(--#{$pf-global}--Color--dark-100);

  // Danger btn
  --#{$button}--m-danger--BackgroundColor: var(--#{$pf-global}--danger-color--100);
  --#{$button}--m-danger--Color: var(--#{$pf-global}--Color--light-100);
  --#{$button}--m-danger--hover--BackgroundColor: var(--#{$pf-global}--danger-color--200);
  --#{$button}--m-danger--hover--Color: var(--#{$pf-global}--Color--light-100);
  --#{$button}--m-danger--focus--BackgroundColor: var(--#{$pf-global}--danger-color--200);
  --#{$button}--m-danger--focus--Color: var(--#{$pf-global}--Color--light-100);
  --#{$button}--m-danger--active--BackgroundColor: var(--#{$pf-global}--danger-color--200);
  --#{$button}--m-danger--active--Color: var(--#{$pf-global}--Color--light-100);

  // Link btn
  --#{$button}--m-link--BackgroundColor: transparent;
  --#{$button}--m-link--Color: var(--#{$pf-global}--link--Color);
  --#{$button}--m-link--hover--BackgroundColor: transparent;
  --#{$button}--m-link--hover--Color: var(--#{$pf-global}--link--Color--hover);
  --#{$button}--m-link--focus--BackgroundColor: transparent;
  --#{$button}--m-link--focus--Color: var(--#{$pf-global}--link--Color--hover);
  --#{$button}--m-link--active--BackgroundColor: transparent;
  --#{$button}--m-link--active--Color: var(--#{$pf-global}--link--Color--hover);
  --#{$button}--m-link--disabled--BackgroundColor: transparent;
  --#{$button}--m-link--disabled--Color: var(--#{$pf-global}--disabled-color--100);
  --#{$button}--m-link--m-inline--FontSize: inherit;
  --#{$button}--m-link--m-inline--hover--TextDecoration: var(--#{$pf-global}--link--TextDecoration--hover);
  --#{$button}--m-link--m-inline--hover--Color: var(--#{$pf-global}--link--Color--hover);
  --#{$button}--m-link--m-inline--PaddingTop: 0;
  --#{$button}--m-link--m-inline--PaddingRight: 0;
  --#{$button}--m-link--m-inline--PaddingBottom: 0;
  --#{$button}--m-link--m-inline--PaddingLeft: 0;
  --#{$button}--m-link--m-inline__progress--Left: var(--#{$pf-global}--spacer--xs);
  --#{$button}--m-link--m-inline--m-in-progress--PaddingLeft: calc(var(--#{$button}--m-link--m-inline__progress--Left) + 1rem + var(--#{$pf-global}--spacer--sm));

  // Link danger
  --#{$button}--m-link--m-danger--BackgroundColor: transparent;
  --#{$button}--m-link--m-danger--Color: var(--#{$pf-global}--danger-color--100);
  --#{$button}--m-link--m-danger--hover--BackgroundColor: transparent;
  --#{$button}--m-link--m-danger--hover--Color: var(--#{$pf-global}--danger-color--200);
  --#{$button}--m-link--m-danger--focus--BackgroundColor: transparent;
  --#{$button}--m-link--m-danger--focus--Color: var(--#{$pf-global}--danger-color--200);
  --#{$button}--m-link--m-danger--active--BackgroundColor: transparent;
  --#{$button}--m-link--m-danger--active--Color: var(--#{$pf-global}--danger-color--200);

  // Plain btn
  --#{$button}--m-plain--BackgroundColor: transparent;
  --#{$button}--m-plain--Color: var(--#{$pf-global}--Color--200);
  --#{$button}--m-plain--hover--BackgroundColor: transparent;
  --#{$button}--m-plain--hover--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-plain--focus--BackgroundColor: transparent;
  --#{$button}--m-plain--focus--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-plain--active--BackgroundColor: transparent;
  --#{$button}--m-plain--active--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-plain--disabled--Color: var(--#{$pf-global}--disabled-color--200);
  --#{$button}--m-plain--disabled--BackgroundColor: transparent;

  // Control Button
  --#{$button}--m-control--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$button}--m-control--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-control--BorderRadius: 0;
  --#{$button}--m-control--after--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$button}--m-control--after--BorderTopColor: var(--#{$pf-global}--BorderColor--300);
  --#{$button}--m-control--after--BorderRightColor: var(--#{$pf-global}--BorderColor--300);
  --#{$button}--m-control--after--BorderBottomColor: var(--#{$pf-global}--BorderColor--200);
  --#{$button}--m-control--after--BorderLeftColor: var(--#{$pf-global}--BorderColor--300);
  --#{$button}--m-control--disabled--BackgroundColor: var(--#{$pf-global}--disabled-color--300);
  --#{$button}--m-control--hover--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$button}--m-control--hover--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-control--hover--after--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--md);
  --#{$button}--m-control--hover--after--BorderBottomColor: var(--#{$pf-global}--active-color--100);
  --#{$button}--m-control--active--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$button}--m-control--active--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-control--active--after--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--md);
  --#{$button}--m-control--active--after--BorderBottomColor: var(--#{$pf-global}--active-color--100);
  --#{$button}--m-control--focus--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$button}--m-control--focus--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-control--focus--after--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--md);
  --#{$button}--m-control--focus--after--BorderBottomColor: var(--#{$pf-global}--active-color--100);
  --#{$button}--m-control--m-expanded--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$button}--m-control--m-expanded--Color: var(--#{$pf-global}--Color--100);
  --#{$button}--m-control--m-expanded--after--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--md);
  --#{$button}--m-control--m-expanded--after--BorderBottomColor: var(--#{$pf-global}--active-color--100);
  --#{$button}--m-small--FontSize: var(--#{$pf-global}--FontSize--sm);

  // CTA Button
  --#{$button}--m-display-lg--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$button}--m-display-lg--PaddingRight: var(--#{$pf-global}--spacer--xl);
  --#{$button}--m-display-lg--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$button}--m-display-lg--PaddingLeft: var(--#{$pf-global}--spacer--xl);
  --#{$button}--m-display-lg--FontWeight: var(--#{$pf-global}--FontWeight--bold);
  --#{$button}--m-link--m-display-lg--FontSize: var(--#{$pf-global}--FontSize--lg);

  // Styles for an icon in button
  --#{$button}__icon--m-start--MarginRight: var(--#{$pf-global}--spacer--xs);
  --#{$button}__icon--m-end--MarginLeft: var(--#{$pf-global}--spacer--xs);

  // Progress
  --#{$button}__progress--width: calc(var(--#{$pf-global}--icon--FontSize--md) + var(--#{$pf-global}--spacer--sm)); // matches medium spinner diameter plus a spacer
  --#{$button}__progress--Opacity: 0;
  --#{$button}__progress--TranslateY: -50%;
  --#{$button}__progress--TranslateX: 0;
  --#{$button}__progress--Top: 50%;
  --#{$button}__progress--Left: var(--#{$pf-global}--spacer--md);
  --#{$button}--m-progress--TransitionProperty: padding;
  --#{$button}--m-progress--TransitionDuration: var(--#{$pf-global}--TransitionDuration);
  --#{$button}--m-progress--PaddingRight: calc(var(--#{$pf-global}--spacer--md) + var(--#{$button}__progress--width) / 2);
  --#{$button}--m-progress--PaddingLeft: calc(var(--#{$pf-global}--spacer--md) + var(--#{$button}__progress--width) / 2);
  --#{$button}--m-in-progress--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$button}--m-in-progress--PaddingLeft: calc(var(--#{$pf-global}--spacer--md) + var(--#{$button}__progress--width));
  --#{$button}--m-in-progress--m-plain--Color: var(--#{$pf-global}--primary-color--100);
  --#{$button}--m-in-progress--m-plain__progress--Left: 50%;
  --#{$button}--m-in-progress--m-plain__progress--TranslateX: -50%;

  // Count
  --#{$button}__count--MarginLeft: var(--#{$pf-global}--spacer--sm);
  --#{$button}--disabled__c-badge--Color: var(--#{$pf-global}--Color--dark-100);
  --#{$button}--disabled__c-badge--BackgroundColor: var(--#{$pf-global}--BackgroundColor--200);
  --#{$button}--m-primary__c-badge--BorderColor: var(--#{$pf-global}--BorderColor--300);
  --#{$button}--m-primary__c-badge--BorderWidth: var(--#{$pf-global}--BorderWidth--sm); // used only for primary, unread, not disabled

  position: relative;
  display: inline-block;
  padding-block-start: var(--#{$button}--PaddingTop);
  padding-block-end: var(--#{$button}--PaddingBottom);
  padding-inline-start: var(--#{$button}--PaddingLeft);
  padding-inline-end: var(--#{$button}--PaddingRight);
  font-size: var(--#{$button}--FontSize);
  font-weight: var(--#{$button}--FontWeight);
  line-height: var(--#{$button}--LineHeight);
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 0;
  border-radius: var(--#{$button}--BorderRadius);

  &::after {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    pointer-events: none;
    content: "";
    border: var(--#{$button}--after--BorderWidth) solid;
    border-color: var(--#{$button}--after--BorderColor);
    border-radius: var(--#{$button}--after--BorderRadius);
  }

  &:hover {
    --#{$button}--after--BorderWidth: var(--#{$button}--hover--after--BorderWidth);

    text-decoration: none;
  }

  &:focus {
    --#{$button}--after--BorderWidth: var(--#{$button}--focus--after--BorderWidth);
  }

  &:active,
  &.pf-m-active {
    --#{$button}--after--BorderWidth: var(--#{$button}--active--after--BorderWidth);
  }

  &.pf-m-block {
    display: block;
    width: 100%;
  }

  &.pf-m-small {
    --#{$button}--FontSize: var(--#{$button}--m-small--FontSize);
  }

  &.pf-m-primary,
  &.pf-m-secondary,
  &.pf-m-tertiary,
  &.pf-m-link {
    &.pf-m-display-lg {
      --#{$button}--PaddingTop: var(--#{$button}--m-display-lg--PaddingTop);
      --#{$button}--PaddingRight: var(--#{$button}--m-display-lg--PaddingRight);
      --#{$button}--PaddingBottom: var(--#{$button}--m-display-lg--PaddingBottom);
      --#{$button}--PaddingLeft: var(--#{$button}--m-display-lg--PaddingLeft);
      --#{$button}--FontWeight: var(--#{$button}--m-display-lg--FontWeight);
    }
  }

  // Primary buttons
  &.pf-m-primary {
    color: var(--#{$button}--m-primary--Color);
    background-color: var(--#{$button}--m-primary--BackgroundColor);

    &:hover {
      --#{$button}--m-primary--Color: var(--#{$button}--m-primary--hover--Color);
      --#{$button}--m-primary--BackgroundColor: var(--#{$button}--m-primary--hover--BackgroundColor);
    }

    &:focus {
      --#{$button}--m-primary--Color: var(--#{$button}--m-primary--focus--Color);
      --#{$button}--m-primary--BackgroundColor: var(--#{$button}--m-primary--focus--BackgroundColor);
    }

    &:active,
    &.pf-m-active {
      --#{$button}--m-primary--Color: var(--#{$button}--m-primary--active--Color);
      --#{$button}--m-primary--BackgroundColor: var(--#{$button}--m-primary--active--BackgroundColor);
    }

    .#{$badge}.pf-m-unread {
      border: var(--#{$button}--m-primary__c-badge--BorderWidth) solid var(--#{$button}--m-primary__c-badge--BorderColor);
    }
  }

  // Secondary buttons
  &.pf-m-secondary {
    --#{$button}--after--BorderColor: var(--#{$button}--m-secondary--after--BorderColor);

    color: var(--#{$button}--m-secondary--Color);
    background-color: var(--#{$button}--m-secondary--BackgroundColor);

    &:hover {
      --#{$button}--m-secondary--Color: var(--#{$button}--m-secondary--hover--Color);
      --#{$button}--m-secondary--BackgroundColor: var(--#{$button}--m-secondary--hover--BackgroundColor);
      --#{$button}--after--BorderColor: var(--#{$button}--m-secondary--hover--after--BorderColor);
    }

    &:focus {
      --#{$button}--m-secondary--Color: var(--#{$button}--m-secondary--focus--Color);
      --#{$button}--m-secondary--BackgroundColor: var(--#{$button}--m-secondary--focus--BackgroundColor);
      --#{$button}--after--BorderColor: var(--#{$button}--m-secondary--focus--after--BorderColor);
    }

    &.pf-m-active,
    &:active {
      --#{$button}--m-secondary--Color: var(--#{$button}--m-secondary--active--Color);
      --#{$button}--m-secondary--BackgroundColor: var(--#{$button}--m-secondary--active--BackgroundColor);
      --#{$button}--after--BorderColor: var(--#{$button}--m-secondary--active--after--BorderColor);
    }
  }

  // Tertiary buttons
  &.pf-m-tertiary {
    --#{$button}--after--BorderColor: var(--#{$button}--m-tertiary--after--BorderColor);

    color: var(--#{$button}--m-tertiary--Color);
    background-color: var(--#{$button}--m-tertiary--BackgroundColor);

    &:hover {
      --#{$button}--m-tertiary--Color: var(--#{$button}--m-tertiary--hover--Color);
      --#{$button}--m-tertiary--BackgroundColor: var(--#{$button}--m-tertiary--hover--BackgroundColor);
      --#{$button}--after--BorderColor: var(--#{$button}--m-tertiary--hover--after--BorderColor);
    }

    &:focus {
      --#{$button}--m-tertiary--Color: var(--#{$button}--m-tertiary--focus--Color);
      --#{$button}--m-tertiary--BackgroundColor: var(--#{$button}--m-tertiary--focus--BackgroundColor);
      --#{$button}--after--BorderColor: var(--#{$button}--m-tertiary--focus--after--BorderColor);
    }

    &:active,
    &.pf-m-active {
      --#{$button}--m-tertiary--Color: var(--#{$button}--m-tertiary--active--Color);
      --#{$button}--m-tertiary--BackgroundColor: var(--#{$button}--m-tertiary--active--BackgroundColor);
      --#{$button}--after--BorderColor: var(--#{$button}--m-tertiary--active--after--BorderColor);
    }
  }

  // Link buttons
  &.pf-m-link {
    --#{$button}--disabled--BackgroundColor: var(--#{$button}--m-link--disabled--BackgroundColor);
    --#{$button}--disabled--Color: var(--#{$button}--m-link--disabled--Color);

    color: var(--#{$button}--m-link--Color);
    background-color: var(--#{$button}--m-link--BackgroundColor);

    &:not(.pf-m-inline) {
      &:hover {
        --#{$button}--m-link--Color: var(--#{$button}--m-link--hover--Color);
        --#{$button}--m-link--BackgroundColor: var(--#{$button}--m-link--hover--BackgroundColor);
      }

      &:focus {
        --#{$button}--m-link--Color: var(--#{$button}--m-link--focus--Color);
        --#{$button}--m-link--BackgroundColor: var(--#{$button}--m-link--focus--BackgroundColor);
      }

      &:active,
      &.pf-m-active {
        --#{$button}--m-link--Color: var(--#{$button}--m-link--active--Color);
        --#{$button}--m-link--BackgroundColor: var(--#{$button}--m-link--active--BackgroundColor);
      }
    }

    &.pf-m-inline {
      --#{$button}--FontSize: var(--#{$button}--m-link--m-inline--FontSize);
      --#{$button}__progress--Left: var(--#{$button}--m-link--m-inline__progress--Left);

      display: inline;
      padding-block-start: var(--#{$button}--m-link--m-inline--PaddingTop);
      padding-block-end: var(--#{$button}--m-link--m-inline--PaddingBottom);
      padding-inline-start: var(--#{$button}--m-link--m-inline--PaddingLeft);
      padding-inline-end: var(--#{$button}--m-link--m-inline--PaddingRight);
      text-align: start;
      white-space: normal;
      cursor: pointer;

      &:hover {
        --#{$button}--m-link--Color: var(--#{$button}--m-link--m-inline--hover--Color);

        text-decoration: var(--#{$button}--m-link--m-inline--hover--TextDecoration);
      }
    }

    &.pf-m-display-lg {
      --#{$button}--FontSize: var(--#{$button}--m-link--m-display-lg--FontSize);
    }
  }

  // Danger buttons
  &.pf-m-danger {
    color: var(--#{$button}--m-danger--Color);
    background-color: var(--#{$button}--m-danger--BackgroundColor);

    &:hover {
      --#{$button}--m-danger--Color: var(--#{$button}--m-danger--hover--Color);
      --#{$button}--m-danger--BackgroundColor: var(--#{$button}--m-danger--hover--BackgroundColor);
    }

    &:focus {
      --#{$button}--m-danger--Color: var(--#{$button}--m-danger--focus--Color);
      --#{$button}--m-danger--BackgroundColor: var(--#{$button}--m-danger--focus--BackgroundColor);
    }

    &:active,
    &.pf-m-active {
      --#{$button}--m-danger--Color: var(--#{$button}--m-danger--active--Color);
      --#{$button}--m-danger--BackgroundColor: var(--#{$button}--m-danger--active--BackgroundColor);
    }

    // Secondary danger
    &.pf-m-secondary {
      --#{$button}--m-danger--Color: var(--#{$button}--m-secondary--m-danger--Color);
      --#{$button}--m-danger--BackgroundColor: var(--#{$button}--m-secondary--m-danger--BackgroundColor);
      --#{$button}--after--BorderColor: var(--#{$button}--m-secondary--m-danger--after--BorderColor);

      &:hover {
        --#{$button}--m-secondary--m-danger--Color: var(--#{$button}--m-secondary--m-danger--hover--Color);
        --#{$button}--m-secondary--m-danger--BackgroundColor: var(--#{$button}--m-secondary--m-danger--hover--BackgroundColor);
        --#{$button}--after--BorderColor: var(--#{$button}--m-secondary--m-danger--hover--after--BorderColor);
      }

      &:focus {
        --#{$button}--m-secondary--m-danger--Color: var(--#{$button}--m-secondary--m-danger--focus--Color);
        --#{$button}--m-secondary--m-danger--BackgroundColor: var(--#{$button}--m-secondary--m-danger--focus--BackgroundColor);
        --#{$button}--after--BorderColor: var(--#{$button}--m-secondary--m-danger--focus--after--BorderColor);
      }

      &:active,
      &.pf-m-active {
        --#{$button}--m-secondary--m-danger--Color: var(--#{$button}--m-secondary--m-danger--active--Color);
        --#{$button}--m-secondary--m-danger--BackgroundColor: var(--#{$button}--m-secondary--m-danger--active--BackgroundColor);
        --#{$button}--after--BorderColor: var(--#{$button}--m-secondary--m-danger--active--after--BorderColor);
      }
    }

    // Link danger
    &.pf-m-link {
      --#{$button}--m-danger--Color: var(--#{$button}--m-link--m-danger--Color);
      --#{$button}--m-danger--BackgroundColor: var(--#{$button}--m-link--m-danger--BackgroundColor);

      &:hover {
        --#{$button}--m-link--m-danger--Color: var(--#{$button}--m-link--m-danger--hover--Color);
        --#{$button}--m-link--m-danger--BackgroundColor: var(--#{$button}--m-link--m-danger--hover--BackgroundColor);
      }

      &:focus {
        --#{$button}--m-link--m-danger--Color: var(--#{$button}--m-link--m-danger--focus--Color);
        --#{$button}--m-link--m-danger--BackgroundColor: var(--#{$button}--m-link--m-danger--focus--BackgroundColor);
      }

      &:active,
      &.pf-m-active {
        --#{$button}--m-link--m-danger--Color: var(--#{$button}--m-link--m-danger--active--Color);
        --#{$button}--m-link--m-danger--BackgroundColor: var(--#{$button}--m-link--m-danger--active--BackgroundColor);
      }
    }
  }

  // Warning buttons
  &.pf-m-warning {
    color: var(--#{$button}--m-warning--Color);
    background-color: var(--#{$button}--m-warning--BackgroundColor);

    &:hover {
      --#{$button}--m-warning--Color: var(--#{$button}--m-warning--hover--Color);
      --#{$button}--m-warning--BackgroundColor: var(--#{$button}--m-warning--hover--BackgroundColor);
    }

    &:focus {
      --#{$button}--m-warning--Color: var(--#{$button}--m-warning--focus--Color);
      --#{$button}--m-warning--BackgroundColor: var(--#{$button}--m-warning--focus--BackgroundColor);
    }

    &:active,
    &.pf-m-active {
      --#{$button}--m-warning--Color: var(--#{$button}--m-warning--active--Color);
      --#{$button}--m-warning--BackgroundColor: var(--#{$button}--m-warning--active--BackgroundColor);
    }
  }

  &.pf-m-control {
    --#{$button}--BorderRadius: var(--#{$button}--m-control--BorderRadius);
    --#{$button}--disabled--BackgroundColor: var(--#{$button}--m-control--disabled--BackgroundColor);
    --#{$button}--after--BorderWidth: var(--#{$button}--m-control--after--BorderWidth);
    --#{$button}--after--BorderColor: var(--#{$button}--m-control--after--BorderTopColor) var(--#{$button}--m-control--after--BorderRightColor) var(--#{$button}--m-control--after--BorderBottomColor) var(--#{$button}--m-control--after--BorderLeftColor);

    color: var(--#{$button}--m-control--Color);
    background-color: var(--#{$button}--m-control--BackgroundColor);

    &::after {
      border-radius: initial;
    }

    &:hover {
      --#{$button}--m-control--Color: var(--#{$button}--m-control--hover--Color);
      --#{$button}--m-control--BackgroundColor: var(--#{$button}--m-control--hover--BackgroundColor);
      --#{$button}--m-control--after--BorderBottomColor: var(--#{$button}--m-control--hover--after--BorderBottomColor);

      &::after {
        border-block-end-width: var(--#{$button}--m-control--hover--after--BorderBottomWidth);
      }
    }

    &:active,
    &.pf-m-active {
      --#{$button}--m-control--Color: var(--#{$button}--m-control--active--Color);
      --#{$button}--m-control--BackgroundColor: var(--#{$button}--m-control--active--BackgroundColor);
      --#{$button}--m-control--after--BorderBottomColor: var(--#{$button}--m-control--active--after--BorderBottomColor);

      &::after {
        border-block-end-width: var(--#{$button}--m-control--active--after--BorderBottomWidth);
      }
    }

    &:focus {
      --#{$button}--m-control--Color: var(--#{$button}--m-control--focus--Color);
      --#{$button}--m-control--BackgroundColor: var(--#{$button}--m-control--focus--BackgroundColor);
      --#{$button}--m-control--after--BorderBottomColor: var(--#{$button}--m-control--focus--after--BorderBottomColor);

      &::after {
        border-block-end-width: var(--#{$button}--m-control--focus--after--BorderBottomWidth);
      }
    }

    &.pf-m-expanded {
      --#{$button}--m-control--Color: var(--#{$button}--m-control--m-expanded--Color);
      --#{$button}--m-control--BackgroundColor: var(--#{$button}--m-control--m-expanded--BackgroundColor);
      --#{$button}--m-control--after--BorderBottomColor: var(--#{$button}--m-control--m-expanded--after--BorderBottomColor);

      &::after {
        border-block-end-width: var(--#{$button}--m-control--m-expanded--after--BorderBottomWidth);
      }
    }
  }

  // Icon buttons
  &.pf-m-plain {
    --#{$button}--disabled--Color: var(--#{$button}--m-plain--disabled--Color);
    --#{$button}--disabled--BackgroundColor: var(--#{$button}--m-plain--disabled--BackgroundColor);

    color: var(--#{$button}--m-plain--Color);
    background-color: var(--#{$button}--m-plain--BackgroundColor);

    &.pf-m-no-padding {
      padding: 0;
    }

    &:hover {
      --#{$button}--m-plain--Color: var(--#{$button}--m-plain--hover--Color);
      --#{$button}--m-plain--BackgroundColor: var(--#{$button}--m-plain--hover--BackgroundColor);
    }

    &:active,
    &.pf-m-active {
      --#{$button}--m-plain--Color: var(--#{$button}--m-plain--active--Color);
      --#{$button}--m-plain--BackgroundColor: var(--#{$button}--m-plain--active--BackgroundColor);
    }

    &:focus {
      --#{$button}--m-plain--Color: var(--#{$button}--m-plain--focus--Color);
      --#{$button}--m-plain--BackgroundColor: var(--#{$button}--m-plain--focus--BackgroundColor);
    }
  }

  // Disabled buttons
  // These styles need to go after the button types because they need to override some of the type styling
  &:disabled,
  &.pf-m-disabled {
    pointer-events: none;
  }

  &:disabled,
  &.pf-m-disabled,
  &.pf-m-aria-disabled {
    &::after {
      border-color: var(--#{$button}--disabled--after--BorderColor);
    }

    color: var(--#{$button}--disabled--Color);
    background-color: var(--#{$button}--disabled--BackgroundColor);

    .#{$badge} {
      --#{$badge}--m-unread--Color: var(--#{$button}--disabled__c-badge--Color);
      --#{$badge}--m-unread--BackgroundColor: var(--#{$button}--disabled__c-badge--BackgroundColor);
      --#{$button}--m-primary__c-badge--BorderWidth: 0;
    }
  }

  &.pf-m-aria-disabled {
    --#{$button}--after--BorderWidth: 0;
    --#{$button}--m-link--m-inline--hover--TextDecoration: none;

    cursor: default;
  }

  &.pf-m-progress {
    --#{$button}--PaddingRight: var(--#{$button}--m-progress--PaddingRight);
    --#{$button}--PaddingLeft: var(--#{$button}--m-progress--PaddingLeft);

    transition: var(--#{$button}--m-progress--TransitionProperty) var(--#{$button}--m-progress--TransitionDuration);
  }

  &.pf-m-in-progress {
    --#{$button}--m-link--m-inline--PaddingLeft: var(--#{$button}--m-link--m-inline--m-in-progress--PaddingLeft);

    &:not(.pf-m-plain) {
      --#{$button}--PaddingRight: var(--#{$button}--m-in-progress--PaddingRight);
      --#{$button}--PaddingLeft: var(--#{$button}--m-in-progress--PaddingLeft);
    }

    &.pf-m-plain {
      --#{$button}--m-plain--Color: var(--#{$button}--m-in-progress--m-plain--Color);
      --#{$button}__progress--Left: var(--#{$button}--m-in-progress--m-plain__progress--Left);
      --#{$button}__progress--TranslateX: var(--#{$button}--m-in-progress--m-plain__progress--TranslateX);

      > :not(.#{$button}__progress) {
        opacity: 0;
      }
    }
  }
}

.#{$button}__icon {
  &.pf-m-start {
    margin-inline-end: var(--#{$button}__icon--m-start--MarginRight);
  }

  &.pf-m-end {
    margin-inline-start: var(--#{$button}__icon--m-end--MarginLeft);
  }
}

.#{$button}__progress {
  position: absolute;
  inset-block-start: var(--#{$button}__progress--Top);
  inset-inline-start: var(--#{$button}__progress--Left);
  line-height: 1;
  transform: translate(var(--#{$button}__progress--TranslateX), var(--#{$button}__progress--TranslateY));

  .#{$spinner} {
    --#{$spinner}--Color: currentcolor;
  }
}

.#{$button}__count {
  display: inline-flex;
  align-items: center;
  margin-inline-start: var(--#{$button}__count--MarginLeft);
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/button";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-button;
}
