{{> button-list}}

<br><br>

<div><strong>Icon</strong></div>
{{> button-list button--icon="plus-circle"}}

<br><br>

<div><strong>Icon end</strong></div>
{{> button-list button-icon--IsEnd=true button--icon="plus-circle"}}

{{#*inline "button-list"}}
  {{#> button button--IsPrimary=true}}
    Primary
  {{/button}}

  {{#> button button--IsSecondary=true}}
    Secondary
  {{/button}}

  {{#> button button--IsSecondary=true button--IsDanger=true}}
    Secondary danger
  {{/button}}

  {{#> button button--IsTertiary=true}}
    Tertiary
  {{/button}}

  {{#> button button--IsDanger=true}}
    Danger
  {{/button}}

  {{#> button button--IsWarning=true}}
    Warning
  {{/button}}

  <br><br>

  {{#> button button--IsLink=true}}
    Link
  {{/button}}

  {{#> button button--IsLink=true button--IsDanger=true}}
    Link danger
  {{/button}}

  {{#> button button--IsLink=true button--IsInline=true}}
    Inline link
  {{/button}}

  {{> button button--IsPlain=true button--aria-label="Remove" button--IsIcon=true button--icon="times"}}

  <br><br>

  {{#> button button--IsControl=true}}
    Control
  {{/button}}

  {{> button button--IsControl=true button--aria-label="Copy input" button--IsIcon=true button--icon="copy"}}
{{/inline}}

<br><br>

<div><strong>Circle</strong></div>

{{> button button--IsPrimary=true button--aria-label="Add primary circle variant" button--IsCircle=true button--icon="plus-circle"}}

{{> button button--IsSecondary=true button--aria-label="Add secondary circle variant" button--IsCircle=true button--icon="plus-circle"}}

{{> button button--IsTertiary=true button--aria-label="Add tertiary circle variant" button--IsCircle=true button--icon="plus-circle"}}

{{> button button--IsDanger=true button--aria-label="Add danger circle variant" button--IsCircle=true button--icon="plus-circle"}}

{{> button button--IsWarning=true button--aria-label="Add warning circle variant" button--IsCircle=true button--icon="plus-circle"}}

{{> button button--IsLink=true button--aria-label="Add link circle variant" button--IsCircle=true button--icon="plus-circle"}}

{{> button button--IsPlain=true button--aria-label="Remove plain circle variant" button--IsCircle=true button--icon="times"}}

{{> button button--IsControl=true button--aria-label="Copy control circle variant" button--IsCircle=true button--icon="copy"}}