<span class="pf-c-button__progress{{#if button-progress--modifier}} {{button-progress--modifier}}{{/if}}"
  {{#if button-progress--attribute}}
    {{{button-progress--attribute}}}
  {{/if}}>
  {{#> spinner spinner--modifier="pf-m-md"}}Loading...{{/spinner}}
</span>
