<span class="pf-c-button__progress-icon{{#if button-progress-icon--modifier}} {{button-progress-icon--modifier}}{{/if}}"
  {{#if button-progress-icon--attribute}}
    {{{button-progress-icon--attribute}}}
  {{/if}}>
  {{#> spinner spinner--modifier="pf-m-md"}}Loading...{{/spinner}}
</span>
