<button class="pf-c-button{{#if btnClass}} {{btnClass}}{{/if}}{{#if button--disabled}} pf-m-disabled{{/if}}"
  {{#if btnAttributes}}
    {{{ btnAttributes }}} 
  {{/if}} 
  {{#if button--disabled}}
    aria-disabled="true"
    disabled 
  {{/if}}>

  {{#if @partial-block}}
    {{> @partial-block }}
  {{/if}}
  
</button>
