<button class="pf-c-button{{#if button--modifier}} {{button--modifier}}{{/if}}"
  {{#if button--attribute}}
    {{{button--attribute}}}
  {{/if}}>
  {{#if button--HasPlusCircleIcon}}
    {{> button-icon button-icon--type="plus-circle" button-icon--modifier="pf-c-button__icon"}}
  {{/if}}
  {{#if button--HasTimesIcon}}
    {{> button-icon button-icon--type="times"}}
  {{/if}}
  {{#if button--HasSearchIcon}}
    {{> button-icon button-icon--type="search"}}
  {{/if}}
  {{#if button--HasQuestionCircleIcon}}
    {{> button-icon button-icon--type="question-circle"}}
  {{/if}}
  {{#if button--HasBarsIcon}}
    {{> button-icon button-icon--type="bars"}}
  {{/if}}
  {{#if button--HasBellIcon}}
    {{> button-icon button-icon--type="bell"}}
  {{/if}}
  {{#if button--HasCogIcon}}
    {{> button-icon button-icon--type="cog"}}
  {{/if}}
  {{#if button--HasEllipsisIcon}}
    {{> button-icon button-icon--type="ellipsis-v"}}
  {{/if}}
  {{#if button--HasSortAlphaDownIcon}}
    {{> button-icon button-icon--type="sort-alpha-down"}}
  {{/if}}
  {{#if button--HasTableIcon}}
    {{> button-icon button-icon--type="table"}}
  {{/if}}
  {{#if button--HasListIcon}}
    {{> button-icon button-icon--type="list"}}
  {{/if}}
  {{#if button--HasTimesCircleIcon}}
    {{> button-icon button-icon--type="times-circle"}}
  {{/if}}
  {{> @partial-block}}
</button>
