<div class="pf-c-button__icon{{#if button-icon--modifier}} {{button-icon--modifier}}{{/if}}"
  {{#if button-icon--attribute}}
    {{{button-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
