<span class="{{pfv}}button__count{{#if button-count--modifier}} {{button-count--modifier}}{{/if}}"
  {{#if button-count--attribute}}
    {{{button-count--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
