<span class="pf-c-button__text{{#if button-text--modifier}} {{button-text--modifier}}{{/if}}"
  {{#if button-text--attribute}}
    {{{button-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
