@import "../../patternfly-utilities";

.pf-t-light .pf-c-button, .pf-c-button {
  --pf-c-button--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-button--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-button--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-button--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-button--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-button--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-button--FontSize: var(--pf-global--FontSize--md);
  --pf-c-button--BackgroundColor: transparent;
  --pf-c-button--BoxShadowColor: var(--pf-global--primary-color);
  --pf-c-button--BoxShadowSpread: var(--pf-global--BorderWidth--sm);
  --pf-c-button--Color: var(--pf-global--primary-color);
  --pf-c-button--BorderRadius: var(--pf-global--BorderRadius);
  --pf-c-button--BorderWidth: var(--pf-global--BorderWidth--sm);

  // Hover state variables
  --pf-c-button--hover--Color: var(--pf-global--primary-color--200);
  --pf-c-button--hover--BackgroundColor: transparent;
  --pf-c-button--hover--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--hover--BoxShadowSpread: var(--pf-global--BorderWidth--md);

  // Focus state variables
  --pf-c-button--focus--Color: var(--pf-global--primary-color--200);
  --pf-c-button--focus--BackgroundColor: transparent;
  --pf-c-button--focus--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--focus--BoxShadowSpread: var(--pf-global--BorderWidth--md);

  // Active state variables
  --pf-c-button--active--Color: var(--pf-global--primary-color--200);
  --pf-c-button--active--BackgroundColor: transparent;
  --pf-c-button--active--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--active--BoxShadowSpread: var(--pf-global--BorderWidth--md);

  // Disabled state variables
  --pf-c-button--m-disabled--Color: var(--pf-color-black-600);
  --pf-c-button--m-disabled--BackgroundColor: var(--pf-color-black-300);
  --pf-c-button--m-disabled--BoxShadowColor: var(--pf-c-button--m-disabled--BackgroundColor);
  --pf-c-button--m-disabled--BoxShadowSpread: var(--pf-global--BorderWidth--lg);

  // Primary btn
  --pf-c-button--m-primary--BackgroundColor: var(--pf-global--primary-color--100);
  --pf-c-button--m-primary--BoxShadowColor: var(--pf-global--primary-color--100);
  --pf-c-button--m-primary--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-primary--hover--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--hover--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--hover--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-primary--focus--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--focus--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--focus--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-primary--active--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--active--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--active--Color: var(--pf-global--Color--light-100);

  // Secondary btn
  --pf-c-button--m-secondary--BackgroundColor: transparent;
  --pf-c-button--m-secondary--BoxShadowColor: var(--pf-global--primary-color--100);
  --pf-c-button--m-secondary--Color: var(--pf-global--primary-color--100);
  --pf-c-button--m-secondary--hover--BackgroundColor: transparent;
  --pf-c-button--m-secondary--hover--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--hover--Color: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--focus--BackgroundColor: transparent;
  --pf-c-button--m-secondary--focus--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--focus--Color: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--active--BackgroundColor: transparent;
  --pf-c-button--m-secondary--active--BoxShadowColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--active--Color: var(--pf-global--primary-color--200);

  // Tertiary btn
  --pf-c-button--m-tertiary--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--BoxShadowColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--Color: var(--pf-color-black-900);
  --pf-c-button--m-tertiary--hover--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--hover--BoxShadowColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--hover--Color: var(--pf-color-black-900);
  --pf-c-button--m-tertiary--focus--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--focus--BoxShadowColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--focus--Color: var(--pf-color-black-900);
  --pf-c-button--m-tertiary--active--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--active--BoxShadowColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--active--Color: var(--pf-color-black-900);

  // danger btn
  --pf-c-button--m-danger--BackgroundColor: var(--pf-global--danger-color--100);
  --pf-c-button--m-danger--BoxShadowColor: var(--pf-global--danger-color--100);
  --pf-c-button--m-danger--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-danger--hover--BackgroundColor: var(--pf-global--danger-color--200);
  --pf-c-button--m-danger--hover--BoxShadowColor: var(--pf-c-button--m-danger--hover--BackgroundColor);
  --pf-c-button--m-danger--hover--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-danger--focus--BackgroundColor: var(--pf-global--danger-color--200);
  --pf-c-button--m-danger--focus--BoxShadowColor: var(--pf-c-button--m-danger--hover--BackgroundColor);
  --pf-c-button--m-danger--focus--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-danger--active--BackgroundColor: var(--pf-global--danger-color--200);
  --pf-c-button--m-danger--active--BoxShadowColor: var(--pf-c-button--m-danger--hover--BackgroundColor);
  --pf-c-button--m-danger--active--Color: var(--pf-global--Color--light-100);

  // Link btn
  --pf-c-button--m-link--PaddingRight: var(--pf-global--spacer--xs);
  --pf-c-button--m-link--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-button--m-link--Color: var(--pf-global--link--Color);
  --pf-c-button--m-link--hover--Color: var(--pf-global--link--Color--hover);
  --pf-c-button--m-link--focus--Color: var(--pf-global--link--Color--hover);
  --pf-c-button--m-link--active--Color: var(--pf-global--link--Color--hover);

  // Action btn
  --pf-c-button--m-action--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-button--m-action--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-button--m-action--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-button--m-action--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-button--m-action--Color: var(--pf-global--Color--dark-100);
  --pf-c-button--m-action--hover--Color: var(--pf-global--Color--dark-100);
  --pf-c-button--m-action--focus--Color: var(--pf-global--Color--dark-100);
  --pf-c-button--m-action--active--Color: var(--pf-global--Color--dark-100);
  --pf-c-button--item--MarginRight: var(--pf-global--spacer--xs);

  display: inline-block;
  padding: var(--pf-c-button--PaddingTop) var(--pf-c-button--PaddingRight) var(--pf-c-button--PaddingBottom) var(--pf-c-button--PaddingLeft);
  font-size: var(--pf-c-button--FontSize);
  font-weight: var(--pf-c-button--FontWeight);
  line-height: var(--pf-c-button--LineHeight);
  color: var(--pf-c-button--Color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--pf-c-button--BackgroundColor);
  border: var(--pf-c-button--BorderWidth) solid transparent;
  border-radius: var(--pf-c-button--BorderRadius);
  box-shadow: inset 0 0 0 var(--pf-c-button--BoxShadowSpread) var(--pf-c-button--BoxShadowColor);

  // Add spacing to icon if it appears at the beginning of button
  > *:first-child {
    margin-right: var(--pf-c-button--item--MarginRight);
  }

  &:hover,
  &.pf-m-hover {
    color: var(--pf-c-button--hover--Color);
    background-color: var(--pf-c-button--hover--BackgroundColor);
    box-shadow: inset 0 0 0 var(--pf-c-button--hover--BoxShadowSpread) var(--pf-c-button--hover--BoxShadowColor);
  }

  &:active,
  &.pf-m-active {
    color: var(--pf-c-button--active--Color);
    background-color: var(--pf-c-button--active--BackgroundColor);
    box-shadow: inset 0 0 0 var(--pf-c-button--active--BoxShadowSpread) var(--pf-c-button--active--BoxShadowColor);
  }

  &:focus,
  &.pf-m-focus {
    color: var(--pf-c-button--focus--Color);
    background-color: var(--pf-c-button--focus--BackgroundColor);
    box-shadow: inset 0 0 0 var(--pf-c-button--focus--BoxShadowSpread) var(--pf-c-button--focus--BoxShadowColor);
  }

  &.pf-m-block {
    display: block;
    width: 100%;
  }

  // Primary Buttons
  &.pf-m-primary {
    color: var(--pf-c-button--m-primary--Color);
    background-color: var(--pf-c-button--m-primary--BackgroundColor);
    border: var(--pf-c-button--BorderWidth) solid transparent;
    box-shadow: inset 0 0 0 var(--pf-c-button--BoxShadowSpread) var(--pf-c-button--m-primary--BoxShadowColor);

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-primary--hover--Color);
      background-color: var(--pf-c-button--m-primary--hover--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--hover--BoxShadowSpread) var(--pf-c-button--m-primary--hover--BoxShadowColor);
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-primary--active--Color);
      background-color: var(--pf-c-button--m-primary--active--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--active--BoxShadowSpread) var(--pf-c-button--m-primary--active--BoxShadowColor);
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-primary--focus--Color);
      background-color: var(--pf-c-button--m-primary--focus--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--focus--BoxShadowSpread) var(--pf-c-button--m-primary--focus--BoxShadowColor);
    }
  }

  // Secondary Buttons
  &.pf-m-secondary {
    color: var(--pf-c-button--m-secondary--Color);
    background-color: var(--pf-c-button--m-secondary--BackgroundColor);
    border: var(--pf-c-button--BorderWidth) solid transparent;
    box-shadow: inset 0 0 0 var(--pf-c-button--BoxShadowSpread) var(--pf-c-button--m-secondary--BoxShadowColor);

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-secondary--hover--Color);
      background-color: var(--pf-c-button--m-secondary--hover--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--hover--BoxShadowSpread) var(--pf-c-button--m-secondary--hover--BoxShadowColor);
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-secondary--active--Color);
      background-color: var(--pf-c-button--m-secondary--active--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--active--BoxShadowSpread) var(--pf-c-button--m-secondary--active--BoxShadowColor);
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-secondary--focus--Color);
      background-color: var(--pf-c-button--m-secondary--focus--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--focus--BoxShadowSpread) var(--pf-c-button--m-secondary--focus--BoxShadowColor);
    }
  }

  // Tertiary Buttons
  &.pf-m-tertiary {
    color: var(--pf-c-button--m-tertiary--Color);
    background-color: var(--pf-c-button--m-tertiary--BackgroundColor);
    border: var(--pf-c-button--BorderWidth) solid transparent;
    box-shadow: inset 0 0 0 var(--pf-c-button--BoxShadowSpread) var(--pf-c-button--m-tertiary--BoxShadowColor);

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-tertiary--hover--Color);
      background-color: var(--pf-c-button--m-tertiary--hover--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--hover--BoxShadowSpread) var(--pf-c-button--m-tertiary--hover--BoxShadowColor);
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-tertiary--active--Color);
      background-color: var(--pf-c-button--m-tertiary--active--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--active--BoxShadowSpread) var(--pf-c-button--m-tertiary--active--BoxShadowColor);
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-tertiary--focus--Color);
      background-color: var(--pf-c-button--m-tertiary--focus--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--focus--BoxShadowSpread) var(--pf-c-button--m-tertiary--focus--BoxShadowColor);
    }
  }

  // Danger Buttons
  &.pf-m-danger {
    color: var(--pf-c-button--m-danger--Color);
    background-color: var(--pf-c-button--m-danger--BackgroundColor);
    border: var(--pf-c-button--BorderWidth) solid transparent;
    box-shadow: inset 0 0 0 var(--pf-c-button--BoxShadowSpread) var(--pf-c-button--m-danger--BoxShadowColor);

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-danger--hover--Color);
      background-color: var(--pf-c-button--m-danger--hover--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--hover--BoxShadowSpread) var(--pf-c-button--m-danger--hover--BoxShadowColor);
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-danger--active--Color);
      background-color: var(--pf-c-button--m-danger--active--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--active--BoxShadowSpread) var(--pf-c-button--m-danger--active--BoxShadowColor);
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-danger--focus--Color);
      background-color: var(--pf-c-button--m-danger--focus--BackgroundColor);
      box-shadow: inset 0 0 0 var(--pf-c-button--focus--BoxShadowSpread) var(--pf-c-button--m-danger--focus--BoxShadowColor);
    }
  }

  // Link and Icon Buttons
  &.pf-m-link,
  &.pf-m-action {
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &.pf-m-hover,
    &:active,
    &.pf-m-active,
    &:focus,
    &.pf-m-focus {
      background-color: transparent;
      box-shadow: none;
    }
  }

  // Link Buttons
  &.pf-m-link {
    padding-right: var(--pf-c-button--m-link--PaddingRight);
    padding-left: var(--pf-c-button--m-link--PaddingLeft);
    color: var(--pf-c-button--m-link--Color);

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-link--hover--Color);
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-link--active--Color);
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-link--focus--Color);
    }
  }

  // Icon Buttons
  &.pf-m-action {
    padding: var(--pf-c-button--m-action--PaddingTop) var(--pf-c-button--m-action--PaddingRight) var(--pf-c-button--m-action--PaddingBottom) var(--pf-c-button--m-action--PaddingLeft);
    line-height: 1;
    color: var(--pf-c-button--m-action--Color);

    // Ignore margin for button icons
    > * {
      margin: 0;
    }

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-action--hover--Color);
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-action--active--Color);
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-action--focus--Color);
    }
  }

  // Disabled Buttons
  // These styles need to go after the button types because they need to override some of the type styling
  &:disabled,
  &.pf-m-disabled {
    color: var(--pf-c-button--m-disabled--Color);
    pointer-events: none;
    background-color: var(--pf-c-button--m-disabled--BackgroundColor);
    box-shadow: inset 0 0 0 var(--pf-c-button--BoxShadowSpread) var(--pf-c-button--m-disabled--BoxShadowColor);
  }
}
