@import "../../patternfly-utilities";

$pf-c-button--PaddingTop: $global--spacer--sm !default;
$pf-c-button--PaddingRight: $global--spacer--md !default;
$pf-c-button--PaddingBottom: $global--spacer--sm !default;
$pf-c-button--PaddingLeft: $global--spacer--md !default;
$pf-c-button--LineHeight: $global--LineHeight--sm !default;
$pf-c-button--FontWeight: $global--FontWeight--semi-bold !default;
$pf-c-button--BorderWidth: $global--BorderWidth !default;
$pf-c-button--BorderColor: $global--Color--dark !default;
$pf-c-button--FontSize: $global--FontSize !default;

$pf-c-button--hover--Color: $global--Color--light !default;
$pf-c-button--hover--BackgroundColor: $global--Color--dark !default;

// Primary btn
$pf-c-button--is-primary--BackgroundColor: $global--primary-color !default;
$pf-c-button--is-primary--BorderColor: $global--primary-color !default;
$pf-c-button--is-primary--Color: $global--Color--light !default;
$pf-c-button--is-primary--hover--BackgroundColor: $global--primary-color--dark !default;
$pf-c-button--is-primary--hover--BorderColor: $global--primary-color--dark !default;
$pf-c-button--is-primary--hover--Color: $global--Color--light !default;

// Secondary btn
$pf-c-button--is-secondary--BackgroundColor: transparent !default;
$pf-c-button--is-secondary--BorderColor: $global--primary-color !default;
$pf-c-button--is-secondary--Color: $global--primary-color !default;
$pf-c-button--is-secondary--hover--BackgroundColor: $global--primary-color !default;
$pf-c-button--is-secondary--hover--BorderColor: $global--primary-color !default;
$pf-c-button--is-secondary--hover--Color: $global--Color--light !default;

// Secondary Inverse btn
$pf-c-button--is-secondary-alt--BackgroundColor: transparent !default;
$pf-c-button--is-secondary-alt--BorderColor: $global--Color--dark-alt !default;
$pf-c-button--is-secondary-alt--Color: $global--Color--dark-alt !default;
$pf-c-button--is-secondary-alt--hover--BackgroundColor: $global--primary-color !default;
$pf-c-button--is-secondary-alt--hover--BorderColor: $global--primary-color !default;
$pf-c-button--is-secondary-alt--hover--Color: $global--Color--light !default;

// Tertiary btn
$pf-c-button--is-tertiary--BackgroundColor: transparent !default;
$pf-c-button--is-tertiary--BorderColor: $global--Color--dark !default;
$pf-c-button--is-tertiary--Color: $global--Color--dark !default;
$pf-c-button--is-tertiary--hover--BackgroundColor: $global--Color--dark !default;
$pf-c-button--is-tertiary--hover--BorderColor: $global--Color--dark !default;
$pf-c-button--is-tertiary--hover--Color: $global--Color--light !default;

// danger btn
$pf-c-button--is-danger--BackgroundColor: $global--danger-color !default;
$pf-c-button--is-danger--BorderColor: $global--danger-color !default;
$pf-c-button--is-danger--Color: $global--Color--light !default;
$pf-c-button--is-danger--hover--BackgroundColor: $global--danger-color--dark !default;
$pf-c-button--is-danger--hover--BorderColor: $global--danger-color--dark !default;
$pf-c-button--is-danger--hover--Color: $global--Color--light !default;

//Sizes
$pf-c-button--small--FontSize: $global--FontSize--sm !default;
$pf-c-button--large--FontSize: $global--FontSize--lg !default;

.pf-c-button {
  display: inline-block;
  padding: $pf-c-button--PaddingTop $pf-c-button--PaddingRight $pf-c-button--PaddingBottom $pf-c-button--PaddingLeft;
  font-size: $pf-c-button--FontSize;
  font-weight: $pf-c-button--FontWeight;
  line-height: $pf-c-button--LineHeight;
  text-align: center;
  white-space: nowrap;
  border: $pf-c-button--BorderWidth solid $pf-c-button--BorderColor;
  border-radius: 30rem;

  &:hover,
  &:active,
  &.pf-is-active,
  &:focus,
  &.pf-has-focus {
    color: $pf-c-button--hover--Color;
    background-color: $pf-c-button--hover--BackgroundColor;
  }

  &:disabled,
  &.pf-is-disabled {
    pointer-events: none;
    opacity: .5;
  }

  &.pf-is-small {
    font-size: $pf-c-button--small--FontSize;
  }

  &.pf-is-large {
    font-size: $pf-c-button--large--FontSize;
  }

  &.pf-is-block {
    display: block;
    width: 100%;
  }

  &.pf-is-primary {
    color: $pf-c-button--is-primary--Color;
    background-color: $pf-c-button--is-primary--BackgroundColor;
    border-color: $pf-c-button--is-primary--BorderColor;

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: $pf-c-button--is-primary--hover--Color;
      background-color: $pf-c-button--is-primary--hover--BackgroundColor;
      border-color: $pf-c-button--is-primary--hover--BorderColor;
    }
  }

  &.pf-is-secondary {
    color: $pf-c-button--is-secondary--Color;
    background-color: $pf-c-button--is-secondary--BackgroundColor;
    border-color: $pf-c-button--is-secondary--BorderColor;

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: $pf-c-button--is-secondary--hover--Color;
      background-color: $pf-c-button--is-secondary--hover--BackgroundColor;
      border-color: $pf-c-button--is-secondary--hover--BorderColor;
    }
  }

  &.pf-is-secondary-alt {
    color: $pf-c-button--is-secondary-alt--Color;
    background-color: $pf-c-button--is-secondary-alt--BackgroundColor;
    border-color: $pf-c-button--is-secondary-alt--BorderColor;

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: $pf-c-button--is-secondary-alt--hover--Color;
      background-color: $pf-c-button--is-secondary-alt--hover--BackgroundColor;
      border-color: $pf-c-button--is-secondary-alt--hover--BorderColor;
    }
  }

  &.pf-is-tertiary {
    color: $pf-c-button--is-tertiary--Color;
    background-color: $pf-c-button--is-tertiary--BackgroundColor;
    border-color: $pf-c-button--is-tertiary--BorderColor;

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: $pf-c-button--is-tertiary--hover--Color;
      background-color: $pf-c-button--is-tertiary--hover--BackgroundColor;
      border-color: $pf-c-button--is-tertiary--hover--BorderColor;
    }
  }

  &.pf-is-danger {
    color: $pf-c-button--is-danger--Color;
    background-color: $pf-c-button--is-danger--BackgroundColor;
    border-color: $pf-c-button--is-danger--BorderColor;

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: $pf-c-button--is-danger--hover--Color;
      background-color: $pf-c-button--is-danger--hover--BackgroundColor;
      border-color: $pf-c-button--is-danger--hover--BorderColor;
    }
  }
}
