@import "../../patternfly-utilities";

// stylelint-disable
:root {
  --pf-c-button--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-button--PaddingRight: var(--pf-global--spacer--xxl);
  --pf-c-button--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-button--PaddingLeft: var(--pf-global--spacer--xxl);
  --pf-c-button--LineHeight: var(--pf-global--sm--LineHeight);
  --pf-c-button--FontWeight: var(--pf-global--semi-bold--FontWeight);
  --pf-c-button--BorderWidth: var(--pf-global--BorderWidth);
  --pf-c-button--BorderColor: var(--pf-global-border-color);

  // Primary btn
  --pf-c-button--primary--BackgroundColor: var(--pf-global--primary-color);
  --pf-c-button--primary--BorderColor: var(--pf-global--primary-color);
  --pf-c-button--primary--Color: var(--pf-global-component-alt-color);
  --pf-c-button--primary--hover--BackgroundColor: var(--pf-global--primary-dark-color);
  --pf-c-button--primary--hover--BorderColor: var(--pf-global--primary-dark-color);
  --pf-c-button--primary--hover--Color: var(--pf-global-component-alt-color);

  // Secondary btn
  --pf-c-button--secondary--BackgroundColor: transparent;
  --pf-c-button--secondary--BorderColor: var(--pf-global--primary-color);
  --pf-c-button--secondary--Color: var(--pf-global--primary-color);
  --pf-c-button--secondary--hover--BackgroundColor: var(--pf-global--primary-color);
  --pf-c-button--secondary--hover--BorderColor: var(--pf-global--primary-color);
  --pf-c-button--secondary--hover--Color: var(--pf-global-component-alt-color);

  // Secondary Inverse btn
  --pf-c-button--secondary-alt--BackgroundColor: transparent;
  --pf-c-button--secondary-alt--BorderColor: var(--pf-global-component-alt-color);
  --pf-c-button--secondary-alt--Color: var(--pf-global-component-alt-color);
  --pf-c-button--secondary-alt--hover--BackgroundColor: var(--pf-global--primary-color);
  --pf-c-button--secondary-alt--hover--BorderColor: var(--pf-global--primary-color);
  --pf-c-button--secondary-alt--hover--Color: var(--pf-global-component-alt-color);

  // Tertiary btn
  --pf-c-button--tertiary--BackgroundColor: transparent;
  --pf-c-button--tertiary--BorderColor: var(--pf-global-component-color);
  --pf-c-button--tertiary--Color: var(--pf-global-component-color);
  --pf-c-button--tertiary--hover--BackgroundColor: var(--pf-global-component-color);
  --pf-c-button--tertiary--hover--BorderColor: var(--pf-global-component-color);
  --pf-c-button--tertiary--hover--Color: var(--pf-global-component-alt-color);

  // danger btn
  --pf-c-button--danger--BackgroundColor: var(--pf-global--danger-color);
  --pf-c-button--danger--BorderColor: var(--pf-global--danger-color);
  --pf-c-button--danger--Color: var(--pf-global-component-alt-color);
  --pf-c-button--danger--hover--BackgroundColor: var(--pf-global-danger-dark-color);
  --pf-c-button--danger--hover--BorderColor: var(--pf-global-danger-dark-color);
  --pf-c-button--danger--hover--Color: var(--pf-global-component-alt-color);

  //Sizes
  --pf-c-button--small--FontSize: var(--pf-global--caption--FontSize);
  --pf-c-button--large--FontSize: var(--pf-global--sub-title--FontSize);
}

// stylelint-enable

.pf-c-button {
  display: inline-block;
  padding: var(--pf-c-button--PaddingTop, .5rem) var(--pf-c-button--PaddingRight, 2rem) var(--pf-c-button--PaddingBottom, .5rem) var(--pf-c-button--PaddingLeft, 2rem);
  font-size: var(--pf-c-button--FontSize, 1rem);
  font-weight: var(--pf-c-button--FontWeight, 600);
  line-height: var(--pf-c-button--LineHeight, 1.2);
  color: var(--pf-c-button--Color, #555);
  text-align: center;
  white-space: nowrap;
  background-color: var(--pf-c-button--BackgroundColor, #ccc);
  border: var(--pf-c-button--BorderWidth, 1px) solid var(--pf-c-button--BorderColor, #ccc);
  border-radius: 30rem;

  &:hover,
  &:active,
  &.pf-is-active,
  &:focus,
  &.pf-has-focus {
    color: var(--pf-c-button--hover--Color, #fff);
    background-color: var(--pf-c-button--hover--BackgroundColor, #555);
    border-color: var(--pf-c-button--hover--BorderColor, #555);
  }

  &:disabled,
  &.pf-is-disabled {
    pointer-events: none;
    opacity: .5;
  }

  &.pf-is-small {
    --pf-c-button--FontSize: var(--pf-c-button--small--FontSize, .9rem);
  }

  &.pf-is-large {
    --pf-c-button--FontSize: var(--pf-c-button--large--FontSize, 1.2rem);
  }

  &.pf-is-block {
    display: block;
    width: 100%;
  }

  &.pf-is-primary {
    color: var(--pf-c-button--primary--Color, #fff);
    background-color: var(--pf-c-button--primary--BackgroundColor, #39a5dc);
    border-color: var(--pf-c-button--primary--BorderColor, #39a5dc);

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: var(--pf-c-button--primary--hover--Color, #fff);
      background-color: var(--pf-c-button--primary--hover--BackgroundColor, #0088ce);
      border-color: var(--pf-c-button--primary--hover--BorderColor, #0088ce);
    }
  }

  &.pf-is-secondary {
    color: var(--pf-c-button--secondary--Color, #39a5dc);
    background-color: var(--pf-c-button--secondary--BackgroundColor, transparent);
    border-color: var(--pf-c-button--secondary--BorderColor, #39a5dc);

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: var(--pf-c-button--secondary--hover--Color, #fff);
      background-color: var(--pf-c-button--secondary--hover--BackgroundColor, #39a5dc);
      border-color: var(--pf-c-button--secondary--hover--BorderColor, #39a5dc);
    }
  }

  &.pf-is-secondary-alt {
    color: var(--pf-c-button--secondary-alt--Color, #fff);
    background-color: var(--pf-c-button--secondary-alt--BackgroundColor, transparent);
    border-color: var(--pf-c-button--secondary-alt--BorderColor, #fff);

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: var(--pf-c-button--secondary-alt--hover--Color, #fff);
      background-color: var(--pf-c-button--secondary-alt--hover--BackgroundColor, #39a5dc);
      border-color: var(--pf-c-button--secondary-alt--hover--BorderColor, #39a5dc);
    }
  }

  &.pf-is-tertiary {
    color: var(--pf-c-button--tertiary--Color, #292e34);
    background-color: var(--pf-c-button--tertiary--BackgroundColor, transparent);
    border-color: var(--pf-c-button--tertiary--BorderColor, #292e34);

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: var(--pf-c-button--tertiary--hover--Color, #fff);
      background-color: var(--pf-c-button--tertiary--hover--BackgroundColor, #292e34);
      border-color: var(--pf-c-button--tertiary--hover--BorderColor, #292e34);
    }
  }

  &.pf-is-danger {
    color: var(--pf-c-button--danger--Color, #fff);
    background-color: var(--pf-c-button--danger--BackgroundColor, #c00);
    border-color: var(--pf-c-button--danger--BorderColor, #c00);

    &:hover,
    &:active,
    &.pf-is-active,
    &:focus,
    &.pf-has-focus {
      color: var(--pf-c-button--danger--hover--Color, #fff);
      background-color: var(--pf-c-button--danger--hover--BackgroundColor, #a30000);
      border-color: var(--pf-c-button--danger--hover--BorderColor, #a30000);
    }
  }
}
