@import "../../patternfly-utilities";

.pf-c-button {
  --pf-c-button--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-button--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-button--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-button--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-button--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-button--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-button--FontSize: var(--pf-global--FontSize--md);
  --pf-c-button--BackgroundColor: transparent;
  --pf-c-button--Color: var(--pf-global--primary-color-100);
  --pf-c-button--BorderRadius: var(--pf-global--BorderRadius);
  --pf-c-button--BorderColor: var(--pf-global--primary-color-100);
  --pf-c-button--BorderWidth: var(--pf-global--BorderWidth--sm);

  // Hover state variables
  --pf-c-button--hover--Color: var(--pf-global--primary-color--200);
  --pf-c-button--hover--BackgroundColor: transparent;
  --pf-c-button--hover--BorderColor: var(--pf-global--primary-color--200);
  --pf-c-button--hover--BorderWidth: var(--pf-global--BorderWidth--md);

  // Focus state variables
  --pf-c-button--focus--Color: var(--pf-global--primary-color--200);
  --pf-c-button--focus--BackgroundColor: transparent;
  --pf-c-button--focus--BorderColor: var(--pf-global--primary-color--200);
  --pf-c-button--focus--BorderWidth: var(--pf-global--BorderWidth--md);

  // Active state variables
  --pf-c-button--active--Color: var(--pf-global--primary-color--200);
  --pf-c-button--active--BackgroundColor: transparent;
  --pf-c-button--active--BorderColor: var(--pf-global--primary-color--200);
  --pf-c-button--active--BorderWidth: var(--pf-global--BorderWidth--md);

  // Disabled state variables
  --pf-c-button--m-disabled--Color: var(--pf-global--Color--disabled);
  --pf-c-button--m-disabled--BackgroundColor: var(--pf-global--BackgroundColor--disabled);
  --pf-c-button--m-disabled--BorderColor: transparent;
  --pf-c-button--m-disabled--BorderWidth: var(--pf-global--BorderWidth--lg);


  // Primary btn
  --pf-c-button--m-primary--BackgroundColor: var(--pf-global--primary-color--100);
  --pf-c-button--m-primary--BorderColor: transparent;
  --pf-c-button--m-primary--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-primary--hover--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--hover--BorderColor: transparent;
  --pf-c-button--m-primary--hover--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-primary--focus--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--focus--BorderColor: transparent;
  --pf-c-button--m-primary--focus--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-primary--active--BorderColor: transparent;
  --pf-c-button--m-primary--active--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-primary--active--Color: var(--pf-global--Color--light-100);

  // Secondary btn
  --pf-c-button--m-secondary--BackgroundColor: transparent;
  --pf-c-button--m-secondary--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-button--m-secondary--Color: var(--pf-global--primary-color--100);
  --pf-c-button--m-secondary--hover--BackgroundColor: transparent;
  --pf-c-button--m-secondary--hover--BorderColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--hover--Color: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--focus--BackgroundColor: transparent;
  --pf-c-button--m-secondary--focus--BorderColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--focus--Color: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--active--BackgroundColor: transparent;
  --pf-c-button--m-secondary--active--BorderColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--active--Color: var(--pf-global--primary-color--200);

  // Tertiary btn
  --pf-c-button--m-tertiary--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--BorderColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--Color: var(--pf-global-Color-100);
  --pf-c-button--m-tertiary--hover--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--hover--BorderColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--hover--Color: var(--pf-global-Color-100);
  --pf-c-button--m-tertiary--focus--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--focus--BorderColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--focus--Color: var(--pf-global-Color-100);
  --pf-c-button--m-tertiary--active--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--active--BorderColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--active--Color: var(--pf-global-Color-100);

  // danger btn
  --pf-c-button--m-danger--BackgroundColor: var(--pf-global--danger-color--100);
  --pf-c-button--m-danger--BorderColor: var(--pf-global--danger-color--100);
  --pf-c-button--m-danger--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-danger--hover--BackgroundColor: var(--pf-global--danger-color--200);
  --pf-c-button--m-danger--hover--BorderColor: transparent;
  --pf-c-button--m-danger--hover--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-danger--focus--BackgroundColor: var(--pf-global--danger-color--200);
  --pf-c-button--m-danger--focus--BorderColor: transparent;
  --pf-c-button--m-danger--focus--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-danger--active--BackgroundColor: var(--pf-global--danger-color--200);
  --pf-c-button--m-danger--active--BorderColor: transparent;
  --pf-c-button--m-danger--active--Color: var(--pf-global--Color--light-100);

  // Link btn
  --pf-c-button--m-link--PaddingRight: var(--pf-global--spacer--xs);
  --pf-c-button--m-link--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-button--m-link--Color: var(--pf-global--link--Color);
  --pf-c-button--m-link--hover--Color: var(--pf-global--link--Color--hover);
  --pf-c-button--m-link--focus--Color: var(--pf-global--link--Color--hover);
  --pf-c-button--m-link--active--Color: var(--pf-global--link--Color--hover);

  // Action btn
  --pf-c-button--m-action--BackgroundColor: transparent;
  --pf-c-button--m-action--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-button--m-action--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-button--m-action--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-button--m-action--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-button--m-action--Color: var(--pf-global--Color--100);
  --pf-c-button--m-action--hover--BackgroundColor: transparent;
  --pf-c-button--m-action--hover--Color: var(--pf-global--Color--100);
  --pf-c-button--m-action--focus--Color: var(--pf-global--Color--100);
  --pf-c-button--m-action--active--Color: var(--pf-global--Color--100);
  --pf-c-button--item--MarginRight: var(--pf-global--spacer--xs);

  position: relative;
  display: inline-block;
  padding: var(--pf-c-button--PaddingTop) var(--pf-c-button--PaddingRight) var(--pf-c-button--PaddingBottom) var(--pf-c-button--PaddingLeft);
  font-size: var(--pf-c-button--FontSize);
  font-weight: var(--pf-c-button--FontWeight);
  line-height: var(--pf-c-button--LineHeight);
  color: var(--pf-c-button--Color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--pf-c-button--BackgroundColor);
  border: 0;
  border-radius: var(--pf-c-button--BorderRadius);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: var(--pf-c-button--BorderWidth) solid;
    border-color: var(--pf-c-button--BorderColor);
    border-radius: var(--pf-c-button--BorderRadius);
  }

  // Add spacing to icon if it appears at the beginning of button
  > *:first-child {
    margin-right: var(--pf-c-button--item--MarginRight);
  }

  &:hover,
  &.pf-m-hover {
    color: var(--pf-c-button--hover--Color);
    background-color: var(--pf-c-button--hover--BackgroundColor);
    &::after {
      border-color: var(--pf-c-button--hover--BorderColor);
      border-width: var(--pf-c-button--hover--BorderWidth);
    }
  }

  &:active,
  &.pf-m-active {
    color: var(--pf-c-button--active--Color);
    background-color: var(--pf-c-button--active--BackgroundColor);
    &::after {
      border-color: var(--pf-c-button--active--BorderColor);
      border-width: var(--pf-c-button--focus--BorderWidth);
    }
  }

  &:focus,
  &.pf-m-focus {
    color: var(--pf-c-button--focus--Color);
    background-color: var(--pf-c-button--focus--BackgroundColor);
    &::after {
      border-color: var(--pf-c-button--focus--BorderColor);
      border-width: var(--pf-c-button--focus--BorderWidth);
    }
  }

  &.pf-m-block {
    display: block;
    width: 100%;
  }

  // Primary Buttons
  &.pf-m-primary {
    color: var(--pf-c-button--m-primary--Color);
    background-color: var(--pf-c-button--m-primary--BackgroundColor);
    &::after {
      border-color: var(--pf-c-button--m-primary--BorderColor);
    }

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-primary--hover--Color);
      background-color: var(--pf-c-button--m-primary--hover--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-primary--hover--BorderColor);
      }
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-primary--active--Color);
      background-color: var(--pf-c-button--m-primary--active--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-primary--active--BorderColor);
      }
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-primary--focus--Color);
      background-color: var(--pf-c-button--m-primary--focus--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-primary--focus--BorderColor);
      }
    }
  }

  // Secondary Buttons
  &.pf-m-secondary {
    color: var(--pf-c-button--m-secondary--Color);
    background-color: var(--pf-c-button--m-secondary--BackgroundColor);
    &::after {
      border-color: var(--pf-c-button--m-secondary--BorderColor);
    }

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-secondary--hover--Color);
      background-color: var(--pf-c-button--m-secondary--hover--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-secondary--hover--BorderColor);
      }
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-secondary--active--Color);
      background-color: var(--pf-c-button--m-secondary--active--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-secondary--active--BorderColor);
      }
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-secondary--focus--Color);
      background-color: var(--pf-c-button--m-secondary--focus--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-secondary--focus--BorderColor);
      }
    }
  }

  // Tertiary Buttons
  &.pf-m-tertiary {
    color: var(--pf-c-button--m-tertiary--Color);
    background-color: var(--pf-c-button--m-tertiary--BackgroundColor);
    &::after {
      border-color: var(--pf-c-button--m-tertiary--BorderColor);
    }

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-tertiary--hover--Color);
      background-color: var(--pf-c-button--m-tertiary--hover--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-tertiary--hover--BorderColor);
      }
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-tertiary--active--Color);
      background-color: var(--pf-c-button--m-tertiary--active--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-tertiary--active--BorderColor);
        border-width: var(--pf-c-button--m-tertiary--active--BorderWidth);
      }
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-tertiary--focus--Color);
      background-color: var(--pf-c-button--m-tertiary--focus--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-tertiary--focus--BorderColor);
      }
    }
  }

  // Danger Buttons
  &.pf-m-danger {
    color: var(--pf-c-button--m-danger--Color);
    background-color: var(--pf-c-button--m-danger--BackgroundColor);
    &::after {
      border-color: var(--pf-c-button--m-danger--BorderColor);
    }

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-danger--hover--Color);
      background-color: var(--pf-c-button--m-danger--hover--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-danger--hover--BorderColor);
      }
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-danger--active--Color);
      background-color: var(--pf-c-button--m-danger--active--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-danger--active--BorderColor);
      }
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-danger--focus--Color);
      background-color: var(--pf-c-button--m-danger--focus--BackgroundColor);
      &::after {
        border-color: var(--pf-c-button--m-danger--focus--BorderColor);
      }
    }
  }

  // Link and Icon Buttons
  &.pf-m-link,
  &.pf-m-action {
    background-color: var(--pf-c-button--m-action--BackgroundColor);

    &:hover,
    &.pf-m-hover,
    &:active,
    &.pf-m-active,
    &:focus,
    &.pf-m-focus {
      background-color: var(--pf-c-button--m-action--hover--BackgroundColor);
    }
    &::after {
      border: 0;
    }
  }

  // Link Buttons
  &.pf-m-link {
    padding-right: var(--pf-c-button--m-link--PaddingRight);
    padding-left: var(--pf-c-button--m-link--PaddingLeft);
    color: var(--pf-c-button--m-link--Color);

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-link--hover--Color);
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-link--active--Color);
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-link--focus--Color);
    }
  }

  // Icon Buttons
  &.pf-m-action {
    padding: var(--pf-c-button--m-action--PaddingTop) var(--pf-c-button--m-action--PaddingRight) var(--pf-c-button--m-action--PaddingBottom) var(--pf-c-button--m-action--PaddingLeft);
    line-height: 1;
    color: var(--pf-c-button--m-action--Color);

    // Ignore margin for button icons
    > * {
      margin: 0;
    }

    &:hover,
    &.pf-m-hover {
      color: var(--pf-c-button--m-action--hover--Color);
    }

    &:active,
    &.pf-m-active {
      color: var(--pf-c-button--m-action--active--Color);
    }

    &:focus,
    &.pf-m-focus {
      color: var(--pf-c-button--m-action--focus--Color);
    }
  }

  // Disabled Buttons
  // These styles need to go after the button types because they need to override some of the type styling
  &:disabled,
  &.pf-m-disabled {
    color: var(--pf-c-button--m-disabled--Color);
    pointer-events: none;
    background-color: var(--pf-c-button--m-disabled--BackgroundColor);
    &::after {
      border: var(--pf-c-button--BorderWidth) solid var(--pf-c-button--m-disabled--BorderColor);
    }
  }
}
