<div class="pf-c-tree-view__search{{#if tree-view-search--modifier}} {{tree-view-search--modifier}}{{/if}}"
  {{#if tree-view-search--attribute}}
    {{{tree-view-search--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
