<span class="pf-c-tree-view__node-count{{#if tree-view-node-count--modifier}} {{tree-view-node-count--modifier}}{{/if}}"
  {{#if tree-view-node-count--attribute}}
    {{{tree-view-node-count--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
