<div class="pf-c-tree-view__node-container{{#if tree-view-node-container--modifier}} {{tree-view-node-container--modifier}}{{/if}}"
  {{#if tree-view-node-container--attribute}}
    {{{tree-view-node-container--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
