<span class="pf-c-tree-view__link-toggle{{#if tree-view-link-toggle--modifier}} {{tree-view-link-toggle--modifier}}{{/if}}"
  {{#if tree-view-link-toggle--attribute}}
    {{{tree-view-link-toggle--attribute}}}
  {{/if}}>
  <i class="fas fa-angle-right" aria-hidden="true"></i>
</span>