<span class="pf-c-tree-view__node-check{{#if tree-view-node-check--modifier}} {{tree-view-node-check--modifier}}{{/if}}"
  {{#if tree-view-node-check--attribute}}
    {{{tree-view-node-check--attribute}}}
  {{/if}}>
  {{#> check check--modifier="pf-m-standalone"}}
    {{> check-input check-input--IsChecked=tree-view-node-check--IsChecked check-input--attribute=(concat 'id="check-' tree-view-node--id '" aria-label="Select" aria-labelledby="check-' tree-view-node--id ' text-' tree-view-node--id '"')}}
  {{/check}}
</span>
