<div class="pf-c-tree-view__node{{#if tree-view-node--modifier}} {{tree-view-node--modifier}}{{/if}}"
  {{#if tree-view-node--attribute}}
    {{{tree-view-node--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>