<span class="pf-c-tree-view__text{{#if tree-view-text--modifier}} {{tree-view-text--modifier}}{{/if}}"
  {{#if tree-view-text--attribute}}
    {{{tree-view-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
