<span class="pf-c-tree-view__node-check{{#if tree-view-node-check--modifier}} {{tree-view-node-check--modifier}}{{/if}}"
  {{#if tree-view-node-check--attribute}}
    {{{tree-view-node-check--attribute}}}
  {{/if}}>
  {{#if tree-view-node--HasCheckboxSelected}}
    <input type="checkbox" checked aria-label="Tree view node check checked" />
  {{else}}
    <input type="checkbox" aria-label="Tree view node check" />
  {{/if}}
</span>
