<span class="{{pfv}}tree-view__node-toggle-icon{{#if tree-view-node-toggle-icon--modifier}} {{tree-view-node-toggle-icon--modifier}}{{/if}}"
  {{#if tree-view-node-toggle-icon--attribute}}
    {{{tree-view-node-toggle-icon--attribute}}}
  {{/if}}>
  {{pfIcon "rh-microns-caret-down"}}
</span>
