<button class="pf-c-tree-view__node-main{{#if tree-view-node-main--modifier}} {{tree-view-node-main--modifier}}{{/if}}"
  {{#if tree-view-node-main--attribute}}
    {{{tree-view-node-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
