<div class="pf-c-tree-view__link-action{{#if tree-view-link-action--modifier}} {{tree-view-link-action--modifier}}{{/if}}"
  {{#if tree-view-link-action--attribute}}
    {{{tree-view-link-action--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>