<button class="pf-c-tree-view__node-toggle-button{{#if tree-view-node-toggle-button--modifier}} {{tree-view-node-toggle-button--modifier}}{{/if}}"
  {{#if tree-view-node-toggle-button--attribute}}
    {{{tree-view-node-toggle-button--attribute}}}
  {{/if}}>
  {{> tree-view-node-toggle-icon}}
</button>
