<button class="pf-c-tree-view__action{{#if tree-view-action--modifier}} {{tree-view-action--modifier}}{{/if}}"
  {{#if tree-view-action--attribute}}
    {{{tree-view-action--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
