<div class="pf-c-tree-view__node-content{{#if tree-view-node-content--modifier}} {{tree-view-node-content--modifier}}{{/if}}"
  {{#if tree-view-node-content--attribute}}
    {{{tree-view-node-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
