<div class="pf-c-tree-view__link-wrapper{{#if tree-view-link-wrapper--modifier}} {{tree-view-link-wrapper--modifier}}{{/if}}"
  {{#if tree-view-link-wrapper--attribute}}
    {{{tree-view-link-wrapper--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>