<span class="pf-c-tree-view__link-icon{{#if tree-view-link-icon--modifier}} {{tree-view-link-icon--modifier}}{{/if}}"
  {{#if tree-view-link-icon--attribute}}
    {{{tree-view-link-icon--attribute}}}
  {{/if}}>
  {{#if tree-view-link-icon--IsFolder}}
    <i class="fas fa-folder{{#if tree-view-link-icon--IsExpanded}}-open{{/if}}" aria-hidden="true"></i>
  {{else}}
    {{> @partial-block}}
  {{/if}}
</span>