<span class="pf-c-tree-view__link-check{{#if tree-view-link-check--modifier}} {{tree-view-link-check--modifier}}{{/if}}"
  {{#if tree-view-link-check--attribute}}
    {{{tree-view-link-check--attribute}}}
  {{/if}}>
  <input type="checkbox"/>
</span>
