<span class="pf-c-tree-view__action-item{{#if tree-view-action-item--modifier}} {{tree-view-action-item--modifier}}{{/if}}"
  {{#if tree-view-action-item--attribute}}
    {{{tree-view-action-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
