<span class="pf-c-switch__label-on{{#if switch-label-on--modifier}} {{switch-label-on--modifier}}{{/if}}"
  {{#if switch-label-on--attribute}}
    {{{switch-label-on--attribute}}}
  {{/if}}
  >
  On
  {{>@partial-block}}
</span>
