<span class="pf-c-switch__label-off{{#if switch-label-off--modifier}} {{switch-label-off--modifier}}{{/if}}"
  {{#if switch-label-off--attribute}}
    {{{switch-label-off--attribute}}}
  {{/if}}>
  Off
  {{>@partial-block}}
</span>
