<span class="{{pfv}}switch__toggle-icon-disabled{{#if switch-toggle-icon-disabled--modifier}} {{switch-toggle-icon-disabled--modifier}}{{/if}}"
  {{#if switch-toggle-icon-disabled--attribute}}
    {{{switch-toggle-icon-disabled--attribute}}}
  {{/if}}>
  <i class="fas fa-check" aria-hidden="true"></i>
</span>
