<span class="{{pfv}}switch__label{{#if switch-label--modifier}} {{switch-label--modifier}}{{/if}}"
  id="{{switch-label--id}}"
  {{#if switch-label--attribute}}
    {{{switch-label--attribute}}}
  {{/if}}
>
  {{>@partial-block}}
</span>
