@use '../../sass-utilities' as *;

:where(:root, .#{$tab-content}) {
  --#{$tab-content}__body--PaddingTop: 0;
  --#{$tab-content}__body--PaddingRight: 0;
  --#{$tab-content}__body--PaddingBottom: 0;
  --#{$tab-content}__body--PaddingLeft: 0;
  --#{$tab-content}--BackgroundColor: transparent;

  // Padding
  --#{$tab-content}__body--m-padding--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$tab-content}__body--m-padding--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$tab-content}__body--m-padding--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$tab-content}__body--m-padding--PaddingLeft: var(--pf-t--global--spacer--md);

  // Match page padding
  --#{$tab-content}__body--m-padding--xl--PaddingTop: var(--pf-t--global--spacer--lg);
  --#{$tab-content}__body--m-padding--xl--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$tab-content}__body--m-padding--xl--PaddingBottom: var(--pf-t--global--spacer--lg);
  --#{$tab-content}__body--m-padding--xl--PaddingLeft: var(--pf-t--global--spacer--lg);

  // Secondary modifier
  --#{$tab-content}--m-secondary--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
}

.#{$tab-content} {
  background-color: var(--#{$tab-content}--BackgroundColor);

  @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
    --#{$tab-content}__body--m-padding--PaddingTop: var(--#{$tab-content}__body--m-padding--xl--PaddingTop);
    --#{$tab-content}__body--m-padding--PaddingRight: var(--#{$tab-content}__body--m-padding--xl--PaddingRight);
    --#{$tab-content}__body--m-padding--PaddingBottom: var(--#{$tab-content}__body--m-padding--xl--PaddingBottom);
    --#{$tab-content}__body--m-padding--PaddingLeft: var(--#{$tab-content}__body--m-padding--xl--PaddingLeft);
  }

  &.pf-m-secondary {
    --#{$tab-content}--BackgroundColor: var(--#{$tab-content}--m-secondary--BackgroundColor);
  }
}

// Body
.#{$tab-content}__body {
  padding-block-start: var(--#{$tab-content}__body--PaddingTop);
  padding-block-end: var(--#{$tab-content}__body--PaddingBottom);
  padding-inline-start: var(--#{$tab-content}__body--PaddingLeft);
  padding-inline-end: var(--#{$tab-content}__body--PaddingRight);

  &.pf-m-padding {
    --#{$tab-content}__body--PaddingTop: var(--#{$tab-content}__body--m-padding--PaddingTop);
    --#{$tab-content}__body--PaddingRight: var(--#{$tab-content}__body--m-padding--PaddingRight);
    --#{$tab-content}__body--PaddingBottom: var(--#{$tab-content}__body--m-padding--PaddingBottom);
    --#{$tab-content}__body--PaddingLeft: var(--#{$tab-content}__body--m-padding--PaddingLeft);
  }
}
