// stylelint-disable
.pf-c-tab-content {
  --pf-c-tab-content--m-light-300: var(--pf-global--BackgroundColor--light-300);

  &.pf-m-light-300 {
    background-color: var(--pf-c-tab-content--m-light-300);
  }
}
// stylelint-enable
