<div class="{{pfv}}tab-content__body{{#if tab-content-body--modifier}} {{tab-content-body--modifier}}{{/if}}"
  {{#if tab-content-body--attribute}}
    {{{tab-content-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
