// @debug $tile; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$tile} {
  --#{$tile}--PaddingTop: var(--#{$pf-global}--spacer--lg);
  --#{$tile}--PaddingRight: var(--#{$pf-global}--spacer--lg);
  --#{$tile}--PaddingBottom: var(--#{$pf-global}--spacer--lg);
  --#{$tile}--PaddingLeft: var(--#{$pf-global}--spacer--lg);
  --#{$tile}--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$tile}--Transition: none;
  --#{$tile}--TranslateY: 0;

  // borders
  --#{$tile}--before--BorderColor: var(--#{$pf-global}--BorderColor--100);
  --#{$tile}--before--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$tile}--after--Height: var(--#{$pf-global}--BorderWidth--lg);
  --#{$tile}--after--BackgroundColor: transparent;
  --#{$tile}--after--Transition: none;
  --#{$tile}--after--ScaleY: 1;
  --#{$tile}--after--TranslateY: 0;

  // icon
  --#{$tile}__icon--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$tile}__icon--FontSize: var(--#{$pf-global}--icon--FontSize--md);
  --#{$tile}__icon--Color: var(--#{$pf-global}--Color--100);

  // title
  --#{$tile}__title--Color: var(--#{$pf-global}--Color--100);

  // body
  --#{$tile}__body--Color: var(--#{$pf-global}--Color--100);
  --#{$tile}__body--FontSize: var(--#{$pf-global}--FontSize--xs);

  // hover
  --#{$tile}--hover--after--BackgroundColor: var(--#{$pf-global}--active-color--400);
  --#{$tile}--hover__icon--Color: var(--#{$pf-global}--primary-color--100);
  --#{$tile}--hover__title--Color: var(--#{$pf-global}--primary-color--100);

  // focus
  --#{$tile}--focus--after--BackgroundColor: var(--#{$pf-global}--active-color--400);
  --#{$tile}--focus__icon--Color: var(--#{$pf-global}--primary-color--100);
  --#{$tile}--focus__title--Color: var(--#{$pf-global}--primary-color--100);

  // selected
  --#{$tile}--m-selected--TranslateY: calc(-1 * var(--#{$tile}--m-selected--after--ScaleY) * var(--#{$tile}--m-selected--after--Height));
  --#{$tile}--m-selected--Transition: var(--#{$pf-global}--Transition);
  --#{$tile}--m-selected--after--Height: var(--#{$pf-global}--BorderWidth--lg);
  --#{$tile}--m-selected--after--BackgroundColor: var(--#{$pf-global}--active-color--100);
  --#{$tile}--m-selected--after--Transition: var(--#{$pf-global}--Transition);
  --#{$tile}--m-selected--after--ScaleY: 2;
  --#{$tile}--m-selected__icon--Color: var(--#{$pf-global}--primary-color--100);
  --#{$tile}--m-selected__title--Color: var(--#{$pf-global}--primary-color--100);

  // disabled
  --#{$tile}--m-disabled--BackgroundColor: var(--#{$pf-global}--disabled-color--300);
  --#{$tile}--m-disabled__icon--Color: var(--#{$pf-global}--disabled-color--100);
  --#{$tile}--m-disabled__title--Color: var(--#{$pf-global}--disabled-color--100);
  --#{$tile}--m-disabled__body--Color: var(--#{$pf-global}--disabled-color--100);

  // Stacked variatiion
  --#{$tile}__header--m-stacked__icon--MarginBottom: var(--#{$pf-global}--spacer--xs);
  --#{$tile}__header--m-stacked__icon--FontSize: var(--#{$pf-global}--icon--FontSize--lg);

  // large variation
  --#{$tile}--m-display-lg__header--m-stacked__icon--FontSize: var(--#{$pf-global}--icon--FontSize--xl);

  position: relative;
  display: inline-grid;
  grid-template-rows: min-content;
  padding-block-start: var(--#{$tile}--PaddingTop);
  padding-block-end: var(--#{$tile}--PaddingBottom);
  padding-inline-start: var(--#{$tile}--PaddingLeft);
  padding-inline-end: var(--#{$tile}--PaddingRight);
  text-align: center;
  cursor: pointer;
  background-color: var(--#{$tile}--BackgroundColor);
  transition: var(--#{$tile}--Transition);
  transform: translateY(var(--#{$tile}--TranslateY));

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
    content: "";
  }

  &::before {
    inset: 0;
    border: var(--#{$tile}--before--BorderWidth) solid var(--#{$tile}--before--BorderColor);
  }

  &::after {
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    height: var(--#{$tile}--after--Height);
    background-color: var(--#{$tile}--after--BackgroundColor);
    transition: var(--#{$tile}--after--Transition);
    transform: scaleY(var(--#{$tile}--after--ScaleY)) translateY(var(--#{$tile}--after--TranslateY));
  }

  &:hover {
    --#{$tile}__title--Color: var(--#{$tile}--hover__title--Color);
    --#{$tile}__icon--Color: var(--#{$tile}--hover__icon--Color);
    --#{$tile}--after--BackgroundColor: var(--#{$tile}--hover--after--BackgroundColor);
  }

  &:focus {
    --#{$tile}__title--Color: var(--#{$tile}--focus__title--Color);
    --#{$tile}__icon--Color: var(--#{$tile}--focus__icon--Color);
    --#{$tile}--after--BackgroundColor: var(--#{$tile}--focus--after--BackgroundColor);
  }

  &:active, // for demo purposes - will remove
  &.pf-m-selected {
    --#{$tile}__title--Color: var(--#{$tile}--m-selected__title--Color);
    --#{$tile}__icon--Color: var(--#{$tile}--m-selected__icon--Color);
    --#{$tile}--TranslateY: var(--#{$tile}--m-selected--TranslateY);
    --#{$tile}--Transition: var(--#{$tile}--m-selected--Transition);
    --#{$tile}--after--Height: var(--#{$tile}--m-selected--after--Height);
    --#{$tile}--after--BackgroundColor: var(--#{$tile}--m-selected--after--BackgroundColor);
    --#{$tile}--after--Transition: var(--#{$tile}--m-selected--after--Transition);
    --#{$tile}--after--ScaleY: var(--#{$tile}--m-selected--after--ScaleY);
  }

  &.pf-m-disabled {
    --#{$tile}--BackgroundColor: var(--#{$tile}--m-disabled--BackgroundColor);
    --#{$tile}__title--Color: var(--#{$tile}--m-disabled__title--Color);
    --#{$tile}__body--Color: var(--#{$tile}--m-disabled__body--Color);
    --#{$tile}--before--BorderWidth: 0;
    --#{$tile}__icon--Color: var(--#{$tile}--m-disabled__icon--Color);

    pointer-events: none;
  }

  &.pf-m-display-lg {
    .#{$tile}__header.pf-m-stacked {
      --#{$tile}__icon--FontSize: var(--#{$tile}--m-display-lg__header--m-stacked__icon--FontSize);
    }
  }
}

.#{$tile}__header {
  display: flex;
  align-items: center;
  justify-content: center;

  &.pf-m-stacked {
    --#{$tile}__icon--MarginRight: 0;
    --#{$tile}__icon--FontSize: var(--#{$tile}__header--m-stacked__icon--FontSize);

    flex-direction: column;
    justify-content: initial;

    .#{$tile}__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block-end: var(--#{$tile}__header--m-stacked__icon--MarginBottom);
    }
  }
}

.#{$tile}__title {
  color: var(--#{$tile}__title--Color);
}

.#{$tile}__body {
  font-size: var(--#{$tile}__body--FontSize);
  color: var(--#{$tile}__body--Color);
}

.#{$tile}__icon {
  margin-inline-end: var(--#{$tile}__icon--MarginRight);
  font-size: var(--#{$tile}__icon--FontSize);
  color: var(--#{$tile}__icon--Color);
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/tile";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-tile;
}
