<div class="pf-c-tile__subtext{{#if tile-subtext--modifier}} {{tile-subtext--modifier}}{{/if}}"
  {{#if tile-subtext--attribute}}
    {{{tile-subtext--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
