// pf-c-block__element--modifier--state--PropiertyCamel

/// A description of pf-c-button
/// @group components
/// @moduleType component
/// @modifier .is-large - Makes the btn larger
/// @modifier .is-small - Makes the btn smaller
/// @modifier .is-primary - An example modifier description
/// @modifier .is-secondary - An example modifier description
/// @modifier .is-success - An example modifier description
/// @modifier .is-info - An example modifier description
/// @modifier .is-warning - An example modifier description
/// @modifier .is-danger - An example modifier description
/// @modifier .is-light - An example modifier description
/// @modifier .is-dark - An example modifier description
/// @modifier .is-focus - An example modifier description
/// @modifier .is-disabled - An example modifier description
/// @template src/components/pf-c-button/pf-c-button.html

// stylelint-disable
:root {
  --pf-c-button--PaddingTop:     var(--pf-global--spacer--md);
  --pf-c-button--PaddingRight:   var(--pf-global--spacer--xxxl);
  --pf-c-button--PaddingBottom:  var(--pf-global--spacer--md);
  --pf-c-button--PaddingLeft:    var(--pf-global--spacer--xxxl);
  --pf-c-button--LineHeight:     var(--pf-global--LineHeight--sm);
  --pf-c-button--FontWeight:     var(--pf-global--FontWeight--semi-bold);
  --pf-c-button--BorderWidth:    var(--pf-global--BorderWidth--md);
  --pf-c-button--BorderColor:    var(--pf-global--primary-color);

  // Primary btn
  --pf-c-button--primary--BackgroundColor:         var(--pf-global--primary-color);
  --pf-c-button--primary--BorderColor:             var(--pf-global--primary-color);
  --pf-c-button--primary--Color:                   var(--pf-global--Color--dark-alt);
  --pf-c-button--primary--hover--BackgroundColor:  var(--pf-global--primary-color--dark);
  --pf-c-button--primary--hover--BorderColor:      var(--pf-global--primary-color--dark);
  --pf-c-button--primary--hover--Color:            var(--pf-global--primary-color);

  // Secondary btn
  --pf-c-button--secondary--BackgroundColor:        transparent;
  --pf-c-button--secondary--BorderColor:            var(--pf-global--primary-color);
  --pf-c-button--secondary--Color:                  var(--pf-global--primary-color);
  --pf-c-button--secondary--hover--BackgroundColor: var(--pf-global--primary-color);
  --pf-c-button--secondary--hover--BorderColor:     var(--pf-global--primary-color);
  --pf-c-button--secondary--hover--Color:           var(--pf-global--Color--dark-alt));

  // Secondary Inverse btn
  --pf-c-button--secondary-alt--BackgroundColor:        transparent;
  --pf-c-button--secondary-alt--BorderColor:            var(--pf-global--Color--dark-alt);
  --pf-c-button--secondary-alt--Color:                  var(--pf-global--Color--dark-alt);
  --pf-c-button--secondary-alt--hover--BackgroundColor: var(--pf-global--primary-color);
  --pf-c-button--secondary-alt--hover--BorderColor:     var(--pf-global--primary-color);
  --pf-c-button--secondary-alt--hover--Color:           var(--pf-global--Color--dark-alt);

  // Tertiary btn
  --pf-c-button--tertiary--BackgroundColor:        transparent;
  --pf-c-button--tertiary--BorderColor:            var(--pf-global--Color--dark);
  --pf-c-button--tertiary--Color:                  var(--pf-global--Color--dark);
  --pf-c-button--tertiary--hover--BackgroundColor: var(--pf-global--Color--dark);
  --pf-c-button--tertiary--hover--BorderColor:     var(--pf-global--Color--dark);
  --pf-c-button--tertiary--hover--Color:           var(--pf-global--Color--dark-alt);

  // Destructive btn
  --pf-c-button--destructive--BackgroundColor:        var(--pf-global--danger-color);
  --pf-c-button--destructive--BorderColor:            var(--pf-global--danger-color);
  --pf-c-button--destructive--Color:                  var(--pf-global--Color--dark-alt);
  --pf-c-button--destructive--hover--BackgroundColor: var(--pf-global--danger-color);
  --pf-c-button--destructive--hover--BorderColor:     var(--pf-global--danger-color);
  --pf-c-button--destructive--hover--Color:           var(--pf-global--Color--dark-alt);

  //Sizes
  --pf-c-button--small--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-button--large--FontSize: var(--pf-global--FontSize--xl);
}
// stylelint-enable

.pf-c-button {
  display: inline-block;
  padding: var(--pf-c-button--PaddingTop, .5rem) var(--pf-c-button--PaddingRight, 2rem) var(--pf-c-button--PaddingBottom, .5rem) var(--pf-c-button--PaddingLeft, 2rem);
  font-size: var(--pf-c-button--FontSize, 1rem);
  font-weight: var(--pf-c-button--FontWeight, 600);
  line-height: var(--pf-c-button--LineHeight, 1.2);
  color: var(--pf-c-button--Color, #555);
  text-align: center;
  white-space: nowrap;
  background-color: var(--pf-c-button--BackgroundColor, #ccc);
  border: var(--pf-c-button--BorderWidth, 1px) solid var(--pf-c-button--BorderColor, #ccc);
  border-radius: 30rem;

  &:hover,
  &:focus,
  &.had-focus {
    --pf-c-button--Color: var(--pf-c-button--hover--Color, #fff);
    --pf-c-button--BackgroundColor: var(--pf-c-button--hover--BackgroundColor, #555);
    --pf-c-button--BorderColor: var(--pf-c-button--hover--BorderColor, #555);
  }

  &:disabled,
  &.pf-is-disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.is-small {
  --pf-c-button--FontSize: var(--pf-c-button--small--FontSize, .9rem);
}

.is-large {
  --pf-c-button--FontSize: var(--pf-c-button--large--FontSize, 1.2rem);
}

.is-block {
  display: block;
  width: 100%;
}

.is-primary {
  --pf-c-button--Color: var(--pf-c-button--primary--Color, #fff);
  --pf-c-button--BackgroundColor: var(--pf-c-button--primary--BackgroundColor, #39a5dc);
  --pf-c-button--BorderColor: var(--pf-c-button--primary--BorderColor, #39a5dc);
  --pf-c-button--hover--Color: var(--pf-c-button--primary--hover--Color, #fff);
  --pf-c-button--hover--BackgroundColor: var(--pf-c-button--primary--hover--BackgroundColor, #0088ce);
  --pf-c-button--hover--BorderColor: var(--pf-c-button--primary--hover--BorderColor, #0088ce);
}

.is-secondary {
  --pf-c-button--Color: var(--pf-c-button--secondary--Color, #39a5dc);
  --pf-c-button--BackgroundColor: var(--pf-c-button--secondary--BackgroundColor, transparent);
  --pf-c-button--BorderColor: var(--pf-c-button--secondary--BorderColor, #39a5dc);
  --pf-c-button--hover--Color: var(--pf-c-button--secondary--hover--Color, #fff);
  --pf-c-button--hover--BackgroundColor: var(--pf-c-button--secondary--hover--BackgroundColor, #39a5dc);
  --pf-c-button--hover--BorderColor: var(--pf-c-button--secondary--hover--BorderColor, #39a5dc);
}

.is-secondary-alt {
  --pf-c-button--Color: var(--pf-c-button--secondary-alt--Color, #fff);
  --pf-c-button--BackgroundColor: var(--pf-c-button--secondary-alt--BackgroundColor, transparent);
  --pf-c-button--BorderColor: var(--pf-c-button--secondary-alt--BorderColor, #fff);
  --pf-c-button--hover--Color: var(--pf-c-button--secondary-alt--hover--Color, #fff);
  --pf-c-button--hover--BackgroundColor: var(--pf-c-button--secondary-alt--hover--BackgroundColor, #39a5dc);
  --pf-c-button--hover--BorderColor: var(--pf-c-button--secondary-alt--hover--BorderColor, #39a5dc);
}

.is-tertiary {
  --pf-c-button--Color: var(--pf-c-button--tertiary--Color, #292e34);
  --pf-c-button--BackgroundColor: var(--pf-c-button--tertiary--BackgroundColor, transparent);
  --pf-c-button--BorderColor: var(--pf-c-button--tertiary--BorderColor, #292e34);
  --pf-c-button--hover--Color: var(--pf-c-button--tertiary--hover--Color, #fff);
  --pf-c-button--hover--BackgroundColor: var(--pf-c-button--tertiary--hover--BackgroundColor, #292e34);
  --pf-c-button--hover--BorderColor: var(--pf-c-button--tertiary--hover--BorderColor, #292e34);
}

.is-destructive {
  --pf-c-button--Color: var(--pf-c-button--destructive--Color, #fff);
  --pf-c-button--BackgroundColor: var(--pf-c-button--destructive--BackgroundColor, #c00);
  --pf-c-button--BorderColor: var(--pf-c-button--destructive--BorderColor, #c00);
  --pf-c-button--hover--Color: var(--pf-c-button--destructive--hover--Color, #fff);
  --pf-c-button--hover--BackgroundColor: var(--pf-c-button--destructive--hover--BackgroundColor, #a30000);
  --pf-c-button--hover--BorderColor: var(--pf-c-button--destructive--hover--BorderColor, #a30000);
}
