<span class="{{pfv}}icon__progress{{#if icon-progress--modifier}} {{icon-progress--modifier}}{{/if}}"
  {{#if icon-progress--attribute}}
    {{{icon-progress--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</span>
