<span class="{{pfv 'unset-prefix'}}icon__content{{#if icon-content--modifier}} {{icon-content--modifier}}{{/if}}"
  {{#if icon-content--attribute}}
    {{{icon-content--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</span>
