{{#> about-modal}}
  {{#> backdrop}}
    {{#> bullseye}}
      {{#> about-modal-box about-modal-box--attributes='aria-labelledby="about-modal-title"'}}
        {{#> about-modal-box-brand}}
          <img class="pf-c-about-modal-box__brand-image" src="/assets/images/pf_mini_logo_white.svg" alt="Patternfly brand logo" />
        {{/about-modal-box-brand}}
        {{#> about-modal-box-close}}
          {{#> button btnClass="pf-m-plain" btnAttributes='aria-label="Close Dialog"'}}
            <i class="fas fa-times"></i> 
          {{/button}}
        {{/about-modal-box-close}}
        {{#> about-modal-box-header}}
          <div class="pf-c-about-modal-box__header-strapline">
            {{#> title titleType="h2"}}
                Trademark and copyright information here
            {{/title}}
          </div>
          {{#> title titleType="h1" pf-c-title--Modifier="pf-m-4xl" pf-c-title--ID="about-modal-title"}}
              Red Hat OpenShift Container Platform
          {{/title}}
        {{/about-modal-box-header}}
        {{#> about-modal-box-hero}}
          <img class="pf-c-about-modal-box__hero-image" src="/assets/images/pfbg_992.jpg" alt="Patternfly Background Image">
        {{/about-modal-box-hero}}
        {{#> about-modal-box-logo}}
          <img class="pf-c-about-modal-box__logo-image" src="/assets/images/pf_logo.svg" alt="Product Logo">
        {{/about-modal-box-logo}}
        {{#> about-modal-box-content}}
          {{#> content}}
          <dl>
            <dt>CFME Version</dt>
            <dd>5.5.3.4.20102789036450</dd>
            <dt>Cloudforms Version</dt>
            <dd>4.1</dd>
            <dt>Server Name</dt>
            <dd>40DemoMaster</dd>
            <dt>User Name</dt>
            <dd>Administrator</dd>
            <dt>User Role</dt>
            <dd>EvmRole-super_administrator</dd>
            <dt>Browser Version</dt>
            <dd>601.2</dd>
            <dt>Browser OS</dt>
            <dd>Mac</dd>
          </dl>
          {{/content}}
        {{/about-modal-box-content}}
      {{/about-modal-box}}
    {{/bullseye}}
  {{/backdrop}}
{{/about-modal}}
