<!--
  Each template tag represents an individual state that the component can
  be in. If you would like to show multiple states in the workarea, you should
  have multiple template tags. To communicate information about the state that
  the templat represents, use the data-title and data-description attributes.
  These attributes will be rendered in the workspace. 
-->
<template data-title="<%= resource.entity %>" data-description="">
  <div class="<%= resource.entity %>">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui voluptates perspiciatis, sit cumque tenetur repudiandae ad laudantium! Cupiditate perspiciatis culpa, dicta quod ab debitis aspernatur doloribus aliquam neque voluptatem.</p>
  </div>
</template>
