{{#> card-upgrade-examples}}
<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-3-col">
    <div class="pf-c-card">
      <div class="pf-c-card__header">
        Header
      </div>
      <div class="pf-c-card__body">
        Body
      </div>
    </div>
  </div>
  <div class="pf-l-grid__item pf-m-3-col">
    <div class="pf-c-card">
      <div class="pf-c-card__header">
        Header
      </div>
      <div class="pf-c-card__body">
        Body
      </div>
    </div>
  </div>
</div>
{{/card-upgrade-examples}}
