// @debug $avatar; // check your variable names located in src/patternfly/sass-utilities/component-namespaces
$pf-v5-c-avatar--breakpoint-map: build-breakpoint-map("base", "sm", "md", "lg", "xl", "2xl");
$pf-v5-c-avatar--sizes: "sm", "md", "lg", "xl";

.#{$avatar} {
  --#{$avatar}--BorderColor: transparent;
  --#{$avatar}--BorderWidth: 0;
  --#{$avatar}--BorderRadius: var(--#{$pf-global}--BorderRadius--lg);
  --#{$avatar}--Width: #{pf-size-prem(36px)};
  --#{$avatar}--Height: #{pf-size-prem(36px)};
  --#{$avatar}--m-sm--Width: #{pf-size-prem(24px)};
  --#{$avatar}--m-sm--Height: #{pf-size-prem(24px)};
  --#{$avatar}--m-md--Width: #{pf-size-prem(36px)};
  --#{$avatar}--m-md--Height: #{pf-size-prem(36px)};
  --#{$avatar}--m-lg--Width: #{pf-size-prem(72px)};
  --#{$avatar}--m-lg--Height: #{pf-size-prem(72px)};
  --#{$avatar}--m-xl--Width: #{pf-size-prem(128px)};
  --#{$avatar}--m-xl--Height: #{pf-size-prem(128px)};

  // Light
  --#{$avatar}--m-light--BorderColor: var(--#{$pf-global}--BorderColor--dark-100);
  --#{$avatar}--m-light--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);

  // Dark
  --#{$avatar}--m-dark--BorderColor: var(--#{$pf-global}--palette--black-700);
  --#{$avatar}--m-dark--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);

  width: var(--#{$avatar}--Width);
  height: var(--#{$avatar}--Height);
  border: var(--#{$avatar}--BorderWidth) solid var(--#{$avatar}--BorderColor);
  border-radius: var(--#{$avatar}--BorderRadius);

  &.pf-m-light {
    --#{$avatar}--BorderColor: var(--#{$avatar}--m-light--BorderColor);
    --#{$avatar}--BorderWidth: var(--#{$avatar}--m-light--BorderWidth);
  }

  &.pf-m-dark {
    --#{$avatar}--BorderColor: var(--#{$avatar}--m-dark--BorderColor);
    --#{$avatar}--BorderWidth: var(--#{$avatar}--m-dark--BorderWidth);
  }

  @each $size in $pf-v5-c-avatar--sizes {
    &.pf-m-#{$size} {
      @include pf-v5-build-css-variable-stack("--#{$avatar}--Width", "--#{$avatar}--m-#{$size}--Width", $pf-v5-c-avatar--breakpoint-map);
      @include pf-v5-build-css-variable-stack("--#{$avatar}--Height", "--#{$avatar}--m-#{$size}--Height", $pf-v5-c-avatar--breakpoint-map);
    }
  }
}
