{{#> alert alert--modifier="pf-m-info" alert--attribute='aria-label="Information Notification"'}}
  {{#> alert-icon alert-icon--info="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> accessibility accessibility--type="sr-only"}}Info: {{/accessibility}}
      Info notification title
    {{/alert-title}}
    {{#> alert-description}}
			Info notification description. <a href="#">This is a link.</a>
		{{/alert-description}}
    {{/alert-body}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-info" alert--attribute='aria-label="Information Notification"'}}
  {{#> alert-icon alert-icon--info="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> accessibility accessibility--type="sr-only"}}Info: {{/accessibility}}
      Info notification title
    {{/alert-title}}
  {{/alert-body}}
  {{#> alert-action}}
    {{#> button btnClass="pf-m-secondary"}}
      Button 
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-info" alert--attribute='aria-label="Information Notification"'}}
  {{#> alert-icon alert-icon--info="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> accessibility accessibility--type="sr-only"}}Info: {{/accessibility}}
      Info notification title
    {{/alert-title}}
  {{/alert-body}}
{{/alert}}