{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success alert"'}}
  {{#> alert-icon alert-icon--type="check-circle"}}
  {{/alert-icon}}
  {{#> alert-content}}
    {{#> alert-title}}
      {{#> screen-reader}}Success alert:{{/screen-reader}}
      Success alert title
    {{/alert-title}}
    {{#> alert-description}}
      Success alert description. <a href="#">This is a link.</a>
    {{/alert-description}}
  {{/alert-content}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close success alert: Success alert title"'}}
      {{> button-icon button-icon--type="times"}}
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success alert"'}}
  {{#> alert-icon alert-icon--type="check-circle"}}
  {{/alert-icon}}
  {{#> alert-content}}
    {{#> alert-title}}
      {{#> screen-reader}}Success alert:{{/screen-reader}}
      Success alert title
    {{/alert-title}}
  {{/alert-content}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close success alert: Success alert title"'}}
      {{> button-icon button-icon--type="times"}}
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success alert"'}}
  {{#> alert-icon alert-icon--type="check-circle"}}
  {{/alert-icon}}
  {{#> alert-content}}
    {{#> alert-title}}
      {{#> screen-reader}}Success alert:{{/screen-reader}}
        Success alert title
    {{/alert-title}}
  {{/alert-content}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-link"}}
      Action button
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success alert"'}}
  {{#> alert-icon alert-icon--type="check-circle"}}
  {{/alert-icon}}
  {{#> alert-content}}
    {{#> alert-title}}
      {{#> screen-reader}}Success alert:{{/screen-reader}}
        Success alert title
    {{/alert-title}}
  {{/alert-content}}
{{/alert}}
