{{#> alert alert--modifier="pf-m-warning" alert--attribute='aria-label="Warning Notification"'}}
  {{#> alert-icon alert-icon--warning="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> accessibility accessibility--type="sr-only"}}Warning: {{/accessibility}}
      Warning notification title
    {{/alert-title}}
    {{#> alert-description}}
			Warning notification description.<a href="#">This is a link.</a>
		{{/alert-description}}
  {{/alert-body}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-warning" alert--attribute='aria-label="Warning Notification"'}}
  {{#> alert-icon alert-icon--warning="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> accessibility accessibility--type="sr-only"}}Warning: {{/accessibility}}
      Warning notification title
    {{/alert-title}}
  {{/alert-body}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-secondary"}}
      Button 
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-warning" alert--attribute='aria-label="Warning Notification"'}}
  {{#> alert-icon alert-icon--warning="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> accessibility accessibility--type="sr-only"}}Warning: {{/accessibility}}
      Warning notification title
    {{/alert-title}}
  {{/alert-body}}
{{/alert}}