{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success Notification"'}}
  {{#> alert-icon alert-icon--success="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> screen-reader}}Success:{{/screen-reader}}
      Success notification title
    {{/alert-title}}
    {{#> alert-description}}
			Success notification description. <a href="#">This is a link.</a>
		{{/alert-description}}
	{{/alert-body}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-plain pf-m-close" button--attribute='aria-label="Close"'}}
      {{> button-icon button-icon--type="times"}}
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success Notification"'}}
  {{#> alert-icon alert-icon--success="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> screen-reader}}Success:{{/screen-reader}}
      Success notification title
    {{/alert-title}}
  {{/alert-body}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-plain pf-m-close" button--attribute='aria-label="Close"'}}
      {{> button-icon button-icon--type="times"}}
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success Notification"'}}
  {{#> alert-icon alert-icon--success="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> screen-reader}}Success:{{/screen-reader}}
        Success notification title
    {{/alert-title}}
  {{/alert-body}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-link"}}
      Action Button
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success Notification"'}}
  {{#> alert-icon alert-icon--success="true"}}
  {{/alert-icon}}
  {{#> alert-body alert-body--attribute='role="alert"'}}
    {{#> alert-title}}
      {{#> screen-reader}}Success:{{/screen-reader}}
        Success notification title
    {{/alert-title}}
  {{/alert-body}}
{{/alert}}
