{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success alert"'}}
  {{#> alert-icon alert-icon--type="check-circle"}}
  {{/alert-icon}}
    {{#> alert-title}}
      {{#> screen-reader}}Success alert:{{/screen-reader}}
      Success Alert Title
    {{/alert-title}}
    {{#> alert-description}}
			Success alert description. <a href="#">This is a link.</a>
		{{/alert-description}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close Success Alert: Success Alert Title"'}}
      {{> button-icon button-icon--type="times"}}
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success alert"'}}
  {{#> alert-icon alert-icon--type="check-circle"}}
  {{/alert-icon}}
    {{#> alert-title}}
      {{#> screen-reader}}Success alert:{{/screen-reader}}
      Success Alert Title
    {{/alert-title}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close Success Alert: Success Alert Title"'}}
      {{> button-icon button-icon--type="times"}}
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success alert"'}}
  {{#> alert-icon alert-icon--type="check-circle"}}
  {{/alert-icon}}
    {{#> alert-title}}
      {{#> screen-reader}}Success alert:{{/screen-reader}}
        Success Alert Title
    {{/alert-title}}
  {{#> alert-action}}
    {{#> button button--modifier="pf-m-link"}}
      Action Button
    {{/button}}
  {{/alert-action}}
{{/alert}}
<br>
{{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success alert"'}}
  {{#> alert-icon alert-icon--type="check-circle"}}
  {{/alert-icon}}
    {{#> alert-title}}
      {{#> screen-reader}}Success alert:{{/screen-reader}}
        Success Alert Title
    {{/alert-title}}
{{/alert}}
