{{#> alert pf-c-alert--Modifier="pf-m-info pf-m-top-aligned"}}
<div class="pf-c-alert__icon">
  <i class="fas fa-info-circle"></i>
</div>
<div class="pf-c-alert__body">
  <h4 class="pf-c-alert__title">Info notification title</h4>
  <p class="pf-c-alert__description">This is a description of the notification content.</p>
</div>
{{/alert}}
<br>
<br> {{#> alert pf-c-alert--Modifier="pf-m-info"}}
<div class="pf-c-alert__icon">
  <i class="fas fa-info-circle"></i>
</div>
<div class="pf-c-alert__body">
  <h4 class="pf-c-alert__title">Info notification title</h4>
</div>
<div class="pf-c-alert__action">
  {{#> button btnClass="pf-m-secondary"}} Button {{/button}}
</div>
{{/alert}}
<br>
<br> {{#> alert pf-c-alert--Modifier="pf-m-info"}}
<div class="pf-c-alert__icon">
  <i class="fas fa-info-circle"></i>
</div>
<div class="pf-c-alert__body">
  <h4 class="pf-c-alert__title">Info notification title</h4>
</div>
{{/alert}}