{{#> alert pf-c-alert--Modifier="pf-m-success" pf-c-alert--AriaLabel="Success Notification"}}
<div aria-hidden="true" class="pf-c-alert__icon">
    <i class="fas fa-check-circle"></i>
</div>
<div class="pf-c-alert__body">
    <h4 class="pf-c-alert__title">
    <span class="sr-only">Success: </span> Success notification title</h4>
    <p>This is a description of the notification content.</p>
</div>
{{/alert}}
<br>
<br> {{#> alert pf-c-alert--Modifier="pf-m-success" pf-c-alert--AriaLabel="Success Notification"}}
<div aria-hidden="true" class="pf-c-alert__icon">
    <i class="fas fa-check-circle"></i>
</div>
<div class="pf-c-alert__body">
    <h4 class="pf-c-alert__title">
        <span class="sr-only">Success: </span> Success notification title</h4>
</div>
<div class="pf-c-alert__action">
    {{#> button btnClass="pf-m-secondary"}} Button {{/button}}
</div>
{{/alert}}
<br>
<br> {{#> alert pf-c-alert--Modifier="pf-m-success" pf-c-alert--AriaLabel="Success Notification"}}
<div aria-hidden="true" class="pf-c-alert__icon">
    <i class="fas fa-check-circle"></i>
</div>
<div class="pf-c-alert__body">
    <h4 class="pf-c-alert__title">
        <span class="sr-only">Success: </span> Success notification title</h4>
</div>
{{/alert}}