// @debug $check; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root {
  --#{$check}--GridGap: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);
  --#{$check}--AccentColor: var(--pf-t--global--color--brand--default);
  --#{$check}__label--disabled--Color: var(--pf-t--global--text--color--disabled);
  --#{$check}__label--Color: var(--pf-t--global--text--color--regular);
  --#{$check}__label--FontWeight: var(--pf-t--global--font--weight--body);
  --#{$check}__label--FontSize: var(--pf-t--global--font--size--body);
  --#{$check}__label--LineHeight: var(--pf-t--global--font--line-height--body);
  --#{$check}__input--TranslateY--moz: 5px;
  --#{$check}__description--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$check}__description--Color: var(--pf-t--global--text--color--subtle);

  // Required checkbox
  --#{$check}__label-required--MarginLeft: var(--pf-t--global--spacer--xs);
  --#{$check}__label-required--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$check}__label-required--Color: var(--pf-t--global--color--status--danger--default);
}

.#{$check} {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--#{$check}--GridGap);
  accent-color: var(--#{$check}--AccentColor);

  &.pf-m-standalone {
    --#{$check}--GridGap: 0;
    --#{$check}__input--TranslateY: none;

    display: inline-grid;
  }
}

.#{$check}__input {
  align-self: start;

  // stylelint-disable property-no-vendor-prefix
  -moz-transform: translateY(var(--#{$check}__input--TranslateY--moz)); // remove at breaking change - no longer needed
  // stylelint-enable

  // find height of single label, divide by two, offset by 50% of own height
  transform: translateY(var(--#{$check}__input--TranslateY));
}

.#{$check}__label {
  font-size: var(--#{$check}__label--FontSize);
  font-weight: var(--#{$check}__label--FontWeight);
  line-height: var(--#{$check}__label--LineHeight);
  color: var(--#{$check}__label--Color);
}

.#{$check}__description {
  grid-column: 2;
  font-size: var(--#{$check}__description--FontSize);
  color: var(--#{$check}__description--Color);
}

.#{$check}__body {
  grid-column: 2;
}

.#{$check}__label,
.#{$check}__input {
  justify-self: start;

  @at-root label.#{$check},
  & {
    cursor: pointer;
  }

  &:disabled,
  &.pf-m-disabled {
    --#{$check}__label--Color: var(--#{$check}__label--disabled--Color);

    cursor: not-allowed;
  }
}

.#{$check}__label-required {
  margin-inline-start: var(--#{$check}__label-required--MarginLeft);
  font-size: var(--#{$check}__label-required--FontSize);
  color: var(--#{$check}__label-required--Color);
}
