@import "../../patternfly-utilities";

.pf-c-check {
  --pf-c-check__label--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-check__label--disabled--color: var(--pf-global--disabled-color--100);
  --pf-c-check__label--Color: var(--pf-global--Color--100);
  --pf-c-check__label--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-check__label--FontSize: var(--pf-global--FontSize--md);
  --pf-c-check__label--LineHeight: var(--pf-global--LineHeight--sm);

  .pf-c-check__label {
    display: inline-block;
    font-size: var(--pf-c-check__label--FontSize);
    font-weight: var(--pf-c-check__label--FontWeight);
    line-height: var(--pf-c-check__label--LineHeight);
    color: var(--pf-c-check__label--Color);
  }

  .pf-c-check__label.pf-m-disabled,
  .pf-c-check__input:disabled {
    color: var(--pf-c-check__label--disabled--color);
    cursor: not-allowed;
  }

  .pf-c-check__input,
  .pf-c-check__label {
    cursor: pointer;
  }

  .pf-c-check__input + .pf-c-check__label {
    padding-left: var(--pf-c-check__label--PaddingLeft);
  }

  .pf-c-check__label + .pf-c-check__input {
    padding-left: var(--pf-c-check__label--PaddingLeft);
  }
}
