<span class="{{pfv}}check__label-required{{#if check-label-required--modifier}} {{check-label-required--modifier}}{{/if}}"
  aria-hidden="true"
  {{#if check-label-required--attribute}}
    {{{check-label-required--attribute}}}
  {{/if}}>
  &#42;
</span>
