/* stylelint-disable */
.pf-c-check {
  --pf-c-check--GridGap: var(--pf-global--spacer--xs) var(--pf-global--spacer--sm);
  --pf-c-check__label--disabled--Color: var(--pf-global--disabled-color--100);
  --pf-c-check__label--Color: var(--pf-global--Color--100);
  --pf-c-check__label--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-check__label--FontSize: var(--pf-global--FontSize--md);
  --pf-c-check__label--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-check__input--MarginTop: #{pf-size-prem(-3px)};
  --pf-c-check__description--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-check__description--Color: var(--pf-global--Color--200);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--pf-c-check--GridGap);
  align-items: center;
  justify-items: start;
}

.pf-c-check__label {
  font-size: var(--pf-c-check__label--FontSize);
  font-weight: var(--pf-c-check__label--FontWeight);
  line-height: var(--pf-c-check__label--LineHeight);
  color: var(--pf-c-check__label--Color);
}

.pf-c-check__input {
  --active: var(--pf-global--primary-color--100);
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, .3);
  --border: var(--pf-global--BorderColor--100);
  --border-hover: var(--pf-glocbal--Color--100);
  --background: #fff;
  --disabled: var(--pf-global--disabled-color--300);
  --disabled-inner: var(--pf-global--disabled-color--300);

  position: relative;
  display: inline-block;
  height: 21px;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
  background: var(--b, var(--background));
  border: 1px solid var(--bc, var(--border));
  border-radius: 7px;
  outline: none;
  transition: background .3s, border-color .3s, box-shadow .2s;
  -webkit-appearance: none;
  -moz-appearance: none;

  --d-t: .3s;
  --d-t-e: ease;
  --d-o: .2s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    transition: transform var(--d-t) var(--d-t-e), opacity var(--d-o);
  }

  &:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  &:disabled {
    --b: var(--disabled);

    cursor: not-allowed;
    opacity: .9;

    &:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }

    & + label {
      cursor: not-allowed;
    }
  }

  &:hover {
    &:not(:checked) {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }
  }

  &:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  &:not(.switch) {
    width: 21px;

    &::after {
      opacity: var(--o, 0);
    }

    &:checked {
      --o: 1;
    }
  }

  &::after {
    top: 4px;
    left: 7px;
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    transform: rotate(var(--r, 20deg));
  }

  &:checked {
    --r: 43deg;
  }
}

.pf-c-check__label {
  display: inline-block;
  margin-left: 4px;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}

.pf-c-check__description {
  grid-column: 2;
  font-size: var(--pf-c-check__description--FontSize);
  color: var(--pf-c-check__description--Color);
}

.pf-c-check__label,
.pf-c-check__input {
  @at-root label.pf-c-check,
  &, {
    cursor: pointer;
  }

  &:disabled,
  &.pf-m-disabled {
    --pf-c-check__label--Color: var(--pf-c-check__label--disabled--Color);

    cursor: not-allowed;
  }
}
