@import "../../patternfly-utilities";

.pf-c-check {
  --pf-c-check__label--MarginLeft: var(--pf-global--spacer--sm);
  --pf-c-check__label--diabled--color: var(--pf-global--disabled-color--100);

  .pf-c-check__label.pf-m-disabled,
  .pf-c-check__input:disabled {
    color: var(--pf-c-check__label--diabled--color);
    cursor: not-allowed;
  }

  .pf-c-check__input,
  .pf-c-check__label {
    cursor: pointer;
  }

  .pf-c-check__input + .pf-c-check__label {
    margin-left: var(--pf-c-check__label--MarginLeft);
  }

  .pf-c-check__label + .pf-c-check__input {
    margin-left: var(--pf-c-check__label--MarginLeft);
  }
}
