@import "../../patternfly-utilities";

.pf-c-check {
  --pf-c-check--MarginRight: var(--pf-global--spacer--md);
  margin-right: var(--pf-c-check--MarginRight);
  cursor: pointer;

  &:disabled,
  &.pf-m-disabled {
    cursor: not-allowed;
  }
}
