@import "../../patternfly-utilities";

.pf-c-chip {
  --pf-c-chip--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-chip--MarginTop: calc(#{var(--pf-global--spacer--xs)} / 2);
  --pf-c-chip--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-chip--MarginBottom: calc(#{var(--pf-global--spacer--xs)} / 2);
  --pf-c-chip--BackgroundColor: var(--pf-global--Color--light-100);
  --pf-c-chip--BorderColor: var(--pf-global--BorderColor);
  --pf-c-chip--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-chip--hover--BorderColor: var(--pf-global--primary-color--100);

  // modified chip
  --pf-c-chip--m-overflow--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-chip--m-overflow--PaddingLeft: 0;
  --pf-c-chip--m-overflow--BorderColor: transparent;
  --pf-c-chip--m-overflow--BorderWidth: 0;
  --pf-c-chip--m-overflow--button--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-chip--m-overflow--button--BorderWidth: 0;
  --pf-c-chip--m-overflow--button--BorderColor: transparent;
  --pf-c-chip--m-overflow--button--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-chip--m-overflow--button--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-chip--m-overflow--button--active--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--m-overflow--button--active--BorderColor: var(--pf-global--BorderColor);
  --pf-c-chip--m-overflow--button--focus--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--m-overflow--button--focus--BorderColor: var(--pf-global--BorderColor);

  // chip text
  --pf-c-chip__text--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-chip__text--Color: var(--pf-global--Color--100);
  --pf-c-chip__text--MaxWidth: #{pf-size-prem(120px)}; // This can be changed for different use cases

  // Chip button
  --pf-c-chip__button--MinWidth: var(--pf-global--spacer--xl); // Change this to a new target size for accessibility
  --pf-c-chip__button--MinHeight: #{pf-size-prem(28px)}; // Custom size for min height is as close as possible to target size for accessibility;
  --pf-c-chip__button--PaddingRight: var(--pf-global--spacer--xs);
  --pf-c-chip__button--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-chip__button--Color: var(--pf-global--Color--200);
  --pf-c-chip__button--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-chip__button--hover--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-chip__button--hover--BorderColor: var(--pf-global--BorderColor);
  --pf-c-chip__button--hover--Color: var(--pf-global--primary-color--100);
  --pf-c-chip__button--active--Color: var(--pf-global--primary-color--200);
  --pf-c-chip__button--focus--Color: var(--pf-global--primary-color--200);

  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: var(--pf-c-chip--PaddingLeft);
  margin-top: var(--pf-c-chip--MarginTop);
  margin-bottom: var(--pf-c-chip--MarginBottom);
  color: var(--pf-c-chip--Color);
  background-color: var(--pf-c-chip--BackgroundColor);
  border-radius: var(--pf-c-chip--BorderRadius);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: var(--pf-c-chip--BorderWidth) solid var(--pf-c-chip--BorderColor);
    border-radius: var(--pf-c-chip--BorderRadius);
  }

  &:not(:last-child) {
    margin-right: var(--pf-c-chip--MarginRight);
  }

  // Chip Hover State
  &.pf-m-hover,
  &:hover {
    &::before {
      --pf-c-chip--BorderColor: var(--pf-c-chip--hover--BorderColor);
    }

    .pf-c-button {
      color: var(--pf-c-chip__button--hover--Color);
    }
  }

  // Chip Overflow Modifier
  &.pf-m-overflow {
    --pf-c-chip--PaddingLeft: var(--pf-c-chip--m-overflow--PaddingLeft);
    --pf-c-chip--BackgroundColor: var(--pf-c-chip--m-overflow--BackgroundColor);

    // Remove Chip border
    &::before {
      --pf-c-chip--BorderColor: var(--pf-c-chip--m-overflow--BorderColor);
      --pf-c-chip--BorderWidth: var(--pf-c-chip--m-overflow--BorderWidth);

      content: "";
    }

    &.pf-m-hover,
    &:hover {
      &::before {
        --pf-c-chip--BorderColor: var(--pf-c-chip__button--hover--BorderColor);
        --pf-c-chip--BorderWidth: var(--pf-c-chip__button--hover--BorderWidth);
      }
    }

    .pf-c-button {
      padding-right: var(--pf-c-chip--m-overflow--button--PaddingRight);
      padding-left: var(--pf-c-chip--m-overflow--button--PaddingLeft);
      border: var(--pf-c-chip--m-overflow--button--BorderWidth) solid var(--pf-c-chip--m-overflow--button--BorderColor);

      &.pf-m-active,
      &:active {
        /* stylelint-disable-next-line */
        &::after {
          border: var(--pf-c-chip--m-overflow--button--active--BorderWidth) solid var(--pf-c-chip--m-overflow--button--active--BorderColor);
          border-radius: var(--pf-c-chip--m-overflow--button--BorderRadius);
        }
      }

      &.pf-m-focus,
      &:focus {
        /* stylelint-disable-next-line */
        &::after {
          border: var(--pf-c-chip--m-overflow--button--focus--BorderWidth) solid var(--pf-c-chip--m-overflow--button--focus--BorderColor);
          border-radius: var(--pf-c-chip--m-overflow--button--BorderRadius);
        }
      }
    }
  }

  // Button
  .pf-c-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(--pf-c-chip__button--MinWidth);
    min-height: var(--pf-c-chip__button--MinHeight);
    padding-right: var(--pf-c-chip__button--PaddingRight);
    padding-left: var(--pf-c-chip__button--PaddingLeft);
    font-size: var(--pf-c-chip__button--FontSize);
    color: var(--pf-c-chip__button--Color);

    &.pf-m-plain {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.pf-m-focus,
    &:focus {
      color: var(--pf-c-chip__button--focus--Color);
      outline: none; // turn off default button focus styles
    }

    &.pf-m-active,
    &:active {
      color: var(--pf-c-chip__button--active--Color);
    }

    // Turn off default button margin-right style
    > :first-child {
      margin-right: 0;
    }
  }
}

// Text Element
.pf-c-chip__text {
  align-items: baseline;
  max-width: var(--pf-c-chip__text--MaxWidth);
  overflow: hidden;
  font-size: var(--pf-c-chip__text--FontSize);
  color: var(--pf-c-chip__text--Color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

