<p class="pf-c-chips__chip-text{{#if chips-chip-text--modifier}} {{chips-chip-text--modifier}}{{/if}}"
  {{#if chips-chip-text--attribute}}
    {{{chips-chip-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
