<div class="pf-c-description-list__group{{#if description-list__group--modifier}} {{description-list__group--modifier}}{{/if}}"
  {{#if description-list__group--attribute}}
    {{{description-list__group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
