{{#> description-list}}
  {{#> description-list-group}}
    {{#> description-list-term}}
      {{#> description-list-icon}}
        <i class="fas fa-cube" aria-hidden="true"></i>
      {{/description-list-icon}}
      Name Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    {{/description-list-term}}
    {{#> description-list-description}}
      example
    {{/description-list-description}}
  {{/description-list-group}}
  {{#> description-list-group}}
    {{#> description-list-term}}
      {{#> description-list-icon}}
        <i class="fas fa-book" aria-hidden="true"></i>
      {{/description-list-icon}}
      Namespace
    {{/description-list-term}}
    {{#> description-list-description}}
      <a href="#">mary-test</a>
    {{/description-list-description}}
  {{/description-list-group}}
  {{#> description-list-group}}
    {{#> description-list-term}}
      {{#> description-list-icon}}
        <i class="fas fa-key" aria-hidden="true"></i>
      {{/description-list-icon}}
      Labels
    {{/description-list-term}}
    {{#> description-list-description}}
      example
    {{/description-list-description}}
  {{/description-list-group}}
  {{#> description-list-group}}
    {{#> description-list-term}}
      {{#> description-list-icon}}
        <i class="fas fa-globe" aria-hidden="true"></i>
      {{/description-list-icon}}
      Pod selector
    {{/description-list-term}}
    {{#> description-list-description}}
      {{#> button button--modifier="pf-m-link pf-m-inline"}}
        {{#> button-icon button-icon--modifier="pf-m-start"}}
          <i class="fas fa-plus-circle" aria-hidden="true"></i>
        {{/button-icon}}
        app=MyApp
      {{/button}}
    {{/description-list-description}}
  {{/description-list-group}}
  {{#> description-list-group}}
    {{#> description-list-term}}
      {{#> description-list-icon}}
        <i class="fas fa-flag" aria-hidden="true"></i>
      {{/description-list-icon}}
      Annotation
    {{/description-list-term}}
    {{#> description-list-description}}
      2 Annotations
    {{/description-list-description}}
  {{/description-list-group}}
{{/description-list}}
