@import "../../patternfly-utilities";

// This variable is here just so that the grid has a width to use in the minmax() for laying out the gallery columns.
:root {
  --pf-l-gallery__item--Width: 250px;
  --pf-l-gallery--GridGap: var(--pf-global--gutter);
  --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(var(--pf-l-gallery__item--Width), 1fr));
  --pf-l-gallery__item--FlexBasis: var(--pf-l-gallery__item--Width);
}

.pf-l-gallery {
  display: grid;
  grid-template-columns: var(--pf-l-gallery--GridTemplateColumns);

  &__item {
    flex-basis: var(--pf-l-gallery__item--FlexBasis);
  }

  &.pf-has-gutter {
    grid-gap: var(--pf-l-gallery--GridGap);
  }
}
