@import "../../patternfly-utilities";

:root {
  --pf-l-gallery--gutter--GridGap: var(--pf-global--gutter);

  // The 250px value is here just so that the grid has a width to use in the minmax() for laying out the gallery columns.
  --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(250px, 1fr));
}

.pf-l-gallery {
  display: grid;
  grid-template-columns: var(--pf-l-gallery--GridTemplateColumns);

  &.pf-m-gutter {
    grid-gap: var(--pf-l-gallery--gutter--GridGap);
  }
}
