<div class="{{#if background-color--modifier}} {{background-color--modifier}}{{/if}}"
  {{#if background-color--attribute}}
    {{{background-color--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
