@mixin tabs() {
  .pf-c-tabs {
    --pf-c-tabs--m-color-scheme--light-300__link--BackgroundColor: var(--pf-global--BackgroundColor--100);
    --pf-c-tabs--m-color-scheme--light-300__item--m-current__link--BackgroundColor: var(--pf-global--BackgroundColor--200);
    --pf-c-tabs__scroll-button--BackgroundColor: transparent;
    --pf-c-tabs__link--disabled--BackgroundColor: var(--pf-global--disabled-color--200);

    &.pf-m-box {
      .pf-c-tabs__item.pf-m-current {
        // stylelint-disable selector-max-class
        .pf-c-tabs__link {
          background-color: var(--pf-global--BackgroundColor--100);
        }
        // stylelint-enable
      }

      &.pf-m-color-scheme--light-300 {
        --pf-c-tabs__item--m-current__link--BackgroundColor: var(--pf-c-tabs--m-color-scheme--light-300__item--m-current__link--BackgroundColor);

        .pf-c-tabs__link {
          background-color: var(--pf-c-tabs--m-color-scheme--light-300__item--m-current__link--BackgroundColor);
        }
      }
    }
  }
}
