{{#> login-page}}
  {{#> background-image}}{{/background-image}}
  {{#> login}}
    {{#> login-header}}
      {{#> login-header-brand}}
        {{#> brand brand--attribute='src="/assets/images/pf_logo_color.svg" alt="PatternFly Logo"'}}{{/brand}}
      {{/login-header-brand}}
      {{#> content}}
        <p>This is placeholder text only. Use this area to place any information or introductory message about your application that may be relevant to users.</p>
      {{/content}}
    {{/login-header}}
    {{#> login-main}}
      {{#> login-box}}
        {{#> login-box-header}}
          {{#> title titleType="h1" title--modifier="pf-m-3xl pf-u-mb-sm"}}
            Sign in to your account
          {{/title}}
          {{#> display display--type="inline-flex" display--modifier="pf-u-align-items-center"}}
            {{#> dropdown id="dropdown-select" dropdown--IsSelect="true" dropdown--ItemIsSelected="true" dropdown--HasToggleIcon="true"}}
              English
            {{/dropdown}}
            <p class="pf-u-ml-md">Need an account? <a href="https://www.patternfly.org/">Sign up.</a></p>
          {{/display}}
        {{/login-box-header}}
        {{#> login-box-body}}
          {{#> form }}
            {{#> form-group}}
              {{#> form-label form-label--attribute='for="login-demo-form-username"' required="true"}}Username{{/form-label}}
              {{#> form-control controlType="input" form-control--attribute='required input="true" type="text" id="login-demo-form-username" name="login-demo-form-username" aria-describedby="login-demo-username-helper"'}}{{/form-control}}
              {{#> form-helper-text form-helper-text--attribute='id="login-demo-username-helper" aria-live="polite"'}}Please provide a username{{/form-helper-text}}
            {{/form-group}}
            {{#> form-group}}
              {{#> form-label form-label--attribute='for="login-demo-form-password"' required="true"}}Password{{/form-label}}
              {{#> form-control controlType="input" form-control--attribute='required input="true" type="password" id="login-demo-form-password" name="login-demo-form-password" aria-describedby="login-demo-password-helper"'}}{{/form-control}}
              {{#> form-helper-text form-helper-text--attribute='id="login-demo-password-helper" aria-live="polite"'}}Please provide a password{{/form-helper-text}}
            {{/form-group}}
            {{#> form-group form-group--modifier="pf-m-action"}}
              {{#> toolbar}}
                {{#> toolbar-group}}
                  {{#> toolbar-item}}
                    {{#> button button--modifier="pf-m-primary"}}
                      Sign in
                    {{/button}}
                  {{/toolbar-item}}
                {{/toolbar-group}}
                {{#> toolbar-group toolbar-group--modifier="pf-u-mb-sm"}}
                  {{#> toolbar-item}}
                    {{#> check}}
                      {{#> check-input check-input--attribute='type="checkbox" id="login-demo-checkbox" name="login-demo-checkbox"'}}{{/check-input}}
                      {{#> check-label check-label--attribute='for="login-demo-checkbox"'}}Keep me signed in for 30 days.{{/check-label}}
                    {{/check}}
                  {{/toolbar-item}}
                {{/toolbar-group}}
              {{/toolbar}}
            {{/form-group}}
          {{/form}}
        {{/login-box-body}}
        {{#> login-box-footer}}
          <p class="pf-u-mb-md">Or log in with</p>
          {{#> list list--modifier="pf-m-grid"}}
            <li>
              <a href="#">
                {{#> display display--type="flex" display--modifier="pf-u-align-items-center pf-u-mt-sm pf-u-mb-sm"}}
                  <img src="/assets/images/logo-google.svg" alt="" />
                  <p class="pf-u-ml-sm">Google</p>
                {{/display}}
              </a>
            </li>
            <li>
              <a href="#">
                {{#> display display--type="flex" display--modifier="pf-u-align-items-center pf-u-mt-sm pf-u-mb-sm"}}
                  <img src="/assets/images/logo-github.svg" alt="" />
                  <p class="pf-u-ml-sm">GitHub</p>
                {{/display}}
              </a>
            </li>
            <li>
              <a href="#">
              {{#> display display--type="flex" display--modifier="pf-u-align-items-center pf-u-mt-sm pf-u-mb-sm"}}
                <img src="/assets/images/logo-dropbox.svg" alt="" />
                <p class="pf-u-ml-sm">Dropbox</p>
              {{/display}}
              </a>
            </li>
            <li>
              <a href="#">
                {{#> display display--type="flex" display--modifier="pf-u-align-items-center pf-u-mt-sm pf-u-mb-sm"}}
                  <img src="/assets/images/logo-facebook.svg" alt="" />
                  <p class="pf-u-ml-sm">Facebook</p>
                {{/display}}
              </a>
            </li>
            <li>
              <a href="#">
                {{#> display display--type="flex" display--modifier="pf-u-align-items-center pf-u-mt-sm pf-u-mb-sm"}}
                  <img class="" src="/assets/images/logo-gitlab.svg" alt="" />
                  <p class="pf-u-ml-sm">GitLab</p>
                {{/display}}
              </a>
            </li>
            <li>
              <a href="#">
                {{#> display display--type="flex" display--modifier="pf-u-align-items-center pf-u-mt-sm pf-u-mb-sm"}}
                  <p class="">More...</p>
                {{/display}}
              </a>
            </li>
          {{/list}}
        {{/login-box-footer}}
      {{/login-box}}
    {{/login-main}}
    {{#> login-footer}}
      {{#> list list--modifier="pf-m-inline"}}
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy Policy</a></li>
      {{/list}}
    {{/login-footer}}
  {{/login}}
{{/login-page}}
