@import "../../patternfly-utilities";

.pf-c-sequence {
  --pf-c-sequence--Height: #{pf-size-prem(99px)}; // fixed height hides scrollbar

  // Sequence Control
  --pf-c-sequence__control--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-sequence__control--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-sequence__control--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-sequence__control--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-sequence__control--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--BorderBottomWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--BorderTopColor: transparent;
  --pf-c-sequence__control--BorderBottomColor: transparent;
  --pf-c-sequence__control--hover--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--hover--BorderBottomWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--hover--BorderTopColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--hover--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--active--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--active--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--active--BorderTopColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--active--BorderTopColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--focus--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--focus--BorderBottomWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--focus--BorderTopColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--focus--BorderBottomColor: var(--pf-global--primary-color--100);

  // Sequence Control Modifier Start
  --pf-c-sequence__control-m-start--BorderRightWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-sequence__control-m-start--BorderRightColor: var(--pf-global--Color--200);

  // Sequence Control Modifier End
  --pf-c-sequence__control-m-end--BorderLeftWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-sequence__control-m-end--BorderLeftColor: var(--pf-global--Color--200);

  // Sequence Control Icon
  --pf-c-sequence__control-icon--MinWidth: var(--pf-global--target-size--MinWidth);

  // Sequence List
  --pf-c-sequence__list--Height: #{pf-size-prem(132px)};
  --pf-c-sequence__list--PaddingBottom: var(--pf-global--spacer--xl);

  // Item
  --pf-c-sequence__item--MarginRight: 2px;
  --pf-c-sequence__item--MaxWidth: #{pf-size-prem(260px)};

  // Link
  --pf-c-sequence__link--PaddingTop: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-sequence__link--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-c-sequence__link--BorderBottomColor: var(--pf-global--Color--200);
  --pf-c-sequence__link--BorderBottomWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__link--hover--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--active--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--focus--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--m-current--BorderBottomColor: var(--pf-global--primary-color--100);

  // Link Before
  --pf-c-sequence__link--before--Width: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--before--Height: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--before--MarginRight: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--before--Color: var(--pf-global--Color--200);
  --pf-c-sequence__link--before--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-sequence__link--before--FontWeight: var(--pf-global--FontWeight--bold);
  --pf-c-sequence__link--before--BorderColor: var(--pf-global--Color--200);
  --pf-c-sequence__link--before--BorderRadius: var(--pf-global--BorderRadius--lg);
  --pf-c-sequence__link--before--BorderWidth: var(--pf-global--BorderWidth--md);
  --pf-c-sequence__link--before--hover--Transform: scale(1.333333);
  --pf-c-sequence__link--before--hover--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--before--hover--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--before--active--Transform: scale(1.333333);
  --pf-c-sequence__link--before--active--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--before--active--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--before--focus--Transform: scale(1.333333);
  --pf-c-sequence__link--before--focus--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--before--focus--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--before--m-current--Transform: scale(1.333333);
  --pf-c-sequence__link--before--m-current--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--before--m-current--BorderColor: var(--pf-global--primary-color--100);

  // Content
  --pf-c-sequence__content--MinHeight: var(--pf-global--spacer--2xl);
  --pf-c-sequence__content--MaxWidth: #{pf-size-prem(140px)};

  // Content Title Color
  --pf-c-sequence__content-title--Color: var(--pf-global--Color--100);
  --pf-c-sequence__content-title--hover--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__content-title--active--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__content-title--focus--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__content-title--m-current--Color: var(--pf-global--primary-color--100);

  // Content Title Font
  --pf-c-sequence__content-title--FontSize: var(--pf-global--FontSize--md);
  --pf-c-sequence__content-title--FontWeight: var(--pf-global--FontWeight--reguar);
  --pf-c-sequence__content-title--active--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-sequence__content-title--focus--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-sequence__content-title--m-current--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // Content Status Color
  --pf-c-sequence__content-status--Color: var(--pf-global--Color--200);

  // Content Status Font
  --pf-c-sequence__content-status--FontSize: var(--pf-global--FontSize--xs);

  display: flex;
  justify-content: center;
  height: var(--pf-c-sequence--Height);
  overflow-y: hidden;
}

// Control Buttons
.pf-c-sequence__control {
  padding-top: var(--pf-c-sequence__control--PaddingTop);
  padding-bottom: var(--pf-c-sequence__control--PaddingBottom);
  background-color: transparent;
  border: 0;

  &::before {
    content: "";
    border-top: var(--pf-c-sequence__control--BorderTopWidth) solid var(--pf-c-sequence__control--BorderTopColor);
    border-bottom: var(--pf-c-sequence__control--BorderBottomWidth) solid var(--pf-c-sequence__control--BorderBottomColor);
  }

  &.pf-m-hover,
  &:hover {
    border-top: var(--pf-c-sequence__control--hover--BorderTopWidth) solid var(--pf-c-sequence__control--hover--BorderTopColor);
    border-bottom: var(--pf-c-sequence__control--hover--BorderBottomWidth) solid var(--pf-c-sequence__control--hover--BorderBottomColor);
  }

  &.pf-m-focus,
  &:focus {
    border-top: var(--pf-c-sequence__control--focus--BorderTopWidth) solid var(--pf-c-sequence__control--focus--BorderTopColor);
    border-bottom: var(--pf-c-sequence__control--focus--BorderBottomWidth) solid var(--pf-c-sequence__control--focus--BorderBottomColor);
    outline: 0;
  }

  &.pf-m-start {
    border-right: var(--pf-c-sequence__control-m-start--BorderRightWidth) solid var(--pf-c-sequence__control-m-start--BorderRightColor);
  }

  &.pf-m-end {
    border-left: var(--pf-c-sequence__control-m-end--BorderLeftWidth) solid var(--pf-c-sequence__control-m-end--BorderLeftColor);
  }

  .pf-c-sequence__control-icon {
    min-width: var(--pf-c-sequence__control-icon--MinWidth);
  }
}

// Horizontal list
.pf-c-sequence__list {
  display: inline-flex;
  height: var(--pf-c-sequence__list--Height);
  padding-bottom: var(--pf-c-sequence__list--PaddingBottom);
  overflow-x: scroll;
  counter-reset: sequence-number;

  // remove scrollbar works on Chrome and Safari
  ::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

// List items
.pf-c-sequence__item {
  max-width: var(--pf-c-sequence__item--MaxWidth);
  list-style-type: none;

  &:not(:last-child) {
    margin-right: var(--pf-c-sequence__item--MarginRight);
  }
}

// Content
.pf-c-sequence__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--pf-c-sequence__content--MinHeight);

  & > * {
    max-width: var(--pf-c-sequence__content--MaxWidth);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// Content Title
.pf-c-sequence__content-title {
  font-size: var(--pf-c-sequence__content-title--FontSize);
  font-weight: var(--pf-c-sequence__content-title--FontWeight);
}

// Content Status
.pf-c-sequence__content-status {
  font-size: var(--pf-c-sequence__content-status--FontSize);
  color: var(--pf-c-sequence__content-status--Color);
}

// Link
.pf-c-sequence__link {
  display: flex;
  align-items: center;
  padding:
    var(--pf-c-sequence__link--PaddingTop)
    var(--pf-c-sequence__link--PaddingRight)
    var(--pf-c-sequence__link--PaddingBottom)
    var(--pf-c-sequence__link--PaddingLeft);
  border-bottom: var(--pf-c-sequence__link--BorderBottomWidth) solid var(--pf-c-sequence__link--BorderBottomColor);

  &::before {
    width: var(--pf-c-sequence__link--before--Width);
    height: var(--pf-c-sequence__link--before--Height);
    margin-right: var(--pf-c-sequence__link--before--MarginRight);
    font-size: var(--pf-c-sequence__link--before--FontSize);
    font-weight: var(--pf-c-sequence__link--before--FontWeight);
    color: var(--pf-c-sequence__link--before--Color);
    text-align: center;
    content: counter(sequence-number);
    counter-increment: sequence-number;
    border: var(--pf-c-sequence__link--before--BorderWidth) solid var(--pf-c-sequence__link--before--BorderColor);
    border-radius: var(--pf-c-sequence__link--before--BorderRadius);
  }

  &.pf-m-hover,
  &:hover {
    border-bottom-color: var(--pf-c-sequence__link--hover--BorderBottomColor);

    &::before {
      color: var(--pf-c-sequence__link--before--hover--Color);
      border-color: var(--pf-c-sequence__link--before--hover--Color);
      transform: var(--pf-c-sequence__link--before--hover--Transform);
    }

    .pf-c-sequence__content-title {
      color: var(--pf-c-sequence__content-title--hover--Color);
    }
  }

  &.pf-m-active,
  &:active {
    border-bottom-color: var(--pf-c-sequence__link--active--BorderBottomColor);

    &::before {
      color: var(--pf-c-sequence__link--before--active--Color);
      border-color: var(--pf-c-sequence__link--before--active--Color);
      transform: var(--pf-c-sequence__link--before--active--Transform);
    }

    .pf-c-sequence__content-title {
      font-weight: var(--pf-c-sequence__content-title--active--FontWeight);
      color: var(--pf-c-sequence__content-title--active--Color);
    }
  }

  &.pf-m-focus,
  &:focus {
    border-bottom-color: var(--pf-c-sequence__link--focus--BorderBottomColor);

    &::before {
      color: var(--pf-c-sequence__link--before--focus--Color);
      border-color: var(--pf-c-sequence__link--before--focus--Color);
      transform: var(--pf-c-sequence__link--before--focus--Transform);
    }

    .pf-c-sequence__content-title {
      font-weight: var(--pf-c-sequence__content-title--focus--FontWeight);
      color: var(--pf-c-sequence__content-title--focus--Color);
    }
  }

  &.pf-m-current {
    border-bottom-color: var(--pf-c-sequence__link--m-current--BorderBottomColor);

    &::before {
      color: var(--pf-c-sequence__link--before--m-current--Color);
      border-color: var(--pf-c-sequence__link--before--m-current--Color);
      transform: var(--pf-c-sequence__link--before--m-current--Transform);
    }

    .pf-c-sequence__content-title {
      font-weight: var(--pf-c-sequence__content-title--m-current--FontWeight);
      color: var(--pf-c-sequence__content-title--m-current--Color);
    }
  }
}


