<span class="pf-c-sequence__content{{#if sequence-content--modifier}} {{sequence-content--modifier}}{{/if}}"
  {{#if sequence-content--attribute}}
    {{{sequence-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
