<p class="pf-c-sequence__link-description-status{{#if sequence-link-description-status--modifier}} {{sequence-link-description-status--modifier}}{{/if}}"
  {{#if sequence-link-description-status--attribute}}
    {{{sequence-link-description-status--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
