<div class="pf-c-sequence__number{{#if sequence-number--modifier}} {{sequence-number--modifier}}{{/if}}"
  {{#if sequence-number--attribute}}
    {{{sequence-number--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>