<p class="pf-c-sequence__number-text{{#if sequence-number-text--modifier}} {{sequence-number-text--modifier}}{{/if}}"
  {{#if sequence-number-text--attribute}}
    {{{sequence-number-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>