<div class="pf-c-sequence__control-icon{{#if sequence-control-icon--modifier}} {{sequence-control-icon--modifier}}{{/if}}"
  {{#if sequence-control-icon--attribute}}
		{{{sequence-control-icon--attribute}}}
	{{/if}}>
	{{> @partial-block}}
	{{#if sequence-control-icon--right}}
		{{> angle-right-icon}}
	{{/if}}
	{{#if sequence-control-icon--left}}
		{{> angle-left-icon}}
	{{/if}}
</div>