@import "../../patternfly-utilities";

.pf-c-sequence {
  --pf-c-sequence--Height: #{pf-size-prem(100px)}; // fixed height hides scrollbar

  // Sequence Control
  --pf-c-sequence__control--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-sequence__control--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-sequence__control--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-sequence__control--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-sequence__control--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--BorderBottomWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--BorderTopColor: transparent;
  --pf-c-sequence__control--BorderBottomColor: transparent;
  --pf-c-sequence__control--hover--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--hover--BorderBottomWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--hover--BorderTopColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--hover--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--active--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--active--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--active--BorderTopColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--active--BorderTopColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--focus--BorderTopWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--focus--BorderBottomWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__control--focus--BorderTopColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__control--focus--BorderBottomColor: var(--pf-global--primary-color--100);

  // Sequence Control Modifier Start
  --pf-c-sequence__control-m-start--PositionLeft: 0;
  --pf-c-sequence__control-m-start--BorderRightWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-sequence__control-m-start--BorderRightColor: var(--pf-global--Color--200);

  // Sequence Control Modifier End
  --pf-c-sequence__control-m-end--PositionRight: 0;
  --pf-c-sequence__control-m-end--BorderLeftWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-sequence__control-m-end--BorderLeftColor: var(--pf-global--Color--200);

  // Sequence Control Icon
  --pf-c-sequence__control-icon--Color: var(--pf-global--Color--100);
  --pf-c-sequence__control-icon--MinWidth: var(--pf-global--target-size--MinWidth);

  // Sequence List
  --pf-c-sequence__list--Height: #{pf-size-prem(132px)};
  --pf-c-sequence__list--PaddingBottom: var(--pf-global--spacer--xl);

  // Item
  --pf-c-sequence__item--MarginRight: 2px;
  --pf-c-sequence__item--MaxWidth: #{pf-size-prem(200px)};

  // Link
  --pf-c-sequence__link--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-sequence__link--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-sequence__link--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-c-sequence__link--BorderBottomColor: var(--pf-global--Color--200);
  --pf-c-sequence__link--BorderBottomWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-sequence__link--Width: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--Height: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--MarginRight: var(--pf-global--spacer--lg);
  --pf-c-sequence__link--Color: var(--pf-global--Color--200);
  --pf-c-sequence__link--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-sequence__link--FontWeight: var(--pf-global--FontWeight--bold);
  --pf-c-sequence__link--BorderColor: var(--pf-global--Color--200);
  --pf-c-sequence__link--BorderRadius: var(--pf-global--BorderRadius--lg);
  --pf-c-sequence__link--BorderWidth: var(--pf-global--BorderWidth--md);
  --pf-c-sequence__link--hover--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--hover--Transform: scale(1.333333);
  --pf-c-sequence__link--hover--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--hover--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--active--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--active--Transform: scale(1.333333);
  --pf-c-sequence__link--active--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--active--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--focus--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--focus--Transform: scale(1.333333);
  --pf-c-sequence__link--focus--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--focus--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--m-current--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--m-current--Transform: scale(1.333333);
  --pf-c-sequence__link--m-current--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__link--m-current--BorderColor: var(--pf-global--primary-color--100);

  // Content
  --pf-c-sequence__content--MinHeight: var(--pf-global--spacer--xl);

  // content Title
  --pf-c-sequence__content-title--MaxWidth: #{pf-size-prem(100px)};

  // Content Title Color
  --pf-c-sequence__content-title--Color: var(--pf-global--Color--100);
  --pf-c-sequence__content-title--hover--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__content-title--active--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__content-title--focus--Color: var(--pf-global--primary-color--100);
  --pf-c-sequence__content-title--m-current--Color: var(--pf-global--primary-color--100);

  // Content Title Font
  --pf-c-sequence__content-title--FontSize: var(--pf-global--FontSize--md);
  --pf-c-sequence__content-title--FontWeight: var(--pf-global--FontWeight--reguar);
  --pf-c-sequence__content-title--active--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-sequence__content-title--focus--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-sequence__content-title--m-current--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // Content Status
  --pf-c-sequence__content-status--MaxWidth: #{pf-size-prem(100px)};

  // Content Status Color
  --pf-c-sequence__content-status--Color: var(--pf-global--Color--200);

  // Content Status Font
  --pf-c-sequence__content-status--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-sequence__content-status--FontWeight: var(--pf-global--FontWeight--regular);

  position: relative;
  display: flex;
  justify-content: center;
  height: var(--pf-c-sequence--Height);
  overflow-y: hidden;

  // remove default border styling
  button {
    padding: 0;
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;

    &:focus {
      outline: none;
    }
  }

  button::-moz-focus-inner {
    border: 0;
  }

  // remove scrollbar works on Chrome and Safari
  ::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

.pf-c-sequence__control {
  top: 0;
  bottom: 0;
  padding-top: var(--pf-c-sequence__control--PaddingTop);
  padding-bottom: var(--pf-c-sequence__control--PaddingBottom);

  &::before {
    content: "";
    border-top: var(--pf-c-sequence__control--BorderTopWidth) solid var(--pf-c-sequence__control--BorderTopColor);
    border-bottom: var(--pf-c-sequence__control--BorderBottomWidth) solid var(--pf-c-sequence__control--BorderBottomColor);
  }

  &.pf-m-hover,
  &:hover {
    border-top: var(--pf-c-sequence__control--hover--BorderTopWidth) solid var(--pf-c-sequence__control--hover--BorderTopColor);
    border-bottom: var(--pf-c-sequence__control--hover--BorderBottomWidth) solid var(--pf-c-sequence__control--hover--BorderBottomColor);
  }

  &.pf-m-active,
  &:active {
    border-top: var(--pf-c-sequence__control--active--BorderTopWidth) solid var(--pf-c-sequence__control--active--BorderTopColor);
    border-bottom: var(--pf-c-sequence__control--active--BorderBottomWidth) solid var(--pf-c-sequence__control--active--BorderBottomColor);
  }

  &.pf-m-focus,
  &:focus {
    border-top: var(--pf-c-sequence__control--focus--BorderTopWidth) solid var(--pf-c-sequence__control--focus--BorderTopColor);
    border-bottom: var(--pf-c-sequence__control--focus--BorderBottomWidth) solid var(--pf-c-sequence__control--focus--BorderBottomColor);
  }

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    display: none;
  }
}

.pf-c-sequence__control-m-start {
  left: var(--pf-c-sequence__control-m-start--PositionLeft);
  order: 1;
  border-right: var(--pf-c-sequence__control-m-start--BorderRightWidth) solid var(--pf-c-sequence__control-m-start--BorderRightColor);
  border-left: 0;
}

.pf-c-sequence__control-m-end {
  right: var(--pf-c-sequence__control-m-end--PositionRight);
  order: 3;
  border-right: 0;
  border-left: var(--pf-c-sequence__control-m-end--BorderLeftWidth) solid var(--pf-c-sequence__control-m-end--BorderLeftColor);
}

.pf-c-sequence__control-icon {
  min-width: var(--pf-c-sequence__control-icon--MinWidth);
  color: var(--pf-c-sequence__control-icon--Color);
}

// Horizontal list
.pf-c-sequence__list {
  display: inline-flex;
  order: 2;
  height: var(--pf-c-sequence__list--Height);
  padding-bottom: var(--pf-c-sequence__list--PaddingBottom);
  overflow-x: scroll;
  counter-reset: sequence-number;
}

// Change default styles for the list and list items
.pf-c-sequence__list .pf-c-sequence__item {
  list-style-type: none;
}

// Items inside of list
.pf-c-sequence__item {
  max-width: var(--pf-c-sequence__item--MaxWidth);

  &:not(:last-child) {
    margin-right: var(--pf-c-sequence__item--MarginRight);
  }
}

// Content
.pf-c-sequence__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--pf-c-sequence__content--MinHeight);
}

// Content Title
.pf-c-sequence__content-title {
  max-width: var(--pf-c-sequence__content-title--MaxWidth);
  overflow: hidden;
  font-size: var(--pf-c-sequence__content-title--FontSize);
  font-weight: var(--pf-c-sequence__content-title--FontWeight);
  color: var(--pf-c-sequence__content-title--Color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Content Status
.pf-c-sequence__content-status {
  max-width: var(--pf-c-sequence__content-status--MaxWidth);
  overflow: hidden;
  font-size: var(--pf-c-sequence__content-status--FontSize);
  font-weight: var(--pf-c-sequence__content-status--FontWeight);
  color: var(--pf-c-sequence__content-status--Color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Link
.pf-c-sequence__link {
  display: flex;
  align-items: center;
  padding:
    var(--pf-c-sequence__link--PaddingTop)
    var(--pf-c-sequence__link--PaddingRight)
    var(--pf-c-sequence__link--PaddingBottom)
    var(--pf-c-sequence__link--PaddingLeft);
  border-bottom: var(--pf-c-sequence__link--BorderBottomWidth) solid var(--pf-c-sequence__link--BorderBottomColor);

  &::before {
    position: relative;
    width: var(--pf-c-sequence__link--Width);
    height: var(--pf-c-sequence__link--Height);
    margin-right: var(--pf-c-sequence__link--MarginRight);
    font-size: var(--pf-c-sequence__link--FontSize);
    font-weight: var(--pf-c-sequence__link--FontWeight);
    color: var(--pf-c-sequence__link--Color);
    text-align: center;
    content: counter(sequence-number);
    counter-increment: sequence-number;
    border: var(--pf-c-sequence__link--BorderWidth) solid var(--pf-c-sequence__link--BorderColor);
    border-radius: var(--pf-c-sequence__link--BorderRadius);
  }

  &.pf-m-hover,
  &:hover {
    border-bottom-color: var(--pf-c-sequence__link--hover--BorderBottomColor);

    .pf-c-sequence__content-title {
      color: var(--pf-c-sequence__content-title--hover--Color);
    }

    &::before {
      color: var(--pf-c-sequence__link--hover--Color);
      border-color: var(--pf-c-sequence__link--hover--Color);
      transform: var(--pf-c-sequence__link--hover--Transform);
    }
  }

  &.pf-m-active,
  &:active {
    border-bottom-color: var(--pf-c-sequence__link--active--BorderBottomColor);

    &::before {
      color: var(--pf-c-sequence__link--active--Color);
      border-color: var(--pf-c-sequence__link--active--Color);
      transform: var(--pf-c-sequence__link--active--Transform);
    }

    .pf-c-sequence__content-title {
      font-weight: var(--pf-c-sequence__content-title--active--FontWeight);
      color: var(--pf-c-sequence__content-title--active--Color);
    }
  }

  &.pf-m-focus,
  &:focus {
    border-bottom-color: var(--pf-c-sequence__link--focus--BorderBottomColor);

    &::before {
      color: var(--pf-c-sequence__link--focus--Color);
      border-color: var(--pf-c-sequence__link--focus--Color);
      transform: var(--pf-c-sequence__link--focus--Transform);
    }

    .pf-c-sequence__content-title {
      font-weight: var(--pf-c-sequence__content-title--focus--FontWeight);
      color: var(--pf-c-sequence__content-title--focus--Color);
    }
  }

  &.pf-m-current {
    border-bottom-color: var(--pf-c-sequence__link--m-current--BorderBottomColor);

    &::before {
      color: var(--pf-c-sequence__link--m-current--Color);
      border-color: var(--pf-c-sequence__link--m-current--Color);
      transform: var(--pf-c-sequence__link--m-current--Transform);
    }

    .pf-c-sequence__content-title {
      font-weight: var(--pf-c-sequence__content-title--m-current--FontWeight);
      color: var(--pf-c-sequence__content-title--m-current--Color);
    }
  }
}


