<button class="pf-c-sequence__control{{#if sequence-control--modifier}} {{sequence-control--modifier}}{{/if}}"
    {{#if sequence-control--attribute}}
        {{{sequence-control--attribute}}}
    {{/if}}>
    {{> @partial-block}}
</button>