<div class="pf-c-sequence__link-position-number{{#if sequence-link-position-number--modifier}} {{sequence-link-position-number--modifier}}{{/if}}"
  {{#if sequence-link-position-number--attribute}}
    {{{sequence-link-position-number--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>