<li class="pf-c-sequence__item{{#if sequence-item--modifier}} {{sequence-item--modifier}}{{/if}}"
  {{#if sequence-item--attribute}}
    {{{sequence-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>