<p class="pf-c-sequence__content-status{{#if sequence-content-status--modifier}} {{sequence-content-status--modifier}}{{/if}}"
  {{#if sequence-content-status--attribute}}
    {{{sequence-content-status--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
