<a class="pf-c-sequence__link{{#if sequence-link--modifier}} {{sequence-link--modifier}}{{/if}}"
  {{#if sequence-link--attribute}}
    {{{sequence-link--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</a>
