<div class="pf-c-sequence__number-container{{#if sequence-number-container--modifier}} {{sequence-number-container--modifier}}{{/if}}"
  {{#if sequence-number-container--attribute}}
    {{{sequence-number-container--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>