<div class="pf-c-sequence__link-description{{#if sequence-link-description--modifier}} {{sequence-link-description--modifier}}{{/if}}"
  {{#if sequence-link-description--attribute}}
    {{{sequence-link-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
