<h1 class="pf-c-sequence__content-title{{#if sequence-content-title--modifier}} {{sequence-content-title--modifier}}{{/if}}"
  {{#if sequence-content-title--attribute}}
    {{{sequence-content-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</h1>
