<div class="pf-c-sequence__link-position{{#if sequence-link-position--modifier}} {{sequence-link-position--modifier}}{{/if}}"
  {{#if sequence-link-position--attribute}}
    {{{sequence-link-position--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>