<p class="pf-c-sequence__link-description-title{{#if sequence-link-description-title--modifier}} {{sequence-link-description-title--modifier}}{{/if}}"
  {{#if sequence-link-description-title--attribute}}
    {{{sequence-link-description-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
