<div class="{{pfv}}masthead__main{{#if masthead-main--modifier}} {{masthead-main--modifier}}{{/if}}"
  {{#if masthead-main--attribute}}
    {{{masthead-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
