<div class="{{pfv}}masthead__brand{{#if masthead-brand--modifier}} {{masthead-brand--modifier}}{{/if}}"
  {{#if masthead-brand--attribute}}
    {{{masthead-brand--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
