<div class="pf-c-masthead__content{{#if masthead-content--modifier}} {{masthead-content--modifier}}{{/if}}"
  {{#if masthead-content--attribute}}
    {{masthead-content--attribute}}
  {{/if}}>
  {{> @partial-block}}
</div>
