<span class="{{pfv}}masthead__toggle{{#if masthead-toggle--modifier}} {{masthead-toggle--modifier}}{{/if}}"
  {{#if masthead-toggle--attribute}}
    {{{masthead-toggle--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    {{> button button--IsPlain=true button--icon="bars" button--IsIcon=true button--aria-label="Global navigation"}}
  {{/if}}
</span>
