<a class="pf-c-masthead__brand-link{{#if masthead-brand-link--modifier}} {{masthead-brand-link--modifier}}{{/if}}"
  href="{{masthead-brand-link--href}}"
  {{#if masthead-brand-link--attribute}}
    {{masthead-brand-link--attribute}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    {{> brand-link brand-link--attribute='src="/assets/images/PF-Masthead-Logo.svg" alt="PatternFly logo"'}}
  {{/if}}
</a>
