<span class="{{pfv}}masthead__settings-button-icon{{#if masthead-settings-button-icon--modifier}} {{masthead-settings-button-icon--modifier}}{{/if}}"
  {{#if masthead-settings-button-icon--attribute}}
    {{{masthead-settings-button-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
