<div class="{{pfv}}masthead__logo{{#if masthead-logo--modifier}} {{masthead-logo--modifier}}{{/if}}"
  {{#if masthead-logo--attribute}}
    {{{masthead-logo--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
