<div class="{{pfv}}empty-state__actions{{#if empty-state-actions--modifier}} {{empty-state-actions--modifier}}{{/if}}"
  {{#if empty-state-actions--attribute}}
    {{{empty-state-actions--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
