@import "../../patternfly-utilities";

.pf-c-empty-state {
  --pf-c-empty-state--MaxWidth: #{pf-size-prem(400px)}; // one off to match design
  --pf-c-empty-state--Padding: var(--pf-global--spacer--xl);
  --pf-c-empty-state__icon--MarginBottom: var(--pf-global--spacer--lg);
  --pf-c-empty-state__icon--FontSize: #{pf-size-prem(54px)}; // one off to match design
  --pf-c-empty-state__icon--Color: #{$pf-color-black-400};
  --pf-c-empty-state__body--MarginTop: var(--pf-global--spacer--md);
  --pf-c-empty-state__body--Color: var(--pf-global--Color--200);
  --pf-c-empty-state__action--MarginTop: var(--pf-global--spacer--xl);
  --pf-c-empty-state__action--GridGap: var(--pf-global--spacer--sm);

  max-width: var(--pf-c-empty-state--MaxWidth);
  padding: var(--pf-c-empty-state--Padding);
  text-align: center;
}

.pf-c-empty-state__icon {
  margin-bottom: var(--pf-c-empty-state__icon--MarginBottom);
  font-size: var(--pf-c-empty-state__icon--FontSize);
  color: var(--pf-c-empty-state__icon--Color);
}

.pf-c-empty-state__body {
  margin-top: var(--pf-c-empty-state__body--MarginTop);
  color: var(--pf-c-empty-state__body--Color);
}

.pf-c-empty-state__action {
  display: grid;
  margin-top: var(--pf-c-empty-state__action--MarginTop);
  justify-items: center;
  grid-gap: var(--pf-c-empty-state__action--GridGap);
}
