@use '../../sass-utilities' as *;

:root {
  --#{$empty-state}--PaddingTop: var(--pf-t--global--spacer--xl);
  --#{$empty-state}--PaddingRight: var(--pf-t--global--spacer--xl);
  --#{$empty-state}--PaddingBottom: var(--pf-t--global--spacer--xl);
  --#{$empty-state}--PaddingLeft: var(--pf-t--global--spacer--xl);
  --#{$empty-state}--m-xs--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$empty-state}--m-xs--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$empty-state}--m-xs--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$empty-state}--m-xs--PaddingLeft: var(--pf-t--global--spacer--md);

  // Content
  --#{$empty-state}__content--MaxWidth: none;
  --#{$empty-state}--m-xs__content--MaxWidth: #{pf-size-prem(350px)};
  --#{$empty-state}--m-sm__content--MaxWidth: #{pf-size-prem(400px)};
  --#{$empty-state}--m-lg__content--MaxWidth: #{pf-size-prem(600px)};

  // Icon
  --#{$empty-state}__icon--MarginBottom: var(--pf-t--global--spacer--lg);
  --#{$empty-state}__icon--FontSize: var(--pf-t--global--icon--size--2xl);
  --#{$empty-state}__icon--Color: var(--pf-t--global--icon--color--subtle);
  --#{$empty-state}--m-xs__icon--MarginBottom: var(--pf-t--global--spacer--lg);
  --#{$empty-state}--m-xl__icon--MarginBottom: var(--pf-t--global--spacer--xl);
  --#{$empty-state}--m-xl__icon--FontSize: var(--pf-t--global--icon--size--3xl);

  // Status variant icon color
  --#{$empty-state}--m-danger__icon--Color: var(--pf-t--global--icon--color--status--danger--default);
  --#{$empty-state}--m-warning__icon--Color: var(--pf-t--global--icon--color--status--warning--default);
  --#{$empty-state}--m-success__icon--Color: var(--pf-t--global--icon--color--status--success--default);
  --#{$empty-state}--m-info__icon--Color: var(--pf-t--global--icon--color--status--info--default);
  --#{$empty-state}--m-custom__icon--Color: var(--pf-t--global--icon--color--status--custom--default);

  // Title text
  --#{$empty-state}__title-text--FontFamily: var(--pf-t--global--font--family--heading);
  --#{$empty-state}__title-text--FontSize: var(--pf-t--global--font--size--heading--md);
  --#{$empty-state}__title-text--FontWeight: var(--pf-t--global--font--weight--heading);
  --#{$empty-state}__title-text--LineHeight: var(--pf-t--global--font--line-height--heading);
  --#{$empty-state}--m-xs__title-text--FontSize: var(--pf-t--global--font--size--heading--xs);
  --#{$empty-state}--m-xl__title-text--FontSize: var(--pf-t--global--font--size--heading--2xl);
  --#{$empty-state}--m-xl__title-text--LineHeight: var(--pf-t--global--font--line-height--heading);

  // Body
  --#{$empty-state}__body--MarginTop: var(--pf-t--global--spacer--md);
  --#{$empty-state}__body--Color: var(--pf-t--global--text--color--subtle);
  --#{$empty-state}--body--FontSize: var(--pf-t--global--font--size--body--lg);
  --#{$empty-state}--m-xs__body--FontSize: var(--pf-t--global--font--size--body--lg);
  --#{$empty-state}--m-xs__body--MarginTop: var(--pf-t--global--spacer--md);
  --#{$empty-state}--m-xl__body--FontSize: var(--pf-t--global--font--size--body--lg);
  --#{$empty-state}--m-xl__body--MarginTop: var(--pf-t--global--spacer--xl);

  // Footer
  --#{$empty-state}__footer--RowGap: var(--pf-t--global--spacer--sm);
  --#{$empty-state}__footer--MarginTop: var(--pf-t--global--spacer--xl);
  --#{$empty-state}--m-xs__footer--MarginTop: var(--pf-t--global--spacer--md);

  // Actions
  --#{$empty-state}__actions--RowGap: var(--pf-t--global--spacer--sm);
  --#{$empty-state}__actions--ColumnGap: var(--pf-t--global--spacer--md);
}

.#{$empty-state} {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-start: var(--#{$empty-state}--PaddingTop);
  padding-block-end: var(--#{$empty-state}--PaddingBottom);
  padding-inline-start: var(--#{$empty-state}--PaddingLeft);
  padding-inline-end: var(--#{$empty-state}--PaddingRight);
  text-align: center;

  &.pf-m-xs {
    --#{$empty-state}--PaddingTop: var(--#{$empty-state}--m-xs--PaddingTop);
    --#{$empty-state}--PaddingRight: var(--#{$empty-state}--m-xs--PaddingRight);
    --#{$empty-state}--PaddingBottom: var(--#{$empty-state}--m-xs--PaddingBottom);
    --#{$empty-state}--PaddingLeft: var(--#{$empty-state}--m-xs--PaddingLeft);
    --#{$empty-state}__title-text--FontSize: var(--#{$empty-state}--m-xs__title-text--FontSize);
    --#{$empty-state}__content--MaxWidth: var(--#{$empty-state}--m-xs__content--MaxWidth);
    --#{$empty-state}__icon--MarginBottom: var(--#{$empty-state}--m-xs__icon--MarginBottom);
    --#{$empty-state}__body--MarginTop: var(--#{$empty-state}--m-xs__body--MarginTop);
    --#{$empty-state}--body--FontSize: var(--#{$empty-state}--m-xs__body--FontSize);
    --#{$empty-state}__footer--MarginTop: var(--#{$empty-state}--m-xs__footer--MarginTop);
  }

  &.pf-m-sm {
    --#{$empty-state}__content--MaxWidth: var(--#{$empty-state}--m-sm__content--MaxWidth);
  }

  &.pf-m-lg {
    --#{$empty-state}__content--MaxWidth: var(--#{$empty-state}--m-lg__content--MaxWidth);
  }

  &.pf-m-xl {
    --#{$empty-state}__body--MarginTop: var(--#{$empty-state}--m-xl__body--MarginTop);
    --#{$empty-state}--body--FontSize: var(--#{$empty-state}--m-xl__body--FontSize);
    --#{$empty-state}__icon--MarginBottom: var(--#{$empty-state}--m-xl__icon--MarginBottom);
    --#{$empty-state}__icon--FontSize: var(--#{$empty-state}--m-xl__icon--FontSize);
    --#{$empty-state}__title-text--FontSize: var(--#{$empty-state}--m-xl__title-text--FontSize);
    --#{$empty-state}__title-text--LineHeight: var(--#{$empty-state}--m-xl__title-text--LineHeight);
  }

  &.pf-m-full-height {
    height: 100%;
  }

  &.pf-m-danger {
    --#{$empty-state}__icon--Color: var(--#{$empty-state}--m-danger__icon--Color);
  }

  &.pf-m-warning {
    --#{$empty-state}__icon--Color: var(--#{$empty-state}--m-warning__icon--Color);
  }

  &.pf-m-success {
    --#{$empty-state}__icon--Color: var(--#{$empty-state}--m-success__icon--Color);
  }

  &.pf-m-info {
    --#{$empty-state}__icon--Color: var(--#{$empty-state}--m-info__icon--Color);
  }

  &.pf-m-custom {
    --#{$empty-state}__icon--Color: var(--#{$empty-state}--m-custom__icon--Color);
  }
}

.#{$empty-state}__content {
  max-width: var(--#{$empty-state}__content--MaxWidth);
}

.#{$empty-state}__icon {
  margin-block-end: var(--#{$empty-state}__icon--MarginBottom);
  font-size: var(--#{$empty-state}__icon--FontSize);
  line-height: 1;
  color: var(--#{$empty-state}__icon--Color);
}

.#{$empty-state}__title-text {
  font-family: var(--#{$empty-state}__title-text--FontFamily);
  font-size: var(--#{$empty-state}__title-text--FontSize);
  font-weight: var(--#{$empty-state}__title-text--FontWeight);
  line-height: var(--#{$empty-state}__title-text--LineHeight);
}

.#{$empty-state}__body {
  margin-block-start: var(--#{$empty-state}__body--MarginTop);
  font-size: var(--#{$empty-state}--body--FontSize);
  color: var(--#{$empty-state}__body--Color);
}

.#{$empty-state}__footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--#{$empty-state}__footer--RowGap);
  align-items: center;
  margin-block-start: var(--#{$empty-state}__footer--MarginTop);
}

.#{$empty-state}__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--#{$empty-state}__actions--RowGap) var(--#{$empty-state}__actions--ColumnGap);
  justify-content: center;
}
