.pf-c-empty-state {
  --pf-c-empty-state--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-empty-state--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-empty-state--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-empty-state--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-c-empty-state--m-xs--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-empty-state--m-xs--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-empty-state--m-xs--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-empty-state--m-xs--PaddingLeft: var(--pf-global--spacer--md);

  // Content
  --pf-c-empty-state__content--MaxWidth: none;
  --pf-c-empty-state--m-xs__content--MaxWidth: #{pf-size-prem(350px)};
  --pf-c-empty-state--m-sm__content--MaxWidth: #{pf-size-prem(400px)};
  --pf-c-empty-state--m-lg__content--MaxWidth: #{pf-size-prem(600px)};

  // Icon
  --pf-c-empty-state__icon--MarginBottom: var(--pf-global--spacer--lg);
  --pf-c-empty-state__icon--FontSize: var(--pf-global--icon--FontSize--xl);
  --pf-c-empty-state__icon--Color: var(--pf-global--icon--Color--light);
  --pf-c-empty-state--m-xs__icon--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-empty-state--m-xl__icon--MarginBottom: var(--pf-global--spacer--xl);
  --pf-c-empty-state--m-xl__icon--FontSize: #{pf-size-prem(100px)};

  // Title text
  --pf-c-empty-state__title-text--FontFamily: var(--pf-global--FontFamily--heading--sans-serif);
  --pf-c-empty-state__title-text--FontSize: var(--pf-global--FontSize--xl);
  --pf-c-empty-state__title-text--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-empty-state__title-text--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-empty-state--m-xs__title-text--FontSize: var(--pf-global--FontSize--md);
  --pf-c-empty-state--m-xl__title-text--FontSize: var(--pf-global--FontSize--4xl);
  --pf-c-empty-state--m-xl__title-text--LineHeight: var(--pf-global--LineHeight--sm);

  // Body
  --pf-c-empty-state__body--MarginTop: var(--pf-global--spacer--md);
  --pf-c-empty-state__body--Color: var(--pf-global--Color--200);
  --pf-c-empty-state--body--FontSize: var(--pf-global--FontSize--md);
  --pf-c-empty-state--m-xs__body--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-empty-state--m-xs__body--MarginTop: var(--pf-global--spacer--md);
  --pf-c-empty-state--m-xl__body--FontSize: var(--pf-global--FontSize--xl);
  --pf-c-empty-state--m-xl__body--MarginTop: var(--pf-global--spacer--lg);

  // Footer
  --pf-c-empty-state__footer--RowGap: var(--pf-global--spacer--sm);
  --pf-c-empty-state__footer--MarginTop: var(--pf-global--spacer--xl);
  --pf-c-empty-state--m-xs__footer--MarginTop: var(--pf-global--spacer--md);

  // Actions
  --pf-c-empty-state__actions--RowGap: var(--pf-global--spacer--xs);
  --pf-c-empty-state__actions--ColumnGap: var(--pf-global--spacer--xs);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pf-c-empty-state--PaddingTop) var(--pf-c-empty-state--PaddingRight) var(--pf-c-empty-state--PaddingBottom) var(--pf-c-empty-state--PaddingLeft);
  text-align: center;

  &.pf-m-xs {
    --pf-c-empty-state--PaddingTop: var(--pf-c-empty-state--m-xs--PaddingTop);
    --pf-c-empty-state--PaddingRight: var(--pf-c-empty-state--m-xs--PaddingRight);
    --pf-c-empty-state--PaddingBottom: var(--pf-c-empty-state--m-xs--PaddingBottom);
    --pf-c-empty-state--PaddingLeft: var(--pf-c-empty-state--m-xs--PaddingLeft);
    --pf-c-empty-state__title-text--FontSize: var(--pf-c-empty-state--m-xs__title-text--FontSize);
    --pf-c-empty-state__content--MaxWidth: var(--pf-c-empty-state--m-xs__content--MaxWidth);
    --pf-c-empty-state__icon--MarginBottom: var(--pf-c-empty-state--m-xs__icon--MarginBottom);
    --pf-c-empty-state__body--MarginTop: var(--pf-c-empty-state--m-xs__body--MarginTop);
    --pf-c-empty-state--body--FontSize: var(--pf-c-empty-state--m-xs__body--FontSize);
    --pf-c-empty-state__footer--MarginTop: var(--pf-c-empty-state--m-xs__footer--MarginTop);
  }

  &.pf-m-sm {
    --pf-c-empty-state__content--MaxWidth: var(--pf-c-empty-state--m-sm__content--MaxWidth);
  }

  &.pf-m-lg {
    --pf-c-empty-state__content--MaxWidth: var(--pf-c-empty-state--m-lg__content--MaxWidth);
  }

  &.pf-m-xl {
    --pf-c-empty-state__body--MarginTop: var(--pf-c-empty-state--m-xl__body--MarginTop);
    --pf-c-empty-state--body--FontSize: var(--pf-c-empty-state--m-xl__body--FontSize);
    --pf-c-empty-state__icon--MarginBottom: var(--pf-c-empty-state--m-xl__icon--MarginBottom);
    --pf-c-empty-state__icon--FontSize: var(--pf-c-empty-state--m-xl__icon--FontSize);
    --pf-c-empty-state__title-text--FontSize: var(--pf-c-empty-state--m-xl__title-text--FontSize);
    --pf-c-empty-state__title-text--LineHeight: var(--pf-c-empty-state--m-xl__title-text--LineHeight);
  }

  &.pf-m-full-height {
    height: 100%;
  }
}

.pf-c-empty-state__content {
  max-width: var(--pf-c-empty-state__content--MaxWidth);
}

.pf-c-empty-state__icon {
  margin-bottom: var(--pf-c-empty-state__icon--MarginBottom);
  font-size: var(--pf-c-empty-state__icon--FontSize);
  line-height: 1;
  color: var(--pf-c-empty-state__icon--Color);
}

.pf-c-empty-state__title-text {
  font-family: var(--pf-c-empty-state__title-text--FontFamily);
  font-size: var(--pf-c-empty-state__title-text--FontSize);
  font-weight: var(--pf-c-empty-state__title-text--FontWeight);
  line-height: var(--pf-c-empty-state__title-text--LineHeight);
}

.pf-c-empty-state__body {
  margin-top: var(--pf-c-empty-state__body--MarginTop);
  font-size: var(--pf-c-empty-state--body--FontSize);
  color: var(--pf-c-empty-state__body--Color);
}

.pf-c-empty-state__footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--pf-c-empty-state__footer--RowGap);
  align-items: center;
  margin-top: var(--pf-c-empty-state__footer--MarginTop);
}

.pf-c-empty-state__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pf-c-empty-state__actions--RowGap) var(--pf-c-empty-state__actions--ColumnGap);
  justify-content: center;
}
