<div class="{{pfv}}empty-state__footer{{#if empty-state-footer--modifier}} {{empty-state-footer--modifier}}{{/if}}"
  {{#if empty-state-footer--attribute}}
    {{{empty-state-footer--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
