// @debug $empty-state; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$empty-state} {
  --#{$empty-state}--PaddingTop: var(--#{$pf-global}--spacer--xl);
  --#{$empty-state}--PaddingRight: var(--#{$pf-global}--spacer--xl);
  --#{$empty-state}--PaddingBottom: var(--#{$pf-global}--spacer--xl);
  --#{$empty-state}--PaddingLeft: var(--#{$pf-global}--spacer--xl);
  --#{$empty-state}--m-xs--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$empty-state}--m-xs--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$empty-state}--m-xs--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$empty-state}--m-xs--PaddingLeft: var(--#{$pf-global}--spacer--md);

  // Content
  --#{$empty-state}__content--MaxWidth: none;
  --#{$empty-state}--m-xs__content--MaxWidth: #{pf-size-prem(350px)};
  --#{$empty-state}--m-sm__content--MaxWidth: #{pf-size-prem(400px)};
  --#{$empty-state}--m-lg__content--MaxWidth: #{pf-size-prem(600px)};

  // Icon
  --#{$empty-state}__icon--MarginBottom: var(--#{$pf-global}--spacer--lg);
  --#{$empty-state}__icon--FontSize: var(--#{$pf-global}--icon--FontSize--xl);
  --#{$empty-state}__icon--Color: var(--#{$pf-global}--icon--Color--light);
  --#{$empty-state}--m-xs__icon--MarginBottom: var(--#{$pf-global}--spacer--md);
  --#{$empty-state}--m-xl__icon--MarginBottom: var(--#{$pf-global}--spacer--xl);
  --#{$empty-state}--m-xl__icon--FontSize: #{pf-size-prem(100px)};

  // Title text
  --#{$empty-state}__title-text--FontFamily: var(--#{$pf-global}--FontFamily--heading);
  --#{$empty-state}__title-text--FontSize: var(--#{$pf-global}--FontSize--xl);
  --#{$empty-state}__title-text--FontWeight: var(--#{$pf-global}--FontWeight--normal);
  --#{$empty-state}__title-text--LineHeight: var(--#{$pf-global}--LineHeight--md);
  --#{$empty-state}--m-xs__title-text--FontSize: var(--#{$pf-global}--FontSize--md);
  --#{$empty-state}--m-xl__title-text--FontSize: var(--#{$pf-global}--FontSize--4xl);
  --#{$empty-state}--m-xl__title-text--LineHeight: var(--#{$pf-global}--LineHeight--sm);

  // Body
  --#{$empty-state}__body--MarginTop: var(--#{$pf-global}--spacer--md);
  --#{$empty-state}__body--Color: var(--#{$pf-global}--Color--200);
  --#{$empty-state}--body--FontSize: var(--#{$pf-global}--FontSize--md);
  --#{$empty-state}--m-xs__body--FontSize: var(--#{$pf-global}--FontSize--sm);
  --#{$empty-state}--m-xs__body--MarginTop: var(--#{$pf-global}--spacer--md);
  --#{$empty-state}--m-xl__body--FontSize: var(--#{$pf-global}--FontSize--xl);
  --#{$empty-state}--m-xl__body--MarginTop: var(--#{$pf-global}--spacer--lg);

  // Footer
  --#{$empty-state}__footer--RowGap: var(--#{$pf-global}--spacer--sm);
  --#{$empty-state}__footer--MarginTop: var(--#{$pf-global}--spacer--xl);
  --#{$empty-state}--m-xs__footer--MarginTop: var(--#{$pf-global}--spacer--md);

  // Actions
  --#{$empty-state}__actions--RowGap: var(--#{$pf-global}--spacer--xs);
  --#{$empty-state}__actions--ColumnGap: var(--#{$pf-global}--spacer--xs);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-start: var(--#{$empty-state}--PaddingTop);
  padding-block-end: var(--#{$empty-state}--PaddingBottom);
  padding-inline-start: var(--#{$empty-state}--PaddingLeft);
  padding-inline-end: var(--#{$empty-state}--PaddingRight);
  text-align: center;

  &.pf-m-xs {
    --#{$empty-state}--PaddingTop: var(--#{$empty-state}--m-xs--PaddingTop);
    --#{$empty-state}--PaddingRight: var(--#{$empty-state}--m-xs--PaddingRight);
    --#{$empty-state}--PaddingBottom: var(--#{$empty-state}--m-xs--PaddingBottom);
    --#{$empty-state}--PaddingLeft: var(--#{$empty-state}--m-xs--PaddingLeft);
    --#{$empty-state}__title-text--FontSize: var(--#{$empty-state}--m-xs__title-text--FontSize);
    --#{$empty-state}__content--MaxWidth: var(--#{$empty-state}--m-xs__content--MaxWidth);
    --#{$empty-state}__icon--MarginBottom: var(--#{$empty-state}--m-xs__icon--MarginBottom);
    --#{$empty-state}__body--MarginTop: var(--#{$empty-state}--m-xs__body--MarginTop);
    --#{$empty-state}--body--FontSize: var(--#{$empty-state}--m-xs__body--FontSize);
    --#{$empty-state}__footer--MarginTop: var(--#{$empty-state}--m-xs__footer--MarginTop);
  }

  &.pf-m-sm {
    --#{$empty-state}__content--MaxWidth: var(--#{$empty-state}--m-sm__content--MaxWidth);
  }

  &.pf-m-lg {
    --#{$empty-state}__content--MaxWidth: var(--#{$empty-state}--m-lg__content--MaxWidth);
  }

  &.pf-m-xl {
    --#{$empty-state}__body--MarginTop: var(--#{$empty-state}--m-xl__body--MarginTop);
    --#{$empty-state}--body--FontSize: var(--#{$empty-state}--m-xl__body--FontSize);
    --#{$empty-state}__icon--MarginBottom: var(--#{$empty-state}--m-xl__icon--MarginBottom);
    --#{$empty-state}__icon--FontSize: var(--#{$empty-state}--m-xl__icon--FontSize);
    --#{$empty-state}__title-text--FontSize: var(--#{$empty-state}--m-xl__title-text--FontSize);
    --#{$empty-state}__title-text--LineHeight: var(--#{$empty-state}--m-xl__title-text--LineHeight);
  }

  &.pf-m-full-height {
    height: 100%;
  }
}

.#{$empty-state}__content {
  max-width: var(--#{$empty-state}__content--MaxWidth);
}

.#{$empty-state}__icon {
  margin-block-end: var(--#{$empty-state}__icon--MarginBottom);
  font-size: var(--#{$empty-state}__icon--FontSize);
  line-height: 1;
  color: var(--#{$empty-state}__icon--Color);
}

.#{$empty-state}__title-text {
  font-family: var(--#{$empty-state}__title-text--FontFamily);
  font-size: var(--#{$empty-state}__title-text--FontSize);
  font-weight: var(--#{$empty-state}__title-text--FontWeight);
  line-height: var(--#{$empty-state}__title-text--LineHeight);
}

.#{$empty-state}__body {
  margin-block-start: var(--#{$empty-state}__body--MarginTop);
  font-size: var(--#{$empty-state}--body--FontSize);
  color: var(--#{$empty-state}__body--Color);
}

.#{$empty-state}__footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--#{$empty-state}__footer--RowGap);
  align-items: center;
  margin-block-start: var(--#{$empty-state}__footer--MarginTop);
}

.#{$empty-state}__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--#{$empty-state}__actions--RowGap) var(--#{$empty-state}__actions--ColumnGap);
  justify-content: center;
}
