<div class="{{pfv}}empty-state__header{{#if empty-state-header--modifier}} {{empty-state-header--modifier}}{{/if}}"
  {{#if empty-state-header--attribute}}
    {{{empty-state-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
