<div class="pf-c-empty-state__action{{#if empty-state-action--modifier}} {{empty-state-action--modifier}}{{/if}}"
  {{#if empty-state-action--attribute}}
    {{{empty-state-action--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
