<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>PatternFly Docs</title>
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="documentation">
  <div class="documentation-header">
    {{> header}}
  </div>
  <div class="documentation-main">
    {{> sidebar data=_data.byGroupAndType }}
    {{> main data=_data.byGroupAndType }}
  </div>
  <div class="documentation-footer">
    {{> footer}}
  </div>
  <script src="assets/js/main.js"></script>
</body>

</html>
