<div class="pf-c-text-input-group__row{{#if text-input-group-row--modifier}} {{text-input-group-row--modifier}}{{/if}}"
  {{#if text-input-group-row--attribute}}
    {{{text-input-group-row--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
