<div class="pf-c-text-input-group__control{{#if text-input-group-control--modifier}} {{text-input-group-control--modifier}}{{/if}}"
  {{#if text-input-group-control--attribute}}
    {{{text-input-group-control--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
