<div class="pf-c-text-input-group__element-group{{#if text-input-group-element-group--modifier}} {{text-input-group-element-group--modifier}}{{/if}}"
  {{#if text-input-group-element-group--attribute}}
    {{{text-input-group-element-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
