<div class="pf-c-text-input-group
  {{~#if text-input-group--IsDisabled}}
    pf-m-disabled
  {{/if}}
  {{~#if text-input-group--modifier}}
    {{text-input-group--modifier}}
  {{/if}}"
  {{#if text-input-group--attribute}}
    {{{text-input-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
