<div class="pf-c-text-input-group__main{{#if text-input-group-main--modifier}} {{text-input-group-main--modifier}}{{/if}}"
  {{#if text-input-group-main--attribute}}
    {{{text-input-group-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
