<div class="pf-c-text-input-group__utilities{{#if text-input-group-utilities--modifier}} {{text-input-group-utilities--modifier}}{{/if}}"
  {{#if text-input-group-utilities--attribute}}
    {{{text-input-group-utilities--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
