<span class="pf-c-text-input-group__text{{#if text-input-group-text--modifier}} {{text-input-group-text--modifier}}{{/if}}"
  {{#if text-input-group-text--attribute}}
    {{{text-input-group-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
