<span class="pf-c-text-input-group__icon{{#if text-input-group-icon--modifier}} {{text-input-group-icon--modifier}}{{/if}}"
  {{#if text-input-group-icon--attribute}}
    {{{text-input-group-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-fw fa-search"></i>
</span>
