// @debug $text-input-group; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$text-input-group} {
  --#{$text-input-group}--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);

  // Base border
  --#{$text-input-group}__text--before--BorderWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$text-input-group}__text--before--BorderColor: var(--#{$pf-global}--BorderColor--300);

  // Bottom border
  --#{$text-input-group}__text--after--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$text-input-group}__text--after--BorderBottomColor: var(--#{$pf-global}--BorderColor--200);
  --#{$text-input-group}--hover__text--after--BorderBottomColor: var(--#{$pf-global}--primary-color--100);
  --#{$text-input-group}__text--focus-within--after--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--md);
  --#{$text-input-group}__text--focus-within--after--BorderBottomColor: var(--#{$pf-global}--primary-color--100);

  // Main
  --#{$text-input-group}__main--first-child--not--text-input--MarginLeft: var(--#{$pf-global}--spacer--sm);
  --#{$text-input-group}__main--m-icon__text-input--PaddingLeft: var(--#{$pf-global}--spacer--xl);
  --#{$text-input-group}__main--RowGap: var(--#{$pf-global}--spacer--xs);
  --#{$text-input-group}__main--ColumnGap: var(--#{$pf-global}--spacer--sm);

  // Chip group
  --#{$text-input-group}--c-chip-group__main--PaddingTop: var(--#{$pf-global}--spacer--xs);
  --#{$text-input-group}--c-chip-group__main--PaddingRight: var(--#{$pf-global}--spacer--xs);
  --#{$text-input-group}--c-chip-group__main--PaddingBottom: var(--#{$pf-global}--spacer--xs);

  // Text input
  --#{$text-input-group}__text-input--PaddingTop: var(--#{$pf-global}--spacer--form-element);
  --#{$text-input-group}__text-input--PaddingRight: var(--#{$pf-global}--spacer--sm);
  --#{$text-input-group}__text-input--PaddingBottom: var(--#{$pf-global}--spacer--form-element);
  --#{$text-input-group}__text-input--PaddingLeft: var(--#{$pf-global}--spacer--sm);
  --#{$text-input-group}__text-input--MinWidth: 12ch;
  --#{$text-input-group}__text-input--m-hint--Color: var(--#{$pf-global}--Color--200); // matches placeholder text color
  --#{$text-input-group}__text-input--placeholder--Color: var(--#{$pf-global}--Color--200);
  --#{$text-input-group}__text-input--BackgroundColor: transparent;

  // Icon
  --#{$text-input-group}__icon--Left: var(--#{$pf-global}--spacer--sm);
  --#{$text-input-group}__icon--Color: var(--#{$pf-global}--icon--Color--dark);
  --#{$text-input-group}__icon--TranslateY: -50%;

  // Utilities
  --#{$text-input-group}__utilities--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$text-input-group}__utilities--MarginLeft: var(--#{$pf-global}--spacer--xs);
  --#{$text-input-group}__utilities--child--MarginLeft: var(--#{$pf-global}--spacer--xs);
  --#{$text-input-group}__utilities--c-button--PaddingRight: var(--#{$pf-global}--spacer--xs);
  --#{$text-input-group}__utilities--c-button--PaddingLeft: var(--#{$pf-global}--spacer--xs);

  // input disabled style
  --#{$text-input-group}--m-disabled--Color: var(--#{$pf-global}--disabled-color--100);
  --#{$text-input-group}--m-disabled--BackgroundColor: var(--#{$pf-global}--disabled-color--300);

  position: relative;
  display: flex;
  width: 100%; // when child of flex layout, take up space
  color: var(--#{$text-input-group}--Color, inherit);
  background-color: var(--#{$text-input-group}--BackgroundColor);

  &:hover {
    --#{$text-input-group}__text--after--BorderBottomColor: var(--#{$text-input-group}--hover__text--after--BorderBottomColor);
  }

  &.pf-m-disabled {
    --#{$text-input-group}__text--before--BorderWidth: 0;
    --#{$text-input-group}__text--after--BorderBottomWidth: 0;
    --#{$text-input-group}--Color: var(--#{$text-input-group}--m-disabled--Color);
    --#{$text-input-group}__icon--Color: var(--#{$text-input-group}--m-disabled--Color);
    --#{$text-input-group}--BackgroundColor: var(--#{$text-input-group}--m-disabled--BackgroundColor);

    pointer-events: none;
  }

  &.pf-m-plain {
    --#{$text-input-group}--BackgroundColor: transparent;

    .#{$text-input-group}__text {
      &::before,
      &::after {
        border: 0;
      }
    }
  }
}

.#{$text-input-group}__main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: var(--#{$text-input-group}__main--RowGap) var(--#{$text-input-group}__main--ColumnGap);
  min-width: 0;

  &.pf-m-icon {
    --#{$text-input-group}__text-input--PaddingLeft: var(--#{$text-input-group}__main--m-icon__text-input--PaddingLeft);
  }

  > :first-child:not(.#{$text-input-group}__text) {
    margin-inline-start: var(--#{$text-input-group}__main--first-child--not--text-input--MarginLeft);
  }

  .#{$chip-group}__main {
    padding-block-start: var(--#{$text-input-group}--c-chip-group__main--PaddingTop);
    padding-block-end: var(--#{$text-input-group}--c-chip-group__main--PaddingBottom);
    padding-inline-end: var(--#{$text-input-group}--c-chip-group__main--PaddingRight);
  }
}

.#{$text-input-group}__text {
  display: inline-grid;
  flex: 1;
  grid-template-areas: "text-input";
  grid-template-columns: 1fr;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
  }

  &::before {
    border: var(--#{$text-input-group}__text--before--BorderWidth) solid var(--#{$text-input-group}__text--before--BorderColor);
  }

  &::after {
    border-block-end: var(--#{$text-input-group}__text--after--BorderBottomWidth) solid var(--#{$text-input-group}__text--after--BorderBottomColor);
  }

  &:focus-within {
    --#{$text-input-group}__text--after--BorderBottomWidth: var(--#{$text-input-group}__text--focus-within--after--BorderBottomWidth);
    --#{$text-input-group}__text--after--BorderBottomColor: var(--#{$text-input-group}__text--focus-within--after--BorderBottomColor);
  }
}

.#{$text-input-group}__icon {
  position: absolute;
 inset-block-start: 50%;
 inset-inline-start: var(--#{$text-input-group}__icon--Left);
  color: var(--#{$text-input-group}__icon--Color);
  transform: translateY(var(--#{$text-input-group}__icon--TranslateY));
}

.#{$text-input-group}__text-input {
  @include pf-v5-text-overflow;

  position: relative;
  width: 100%;
  min-width: var(--#{$text-input-group}__text-input--MinWidth);
  padding-block-start: var(--#{$text-input-group}__text-input--PaddingTop);
  padding-block-end: var(--#{$text-input-group}__text-input--PaddingBottom);
  padding-inline-start: var(--#{$text-input-group}__text-input--PaddingLeft);
  padding-inline-end: var(--#{$text-input-group}__text-input--PaddingRight);
  background-color: var(--#{$text-input-group}__text-input--BackgroundColor);
  border: 0;

  &,
  &.pf-m-hint {
    grid-area: text-input;
  }

  &.pf-m-hint {
    color: var(--#{$text-input-group}__text-input--m-hint--Color);
  }

  &::placeholder {
    color: var(--#{$text-input-group}__text-input--placeholder--Color);
  }
}

.#{$text-input-group}__utilities {
  display: flex;
  align-items: center;
  margin-inline-start: var(--#{$text-input-group}__utilities--MarginLeft);
  margin-inline-end: var(--#{$text-input-group}__utilities--MarginRight);

  > * + * {
    margin-inline-start: var(--#{$text-input-group}__utilities--child--MarginLeft);
  }

  .#{$button} {
    --#{$button}--PaddingRight: var(--#{$text-input-group}__utilities--c-button--PaddingRight);
    --#{$button}--PaddingLeft: var(--#{$text-input-group}__utilities--c-button--PaddingLeft);
  }
}


.#{$text-input-group}__group {
  display: flex;
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/text-input-group";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-text-input-group;
}
