<div class="pf-c-text-input-group__group{{#if text-input-group-group--modifier}} {{text-input-group-group--modifier}}{{/if}}"
  {{#if text-input-group-group--attribute}}
    {{{text-input-group-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
