<div class="pf-c-text-input-group__controls{{#if text-input-group-controls--modifier}} {{text-input-group-controls--modifier}}{{/if}}"
  {{#if text-input-group-controls--attribute}}
    {{{text-input-group-controls--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
