@import "../../patternfly-utilities";

// Namespace option B
.optionB {
  /* stylelint-disable */

  --pf-c-vertical-nav__button--paddingTop:    var(--pf-global--spacer--md);
  --pf-c-vertical-nav__button--paddingRight:  var(--pf-global--spacer--lg);
  --pf-c-vertical-nav__button--paddingBottom: var(--pf-global--spacer--md);
  --pf-c-vertical-nav__button--paddingLeft:   var(--pf-global--spacer--lg);

  /* stylelint-enable */

  .pf-c-vertical-nav {

    &__item {
      display: flex;
      align-items: baseline;

      // Modifiers and states
      &.pf-m-hover,
      &:hover {
        background-color: var(--pf-c-vertical-nav__link--hover--BackgroundColor);

        .pf-c-vertical-nav__link > * {
          color: var(--pf-c-vertical-nav__link--hover--Color);
        }
      }

      &.pf-m-focus,
      &:focus {
        background-color: var(--pf-c-vertical-nav__link--focus--BackgroundColor);

        .pf-c-vertical-nav__link > * {
          color: var(--pf-c-vertical-nav__link--focus--Color);
          background-color: transparent;
        }
      }

      &.pf-m-active,
      &:active {
        background-color: var(--pf-c-vertical-nav__link--active--BackgroundColor);

        .pf-c-vertical-nav__link > * {
          color: var(--pf-c-vertical-nav__link--active--Color);
          background-color: transparent;
        }
      }

      &.pf-m-disabled,
      &:disabled {
        background-color: var(--pf-c-vertical-nav__link--disabled--BackgroundColor);

        .pf-c-vertical-nav__link > * {
          color: var(--pf-c-vertical-nav__link--disabled--Color);
        }
      }

      &.pf-m-disabled:hover .pf-c-vertical-nav__link,
      &.pf-m-disabled:hover .pf-c-button {
        cursor: not-allowed;
      }
    }

    // Link
    &__link {
      flex: 1;
      background-color: transparent;
    }

    &__arrow {

      // Arrow/chevron
      .pf-c-button {
        padding-top: var(--pf-c-vertical-nav__button--paddingTop);
        padding-right: var(--pf-c-vertical-nav__button--paddingRight);
        padding-bottom: var(--pf-c-vertical-nav__button--paddingBottom);
        padding-left: var(--pf-c-vertical-nav__button--paddingLeft);
      }
    }
  }
}
