@import "../../patternfly-utilities";

$pf-l-bullseye--Padding: 0 !default;
$pf-l-bullseye__item--Padding: 0 !default;

.pf-l-bullseye {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: $pf-l-bullseye--Padding;
  margin: 0;
}
