<section class="pf-c-context-menu__group{{#if context-menu-group--modifier}} {{context-menu-group--modifier}}{{/if}}"
  {{#if context-menu-group--attribute}}
    {{{context-menu-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</section>
