<div class="pf-c-context-menu__header{{#if context-menu-header--modifier}} {{context-menu-header--modifier}}{{/if}}"
  {{#if context-menu-header--attribute}}
    {{{context-menu-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
