<div class="pf-c-context-menu__item-main{{#if context-menu-item-main--modifier}} {{context-menu-item-main--modifier}}{{/if}}"
  {{#if context-menu-item-main--attribute}}
    {{{context-menu-item-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
