<div class="pf-c-context-menu__item-description{{#if context-menu-item-description--modifier}} {{context-menu-item-description--modifier}}{{/if}}"
  {{#if context-menu-item-description--attribute}}
    {{{context-menu-item-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
