<button class="pf-c-context-menu__item-action{{#if context-menu-item-action--IsFavorite}} pf-m-favorite{{/if}}{{#if context-menu-item-action--modifier}} {{context-menu-item-action--modifier}}{{/if}}"
  {{#if context-menu-item-action--attribute}}
    {{{context-menu-item-action--attribute}}}
  {{/if}}>
  {{> context-menu-item-action-icon}}
</button>
