<li class="pf-c-context-menu__control{{#if context-menu-control--modifier}} {{context-menu-control--modifier}}{{/if}}"
  {{#if context-menu-control--attribute}}
    {{{context-menu-control--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
