<span class="pf-c-context-menu__item-icon{{#if context-menu-item-icon--modifier}} {{context-menu-item-icon--modifier}}{{/if}}"
  {{#if context-menu-item-icon--attribute}}
    {{{context-menu-item-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
