<button class="pf-c-context-menu__navigation-back-button{{#if context-menu-navigation-back-button--modifier}} {{context-menu-navigation-back-button--modifier}}{{/if}}"
  {{#if context-menu-navigation-back-button--attribute}}
    {{{context-menu-navigation-back-button--attribute}}}
  {{/if}}>
  <i class="fas fa-angle-left"></i>
</button>
