.pf-c-context-menu {
  // Menu
  --pf-c-context-menu--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-context-menu--BoxShadow: var(--pf-global--BoxShadow--md);
  --pf-c-context-menu--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-context-menu--PaddingBottom: var(--pf-global--spacer--sm);

  // Menu item
  --pf-c-context-menu__item--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-context-menu__item--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-context-menu__item--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-context-menu__item--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-context-menu__item--FontSize: var(--pf-global--FontSize--md);
  --pf-c-context-menu__item--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-context-menu__item--LineHeight: var(--pf-global--LineHeight--md);

  // list item
  --pf-c-context-menu__list-item--Color: var(--pf-global--Color--100);
  --pf-c-context-menu__list-item--hover--Color: var(--pf-global--Color--100);
  --pf-c-context-menu__list-item--BackgroundColor: transparent;
  --pf-c-context-menu__list-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-300);

  // group
  --pf-c-context-menu__group-title--PaddingTop: var(--pf-c-context-menu__item--PaddingTop);
  --pf-c-context-menu__group-title--PaddingRight: var(--pf-c-context-menu__item--PaddingRight);
  --pf-c-context-menu__group-title--PaddingBottom: var(--pf-c-context-menu__item--PaddingBottom);
  --pf-c-context-menu__group-title--PaddingLeft: var(--pf-c-context-menu__item--PaddingLeft);
  --pf-c-context-menu__group-title--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-context-menu__group-title--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-context-menu__group-title--Color: var(--pf-global--Color--dark-200);

  // description
  --pf-c-context-menu__item-description--FontSize: var(--pf-global--FontSize--xs);
  --pf-c-context-menu__item-description--Color: var(--pf-global--Color--200);

  // icon
  --pf-c-context-menu__item-icon--MarginRight: var(--pf-global--spacer--md);
  --pf-c-context-menu__item-icon--Color: var(--pf-global--Color--dark-200);

  // toggle icon
  --pf-c-context-menu__item-toggle-icon--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-context-menu__item-toggle-icon--PaddingLeft: var(--pf-global--spacer--sm);

  // action
  --pf-c-context-menu__item-action--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-context-menu__item-action--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-context-menu__item-action--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-context-menu__item-action--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-context-menu__item-action--m-favorite__icon--FontSize: var(--pf-global--icon--FontSize--sm);
  --pf-c-context-menu__item-action--m-favorite__icon--Color: var(--pf-global--palette--gold-400);

  // padding-top: var(--pf-c-context-menu--PaddingTop);
  // padding-bottom: var(--pf-c-context-menu--PaddingBottom);

  background-color: var(--pf-c-context-menu--BackgroundColor);
  box-shadow: var(--pf-c-context-menu--BoxShadow);

  &.pf-m-submenu {
    position: absolute;
    top: 0;
    left: 100%;
  }
}

// List item
.pf-c-context-menu__list-item {
  position: relative;
  display: flex;
  color: var(--pf-c-context-menu__list-item--Color);
  background-color: var(--pf-c-context-menu__list-item--BackgroundColor);

  &:hover,
  &:focus {
    --pf-c-context-menu__list-item--Color: var(--pf-c-context-menu__list-item--hover--Color);
    --pf-c-context-menu__list-item--BackgroundColor: var(--pf-c-context-menu__list-item--hover--BackgroundColor);
  }
}

// Item
.pf-c-context-menu__item {
  display: flex;
  width: 100%;
  padding: var(--pf-c-context-menu__item--PaddingTop) var(--pf-c-context-menu__item--PaddingRight) var(--pf-c-context-menu__item--PaddingBottom) var(--pf-c-context-menu__item--PaddingLeft);
  font-size: var(--pf-c-context-menu__item--FontSize);
  font-weight: var(--pf-c-context-menu__item--FontWeight);
  line-height: var(--pf-c-context-menu__item--LineHeight);
  color: var(--pf-c-context-menu__item--Color);
  text-align: left;
  background-color: var(--pf-c-context-menu__item--BackgroundColor);
  border: none;

  &:hover {
    text-decoration: none;
  }
}

// Item text
.pf-c-context-menu__item-text {
  flex-grow: 1;
  white-space: nowrap;
}

// Group
.pf-c-context-menu__group-title {
  padding-top: var(--pf-c-context-menu__group-title--PaddingTop);
  padding-right: var(--pf-c-context-menu__group-title--PaddingRight);
  padding-bottom: var(--pf-c-context-menu__group-title--PaddingBottom);
  padding-left: var(--pf-c-context-menu__group-title--PaddingLeft);
  font-size: var(--pf-c-context-menu__group-title--FontSize);
  font-weight: var(--pf-c-context-menu__group-title--FontWeight);
  color: var(--pf-c-context-menu__group-title--Color);
}

// Description
.pf-c-context-menu__item-description {
  font-size: var(--pf-c-context-menu__item-description--FontSize);
  color: var(--pf-c-context-menu__item-description--Color);
}

// Icons
.pf-c-context-menu__item-icon {
  margin-right: var(--pf-c-context-menu__item-icon--MarginRight);
  color: var(--pf-c-context-menu__item-icon--Color);
}

.pf-c-context-menu__item-toggle-icon {
  padding-right: var(--pf-c-context-menu__item-toggle-icon--PaddingRight);
  padding-left: var(--pf-c-context-menu__item-toggle-icon--PaddingLeft);
}

// Actions
.pf-c-context-menu__item-action {
  padding-top: var(--pf-c-context-menu__item-action--PaddingTop);
  padding-right: var(--pf-c-context-menu__item-action--PaddingRight);
  padding-bottom: var(--pf-c-context-menu__item-action--PaddingBottom);
  padding-left: var(--pf-c-context-menu__item-action--PaddingLeft);
  border: none;

  &.pf-m-favorite {
    .pf-c-context-menu__item-action-icon {
      font-size: var(--pf-c-context-menu__item-action--m-favorite__icon--FontSize);
      color: var(--pf-c-context-menu__item-action--m-favorite__icon--Color);
    }
  }
}
