<h1 class="pf-c-context-menu__group-title{{#if context-menu-group-title--modifier}} {{context-menu-group-title--modifier}}{{/if}}"
  {{#if context-menu-group-title--attribute}}
    {{{context-menu-group-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</h1>
