<span class="pf-c-context-menu__item-text{{#if context-menu-item-text--modifier}} {{context-menu-item-text--modifier}}{{/if}}"
  {{#if context-menu-item-text--attribute}}
    {{{context-menu-item-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
