<li class="pf-c-context-menu__list-item{{#if context-menu-list-item--modifier}} {{context-menu-list-item--modifier}}{{/if}}"
  {{#if context-menu-list-item--attribute}}
    {{{context-menu-list-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
