.pf-c-helper-text {
  --pf-c-helper-text--FontSize: var(--pf-global--FontSize--md);

  // icon
  --pf-c-helper-text__item-icon--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-helper-text__item-icon--Color: var(--pf-global--Color--200);
  --pf-c-helper-text__item--m-success__item-icon--Color: var(--pf-global--success-color--100);
  --pf-c-helper-text__item--m-invalid__item-icon--Color: var(--pf-global--danger-color--100);

  // text
  --pf-c-helper-text__item-text--Color: var(--pf-global--Color--200);
  --pf-c-helper-text__item--m-invalid__item-text--Color: var(--pf-global--Color--100);

  font-size: var(--pf-c-helper-text--FontSize);
}

.pf-c-helper-text__item {
  display: flex;

  &.pf-m-success {
    --pf-c-helper-text__item-icon--Color: var(--pf-c-helper-text__item--m-success__item-icon--Color);
  }

  &.pf-m-invalid {
    --pf-c-helper-text__item-icon--Color: var(--pf-c-helper-text__item--m-invalid__item-icon--Color);
    --pf-c-helper-text__item-text--Color: var(--pf-c-helper-text__item--m-invalid__item-text--Color);
  }
}

.pf-c-helper-text__item-icon {
  margin-right: var(--pf-c-helper-text__item-icon--MarginRight);
  color: var(--pf-c-helper-text__item-icon--Color);
}

.pf-c-helper-text__item-text {
  color: var(--pf-c-helper-text__item-text--Color);
}
