<span class="pf-c-helper-text__item-text{{#if helper-text-item-text--modifier}} {{helper-text-item-text--modifier}}{{/if}}"
  {{#if helper-text-item-text--attribute}}
    {{{helper-text-item-text--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</span>
