// @debug $helper-text; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$helper-text} {
  --#{$helper-text}--Gap: var(--#{$pf-global}--spacer--xs);
  --#{$helper-text}--FontSize: var(--#{$pf-global}--FontSize--sm);

  // item
  --#{$helper-text}__item-icon--Color: var(--#{$pf-global}--Color--100);
  --#{$helper-text}__item-text--Color: var(--#{$pf-global}--Color--100);
  --#{$helper-text}__item-icon--m-indeterminate--Color: var(--#{$pf-global}--Color--200);
  --#{$helper-text}__item-text--m-indeterminate--Color: var(--#{$pf-global}--Color--200);
  --#{$helper-text}__item-icon--m-warning--Color: var(--#{$pf-global}--warning-color--100);
  --#{$helper-text}__item-text--m-warning--Color: var(--#{$pf-global}--warning-color--200);
  --#{$helper-text}__item-icon--m-success--Color: var(--#{$pf-global}--success-color--100);
  --#{$helper-text}__item-text--m-success--Color: var(--#{$pf-global}--success-color--200);
  --#{$helper-text}__item-icon--m-error--Color: var(--#{$pf-global}--danger-color--100);
  --#{$helper-text}__item-text--m-error--Color: var(--#{$pf-global}--danger-color--200);

  // dynamic
  --#{$helper-text}--m-dynamic__item-icon--Color: var(--#{$pf-global}--Color--100);
  --#{$helper-text}--m-dynamic__item-text--Color: var(--#{$pf-global}--Color--100);
  --#{$helper-text}--m-dynamic--m-indeterminate__item-icon--Color: var(--#{$pf-global}--Color--200);
  --#{$helper-text}--m-dynamic--m-indeterminate__item-text--Color: var(--#{$pf-global}--Color--200);
  --#{$helper-text}--m-dynamic--m-warning__item-icon--Color: var(--#{$pf-global}--warning-color--100);
  --#{$helper-text}--m-dynamic--m-warning__item-text--Color: var(--#{$pf-global}--Color--200);
  --#{$helper-text}--m-dynamic--m-success__item-icon--Color: var(--#{$pf-global}--success-color--100);
  --#{$helper-text}--m-dynamic--m-success__item-text--Color: var(--#{$pf-global}--Color--200);
  --#{$helper-text}--m-dynamic--m-error__item-icon--Color: var(--#{$pf-global}--danger-color--100);
  --#{$helper-text}--m-dynamic--m-error__item-text--Color: var(--#{$pf-global}--Color--100);

  // icon
  --#{$helper-text}__item-icon--MarginRight: var(--#{$pf-global}--spacer--xs);

  // text

  display: grid;
  gap: var(--#{$helper-text}--Gap);
  font-size: var(--#{$helper-text}--FontSize);

  &.pf-m-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.#{$helper-text}__item {
  display: flex;

  &.pf-m-indeterminate {
    --#{$helper-text}__item-icon--Color: var(--#{$helper-text}__item-icon--m-indeterminate--Color);
    --#{$helper-text}__item-text--Color: var(--#{$helper-text}__item-text--m-indeterminate--Color);
    --#{$helper-text}--m-dynamic__item-icon--Color: var(--#{$helper-text}--m-dynamic--m-indeterminate__item-icon--Color);
    --#{$helper-text}--m-dynamic__item-text--Color: var(--#{$helper-text}--m-dynamic--m-indeterminate__item-text--Color);
  }

  &.pf-m-warning {
    --#{$helper-text}__item-icon--Color: var(--#{$helper-text}__item-icon--m-warning--Color);
    --#{$helper-text}__item-text--Color: var(--#{$helper-text}__item-text--m-warning--Color);
    --#{$helper-text}--m-dynamic__item-icon--Color: var(--#{$helper-text}--m-dynamic--m-warning__item-icon--Color);
    --#{$helper-text}--m-dynamic__item-text--Color: var(--#{$helper-text}--m-dynamic--m-warning__item-text--Color);
  }

  &.pf-m-success {
    --#{$helper-text}__item-icon--Color: var(--#{$helper-text}__item-icon--m-success--Color);
    --#{$helper-text}__item-text--Color: var(--#{$helper-text}__item-text--m-success--Color);
    --#{$helper-text}--m-dynamic__item-icon--Color: var(--#{$helper-text}--m-dynamic--m-success__item-icon--Color);
    --#{$helper-text}--m-dynamic__item-text--Color: var(--#{$helper-text}--m-dynamic--m-success__item-text--Color);
  }

  &.pf-m-error {
    --#{$helper-text}__item-icon--Color: var(--#{$helper-text}__item-icon--m-error--Color);
    --#{$helper-text}__item-text--Color: var(--#{$helper-text}__item-text--m-error--Color);
    --#{$helper-text}--m-dynamic__item-icon--Color: var(--#{$helper-text}--m-dynamic--m-error__item-icon--Color);
    --#{$helper-text}--m-dynamic__item-text--Color: var(--#{$helper-text}--m-dynamic--m-error__item-text--Color);
  }

  &.pf-m-dynamic {
    --#{$helper-text}__item-text--Color: var(--#{$helper-text}--m-dynamic__item-text--Color);
    --#{$helper-text}__item-icon--Color: var(--#{$helper-text}--m-dynamic__item-icon--Color);
  }
}

.#{$helper-text}__item-icon {
  margin-inline-end: var(--#{$helper-text}__item-icon--MarginRight);
  color: var(--#{$helper-text}__item-icon--Color);
}

.#{$helper-text}__item-text {
  color: var(--#{$helper-text}__item-text--Color);
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/helper-text";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-helper-text;
}
