<div class="{{pfv}}card
  {{setModifiers
    card--IsPlain='pf-m-plain'
    card--modifier=card--modifier
  }}"
  {{#if card--attribute}}
    {{{card--attribute}}}
  {{/if}}
  {{#if card--id}}
    id="{{{card--id}}}"
  {{/if}}>
  {{> @partial-block}}
</div>
