<div class="{{pfv}}card__subtitle{{#if card-subtitle--modifier}} {{card-subtitle--modifier}}{{/if}}"
  {{#if card-subtitle--attribute}}
    {{{card-subtitle--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
