<div class="{{pfv}}card__expandable-content{{#if card-expandable-content--modifier}} {{card-expandable-content--modifier}}{{/if}}"
  {{#if card-expandable-content--attribute}}
    {{{card-expandable-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
