<div class="pf-c-card__selectable-actions{{#if card-selectable-actions--modifier}} {{card-selectable-actions--modifier}}{{/if}}"
  {{#if card-selectable-actions--attribute}}
    {{{card-selectable-actions--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
