<div class="pf-c-card__draggable{{#if card-draggable--modifier}} {{card-draggable--modifier}}{{/if}}"
  {{#if card-draggable--attribute}}
    {{{card-draggable--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Reorder"'}}
    <i class="fas fa-grip-vertical"></i>
  {{/button}}
</div>
