<div class="pf-c-card__head-main{{#if card-head-main--modifier}} {{card-head-main--modifier}}{{/if}}"
  {{#if card-head-main--attribute}}
    {{{card-head-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
