<div class="pf-c-card__title{{#if card-title--modifier}} {{card-title--modifier}}{{/if}}"
  {{#if card-title--attribute}}
    {{{card-title--attribute}}}
  {{/if}}>
  {{#if card-title-text--text}}
    {{> card-title-text}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
