<div class="{{pfv}}card__header-toggle{{#if card-header-toggle--modifier}} {{card-header-toggle--modifier}}{{/if}}"
  {{#if card-header-toggle--attribute}}
    {{{card-header-toggle--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--attribute=(concat 'aria-label="Details" id="' card--id '-toggle" aria-labelledby="' card--id '-title ' card--id '-toggle"') button--icon-template="card-header-toggle-icon"}}
</div>
