<span class="{{pfv}}card__header-toggle-icon{{#if card-header-toggle-icon--modifier}} {{card-header-toggle-icon--modifier}}{{/if}}"
  {{#if card-header-toggle-icon--attribute}}
    {{{card-header-toggle-icon--attribute}}}
  {{/if}}>
  {{pfIcon "rh-ui-caret-right"}}
</span>
