<div class="pf-c-card__header pf-c-title pf-m-lg{{#if card-header--modifier}} {{card-header--modifier}}{{/if}}"
  {{#if card-header--attribute}}
    {{{card-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
