<div class="{{pfv}}card__description{{#if card-description--modifier}} {{card-description--modifier}}{{/if}}"
  {{#if card-description--attribute}}
    {{{card-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
