<div class="pf-c-card{{#if card--IsDraggable}} pf-m-draggable{{/if}}{{#if card--modifier}} {{card--modifier}}{{/if}}"
  {{#if card--attribute}}
    {{{card--attribute}}}
  {{/if}}
  {{#if card--id}}
    id="{{{card--id}}}"
  {{/if}}>
  {{#if card--IsDraggable}}
    {{> card-draggable}}
    {{#> card-main}}
      {{> @partial-block}}
    {{/card-main}}
  {{else}}
    {{> @partial-block}}
  {{/if}}
</div>
