@import "../../patternfly-utilities";

.pf-c-card {
  // Component variables
  --pf-c-card--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-card--BoxShadow: var(--pf-global--BoxShadow--sm);

  // Card Header variables
  --pf-c-card__header--PaddingTop: var(--pf-global--spacer--lg);
  --pf-c-card__header--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-card__header--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-card__header--PaddingLeft: var(--pf-global--spacer--lg);

  // Card Body variables
  --pf-c-card__body--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-card__body--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-card__body--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-card__body--PaddingTop: var(--pf-global--spacer--sm);

  // Card Footer variables
  --pf-c-card__footer--PaddingTop: var(--pf-global--spacer--lg);
  --pf-c-card__footer--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-card__footer--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-c-card__footer--PaddingLeft: var(--pf-global--spacer--lg);

  // This component always needs to be light
  @extend %pf-t-light;

  display: flex;
  flex-direction: column;
  background-color: var(--pf-c-card--BackgroundColor);
  box-shadow: var(--pf-c-card--BoxShadow);

  &__header {
    flex: 0 0 auto;
    padding-top: var(--pf-c-card__header--PaddingTop);
    padding-right: var(--pf-c-card__header--PaddingRight);
    padding-bottom: var(--pf-c-card__header--PaddingBottom);
    padding-left: var(--pf-c-card__header--PaddingLeft);
  }

  &__body {
    flex: 1 1 auto;
    padding-top: var(--pf-c-card__body--PaddingTop);
    padding-right: var(--pf-c-card__body--PaddingRight);
    padding-bottom: var(--pf-c-card__body--PaddingBottom);
    padding-left: var(--pf-c-card__body--PaddingLeft);
  }

  &__footer {
    flex: 0 0 auto;
    padding-top: var(--pf-c-card__footer--PaddingTop);
    padding-right: var(--pf-c-card__footer--PaddingRight);
    padding-bottom: var(--pf-c-card__footer--PaddingBottom);
    padding-left: var(--pf-c-card__footer--PaddingLeft);
  }

  // If the first child isn't a header, then we need to put the header's top padding there
  &__body:first-child,
  &__footer:first-child {
    padding-top: var(--pf-c-card__header--PaddingTop);
  }

  // If the last child isn't the footer, then we need to put the footer's bottom padding there
  &__header:last-child,
  &__body:last-child {
    padding-bottom: var(--pf-c-card__footer--PaddingBottom);
  }
}
