<div class="demo-vertical-nav">
  <div class="pf-l-page {{ pf-l-page--modifier }}">
    <header role="banner" class="pf-l-page__header"></header>
    <aside class="pf-l-page__sidebar">
      {{> @partial-block }}
    </aside>
    <main role="main" class="pf-l-page__main"></main>
  </div>
</div>
