<div class="{{pfv}}page__main-group{{#if page-main-group--modifier}} {{page-main-group--modifier}}{{/if}}"
  {{#if page-main-group--attribute}}
    {{{page-main-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
