// @debug $page; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss
// stylelint-disable
$pf-page-v6--breakpoint-map: build-breakpoint-map("base", "sm", "md", "lg", "xl", "2xl");
$pf-page-v6--height-breakpoint-map: build-breakpoint-map("base", "sm", "md", "lg", "xl", "2xl");
// stylelint-enable

:root {
  --#{$page}--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$page}--inset: var(--pf-t--global--spacer--md);
  --#{$page}--xl--inset: var(--pf-t--global--spacer--xl);

  // Header
  --#{$page}__header--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$page}__header--ZIndex: var(--pf-t--global--Zindex--md);
  --#{$page}__header--MinHeight: #{pf-size-prem(76px)}; // fixed height for header to ensure consistency across screen sizes.

  // Header brand
  --#{$page}__header-brand--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$page}__header-brand--xl--PaddingRight: var(--pf-t--global--spacer--xl);
  --#{$page}__header-brand--xl--PaddingLeft: var(--pf-t--global--spacer--xl);

  @media (min-width: $pf-v6-global--breakpoint--xl) {
    --#{$page}__header-brand--PaddingLeft: var(--#{$page}__header-brand--xl--PaddingLeft);
    --#{$page}--inset: var(--#{$page}--xl--inset);
  }

  // Toggle
  --#{$page}__header-sidebar-toggle__c-button--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$page}__header-sidebar-toggle__c-button--PaddingRight: var(--pf-t--global--spacer--sm);
  --#{$page}__header-sidebar-toggle__c-button--PaddingBottom: var(--pf-t--global--spacer--sm);
  --#{$page}__header-sidebar-toggle__c-button--PaddingLeft: var(--pf-t--global--spacer--sm);
  --#{$page}__header-sidebar-toggle__c-button--MarginRight: var(--pf-t--global--spacer--md);
  --#{$page}__header-sidebar-toggle__c-button--MarginLeft: calc(var(--#{$page}__header-sidebar-toggle__c-button--PaddingLeft) * -1);
  --#{$page}__header-sidebar-toggle__c-button--FontSize: var(--pf-t--global--icon--size--lg);

  // Header brand link
  --#{$page}__header-brand-link--c-brand--MaxHeight: #{pf-size-prem(60px)};

  // Header nav
  --#{$page}__header-nav--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$page}__header-nav--xl--BackgroundColor: transparent;
  --#{$page}__header-nav--xl--PaddingRight: var(--pf-t--global--spacer--xl);
  --#{$page}__header-nav--xl--PaddingLeft: var(--pf-t--global--spacer--xl);

  @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
    --#{$page}__header-nav--BackgroundColor: var(--#{$page}__header-nav--xl--BackgroundColor);
    --#{$page}__header-nav--PaddingRight: var(--#{$page}__header-nav--xl--PaddingRight);
    --#{$page}__header-nav--PaddingLeft: var(--#{$page}__header-nav--xl--PaddingLeft);
  }

  // Header tools
  --#{$page}__header-tools--MarginRight: var(--pf-t--global--spacer--md);
  --#{$page}__header-tools--xl--MarginRight: var(--pf-t--global--spacer--lg);
  --#{$page}__header-tools--c-avatar--MarginLeft: var(--pf-t--global--spacer--md);
  --#{$page}__header-tools-group--MarginLeft: var(--pf-t--global--spacer--xl);
  --#{$page}__header-tools-group--Display: flex;
  --#{$page}__header-tools-item--Display: block;

  // Header tools group button
  --#{$page}__header-tools--c-button--m-selected--before--Width: auto;
  --#{$page}__header-tools--c-button--m-selected--before--Height: auto;

  @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
    --#{$page}__header-tools--MarginRight: var(--#{$page}__header-tools--xl--MarginRight);
  }

  // Sidebar
  --#{$page}__sidebar--ZIndex: var(--pf-t--global--Zindex--sm);
  --#{$page}__sidebar--Width: #{pf-size-prem(290px)};
  --#{$page}__sidebar--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$page}__sidebar--BoxShadow: none;
  --#{$page}__sidebar--Transition: var(--pf-t--global--transition);
  --#{$page}__sidebar--TranslateX: -100%;
  --#{$page}__sidebar--TranslateZ: 0;
  --#{$page}__sidebar--m-expanded--TranslateX: 0;
  --#{$page}__sidebar--xl--TranslateX: 0;
  --#{$page}__sidebar--MarginRight: 0;
  --#{$page}__sidebar--PaddingBlockEnd: var(--pf-t--global--spacer--lg);
  --#{$page}__sidebar--PaddingInlineStart: 0;


  // Sidebar header
  --#{$page}__sidebar-header--BorderBottomWidth: var(--pf-t--global--border--width--divider--default);
  --#{$page}__sidebar-header--BorderBottomColor: var(--pf-t--global--border--color--default);
  --#{$page}__sidebar-header--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$page}__sidebar-header--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$page}__sidebar-title--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$page}__sidebar-title--FontSize: var(--pf-t--global--font--size--heading--xs);
  --#{$page}__sidebar-title--LineHeight: var(--pf-t--global--font--line-height--heading);
  --#{$page}__sidebar-title--FontFamily: var(--pf-t--global--font--family--heading);
  --#{$page}__sidebar-title--FontWeight: var(--pf-t--global--font--weight--heading);

  // Sidebar body
  --#{$page}__sidebar-body--PaddingRight: 0;
  --#{$page}__sidebar-body--PaddingLeft: 0;
  --#{$page}__sidebar-body--m-page-insets--PaddingRight: var(--#{$page}--inset);
  --#{$page}__sidebar-body--m-page-insets--PaddingLeft: var(--#{$page}--inset);
  --#{$page}__sidebar-body--m-menu--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$page}__sidebar-body--m-menu--BorderTopColor: var(--pf-t--global--border--color--default);
  --#{$page}__sidebar-body--m-menu--BorderTopWidth: var(--pf-t--global--border--width--button--default);
  --#{$page}__sidebar-body--m-menu--c-context-selector--BorderBottomColor: var(--pf-t--global--border--color--default);

  @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
    --#{$page}__sidebar--TranslateX: var(--#{$page}__sidebar--xl--TranslateX);
  }

  // Container for the main content area (grid area)
  --#{$page}__main-container--ZIndex: var(--pf-t--global--Zindex--xs);
  --#{$page}__main-container--MaxHeight: calc(100% - var(--pf-t--global--spacer--lg));
  --#{$page}__main-container--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$page}__main-container--MarginInlineStart: var(--pf-t--global--spacer--lg);
  --#{$page}__main-container--MarginInlineEnd: var(--pf-t--global--spacer--lg);
  --#{$page}__main-container--BorderRadius: var(--pf-t--global--border--radius--large);
  --#{$page}__main-container--BorderWidth: var(--pf-t--global--spacer--sm); // TODO Change to be a page outline token
  --#{$page}__main-container--BorderColor: var(--#{$page}__main-container--BackgroundColor); // TODO Border should match the background to blend in - change to be a page outline token

  // Main section
  --#{$page}__main-section--MarginTop: var(--pf-t--global--spacer--md);
  --#{$page}__main-section--PaddingTop: var(--pf-t--global--spacer--lg);
  --#{$page}__main-section--PaddingRight: calc(var(--pf-t--global--spacer--lg) - var(--#{$page}__main--BorderWidth)); // subtract the border of the main section - TODO, see if we can remove the need for this calc(), or possibly move it down to the property definition so a user can theme this without a calc()
  --#{$page}__main-section--PaddingBottom: 0;
  --#{$page}__main-section--PaddingLeft: calc(var(--pf-t--global--spacer--lg) - var(--#{$page}__main-container--BorderWidth)); // subtract the border of the main section
  --#{$page}__main-breadcrumb--main-section--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$page}__main-section--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$page}__main-section--m-secondary--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$page}__main-breadcrumb--page__main-tabs--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$page}__main-nav--page__main-tabs--PaddingTop: var(--pf-t--global--spacer--md);

  // Limit width
  --#{$page}--section--m-limit-width--MaxWidth: calc(#{pf-size-prem(2000px)} - var(--#{$page}__sidebar--Width));

  // Sticky
  --#{$page}--section--m-sticky-top--ZIndex: var(--pf-t--global--Zindex--md);
  --#{$page}--section--m-sticky-top--BoxShadow: var(--pf-t--global--box-shadow--sm--bottom);
  --#{$page}--section--m-sticky-bottom--ZIndex: var(--pf-t--global--Zindex--md);
  --#{$page}--section--m-sticky-bottom--BoxShadow: var(--pf-t--global--box-shadow--sm--top);

  // Shadows
  --#{$page}--section--m-shadow-bottom--BoxShadow: var(--pf-t--global--box-shadow--sm--bottom);
  --#{$page}--section--m-shadow-bottom--ZIndex: var(--pf-t--global--Zindex--xs);
  --#{$page}--section--m-shadow-top--BoxShadow: var(--pf-t--global--box-shadow--sm--top);
  --#{$page}--section--m-shadow-top--ZIndex: var(--pf-t--global--Zindex--xs);

  // Main section horizontal nav
  --#{$page}__main-nav--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
  --#{$page}__main-nav--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$page}__main-nav--PaddingRight: 0;
  --#{$page}__main-nav--PaddingLeft: 0;
  --#{$page}__main-nav--m-sticky-top--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$page}__main-nav--xl--PaddingRight: var(--pf-t--global--spacer--sm);
  --#{$page}__main-nav--xl--PaddingLeft: var(--pf-t--global--spacer--sm);

  // Main section horizontal subnav
  --#{$page}__main-subnav--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$page}__main-subnav--PaddingBlockStart: var(--pf-t--global--spacer--md);
  --#{$page}__main-subnav--PaddingBlockEnd: 0;
  --#{$page}__main-subnav--PaddingInlineStart: calc(var(--pf-t--global--spacer--lg) - var(--#{$page}__main--BorderWidth));
  --#{$page}__main-subnav--PaddingInlineEnd: calc(var(--pf-t--global--spacer--lg) - var(--#{$page}__main--BorderWidth));

  // Main section breadcrumb
  --#{$page}__main-breadcrumb--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$page}__main-breadcrumb--PaddingRight: calc(var(--pf-t--global--spacer--lg) - var(--#{$page}__main-container--BorderWidth)); // subtract the border of the main section
  --#{$page}__main-breadcrumb--PaddingBottom: 0;
  --#{$page}__main-breadcrumb--PaddingLeft: calc(var(--pf-t--global--spacer--lg) - var(--#{$page}__main-container--BorderWidth)); // subtract the border of the main section
  --#{$page}__main-breadcrumb--BackgroundColor: var(--pf-t--global--background--color--primary--default);

  // Main section tabs
  --#{$page}__main-tabs--PaddingTop: 0;
  --#{$page}__main-tabs--PaddingRight: 0;
  --#{$page}__main-tabs--PaddingBottom: 0;
  --#{$page}__main-tabs--BackgroundColor: var(--pf-t--global--background--color--primary--default);

  // Wizard main section
  --#{$page}__main-wizard--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$page}__main-wizard--BorderTopColor: var(--pf-t--global--border--color--default);
  --#{$page}__main-wizard--BorderTopWidth: var(--pf-t--global--border--width--button--default);
  }

.#{$page} {
  // Base
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  height: 100dvh;
  max-height: 100%;
  background-color: var(--#{$page}--BackgroundColor);

  @media (min-width: $pf-v6-global--breakpoint--xl) {
    grid-template-areas:
      "header header"
      "sidebar main";
    grid-template-columns: max-content 1fr;
    }
}

// Header
.#{$page}__header,
.#{$page} > .#{$masthead} {
  z-index: var(--#{$page}__header--ZIndex);
  grid-area: header;
}

.#{$page}__header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  min-width: 0;
  min-height: var(--#{$page}__header--MinHeight);
  background-color: var(--#{$page}__header--BackgroundColor);

  > * {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $pf-v6-global--breakpoint--lg) {
    grid-template-columns: auto 1fr auto;
  }

  .#{$masthead} {
    grid-column: span 2;
    align-self: stretch;
  }
}

// Brand
.#{$page}__header-brand {
  grid-column: 1 / 2;
  padding-inline-start: var(--#{$page}__header-brand--PaddingLeft);

  @media (min-width: $pf-v6-global--breakpoint--xl) {
    padding-inline-end: var(--#{$page}__header-brand--xl--PaddingRight); // set padding right here to allow mobile view to accomodate tools
  }
}

// Link
.#{$page}__header-brand-link {
  display: flex;
  flex: 1;
  align-items: center;

  .#{$brand} {
    max-height: var(--#{$page}__header-brand-link--c-brand--MaxHeight); // Hardcode brand image max-height so it always aligns with everthing else.
  }
}

// Sidebar toggle
.#{$page}__header-brand-toggle {
  .#{$button} {
    padding-block-start: var(--#{$page}__header-sidebar-toggle__c-button--PaddingTop);
    padding-block-end: var(--#{$page}__header-sidebar-toggle__c-button--PaddingBottom);
    padding-inline-start: var(--#{$page}__header-sidebar-toggle__c-button--PaddingLeft);
    padding-inline-end: var(--#{$page}__header-sidebar-toggle__c-button--PaddingRight);
    margin-inline-start: var(--#{$page}__header-sidebar-toggle__c-button--MarginLeft);
    margin-inline-end: var(--#{$page}__header-sidebar-toggle__c-button--MarginRight);
    font-size: var(--#{$page}__header-sidebar-toggle__c-button--FontSize);
    line-height: 1;
  }
}

// Header navigation
.#{$page}__header-nav {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  align-self: stretch;
  min-width: 0;
  padding-inline-start: var(--#{$page}__header-nav--PaddingLeft);
  padding-inline-end: var(--#{$page}__header-nav--PaddingRight);
  background-color: var(--#{$page}__header-nav--BackgroundColor);

  @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .#{$nav} {
    align-self: stretch;
  }
}

// Header tools
.#{$page}__header-tools {
  grid-column: 2 / 3;
  margin-inline-start: auto; // to push it to the right
  margin-inline-end: var(--#{$page}__header-tools--MarginRight);

  .#{$avatar} {
    margin-inline-start: var(--#{$page}__header-tools--c-avatar--MarginLeft);
  }

  @media screen and (min-width: $pf-v6-global--breakpoint--lg) {
    grid-column: 3 / 4;
  }
}

.#{$page}__header-tools-group {
  @include pf-v6-hidden-visible(var(--#{$page}__header-tools-group--Display));

  align-items: center;

  & + & {
    margin-inline-start: var(--#{$page}__header-tools-group--MarginLeft);
  }
}

.#{$page}__header-tools-item {
  @include pf-v6-hidden-visible(var(--#{$page}__header-tools-item--Display));
}

// Sidebar
.#{$page}__sidebar {
  z-index: var(--#{$page}__sidebar--ZIndex);
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  grid-row-start: 2;
  grid-column-start: 1;
  width: var(--#{$page}__sidebar--Width);
  padding-block-start: 0;
  padding-block-end: var(--#{$page}__sidebar--PaddingBlockEnd);
  padding-inline-start: var(--#{$page}__sidebar--PaddingInlineStart);
  margin-inline-end: var(--#{$page}__sidebar--MarginRight);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--#{$page}__sidebar--BackgroundColor);
  transition: var(--#{$page}__sidebar--Transition);

  @include pf-v6-bidirectional-style(
    $prop: transform,
    $ltr-val: translateX(var(--#{$page}__sidebar--TranslateX)) translateZ(var(--#{$page}__sidebar--TranslateZ)),
    $rtl-val: translateX(#{pf-v6-calc-inverse(var(--#{$page}__sidebar--TranslateX))}) translateZ(var(--#{$page}__sidebar--TranslateZ))
  );

  // Mobile
  // Expanded nav
  &.pf-m-expanded {
    --#{$page}__sidebar--TranslateX: var(--#{$page}__sidebar--m-expanded--TranslateX);

    box-shadow: var(--#{$page}__sidebar--BoxShadow);

    @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
      --#{$page}__sidebar--BoxShadow: none;
    }
  }

  // Desktop
  // Collapse nav
  &.pf-m-collapsed {
    max-width: 0;
    overflow: hidden;
  }
}

.#{$page}__sidebar-header {
  padding-block-start: var(--#{$page}__sidebar-header--PaddingTop);
  padding-block-end: var(--#{$page}__sidebar-header--PaddingBottom);
  border-block-end: var(--#{$page}__sidebar-header--BorderBottomWidth) solid var(--#{$page}__sidebar-header--BorderBottomColor);
}

.#{$page}__sidebar-title {
  padding-inline-start: var(--#{$page}__sidebar-title--PaddingLeft);
  font-family: var(--#{$page}__sidebar-title--FontFamily);
  font-size: var(--#{$page}__sidebar-title--FontSize);
  font-weight: var(--#{$page}__sidebar-title--FontWeight);
  line-height: var(--#{$page}__sidebar-title--LineHeight);
}

.#{$page}__sidebar-body {
  padding-inline-start: var(--#{$page}__sidebar-body--PaddingLeft);
  padding-inline-end: var(--#{$page}__sidebar-body--PaddingRight);

  &:last-child {
    flex-grow: 1;
  }

  &.pf-m-menu {
    background-color: var(--#{$page}__sidebar-body--m-menu--BackgroundColor);
    border-block-start: var(--#{$page}__sidebar-body--m-menu--BorderTopWidth) solid var(--#{$page}__sidebar-body--m-menu--BorderTopColor);

    & + & {
      --#{$page}__sidebar-body--m-menu--BorderTopWidth: 0;
    }

    .#{$context-selector} {
      --#{$context-selector}__toggle--BorderTopColor: transparent;
      --#{$context-selector}__toggle--BorderRightColor: transparent;
      --#{$context-selector}__toggle--BorderBottomColor: var(--#{$page}__sidebar-body--m-menu--c-context-selector--BorderBottomColor);
      --#{$context-selector}__toggle--BorderLeftColor: transparent;
      --#{$context-selector}__menu--Top: 100%;

      @include pf-v6-t-dark;

      width: 100%;
    }
  }

  &.pf-m-page-insets {
    --#{$page}__sidebar-body--PaddingRight: var(--#{$page}__sidebar-body--m-page-insets--PaddingRight);
    --#{$page}__sidebar-body--PaddingLeft: var(--#{$page}__sidebar-body--m-page-insets--PaddingLeft);
  }

  &.pf-m-inset-none {
    --#{$page}__sidebar-body--PaddingRight: 0;
    --#{$page}__sidebar-body--PaddingLeft: 0;
  }

  &.pf-m-fill {
    flex-grow: 1;
  }

  &.pf-m-no-fill {
    flex-grow: 0;
  }
}

.#{$page}__main-nav,
.#{$page}__main-breadcrumb,
.#{$page}__main-tabs,
.#{$page}__main-section,
.#{$page}__main-wizard {
  &.pf-m-limit-width {
    display: flex;
    flex-direction: column;
    padding: 0;

    > .#{$page}__main-body {
      flex: 1;
      max-width: var(--#{$page}--section--m-limit-width--MaxWidth);
    }

    &.pf-m-align-center {
      align-items: center;

      > .#{$page}__main-body {
        width: 100%;
      }
    }
  }
}

.#{$page}__main-nav,
.#{$page}__main-breadcrumb,
.#{$page}__main-tabs,
.#{$page}__main-section,
.#{$page}__main-wizard,
.#{$page}__main-group,
.#{$page}__main-subnav {
  flex-shrink: 0;

  &.pf-m-overflow-scroll {
    position: relative;
    flex-shrink: 1;
    overflow: auto;
  }

  &.pf-m-shadow-bottom {
    z-index: var(--#{$page}--section--m-shadow-bottom--ZIndex);
    box-shadow: var(--#{$page}--section--m-shadow-bottom--BoxShadow);
  }

  &.pf-m-shadow-top {
    z-index: var(--#{$page}--section--m-shadow-top--ZIndex);
    box-shadow: var(--#{$page}--section--m-shadow-top--BoxShadow);
  }

  // Responsive height modifiers for sticky top/bottom
  @each $breakpoint, $breakpoint-value in $pf-page-v6--height-breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}-height, "");

    @include pf-v6-apply-height-breakpoint($breakpoint) {

      &.pf-m-sticky-top#{$breakpoint-name} {
        position: sticky;
        inset-block-start: 0;
        z-index: var(--#{$page}--section--m-sticky-top--ZIndex);
        box-shadow: var(--#{$page}--section--m-sticky-top--BoxShadow);
      }

      &.pf-m-sticky-bottom#{$breakpoint-name} {
        position: sticky;
        inset-block-end: 0;
        z-index: var(--#{$page}--section--m-sticky-bottom--ZIndex);
        box-shadow: var(--#{$page}--section--m-sticky-bottom--BoxShadow);
      }
    }
  }
}

// Main & Drawer
.#{$page}__main-container {
  align-self: start;
  max-height: var(--#{$page}__main-container--MaxHeight);
  margin-block-start: 0;
  margin-inline-start: var(--#{$page}__main-container--MarginInlineStart);
  margin-inline-end: var(--#{$page}__main-container--MarginInlineEnd);
  overflow: auto;
  background: var(--#{$page}__main-container--BackgroundColor);
  border: var(--#{$page}__main-container--BorderWidth) solid var(--#{$page}__main-container--BorderColor);
  border-radius: var(--#{$page}__main-container--BorderRadius);
}

.#{$page}__main-container,
.#{$page}__drawer {
  z-index: var(--#{$page}__main-container--ZIndex);
  grid-area: main;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &:focus {
    outline: 0;
  }
}

.#{$page}__main,
.#{$page}__main-drawer,
.#{$page}__main-group,
.#{$page}__main-list {
  display: flex;
  flex-direction: column;
}

.#{$page}__main-nav {
  padding-block-start: var(--#{$page}__main-nav--PaddingTop);
  padding-inline-start: var(--#{$page}__main-nav--PaddingLeft);
  padding-inline-end: var(--#{$page}__main-nav--PaddingRight);
  background-color: var(--#{$page}__main-nav--BackgroundColor);

  // Responsive height modifiers for sticky top/bottom
  @each $breakpoint, $breakpoint-value in $pf-page-v6--height-breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}-height, "");

    @include pf-v6-apply-height-breakpoint($breakpoint) {
      &.pf-m-sticky-top#{$breakpoint-name},
      .#{$page}__main-group.pf-m-sticky-top#{$breakpoint-name} &:last-child {
        padding-block-end: var(--#{$page}__main-nav--m-sticky-top--PaddingBottom);
      }
    }
  }
}

.#{$page}__main-subnav {
  padding-block-start: var(--#{$page}__main-subnav--PaddingBlockStart);
  padding-block-end: var(--#{$page}__main-subnav--PaddingBlockEnd);
  padding-inline-start: var(--#{$page}__main-subnav--PaddingInlineStart);
  padding-inline-end: var(--#{$page}__main-subnav--PaddingInlineEnd);
  background-color: var(--#{$page}__main-subnav--BackgroundColor);
}

.#{$page}__main-breadcrumb {
  padding-block-start: var(--#{$page}__main-breadcrumb--PaddingTop);
  padding-block-end: var(--#{$page}__main-breadcrumb--PaddingBottom);
  padding-inline-start: var(--#{$page}__main-breadcrumb--PaddingLeft);
  padding-inline-end: var(--#{$page}__main-breadcrumb--PaddingRight);
  background-color: var(--#{$page}__main-breadcrumb--BackgroundColor);

  + .#{$page}__main-section {
    --#{$page}__main-section--PaddingTop: var(--#{$page}__main-breadcrumb--main-section--PaddingTop);
  }

  // Responsive height modifiers for sticky top/bottom
  @each $breakpoint, $breakpoint-value in $pf-page-v6--height-breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}-height, "");

    @include pf-v6-apply-height-breakpoint($breakpoint) {
      &.pf-m-sticky-top#{$breakpoint-name},
      .#{$page}__main-group.pf-m-sticky-top#{$breakpoint-name} &:last-child {
        --#{$page}__main-breadcrumb--PaddingBottom: var(--#{$page}__main-breadcrumb--m-sticky-top--PaddingBottom);
      }
    }
  }
}

.#{$page}__main-tabs {
  padding-block-start: var(--#{$page}__main-tabs--PaddingTop);
  padding-block-end: var(--#{$page}__main-tabs--PaddingBottom);
  padding-inline-start: var(--#{$page}__main-tabs--PaddingLeft);
  padding-inline-end: var(--#{$page}__main-tabs--PaddingRight);
  background-color: var(--#{$page}__main-tabs--BackgroundColor);

  .#{$page}__main-nav + & {
    --#{$page}__main-tabs--PaddingTop: var(--#{$page}__main-nav--page__main-tabs--PaddingTop);
  }

  .#{$page}__main-breadcrumb + & {
    --#{$page}__main-tabs--PaddingTop: var(--#{$page}__main-breadcrumb--page__main-tabs--PaddingTop);
  }
}

.#{$page}__main-section,
.#{$page}__main-group,
.#{$page}__main-wizard {
  &:last-child,
  &:only-child,
  &.pf-m-fill {
    flex-grow: 1;
  }

  &.pf-m-no-fill {
    flex-grow: 0;
  }
}

.#{$page}__main-section {
  padding-block-start: var(--#{$page}__main-section--PaddingTop);
  padding-block-end: var(--#{$page}__main-section--PaddingBottom);
  padding-inline-start: var(--#{$page}__main-section--PaddingLeft);
  padding-inline-end: var(--#{$page}__main-section--PaddingRight);
  background-color: var(--#{$page}__main-section--BackgroundColor);

  &.pf-m-secondary {
    --#{$page}__main-section--BackgroundColor: var(--#{$page}__main-section--m-secondary--BackgroundColor);
  }

  @each $breakpoint, $breakpoint-value in $pf-page-v6--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-v6-apply-breakpoint($breakpoint) {
      // stylelint-disable max-nesting-depth
      &.pf-m-padding#{$breakpoint-name} {
        padding-block-start: var(--#{$page}__main-section--PaddingTop);
        padding-block-end: var(--#{$page}__main-section--PaddingBottom);
        padding-inline-start: var(--#{$page}__main-section--PaddingLeft);
        padding-inline-end: var(--#{$page}__main-section--PaddingRight);

        &.pf-m-limit-width {
          padding: 0;

          .#{$page}__main-body {
            padding-block-start: var(--#{$page}__main-section--PaddingTop);
            padding-block-end: var(--#{$page}__main-section--PaddingBottom);
            padding-inline-start: var(--#{$page}__main-section--PaddingLeft);
            padding-inline-end: var(--#{$page}__main-section--PaddingRight);
          }
        }
      }

      &.pf-m-no-padding#{$breakpoint-name} {
        &,
        &.pf-m-limit-width .#{$page}__main-body {
          padding: 0;
        }
      }
      // stylelint-enable
    }
  }
}

.#{$page}__main-wizard {
  flex: 1 1;
  min-height: 0;
  background-color: var(--#{$page}__main-wizard--BackgroundColor);
  border-block-start: var(--#{$page}__main-wizard--BorderTopWidth) solid var(--#{$page}__main-wizard--BorderTopColor);

  &:first-child {
    --#{$page}__main-wizard--BorderTopWidth: 0;
  }
}

.#{$page}__main-wizard .#{$page}__main-body {
  min-height: 0;
}

.#{$page}__main-group {
  flex-shrink: 0;
}

.#{$page}__main-body {
  .#{$page}__main-nav & {
    padding-block-start: var(--#{$page}__main-nav--PaddingTop);
    padding-inline-start: var(--#{$page}__main-nav--PaddingLeft);
    padding-inline-end: var(--#{$page}__main-nav--PaddingRight);
  }

  .#{$page}__main-breadcrumb & {
    padding-block-start: var(--#{$page}__main-breadcrumb--PaddingTop);
    padding-block-end: var(--#{$page}__main-breadcrumb--PaddingBottom);
    padding-inline-start: var(--#{$page}__main-breadcrumb--PaddingLeft);
    padding-inline-end: var(--#{$page}__main-breadcrumb--PaddingRight);
  }

  .#{$page}__main-section & {
    padding-block-start: var(--#{$page}__main-section--PaddingTop);
    padding-block-end: var(--#{$page}__main-section--PaddingBottom);
    padding-inline-start: var(--#{$page}__main-section--PaddingLeft);
    padding-inline-end: var(--#{$page}__main-section--PaddingRight);
  }

  .#{$page}__main-tabs & {
    padding-block-start: var(--#{$page}__main-tabs--PaddingTop);
    padding-block-end: var(--#{$page}__main-tabs--PaddingBottom);
    padding-inline-start: var(--#{$page}__main-tabs--PaddingLeft);
    padding-inline-end: var(--#{$page}__main-tabs--PaddingRight);
  }
}

.#{$page}__drawer {
  grid-area: main;

  > .#{$drawer} {
    flex: 1 0 auto;
  }
}

