<section class="{{pfv}}page__main-tabs{{#if page-main-tabs--IsLimitWidth}} pf-m-limit-width{{/if}}{{#if page-main-tabs--modifier}} {{page-main-tabs--modifier}}{{/if}}"
  {{#if page-main-tabs--attribute}}
    {{{page-main-tabs--attribute}}}
  {{/if}}>
  {{#if page-main-tabs--IsLimitWidth}}
    {{#> page-main-body}}
      {{> @partial-block}}
    {{/page-main-body}}
  {{else}}
    {{> @partial-block}}
  {{/if}}
</section>
