<div class="{{pfv}}page__main-list{{#if page-main-list--modifier}} {{page-main-list--modifier}}{{/if}}" tabindex="-1"
  {{#if page-main-list--attribute}}
    {{{page-main-list--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
