<div class="{{pfv}}page__sidebar-header{{#if page-sidebar-header--modifier}} {{page-sidebar-header--modifier}}{{/if}}"
  {{#if page-sidebar-header--attribute}}
    {{{page-sidebar-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
