<div class="pf-c-page__header-toolbar{{#if page-header-toolbar--modifier}} {{page-header-toolbar--modifier}}{{/if}}"
  {{#if page-header-toolbar--attribute}}
    {{{page-header-toolbar--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
