<div class="pf-c-page__header-tools-group-item{{#if page-header-tools-group-item--modifier}} {{page-header-tools-group-item--modifier}}{{/if}}"
  {{#if page-header-tools-group-item--attribute}}
    {{{page-header-tools-group-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
