<div class="{{pfv}}page__main-container{{#if page-main-container--modifier}} {{page-main-container--modifier}}{{/if}}" tabindex="-1"
  {{#if page-main-container--attribute}}
    {{{page-main-container--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
