<div class="pf-c-page__drawer-body{{#if page-drawer-body--modifier}} {{page-drawer-body--modifier}}{{/if}}"
  {{#if page-drawer-body--attribute}}
    {{{page-drawer-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
