<h2 class="{{pfv}}page__sidebar-title{{#if page-sidebar-title--modifier}} {{page-sidebar-title--modifier}}{{/if}}"
  {{#if page-sidebar-title--attribute}}
    {{{page-sidebar-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</h2>