<div class="pf-c-page__main-section-body{{#if page-main-section-body--modifier}} {{page-main-section-body--modifier}}{{/if}}"
  {{#if page-main-section-body--attribute}}
    {{{page-main-section-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
