
$pf-c-card__header--Padding: $pf-global--spacer--lg !default;

$pf-c-card__body--Padding: $pf-global--spacer--lg !default;

$pf-c-card__footer--Padding: $pf-global--spacer--lg !default;


// $pf-c-card--BackgroundColor: $pf-glogal-light-color !default;

$pf-c-card--BorderWidth: $pf-global--BorderWidth--md !default;
$pf-c-card--BorderColor: transparent !default;

$pf-c-card__header-section--Margin-Left: $pf-global--spacer--xl !default;

$pf-c-card__header-title--Font-Size: $pf-global--FontSize--lg !default;

/// A description of pf-c-card
/// @group components
/// @moduleType component
/// @modifier .is-modifier - An example modifier description
/// @modifier .is-another-modifier - Another example modifier description
/// @template src/components/pf-c-card/pf-c-card.html

.pf-c-card {
  // position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  // background-color: $pf-c-card--BackgroundColor;
  // background-clip: border-box;
  border: $pf-c-card--BorderWidth solid $pf-c-card--BorderColor;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $pf-c-card__header--Padding;

    > *:last-of-type {
      margin-left: $pf-c-card__header-section--Margin-Left;
    }

    &-title {
      margin: 0; //reset
      font-size: $pf-c-card__header-title--Font-Size;
    }
  }

  &__body {
    flex: 1 1 auto;
    padding: $pf-c-card__header--Padding;

    > *:last-of-type {
      margin-bottom: 0; //removes the margin of the last item on the body.
    }
  }

  &__footer {
    padding: $pf-c-card__header--Padding;
  }

}
