{{#> badge-upgrade-examples}}
  <span class="badge">7</span>
  <span class="badge">24</span>
  <span class="badge">240</span>
  <span class="badge">999+</span>
  <br>
  <br>
  <button class="btn btn-primary" type="button">
    Messages 
    <span class="badge">
      4
    </span>
  </button>
{{/badge-upgrade-examples}}