<div class="pf-c-page__header-nav">
  {{#> nav nav--attribute='aria-label="Primary Nav Horizontal Example"'}}
    {{#> nav-list nav-list--type="horizontal"}}
      {{#> nav-item}}
        {{#> nav-link nav-link--href="#" nav-link--current="true"}}
          Item 1
        {{/nav-link}}
      {{/nav-item}}
      {{#> nav-item}}
        {{#> nav-link nav-link--href="#"}}
          Item 2
        {{/nav-link}}
      {{/nav-item}}
      {{#> nav-item}}
        {{#> nav-link nav-link--href="#"}}
          Item 3
        {{/nav-link}}
      {{/nav-item}}
    {{/nav-list}}
  {{/nav}}
</div>
