{{#> button btnClass="pf-is-primary"}}
    Primary
{{/button}}
{{#> button btnClass="pf-is-secondary"}}
    Secondary
{{/button}}
{{#> button btnClass="pf-is-tertiary"}}
    Tertiary
{{/button}}
{{#> button btnClass="pf-is-danger"}}
    Danger
{{/button}}

<span style="background-color: black; padding: 1em .5em; margin: 1em;">
    {{#> button btnClass="pf-is-secondary-alt"}}
        Secondary Alternative
    {{/button}}
</span>
