<div class="pf-l-level">
<div class="pf-l-stack">
    {{#> button btnClass="pf-is-primary"}}
        Primary
    {{/button}}
    {{#> button btnClass="pf-is-primary pf-is-focus"}}
        Primary Focus
    {{/button}}
    {{#> button btnClass="pf-is-primary pf-is-active" btnAriaPressed="true"}}
        Primary Active
    {{/button}}
    {{#> button btnClass="pf-is-primary pf-is-disabled" btnTabIndex="-1" btnAriaDisabled="true"}}
        Primary Disabled
    {{/button}}
</div>
<div class="pf-l-stack">
    {{#> button btnClass="pf-is-secondary"}}
        Secondary
    {{/button}}
    {{#> button btnClass="pf-is-secondary pf-is-focus"}}
        Secondary Focus
    {{/button}}
    {{#> button btnClass="pf-is-secondary pf-is-active" btnAriaPressed="true"}}
        Secondary Active
    {{/button}}
    {{#> button btnClass="pf-is-secondary pf-is-disabled" btnTabIndex="-1" btnAriaDisabled="true"}}
        Secondary Disabled
    {{/button}}
</div>
<div class="pf-l-stack">
    {{#> button btnClass="pf-is-tertiary"}}
        Tertiary
    {{/button}}
    {{#> button btnClass="pf-is-tertiary pf-is-focus"}}
        Tertiary Focus
    {{/button}}
    {{#> button btnClass="pf-is-tertiary pf-is-active" btnAriaPressed="true"}}
        Tertiary Active
    {{/button}}
    {{#> button btnClass="pf-is-tertiary pf-is-disabled" btnTabIndex="-1" btnAriaDisabled="true"}}
        Tertiary Disabled
    {{/button}}
</div>
<div class="pf-l-stack">
    {{#> button btnClass="pf-is-danger"}}
        Danger
    {{/button}}
    {{#> button btnClass="pf-is-danger pf-is-focus"}}
        Danger Focus
    {{/button}}
    {{#> button btnClass="pf-is-danger pf-is-active" btnAriaPressed="true"}}
        Danger Active
    {{/button}}
    {{#> button btnClass="pf-is-danger pf-is-disabled" btnTabIndex="-1" btnAriaDisabled="true"}}
        Danger Disabled
    {{/button}}
</div>
</div>
