<div class="pf-c-hint__header{{#if hint-header--modifier}} {{hint-header--modifier}}{{/if}}"
  {{#if hint-header--attribute}}
    {{{hint-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
