@use '../../sass-utilities' as *;

:root {
  --#{$hint}--GridRowGap: var(--pf-t--global--spacer--sm);
  --#{$hint}--PaddingTop: var(--pf-t--global--spacer--lg);
  --#{$hint}--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$hint}--PaddingBottom: var(--pf-t--global--spacer--lg);
  --#{$hint}--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$hint}--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$hint}--BorderColor: var(--pf-t--global--border--color--status--info--default);
  --#{$hint}--BorderWidth: var(--pf-t--global--border--width--box--status--default);
  --#{$hint}--BorderRadius: var(--pf-t--global--border--radius--medium);
  --#{$hint}--Color: var(--pf-t--global--text--color--regular);

  // Hint Title
  --#{$hint}__title--FontFamily: var(--pf-t--global--font--family--heading);
  --#{$hint}__title--FontSize: var(--pf-t--global--font--size--heading--xs);
  --#{$hint}__title--FontWeight: var(--pf-t--global--font--weight--heading);
  --#{$hint}__title--LineHeight: var(--pf-t--global--font--line-height--heading);

  // Hint Body
  --#{$hint}__body--FontSize: var(--pf-t--global--font--size--body--default);

  // Hint Footer
  --#{$hint}__footer--MarginTop: var(--pf-t--global--spacer--sm);
  --#{$hint}__footer--child--MarginRight: var(--pf-t--global--spacer--md);

  // Hint Actions
  --#{$hint}__actions--MarginLeft: var(--pf-t--global--spacer--2xl);
  --#{$hint}__actions--c-dropdown--MarginTop: calc(var(--pf-t--global--spacer--control--vertical--default) * -1);
}

.#{$hint} {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: var(--#{$hint}--GridRowGap);
  padding-block-start: var(--#{$hint}--PaddingTop);
  padding-block-end: var(--#{$hint}--PaddingBottom);
  padding-inline-start: var(--#{$hint}--PaddingLeft);
  padding-inline-end: var(--#{$hint}--PaddingRight);
  color: var(--#{$hint}--Color);
  background-color: var(--#{$hint}--BackgroundColor);
  border: var(--#{$hint}--BorderWidth) solid var(--#{$hint}--BorderColor);
  border-radius: var(--#{$hint}--BorderRadius);

  // Remove this when the inline link button is updated
  .#{$button}.pf-m-link.pf-m-inline {
    text-align: start;
    white-space: normal;
  }
}

.#{$hint}__actions {
  display: inline-grid;
  grid-row: 1;
  grid-column: 2;
  grid-auto-flow: column;
  margin-inline-start: var(--#{$hint}__actions--MarginLeft);
  text-align: end;

  // Only applies to the plain dropdown
  .#{$dropdown} .#{$dropdown}__toggle.pf-m-plain {
    margin-block-start: var(--#{$hint}__actions--c-dropdown--MarginTop);
  }

  + .#{$hint}__body {
    grid-column: 1;
  }
}

.#{$hint}__title {
  align-self: center;
  font-family: var(--#{$hint}__title--FontFamily);
  font-size: var(--#{$hint}__title--FontSize);
  font-weight: var(--#{$hint}__title--FontWeight);
  line-height: var(--#{$hint}__title--LineHeight);
}

.#{$hint}__body {
  grid-column: 1 / -1;
  font-size: var(--#{$hint}__body--FontSize);
}

.#{$hint}__footer {
  grid-column: 1 / -1;
  margin-block-start: var(--#{$hint}__footer--MarginTop);

  > :not(:last-child) {
    margin-inline-end: var(--#{$hint}__footer--child--MarginRight);
  }
}
