<div class="pf-c-panel__footer{{#if panel-footer--modifier}} {{panel-footer--modifier}}{{/if}}"
  {{#if panel-footer--attribute}}
    {{{panel-footer--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
