// @debug $panel; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root,
.#{$panel} {
  --#{$panel}--Width: auto;
  --#{$panel}--MinWidth: auto;
  --#{$panel}--MaxWidth: none;
  --#{$panel}--ZIndex: auto;
  --#{$panel}--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$panel}--BoxShadow: none;

  // border
  --#{$panel}--before--BorderWidth: 0;
  --#{$panel}--before--BorderColor: var(--pf-t--global--border--color--default);

  // secondary modifier
  --#{$panel}--m-secondary--BackgroundColor: var(--pf-t--global--background--color--secondary--default);

  // bordered
  --#{$panel}--m-bordered--before--BorderWidth: var(--pf-t--global--border--width--regular);

  // raised
  --#{$panel}--m-raised--BoxShadow: var(--pf-t--global--box-shadow--md);
  --#{$panel}--m-raised--ZIndex: var(--pf-t--global--z-index--sm);
  --#{$panel}--m-raised--BackgroundColor: var(--pf-t--global--background--color--floating--default);

  // header
  --#{$panel}__header--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$panel}__header--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$panel}__header--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$panel}__header--PaddingLeft: var(--pf-t--global--spacer--md);

  // main
  --#{$panel}__main--MaxHeight: none;
  --#{$panel}__main--Overflow: visible;

  // body
  --#{$panel}__main-body--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$panel}__main-body--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$panel}__main-body--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$panel}__main-body--PaddingLeft: var(--pf-t--global--spacer--md);

  // footer
  --#{$panel}__footer--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$panel}__footer--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$panel}__footer--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$panel}__footer--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$panel}__footer--BoxShadow: none;

  // scrollable
  --#{$panel}--m-scrollable__main--MaxHeight: #{pf-size-prem(300px)};
  --#{$panel}--m-scrollable__main--Overflow: auto;
  --#{$panel}--m-scrollable__footer--BoxShadow: 0 #{pf-size-prem(-5px)} #{pf-size-prem(4px)} #{pf-size-prem(-4px)} rgba(0 0 0 / 16%); // insets the shadow so it doesn't show on left/right sides
}

.#{$panel} {
  position: relative;
  z-index: var(--#{$panel}--ZIndex);
  width: var(--#{$panel}--Width);
  min-width: var(--#{$panel}--MinWidth);
  max-width: var(--#{$panel}--MaxWidth);
  background-color: var(--#{$panel}--BackgroundColor);
  box-shadow: var(--#{$panel}--BoxShadow);

  &::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border: var(--#{$panel}--before--BorderWidth) solid var(--#{$panel}--before--BorderColor);
  }

  &.pf-m-bordered {
    --#{$panel}--before--BorderWidth: var(--#{$panel}--m-bordered--before--BorderWidth);
  }

  &.pf-m-secondary {
    --#{$panel}--BackgroundColor: var(--#{$panel}--m-secondary--BackgroundColor);
  }

  &.pf-m-raised {
    --#{$panel}--BackgroundColor: var(--#{$panel}--m-raised--BackgroundColor);
    --#{$panel}--BoxShadow: var(--#{$panel}--m-raised--BoxShadow);
    --#{$panel}--ZIndex: var(--#{$panel}--m-raised--ZIndex);
  }

  &.pf-m-scrollable {
    --#{$panel}__main--MaxHeight: var(--#{$panel}--m-scrollable__main--MaxHeight);
    --#{$panel}__main--Overflow: var(--#{$panel}--m-scrollable__main--Overflow);
    --#{$panel}__footer--BoxShadow: var(--#{$panel}--m-scrollable__footer--BoxShadow);
  }
}

.#{$panel}__header {
  padding-block-start: var(--#{$panel}__header--PaddingTop);
  padding-block-end: var(--#{$panel}__header--PaddingBottom);
  padding-inline-start: var(--#{$panel}__header--PaddingLeft);
  padding-inline-end: var(--#{$panel}__header--PaddingRight);
}

.#{$panel}__main {
  max-height: var(--#{$panel}__main--MaxHeight);
  overflow: var(--#{$panel}__main--Overflow);
}

.#{$panel}__main-body {
  padding-block-start: var(--#{$panel}__main-body--PaddingTop);
  padding-block-end: var(--#{$panel}__main-body--PaddingBottom);
  padding-inline-start: var(--#{$panel}__main-body--PaddingLeft);
  padding-inline-end: var(--#{$panel}__main-body--PaddingRight);
}

.#{$panel}__footer {
  padding-block-start: var(--#{$panel}__footer--PaddingTop);
  padding-block-end: var(--#{$panel}__footer--PaddingBottom);
  padding-inline-start: var(--#{$panel}__footer--PaddingLeft);
  padding-inline-end: var(--#{$panel}__footer--PaddingRight);
  box-shadow: var(--#{$panel}__footer--BoxShadow);
}
