<div class="pf-c-panel__header{{#if panel-header--modifier}} {{panel-header--modifier}}{{/if}}"
  {{#if panel-header--attribute}}
    {{{panel-header--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
{{> divider}}
