<div class="pf-c-panel__main-body{{#if panel-main-body--modifier}} {{panel-main-body--modifier}}{{/if}}"
  {{#if panel-main-body--attribute}}
    {{{panel-main-body--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
