<div class="{{pfv}}panel{{#if panel--modifier}} {{panel--modifier}}{{/if}}"
  {{#if panel--IsPopper}}
    style="position: absolute; top: calc(100% + 2px); z-index: var(--pf-v5-global--ZIndex--sm);"
  {{/if}}
  {{#if panel--attribute}}
    {{{panel--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
