<div class="{{pfv}}panel
  {{setModifiers
    panel--IsPill="pf-m-pill"
    panel--modifier=panel--modifier
  }}"
  {{#if panel--attribute}}
    {{{panel--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
