<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Design System Workspace</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="/assets/workspace.css">
  <link rel="stylesheet" href="/dist/patternfly.css">
</head>
<body>
<div id="design-system-workspace">
  <div id="design-system-workspace__demo">
    <%- include(page, {}) %>
  </div>
</div>
</body>
</html>
