<a href="#" role="tab" class="pf-p-secondary-nav__link {{ modifierClass }}" {{#if ariaSelected}} aria-selected="{{ ariaSelected }}" {{/if}} {{#if ariaDisabled}} aria-disabled="{{ ariaDisabled }}" {{/if}}>
  {{> @partial-block}}
</a>