{{#> pagination pagination--modifier="pf-m-footer" pagination--attribute='aria-label="Element pagination"'}}
  {{#> pagination-select}}
    <div class="pf-c-dropdown pf-m-expanded">
      <span id="ex2-pagination-dropdown-label" hidden>Items per page</span>
      <button class="pf-c-dropdown__toggle" aria-labelledby="ex2-pagination-dropdown-label ex2-pagination-dropdown-button" id="ex2-pagination-dropdown-button">
        5
        <i class="fas fa-caret-down pf-c-dropdown__toggle-icon" aria-hidden="true"></i>
      </button>
      <ul class="pf-c-dropdown__menu" aria-labelledby="ex2-pagination-dropdown-label">
        <li>
          <button class="pf-c-dropdown__menu-item" aria-pressed="true">5</button>
        </li>
        <li>
          <button class="pf-c-dropdown__menu-item" aria-pressed="false">10</button>
        </li>
        <li>
          <button class="pf-c-dropdown__menu-item" aria-pressed="false">20</button>
        </li>
      </ul>
    </div>
    <span class="pf-c-pagination__complementary-text" aria-hidden="true">per page</span>
  {{/pagination-select}}
  {{#> pagination-range}}
    11-20 of 97
  {{/pagination-range}}
  {{#> pagination-nav}}
    {{#> pagination-nav-button pagination-nav-button--attribute='aria-label="Go to first page"'}}
      <i class="fas fa-angle-double-left" aria-hidden="true"></i>
    {{/pagination-nav-button}}
    {{#> pagination-nav-button pagination-nav-button--attribute='aria-label="Go to previous page"'}}
      <i class="fas fa-angle-left" aria-hidden="true"></i>
    {{/pagination-nav-button}}
    {{#> pagination-nav-page pagination-nav-page--attribute='aria-label="Current page 3 of 9"'}}
      <input class="pf-c-pagination__nav-input" aria-label="Current page" type="number" min="1" max="9" value="3">
      <span aria-hidden="true">of 9</span>
    {{/pagination-nav-page}}
    {{#> pagination-nav-button pagination-nav-button--attribute='aria-label="Go to next page"'}}
      <i class="fas fa-angle-right" aria-hidden="true"></i>
    {{/pagination-nav-button}}
    {{#> pagination-nav-button pagination-nav-button--attribute='aria-label="Go to last page"'}}
      <i class="fas fa-angle-double-right" aria-hidden="true"></i>
    {{/pagination-nav-button}}
  {{/pagination-nav}}
{{/pagination}}
