@mixin popover() {
  .pf-c-popover {
    --pf-c-popover--BoxShadow: none;
    --pf-c-popover__arrow--BoxShadow: none;
    --pf-c-popover__arrow--BackgroundColor: var(--pf-c-popover__content--BackgroundColor);

    &,
    .pf-c-popover__arrow {
      border: 4px solid var(--pf-global--BorderColor--400);
    }
  }
}
