/* stylelint-disable */
.ws-core-l-grid .pf-l-grid, .ws-core-l-grid .pf-l-grid__item {
  padding: .5rem !important;
  border: 2px dashed #393f44;
}

.ws-core-l-grid .pf-l-grid[class*="pf-m-align-"], div[id*="ws-core-l-grid-align-self-"] .pf-l-grid{
  min-height: 260px; /* gives the grid a height to show the alignment */
}