$pf-l-flex--spacer-map: build-spacer-map();
$pf-l-flex--breakpoint-map: build-breakpoint-map("sm", "md", "lg", "xl", "2xl");
$pf-l-flex--variable-map: build-variable-map("pf-l-flex--spacer", $pf-l-flex--spacer-map);
