<h2 class="example-title{{#if example-title--modifier}} {{example-title--modifier}}{{/if}}"
  {{#if example-title--attribute}}
    {{{example-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</h2>
