<div class="example{{#if example--modifier}} {{example--modifier}}{{/if}}"
  {{#if example--attribute}}
    {{{example--attribute}}}
  {{/if}}>
  {{#if example--strapline}}
    <span class="example__strapline">{{{example--strapline}}}</span>
  {{/if}}
  <span>{{> @partial-block}}</span>
</div>
