@import "../../patternfly-imports";

// Mixins

// Spacer values
$pf-flex-spacer-map: (
  "none": 0,
  "xs": "var(--pf-l-flex--spacer--xs)",
  "sm": "var(--pf-l-flex--spacer--sm)",
  "md": "var(--pf-l-flex--spacer--md)",
  "lg": "var(--pf-l-flex--spacer--lg)",
  "xl": "var(--pf-l-flex--spacer--xl)",
  "2xl": "var(--pf-l-flex--spacer--2xl)",
  "3xl": "var(--pf-l-flex--spacer--3xl)"
);

@mixin pf-l-flex--space-items-builder {
  @each $prop, $value in $pf-flex-spacer-map {
    &.pf-m-space-items-#{$prop} > * {
      --pf-l-flex--spacer: #{$value};
    }
  }

  @media screen and (max-width: $pf-global--breakpoint--mobile-only) {
    @each $prop, $value in $pf-flex-spacer-map {
      &.pf-m-space-items-#{$prop}-mobile-only > * {
        --pf-l-flex--spacer: #{$value};
      }
    }
  }

  @media screen and (min-width: $pf-global--breakpoint--tablet) {
    @each $prop, $value in $pf-flex-spacer-map {
      &.pf-m-space-items-#{$prop}-tablet-plus > * {
        --pf-l-flex--spacer: #{$value};
      }
    }
  }

  @media screen and (min-width: $pf-global--breakpoint--desktop) {
    @each $prop, $value in $pf-flex-spacer-map {
      &.pf-m-space-items-#{$prop}-desktop-plus > * {
        --pf-l-flex--spacer: #{$value};
      }
    }
  }
}

@mixin pf-l-flex--spacer-builder {
  @each $prop, $value in $pf-flex-spacer-map {
    .pf-m-spacer-#{$prop} {
      --pf-l-flex--spacer: #{$value};
    }
  }

  @media screen and (max-width: $pf-global--breakpoint--mobile-only) {
    @each $prop, $value in $pf-flex-spacer-map {
      .pf-m-spacer-#{$prop}-mobile-only {
        --pf-l-flex--spacer: #{$value};
      }
    }
  }

  @media screen and (min-width: $pf-global--breakpoint--tablet) {
    @each $prop, $value in $pf-flex-spacer-map {
      .pf-m-spacer-#{$prop}-tablet-plus {
        --pf-l-flex--spacer: #{$value};
      }
    }
  }

  @media screen and (min-width: $pf-global--breakpoint--desktop) {
    @each $prop, $value in $pf-flex-spacer-map {
      .pf-m-spacer-#{$prop}-desktop-plus {
        --pf-l-flex--spacer: #{$value};
      }
    }
  }
}

@mixin pf-l-flex-justify-flex-end {
  justify-content: flex-end;
}

@mixin pf-l-flex-justify-flex-start {
  justify-content: flex-start;
}

// Justify space between
@mixin pf-l-flex-justify-space-between {
  justify-content: space-between;
}

// Column layout
@mixin pf-l-flex-column {
  flex-direction: column;
}

@mixin pf-l-flex-row {
  flex-direction: row;
}

@mixin pf-l-flex-grow {
  flex-grow: 1;
}

@mixin pf-l-flex-full-width {
  flex: 1 0 100%;
}

@mixin pf-l-flex-align-right {
  margin-left: auto;
}

@mixin pf-l-flex-nowrap {
  flex-wrap: nowrap;
}

@mixin pf-l-flex-inline-flex {
  display: inline-flex;
}

@mixin pf-l-flex-align-items-center {
  align-items: center;
}

@mixin pf-l-flex-align-self-center {
  align-self: center;
}

@mixin pf-l-flex-align-items-flex-start {
  align-items: flex-start;
}

.pf-l-flex {
  --pf-l-flex--Display: flex;
  --pf-l-flex--FlexWrap: wrap;
  --pf-l-flex--AlignItems: baseline;
  --pf-l-flex--item--MarginRight: var(--pf-l-flex--spacer-base);
  --pf-l-flex--item--MarginLeft: 0;

  // Default values: these get reset based on modifier usage
  --pf-l-flex--spacer-base: var(--pf-global--spacer--md);
  --pf-l-flex--spacer: var(--pf-l-flex--spacer-base);

  // Flex spacer values
  --pf-l-flex--spacer--none: 0;
  --pf-l-flex--spacer--xs: var(--pf-global--spacer--xs);
  --pf-l-flex--spacer--sm: var(--pf-global--spacer--sm);
  --pf-l-flex--spacer--md: var(--pf-global--spacer--md);
  --pf-l-flex--spacer--lg: var(--pf-global--spacer--lg);
  --pf-l-flex--spacer--xl: var(--pf-global--spacer--xl);
  --pf-l-flex--spacer--2xl: var(--pf-global--spacer--2xl);
  --pf-l-flex--spacer--3xl: var(--pf-global--spacer--3xl);

  display: var(--pf-l-flex--Display);
  flex-wrap: var(--pf-l-flex--FlexWrap);
  align-items: var(--pf-l-flex--AlignItems);

  > * {
    margin-left: 0;

    &:not(:last-child) {
      margin-right: var(--pf-l-flex--spacer);
    }
  }

  [class*="pf-m-justify-flex-end"] {
    > * {
      margin-right: 0;

      &:not(:last-child) {
        margin-left: var(--pf-l-flex--spacer);
      }
    }
  }

  [class*="pf-m-justify-space-between"] {
    > * {
      --pf-l-flex--spacer: 0;
    }
  }

  // reset nested flex layouts
  & & {
    > * {
      --pf-l-flex--spacer: var(--pf-l-flex--spacer-base);
    }
  }

  @include pf-l-flex--space-items-builder;
  @include pf-l-flex--spacer-builder;

  // Set base css for responsive classes
  &.pf-m-justify-flex-end {
    @include pf-l-flex-justify-flex-end;
  }

  &.pf-m-justify-space-between {
    @include pf-l-flex-justify-space-between;
  }

  &.pf-m-justify-flex-start {
    @include pf-l-flex-justify-flex-start;
  }

  &.pf-m-column {
    @include pf-l-flex-column;
  }

  &.pf-m-row {
    @include pf-l-flex-row;
  }

  .pf-m-grow {
    @include pf-l-flex-grow;
  }

  .pf-m-full-width {
    @include pf-l-flex-full-width;
  }

  &.pf-m-align-right,
  .pf-m-align-right {
    @include pf-l-flex-align-right;
  }

  &.pf-m-nowrap {
    @include pf-l-flex-nowrap;
  }

  &.pf-m-inline-flex {
    @include pf-l-flex-inline-flex;
  }

  &.pf-m-align-items-center {
    @include pf-l-flex-align-items-center;
  }

  &.pf-m-align-self-center {
    @include pf-l-flex-align-self-center;
  }

  &.pf-m-align-items-flex-start {
    @include pf-l-flex-align-items-flex-start;
  }

  // Mobile class definitions
  @media screen and (max-width: $pf-global--breakpoint--mobile-only) {
    &.pf-m-justify-flex-end-mobile-only {
      @include pf-l-flex-justify-flex-end;
    }

    &.pf-m-justify-space-between-mobile-only {
      @include pf-l-flex-justify-space-between;
    }

    &.pf-m-justify-flex-start-mobile-only {
      @include pf-l-flex-justify-flex-start;
    }

    &.pf-m-column-mobile-only {
      @include pf-l-flex-column;
    }

    &.pf-m-row-mobile-only {
      @include pf-l-flex-row;
    }

    .pf-m-grow-mobile-only {
      @include pf-l-flex-grow;
    }

    .pf-m-full-width-mobile-only {
      @include pf-l-flex-grow;
    }

    &.pf-m-nowrap-mobile-only {
      @include pf-l-flex-nowrap;
    }

    &.pf-m-inline-flex {
      @include pf-l-flex-inline-flex;
    }

    &.pf-m-align-items-center {
      @include pf-l-flex-align-items-center;
    }

    &.pf-m-align-self-center {
      @include pf-l-flex-align-self-center;
    }

    &.pf-m-align-items-flex-start {
      @include pf-l-flex-align-items-flex-start;
    }
  }

  // Tablet class definitions
  @media screen and (min-width: $pf-global--breakpoint--tablet) {
    &.pf-m-justify-flex-end-tablet-plus {
      @include pf-l-flex-justify-flex-end;
    }

    &.pf-m-justify-space-between-tablet-plus {
      @include pf-l-flex-justify-space-between;
    }

    &.pf-m-justify-flex-start-tablet-plus {
      @include pf-l-flex-justify-flex-start;
    }

    &.pf-m-column-tablet-plus {
      @include pf-l-flex-column;
    }

    &.pf-m-row-tablet-plus {
      @include pf-l-flex-row;
    }

    .pf-m-grow-tablet-plus {
      @include pf-l-flex-grow;
    }

    .pf-m-full-width-tablet-plus {
      @include pf-l-flex-grow;
    }

    &.pf-m-nowrap-tablet-plus {
      @include pf-l-flex-nowrap;
    }

    &.pf-m-inline-flex {
      @include pf-l-flex-inline-flex;
    }

    &.pf-m-align-items-center {
      @include pf-l-flex-align-items-center;
    }

    &.pf-m-align-self-center {
      @include pf-l-flex-align-self-center;
    }

    &.pf-m-align-items-flex-start {
      @include pf-l-flex-align-items-flex-start;
    }
  }

  // Desktop class definitions
  @media screen and (min-width: $pf-global--breakpoint--desktop) {
    &.pf-m-justify-flex-end-desktop-plus {
      @include pf-l-flex-justify-flex-end;
    }

    &.pf-m-justify-space-between-desktop-plus {
      @include pf-l-flex-justify-space-between;
    }

    &.pf-m-justify-flex-start-desktop-plus {
      @include pf-l-flex-justify-flex-start;
    }

    &.pf-m-column-desktop-plus {
      @include pf-l-flex-column;
    }

    &.pf-m-row-desktop-plus {
      @include pf-l-flex-row;
    }

    .pf-m-grow-desktop-plus {
      @include pf-l-flex-grow;
    }

    .pf-m-full-width-desktop-plus {
      @include pf-l-flex-grow;
    }

    &.pf-m-nowrap-desktop-plus {
      @include pf-l-flex-nowrap;
    }

    &.pf-m-inline-flex {
      @include pf-l-flex-inline-flex;
    }

    &.pf-m-align-items-center {
      @include pf-l-flex-align-items-center;
    }

    &.pf-m-align-self-center {
      @include pf-l-flex-align-self-center;
    }

    &.pf-m-align-items-flex-start {
      @include pf-l-flex-align-items-flex-start;
    }
  }
}
