{{#> options-menu-menu}}
  <li>
    <button class="pf-c-options-menu__menu-item">
      Option 1
    </button>
  </li>
  <li>
    <button class="pf-c-options-menu__menu-item pf-m-selected">
      Option 2
      <i class="fas fa-check pf-c-options-menu__menu-item-icon" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button class="pf-c-options-menu__menu-item">
      Option 3
    </button>
  </li>
{{/options-menu-menu}}
