{{#> options-menu-menu}}
  <li>
    <button class="pf-c-options-menu__menu-item">
      Name
    </button>
  </li>
  <li>
    <button class="pf-c-options-menu__menu-item pf-m-selected" aria-selected="true">
      Date
      <i class="fas fa-check pf-c-options-menu__menu-item-icon" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button class="pf-c-options-menu__menu-item">
      Size
    </button>
  </li>
  <li class="pf-c-options-menu__separator" role="separator"></li>
  <li>
    <button class="pf-c-options-menu__menu-item pf-m-selected" aria-selected="true">
      Ascending
      <i class="fas fa-check pf-c-options-menu__menu-item-icon" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button class="pf-c-options-menu__menu-item">
      Descending
    </button>
  </li>
{{/options-menu-menu}}
