<p class="pf-c-options-menu__menu-item-description{{#if options-menu-menu-item-description--modifier}} {{options-menu-menu-item-description--modifier}}{{/if}}"
  {{#if options-menu-menu-item-description--attribute}}
    {{{options-menu-menu-item-description--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</p>
