<ul{{#if options-menu-list--modifier}} class="{{options-menu-list--modifier}}"{{/if}}
  {{#if options-menu-list--role}} role="{{options-menu-list--role}}"{{/if}}
  {{#if options-menu-list--attribute}}
    {{{options-menu-list--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</section>
