<{{#if options-menu-separator--IsHr}}hr{{else}}li{{/if}} class="pf-c-options-menu__separator{{#if options-menu-separator--modifier}} {{options-menu-separator--modifier}}{{/if}}"
  {{#if options-menu-separator--attribute}}
	  {{{options-menu-separator--attribute}}}
  {{/if}}
  {{#unless options-menu-separator--IsHr}}
    role="separator"
  {{/unless}}>
{{#unless options-menu-separator--IsHr}}
</li>
{{/unless}}
