{{#> options-menu-menu}}
  {{#> options-menu-menu-item options-menu-menu-item--modifier="pf-m-description"}}
    Menu item default
    {{#> options-menu-menu-item-description}}
      This is a description
    {{/options-menu-menu-item-description}}
  {{/options-menu-menu-item}}
  <li>
  <button class="pf-c-options-menu__menu-item pf-m-description" type="button">
    Menu item selected
    {{> options-menu-menu-item-icon}}
    {{#> options-menu-menu-item-description}}
      This is a description
    {{/options-menu-menu-item-description}}
  </button>
</li>
{{/options-menu-menu}}
