<h1 class="{{pfv}}options-menu__group-title{{#if options-menu-group-title--modifier}} {{options-menu-group-title--modifier}}{{/if}}"
  {{#if options-menu-group-title--attribute}}
    {{{options-menu-group-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</h1>
