<li class="pf-c-options-menu__separator{{#if options-menu-separator--modifier}} {{options-menu-separator--modifier}}{{/if}}"
  role="separator"
  {{#if options-menu-separator--attribute}}
    {{{options-menu-separator--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
