<!--
Each template tag represents an individual state that the component can
be in. If you would like to show multiple states in the workarea, you should
have multiple template tags. To communicate information about the state that
the templat represents, use the data-title and data-description attributes.
These attributes will be rendered in the workspace.
-->
<template data-title="pf-c-alert" data-description="">
  <div class="pf-c-alert pf-is-primary" role="alert">
    This is a primary alert
  </div>
  <div class="pf-c-alert pf-is-secondary" role="alert">
    This is a secondary alert
  </div>
  <div class="pf-c-alert pf-is-success" role="alert">
    This is a success alert
  </div>
  <div class="pf-c-alert pf-is-danger" role="alert">
    This is a danger alert
  </div>
  <div class="pf-c-alert pf-is-warning" role="alert">
    This is a warning alert
  </div>
  <div class="pf-c-alert pf-is-info" role="alert">
    This is a info alert
  </div>
  <div class="pf-c-alert pf-is-light" role="alert">
    This is a light alert
  </div>
  <div class="pf-c-alert pf-is-dark" role="alert">
    This is a dark alert
  </div>
</template>
