$pf-u-width-limiter--breakpoint-map: build-breakpoint-map();

// stylelint-disable
.pf-u-width-limiter {
  --pf-c-width-limiter--MaxWidth: auto;
  --pf-c-width-limiter--MinWidth: 0;

  width: 100% !important;

  @include pf-build-css-variable-stack(
    "min-width",
    "--pf-u-width-limiter--MinWidth",
    $pf-u-width-limiter--breakpoint-map,
    $important: true
  );

  @include pf-build-css-variable-stack(
    "max-width",
    "--pf-u-width-limiter--MaxWidth",
    $pf-u-width-limiter--breakpoint-map,
    $important: true
  );
}
