<div class="pf-u-width-limiter{{#if width-limiter--modifier}} {{width-limiter--modifier}}{{/if}}"{{#if width-limiter--attribute}} {{{width-limiter--attribute}}}{{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    Width limited content
  {{/if}}
</div>
