{{#> page-main}}
  {{#> page-template-breadcrumb}}{{/page-template-breadcrumb}}
  {{#> page-main-section page-main-section--modifier="pf-m-light"}}
    {{#> content}}
      <h1>{{{primary-detail-template--title}}}</h1>
      <p>{{{primary-detail-template--description}}}</p>
    {{/content}}
  {{/page-main-section}}
  {{> @partial-block}}
{{/page-main}}