// @debug $backdrop; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$backdrop} {
  --#{$backdrop}--Position: fixed;
  --#{$backdrop}--ZIndex: var(--#{$pf-global}--ZIndex--lg);
  --#{$backdrop}--BackgroundColor: var(--#{$pf-global}--BackgroundColor--dark-transparent-100);

  position: var(--#{$backdrop}--Position);
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: var(--#{$backdrop}--ZIndex);
  width: 100%;
  height: 100%;
  background-color: var(--#{$backdrop}--BackgroundColor);
}

.#{$backdrop}__open {
  overflow: hidden;
}
