// @debug $backdrop; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root {
  --#{$backdrop}--Position: fixed;
  --#{$backdrop}--ZIndex: var(--pf-t--global--Zindex--lg);
  --#{$backdrop}--BackgroundColor: var(--pf-t--global--background--color--backdrop--default);
}

.#{$backdrop} {
  position: var(--#{$backdrop}--Position);
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: var(--#{$backdrop}--ZIndex);
  width: 100%;
  height: 100%;
  background-color: var(--#{$backdrop}--BackgroundColor);
}

.#{$backdrop}__open {
  overflow: hidden;
}
