<div class="pf-d-alert-upgrade-examples{{#if alert-upgrade-examples--modifier}} {{alert-upgrade-examples--modifier}}"
  {{#if alert-upgrade-examples__id}}
    id="{{alert-upgrade-examples__id}}"
  {{/if}}
  {{#if alert-upgrade-examples--attribute}}
    {{{alert-upgrade-examples--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>