@import "../../patternfly-utilities";

// Component variables follow this formula:
// --pf-d-alert-upgrade-examples__element--modifier--state--PropertyCamelCase

// The value of component scoped variables is always defined by a global variable:
.pf-d-alert-upgrade-examples {
  // Example block variable
  --pf-d-alert-upgrade-examples--Color: var(--pf-global--Color--dark);

  // Example element variable
  --pf-d-alert-upgrade-examples__title--FontSize: var(--pf-global--FontSize--2xl);

  // Example modifier variable
  --pf-d-alert-upgrade-examples--m-danger--BackgroundColor: var(--pf-global--danger-color);

  color: var(--pf-d-alert-upgrade-examples--Color);

  // // Element
  // &__title {
  //   font-size: var(--pf-d-alert-upgrade-examples__title--FontSize);
  // }

  // Modifier
  &.pf-m-danger {
    background-color: var(--pf-d-alert-upgrade-examples--m-danger--BackgroundColor);
  }
}
