{{#> breadcrumb}}
  {{#> breadcrumb-list}}
    {{#> breadcrumb-item}}
      {{#> breadcrumb-link}}
        Section Home
      {{/breadcrumb-link}}
    {{/breadcrumb-item}}
    {{#> breadcrumb-item}}
      {{#> breadcrumb-link}}
        Section Title
      {{/breadcrumb-link}}
    {{/breadcrumb-item}}
    {{#> breadcrumb-item}}
      {{#> breadcrumb-link}}
        Section Title
      {{/breadcrumb-link}}
    {{/breadcrumb-item}}
    {{#> breadcrumb-item}}
      {{#> breadcrumb-link}}
        Section Title
      {{/breadcrumb-link}}
    {{/breadcrumb-item}}
    {{#> breadcrumb-item}}
      {{#> breadcrumb-link}}
        Section Title
      {{/breadcrumb-link}}
    {{/breadcrumb-item}}
    {{#> breadcrumb-item breadcrumb-item--current="true"
      breadcrumb-item--modifier="pf-m-current pf-m-title"}}
      <h1>Main Title</h1>
    {{/breadcrumb-item}}
  {{/breadcrumb-list}}
{{/breadcrumb}}
