<!--
  Each template tag represents an individual state that the component can
  be in. If you would like to show multiple states in the workarea, you should
  have multiple template tags. To communicate information about the state that
  the templat represents, use the data-title and data-description attributes.
  These attributes will be rendered in the workspace.
-->
<template data-title="pf-c-card" data-description="">
  <div class="pf-c-card">
    <div class="pf-c-card__header">

      <div class="pf-c-card__header-section">
        <h2 class="pf-c-card__header-title">Header</h2>
      </div>

      <div class="pf-c-card__header-section">
        Actions or info
      </div>

    </div>

    <div class="pf-c-card__body">Body</div>

    <div class="pf-c-card__footer">Footer</div>

  </div>
</template>
