{{#> drawer}}
  {{#> drawer-main}}
    {{#> drawer-content}}
      {{#> page-main}}
        {{#> page-template-breadcrumb}}
        {{/page-template-breadcrumb}}
        <a id="main-content-{{page--id}}"></a>
        {{#> page-template-title}}
        {{/page-template-title}}
        {{#> page-template-gallery}}
        {{/page-template-gallery}}
      {{/page-main}}
    {{/drawer-content}}
    {{#> drawer-panel drawer-panel--modifier="pf-m-width-33"}}
      {{#> l-flex}}
        {{#> l-flex-item l-flex-item--modifier="pf-m-flex-1"}}
          <p>drawer panel</p>
        {{/l-flex-item}}
        {{#> l-flex-item}}
          {{> drawer-action}}
        {{/l-flex-item}}
      {{/l-flex}}
    {{/drawer-panel}}
  {{/drawer-main}}
{{/drawer}}