{{#> drawer drawer--modifier=drawer-demo-content-drawer--modifier}}
  {{#> drawer-main}}
    {{#> drawer-content}}
      {{#> page-main}}
        {{#> page-template-breadcrumb}}
        {{/page-template-breadcrumb}}
        {{#> page-template-title}}
        {{/page-template-title}}
        {{#> page-template-gallery}}
        {{/page-template-gallery}}
      {{/page-main}}
    {{/drawer-content}}
    {{#> drawer-panel drawer-panel--modifier="pf-m-width-33"}}
      {{#> drawer-body}}
        <p>drawer panel</p>
      {{/drawer-body}}
    {{/drawer-panel}}
  {{/drawer-main}}
{{/drawer}}
