@import "../../../../sass-utilities/themes/dark/all";

@mixin pf-v5-theme-dark-clipboard-copy() {
  .#{$clipboard-copy} {
    --#{$clipboard-copy}__expandable-content--BackgroundColor: var(--#{$pf-global}--BackgroundColor--400);
  }

  .#{$clipboard-copy}__group {
    > * + * {
      margin-inline-start: 0;
      // stylelint-disable-next-line
      border-inline-start: 1px solid var(--#{$pf-global}--palette--black-700) !important;
    }
  }

  .#{$clipboard-copy}__expandable-content {
    border: 0;
  }
}
