<span class="{{pfv}}menu-toggle__toggle-icon{{#if menu-toggle-toggle-icon--modifier}} {{menu-toggle-toggle-icon--modifier}}{{/if}}"
  {{#if menu-toggle-toggle-icon--attribute}}
    {{{menu-toggle-toggle-icon--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    <i class="fas fa-caret-down" aria-hidden="true"></i>
  {{/if}}
</span>
