<span class="{{pfv}}menu-toggle__icon{{#if menu-toggle-icon--modifier}} {{menu-toggle-icon--modifier}}{{/if}}"
  {{#if menu-toggle-icon--attribute}}
    {{{menu-toggle-icon--attribute}}}
  {{/if}}>
  {{#if menu-toggle--icon}}
    <svg class="pf-v5-svg" viewBox="0 0 192 512" fill="currentColor" aria-hidden="true" role="img" width="1em" height="1em"><path d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72 72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72 72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0 352c0 39.8 32.2 72 72 72s72-32.2 72-72-32.2-72-72-72-72 32.2-72 72z"></path></svg>
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
