<span class="{{pfv}}menu-toggle__icon{{#if menu-toggle-icon--modifier}} {{menu-toggle-icon--modifier}}{{/if}}"
  {{#if menu-toggle-icon--attribute}}
    {{{menu-toggle-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
