<span class="{{pfv}}menu-toggle__clear{{#if menu-toggle-clear--modifier}} {{menu-toggle-clear--modifier}}{{/if}}"
  {{#if menu-toggle-clear--attribute}}
    {{{menu-toggle-clear--attribute}}}
  {{/if}}>
  <i class="fas fa-times fa-fw" aria-hidden="true"></i>
</span>
