<span class="{{pfv}}menu-toggle__controls{{#if menu-toggle-controls--modifier}} {{menu-toggle-controls--modifier}}{{/if}}"
  {{#if menu-toggle-controls--attribute}}
    {{{menu-toggle-controls--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
