<div class="pf-c-overflow-menu{{#if overflow-menu--modifier}} {{overflow-menu--modifier}}{{/if}}{{#if overflow-menu--RevealOn}} pf-m-reveal-on-{{overflow-menu--RevealOn}}{{/if}}"
  {{#if overflow-menu--attribute}}
    {{overflow-menu--attribute}}
  {{/if}}>
  {{> @partial-block}}
</div>
