<div class="pf-c-overflow-menu{{#if overflow-menu--modifier}} {{overflow-menu--modifier}}{{/if}}{{#if overflow-menu--showOn}} pf-m-show-on-{{overflow-menu--showOn}}{{/if}}"
  {{#if overflow-menu--attribute}}
    {{overflow-menu--attribute}}
  {{/if}}>
  {{> @partial-block}}
</div>
