$pf-c-overflow-menu--breakpoint-map: build-breakpoint-map("base", "md", "lg", "xl");

.pf-c-overflow-menu {
  // Base spacer - shared value
  --pf-c-overflow-menu--spacer--base: var(--pf-global--spacer--md);

  // Spacer values
  --pf-c-overflow-menu__group--spacer: var(--pf-c-overflow-menu--spacer--base);
  --pf-c-overflow-menu__item--spacer: var(--pf-c-overflow-menu--spacer--base);
  --pf-c-overflow-menu__control--spacer: var(--pf-global--spacer--sm);

  // Display variables
  --pf-c-overflow-menu__group--Display: none;
  --pf-c-overflow-menu__item--Display: none;

  // Visibility variables
  --pf-c-overflow-menu__group--Visibility: hidden;
  --pf-c-overflow-menu__item--Visibility: hidden;

  // Button group
  --pf-c-overflow-menu__group--m-button-group--spacer: var(--pf-c-overflow-menu--spacer--base);
  --pf-c-overflow-menu__group--m-button-group--space-items: var(--pf-global--spacer--sm);

  // Icon button group
  --pf-c-overflow-menu__group--m-icon-button-group--spacer: var(--pf-c-overflow-menu--spacer--base);
  --pf-c-overflow-menu__group--m-icon-button-group--space-items: 0;

  // Controller
  --pf-c-overflow-menu__control--Display: inline-block;
  --pf-c-overflow-menu__control--Visibility: visible;

  display: inline-flex;
  align-items: center;
}

// Group
.pf-c-overflow-menu__group {
  --pf-c-overflow-menu--spacer: var(--pf-c-overflow-menu__group--spacer);

  display: var(--pf-c-overflow-menu__group--Display);
  align-items: center;
  visibility: var(--pf-c-overflow-menu__group--Visibility);

  // Button group
  &.pf-m-button-group {
    --pf-c-overflow-menu--spacer: var(--pf-c-overflow-menu__group--m-button-group--spacer);

    > * {
      --pf-c-overflow-menu--spacer: var(--pf-c-overflow-menu__group--m-button-group--space-items);
    }
  }

  // Icon button group
  &.pf-m-icon-button-group {
    --pf-c-overflow-menu--spacer: var(--pf-c-overflow-menu__group--m-icon-button-group--spacer);

    > * {
      --pf-c-overflow-menu--spacer: var(--pf-c-overflow-menu__group--m-icon-button-group--space-items);
    }
  }

  &.pf-m-persistent {
    --pf-c-overflow-menu__group--Display: flex;
    --pf-c-overflow-menu__group--Visibility: visible;
  }
}

// Item
.pf-c-overflow-menu__item {
  // reset spacer
  --pf-c-overflow-menu--spacer: var(--pf-c-overflow-menu__item--spacer);

  display: var(--pf-c-overflow-menu__item--Display);
  visibility: var(--pf-c-overflow-menu__item--Visibility);

  &.pf-m-persistent {
    --pf-c-overflow-menu__item--Display: inline-block;
    --pf-c-overflow-menu__item--Visibility: visible;
  }
}

.pf-c-overflow-menu__group,
.pf-c-overflow-menu__item {
  margin-right: var(--pf-c-overflow-menu--spacer);

  &:last-child {
    --pf-c-overflow-menu--spacer: 0;
  }
}

// Content
.pf-c-overflow-menu__content {
  display: flex;
  align-items: center;
}

// Control
.pf-c-overflow-menu__control {
  --pf-c-overflow-menu--spacer: var(--pf-c-overflow-menu__control--spacer);

  display: var(--pf-c-overflow-menu__control--Display);
  visibility: var(--pf-c-overflow-menu__control--Visibility);
}

/* stylelint-disable max-nesting-depth, no-duplicate-selectors */
.pf-c-overflow-menu {
  @each $breakpoint, $breakpoint-value in $pf-c-overflow-menu--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-apply-breakpoint($breakpoint, $pf-c-overflow-menu--breakpoint-map) {
      &.pf-m-reveal#{$breakpoint-name} {
        --pf-c-overflow-menu__group--Display: flex;
        --pf-c-overflow-menu__group--Visibility: visible;
        --pf-c-overflow-menu__item--Display: inline-block;
        --pf-c-overflow-menu__item--Visibility: visible;

        .pf-c-overflow-menu__control:not(.pf-m-additional-options) {
          --pf-c-overflow-menu__control--Display: none;
          --pf-c-overflow-menu__control--Visibility: hidden;
        }

        .pf-c-overflow-menu__shared-item {
          display: none;
          visibility: hidden;
        }

        .pf-c-overflow-menu__content + .pf-c-overflow-menu__control {
          --pf-c-overflow-menu--spacer: var(--pf-c-overflow-menu__control--spacer);

          margin-right: var(--pf-c-overflow-menu--spacer);
          margin-left: var(--pf-c-overflow-menu--spacer);

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
/* stylelint-enable */
