<div class="{{pfv}}overflow-menu{{#if overflow-menu--modifier}} {{overflow-menu--modifier}}{{/if}}"
  {{#if overflow-menu--id}}
    id="{{overflow-menu--id}}"
  {{/if}}
  {{#if overflow-menu--attribute}}
    {{{overflow-menu--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
