<div class="{{pfv}}overflow-menu__control{{#if overflow-menu-control--modifier}} {{overflow-menu-control--modifier}}{{/if}}"
  {{#if overflow-menu-control--attribute}}
    {{{overflow-menu-control--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
