<h2 class="example-title">Item spacing example</h2>
{{#> overflow-menu overflow-menu--id="overflow-menu-group-types-icon-group-example" overflow-menu--modifier="pf-m-reveal-on-md" overflow-menu-button--aria-label="options"}}
  {{#> overflow-menu-content}}

    {{#> overflow-menu-item overflow-menu-item--modifier="pf-m-spacer-none"}}
      <div class="example-text example-border">Item 1</div>
    {{/overflow-menu-item}}

    {{#> overflow-menu-item overflow-menu-item--modifier="pf-m-spacer-sm"}}
      <div class="example-text example-border">Item 2</div>
    {{/overflow-menu-item}}

    {{#> overflow-menu-item overflow-menu-item--modifier="pf-m-spacer-md"}}
      <div class="example-text example-border">Item 3</div>
    {{/overflow-menu-item}}

    {{#> overflow-menu-item overflow-menu-item--modifier="pf-m-spacer-lg"}}
      <div class="example-text example-border">Item 4</div>
    {{/overflow-menu-item}}

  {{/overflow-menu-content}}
{{/overflow-menu}}

<h2 class="example-title">Responsive item spacing example</h2>
{{#> overflow-menu overflow-menu--id="overflow-menu-responsive-spacer-example" overflow-menu--modifier="pf-m-reveal-on-md" overflow-menu-button--aria-label="options"}}
  {{#> overflow-menu-content}}

    {{#> overflow-menu-item overflow-menu-item--modifier="pf-m-spacer-none pf-m-spacer-md-on-lg pf-m-spacer-lg-on-xl"}}
      <div class="example-text example-border">Item 1</div>
    {{/overflow-menu-item}}

    {{#> overflow-menu-item}}
      <div class="example-text example-border">Item 2</div>
    {{/overflow-menu-item}}
  {{/overflow-menu-content}}
{{/overflow-menu}}
