<button class="pf-c-chip-group__action{{#if chip-group-action--modifier}} {{chip-group-action--modifier}}{{/if}}"
  {{#if chip-group-action--attribute}}
    {{{chip-group-action--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</button>
