<li {{#if chip-group-list-item--modifier}}class="{{chip-group-list-item--modifier}}"{{/if}}
  {{#if chip-group-label--attribute}}
    {{{chip-group-label--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
