@import "../../patternfly-imports";

.pf-c-chip-group {
  @extend %pf-t-light; // force the container follow the light theme

  --pf-c-chip-group--PaddingTop: calc(#{var(--pf-global--spacer--xs)} / 2);
  --pf-c-chip-group--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-chip-group--PaddingBottom: calc(#{var(--pf-global--spacer--xs)} / 2);
  --pf-c-chip-group--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-chip-group--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-chip-group--m-toolbar--BackgroundColor: var(--pf-global--BackgroundColor--300);

  // Label in group
  --pf-c-chip-group__label--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-chip-group__label--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-chip-group__label--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-chip-group__label--Maxwidth: #{pf-size-prem(120px)};

  // Chip
  --pf-c-chip--MarginTop: calc(#{var(--pf-global--spacer--xs)} / 2);
  --pf-c-chip--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-chip--MarginBottom: calc(#{var(--pf-global--spacer--xs)} / 2);

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;


  &.pf-m-toolbar {
    padding: var(--pf-c-chip-group--PaddingTop) var(--pf-c-chip-group--PaddingRight) var(--pf-c-chip-group--PaddingBottom) var(--pf-c-chip-group--PaddingLeft);
    background-color: var(--pf-c-chip-group--m-toolbar--BackgroundColor);
    border-radius: var(--pf-c-chip-group--BorderRadius);

    .pf-c-chip-group__label,
    .pf-c-chip {
      margin-top: var(--pf-c-chip--MarginTop);
      margin-bottom: var(--pf-c-chip--MarginBottom);
    }
  }

  .pf-c-chip-group__label {
    display: inline-flex;
    max-width: var(--pf-c-chip-group__label--Maxwidth);
    padding-right: var(--pf-c-chip-group__label--PaddingRight);
    padding-left: var(--pf-c-chip-group__label--PaddingLeft);
    overflow: hidden;
    font-size: var(--pf-c-chip-group__label--FontSize);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pf-c-chip {
    &:not(:last-child):not(:only-child) {
      margin-right: var(--pf-c-chip--MarginRight);
    }
  }
}
