.pf-c-chip-group {
  @include pf-t-light; // force the container follow the light theme

  --pf-c-chip-group--MarginRight: var(--pf-global--spacer--sm);
  --pf-c-chip-group--MarginBottom: 0;

  // Nested chip group
  --pf-c-chip-group--c-chip-group--MarginTop: var(--pf-global--spacer--xs);
  --pf-c-chip-group--c-chip-group--MarginRight: 0;
  --pf-c-chip-group--c-chip-group--MarginBottom: var(--pf-global--spacer--xs);

  // Toolbar
  --pf-c-chip-group--m-toolbar-PaddingTop: 0;
  --pf-c-chip-group--m-toolbar-PaddingBottom: 0;
  --pf-c-chip-group--m-toolbar-PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-chip-group--m-toolbar-BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-chip-group--m-toolbar--BackgroundColor: var(--pf-global--BackgroundColor--300);

  // add top and bottom margin of chip as these values contribute to vertical padding; horizontal padding should match
  --pf-c-chip-group--m-toolbar-PaddingRight: calc(var(--pf-global--spacer--xs) + var(--pf-c-chip-group--c-chip--MarginTop) + var(--pf-c-chip-group--c-chip--MarginBottom));

  // Li
  --pf-c-chip-group__li--m-toolbar--MarginTop: calc(var(--pf-global--spacer--xs) / 2);
  --pf-c-chip-group__li--m-toolbar--MarginRight: var(--pf-global--spacer--sm);
  --pf-c-chip-group__li--m-toolbar--MarginBottom: calc(var(--pf-global--spacer--xs) / 2);

  // Label in group
  --pf-c-chip-group__label--PaddingTop: 0;
  --pf-c-chip-group__label--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-chip-group__label--PaddingBottom: 0;
  --pf-c-chip-group__label--PaddingLeft: 0;
  --pf-c-chip-group__label--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-chip-group__label--Maxwidth: #{pf-size-prem(120px)};

  // Chip
  --pf-c-chip-group--c-chip--MarginTop: #{pf-size-prem(1px)};
  --pf-c-chip-group--c-chip--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-chip-group--c-chip--MarginBottom: #{pf-size-prem(1px)};

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--pf-c-chip-group--MarginTop);
  margin-right: var(--pf-c-chip-group--MarginRight);
  margin-bottom: var(--pf-c-chip-group--MarginBottom);

  // Remove this after React has updated structure
  &:last-child {
    --pf-c-chip-group--MarginRight: 0;
  }

  &.pf-m-toolbar {
    > li:not(.pf-m-overflow) {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      padding: var(--pf-c-chip-group--m-toolbar-PaddingTop) var(--pf-c-chip-group--m-toolbar-PaddingRight) var(--pf-c-chip-group--m-toolbar-PaddingBottom) var(--pf-c-chip-group--m-toolbar-PaddingLeft);
      margin-top: var(--pf-c-chip-group__li--m-toolbar--MarginTop);
      margin-right: var(--pf-c-chip-group__li--m-toolbar--MarginRight);
      margin-bottom: var(--pf-c-chip-group__li--m-toolbar--MarginBottom);
      background-color: var(--pf-c-chip-group--m-toolbar--BackgroundColor);
      border-radius: var(--pf-c-chip-group--m-toolbar-BorderRadius);
    }

    > .pf-c-chip.pf-m-overflow {
      margin: 0;
    }
  }

  .pf-c-chip-group {
    --pf-c-chip-group--MarginTop: var(--pf-c-chip-group--c-chip-group--MarginTop);
    --pf-c-chip-group--MarginRight: var(--pf-c-chip-group--c-chip-group--MarginRight);
    --pf-c-chip-group--MarginBottom: var(--pf-c-chip-group--c-chip-group--MarginBottom);
  }

  > .pf-c-chip {
    margin-top: var(--pf-c-chip-group--c-chip--MarginTop);
    margin-right: var(--pf-c-chip-group--c-chip--MarginRight);
    margin-bottom: var(--pf-c-chip-group--c-chip--MarginBottom);

    &:last-child {
      --pf-c-chip-group--c-chip--MarginRight: 0;
    }
  }
}

.pf-c-chip-group__label {
  @include pf-text-overflow;

  max-width: var(--pf-c-chip-group__label--Maxwidth);
  padding: var(--pf-c-chip-group__label--PaddingTop) var(--pf-c-chip-group__label--PaddingRight) var(--pf-c-chip-group__label--PaddingBottom) var(--pf-c-chip-group__label--PaddingLeft);
  font-size: var(--pf-c-chip-group__label--FontSize);
}

// .pf-c-chip-group {
//   @include pf-t-light; // force the container follow the light theme
//   --pf-c-chip-group--MarginTop: 0;
//   --pf-c-chip-group--MarginRight: var(--pf-global--spacer--xs);
//   --pf-c-chip-group--MarginBottom: 0;
//   --pf-c-chip-group--c-chip-group--MarginTop: calc(var(--pf-c-chip-group--c-chip--MarginTop) * -1);
//   --pf-c-chip-group--c-chip-group--MarginBottom: calc(var(--pf-c-chip-group--c-chip--MarginBottom) * -1);
//   --pf-c-chip-group--m-toolbar-PaddingTop: calc(var(--pf-c-chip-group--c-chip--MarginBottom) / 2);
//   --pf-c-chip-group--m-toolbar-PaddingRight: var(--pf-global--spacer--xs);
//   --pf-c-chip-group--m-toolbar-PaddingBottom: calc(var(--pf-c-chip-group--c-chip--MarginBottom) / 2);
//   --pf-c-chip-group--m-toolbar-PaddingLeft: var(--pf-global--spacer--sm);
//   --pf-c-chip-group--m-toolbar-BorderRadius: var(--pf-global--BorderRadius--sm);
//   --pf-c-chip-group--m-toolbar--BackgroundColor: var(--pf-global--BackgroundColor--300);
//   --pf-c-chip-group__li--m-toolbar--MarginTop: calc(var(--pf-global--spacer--xs) / 2);
//   --pf-c-chip-group__li--m-toolbar--MarginRight: var(--pf-global--spacer--sm);
//   --pf-c-chip-group__li--m-toolbar--MarginBottom: calc(var(--pf-global--spacer--xs) / 2);

//   // Label in group
//   --pf-c-chip-group__label--PaddingTop: var(--pf-global--spacer--xs);
//   --pf-c-chip-group__label--PaddingRight: var(--pf-global--spacer--sm);
//   --pf-c-chip-group__label--PaddingBottom: var(--pf-global--spacer--xs);
//   --pf-c-chip-group__label--PaddingLeft: 0;
//   --pf-c-chip-group__label--FontSize: var(--pf-global--FontSize--sm);
//   --pf-c-chip-group__label--Maxwidth: #{pf-size-prem(120px)};

//   // Chip
//   --pf-c-chip-group--c-chip--MarginTop: calc(var(--pf-global--spacer--xs) / 2);
//   --pf-c-chip-group--c-chip--MarginRight: var(--pf-global--spacer--xs);
//   --pf-c-chip-group--c-chip--MarginBottom: calc(var(--pf-global--spacer--xs) / 2);

//   display: inline-flex;
//   flex-wrap: wrap;
//   align-items: center;
//   margin-top: var(--pf-c-chip-group--MarginTop);
//   margin-right: var(--pf-c-chip-group--MarginRight);
//   margin-bottom: var(--pf-c-chip-group--MarginBottom);

//   &:last-child {
//     --pf-c-chip-group--MarginRight: 0;
//   }

//   &.pf-m-toolbar {
//     > li:not(.pf-m-overflow) {
//       display: inline-flex;
//       flex-wrap: wrap;
//       align-items: center;
//       padding: var(--pf-c-chip-group--m-toolbar-PaddingTop) var(--pf-c-chip-group--m-toolbar-PaddingRight) var(--pf-c-chip-group--m-toolbar-PaddingBottom) var(--pf-c-chip-group--m-toolbar-PaddingLeft);
//       margin-top: var(--pf-c-chip-group__li--m-toolbar--MarginTop);
//       margin-right: var(--pf-c-chip-group__li--m-toolbar--MarginRight);
//       margin-bottom: var(--pf-c-chip-group__li--m-toolbar--MarginBottom);
//       background-color: var(--pf-c-chip-group--m-toolbar--BackgroundColor);
//       border-radius: var(--pf-c-chip-group--m-toolbar-BorderRadius);
//     }

//     > .pf-c-chip.pf-m-overflow {
//       margin: 0;
//     }
//   }

//   .pf-c-chip-group {
//     --pf-c-chip-group--MarginTop: var(--pf-c-chip-group--c-chip-group--MarginTop);
//     --pf-c-chip-group--MarginBottom: var(--pf-c-chip-group--c-chip-group--MarginBottom);

//     &:last-child {
//       --pf-c-chip-group--MarginRight: 0;
//     }
//   }

//   .pf-c-chip-group__label {
//     @include pf-text-overflow;

//     max-width: var(--pf-c-chip-group__label--Maxwidth);
//     padding: var(--pf-c-chip-group__label--PaddingTop) var(--pf-c-chip-group__label--PaddingRight) var(--pf-c-chip-group__label--PaddingBottom) var(--pf-c-chip-group__label--PaddingLeft);
//     font-size: var(--pf-c-chip-group__label--FontSize);
//   }

//   > .pf-c-chip {
//     margin-top: var(--pf-c-chip-group--c-chip--MarginTop);
//     margin-right: var(--pf-c-chip-group--c-chip--MarginRight);
//     margin-bottom: var(--pf-c-chip-group--c-chip--MarginBottom);

//     &:last-child {
//       --pf-c-chip-group--c-chip--MarginRight: 0;
//     }
//   }
// }
