.pf-c-chip-group {
  @include pf-t-light; // force the container follow the light theme

  --pf-c-chip-group--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-chip-group--MarginBottom: calc(var(--pf-c-chip-group--c-chip--MarginBottom) * -1);
  --pf-c-chip-group--m-category-PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-chip-group--m-category-PaddingRight: var(--pf-global--spacer--xs);
  --pf-c-chip-group--m-category-PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-chip-group--m-category-PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-chip-group--m-category-BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-chip-group--m-category--BackgroundColor: var(--pf-global--BackgroundColor--200);
  --pf-c-chip-group__li--m-category--MarginRight: var(--pf-global--spacer--sm);

  // Label in group
  --pf-c-chip-group__label--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-chip-group__label--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-chip-group__label--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-chip-group__label--PaddingLeft: 0;
  --pf-c-chip-group__label--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-chip-group__label--Maxwidth: #{pf-size-prem(160px)};

  // Chip group overflow
  --pf-c-chip-group__overflow--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-chip-group__overflow--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-chip-group__overflow--PaddingRight: var(--pf-global--spacer--xs);
  --pf-c-chip-group__overflow--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-chip-group__overflow--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-chip-group__overflow--MarginTop: calc(var(--pf-global--spacer--sm) * -1);
  --pf-c-chip-group__overflow--MarginRight: calc(var(--pf-global--spacer--sm) * -1);
  --pf-c-chip-group__overflow--MarginBottom: calc(var(--pf-global--spacer--sm) * -1);

  // Chip
  --pf-c-chip-group--c-chip--MarginRight: var(--pf-global--spacer--xs);
  --pf-c-chip-group--c-chip--MarginBottom: var(--pf-global--spacer--xs);

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: var(--pf-c-chip-group--MarginRight);
  margin-bottom: var(--pf-c-chip-group--MarginBottom);

  &.pf-m-category {
    padding: var(--pf-c-chip-group--m-category-PaddingTop) var(--pf-c-chip-group--m-category-PaddingRight) var(--pf-c-chip-group--m-category-PaddingBottom) var(--pf-c-chip-group--m-category-PaddingLeft);
    margin-right: var(--pf-c-chip-group__li--m-category--MarginRight);
    background-color: var(--pf-c-chip-group--m-category--BackgroundColor);
    border-radius: var(--pf-c-chip-group--m-category-BorderRadius);

    // > .pf-c-chip.pf-m-overflow {
    //   margin: 0;
    // }
  }

  .pf-c-chip-group__label {
    @include pf-text-overflow;

    max-width: var(--pf-c-chip-group__label--Maxwidth);
    padding: var(--pf-c-chip-group__label--PaddingTop) var(--pf-c-chip-group__label--PaddingRight) var(--pf-c-chip-group__label--PaddingBottom) var(--pf-c-chip-group__label--PaddingLeft);
    font-size: var(--pf-c-chip-group__label--FontSize);
  }

  .pf-c-chip-group__overflow {
    padding: var(--pf-c-chip-group__overflow--PaddingTop) var(--pf-c-chip-group__overflow--PaddingRight) var(--pf-c-chip-group__overflow--PaddingBottom) var(--pf-c-chip-group__overflow--PaddingLeft);
    margin-top: var(--pf-c-chip-group__overflow--MarginTop);
    margin-right: var(--pf-c-chip-group__overflow--MarginRight);
    margin-bottom: var(--pf-c-chip-group__overflow--MarginBottom);
    background-color: var(--pf-c-chip-group__overflow--BackgroundColor);
  }

  > .pf-c-chip {
    margin-right: var(--pf-c-chip-group--c-chip--MarginRight);
    margin-bottom: var(--pf-c-chip-group--c-chip--MarginBottom);

    &:last-child {
      --pf-c-chip-group--c-chip--MarginRight: 0;
    }
  }
}
