<li class="pf-c-chip-group__overflow{{#if chip-group-overflow--modifier}} {{chip-group-overflow--modifier}}{{/if}}"
  {{#if chip-group-overflow--attribute}}
    {{{chip-group-overflow--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
