.#{$split} {
  --#{$stack}--m-gutter--Gap: var(--#{$pf-global}--gutter);

  display: flex;
  padding: 0;
  margin: 0;

  &.pf-m-wrap {
    flex-wrap: wrap; // make default in a breaking change release
  }
}

.#{$split}__item.pf-m-fill {
  flex-grow: 1;
}

.#{$split}.pf-m-gutter {
  gap: var(--#{$stack}--m-gutter--Gap);
}
