.pf-l-split {
  --pf-l-split--m-gutter--Gap: var(--pf-global--gutter);

  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  &.pf-m-gutter {
    gap: var(--pf-l-split--m-gutter--Gap);
  }

  > .pf-m-fill {
    flex-grow: 1;
  }
}
