@import "../../patternfly-utilities";

.pf-l-split {
  display: flex;
  padding: 0;
  margin: 0;

  > :nth-child(2),
  > .pf-l-split__main {
    flex: 1;
  }
  > .pf-l-split__secondary,
  > .pf-l-split__secondary:nth-child(2) {
    flex: 0 1 auto;
  }
}
