@import "../../patternfly-utilities";
:root {
  --pf-l-split--has-gutter--MarginRight: var(--pf-global--gutter);
}

.pf-l-split {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;

  &.pf-has-gutter > *:not(:last-child) {
    margin-right: var(--pf-l-split--has-gutter--MarginRight);
  }

  &__item {
    flex: 1 1 auto;
  }

  &__item:nth-child(2),
  &__item.pf-is-primary {
    flex: 1 1 100%;
  }

  &__item.pf-is-secondary {
    flex: 1 1 auto;
  }
}
