$pf-c-data-toolbar--breakpoint-map: build-breakpoint-map("base", "md", "lg", "xl", "2xl");
$pf-c-data-toolbar--spacer-map: build-spacer-map("none", "sm", "md", "lg");

// Data toolbar
.pf-c-data-toolbar {
  --pf-c-data-toolbar--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-data-toolbar--GridGap: var(--pf-global--spacer--md);

  // Expandable content
  --pf-c-data-toolbar__expandable-content--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-data-toolbar__expandable-content--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-data-toolbar__expandable-content--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-data-toolbar__expandable-content--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-data-toolbar__expandable-content--lg--PaddingTop: 0;
  --pf-c-data-toolbar__expandable-content--lg--PaddingRight: 0;
  --pf-c-data-toolbar__expandable-content--lg--PaddingBottom: 0;
  --pf-c-data-toolbar__expandable-content--lg--PaddingLeft: 0;
  --pf-c-data-toolbar__expandable-content--ZIndex: var(--pf-global--ZIndex--xs);
  --pf-c-data-toolbar__expandable-content--BoxShadow: var(--pf-global--BoxShadow--md-bottom);

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    --pf-c-data-toolbar__expandable-content--PaddingTop: var(--pf-c-data-toolbar__expandable-content--lg--PaddingTop);
    --pf-c-data-toolbar__expandable-content--PaddingRight: var(--pf-c-data-toolbar__expandable-content--lg--PaddingRight);
    --pf-c-data-toolbar__expandable-content--PaddingBottom: var(--pf-c-data-toolbar__expandable-content--lg--PaddingBottom);
    --pf-c-data-toolbar__expandable-content--PaddingLeft: var(--pf-c-data-toolbar__expandable-content--lg--PaddingLeft);
  }

  // Expanded
  --pf-c-data-toolbar__expandable-content--m-expanded--GridRowGap: var(--pf-global--gutter);

  // Base spacer - shared value
  --pf-c-data-toolbar--spacer--base: var(--pf-global--spacer--md);

  // Spacer values
  --pf-c-data-toolbar__item--spacer: var(--pf-c-data-toolbar--spacer--base);
  --pf-c-data-toolbar__group--spacer: var(--pf-c-data-toolbar--spacer--base);

  // Toggle group
  --pf-c-data-toolbar__group--m-toggle-group--spacer: var(--pf-global--spacer--sm);
  --pf-c-data-toolbar__group--m-toggle-group--m-reveal--spacer: var(--pf-c-data-toolbar__group--spacer);
  --pf-c-data-toolbar__toggle--c-badge--MarginLeft: var(--pf-global--spacer--sm);

  // Icon button group
  --pf-c-data-toolbar__group--m-icon-button-group--spacer: var(--pf-c-data-toolbar__group--spacer);
  --pf-c-data-toolbar__group--m-icon-button-group--space-items: 0;

  // Button group
  --pf-c-data-toolbar__group--m-button-group--spacer: var(--pf-c-data-toolbar__group--spacer);
  --pf-c-data-toolbar__group--m-button-group--space-items: var(--pf-global--spacer--sm);

  // Filter group
  --pf-c-data-toolbar__group--m-filter-group--spacer: var(--pf-c-data-toolbar__group--spacer);
  --pf-c-data-toolbar__group--m-filter-group--space-items: 0;

  // Separator
  --pf-c-data-toolbar__item--m-separator--spacer: var(--pf-c-data-toolbar__item--spacer);
  --pf-c-data-toolbar__item--m-separator--BackgroundColor: var(--pf-global--BorderColor--100);
  --pf-c-data-toolbar__item--m-separator--Width: var(--pf-global--BorderWidth--md);
  --pf-c-data-toolbar__item--m-separator--Height: var(--pf-global--FontSize--lg);

  // Overflow menu item
  --pf-c-data-toolbar__item--m-overflow-menu--spacer: var(--pf-c-data-toolbar__item--spacer);

  // Bulk select
  --pf-c-data-toolbar__item--m-bulk-select--spacer: var(--pf-global--spacer--lg);

  // Search filter
  --pf-c-data-toolbar__item--m-search-filter--spacer: var(--pf-global--spacer--sm);

  // Chip group
  --pf-c-data-toolbar__item--m-chip-group--spacer: var(--pf-global--spacer--sm);

  // Label
  --pf-c-data-toolbar__item--m-label--spacer: var(--pf-c-data-toolbar__item--spacer);
  --pf-c-data-toolbar__item--m-label--FontWeight: var(--pf-global--FontWeight--bold);

  position: relative;
  grid-gap: var(--pf-c-data-toolbar--GridGap);
  display: grid;
  background-color: var(--pf-c-data-toolbar--BackgroundColor);
}

// Group
.pf-c-data-toolbar__group {
  --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--spacer);

  display: flex;
  align-items: center;
  margin-right: var(--pf-c-data-toolbar--spacer);

  // Button group
  &.pf-m-button-group {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--m-button-group--spacer);

    > * {
      --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--m-button-group--space-items);
    }
  }

  // Icon button group
  &.pf-m-icon-button-group {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--m-icon-button-group--spacer);

    > * {
      --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--m-icon-button-group--space-items);
    }
  }

  // Filter group
  &.pf-m-filter-group {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--m-filter-group--spacer);

    > * {
      --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--m-filter-group--space-items);
    }

    > * + * {
      margin-left: -1px;
    }
  }

  // Toggle group
  &.pf-m-toggle-group {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--m-toggle-group--spacer);

    > * {
      display: none;
      visibility: hidden;
    }

    .pf-c-data-toolbar__toggle {
      display: inline-block;
      visibility: visible;
    }
  }

  // &:last-child must always come last for spacing system to work properly, as it has the same specificity as the preceding modifiers
  &:last-child {
    --pf-c-data-toolbar--spacer: 0;
  }
}

// Item
.pf-c-data-toolbar__item {
  --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__item--spacer);

  margin-right: var(--pf-c-data-toolbar--spacer);

  // Separator
  &.pf-m-separator {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__item--m-separator--spacer);

    align-self: center;
    width: var(--pf-c-data-toolbar__item--m-separator--Width);
    height: var(--pf-c-data-toolbar__item--m-separator--Height);
    background-color: var(--pf-c-data-toolbar__item--m-separator--BackgroundColor);
  }

  // Overflow menu
  &.pf-m-overflow-menu {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__item--m-overflow-menu--spacer);
  }

  // Bulk select
  &.pf-m-bulk-select {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__item--m-bulk-select--spacer);
  }

  // Search filter
  &.pf-m-search-filter {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__item--m-search-filter--spacer);
  }

  // Search filter
  &.pf-m-chip-group {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__item--m-chip-group--spacer);
  }

  // Label
  &.pf-m-label {
    --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__item--m-label--spacer);

    font-weight: var(--pf-c-data-toolbar__item--m-label--FontWeight);
  }

  // Total items
  &.pf-m-pagination {
    margin-left: auto;

    .pf-c-pagination {
      flex-wrap: nowrap;
    }
  }

  // Clear button
  &.pf-m-clear {
    justify-self: end;
  }

  // If pagination is sibling of align-right
  &.pf-m-align-right ~ * {
    margin-left: 0;
  }

  // &:last-child must always come last for spacing system to work properly, as it has the same specificity as the preceding modifiers
  &:last-child {
    --pf-c-data-toolbar--spacer: 0;
  }
}

// Content
.pf-c-data-toolbar__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// Expandable content
.pf-c-data-toolbar__expandable-content {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: var(--pf-c-data-toolbar__expandable-content--ZIndex);
  display: none;
  padding: var(--pf-c-data-toolbar__expandable-content--PaddingTop) var(--pf-c-data-toolbar__expandable-content--PaddingRight) var(--pf-c-data-toolbar__expandable-content--PaddingBottom) var(--pf-c-data-toolbar__expandable-content--PaddingLeft);
  visibility: hidden;
  background-color: inherit;
  box-shadow: var(--pf-c-data-toolbar__expandable-content--BoxShadow);

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    position: static;
    box-shadow: none;
  }

  &.pf-m-expanded {
    display: grid;
    grid-row-gap: var(--pf-c-data-toolbar__expandable-content--m-expanded--GridRowGap);
    visibility: visible;
  }

  // If item is used outside of a group, remove margin
  .pf-c-data-toolbar__item,
  .pf-c-data-toolbar__group {
    margin: 0;
  }

  .pf-c-data-toolbar__group {
    display: grid;
    grid-row-gap: var(--pf-c-data-toolbar__expandable-content--m-expanded--GridRowGap);
  }

  // If item is used within a group, add margin back
  .pf-c-data-toolbar__group .pf-c-data-toolbar__item {
    margin-right: var(--pf-c-data-toolbar--spacer);
  }
}

.pf-c-data-toolbar__toggle .pf-c-badge {
  margin-left: var(--pf-c-data-toolbar__toggle--c-badge--MarginLeft);
}

/* stylelint-disable max-nesting-depth, no-duplicate-selectors */
.pf-c-data-toolbar {
  // Build spacing modifiers
  @each $breakpoint, $breakpoint-value in $pf-c-data-toolbar--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-apply-breakpoint($breakpoint, $pf-c-data-toolbar--breakpoint-map) {
      // Align right
      .pf-m-align-right#{$breakpoint-name} {
        margin-left: auto;
      }

      // Align left
      .pf-m-align-left#{$breakpoint-name} {
        margin-left: 0;
      }

      // Hidden modifier
      .pf-m-hidden#{$breakpoint-name} {
        display: none;
        visibility: hidden;
      }

      // Visible modifier
      .pf-m-visible#{$breakpoint-name} {
        display: flex;
        visibility: visible;
      }

      .pf-m-reveal#{$breakpoint-name} {
        &.pf-m-toggle-group {
          --pf-c-data-toolbar--spacer: var(--pf-c-data-toolbar__group--m-toggle-group--m-reveal--spacer);

          &:last-child {
            --pf-c-data-toolbar--spacer: 0;
          }
        }

        &.pf-c-data-toolbar__expandable-content .pf-m-clear {
          justify-self: flex-start;
        }

        &.pf-c-data-toolbar__expandable-content.pf-m-expanded {
          display: flex;
        }

        .pf-c-data-toolbar__group,
        .pf-c-data-toolbar__item {
          display: flex;
          flex: 0 1 auto;
          margin-right: var(--pf-c-data-toolbar--spacer);
          visibility: visible;
        }

        .pf-m-shared-item {
          display: none;
          visibility: hidden;
        }

        .pf-c-data-toolbar__toggle {
          display: none;
          visibility: hidden;
        }
      }
    }
  }

  // .pf-m-space-items-{size}{-on-breakpoint}
  @each $breakpoint, $breakpoint-value in $pf-c-data-toolbar--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-apply-breakpoint($breakpoint, $pf-c-data-toolbar--breakpoint-map) {
      @each $spacer, $spacer-value in $pf-c-data-toolbar--spacer-map {
        .pf-m-space-items-#{$spacer}#{$breakpoint-name} {
          > * {
            --pf-c-data-toolbar--spacer: #{$spacer-value};
          }

          &.pf-c-data-toolbar__expandable-content {
            .pf-c-data-toolbar__group,
            .pf-c-data-toolbar__item {
              margin-right: var(--pf-c-data-toolbar--spacer);
            }
          }

          > :last-child {
            --pf-c-data-toolbar--spacer: 0;
          }
        }
      }
    }
  }

  // .pf-m-spacer-{size}{-on-breakpoint}
  @each $breakpoint, $breakpoint-value in $pf-c-data-toolbar--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-apply-breakpoint($breakpoint, $pf-c-data-toolbar--breakpoint-map) {
      @each $spacer, $spacer-value in $pf-c-data-toolbar--spacer-map {
        .pf-m-spacer-#{$spacer}#{$breakpoint-name} {
          --pf-c-data-toolbar--spacer: #{$spacer-value};

          &:last-child {
            --pf-c-data-toolbar--spacer: #{$spacer-value};
          }
        }
      }
    }
  }
}
