<div class="pf-c-data-toolbar{{#if data-toolbar--modifier}} {{data-toolbar--modifier}}{{/if}}"
  {{#if data-toolbar--id}}
    id="{{{data-toolbar--id}}}"
  {{/if}}
  {{#if data-toolbar--attribute}}
    {{{data-toolbar--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
