<div class="pf-c-data-toolbar__item{{#if data-toolbar-item--modifier}} {{data-toolbar-item--modifier}}{{/if}}"
  {{#if data-toolbar-item--id}}
    id="{{data-toolbar-item--id}}"
  {{/if}}
  {{#if data-toolbar-item--attribute}}
    {{{data-toolbar-item--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
