<div class="pf-c-data-toolbar__group{{#if data-toolbar-group--modifier}} {{data-toolbar-group--modifier}}{{/if}}"
  {{#if data-toolbar-group--attribute}}
    {{{data-toolbar-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
