<div class="pf-c-data-toolbar__content-section{{#if data-toolbar-content-section--modifier}} {{data-toolbar-content-section--modifier}}{{/if}}"
  {{#if data-toolbar-content-section--attribute}}
    {{{data-toolbar-content-section--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
