<div class="pf-c-data-toolbar__content{{#if data-toolbar-content--modifier}} {{data-toolbar-content--modifier}}{{/if}}"
  {{#if data-toolbar-content--attribute}}
    {{{data-toolbar-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
