<span class="pf-c-toggle__controls{{#if toggle-controls--modifier}} {{toggle-controls--modifier}}{{/if}}"
  {{#if toggle-controls--attribute}}
    {{{toggle-controls--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
