<span class="pf-c-toggle__text{{#if toggle-text--modifier}} {{toggle-text--modifier}}{{/if}}"
  {{#if toggle-text--attribute}}
    {{{toggle-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
