<span class="pf-c-toggle__count{{#if toggle-count--modifier}} {{toggle-count--modifier}}{{/if}}"
  {{#if toggle-count--attribute}}
    {{{toggle-count--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
