<span class="pf-c-toggle__icon{{#if toggle-icon--modifier}} {{toggle-icon--modifier}}{{/if}}"
  {{#if toggle-icon--attribute}}
    {{{toggle-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
