<button class="pf-c-toggle
  {{~#if toggle--IsPrimary}}
    pf-m-primary
  {{/if}}
  {{~#if toggle--IsPlain}}
    pf-m-plain
  {{/if}}
  {{~#if toggle--IsExpanded}}
    pf-m-expanded
  {{/if}}
  {{#if toggle--modifier}} {{toggle--modifier}}{{/if}}"
  type="button"
  {{#if toggle--IsExpanded}}
    aria-expanded="true"
  {{else}}
    aria-expanded="false"
  {{/if}}
  {{~#if toggle--IsDisabled}}
    disabled
  {{/if}}
  {{#if toggle--attribute}}
    {{{toggle--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</button>
