<span class="pf-c-toggle__clear{{#if toggle-clear--modifier}} {{toggle-clear--modifier}}{{/if}}"
  {{#if toggle-clear--attribute}}
    {{{toggle-clear--attribute}}}
  {{/if}}>
  <i class="fas fa-times fa-fw" aria-hidden="true"></i>
</span>
