{{#> alert-group}}
  {{#> alert-item}}  
    {{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success Alert"'}}
      {{#> alert-icon alert-icon--type="check-circle"}}
      {{/alert-icon}}
        {{#> alert-title}}
          {{#> screen-reader}}Success alert:{{/screen-reader}}
          Success Alert Title
        {{/alert-title}}
    {{/alert}}
  {{/alert-item}}

  {{#> alert-item}}
    {{#> alert alert--modifier="pf-m-danger" alert--attribute='aria-label="Danger Alert"'}}
      {{#> alert-icon alert-icon--type="exclamation-circle"}}
      {{/alert-icon}}
        {{#> alert-title}}
          {{#> screen-reader}}Danger alert:{{/screen-reader}}
          Danger Alert Title
        {{/alert-title}}
      {{#> alert-action}}
        {{#> button button--modifier="pf-m-link"}}
          Action Button
        {{/button}}
      {{/alert-action}}
    {{/alert}}
  {{/alert-item}}

  {{#> alert-item}}
    {{#> alert alert--modifier="pf-m-info" alert--attribute='aria-label="Information Alert"'}}
      {{#> alert-icon alert-icon--type="info-circle"}}
      {{/alert-icon}}
        {{#> alert-title}}
          {{#> screen-reader}}Info alert:{{/screen-reader}}
          Info Alert Title
        {{/alert-title}}
        {{#> alert-description}}
          Info alert description. <a href="#">This is a link.</a>
        {{/alert-description}}
    {{/alert}}
  {{/alert-item}}
{{/alert-group}}
