{{#> alert-group alert-group--modifier="pf-m-toast"}}
  {{#> alert-item}}
    {{#> alert alert--modifier="pf-m-success" alert--attribute='aria-label="Success Toast Alert"'}}
      {{#> alert-icon alert-icon--success="true"}}
      {{/alert-icon}}
      {{#> alert-body alert-body--attribute='role="alert"'}}
        {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Dismiss" aria-labelledby="alert_one_button alert_one_title" id="alert_one_button"'}}
          {{> button-icon button-icon--type="times"}}
        {{/button}}
        {{#> alert-title alert-title--attribute='id="alert_one_title"'}}
          {{#> screen-reader}}Success alert:{{/screen-reader}}
          Success toast alert title
        {{/alert-title}}
      {{/alert-body}}
    {{/alert}}
  {{/alert-item}}
  
  {{#> alert-item}}
    {{#> alert alert--modifier="pf-m-danger" alert--attribute='aria-label="Danger Toast Alert"'}}
      {{#> alert-icon alert-icon--danger="true"}}
      {{/alert-icon}}
      {{#> alert-body alert-body--attribute='role="alert"'}}
        {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Dismiss" aria-labelledby="alert_two_button alert_two_title" id="alert_two_button"'}}
          {{> button-icon button-icon--type="times"}}
        {{/button}}
        {{#> alert-title alert-title--attribute='id="alert_two_title"'}}
          {{#> screen-reader}}Danger alert:{{/screen-reader}}
          Danger toast alert title
        {{/alert-title}}
      {{/alert-body}}
    {{/alert}}
  {{/alert-item}}

  {{#> alert-item}}
    {{#> alert alert--modifier="pf-m-info" alert--attribute='aria-label="Information Toast Alert"'}}
      {{#> alert-icon alert-icon--info="true"}}
      {{/alert-icon}}
      {{#> alert-body alert-body--attribute='role="alert"'}}
        {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Dismiss" aria-labelledby="alert_three_button alert_three_title" id="alert_three_button"'}}
          {{> button-icon button-icon--type="times"}}
        {{/button}}
        {{#> alert-title alert-title--attribute='id="alert_three_title"'}}
          {{#> screen-reader}}Info alert:{{/screen-reader}}
          Info toast alert title
        {{/alert-title}}
        {{#> alert-description}}
          Info toast alert description. <a href="#">This is a link.</a>
        {{/alert-description}}
      {{/alert-body}}
    {{/alert}}
  {{/alert-item}}
{{/alert-group}}
