{{#> alert-group alert-group--modifier="pf-m-toast"}}
  {{#> alert-item}}
    {{#> alert alert--modifier="pf-m-success pf-m-live" alert--attribute='aria-label="Success toast alert" aria-atomic="false" aria-live="polite" aria-relevant="additions text"'}}
      {{#> alert-icon alert-icon--type="check-circle"}}
      {{/alert-icon}}
      {{#> alert-content}}
        {{#> alert-title alert-title--attribute='id="alert_one_title"'}}
          {{#> screen-reader}}Success alert:{{/screen-reader}}
          Success toast alert title
        {{/alert-title}}
      {{/alert-content}}
      {{#> alert-action}}
        {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close success alert: Success alert title"'}}
          {{> button-icon button-icon--type="times"}}
        {{/button}}
      {{/alert-action}}
    {{/alert}}
  {{/alert-item}}

  {{#> alert-item}}
    {{#> alert alert--modifier="pf-m-danger pf-m-live" alert--attribute='aria-label="Danger toast alert" aria-atomic="false" aria-live="polite" aria-relevant="additions text"'}}
      {{#> alert-icon alert-icon--type="exclamation-circle"}}
      {{/alert-icon}}
      {{#> alert-content}}
        {{#> alert-title alert-title--attribute='id="alert_two_title"'}}
          {{#> screen-reader}}Danger alert:{{/screen-reader}}
          Danger toast alert title
        {{/alert-title}}
      {{/alert-content}}
      {{#> alert-action}}
        {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close success alert: Success alert title"'}}
          {{> button-icon button-icon--type="times"}}
        {{/button}}
      {{/alert-action}}
    {{/alert}}
  {{/alert-item}}

  {{#> alert-item}}
    {{#> alert alert--modifier="pf-m-info pf-m-live" alert--attribute='aria-label="Information Toast Alert" aria-atomic="false" aria-live="polite" aria-relevant="additions text"'}}
      {{#> alert-icon alert-icon--type="info-circle"}}
      {{/alert-icon}}
      {{#> alert-content}}
        {{#> alert-title alert-title--attribute='id="alert_three_title"'}}
          {{#> screen-reader}}Info alert:{{/screen-reader}}
          Info toast alert title
        {{/alert-title}}
        {{#> alert-description}}
          Info toast alert description. <a href="#">This is a link.</a>
        {{/alert-description}}
      {{/alert-content}}
      {{#> alert-action}}
        {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close success alert: Success alert title"'}}
          {{> button-icon button-icon--type="times"}}
        {{/button}}
      {{/alert-action}}
    {{/alert}}
  {{/alert-item}}
{{/alert-group}}
