// @debug $radio; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root {
  --#{$radio}--GridGap: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--sm);
  --#{$radio}--AccentColor: var(--pf-t--global--icon--color--brand--default);
  --#{$radio}__label--disabled--Color: var(--pf-t--global--text--color--disabled);
  --#{$radio}__label--Color: var(--pf-t--global--text--color--regular);
  --#{$radio}__label--FontWeight: var(--pf-t--global--font--weight--body);
  --#{$radio}__label--FontSize: var(--pf-t--global--font--size--body);
  --#{$radio}__label--LineHeight: var(--pf-t--global--font--line-height--body);
  --#{$radio}__input--TranslateY: calc((var(--#{$radio}__label--LineHeight) * var(--#{$radio}__label--FontSize) / 2 ) - 50%); // find height of single label, divide by two, offset by 50% of own height
  --#{$radio}__input--first-child--MarginLeft: #{pf-size-prem(1px)};
  --#{$radio}__input--last-child--MarginRight: #{pf-size-prem(1px)};
  --#{$radio}__description--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$radio}__description--Color: var(--pf-t--global--text--color--subtle);
  --#{$radio}__body--MarginTop: var(--pf-t--global--spacer--sm);
}

.#{$radio} {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--#{$radio}--GridGap);
  align-items: baseline;
  accent-color: var(--#{$radio}--AccentColor);

  &.pf-m-standalone {
    --#{$radio}--GridGap: 0;
    --#{$radio}__input--TranslateY: none;

    display: inline-grid;
  }
}

.#{$radio}__input {
  align-self: start;

  // find height of single label, divide by two, offset by 50% of own height
  transform: translateY(var(--#{$radio}__input--TranslateY));

  // fixes a chrome issue where the left edge is cut off in a container with overflow hidden
  &:first-child {
    margin-inline-start: var(--#{$radio}__input--first-child--MarginLeft);
  }

  // fixes a chrome issue where the right edge is cut off in a container with overflow hidden
  &:last-child {
    margin-inline-end: var(--#{$radio}__input--last-child--MarginRight);
  }
}

.#{$radio}__label {
  font-size: var(--#{$radio}__label--FontSize);
  font-weight: var(--#{$radio}__label--FontWeight);
  line-height: var(--#{$radio}__label--LineHeight);
  color: var(--#{$radio}__label--Color);
}

.#{$radio}__description {
  grid-column: 2;
  font-size: var(--#{$radio}__description--FontSize);
  color: var(--#{$radio}__description--Color);
}

.#{$radio}__body {
  grid-column: 2;
  margin-block-start: var(--#{$radio}__body--MarginTop);
}

.#{$radio}__label,
.#{$radio}__input {
  justify-self: start;

  @at-root label.#{$radio},
  & {
    cursor: pointer;
  }

  &:disabled,
  &.pf-m-disabled {
    --#{$radio}__label--Color: var(--#{$radio}__label--disabled--Color);

    cursor: not-allowed;
  }
}
