// @debug $radio; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$radio} {
  --#{$radio}--GridGap: var(--#{$pf-global}--spacer--xs) var(--#{$pf-global}--spacer--sm);
  --#{$radio}__label--disabled--Color: var(--#{$pf-global}--disabled-color--100);
  --#{$radio}__label--Color: var(--#{$pf-global}--Color--100);
  --#{$radio}__label--FontWeight: var(--#{$pf-global}--FontWeight--normal);
  --#{$radio}__label--FontSize: var(--#{$pf-global}--FontSize--md);
  --#{$radio}__label--LineHeight: var(--#{$pf-global}--LineHeight--md);
  --#{$radio}__input--TranslateY--moz: 5px;
  --#{$radio}__input--first-child--MarginLeft: #{pf-size-prem(1px)};
  --#{$radio}__input--last-child--MarginRight: #{pf-size-prem(1px)};
  --#{$radio}__description--FontSize: var(--#{$pf-global}--FontSize--sm);
  --#{$radio}__description--Color: var(--#{$pf-global}--Color--200);
  --#{$radio}__body--MarginTop: var(--#{$pf-global}--spacer--sm);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--#{$radio}--GridGap);
  align-items: baseline;

  &.pf-m-standalone {
    --#{$radio}--GridGap: 0;
    --#{$radio}__input--TranslateY--moz: 0;

    width: auto;
  }
}

.#{$radio}__label {
  font-size: var(--#{$radio}__label--FontSize);
  font-weight: var(--#{$radio}__label--FontWeight);
  line-height: var(--#{$radio}__label--LineHeight);
  color: var(--#{$radio}__label--Color);
}

.#{$radio}__input {
  // stylelint-disable property-no-vendor-prefix
  -moz-transform: translateY(var(--#{$radio}__input--TranslateY--moz));
  // stylelint-enable

  // fixes a chrome issue where the left edge is cut off in a container with overflow hidden
  &:first-child {
    margin-inline-start: var(--#{$radio}__input--first-child--MarginLeft);
  }

  // fixes a chrome issue where the right edge is cut off in a container with overflow hidden
  &:last-child {
    margin-inline-end: var(--#{$radio}__input--last-child--MarginRight);
  }
}

.#{$radio}__description {
  grid-column: 2;
  font-size: var(--#{$radio}__description--FontSize);
  color: var(--#{$radio}__description--Color);
}

.#{$radio}__body {
  grid-column: 2;
  margin-block-start: var(--#{$radio}__body--MarginTop);
}

.#{$radio}__label,
.#{$radio}__input {
  justify-self: start;

  @at-root label.#{$radio},
  & {
    cursor: pointer;
  }

  &:disabled,
  &.pf-m-disabled {
    --#{$radio}__label--Color: var(--#{$radio}__label--disabled--Color);

    cursor: not-allowed;
  }
}
