/* stylelint-disable */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  &__main {
    display: flex;
    flex: 1;
  }
  &__sidebar {
    flex: 0 1 auto;
    padding: 1rem 2rem;
    border-right: 1px solid #eaeaea;
  }
  &__sidebar_heading {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  &__sidebar__item + &__sidebar__item {
    margin-top: 1rem;
  }
  &__content {
    flex: 1;
    padding: 1rem 2rem;
  }
  &__footer {
    padding: 1rem 2rem;
  }
}
/* stylelint-enable */
