.pf-l-level {
  --pf-l-level--m-gutter--MarginRight: var(--pf-global--gutter);
  --pf-l-level--m-gutter--md--MarginRight: var(--pf-global--gutter--md);

  @media screen and (max-width: $pf-global--breakpoint--md) {
    --pf-l-level--m-gutter--MarginRight: var(--pf-l-level--m-gutter--md--MarginRight);
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &.pf-m-gutter > *:not(:last-child) {
    margin-right: var(--pf-l-level--m-gutter--MarginRight);
  }
}
