@import "../../patternfly-utilities";

:root {
  --pf-l-level--gutter--MarginRight: var(--pf-global--gutter);
}

.pf-l-level {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  &.pf-m-gutter > *:not(:last-child) {
    margin-right: var(--pf-l-level--gutter--MarginRight);
  }
}
