#ws-core-a-compass-default [class*="pf-v6-c-compass"],
#ws-core-a-compass-docked [class*="pf-v6-c-compass"] {
  position: relative;
}

#ws-core-a-compass-default [class*="pf-v6-c-compass"]::after,
#ws-core-a-compass-docked [class*="pf-v6-c-compass"]::after {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  border: var(--pf-t--global--border--width--regular) dashed var(--pf-t--global--border--color--default);
}
