#ws-core-u-background-color-white {
  margin-bottom: var(--pf-global--spacer--lg);
  background-color: var(--pf-global--BackgroundColor--100);
}
#ws-core-u-background-color-gray {
  margin-bottom: var(--pf-global--spacer--lg);
  background-color: var(--pf-global--BackgroundColor--200);
}
#ws-core-u-background-color-dark-100 {
  margin-bottom: var(--pf-global--spacer--lg);
  background-color: var(--pf-global--BackgroundColor--dark-100);
  color: var(--pf-global--Color--light-100);
}
#ws-core-u-background-color-dark-200 {
  margin-bottom: var(--pf-global--spacer--lg);
  background-color: var(--pf-global--BackgroundColor--dark-200);
  color: var(--pf-global--Color--light-100);
}
#ws-core-u-background-color-dark-300 {
  margin-bottom: var(--pf-global--spacer--lg);
  background-color: var(--pf-global--BackgroundColor--dark-300);
  color: var(--pf-global--Color--light-100);
}
#ws-core-u-background-color-dark-400 {
  margin-bottom: var(--pf-global--spacer--lg);
  background-color: var(--pf-global--BackgroundColor--dark-400);
  color: var(--pf-global--Color--light-100);
}
