@import "../../../../sass-utilities/themes/dark/all";

@mixin pf-v5-theme-dark-button() {
  .#{$button} {
    --#{$button}--disabled--Color: var(--#{$pf-global}--disabled-color--300);
    --#{$button}--m-primary--BackgroundColor: var(--#{$pf-global}--primary-color--300);
    --#{$button}--m-primary--Color: var(--#{$pf-global}--primary-color--400);
    --#{$button}--m-tertiary--after--BorderColor: var(--#{$pf-global}--BorderColor--100);
    --#{$button}--m-tertiary--Color: var(--#{$pf-global}--palette--black-100);
    --#{$button}--m-tertiary--hover--after--BorderColor: var(--#{$pf-global}--BorderColor--100);
    --#{$button}--m-tertiary--hover--Color: var(--#{$pf-global}--palette--black-100);
    --#{$button}--m-tertiary--focus--after--BorderColor: var(--#{$pf-global}--BorderColor--100);
    --#{$button}--m-tertiary--focus--Color: var(--#{$pf-global}--palette--black-100);
    --#{$button}--m-tertiary--active--after--BorderColor: var(--#{$pf-global}--BorderColor--100);
    --#{$button}--m-tertiary--active--Color: var(--#{$pf-global}--palette--black-100);
    --#{$button}--m-warning--Color: var(--#{$pf-global}--palette--black-900);
    --#{$button}--m-warning--hover--Color: var(--#{$pf-global}--palette--black-900);
    --#{$button}--m-warning--focus--Color: var(--#{$pf-global}--palette--black-900);
    --#{$button}--m-warning--active--Color: var(--#{$pf-global}--palette--black-900);
    --#{$button}--m-warning--hover--BackgroundColor: var(--#{$pf-global}--warning-color--200);
    --#{$button}--m-warning--focus--BackgroundColor: var(--#{$pf-global}--warning-color--200);
    --#{$button}--m-warning--active--BackgroundColor: var(--#{$pf-global}--warning-color--200);
    --#{$button}--m-danger--Color: var(--#{$pf-global}--palette--black-900);
    --#{$button}--m-danger--hover--Color: var(--#{$pf-global}--palette--black-900);
    --#{$button}--m-danger--focus--Color: var(--#{$pf-global}--palette--black-900);
    --#{$button}--m-danger--active--Color: var(--#{$pf-global}--palette--black-900);
    --#{$button}--m-link--disabled--Color: var(--#{$pf-global}--disabled-color--100);
    --#{$button}--m-control--BackgroundColor: var(--#{$pf-global}--BackgroundColor--400);
    --#{$button}--m-control--hover--BackgroundColor: var(--#{$pf-global}--BackgroundColor--400);
    --#{$button}--m-control--active--BackgroundColor: var(--#{$pf-global}--BackgroundColor--400);
    --#{$button}--m-control--focus--BackgroundColor: var(--#{$pf-global}--BackgroundColor--400);
    --#{$button}--m-control--m-expanded--BackgroundColor: var(--#{$pf-global}--BackgroundColor--400);
    --#{$button}--m-control--after--BorderTopColor: transparent;
    --#{$button}--m-control--after--BorderRightColor: transparent;
    --#{$button}--m-control--after--BorderBottomColor: var(--#{$pf-global}--BorderColor--400);
    --#{$button}--m-control--after--BorderLeftColor: transparent;
    --#{$button}--m-control--hover--after--BorderBottomColor: var(--#{$pf-global}--primary-color--100);
    --#{$button}--m-control--active--after--BorderBottomColor: var(--#{$pf-global}--primary-color--100);
    --#{$button}--m-control--focus--after--BorderBottomColor: var(--#{$pf-global}--primary-color--100);
    --#{$button}--m-control--m-expanded--after--BorderBottomColor: var(--#{$pf-global}--primary-color--100);
    --#{$button}--m-control--disabled--BackgroundColor: var(--#{$pf-global}--disabled-color--200);
    --#{$button}--m-primary__c-badge--BorderColor: var(--#{$pf-global}--Color--100);

    &.pf-m-control:disabled {
      &::after {
        border: 0;
        border-block-end: var(--#{$pf-global}--BorderWidth--sm) solid var(--#{$pf-global}--palette--black-700);
      }
    }
  }
}
