<div class="{{pfv}}compass__main-header-content{{#if compass-main-header-content--modifier}} {{compass-main-header-content--modifier}}{{/if}}"
  {{#if compass-main-header-content--attribute}}
    {{{compass-main-header-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>