<div class="{{pfv}}compass__nav-content{{#if compass-nav-content--modifier}} {{compass-nav-content--modifier}}{{/if}}"
  {{#if compass-nav-content--attribute}}
    {{{compass-nav-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
