<div class="{{pfv}}compass__dock-main
  {{setModifiers
    compass-dock-main--modifier=compass-dock-main--modifier
  }}"
  {{#if compass-dock-main--attribute}}
    {{{compass-dock-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
