<div class="{{pfv}}compass__content{{#if compass-content--modifier}} {{compass-content--modifier}}{{/if}}"
  {{#if compass-content--attribute}}
    {{{compass-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
