<div class="{{pfv}}compass__logo{{#if compass-logo--modifier}} {{compass-logo--modifier}}{{/if}}"
  {{#if compass-logo--attribute}}
    {{{compass-logo--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
