<div class="{{pfv}}compass__panel {{pfv}}compass__main-header{{#if compass-main-header--modifier}} {{compass-main-header--modifier}}{{/if}}"
  {{#if compass-main-header--attribute}}
    {{{compass-main-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
