<div class="{{pfv}}compass__dock
  {{setModifiers
    compass-dock--modifier=compass-dock--modifier
  }}"
  {{#if compass-dock--attribute}}
    {{{compass-dock--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
