<div class="{{pfv}}compass__section{{#if compass-section--modifier}} {{compass-section--modifier}}{{/if}}"
  {{#if compass-section--attribute}}
    {{{compass-section--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
