<div class="{{pfv}}compass__footer{{#if compass-footer--modifier}} {{compass-footer--modifier}}{{/if}}"
  {{#if compass-footer--attribute}}
    {{{compass-footer--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
