<div class="{{pfv}}compass__nav-search{{#if compass-nav-search--modifier}} {{compass-nav-search--modifier}}{{/if}}"
  {{#if compass-nav-search--attribute}}
    {{{compass-nav-search--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
