<div class="{{pfv}}compass__hero-body{{#if compass-hero-body--modifier}} {{compass-hero-body--modifier}}{{/if}}"
  {{#if compass-hero-body--attribute}}
    {{{compass-hero-body--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
