<div class="{{pfv}}compass__nav-main{{#if compass-nav-main--modifier}} {{compass-nav-main--modifier}}{{/if}}"
  {{#if compass-nav-main--attribute}}
    {{{compass-nav-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
