<div class="{{pfv}}compass__section
  {{setModifiers
    compass-section--HasNoPadding='pf-m-no-padding'
    compass-section--IsPill='pf-m-pill'
    compass-section--IsFullHeight='pf-m-full-height'
    compass-section--HasNoBorder='pf-m-no-border'
    compass-section--IsHero='pf-v6-c-compass__hero'
    compass-section--modifier=compass-section--modifier
  }}"
  {{#if compass-section--attribute}}
    {{{compass-section--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
