@use '../../sass-utilities' as *;

@include pf-root($compass) {
  --#{$compass}--BackgroundImage: var(--#{$compass}--BackgroundImage--light);
  --#{$compass}--BackgroundImage--light: none;
  --#{$compass}--BackgroundImage--dark: none;
  --#{$compass}--Padding: var(--pf-t--global--spacer--inset--page-chrome);
  --#{$compass}--RowGap: var(--pf-t--global--spacer--inset--page-chrome);
  --#{$compass}--ColumnGap: var(--pf-t--global--spacer--inset--page-chrome);
  --#{$compass}__nav--RowGap: var(--pf-t--global--spacer--gap--group--vertical);
  --#{$compass}__nav--PaddingBlockStart: 0;
  --#{$compass}__nav--PaddingBlockEnd: 0;
  --#{$compass}__nav--PaddingInlineStart: var(--pf-t--global--spacer--sm);
  --#{$compass}__nav--PaddingInlineEnd: var(--pf-t--global--spacer--sm);
  --#{$compass}__nav-main--PaddingInlineStart: var(--pf-t--global--spacer--lg);
  --#{$compass}__nav-main--PaddingInlineEnd: var(--pf-t--global--spacer--lg);
  --#{$compass}__sidebar--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --#{$compass}__sidebar--PaddingBlockEnd: var(--pf-t--global--spacer--sm);
  --#{$compass}__sidebar--PaddingInlineStart: var(--pf-t--global--spacer--sm);
  --#{$compass}__sidebar--PaddingInlineEnd: var(--pf-t--global--spacer--sm);
  --#{$compass}__main--RowGap: var(--pf-t--global--spacer--md);
  --#{$compass}__main-header-content--RowGap: var(--pf-t--global--spacer--sm);
  --#{$compass}__main-header-content--ColumnGap: var(--pf-t--global--spacer--md);
  --#{$compass}__main-footer--MarginBlockStart: calc(var(--#{$compass}__main--RowGap) * -1 + var(--#{$compass}--RowGap)); // Creates same gap as parent compass grid, mimicking the compass footer
  --#{$compass}__panel--BackgroundColor: var(--pf-t--global--background--color--glass--default);
  --#{$compass}__panel--BackdropFilter: var(--pf-t--global--background--color--glass--filter);
  --#{$compass}__panel--BorderRadius: var(--pf-t--global--border--radius--large);
  --#{$compass}__panel--m-pill--BorderRadius: var(--pf-t--global--border--radius--pill);
  --#{$compass}__panel--PaddingBlockStart: var(--pf-t--global--spacer--inset--page-chrome);
  --#{$compass}__panel--PaddingBlockEnd: var(--pf-t--global--spacer--inset--page-chrome);
  --#{$compass}__panel--PaddingInlineStart: var(--pf-t--global--spacer--inset--page-chrome);
  --#{$compass}__panel--PaddingInlineEnd: var(--pf-t--global--spacer--inset--page-chrome);
  --#{$compass}__panel--BorderWidth: var(--pf-t--global--border--width--regular);
  --#{$compass}__panel--BorderColor: var(--pf-t--global--border--color--alt);
  --#{$compass}__panel--BoxShadow: var(--pf-t--global--box-shadow--md);
  --#{$compass}__message-bar--Width: 450px;
  --#{$compass}__message-bar--MinWidth: 300px;
  --#{$compass}__message-bar--MaxWidth: 600px;

  // Section animation
  --#{$compass}--section--duration: var(--pf-t--global--motion--duration--fade--default);
  --#{$compass}--section--TransitionTimingFunction: var(--pf-t--global--motion--timing-function--default);
  --#{$compass}--section--TransitionDuration: var(--#{$compass}--section--duration), 0s, 0s, 0s, 0s;
  --#{$compass}--section--TransitionProperty: opacity, visibility, translate, max-height, max-width;
  --#{$compass}--section--TransitionDelay: 0s, var(--#{$compass}--section--duration), var(--#{$compass}--section--duration), var(--#{$compass}--section--duration), var(--#{$compass}--section--duration);
  --#{$compass}--section--m-expanded--duration: var(--pf-t--global--motion--duration--fade--default);
  --#{$compass}--section--m-expanded--TransitionDuration: var(--#{$compass}--section--duration), 0s, 0s, 0s, 0s;
  --#{$compass}--section--m-expanded--TransitionDelay: 0s;

  @media screen and (prefers-reduced-motion: no-preference) {
    --#{$compass}--section--duration: var(--pf-t--global--motion--duration--slide-out--default);
    --#{$compass}--section--TransitionDuration: var(--#{$compass}--section--duration), 0s, var(--#{$compass}--section--duration), 0s, 0s;
    --#{$compass}--section--TransitionDelay: 0s, var(--#{$compass}--section--duration), 0s, var(--#{$compass}--section--duration), var(--#{$compass}--section--duration);
    --#{$compass}--section--m-expanded--duration: var(--pf-t--global--motion--duration--slide-in--default);
    --#{$compass}--section--m-expanded--TransitionDuration: var(--#{$compass}--section--duration), 0s, var(--#{$compass}--section--duration), 0s, 0s;
  }
}

.#{$compass} {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar-start main sidebar-end";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto;
  gap: var(--#{$compass}--RowGap) var(--#{$compass}--ColumnGap);
  align-items: center;
  justify-content: center;
  height: 100dvh;
  padding: var(--#{$compass}--Padding);
  overflow: hidden;
  background-image: var(--#{$compass}--BackgroundImage);
  background-size: cover;

  :root:where(.#{$pf-prefix}theme-dark) & {
    --#{$compass}--BackgroundImage: var(--#{$compass}--BackgroundImage--dark);
  }

  @at-root .#{$compass}__panel,
  & {
    &.pf-m-no-glass {
      --#{$compass}__panel--BackgroundColor: var(--pf-t--global--background--color--primary--default);
    }
  }
}

.#{$compass}__header,
.#{$compass}__sidebar:is(.pf-m-start, .pf-m-end),
.#{$compass}__footer {
  visibility: hidden;
  opacity: 0;
  transition-delay: var(--#{$compass}--section--TransitionDelay);
  transition-timing-function: var(--#{$compass}--section--TransitionTimingFunction);
  transition-duration: var(--#{$compass}--section--TransitionDuration);
  transition-property: var(--#{$compass}--section--TransitionProperty);

  &.pf-m-expanded {
    --#{$compass}--section--TransitionDelay: var(--#{$compass}--section--m-expanded--TransitionDelay);
    --#{$compass}--section--TransitionDuration: var(--#{$compass}--section--m-expanded--TransitionDuration);

    visibility: visible;
    opacity: 1;
    translate: 0;
  }
}

.#{$compass}__header,
.#{$compass}__footer {
  max-height: 0;

  &.pf-m-expanded {
    max-height: 9999px;
  }
}

.#{$compass}__header {
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  translate: 0 -100%;
}

.#{$compass}__profile {
  justify-self: end;

  // improves perceived alignment since it's a plain toggle
  .#{$menu-toggle}.pf-m-plain {
    margin-block-start: calc(var(--#{$menu-toggle}--PaddingBlockStart) * -1);
  }
}

.#{$compass}__nav {
  --#{$compass}__panel--PaddingBlockStart: var(--#{$compass}__nav--PaddingBlockStart);
  --#{$compass}__panel--PaddingBlockEnd: var(--#{$compass}__nav--PaddingBlockEnd);
  --#{$compass}__panel--PaddingInlineStart: var(--#{$compass}__nav--PaddingInlineStart);
  --#{$compass}__panel--PaddingInlineEnd: var(--#{$compass}__nav--PaddingInlineEnd);

  display: flex;
  flex-direction: column;
  gap: var(--#{$compass}__nav--RowGap);
  align-items: center;
  justify-self: stretch;
}

.#{$compass}__nav-content {
  display: flex;
  align-items: center;
}

.#{$compass}__nav-main {
  padding-inline-start: var(--#{$compass}__nav-main--PaddingInlineStart);
  padding-inline-end: var(--#{$compass}__nav-main--PaddingInlineEnd);
}

.#{$compass}__sidebar {
  --#{$compass}__panel--PaddingBlockStart: var(--#{$compass}__sidebar--PaddingBlockStart);
  --#{$compass}__panel--PaddingBlockEnd: var(--#{$compass}__sidebar--PaddingBlockEnd);
  --#{$compass}__panel--PaddingInlineStart: var(--#{$compass}__sidebar--PaddingInlineStart);
  --#{$compass}__panel--PaddingInlineEnd: var(--#{$compass}__sidebar--PaddingInlineEnd);

  max-width: 0;

  &.pf-m-expanded {
    max-width: 9999px;
  }

  &.pf-m-start {
    @include pf-v6-bidirectional-style(
      $prop: translate,
      $ltr-val: -100%,
      $rtl-val: 100%,
    );

    grid-area: sidebar-start;

  }

  &.pf-m-end {
    @include pf-v6-bidirectional-style(
      $prop: translate,
      $ltr-val: 100%,
      $rtl-val: -100%,
    );

    grid-area: sidebar-end;
  }
}

.#{$compass}__main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  gap: var(--#{$compass}__main--RowGap);
  align-self: stretch;
  min-height: 0;
}

.#{$compass}__main-header-content {
  display: flex;
  gap: var(--#{$compass}__main-header-content--RowGap) var(--#{$compass}__main-header-content--ColumnGap);
}

.#{$compass}__main-header-title {
  flex-grow: 1;
}

.#{$compass}__content {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  min-height: 0;
  overflow: auto;

  > *:last-child {
    flex-grow: 1;
    max-height: 100%;
  }
}

.#{$compass}__main-footer {
  display: flex;
  justify-content: center;
  margin-block-start: var(--#{$compass}__main-footer--MarginBlockStart);
}

.#{$compass}__footer {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  translate: 0 100%;
}

.#{$compass}__message-bar {
  width: var(--#{$compass}__message-bar--Width);
  min-width: var(--#{$compass}__message-bar--MinWidth);
  max-width: var(--#{$compass}__message-bar--MaxWidth);
}

.#{$compass}__panel {
  padding-block-start: var(--#{$compass}__panel--PaddingBlockStart);
  padding-block-end: var(--#{$compass}__panel--PaddingBlockEnd);
  padding-inline-start: var(--#{$compass}__panel--PaddingInlineStart);
  padding-inline-end: var(--#{$compass}__panel--PaddingInlineEnd);
  background-color: var(--#{$compass}__panel--BackgroundColor);
  backdrop-filter: var(--#{$compass}__panel--BackdropFilter);
  border: var(--#{$compass}__panel--BorderWidth) solid var(--#{$compass}__panel--BorderColor);
  border-radius: var(--#{$compass}__panel--BorderRadius);
  box-shadow: var(--#{$compass}__panel--BoxShadow);

  &.pf-m-no-border {
    border-width: 0;
  }

  &.pf-m-no-padding {
    padding: 0;
  }

  &.pf-m-full-height {
    height: 100%;
  }

  &.pf-m-pill {
    border-radius: var(--#{$compass}__panel--m-pill--BorderRadius);
  }

  &.pf-m-scrollable {
    overflow: auto;
  }
}

/* stylelint-disable */
@media (max-width: 1200px) {
  .#{$compass} * {
    display: none;
  }
  .#{$compass} {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-content: center;
    gap: 0;

    &::after {
      padding: 1em;
      border-radius: var(--pf-t--global--border--radius--large);
      background: var(--pf-t--global--background--color--primary--default);
      content: "This page is optimized for wide screens.\a\a Please view on a larger display and/or make your browser window wider.";
      width: 80%;
      width: 300px;
      border: 1px solid var(--pf-t--global--border--color--default);
      box-shadow: var(--pf-t--global--box-shadow--md);
      white-space: pre-wrap;
      text-align: center;
    }
  }
}
/* stylelint-enable */
