<div class="{{pfv}}compass__main{{#if compass-main--modifier}} {{compass-main--modifier}}{{/if}}"
  {{#if compass-main--attribute}}
    {{{compass-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
