<div class="{{pfv}}compass__main-header-toolbar{{#if compass-main-header-toolbar--modifier}} {{compass-main-header-toolbar--modifier}}{{/if}}"
  {{#if compass-main-header-toolbar--attribute}}
    {{{compass-main-header-toolbar--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>