<div class="{{pfv}}compass__dock-logo
  {{setModifiers
    compass-dock-logo--modifier=compass-dock-logo--modifier
  }}"
  {{#if compass-dock-logo--attribute}}
    {{{compass-dock-logo--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
