<div class="{{pfv}}compass__nav{{#if compass-nav--modifier}} {{compass-nav--modifier}}{{/if}}"
  {{#if compass-nav--attribute}}
    {{{compass-nav--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
