<div class="{{pfv}}compass
  {{#unless compass--NoSmoothAnimate}}
    pf-m-animate-smoothly
  {{/unless}}
  {{setModifiers
    compass--HasDock='pf-m-dock'
    compass--modifier=compass--modifier}}"
  {{#if compass--attribute}}
    {{{compass--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
