<div class="{{pfv}}compass__hero{{#if compass-hero--modifier}} {{compass-hero--modifier}}{{/if}}"
  {{#if compass-hero--attribute}}
    {{{compass-hero--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>