<div class="{{pfv}}compass__message-bar{{#if compass-footer-main--modifier}} {{compass-footer-main--modifier}}{{/if}}"
  {{#if compass-footer-main--attribute}}
    {{{compass-footer-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
