<div class="{{pfv}}compass__dock-tools
  {{setModifiers
    compass-dock-tools--modifier=compass-dock-tools--modifier
  }}"
  {{#if compass-dock-tools--attribute}}
    {{{compass-dock-tools--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
