<div class="{{pfv}}compass__header{{#if compass-header--modifier}} {{compass-header--modifier}}{{/if}}"
  {{#if compass-header--attribute}}
    {{{compass-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
