<div class="{{pfv}}compass__main-header-title{{#if compass-main-header-title--modifier}} {{compass-main-header-title--modifier}}{{/if}}"
  {{#if compass-main-header-title--attribute}}
    {{{compass-main-header-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
