<div class="{{pfv}}compass__nav-home{{#if compass-nav-home--modifier}} {{compass-nav-home--modifier}}{{/if}}"
  {{#if compass-nav-home--attribute}}
    {{{compass-nav-home--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
