<div class="{{pfv}}compass__profile{{#if compass-profile--modifier}} {{compass-profile--modifier}}{{/if}}"
  {{#if compass-profile--attribute}}
    {{{compass-profile--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
