<div class="{{pfv}}compass__dock-content
  {{setModifiers
    compass-dock-content--modifier=compass-dock-content--modifier
  }}"
  {{#if compass-dock-content--attribute}}
    {{{compass-dock-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
