#ws-core-c-search-input-advanced-search-expanded,
#ws-core-c-search-input-advanced-search-expanded-with-autocomplete {
  height: 540px;
}

#ws-core-c-search-input-autocomplete {
  height: 250px;
}

#ws-core-c-search-input-autocomplete-last-option-hint {
  height: 130px;
}

.ws-example-wrapper {
  position: relative;
}

.ws-example-wrapper .pf-c-menu,
.ws-example-wrapper .pf-c-panel {
  position: absolute;
  top: 40px;
  width: 100%;
}

#ws-core-c-search-input-advanced-search-expanded-legacy {
  height: 510px;
}

#ws-core-c-search-input-autocomplete-legacy {
  height: 210px;
}

#ws-core-c-search-input-autocomplete-last-hint-legacy {
  height: 90px;
}

#ws-core-c-search-input-advanced-search-expanded-with-autocomplete-legacy {
  height: 510px;
}
