<div class="pf-c-notification-drawer__task-list-item-action{{#if notification-drawer-task-list-item-action--modifier}} {{notification-drawer-task-list-item-action--modifier}}{{/if}}"
  {{#if notification-drawer-task-list-item-action--attribute}}
    {{{notification-drawer-task-list-item-action--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
