// @debug $notification-drawer; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$notification-drawer} {
  --#{$notification-drawer}--BackgroundColor: var(--#{$pf-global}--BackgroundColor--200);

  // Header
  --#{$notification-drawer}__header--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__header--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__header--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__header--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__header--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$notification-drawer}__header--BoxShadow: var(--#{$pf-global}--BoxShadow--sm-bottom);
  --#{$notification-drawer}__header--ZIndex: var(--#{$pf-global}--ZIndex--sm);
  --#{$notification-drawer}__header-title--FontSize: var(--#{$pf-global}--FontSize--xl);
  --#{$notification-drawer}__header-status--MarginLeft: var(--#{$pf-global}--spacer--md);

  // Body
  --#{$notification-drawer}__body--ZIndex: var(--#{$pf-global}--ZIndex--xs);

  // List item
  --#{$notification-drawer}__list-item--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__list-item--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__list-item--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__list-item--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__list-item--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$notification-drawer}__list-item--BoxShadow: inset var(--#{$pf-global}--BoxShadow--sm-bottom);
  --#{$notification-drawer}__list-item--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$notification-drawer}__list-item--BorderBottomColor: transparent;
  --#{$notification-drawer}__list-item--OutlineOffset: #{pf-size-prem(-4px)};
  --#{$notification-drawer}__list-item--before--Width: var(--#{$pf-global}--BorderWidth--lg);
  --#{$notification-drawer}__list-item--before--Top: 0;
  --#{$notification-drawer}__list-item--before--Bottom: calc(var(--#{$notification-drawer}__list-item--BorderBottomWidth) * -1);

  // List item modifiers
  --#{$notification-drawer}__list-item--m-info__list-item-header-icon--Color: var(--#{$pf-global}--info-color--100);
  --#{$notification-drawer}__list-item--m-info__list-item--before--BackgroundColor: var(--#{$pf-global}--info-color--100);
  --#{$notification-drawer}__list-item--m-warning__list-item-header-icon--Color: var(--#{$pf-global}--warning-color--100);
  --#{$notification-drawer}__list-item--m-warning__list-item--before--BackgroundColor: var(--#{$pf-global}--warning-color--100);
  --#{$notification-drawer}__list-item--m-danger__list-item-header-icon--Color: var(--#{$pf-global}--danger-color--100);
  --#{$notification-drawer}__list-item--m-danger__list-item--before--BackgroundColor: var(--#{$pf-global}--danger-color--100);
  --#{$notification-drawer}__list-item--m-success__list-item-header-icon--Color: var(--#{$pf-global}--success-color--100);
  --#{$notification-drawer}__list-item--m-success__list-item--before--BackgroundColor: var(--#{$pf-global}--success-color--100);
  --#{$notification-drawer}__list-item--m-custom__list-item-header-icon--Color: var(--#{$pf-global}--custom-color--200);
  --#{$notification-drawer}__list-item--m-custom__list-item--before--BackgroundColor: var(--#{$pf-global}--custom-color--200);
  --#{$notification-drawer}__list-item--m-read--BackgroundColor: var(--#{$pf-global}--BackgroundColor--200);
  --#{$notification-drawer}__list-item--m-read--BorderBottomColor: var(--#{$pf-global}--BorderColor--100);
  --#{$notification-drawer}__list-item--m-read--before--Top: calc(var(--#{$notification-drawer}__list-item--BorderBottomWidth) * -1);
  --#{$notification-drawer}__list-item--m-read--before--Bottom: 0;
  --#{$notification-drawer}__list-item--m-read--before--BackgroundColor: transparent;
  --#{$notification-drawer}__list-item--list-item--m-read--before--Top: 0;
  --#{$notification-drawer}__list-item--list-item--m-read--BoxShadow: inset var(--#{$pf-global}--BoxShadow--sm-bottom);
  --#{$notification-drawer}__list-item--m-hoverable--hover--ZIndex: var(--#{$pf-global}--ZIndex--xs);
  --#{$notification-drawer}__list-item--m-hoverable--hover--BoxShadow: var(--#{$pf-global}--BoxShadow--md-top), var(--#{$pf-global}--BoxShadow--md-bottom);

  // List item header
  --#{$notification-drawer}__list-item-header--MarginBottom: var(--#{$pf-global}--spacer--xs);

  // List item header icon
  --#{$notification-drawer}__list-item-header-icon--Color: inherit;
  --#{$notification-drawer}__list-item-header-icon--MarginRight: var(--#{$pf-global}--spacer--sm);

  // List item header title
  --#{$notification-drawer}__list-item-header-title--FontWeight: var(--#{$pf-global}--FontWeight--bold);
  --#{$notification-drawer}__list-item-header-title--max-lines: 1;
  --#{$notification-drawer}__list-item--m-read__list-item-header-title--FontWeight: var(--#{$pf-global}--FontWeight--normal);

  // List item description
  --#{$notification-drawer}__list-item-description--MarginBottom: var(--#{$pf-global}--spacer--sm);

  // List item timestamp
  --#{$notification-drawer}__list-item-timestamp--Color: var(--#{$pf-global}--Color--200);
  --#{$notification-drawer}__list-item-timestamp--FontSize: var(--#{$pf-global}--FontSize--sm);

  // Group
  --#{$notification-drawer}__group--m-expanded--group--BorderTopWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$notification-drawer}__group--m-expanded--group--BorderTopColor: var(--#{$pf-global}--BorderColor--100);
  --#{$notification-drawer}__group--m-expanded--MinHeight: 0; // remove at breaking change

  // Group toggle
  --#{$notification-drawer}__group-toggle--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__group-toggle--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__group-toggle--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__group-toggle--PaddingLeft: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__group-toggle--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$notification-drawer}__group-toggle--BorderColor: var(--#{$pf-global}--BorderColor--100);
  --#{$notification-drawer}__group-toggle--BorderBottomWidth: var(--#{$pf-global}--BorderWidth--sm);
  --#{$notification-drawer}__group-toggle--OutlineOffset: #{pf-size-prem(-4px)};

  // Group toggle title
  --#{$notification-drawer}__group-toggle-title--MarginRight: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__group-toggle-title--max-lines: 1;

  // Group toggle count
  --#{$notification-drawer}__group-toggle-count--MarginRight: var(--#{$pf-global}--spacer--md);

  // Group toggle icon
  --#{$notification-drawer}__group-toggle-icon--MarginRight: var(--#{$pf-global}--spacer--md);
  --#{$notification-drawer}__group-toggle-icon--Color: var(--#{$pf-global}--Color--200);
  --#{$notification-drawer}__group-toggle-icon--Transition: .2s ease-in 0s;
  --#{$notification-drawer}__group--m-expanded__group-toggle-icon--Rotate: 90deg;

  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--#{$notification-drawer}--BackgroundColor);
}

.#{$notification-drawer}__header {
  position: relative;
  z-index: var(--#{$notification-drawer}__header--ZIndex);
  display: flex;
  flex-shrink: 0;
  align-items: baseline;
  padding-block-start: var(--#{$notification-drawer}__header--PaddingTop);
  padding-block-end: var(--#{$notification-drawer}__header--PaddingBottom);
  padding-inline-start: var(--#{$notification-drawer}__header--PaddingLeft);
  padding-inline-end: var(--#{$notification-drawer}__header--PaddingRight);
  background-color: var(--#{$notification-drawer}__header--BackgroundColor);
  box-shadow: var(--#{$notification-drawer}__header--BoxShadow);
}

.#{$notification-drawer}__header-title {
  font-size: var(--#{$notification-drawer}__header-title--FontSize);
}

.#{$notification-drawer}__header-status {
  margin-inline-start: var(--#{$notification-drawer}__header-status--MarginLeft);
}

.#{$notification-drawer}__header-action {
  display: flex;
  align-items: center;
  margin-inline-start: auto;
}

.#{$notification-drawer}__body {
  flex: 1;
  overflow-y: auto;
  box-shadow: var(--#{$notification-drawer}__body--ZIndex);
}

.#{$notification-drawer}__list-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-block-start: var(--#{$notification-drawer}__list-item--PaddingTop);
  padding-block-end: var(--#{$notification-drawer}__list-item--PaddingBottom);
  padding-inline-start: var(--#{$notification-drawer}__list-item--PaddingLeft);
  padding-inline-end: var(--#{$notification-drawer}__list-item--PaddingRight);
  background-color: var(--#{$notification-drawer}__list-item--BackgroundColor);
  border-block-end: var(--#{$notification-drawer}__list-item--BorderBottomWidth) solid var(--#{$notification-drawer}__list-item--BorderBottomColor);
  outline-offset: var(--#{$notification-drawer}__list-item--OutlineOffset);
  box-shadow: var(--#{$notification-drawer}__list-item--BoxShadow);

  &.pf-m-read,
  &:first-child {
    --#{$notification-drawer}__list-item--BoxShadow: none;
  }

  &:not(.pf-m-read) + &.pf-m-read {
    --#{$notification-drawer}__list-item--BoxShadow: var(--#{$notification-drawer}__list-item--list-item--m-read--BoxShadow);
    --#{$notification-drawer}__list-item--before--Top: var(--#{$notification-drawer}__list-item--list-item--m-read--before--Top);
  }

  &::before {
    position: absolute;
   inset-block-start: var(--#{$notification-drawer}__list-item--before--Top);
   inset-block-end: var(--#{$notification-drawer}__list-item--before--Bottom);
    width: var(--#{$notification-drawer}__list-item--before--Width);
    content: "";
    background-color: var(--#{$notification-drawer}__list-item--before--BackgroundColor);
  }

  &.pf-m-info {
    --#{$notification-drawer}__list-item--before--BackgroundColor: var(--#{$notification-drawer}__list-item--m-info__list-item--before--BackgroundColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-info__list-item-header-icon--Color);
  }

  &.pf-m-warning {
    --#{$notification-drawer}__list-item--before--BackgroundColor: var(--#{$notification-drawer}__list-item--m-warning__list-item--before--BackgroundColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-warning__list-item-header-icon--Color);
  }

  &.pf-m-danger {
    --#{$notification-drawer}__list-item--before--BackgroundColor: var(--#{$notification-drawer}__list-item--m-danger__list-item--before--BackgroundColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-danger__list-item-header-icon--Color);
  }

  &.pf-m-success {
    --#{$notification-drawer}__list-item--before--BackgroundColor: var(--#{$notification-drawer}__list-item--m-success__list-item--before--BackgroundColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-success__list-item-header-icon--Color);
  }

  &.pf-m-custom {
    --#{$notification-drawer}__list-item--before--BackgroundColor: var(--#{$notification-drawer}__list-item--m-custom__list-item--before--BackgroundColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-custom__list-item-header-icon--Color);
  }

  &.pf-m-read {
    --#{$notification-drawer}__list-item--BorderBottomColor: var(--#{$notification-drawer}__list-item--m-read--BorderBottomColor);
    --#{$notification-drawer}__list-item--BackgroundColor: var(--#{$notification-drawer}__list-item--m-read--BackgroundColor);
    --#{$notification-drawer}__list-item--before--Top: var(--#{$notification-drawer}__list-item--m-read--before--Top);
    --#{$notification-drawer}__list-item--before--Bottom: var(--#{$notification-drawer}__list-item--m-read--before--Bottom);
    --#{$notification-drawer}__list-item--before--BackgroundColor: var(--#{$notification-drawer}__list-item--m-read--before--BackgroundColor);
    --#{$notification-drawer}__list-item-header-title--FontWeight: var(--#{$notification-drawer}__list-item--m-read__list-item-header-title--FontWeight);

    position: relative;
  }

  &.pf-m-hoverable {
    cursor: pointer;

    &:hover {
      z-index: var(--#{$notification-drawer}__list-item--m-hoverable--hover--ZIndex);
      box-shadow: var(--#{$notification-drawer}__list-item--m-hoverable--hover--BoxShadow);
    }
  }
}

.#{$notification-drawer}__list-item-header {
  display: flex;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-items: baseline;
  margin-block-end: var(--#{$notification-drawer}__list-item-header--MarginBottom);
}

.#{$notification-drawer}__list-item-header-icon {
  margin-inline-end: var(--#{$notification-drawer}__list-item-header-icon--MarginRight);
  color: var(--#{$notification-drawer}__list-item-header-icon--Color);
}

.#{$notification-drawer}__list-item-header-title {
  font-weight: var(--#{$notification-drawer}__list-item-header-title--FontWeight);
  word-break: break-word;

  &.pf-m-truncate {
    @include pf-v5-line-clamp("var(--#{$notification-drawer}__list-item-header-title--max-lines)");
  }
}

.#{$notification-drawer}__list-item-action {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.#{$notification-drawer}__list-item-description {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-block-end: var(--#{$notification-drawer}__list-item-description--MarginBottom);
  word-break: break-word;
}

.#{$notification-drawer}__list-item-timestamp {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: var(--#{$notification-drawer}__list-item-timestamp--FontSize);
  color: var(--#{$notification-drawer}__list-item-timestamp--Color);
}

.#{$notification-drawer}__group-list {
  display: flex;
  flex-direction: column;
}

.#{$notification-drawer}__group {
  &.pf-m-expanded {
    min-height: var(--#{$notification-drawer}__group--m-expanded--MinHeight);

    + .#{$notification-drawer}__group {
      border-block-start: var(--#{$notification-drawer}__group--m-expanded--group--BorderTopWidth) solid var(--#{$notification-drawer}__group--m-expanded--group--BorderTopColor);
    }
  }

  .#{$notification-drawer}__list-item:last-child {
    --#{$notification-drawer}__list-item--BorderBottomWidth: 0;
    --#{$notification-drawer}__list-item--before--Bottom: 0;
  }
}

.#{$notification-drawer}__group-toggle {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding-block-start: var(--#{$notification-drawer}__group-toggle--PaddingTop);
  padding-block-end: var(--#{$notification-drawer}__group-toggle--PaddingBottom);
  padding-inline-start: var(--#{$notification-drawer}__group-toggle--PaddingLeft);
  padding-inline-end: var(--#{$notification-drawer}__group-toggle--PaddingRight);
  background-color: var(--#{$notification-drawer}__group-toggle--BackgroundColor);
  border: 0 solid var(--#{$notification-drawer}__group-toggle--BorderColor);
  border-block-end-width: var(--#{$notification-drawer}__group-toggle--BorderBottomWidth);
  outline-offset: var(--#{$notification-drawer}__group-toggle--OutlineOffset);
}

.#{$notification-drawer}__group-toggle-title {
  @include pf-v5-line-clamp("var(--#{$notification-drawer}__group-toggle-title--max-lines)");

  flex: 1;
  margin-inline-end: var(--#{$notification-drawer}__group-toggle-title--MarginRight);
  text-align: start;
  word-break: break-word;
}

.#{$notification-drawer}__group-toggle-count {
  margin-inline-start: auto;
  margin-inline-end: var(--#{$notification-drawer}__group-toggle-count--MarginRight);
}

.#{$notification-drawer}__group-toggle-icon {
  @include pf-v5-mirror-inline-on-rtl;

  margin-inline-end: var(--#{$notification-drawer}__group-toggle-icon--MarginRight);
  color: var(--#{$notification-drawer}__group-toggle-icon--Color);
  transition: var(--#{$notification-drawer}__group-toggle-icon--Transition);

  .#{$notification-drawer}__group.pf-m-expanded & {
    transform: rotate(var(--#{$notification-drawer}__group--m-expanded__group-toggle-icon--Rotate));
  }
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/notification-drawer";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-notification-drawer;
}
