<div class="pf-c-notification-drawer__task-list-item-hover-action{{#if notification-drawer-task-list-item-hover-action--modifier}} {{notification-drawer-task-list-item-hover-action--modifier}}{{/if}}"
  {{#if notification-drawer-task-list-item-hover-action--attribute}}
    {{{notification-drawer-task-list-item-hover-action--attribute}}}
  {{/if}}>
  <button class="pf-c-button pf-m-inline pf-m-link" type="a">{{> @partial-block}}</button>

  
</div>
