<div class="pf-c-notification-drawer__task-group-toggle-title{{#if notification-drawer-task-group-toggle-title--modifier}} {{notification-drawer-task-group-toggle-title--modifier}}{{/if}}"
  {{#if notification-drawer-task-group-toggle-title--attribute}}
    {{{notification-drawer-task-group-toggle-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
