<div class="pf-c-notification-drawer__task-group-toggle-count{{#if notification-drawer-task-group-toggle-count--modifier}} {{notification-drawer-task-group-toggle-count--modifier}}{{/if}}"
  {{#if notification-drawer-task-group-toggle-count--attribute}}
    {{{notification-drawer-task-group-toggle-count--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
