<div class="pf-c-notification-drawer__task-list-item-title{{#if notification-drawer-task-list-item-title--modifier}} {{notification-drawer-task-list-item-title--modifier}}{{/if}}"
  {{#if notification-drawer-task-list-item-title--attribute}}
    {{{notification-drawer-task-list-item-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
