<div class="pf-c-notification-drawer__header-action-button{{#if notification-drawer-header-action-button--modifier}} {{notification-drawer-header-action-button--modifier}}{{/if}}"
  {{#if notification-drawer-header-action-button--attribute}}
    {{{notification-drawer-header-action-button--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Close"'}}
    <i class="fas fa-times" aria-hidden="true"></i>
  {{/button}}
</div>
