<div class="pf-c-notification-drawer__task-list-item-status{{#if notification-drawer-task-list-item-status--modifier}} {{notification-drawer-task-list-item-status--modifier}}{{/if}}"
  {{#if notification-drawer-task-list-item-status--attribute}}
    {{{notification-drawer-task-list-item-status--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
