<div class="pf-c-notification-drawer__task-group-toggle-status{{#if notification-drawer-task-group-toggle-status--modifier}} {{notification-drawer-task-group-toggle-status--modifier}}{{/if}}"
  {{#if notification-drawer-task-group-toggle-status--attribute}}
    {{{notification-drawer-task-group-toggle-status--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
