<div class="pf-c-notification-drawer__task-group-toggle-timestamp{{#if notification-drawer-task-group-toggle-timestamp--modifier}} {{notification-drawer-task-group-toggle-timestamp--modifier}}{{/if}}"
  {{#if notification-drawer-task-group-toggle-timestamp--attribute}}
    {{{notification-drawer-task-group-toggle-timestamp--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
