<div class="pf-c-notification-drawer__task-group-toggle-header{{#if notification-drawer-task-group-toggle-header--modifier}} {{notification-drawer-task-group-toggle-header--modifier}}{{/if}}">
  {{> @partial-block}}
</div>
