<div class="pf-c-notification-drawer__task-group-toggle-action{{#if notification-drawer-task-group-toggle-action--modifier}} {{notification-drawer-task-group-toggle-action--modifier}}{{/if}}"
  {{#if notification-drawer-task-group-toggle-action--attribute}}
    {{{notification-drawer-task-group-toggle-action--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
