<div class="{{pfv}}notification-drawer__header-action-close{{#if notification-drawer-header-action-close--modifier}} {{notification-drawer-header-action-close--modifier}}{{/if}}"
  {{#if notification-drawer-header-action-close--attribute}}
    {{{notification-drawer-header-action-close--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--IsIcon=true button--icon="times" button--attribute='aria-label="Close"'}}
</div>
