<div class="pf-c-notification-drawer__task-group-list{{#if notification-drawer-task-group-list--modifier}} {{notification-drawer-task-group-list--modifier}}{{/if}}"
  {{#if notification-drawer-task-group-list--attribute}}
    {{{notification-drawer-task-group-list--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
