// @debug $notification-drawer; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root, 
.#{$notification-drawer} {
  --#{$notification-drawer}--BackgroundColor: var(--pf-t--global--background--color--floating--default);

  // Header
  --#{$notification-drawer}__header--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__header--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$notification-drawer}__header--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__header--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$notification-drawer}__header--BackgroundColor: var(--pf-t--global--background--color--floating--default);
  --#{$notification-drawer}__header--ZIndex: var(--pf-t--global--Zindex--sm);
  --#{$notification-drawer}__header-title--FontSize: var(--pf-t--global--font--size--heading--md);
  --#{$notification-drawer}__header-title--FontWeight: var(--pf-t--global--font--weight--heading--bold);
  --#{$notification-drawer}__header-title--LineHeight: var(--pf-t--global--font--line-height--heading);
  --#{$notification-drawer}__header-title--FontFamily: var(--pf-t--global--font--family--heading);
  --#{$notification-drawer}__header-status--MarginLeft: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__header-status--FontWeight: var(--pf-t--global--font--weight--body--bold);
  --#{$notification-drawer}__header-status--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$notification-drawer}__header-status--Color: var(--pf-t--global--text--color--subtle);

  // Body
  --#{$notification-drawer}__body--ZIndex: var(--pf-t--global--Zindex--xs);
  --#{$notification-drawer}__body--PaddingBlockStart: 0; // TODO var(--pf-t--global--spacer--sm);
  --#{$notification-drawer}__body--PaddingBlockEnd: var(--pf-t--global--spacer--md);

  // List
  --#{$notification-drawer}__list--Gap: var(--pf-t--global--spacer--sm);
  --#{$notification-drawer}__list--PaddingInlineStart: var(--pf-t--global--spacer--lg);
  --#{$notification-drawer}__list--PaddingInlineEnd: var(--pf-t--global--spacer--lg);

  // List item
  --#{$notification-drawer}__list-item--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__list-item--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__list-item--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__list-item--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__list-item--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$notification-drawer}__list-item--BorderWidth: var(--pf-t--global--border--width--box--status--default);
  --#{$notification-drawer}__list-item--BorderRadius: var(--pf-t--global--border--radius--medium);

  // List item modifiers
  --#{$notification-drawer}__list-item--m-info__list-item-header-icon--Color: var(--pf-t--global--icon--color--status--info--default);
  --#{$notification-drawer}__list-item--m-info__list-item--BorderColor: var(--pf-t--global--border--color--status--info--default);
  --#{$notification-drawer}__list-item--m-warning__list-item-header-icon--Color: var(--pf-t--global--icon--color--status--warning--default);
  --#{$notification-drawer}__list-item--m-warning__list-item--BorderColor: var(--pf-t--global--border--color--status--warning--default);
  --#{$notification-drawer}__list-item--m-danger__list-item-header-icon--Color: var(--pf-t--global--icon--color--status--danger--default);
  --#{$notification-drawer}__list-item--m-danger__list-item--BorderColor: var(--pf-t--global--border--color--status--danger--default);
  --#{$notification-drawer}__list-item--m-success__list-item-header-icon--Color: var(--pf-t--global--icon--color--status--success--default);
  --#{$notification-drawer}__list-item--m-success__list-item--BorderColor: var(--pf-t--global--border--color--status--success--default);
  --#{$notification-drawer}__list-item--m-custom__list-item-header-icon--Color: var(--pf-t--global--icon--color--status--custom--default);
  --#{$notification-drawer}__list-item--m-custom__list-item--BorderColor: var(--pf-t--global--border--color--status--custom--default);
  --#{$notification-drawer}__list-item--m-read--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$notification-drawer}__list-item--m-read--BorderWidth: var(--pf-t--global--border--width--box--status--read);
  --#{$notification-drawer}__list-item--m-read--BorderColor: var(--pf-t--global--border--color--default);
  --#{$notification-drawer}__list-item--m-hoverable--hover--BackgroundColor: var(--pf-t--global--background--color--primary--hover);

  // List item header
  --#{$notification-drawer}__list-item-header--MarginBottom: var(--pf-t--global--spacer--xs);

  // List item header icon
  --#{$notification-drawer}__list-item-header-icon--Color: inherit;
  --#{$notification-drawer}__list-item-header-icon--MarginRight: var(--pf-t--global--spacer--sm);

  // List item header title
  --#{$notification-drawer}__list-item-header-title--FontFamily: var(--pf-t--global--font--family--heading);
  --#{$notification-drawer}__list-item-header-title--FontSize: var(--pf-t--global--font--size--heading--xs);
  --#{$notification-drawer}__list-item-header-title--FontWeight: var(--pf-t--global--font--weight--heading--bold);
  --#{$notification-drawer}__list-item-header-title--LineHeight: var(--pf-t--global--font--line-height--heading);
  --#{$notification-drawer}__list-item-header-title--max-lines: 1;

  // List item description
  --#{$notification-drawer}__list-item-description--MarginBottom: var(--pf-t--global--spacer--sm);

  // List item timestamp
  --#{$notification-drawer}__list-item-timestamp--Color: var(--pf-t--global--text--color--subtle);
  --#{$notification-drawer}__list-item-timestamp--FontSize: var(--pf-t--global--font--size--body--default);

  // Group
  --#{$notification-drawer}__group--BorderBottomWidth: var(--pf-t--global--border--width--divider--default);
  --#{$notification-drawer}__group--m-expanded--group--BorderBottomColor: var(--pf-t--global--border--color--default);
  --#{$notification-drawer}__group--m-expanded--MinHeight: 0; // remove at breaking change
  --#{$notification-drawer}__group--m-expanded--PaddingBlockEnd: var(--pf-t--global--spacer--md);


  // Group toggle
  --#{$notification-drawer}__group-toggle--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__group-toggle--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$notification-drawer}__group-toggle--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__group-toggle--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$notification-drawer}__group-toggle--BackgroundColor: var(--pf-t--global--background--color--floating--default);
  --#{$notification-drawer}__group-toggle--OutlineOffset: #{pf-size-prem(-4px)};

  // Group toggle title
  --#{$notification-drawer}__group-toggle-title--MarginRight: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__group-toggle-title--FontSize: var(--pf-t--global--font--size--body--lg);
  --#{$notification-drawer}__group-toggle-title--max-lines: 1;

  // Group toggle count
  --#{$notification-drawer}__group-toggle-count--MarginRight: var(--pf-t--global--spacer--md);

  // Group toggle icon
  --#{$notification-drawer}__group-toggle-icon--MarginRight: var(--pf-t--global--spacer--md);
  --#{$notification-drawer}__group-toggle-icon--Color: var(--pf-t--global--icon--color--regular);
  --#{$notification-drawer}__group-toggle-icon--Transition: .2s ease-in 0s;
  --#{$notification-drawer}__group--m-expanded__group-toggle-icon--Rotate: 90deg;
}

.#{$notification-drawer} {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--#{$notification-drawer}--BackgroundColor);
}

.#{$notification-drawer}__header {
  position: relative;
  z-index: var(--#{$notification-drawer}__header--ZIndex);
  display: flex;
  flex-shrink: 0;
  align-items: baseline;
  padding-block-start: var(--#{$notification-drawer}__header--PaddingTop);
  padding-block-end: var(--#{$notification-drawer}__header--PaddingBottom);
  padding-inline-start: var(--#{$notification-drawer}__header--PaddingLeft);
  padding-inline-end: var(--#{$notification-drawer}__header--PaddingRight);
  background-color: var(--#{$notification-drawer}__header--BackgroundColor);
}

.#{$notification-drawer}__header-title {
  font-family: var(--#{$notification-drawer}__header-title--FontFamily);
  font-size: var(--#{$notification-drawer}__header-title--FontSize);
  font-weight: var(--#{$notification-drawer}__header-title--FontWeight);
  line-height: var(--#{$notification-drawer}__header-title--LineHeight);
}

.#{$notification-drawer}__header-status {
  margin-inline-start: var(--#{$notification-drawer}__header-status--MarginLeft);
  font-size: var(--#{$notification-drawer}__header-status--FontSize);
  font-weight: var(--#{$notification-drawer}__header-status--FontWeight);
  color: var(--#{$notification-drawer}__header-status--Color);
}

.#{$notification-drawer}__header-action {
  display: flex;
  align-items: center;
  margin-inline-start: auto;
}

.#{$notification-drawer}__body {
  flex: 1;
  padding-block-start: var(--#{$notification-drawer}__body--PaddingBlockStart);
  padding-block-end: var(--#{$notification-drawer}__body--PaddingBlockEnd);
  overflow-y: auto;
}

.#{$notification-drawer}__list:not([hidden]) {
  display: flex;
  flex-direction: column;
  gap: var(--#{$notification-drawer}__list--Gap);
  padding-inline-start: var(--#{$notification-drawer}__list--PaddingInlineStart);
  padding-inline-end: var(--#{$notification-drawer}__list--PaddingInlineEnd);
}

.#{$notification-drawer}__list-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-block-start: var(--#{$notification-drawer}__list-item--PaddingTop);
  padding-block-end: var(--#{$notification-drawer}__list-item--PaddingBottom);
  padding-inline-start: var(--#{$notification-drawer}__list-item--PaddingLeft);
  padding-inline-end: var(--#{$notification-drawer}__list-item--PaddingRight);
  background-color: var(--#{$notification-drawer}__list-item--BackgroundColor);
  border: var(--#{$notification-drawer}__list-item--BorderWidth) solid var(--#{$notification-drawer}__list-item--BorderColor);
  border-radius: var(--#{$notification-drawer}__list-item--BorderRadius);

  &.pf-m-info {
    --#{$notification-drawer}__list-item--BorderColor: var(--#{$notification-drawer}__list-item--m-info__list-item--BorderColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-info__list-item-header-icon--Color);
  }

  &.pf-m-warning {
    --#{$notification-drawer}__list-item--BorderColor: var(--#{$notification-drawer}__list-item--m-warning__list-item--BorderColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-warning__list-item-header-icon--Color);
  }

  &.pf-m-danger {
    --#{$notification-drawer}__list-item--BorderColor: var(--#{$notification-drawer}__list-item--m-danger__list-item--BorderColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-danger__list-item-header-icon--Color);
  }

  &.pf-m-success {
    --#{$notification-drawer}__list-item--BorderColor: var(--#{$notification-drawer}__list-item--m-success__list-item--BorderColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-success__list-item-header-icon--Color);
  }

  &.pf-m-custom {
    --#{$notification-drawer}__list-item--BorderColor: var(--#{$notification-drawer}__list-item--m-custom__list-item--BorderColor);
    --#{$notification-drawer}__list-item-header-icon--Color: var(--#{$notification-drawer}__list-item--m-custom__list-item-header-icon--Color);
  }

  &.pf-m-read {
    --#{$notification-drawer}__list-item--BorderWidth: var(--#{$notification-drawer}__list-item--m-read--BorderWidth);
    --#{$notification-drawer}__list-item--BackgroundColor: var(--#{$notification-drawer}__list-item--m-read--BackgroundColor);
    --#{$notification-drawer}__list-item--BorderColor: var(--#{$notification-drawer}__list-item--m-read--BorderColor);

    position: relative;
  }

  &.pf-m-hoverable {
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--#{$notification-drawer}__list-item--m-hoverable--hover--BackgroundColor);
    }
  }
}

.#{$notification-drawer}__list-item-header {
  display: flex;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-items: baseline;
  margin-block-end: var(--#{$notification-drawer}__list-item-header--MarginBottom);
}

.#{$notification-drawer}__list-item-header-icon {
  margin-inline-end: var(--#{$notification-drawer}__list-item-header-icon--MarginRight);
  color: var(--#{$notification-drawer}__list-item-header-icon--Color);
}

.#{$notification-drawer}__list-item-header-title {
  font-family: var(--#{$notification-drawer}__list-item-header-title--FontFamily);
  font-size: var(--#{$notification-drawer}__list-item-header-title--FontSize);
  font-weight: var(--#{$notification-drawer}__list-item-header-title--FontWeight);
  line-height: var(--#{$notification-drawer}__list-item-header-title--LineHeight);
  word-break: break-word;

  &.pf-m-truncate {
    @include pf-v5-line-clamp("var(--#{$notification-drawer}__list-item-header-title--max-lines)");
  }
}

.#{$notification-drawer}__list-item-action {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.#{$notification-drawer}__list-item-description {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-block-end: var(--#{$notification-drawer}__list-item-description--MarginBottom);
  word-break: break-word;
}

.#{$notification-drawer}__list-item-timestamp {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: var(--#{$notification-drawer}__list-item-timestamp--FontSize);
  color: var(--#{$notification-drawer}__list-item-timestamp--Color);
}

.#{$notification-drawer}__group-list {
  display: flex;
  flex-direction: column;
}

.#{$notification-drawer}__group {
  border-block-end: var(--#{$notification-drawer}__group--BorderBottomWidth) solid var(--#{$notification-drawer}__group--m-expanded--group--BorderBottomColor);

  &.pf-m-expanded {
    min-height: var(--#{$notification-drawer}__group--m-expanded--MinHeight);
    padding-block-end: var(--#{$notification-drawer}__group--m-expanded--PaddingBlockEnd);
  }
}

.#{$notification-drawer}__group-toggle {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding-block-start: var(--#{$notification-drawer}__group-toggle--PaddingTop);
  padding-block-end: var(--#{$notification-drawer}__group-toggle--PaddingBottom);
  padding-inline-start: var(--#{$notification-drawer}__group-toggle--PaddingLeft);
  padding-inline-end: var(--#{$notification-drawer}__group-toggle--PaddingRight);
  background-color: var(--#{$notification-drawer}__group-toggle--BackgroundColor);
  border: none;
  outline-offset: var(--#{$notification-drawer}__group-toggle--OutlineOffset);
}

.#{$notification-drawer}__group-toggle-title {
  @include pf-v5-line-clamp("var(--#{$notification-drawer}__group-toggle-title--max-lines)");

  flex: 1;
  margin-inline-end: var(--#{$notification-drawer}__group-toggle-title--MarginRight);
  font-size: var(--#{$notification-drawer}__group-toggle-title--FontSize);
  text-align: start;
  word-break: break-word;
}

.#{$notification-drawer}__group-toggle-count {
  margin-inline-start: auto;
  margin-inline-end: var(--#{$notification-drawer}__group-toggle-count--MarginRight);
}

.#{$notification-drawer}__group-toggle-icon {
  @include pf-v6-mirror-inline-on-rtl;

  margin-inline-end: var(--#{$notification-drawer}__group-toggle-icon--MarginRight);
  color: var(--#{$notification-drawer}__group-toggle-icon--Color);
  transition: var(--#{$notification-drawer}__group-toggle-icon--Transition);

  .#{$notification-drawer}__group.pf-m-expanded & {
    transform: rotate(var(--#{$notification-drawer}__group--m-expanded__group-toggle-icon--Rotate));
  }
}

