{{#> app-launcher id="app-launcher-example-sections-icons" app-launcher--IsExpanded="true" aria-label="Actions" app-launcher--IsNav="true" app-launcher--attribute='aria-label="global"'}}
  {{#> app-launcher-group}}
    <ul>
      <li>
        {{#> app-launcher-menu-item}}
          {{#> app-launcher-menu-item-icon}}
            <img src="https://kubernetes.io/images/favicon.png" alt="">
          {{/app-launcher-menu-item-icon}}
          Multi-Cluster Manager
        {{/app-launcher-menu-item}}
      </li>
    </ul>
  {{/app-launcher-group}}
  {{> app-launcher-separator app-launcher-separator--IsHr="true"}}
  {{#> app-launcher-group}}
    {{#> app-launcher-group-title}}Red Hat Applications{{/app-launcher-group-title}}
    <ul>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}
            <img src="https://seeklogo.com/images/R/redhat-logo-259A623E59-seeklogo.com.png" alt="">
          {{/app-launcher-menu-item-icon}}
          OpenShift Logging
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<!-- Created with Inkscape (http://www.inkscape.org/) by Marsupilami -->
<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   width="719"
   height="768"
   viewBox="-1.7338671 -1.7338671 61.2633042 65.4082292"
   id="svg45453">
  <defs
     id="defs45455" />
  <path
     d="m 54.22782,11.986615 c -0.5725,-1.1825 -1.235,-2.3237504 -2.00375,-3.4000004 l -8.2125,2.9887504 c 0.955,0.9775 1.7575,2.07625 2.41375,3.25125 l 7.8025,-2.84 z m -36.30287,9.08338 -8.215,2.98875 c 0.105,1.3175 0.3325,2.61875 0.65125,3.89375 l 7.80375,-2.84125 c -0.25375,-1.32 -0.34375,-2.68 -0.24,-4.04125"
     id="path44560"
     style="fill:#c22133;fill-opacity:1;fill-rule:nonzero;stroke:none" />
  <path
     d="m 36.1562,9.6601146 c 1.70875,0.7975004 3.18875,1.8850004 4.4375,3.1600004 l 8.2125,-2.9887504 c -2.275,-3.1925 -5.37375,-5.86 -9.17,-7.63125 -11.74125,-5.475 -25.74875,-0.3775 -31.2225,11.3625004 -1.7725,3.79875 -2.43125,7.83375 -2.12125,11.74125 l 8.21375,-2.98875 c 0.13625,-1.78 0.57,-3.56375 1.36625,-5.27375 C 19.42995,9.4138646 28.5287,6.1038646 36.1562,9.6601146"
     id="path44564"
     style="fill:#db212e;fill-opacity:1;fill-rule:nonzero;stroke:none" />
  <path
     d="m 44.91582,24.668245 c -0.13125,1.77875 -0.58,3.5625 -1.37875,5.27375 -3.55625,7.62875 -12.65625,10.93875 -20.2825,7.3825 -1.71125,-0.79875 -3.2025,-1.8775 -4.44625,-3.155 l -8.19625,2.9825 c 2.27,3.1925 5.365,5.86125 9.16375,7.63375 11.74125,5.47375 25.74625,0.37625 31.22125,-11.365 1.77375,-3.79625 2.4275,-7.83125 2.115,-11.735 l -8.19625,2.9825 z"
     id="path44572"
     style="fill:#db212e;fill-opacity:1;fill-rule:nonzero;stroke:none" />
  <path
     d="m 46.93545,14.641115 -7.80375,2.84 c 1.45,2.5975 2.135,5.5875 1.91,8.595 l 8.19625,-2.98125 c -0.235,-2.94125 -1.01875,-5.8125 -2.3025,-8.45375 m -36.06275,13.124 -7.80375,2.8425 c 0.71625,2.845 1.96,5.54875 3.67,7.955 l 8.195,-2.98375 c -2.10375,-2.16 -3.5025,-4.89375 -4.06125,-7.81375"
     id="path44576"
     style="fill:#eb2126;fill-opacity:1;fill-rule:nonzero;stroke:none" />
  <path
     d="m 53.03832,9.8229946 c -0.25875,-0.42 -0.5275,-0.83375 -0.81375,-1.23625 l -8.2125,2.9887504 c 0.36125,0.37 0.69375,0.7625 1.01125,1.165 l 8.015,-2.9175004 z M 17.89357,22.719365 c -0.02,-0.5475 -0.0113,-1.0975 0.0312,-1.64875 l -8.215,2.98875 c 0.0425,0.52625 0.10875,1.04875 0.1875,1.57 l 7.99625,-2.91 z"
     id="path44584"
     style="fill:#ad213b;fill-opacity:1;fill-rule:nonzero;stroke:none" />
  <path
     d="m 53.11157,21.685615 -8.19625,2.9825 c -0.0863,1.18 -0.31625,2.3625 -0.6925,3.525 l 8.92125,-3.2525 c 0.0638,-1.09 0.0537,-2.1775 -0.0325,-3.255 m -42.49875,15.4675 c 0.63125,0.88875 1.33,1.73625 2.08875,2.53625 l 8.9225,-3.25375 c -1.0425,-0.6525 -1.985,-1.41375 -2.81625,-2.26625 l -8.195,2.98375 z"
     id="path44588"
     style="fill:#ba2133;fill-opacity:1;fill-rule:nonzero;stroke:none" />
  <path
     d="m 52.68932,54.532115 0,0.74 2.14625,0 0,6.55375 0.8125,0 0,-6.55375 2.1475,0 0,-0.74 -5.10625,0 z m -4.9285,0.73938 0,2.4175 2,0 0,0.74 -2,0 0,3.39625 -0.8125,0 0,-7.2925 4.2825,0 0,0.73875 -3.47,0 z m -3.71775,-0.7385 0.8125,0 0,7.29375 -0.8125,0 0,-7.29375 z m -2.90425,7.29287 0,-3.43875 -3.62625,0 0,3.43875 -0.8125,0 0,-7.29375 0.8125,0 0,3.11625 3.62625,0 0,-3.11625 0.8125,0 0,7.29375 -0.8125,0 z m -8.66675,0.11463 c -0.99,0 -1.87625,-0.4275 -2.44875,-1.01 l 0.5425,-0.605 c 0.55125,0.53125 1.1875,0.87625 1.9375,0.87625 0.96875,0 1.57375,-0.48 1.57375,-1.25125 0,-0.6775 -0.40625,-1.0625 -1.74,-1.5425 -1.57375,-0.5625 -2.105,-1.0725 -2.105,-2.125 0,-1.1675 0.91625,-1.86625 2.28125,-1.86625 0.98,0 1.605,0.2925 2.22,0.7825 l -0.52125,0.635 c -0.53125,-0.4375 -1.02125,-0.6775 -1.75,-0.6775 -1.00125,0 -1.4175,0.5 -1.4175,1.07375 0,0.605 0.27125,0.9475 1.73,1.47 1.615,0.5825 2.115,1.125 2.115,2.20875 0,1.14625 -0.89625,2.03125 -2.4175,2.03125 m -5.7415,-0.11463 -2.6775,-3.98 c -0.1775,-0.27125 -0.4175,-0.63625 -0.51125,-0.82375 0,0.27125 0.0212,1.1875 0.0212,1.59375 l 0,3.21 -1.43875,0 0,-7.29375 1.39625,0 2.585,3.855 c 0.1775,0.27125 0.41625,0.63625 0.51,0.82375 0,-0.27125 -0.02,-1.1875 -0.02,-1.595 l 0,-3.08375 1.4375,0 0,7.29375 -1.3025,0 z m -11.50112,0 0,-7.29375 5.06375,0 0,1.4275 -3.605,0 0,1.26125 2.095,0 0,1.41625 -2.095,0 0,1.76125 3.76125,0 0,1.4275 -5.22,0 z m -4.14475,-2.58362 -1.605,0 0,2.58375 -1.45875,0 0,-7.29375 3.18875,0 c 1.375,0 2.51125,0.76125 2.51125,2.3125 0,1.68875 -1.125,2.3975 -2.63625,2.3975 m 0.0738,-3.2925 -1.67875,0 0,1.875 1.69875,0 c 0.6775,0 1.0425,-0.31375 1.0425,-0.94875 0,-0.635 -0.4175,-0.92625 -1.0625,-0.92625 M 3.21,61.940495 c -1.9075,0 -3.21,-1.39625 -3.21,-3.75125 0,-2.355 1.32375,-3.7725 3.23125,-3.7725 1.89625,0 3.19875,1.3975 3.19875,3.7525 0,2.355 -1.32375,3.77125 -3.22,3.77125 m -0.01,-6.075 c -1.02125,0 -1.69875,0.82375 -1.69875,2.30375 0,1.48 0.70875,2.3225 1.73,2.3225 1.02125,0 1.6975,-0.8225 1.6975,-2.3025 0,-1.48 -0.7075,-2.32375 -1.72875,-2.32375"
     id="path44622"
     style="fill:#241f21;fill-opacity:1;fill-rule:nonzero;stroke:none" />
</svg>
<!-- version: 20110311, original size: 57.79557 61.940495, border: 3% -->
          {{/app-launcher-menu-item-icon}}
          OpenShift ServiceMesh
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}
            <img src="https://www.3scale.net/images/3scale-logo-red-hat.png" alt="">
          {{/app-launcher-menu-item-icon}}
          Red Hat 3Scale
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}
            <img src="https://avatars2.githubusercontent.com/u/19912486?s=400&v=4" alt="">
          {{/app-launcher-menu-item-icon}}
          SkyDive
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
    </ul>
  {{/app-launcher-group}}
  {{> app-launcher-separator app-launcher-separator--IsHr="true"}}
  {{#> app-launcher-group}}
    {{#> app-launcher-group-title}}3rd Party Applications{{/app-launcher-group-title}}
    <ul>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 304 182" width="100" height="100" style="enable-background:new 0 0 304 182;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#252F3E;}
	.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FF9900;}
</style>
<g>
	<path class="st0" d="M86.4,66.4c0,3.7,0.4,6.7,1.1,8.9c0.8,2.2,1.8,4.6,3.2,7.2c0.5,0.8,0.7,1.6,0.7,2.3c0,1-0.6,2-1.9,3l-6.3,4.2
		c-0.9,0.6-1.8,0.9-2.6,0.9c-1,0-2-0.5-3-1.4C76.2,90,75,88.4,74,86.8c-1-1.7-2-3.6-3.1-5.9c-7.8,9.2-17.6,13.8-29.4,13.8
		c-8.4,0-15.1-2.4-20-7.2c-4.9-4.8-7.4-11.2-7.4-19.2c0-8.5,3-15.4,9.1-20.6c6.1-5.2,14.2-7.8,24.5-7.8c3.4,0,6.9,0.3,10.6,0.8
		c3.7,0.5,7.5,1.3,11.5,2.2v-7.3c0-7.6-1.6-12.9-4.7-16c-3.2-3.1-8.6-4.6-16.3-4.6c-3.5,0-7.1,0.4-10.8,1.3c-3.7,0.9-7.3,2-10.8,3.4
		c-1.6,0.7-2.8,1.1-3.5,1.3c-0.7,0.2-1.2,0.3-1.6,0.3c-1.4,0-2.1-1-2.1-3.1v-4.9c0-1.6,0.2-2.8,0.7-3.5c0.5-0.7,1.4-1.4,2.8-2.1
		c3.5-1.8,7.7-3.3,12.6-4.5c4.9-1.3,10.1-1.9,15.6-1.9c11.9,0,20.6,2.7,26.2,8.1c5.5,5.4,8.3,13.6,8.3,24.6V66.4z M45.8,81.6
		c3.3,0,6.7-0.6,10.3-1.8c3.6-1.2,6.8-3.4,9.5-6.4c1.6-1.9,2.8-4,3.4-6.4c0.6-2.4,1-5.3,1-8.7v-4.2c-2.9-0.7-6-1.3-9.2-1.7
		c-3.2-0.4-6.3-0.6-9.4-0.6c-6.7,0-11.6,1.3-14.9,4c-3.3,2.7-4.9,6.5-4.9,11.5c0,4.7,1.2,8.2,3.7,10.6
		C37.7,80.4,41.2,81.6,45.8,81.6z M126.1,92.4c-1.8,0-3-0.3-3.8-1c-0.8-0.6-1.5-2-2.1-3.9L96.7,10.2c-0.6-2-0.9-3.3-0.9-4
		c0-1.6,0.8-2.5,2.4-2.5h9.8c1.9,0,3.2,0.3,3.9,1c0.8,0.6,1.4,2,2,3.9l16.8,66.2l15.6-66.2c0.5-2,1.1-3.3,1.9-3.9c0.8-0.6,2.2-1,4-1
		h8c1.9,0,3.2,0.3,4,1c0.8,0.6,1.5,2,1.9,3.9l15.8,67l17.3-67c0.6-2,1.3-3.3,2-3.9c0.8-0.6,2.1-1,3.9-1h9.3c1.6,0,2.5,0.8,2.5,2.5
		c0,0.5-0.1,1-0.2,1.6c-0.1,0.6-0.3,1.4-0.7,2.5l-24.1,77.3c-0.6,2-1.3,3.3-2.1,3.9c-0.8,0.6-2.1,1-3.8,1h-8.6c-1.9,0-3.2-0.3-4-1
		c-0.8-0.7-1.5-2-1.9-4L156,23l-15.4,64.4c-0.5,2-1.1,3.3-1.9,4c-0.8,0.7-2.2,1-4,1H126.1z M254.6,95.1c-5.2,0-10.4-0.6-15.4-1.8
		c-5-1.2-8.9-2.5-11.5-4c-1.6-0.9-2.7-1.9-3.1-2.8c-0.4-0.9-0.6-1.9-0.6-2.8v-5.1c0-2.1,0.8-3.1,2.3-3.1c0.6,0,1.2,0.1,1.8,0.3
		c0.6,0.2,1.5,0.6,2.5,1c3.4,1.5,7.1,2.7,11,3.5c4,0.8,7.9,1.2,11.9,1.2c6.3,0,11.2-1.1,14.6-3.3c3.4-2.2,5.2-5.4,5.2-9.5
		c0-2.8-0.9-5.1-2.7-7c-1.8-1.9-5.2-3.6-10.1-5.2L246,52c-7.3-2.3-12.7-5.7-16-10.2c-3.3-4.4-5-9.3-5-14.5c0-4.2,0.9-7.9,2.7-11.1
		c1.8-3.2,4.2-6,7.2-8.2c3-2.3,6.4-4,10.4-5.2c4-1.2,8.2-1.7,12.6-1.7c2.2,0,4.5,0.1,6.7,0.4c2.3,0.3,4.4,0.7,6.5,1.1
		c2,0.5,3.9,1,5.7,1.6c1.8,0.6,3.2,1.2,4.2,1.8c1.4,0.8,2.4,1.6,3,2.5c0.6,0.8,0.9,1.9,0.9,3.3v4.7c0,2.1-0.8,3.2-2.3,3.2
		c-0.8,0-2.1-0.4-3.8-1.2c-5.7-2.6-12.1-3.9-19.2-3.9c-5.7,0-10.2,0.9-13.3,2.8c-3.1,1.9-4.7,4.8-4.7,8.9c0,2.8,1,5.2,3,7.1
		c2,1.9,5.7,3.8,11,5.5l14.2,4.5c7.2,2.3,12.4,5.5,15.5,9.6c3.1,4.1,4.6,8.8,4.6,14c0,4.3-0.9,8.2-2.6,11.6
		c-1.8,3.4-4.2,6.4-7.3,8.8c-3.1,2.5-6.8,4.3-11.1,5.6C264.4,94.4,259.7,95.1,254.6,95.1z"/>
	<g>
		<path class="st1" d="M273.5,143.7c-32.9,24.3-80.7,37.2-121.8,37.2c-57.6,0-109.5-21.3-148.7-56.7c-3.1-2.8-0.3-6.6,3.4-4.4
			c42.4,24.6,94.7,39.5,148.8,39.5c36.5,0,76.6-7.6,113.5-23.2C274.2,133.6,278.9,139.7,273.5,143.7z"/>
		<path class="st1" d="M287.2,128.1c-4.2-5.4-27.8-2.6-38.5-1.3c-3.2,0.4-3.7-2.4-0.8-4.5c18.8-13.2,49.7-9.4,53.3-5
			c3.6,4.5-1,35.4-18.6,50.2c-2.7,2.3-5.3,1.1-4.1-1.9C282.5,155.7,291.4,133.4,287.2,128.1z"/>
	</g>
</g>
</svg>
          {{/app-launcher-menu-item-icon}}
          AWS
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}

<svg width="154" height="250" viewBox="0 0 256 416" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M201.816 230.216c-16.186 0-30.697 7.171-40.634 18.461l-25.463-18.026c2.703-7.442 4.255-15.433 4.255-23.797 0-8.219-1.498-16.076-4.112-23.408l25.406-17.835c9.936 11.233 24.409 18.365 40.548 18.365 29.875 0 54.184-24.305 54.184-54.184 0-29.879-24.309-54.184-54.184-54.184-29.875 0-54.184 24.305-54.184 54.184 0 5.348.808 10.505 2.258 15.389l-25.423 17.844c-10.62-13.175-25.911-22.374-43.333-25.182v-30.64c24.544-5.155 43.037-26.962 43.037-53.019C124.171 24.305 99.862 0 69.987 0 40.112 0 15.803 24.305 15.803 54.184c0 25.708 18.014 47.246 42.067 52.769v31.038C25.044 143.753 0 172.401 0 206.854c0 34.621 25.292 63.374 58.355 68.94v32.774c-24.299 5.341-42.552 27.011-42.552 52.894 0 29.879 24.309 54.184 54.184 54.184 29.875 0 54.184-24.305 54.184-54.184 0-25.883-18.253-47.553-42.552-52.894v-32.775a69.965 69.965 0 0 0 42.6-24.776l25.633 18.143c-1.423 4.84-2.22 9.946-2.22 15.24 0 29.879 24.309 54.184 54.184 54.184 29.875 0 54.184-24.305 54.184-54.184 0-29.879-24.309-54.184-54.184-54.184zm0-126.695c14.487 0 26.27 11.788 26.27 26.271s-11.783 26.27-26.27 26.27-26.27-11.787-26.27-26.27c0-14.483 11.783-26.271 26.27-26.271zm-158.1-49.337c0-14.483 11.784-26.27 26.271-26.27s26.27 11.787 26.27 26.27c0 14.483-11.783 26.27-26.27 26.27s-26.271-11.787-26.271-26.27zm52.541 307.278c0 14.483-11.783 26.27-26.27 26.27s-26.271-11.787-26.271-26.27c0-14.483 11.784-26.27 26.271-26.27s26.27 11.787 26.27 26.27zm-26.272-117.97c-20.205 0-36.642-16.434-36.642-36.638 0-20.205 16.437-36.642 36.642-36.642 20.204 0 36.641 16.437 36.641 36.642 0 20.204-16.437 36.638-36.641 36.638zm131.831 67.179c-14.487 0-26.27-11.788-26.27-26.271s11.783-26.27 26.27-26.27 26.27 11.787 26.27 26.27c0 14.483-11.783 26.271-26.27 26.271z"/></svg>
          {{/app-launcher-menu-item-icon}}
          Kafka
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 48 48"><defs><linearGradient id="0" x1="24.2" y1="47.593" x2="25.627" y2="0" gradientUnits="userSpaceOnUse"><stop stop-color="#74cb32"/><stop offset="1" stop-color="#abeb6b"/></linearGradient></defs><circle r="24" cy="24" cx="24" fill="url(#0)"/><g transform="matrix(.05078 0 0 .05078 10 10)" fill="#283d16"><path d="m413.69 0c0 0-45.37 44.01-94.43 61.759-363.33 131.42-210.1 387.52-205.1 388.36 0 0 20.374-35.48 47.896-55.717 174.64-128.39 210.14-276.17 210.14-276.17 0 0-39.19 177.83-194.56 288.48-34.32 24.426-57.55 84.57-67.39 144.68 0 0 24.325-9.828 34.785-12.49 4.079-26.618 12.607-52.11 27.03-74.875 217.15 25.854 288.27-149.12 297.56-210.14 21.929-144.1-55.928-253.89-55.928-253.89"/></g></svg>          {{/app-launcher-menu-item-icon}}
          Mongo
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
    </ul>
  {{/app-launcher-group}}
  {{> app-launcher-separator app-launcher-separator--IsHr="true"}}
  {{#> app-launcher-group}}
    {{#> app-launcher-group-title}}
      Customer Applications
    {{/app-launcher-group-title}}
    <ul>
      <li>
        {{#> app-launcher-menu-item}}
          {{#> app-launcher-menu-item-icon}}
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="800px" height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
<g>
	<g>
		<g>
			<path fill="#002D73" d="M63.925,603.719v105.776c0,0.991,0.772,1.838,1.754,1.918c5.575,0.468,11.764,0.468,18.27,0
				c5.312-0.402,11.791-1.165,19.787-2.317c-0.291,1.607-0.437,3.355-0.437,5.24c0,1.607,0.164,3.556,0.479,5.67H40.822V603.745
				c1.201,0.104,2.731,0.48,4.664,0.558c2.938,0.116,5.731,0.135,7.367,0.034l5.664-0.024
				C60.669,604.015,62.455,603.812,63.925,603.719z M139.387,609.508c-3.357,0.199-5.595-0.026-7.21,0.023h-5.663
				c-1.995-0.273-3.523-0.448-4.681-0.558v111.032h21.92V608.95C142.493,609.044,141.078,609.407,139.387,609.508z M161.097,608.87
				c0.211,1.572,0.318,3.145,0.318,4.689c0,2.021-0.101,3.816-0.288,5.342h3.657c10.37-1.313,19.078-1.98,25.761-1.98
				c1.064,0,1.926,0.859,1.926,1.92v101.165h21.262V618.841c0-1.061,0.862-1.92,1.926-1.92c4.856,0,11.807,0.445,20.679,1.323
				c2.241,0.326,4.623,0.528,7.104,0.618c-0.252-1.528-0.252-3.29,0.013-5.255c-0.28-1.574-0.265-3.165,0.046-4.737H161.097z
				 M260.942,608.87v111.136h60.045c-0.3-2.006-0.453-3.834-0.453-5.336c0-1.733,0.131-3.354,0.384-4.846
				c-4.098,0.625-8.65,1.127-13.53,1.462c-5.678,0.447-13.509,0.677-23.268,0.677c-1.063,0-1.917-0.863-1.917-1.932v-42.955
				c0-1.055,0.854-1.922,1.917-1.922h16.068c5.354,0.318,9.662,0.629,13.961,0.94l3.192,0.222c-0.092-0.425-0.198-0.901-0.323-1.415
				l-0.057-7.728c0-0.22,0.03-0.431,0.104-0.617c0.049-0.151,0.096-0.303,0.142-0.445c-5.661,0.699-10.834,0.997-17.02,0.997H284.12
				c-1.063,0-1.917-0.863-1.917-1.924v-36.344c0-1.061,0.854-1.92,1.917-1.92c11.857,0,24.295,0.771,37.02,2.302
				c-0.408-1.758-0.605-3.438-0.605-5.004c0-1.867,0.197-3.664,0.61-5.349H260.942z M411.373,685.854
				c-0.455-13.723-11.015-25.915-31.429-36.126c-15.126-7.798-22.47-15.368-22.47-23.133c0-12.517,7.329-19.389,21.207-19.889
				c9.435,0,16.7,5.06,21.62,15.052c0.52-1.752,1.238-4.004,2.171-6.829c1.135-2.999,2.096-5.511,2.9-7.59
				c-7.254-4.319-15.997-6.729-26.01-7.149c-25.184,1.333-37.889,12.932-38.766,35.455c0,15.179,9.615,27.368,28.598,36.185
				c15.861,7.21,23.899,15.469,23.899,24.533c-1.01,12.733-8.604,19.395-22.575,19.895c-13.826-0.481-22.474-6.98-25.76-19.355
				h-0.244c-0.889,6.729-2.289,13.359-4.181,19.739c8.412,3.179,17.14,5.01,25.973,5.444
				C394.198,722.085,409.594,708.862,411.373,685.854z M448.097,669.861c-0.334,0.024-0.822,0.107-1.218,0.512
				c-0.357,0.343-0.563,0.826-0.563,1.316v48.316h-22.064V608.852h39.746c22.761,0,34.037,8.694,34.458,26.57
				c0.168,9.729-2.507,17.47-7.939,22.999c-7.479,7.619-20.564,11.479-38.896,11.479
				C450.496,669.899,449.361,669.885,448.097,669.861z M447.897,664.263c0.85,0.128,1.766,0.19,2.693,0.19
				c2.711,0,5.836-0.525,9.285-1.559c10.011-2.862,15.572-11.005,16.509-24.319c-0.937-15.014-6.845-23.362-17.672-24.822h-10.551
				c-1.015,0-1.846,0.83-1.846,1.843v46.854C446.316,663.357,446.994,664.137,447.897,664.263z M586.72,608.852v111.154h60.145
				c-0.293-2.02-0.453-3.882-0.453-5.422c0-1.764,0.129-3.419,0.404-4.931c-4.147,0.638-8.729,1.143-13.622,1.483
				c-5.726,0.444-13.318,0.666-23.218,0.666c-1.018,0-1.842-0.826-1.842-1.838v-42.9c0-1.009,0.824-1.838,1.842-1.838h17.812
				c6.685,0.402,12.781,0.788,18.361,1.171c-0.1-0.457-0.202-0.969-0.346-1.529l-0.056-7.694c0-0.209,0.024-0.411,0.099-0.587
				c0.063-0.2,0.127-0.39,0.185-0.567c-5.564,0.664-11.697,1.008-18.243,1.008h-17.812c-1.018,0-1.842-0.83-1.842-1.835v-36.3
				c0-1.013,0.824-1.838,1.842-1.838c11.874,0,24.333,0.784,37.065,2.314c-0.425-1.792-0.63-3.5-0.63-5.091
				c0-1.91,0.205-3.724,0.646-5.427H586.72z M698.928,720.006h-36.622V608.852l47.105-0.011c31.761,2.159,48.04,19.265,49.767,52.18
				C757.045,698.023,736.772,717.867,698.928,720.006z M734.47,661.127c0-30.556-13.717-46.058-40.768-46.058h-8.16
				c-1.007,0-1.833,0.833-1.833,1.843v95.038c0,1.005,0.826,1.836,1.833,1.836h7.217c13.818,0,24.367-4.51,31.35-13.404
				C730.976,691.623,734.47,678.408,734.47,661.127z M510.774,608.852v111.154h60.134c-0.292-2.02-0.452-3.882-0.452-5.422
				c0-1.764,0.13-3.419,0.395-4.931c-4.155,0.638-8.729,1.143-13.61,1.483c-5.725,0.444-13.327,0.666-23.23,0.666
				c-1.007,0-1.837-0.826-1.837-1.838v-42.9c0-1.009,0.83-1.838,1.837-1.838h17.819c6.696,0.402,12.783,0.788,18.363,1.171
				c-0.097-0.457-0.207-0.969-0.343-1.529l-0.06-7.694c0-0.209,0.039-0.411,0.1-0.587c0.064-0.2,0.122-0.39,0.168-0.567
				c-5.544,0.664-11.672,1.008-18.229,1.008H534.01c-1.007,0-1.837-0.83-1.837-1.835v-36.3c0-1.013,0.83-1.838,1.837-1.838
				c11.876,0,24.337,0.784,37.07,2.314c-0.418-1.792-0.624-3.5-0.624-5.091c0-1.91,0.218-3.724,0.632-5.427H510.774z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path fill="#3E8EDE" d="M567.671,293.159L465.725,191.221l-43.429,55.117l46.826,46.82c4.311,4.325,4.311,11.389,0,15.697
					l-13.55,13.555c0,0,9.133,13.656,9.553,14.492c2.106,4.219,2.61,14.131-3.365,18.67l-106.487,81.74
					c-0.023,27.429-0.054,83.846-0.017,83.871c0.023,0.006,212.415-212.328,212.415-212.328
					C571.996,304.531,571.996,297.484,567.671,293.159z"/>
			</g>
			<g>
				<path fill="#002D73" d="M330.879,305.992c-4.312-4.309-4.312-11.354,0-15.686l13.556-13.556l-9.267-13.324
					c-4.424-6.268-3.037-15.165,3.066-19.824l106.504-81.757l0.074-83.81l-0.066-0.045l-0.054-0.076L232.324,290.306
					c-4.32,4.332-4.32,11.377,0.008,15.705l101.937,101.931l43.437-55.13L330.879,305.992z"/>
			</g>
		</g>
		<g>
			<path fill="none" stroke="#3E8EDE" stroke-miterlimit="10" d="M301.284,471.98c-2.016-0.135-4.026-1.457-4.905-3.229
				c-1.745-3.548,0.811-6.843,2.041-8.427l93.291-118.411c0.856-1.12,0.945-3.409,0.182-4.556l-52.076-74.903
				c-3.898-5.536-2.692-13.381,2.701-17.501l150.065-115.198c2.34-1.827,4.028-2.568,5.833-2.568c2.16,0,4.245,1.308,5.205,3.248
				c1.739,3.596-0.824,6.829-2.054,8.382l-93.321,118.447c-0.835,1.062-0.908,3.44-0.143,4.541c0,0,50.371,73.046,52.103,75.553
				c2.452,3.543,2.438,12.917-2.75,16.849L307.41,469.4C305.303,471.021,303.632,471.962,301.284,471.98z"/>
			<g>
				<path fill="#FFCE00" d="M454.815,338.737c1.216,1.839,2.295,8.754-0.735,11.061L304.006,464.984
					c-1.26,0.982-2.067,1.445-2.429,1.415c-0.518,0.03-0.144-0.88,1.237-2.653l93.284-118.385c2.354-3.038,2.511-8.043,0.346-11.175
					l-52.067-74.928C344.377,259.258,453.608,336.903,454.815,338.737z"/>
			</g>
			<g>
				<path fill="#FFDD6E" d="M454.815,338.737l-51.28-73.767c-2.173-3.134-1.994-8.145,0.34-11.123l93.291-118.433
					c1.387-1.766,1.746-2.654,1.25-2.654c-0.374,0-1.198,0.434-2.435,1.416L345.906,249.372c-3.015,2.312-3.72,6.776-1.529,9.887
					L454.815,338.737z"/>
			</g>
		</g>
	</g>
</g>
</svg>
          {{/app-launcher-menu-item-icon}}
          Application 1
        {{/app-launcher-menu-item}}
      </li>
    </ul>
  {{/app-launcher-group}}
{{/app-launcher}}
