{{#> app-launcher id="app-launcher-example-sections-icons" app-launcher--IsExpanded="true" aria-label="Actions" app-launcher--IsNav="true" app-launcher--attribute='aria-label="global"'}}
  {{#> app-launcher-group}}
    <ul>
      <li>
        {{#> app-launcher-menu-item}}
          {{#> app-launcher-menu-item-icon}}
            <img src="/assets/images/pf-logo-small.svg" alt="">
          {{/app-launcher-menu-item-icon}}
          Link not in group
        {{/app-launcher-menu-item}}
      </li>
    </ul>
  {{/app-launcher-group}}
  {{> app-launcher-separator app-launcher-separator--IsHr="true"}}
  {{#> app-launcher-group}}
    {{#> app-launcher-group-title}}
      Group 1
    {{/app-launcher-group-title}}
    <ul>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}
            <img src="/assets/images/pf-logo-small.svg" alt="">
          {{/app-launcher-menu-item-icon}}
          Group 1 link
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}
            <img src="/assets/images/pf-logo-small.svg" alt="">
          {{/app-launcher-menu-item-icon}}
          Group 1 link
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
    </ul>
  {{/app-launcher-group}}
  {{> app-launcher-separator app-launcher-separator--IsHr="true"}}
  {{#> app-launcher-group}}
    {{#> app-launcher-group-title}}
      Group 2
    {{/app-launcher-group-title}}
    <ul>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}
            <img src="/assets/images/pf-logo-small.svg" alt="">
          {{/app-launcher-menu-item-icon}}
          Group 2 link
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
      <li>
        {{#> app-launcher-menu-item app-launcher-menu-item--modifier="pf-m-external" app-launcher-menu-item--attribute='target="_blank"'}}
          {{#> app-launcher-menu-item-icon}}
            <img src="/assets/images/pf-logo-small.svg" alt="">
          {{/app-launcher-menu-item-icon}}
          Group 2 link
          {{> app-launcher-menu-item-external-icon}}
        {{/app-launcher-menu-item}}
      </li>
    </ul>
  {{/app-launcher-group}}
  {{> app-launcher-separator app-launcher-separator--IsHr="true"}}
  {{#> app-launcher-group}}
    {{#> app-launcher-group-title}}
      Group 3
    {{/app-launcher-group-title}}
    <ul>
      <li>
        {{#> app-launcher-menu-item}}
          {{#> app-launcher-menu-item-icon}}
            <img src="/assets/images/pf-logo-small.svg" alt="">
          {{/app-launcher-menu-item-icon}}
          Group 3 link
        {{/app-launcher-menu-item}}
      </li>
    </ul>
  {{/app-launcher-group}}
{{/app-launcher}}
