<div class="pf-c-login-box__footer{{#if login-box-footer--modifier}} {{login-box-footer--modifier}}{{/if}}"
  {{#if login-box-footer--attribute}}
    {{{login-box-footer--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
