// @debug $brand; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss
$pf-v5-c-brand--breakpoint-map: build-breakpoint-map();

.#{$brand} {
  --#{$brand}--Width: auto;
  --#{$brand}--Height: auto;

  width: var(--#{$brand}--Width--base);
  height: var(--#{$brand}--Height--base);

  @include pf-v5-build-css-variable-stack("--#{$brand}--Width--base", "--#{$brand}--Width", $pf-v5-c-brand--breakpoint-map);
  @include pf-v5-build-css-variable-stack("--#{$brand}--Height--base", "--#{$brand}--Height", $pf-v5-c-brand--breakpoint-map);

  &.pf-m-picture {
    display: inline-flex;
    max-width: 100%; // move to _globals.scss at breaking change
  }
}
