@import "../../patternfly-utilities";

// Component variables follow this formula:
// --pf-c-brand__element--modifier--state--PropertyCamelCase

// The value of component scoped variables is always defined by a global variable:
:root {
  --pf-c-brand--FontSize: var(--pf-global--caption--FontSize, pf-font-prem(12px));
  --pf-c-brand--FontWeight: var(--pf-global--semi-bold--FontWeight, 600);
  --pf-c-brand--Color: var(--pf-global--light-color, #fafafa);
}

.pf-c-brand {
  font-size: var(--pf-c-brand--FontSize);
  font-weight: var(--pf-c-brand--FontWeight);
  color: var(--pf-c-brand--Color);
  text-transform: capitalize;
}

