// Set common reset styles for patternfly components

.#{$pf-prefix}screen-reader {
  @include pf-v5-u-screen-reader; // for use with assistive technologies

  &.pf-m-full-size {
    width: 100%;
    height: 100%;
  }

  &.pf-m-absolute {
    position: absolute;
  }
}

.#{$pf-prefix}m-tabular-nums {
  font-variant-numeric: tabular-nums;
}

// Variable font opt-in
.#{$pf-prefix}m-vf-font {
  --#{$pf-global}--FontFamily--text: var(--#{$pf-global}--FontFamily--text--vf);
  --#{$pf-global}--FontFamily--heading: var(--#{$pf-global}--FontFamily--heading--vf);
  --#{$pf-global}--FontFamily--monospace: var(--#{$pf-global}--FontFamily--monospace--vf);
}

// RTL helpers

// Sets a block to RTL
.#{$pf-prefix}m-dir-rtl {
  @include pf-v5-set-inverse;

  direction: rtl;
}

// Sets a block to LTR
.#{$pf-prefix}m-dir-ltr {
  @include pf-v5-set-inverse(false);

  direction: ltr;
}

// Mirrors/flips something horizontally/inline in RTL
.#{$pf-prefix}m-mirror-inline-rtl {
  @include pf-v5-mirror-inline-on-rtl;
}
