// Set common reset styles for patternfly components

.pf-screen-reader {
  @include pf-v5-u-screen-reader; // for use with assistive technologies

  &.pf-m-full-size {
    width: 100%;
    height: 100%;
  }

  &.pf-m-absolute {
    position: absolute;
  }
}

.pf-m-tabular-nums {
  font-variant-numeric: tabular-nums;
}
