// Reset - based on minireset.css v0.0.3 | MIT License github.com/jgthms/minireset.css
@if $pf-v5-global--enable-reset {
  :where(
    html,
    body,
    p,
    ol,
    ul,
    li,
    dl,
    dt,
    dd,
    blockquote,
    figure,
    fieldset,
    legend,
    textarea,
    pre,
    iframe,
    hr,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
   ) {
    padding: 0;
    margin: 0;
  }
}

// Normalize
@if $pf-v5-global--enable-normalize {
  *,
  :where(
    *::before,
    *::after
  ) {
    box-sizing: border-box;
  }

  :where(
    html,
    body
   ) {
    height: 100%;
  }

  // TODO
  :where(body) {
    font-family: var(--#{$token}global--font--family--body);
    font-size: var(--#{$token}global--font--size--body);
    font-weight: var(--#{$token}global--font--weight--body);
    line-height: var(--#{$token}global--font--line-height--body);
  }

  :where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
   ) {
    font-size: 100%;
    font-weight: var(--#{$token}global--font--weight--body);
  }

  :where(ul) {
    list-style: none;
  }

  :where(
    button,
    input,
    optgroup,
    select,
    textarea
   ) {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: var(--#{$token}global--font--line-height--body);
    color: var(--#{$token}global--text--color--regular);
  }

  :where(
    img,
    embed,
    iframe,
    object,
    audio,
    video
   ) {
    max-width: 100%;
    height: auto;
  }

  :where(iframe) {
    border: 0;
  }

  :where(table) {
    border-spacing: 0;
    border-collapse: collapse;
  }

  :where(
    td,
    th
  ) {
    padding: 0;
    text-align: left;
  }

  :where(
    code,
    pre
  ) {
    font-family: var(--#{$token}global--font--family--mono);
  }

  :where(a) {
    color: var(--#{$token}global--text--color--link--default);
    text-decoration: var(--#{$token}global--link--text-decoration);
  }

  :where(a:hover) {
    --#{$pf-global}--link--Color: var(--#{$token}global--text--color--link--hover);
    --#{$pf-global}--link--TextDecoration: var(--#{$token}global--link--text-decoration--hover);
  }

  :where(
    a,
    button
  ) {
    cursor: pointer;
  }
}

// stylelint-disable no-invalid-position-at-import-rule
@import "./themes/dark/globals";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-globals;
}
