#{$pf-v5--theme-dark--placeholder--class} {
  @extend %pf-v5-t-dark;

  &.pf-m-transparent {
    background-color: transparent;
  }

  &.pf-m-transparent-100 {
    background-color: rgba($pf-v5-color-black-1000, .42);
  }

  &.pf-m-transparent-200 {
    background-color: rgba($pf-v5-color-black-1000, .6);
  }

  &.pf-m-opaque-100 {
    background-color: $pf-v5-color-black-800;
  }

  &.pf-m-opaque-200 {
    background-color: $pf-v5-color-black-900;
  }
}

#{$pf-v5--theme-light--placeholder--class} {
  @extend %pf-v5-t-light;

  &.pf-m-transparent {
    background-color: transparent;
  }

  &.pf-m-opaque-100 {
    background-color: $pf-v5-color-white;
  }

  &.pf-m-opaque-200 {
    background-color: $pf-v5-color-black-100;
  }

  &.pf-m-opaque-300 {
    background-color: $pf-v5-color-black-200;
  }
}
