:where(:root) {
  // Colors
  // Global palette
  --#{$pf-global}--palette--black-100: #{$pf-v5-color-black-100};
  --#{$pf-global}--palette--black-150: #{$pf-v5-color-black-150};
  --#{$pf-global}--palette--black-200: #{$pf-v5-color-black-200};
  --#{$pf-global}--palette--black-300: #{$pf-v5-color-black-300};
  --#{$pf-global}--palette--black-400: #{$pf-v5-color-black-400};
  --#{$pf-global}--palette--black-500: #{$pf-v5-color-black-500};
  --#{$pf-global}--palette--black-600: #{$pf-v5-color-black-600};
  --#{$pf-global}--palette--black-700: #{$pf-v5-color-black-700};
  --#{$pf-global}--palette--black-800: #{$pf-v5-color-black-800};
  --#{$pf-global}--palette--black-850: #{$pf-v5-color-black-850};
  --#{$pf-global}--palette--black-900: #{$pf-v5-color-black-900};
  --#{$pf-global}--palette--black-1000: #{$pf-v5-color-black-1000};
  --#{$pf-global}--palette--blue-50: #{$pf-v5-color-blue-50};
  --#{$pf-global}--palette--blue-100: #{$pf-v5-color-blue-100};
  --#{$pf-global}--palette--blue-200: #{$pf-v5-color-blue-200};
  --#{$pf-global}--palette--blue-300: #{$pf-v5-color-blue-300};
  --#{$pf-global}--palette--blue-400: #{$pf-v5-color-blue-400};
  --#{$pf-global}--palette--blue-500: #{$pf-v5-color-blue-500};
  --#{$pf-global}--palette--blue-600: #{$pf-v5-color-blue-600};
  --#{$pf-global}--palette--blue-700: #{$pf-v5-color-blue-700};
  --#{$pf-global}--palette--cyan-50: #{$pf-v5-color-cyan-50};
  --#{$pf-global}--palette--cyan-100: #{$pf-v5-color-cyan-100};
  --#{$pf-global}--palette--cyan-200: #{$pf-v5-color-cyan-200};
  --#{$pf-global}--palette--cyan-300: #{$pf-v5-color-cyan-300};
  --#{$pf-global}--palette--cyan-400: #{$pf-v5-color-cyan-400};
  --#{$pf-global}--palette--cyan-500: #{$pf-v5-color-cyan-500};
  --#{$pf-global}--palette--cyan-600: #{$pf-v5-color-cyan-600};
  --#{$pf-global}--palette--cyan-700: #{$pf-v5-color-cyan-700};
  --#{$pf-global}--palette--gold-50: #{$pf-v5-color-gold-50};
  --#{$pf-global}--palette--gold-100: #{$pf-v5-color-gold-100};
  --#{$pf-global}--palette--gold-200: #{$pf-v5-color-gold-200};
  --#{$pf-global}--palette--gold-300: #{$pf-v5-color-gold-300};
  --#{$pf-global}--palette--gold-400: #{$pf-v5-color-gold-400};
  --#{$pf-global}--palette--gold-500: #{$pf-v5-color-gold-500};
  --#{$pf-global}--palette--gold-600: #{$pf-v5-color-gold-600};
  --#{$pf-global}--palette--gold-700: #{$pf-v5-color-gold-700};
  --#{$pf-global}--palette--green-50: #{$pf-v5-color-green-50};
  --#{$pf-global}--palette--green-100: #{$pf-v5-color-green-100};
  --#{$pf-global}--palette--green-200: #{$pf-v5-color-green-200};
  --#{$pf-global}--palette--green-300: #{$pf-v5-color-green-300};
  --#{$pf-global}--palette--green-400: #{$pf-v5-color-green-400};
  --#{$pf-global}--palette--green-500: #{$pf-v5-color-green-500};
  --#{$pf-global}--palette--green-600: #{$pf-v5-color-green-600};
  --#{$pf-global}--palette--green-700: #{$pf-v5-color-green-700};
  --#{$pf-global}--palette--light-blue-100: #{$pf-v5-color-light-blue-100};
  --#{$pf-global}--palette--light-blue-200: #{$pf-v5-color-light-blue-200};
  --#{$pf-global}--palette--light-blue-300: #{$pf-v5-color-light-blue-300};
  --#{$pf-global}--palette--light-blue-400: #{$pf-v5-color-light-blue-400};
  --#{$pf-global}--palette--light-blue-500: #{$pf-v5-color-light-blue-500};
  --#{$pf-global}--palette--light-blue-600: #{$pf-v5-color-light-blue-600};
  --#{$pf-global}--palette--light-blue-700: #{$pf-v5-color-light-blue-700};
  --#{$pf-global}--palette--light-green-100: #{$pf-v5-color-light-green-100};
  --#{$pf-global}--palette--light-green-200: #{$pf-v5-color-light-green-200};
  --#{$pf-global}--palette--light-green-300: #{$pf-v5-color-light-green-300};
  --#{$pf-global}--palette--light-green-400: #{$pf-v5-color-light-green-400};
  --#{$pf-global}--palette--light-green-500: #{$pf-v5-color-light-green-500};
  --#{$pf-global}--palette--light-green-600: #{$pf-v5-color-light-green-600};
  --#{$pf-global}--palette--light-green-700: #{$pf-v5-color-light-green-700};
  --#{$pf-global}--palette--orange-50: #{$pf-v5-color-orange-50};
  --#{$pf-global}--palette--orange-100: #{$pf-v5-color-orange-100};
  --#{$pf-global}--palette--orange-200: #{$pf-v5-color-orange-200};
  --#{$pf-global}--palette--orange-300: #{$pf-v5-color-orange-300};
  --#{$pf-global}--palette--orange-400: #{$pf-v5-color-orange-400};
  --#{$pf-global}--palette--orange-500: #{$pf-v5-color-orange-500};
  --#{$pf-global}--palette--orange-600: #{$pf-v5-color-orange-600};
  --#{$pf-global}--palette--orange-700: #{$pf-v5-color-orange-700};
  --#{$pf-global}--palette--purple-50: #{$pf-v5-color-purple-50};
  --#{$pf-global}--palette--purple-100: #{$pf-v5-color-purple-100};
  --#{$pf-global}--palette--purple-200: #{$pf-v5-color-purple-200};
  --#{$pf-global}--palette--purple-300: #{$pf-v5-color-purple-300};
  --#{$pf-global}--palette--purple-400: #{$pf-v5-color-purple-400};
  --#{$pf-global}--palette--purple-500: #{$pf-v5-color-purple-500};
  --#{$pf-global}--palette--purple-600: #{$pf-v5-color-purple-600};
  --#{$pf-global}--palette--purple-700: #{$pf-v5-color-purple-700};
  --#{$pf-global}--palette--red-50: #{$pf-v5-color-red-50};
  --#{$pf-global}--palette--red-100: #{$pf-v5-color-red-100};
  --#{$pf-global}--palette--red-200: #{$pf-v5-color-red-200};
  --#{$pf-global}--palette--red-300: #{$pf-v5-color-red-300};
  --#{$pf-global}--palette--red-400: #{$pf-v5-color-red-400};
  --#{$pf-global}--palette--red-500: #{$pf-v5-color-red-500};
  --#{$pf-global}--palette--white: #{$pf-v5-color-white};

  // Background color
  --#{$pf-global}--BackgroundColor--100: #{$pf-v5-global--BackgroundColor--100};
  --#{$pf-global}--BackgroundColor--150: #{$pf-v5-global--BackgroundColor--150};
  --#{$pf-global}--BackgroundColor--200: #{$pf-v5-global--BackgroundColor--200};
  --#{$pf-global}--BackgroundColor--light-100: #{$pf-v5-global--BackgroundColor--light-100};
  --#{$pf-global}--BackgroundColor--light-200: #{$pf-v5-global--BackgroundColor--light-200};
  --#{$pf-global}--BackgroundColor--light-300: #{$pf-v5-global--BackgroundColor--light-300};
  --#{$pf-global}--BackgroundColor--dark-100: #{$pf-v5-global--BackgroundColor--dark-100};
  --#{$pf-global}--BackgroundColor--dark-200: #{$pf-v5-global--BackgroundColor--dark-200};
  --#{$pf-global}--BackgroundColor--dark-300: #{$pf-v5-global--BackgroundColor--dark-300};
  --#{$pf-global}--BackgroundColor--dark-400: #{$pf-v5-global--BackgroundColor--dark-400};
  --#{$pf-global}--BackgroundColor--dark-transparent-100: #{$pf-v5-global--BackgroundColor--dark-transparent-100};
  --#{$pf-global}--BackgroundColor--dark-transparent-200: #{$pf-v5-global--BackgroundColor--dark-transparent-200};

  // Text color
  --#{$pf-global}--Color--100: #{$pf-v5-global--Color--100};
  --#{$pf-global}--Color--200: #{$pf-v5-global--Color--200};
  --#{$pf-global}--Color--300: #{$pf-v5-global--Color--300};
  --#{$pf-global}--Color--400: #{$pf-v5-global--Color--400};
  --#{$pf-global}--Color--light-100: #{$pf-v5-global--Color--light-100};
  --#{$pf-global}--Color--light-200: #{$pf-v5-global--Color--light-200};
  --#{$pf-global}--Color--light-300: #{$pf-v5-global--Color--light-300};
  --#{$pf-global}--Color--dark-100: #{$pf-v5-global--Color--dark-100};
  --#{$pf-global}--Color--dark-200: #{$pf-v5-global--Color--dark-200};

  // States color
  --#{$pf-global}--active-color--100: #{$pf-v5-global--active-color--100};
  --#{$pf-global}--active-color--200: #{$pf-v5-global--active-color--200};
  --#{$pf-global}--active-color--300: #{$pf-v5-global--active-color--300};
  --#{$pf-global}--active-color--400: #{$pf-v5-global--active-color--400};
  --#{$pf-global}--disabled-color--100: #{$pf-v5-global--disabled-color--100};
  --#{$pf-global}--disabled-color--200: #{$pf-v5-global--disabled-color--200};
  --#{$pf-global}--disabled-color--300: #{$pf-v5-global--disabled-color--300};

  // Theme color
  --#{$pf-global}--primary-color--100: #{$pf-v5-global--primary-color--100};
  --#{$pf-global}--primary-color--200: #{$pf-v5-global--primary-color--200};
  --#{$pf-global}--primary-color--light-100: #{$pf-v5-global--primary-color--light-100};
  --#{$pf-global}--primary-color--dark-100: #{$pf-v5-global--primary-color--dark-100};
  --#{$pf-global}--secondary-color--100: #{$pf-v5-global--secondary-color--100};
  --#{$pf-global}--custom-color--100: #{$pf-v5-global--custom-color--100};
  --#{$pf-global}--custom-color--200: #{$pf-v5-global--custom-color--200};
  --#{$pf-global}--custom-color--300: #{$pf-v5-global--custom-color--300};
  --#{$pf-global}--success-color--100: #{$pf-v5-global--success-color--100};
  --#{$pf-global}--success-color--200: #{$pf-v5-global--success-color--200};
  --#{$pf-global}--info-color--100: #{$pf-v5-global--info-color--100};
  --#{$pf-global}--info-color--200: #{$pf-v5-global--info-color--200};
  --#{$pf-global}--warning-color--100: #{$pf-v5-global--warning-color--100};
  --#{$pf-global}--warning-color--200: #{$pf-v5-global--warning-color--200};
  --#{$pf-global}--danger-color--100: #{$pf-v5-global--danger-color--100};
  --#{$pf-global}--danger-color--200: #{$pf-v5-global--danger-color--200};
  --#{$pf-global}--danger-color--300: #{$pf-v5-global--danger-color--300};

  // Shadows
  --#{$pf-global}--BoxShadow--sm: #{$pf-v5-global--BoxShadow--sm};
  --#{$pf-global}--BoxShadow--sm-top: #{$pf-v5-global--BoxShadow--sm-top};
  --#{$pf-global}--BoxShadow--sm-right: #{$pf-v5-global--BoxShadow--sm-right};
  --#{$pf-global}--BoxShadow--sm-bottom: #{$pf-v5-global--BoxShadow--sm-bottom};
  --#{$pf-global}--BoxShadow--sm-left: #{$pf-v5-global--BoxShadow--sm-left};
  --#{$pf-global}--BoxShadow--md: #{$pf-v5-global--BoxShadow--md};
  --#{$pf-global}--BoxShadow--md-top: #{$pf-v5-global--BoxShadow--md-top};
  --#{$pf-global}--BoxShadow--md-right: #{$pf-v5-global--BoxShadow--md-right};
  --#{$pf-global}--BoxShadow--md-bottom: #{$pf-v5-global--BoxShadow--md-bottom};
  --#{$pf-global}--BoxShadow--md-left: #{$pf-v5-global--BoxShadow--md-left};
  --#{$pf-global}--BoxShadow--lg: #{$pf-v5-global--BoxShadow--lg};
  --#{$pf-global}--BoxShadow--lg-top: #{$pf-v5-global--BoxShadow--lg-top};
  --#{$pf-global}--BoxShadow--lg-right: #{$pf-v5-global--BoxShadow--lg-right};
  --#{$pf-global}--BoxShadow--lg-bottom: #{$pf-v5-global--BoxShadow--lg-bottom};
  --#{$pf-global}--BoxShadow--lg-left: #{$pf-v5-global--BoxShadow--lg-left};
  --#{$pf-global}--BoxShadow--xl: #{$pf-v5-global--BoxShadow--xl};
  --#{$pf-global}--BoxShadow--xl-top: #{$pf-v5-global--BoxShadow--xl-top};
  --#{$pf-global}--BoxShadow--xl-right: #{$pf-v5-global--BoxShadow--xl-right};
  --#{$pf-global}--BoxShadow--xl-bottom: #{$pf-v5-global--BoxShadow--xl-bottom};
  --#{$pf-global}--BoxShadow--xl-left: #{$pf-v5-global--BoxShadow--xl-left};
  --#{$pf-global}--BoxShadow--inset: #{$pf-v5-global--BoxShadow--inset};

  // Fontpath
  --#{$pf-global}--font-path: "#{$pf-v5-global--font-path}";

  // FontIconPath
  --#{$pf-global}--fonticon-path: "#{$pf-v5-global--fonticon-path}";

  // Spacers
  --#{$pf-global}--spacer--xs: #{$pf-v5-global--spacer--xs};
  --#{$pf-global}--spacer--sm: #{$pf-v5-global--spacer--sm};
  --#{$pf-global}--spacer--md: #{$pf-v5-global--spacer--md};
  --#{$pf-global}--spacer--lg: #{$pf-v5-global--spacer--lg};
  --#{$pf-global}--spacer--xl: #{$pf-v5-global--spacer--xl};
  --#{$pf-global}--spacer--2xl: #{$pf-v5-global--spacer--2xl};
  --#{$pf-global}--spacer--3xl: #{$pf-v5-global--spacer--3xl};
  --#{$pf-global}--spacer--4xl: #{$pf-v5-global--spacer--4xl};

  // Form spacer
  --#{$pf-global}--spacer--form-element: #{$pf-v5-global--spacer--form-element};

  // Gutter
  --#{$pf-global}--gutter: #{$pf-v5-global--gutter};
  --#{$pf-global}--gutter--md: #{$pf-v5-global--gutter--md};

  // Z-Index
  --#{$pf-global}--ZIndex--xs: #{$pf-v5-global--ZIndex--xs};
  --#{$pf-global}--ZIndex--sm: #{$pf-v5-global--ZIndex--sm};
  --#{$pf-global}--ZIndex--md: #{$pf-v5-global--ZIndex--md};
  --#{$pf-global}--ZIndex--lg: #{$pf-v5-global--ZIndex--lg};
  --#{$pf-global}--ZIndex--xl: #{$pf-v5-global--ZIndex--xl};
  --#{$pf-global}--ZIndex--2xl: #{$pf-v5-global--ZIndex--2xl};

  // Grid breakpoints
  --#{$pf-global}--breakpoint--xs: #{$pf-v5-global--breakpoint--xs};
  --#{$pf-global}--breakpoint--sm: #{$pf-v5-global--breakpoint--sm};
  --#{$pf-global}--breakpoint--md: #{$pf-v5-global--breakpoint--md};
  --#{$pf-global}--breakpoint--lg: #{$pf-v5-global--breakpoint--lg};
  --#{$pf-global}--breakpoint--xl: #{$pf-v5-global--breakpoint--xl};
  --#{$pf-global}--breakpoint--2xl: #{$pf-v5-global--breakpoint--2xl};

  // Vertical breakpoints
  --#{$pf-global}--height-breakpoint--sm: #{$pf-v5-global--height-breakpoint--sm};
  --#{$pf-global}--height-breakpoint--md: #{$pf-v5-global--height-breakpoint--md};
  --#{$pf-global}--height-breakpoint--lg: #{$pf-v5-global--height-breakpoint--lg};
  --#{$pf-global}--height-breakpoint--xl: #{$pf-v5-global--height-breakpoint--xl};
  --#{$pf-global}--height-breakpoint--2xl: #{$pf-v5-global--height-breakpoint--2xl};

  // Links
  --#{$pf-global}--link--Color: #{$pf-v5-global--link--Color};
  --#{$pf-global}--link--Color--hover: #{$pf-v5-global--link--Color--hover};
  --#{$pf-global}--link--Color--light: #{$pf-v5-global--link--Color--light};
  --#{$pf-global}--link--Color--light--hover: #{$pf-v5-global--link--Color--light--hover};
  --#{$pf-global}--link--Color--dark: #{$pf-v5-global--link--Color--dark};
  --#{$pf-global}--link--Color--dark--hover: #{$pf-v5-global--link--Color--dark--hover};
  --#{$pf-global}--link--Color--visited: #{$pf-v5-global--link--Color--visited};
  --#{$pf-global}--link--TextDecoration: #{$pf-v5-global--link--TextDecoration};
  --#{$pf-global}--link--TextDecoration--hover: #{$pf-v5-global--link--TextDecoration--hover};

  // Borders
  --#{$pf-global}--BorderWidth--sm: #{$pf-v5-global--BorderWidth--sm};
  --#{$pf-global}--BorderWidth--md: #{$pf-v5-global--BorderWidth--md};
  --#{$pf-global}--BorderWidth--lg: #{$pf-v5-global--BorderWidth--lg};
  --#{$pf-global}--BorderWidth--xl: #{$pf-v5-global--BorderWidth--xl};
  --#{$pf-global}--BorderColor--100: #{$pf-v5-global--BorderColor--100};
  --#{$pf-global}--BorderColor--200: #{$pf-v5-global--BorderColor--200};
  --#{$pf-global}--BorderColor--300: #{$pf-v5-global--BorderColor--300};
  --#{$pf-global}--BorderColor--dark-100: #{$pf-v5-global--BorderColor--dark-100};
  --#{$pf-global}--BorderColor--light-100: #{$pf-v5-global--BorderColor--light-100};
  --#{$pf-global}--BorderRadius--sm: #{$pf-v5-global--BorderRadius--sm};
  --#{$pf-global}--BorderRadius--lg: #{$pf-v5-global--BorderRadius--lg};

  // Icons
  --#{$pf-global}--icon--Color--light: #{$pf-v5-global--icon--Color--light};
  --#{$pf-global}--icon--Color--dark: #{$pf-v5-global--icon--Color--dark};
  --#{$pf-global}--icon--Color--light--light: #{$pf-v5-global--icon--Color--light--light};
  --#{$pf-global}--icon--Color--dark--light: #{$pf-v5-global--icon--Color--dark--light};
  --#{$pf-global}--icon--Color--light--dark: #{$pf-v5-global--icon--Color--light--dark};
  --#{$pf-global}--icon--Color--dark--dark: #{$pf-v5-global--icon--Color--dark--dark};
  --#{$pf-global}--icon--FontSize--sm: #{$pf-v5-global--icon--FontSize--sm};
  --#{$pf-global}--icon--FontSize--md: #{$pf-v5-global--icon--FontSize--md};
  --#{$pf-global}--icon--FontSize--lg: #{$pf-v5-global--icon--FontSize--lg};
  --#{$pf-global}--icon--FontSize--xl: #{$pf-v5-global--icon--FontSize--xl};

  // Fonts

  // Font family
  --#{$pf-global}--FontFamily--text: #{$pf-v5-global--FontFamily--text};
  --#{$pf-global}--FontFamily--heading: #{$pf-v5-global--FontFamily--heading};
  --#{$pf-global}--FontFamily--monospace: #{$pf-v5-global--FontFamily--monospace};
  --#{$pf-global}--FontFamily--text--vf: #{$pf-v5-global--FontFamily--text--vf};
  --#{$pf-global}--FontFamily--heading--vf: #{$pf-v5-global--FontFamily--heading--vf};
  --#{$pf-global}--FontFamily--monospace--vf: #{$pf-v5-global--FontFamily--monospace--vf};

  // Font size
  --#{$pf-global}--FontSize--4xl: #{$pf-v5-global--FontSize--4xl};
  --#{$pf-global}--FontSize--3xl: #{$pf-v5-global--FontSize--3xl};
  --#{$pf-global}--FontSize--2xl: #{$pf-v5-global--FontSize--2xl};
  --#{$pf-global}--FontSize--xl: #{$pf-v5-global--FontSize--xl};
  --#{$pf-global}--FontSize--lg: #{$pf-v5-global--FontSize--lg};
  --#{$pf-global}--FontSize--md: #{$pf-v5-global--FontSize--md};
  --#{$pf-global}--FontSize--sm: #{$pf-v5-global--FontSize--sm};
  --#{$pf-global}--FontSize--xs: #{$pf-v5-global--FontSize--xs};

  // Font weight
  --#{$pf-global}--FontWeight--normal: #{$pf-v5-global--FontWeight--normal};
  --#{$pf-global}--FontWeight--bold: #{$pf-v5-global--FontWeight--bold};

  // Line height
  --#{$pf-global}--LineHeight--sm: #{$pf-v5-global--LineHeight--sm};
  --#{$pf-global}--LineHeight--md: #{$pf-v5-global--LineHeight--md};

  // List
  --#{$pf-global}--ListStyle: #{$pf-v5-global--ListStyle};
  --#{$pf-global}--Transition: #{$pf-v5-global--Transition};
  --#{$pf-global}--TimingFunction: #{$pf-v5-global--TimingFunction};
  --#{$pf-global}--TransitionDuration: #{$pf-v5-global--TransitionDuration};

  // Arrow size
  --#{$pf-global}--arrow--width: #{$pf-v5-global--arrow--width};
  --#{$pf-global}--arrow--width-lg: #{$pf-v5-global--arrow--width-lg};

  // A11y
  --#{$pf-global}--target-size--MinWidth: #{$pf-v5-global--target-size--MinWidth};
  --#{$pf-global}--target-size--MinHeight: #{$pf-v5-global--target-size--MinHeight};

  // RTL
  @include pf-v5-set-inverse(false);
}

@include pf-v5-rtl {
  @include pf-v5-set-inverse;
}

// stylelint-disable no-invalid-position-at-import-rule
@import "./themes/dark/variables";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-variables;
}
