@use '../sass-utilities' as *;

.#{$pf-prefix}svg {
  // Default icon size
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

.#{$pf-prefix}icon_rh-ui {
  display: none;
}

.#{$pf-prefix}icons-set_rh-ui {
  .#{$pf-prefix}icon_default {
    display: none;
  }

  .#{$pf-prefix}icon_rh-ui {
    display: revert;
  }
}