<template data-title="Default Distribution" data-description="">
  <div class="pf-l-split">
    <div>
      <h3>Content of First Item</h3>
      <p>Maybe a sidebar, maybe something else…</p>
    </div>
    <div>
      <h3>Content of Second Item</h3>
      <p>Maybe a some content, maybe something else…</p>
    </div>
  </div>
</template>


<template data-title="Equal Distribution" data-description="">
  <div class="pf-l-split is-equal">
    <div>
      <h3>Content of First Item</h3>
      <p>Maybe a sidebar, maybe something else…</p>
    </div>
    <div>
      <h3>Content of Second Item</h3>
      <p>Maybe a some content, maybe something else…</p>
    </div>
  </div>
</template>
