#ws-core-e-toolbar-toggle-group-on-mobile-filters-collapsed-expandable-content-expanded,
#ws-core-c-toolbar-toggle-group-on-mobile-filters-collapsed-expandable-content-expanded {
  min-height: 19rem;
}

#ws-core-e-toolbar-expanded-elements,
#ws-core-c-toolbar-expanded-elements {
  min-height: 18rem;
}

#ws-core-e-toolbar-stacked-on-mobile-filters-collapsed-expandable-content-expanded,
#ws-core-c-toolbar-stacked-on-mobile-filters-collapsed-expandable-content-expanded {
  min-height: 18rem;
}

#ws-core-e-toolbar-selected-filters-on-mobile-filters-collapsed-expandable-content-expanded,
#ws-core-c-toolbar-selected-filters-on-mobile-filters-collapsed-expandable-content-expanded {
  min-height: 28rem;
}

#ws-core-e-toolbar-simple .pf-v5-c-toolbar,
#ws-core-e-toolbar-simple .pf-v5-c-toolbar__group,
#ws-core-e-toolbar-simple .pf-v5-c-toolbar__item,
#ws-core-e-toolbar-adjusted-spacers .pf-v5-c-toolbar,
#ws-core-e-toolbar-adjusted-spacers .pf-v5-c-toolbar__item,
#ws-core-e-toolbar-adjusted-group-spacers .pf-v5-c-toolbar,
#ws-core-e-toolbar-adjusted-group-spacers .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-simple .pf-v5-c-toolbar,
#ws-core-c-toolbar-simple .pf-v5-c-toolbar__group,
#ws-core-c-toolbar-simple .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-adjusted-spacers .pf-v5-c-toolbar,
#ws-core-c-toolbar-adjusted-spacers .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-adjusted-group-spacers .pf-v5-c-toolbar,
#ws-core-c-toolbar-adjusted-group-spacers .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-insets .pf-v5-c-toolbar,
#ws-core-c-toolbar-insets .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-page-insets .pf-v5-c-toolbar,
#ws-core-c-toolbar-page-insets .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-width-control .pf-v5-c-toolbar,
#ws-core-c-toolbar-width-control .pf-v5-c-toolbar__item {
  border: 2px dashed #393f44;
}

#ws-core-e-toolbar-simple .pf-v5-c-toolbar__group .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-simple .pf-v5-c-toolbar__group .pf-v5-c-toolbar__item {
  border: none;
}

#ws-core-e-toolbar-simple .pf-v5-c-toolbar__item,
#ws-core-e-toolbar-adjusted-spacers .pf-v5-c-toolbar__item,
#ws-core-e-toolbar-adjusted-group-spacers .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-simple .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-adjusted-spacers .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-adjusted-group-spacers .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-insets .pf-v5-c-toolbar,
#ws-core-c-toolbar-insets .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-page-insets .pf-v5-c-toolbar,
#ws-core-c-toolbar-page-insets .pf-v5-c-toolbar__item,
#ws-core-c-toolbar-width-control .pf-v5-c-toolbar,
#ws-core-c-toolbar-width-control .pf-v5-c-toolbar__item {
  padding: .5rem;
}
