{{#> c-toolbar}}
  {{#> dropdown dropdown--modifier="pf-c-toolbar__bulk-select" dropdown--IsExpanded="true" dropdown--IsBulkSelect="true" dropdown--IsSplitButton="true" dropdown-toggle--type="div" dropdown-toggle--modifier="pf-m-split-button" dropdown-menu--toggle-id="split-button-dropdown-expanded-example-button"}}
    {{> dropdown-toggle-check dropdown-toggle-check--id="toolbar-expanded-split-button-dropdown-expanded-example-check" aria-label="Select all"}}
    {{> dropdown-toggle-button dropdown--IsToggleButton="true" dropdown-toggle-button--id="toolbar-expanded-split-button-dropdown-expanded-example-button"  aria-label="Select"}}
  {{/dropdown}}
  {{#> dropdown id="toolbar-expanded-dropdown-simple-example-collapsed" dropdown-toggle--modifier="pf-m-plain" dropdown--modifier="pf-c-toolbar__filter-toggle"  aria-label="Filter results"}}
    <i class="fas fa-filter"></i>
  {{/dropdown}}
  {{#> input-group input-group--modifier="pf-c-toolbar__filter pf-m-expanded"}}
    {{#> select id="toolbar-expanded-select-checkbox-expanded-selected" select--IsCheckboxSelect="true" select--IsExpanded="true" select--ItemIsSelected="true" select--HasGroups="true"}}
      <i class="fas fa-filter" aria-hidden="true"></i>
      Filter by status
    {{/select}}
    {{#> form-control controlType="input" input="true" form-control--attribute='type="text" id="toolbar-expanded-dropdown-simple-textInput10" name="textInput10"  placeholder="Filter..." aria-label="filter input with popup button"'}}
    {{/form-control}}
    {{#> button button--modifier="pf-m-tertiary" button--attribute='id="toolbar-expanded-dropdown-simple-textAreaButton2"'}}
      {{> button-icon button-icon--type="search"}}
    {{/button}}
  {{/input-group}}
  {{#> options-menu id="toolbar-expanded-options-menu-example" options-menu--label-text="Sort methods" options-menu--modifier="pf-c-toolbar__sort" options-menu--IsExpanded="true"}}
    {{#> options-menu-toggle options-menu-toggle--modifier="pf-m-plain" options-menu-toggle--attribute='aria-label="Sort by"'}}
      <i class="fas fa-sort-amount-down" aria-hidden="true"></i>
    {{/options-menu-toggle}}
    {{> options-menu-multiple}}
  {{/options-menu}}
  {{#> c-toolbar-action-group}}
    {{#> button button--modifier="pf-m-primary"}}
      action
    {{/button}}
    {{#> button button--modifier="pf-m-link"}}
      secondary
    {{/button}}
  {{/c-toolbar-action-group}}
  {{#> dropdown id="toolbar-expanded-dropdown-simple-example-collapsed3" dropdown--modifier="pf-c-toolbar__action-list" dropdown--HasKebabIcon="true" dropdown-toggle--modifier="pf-m-plain"}}
  {{/dropdown}}
  <div class="pf-c-toolbar__current">17 Items</div>
  <div class="pf-c-toolbar__filter-list pf-m-expanded">
    {{#> chip-group chip-group--modifier="pf-m-toolbar" chip-group--id="toolbar-expanded"}}
      {{#> chip-group-list-item}}
        {{#> chip-group-label}}
            Status
        {{/chip-group-label}}
        {{#> chip-group newcontext}}
          {{#> chip}}
          {{#> chip-text chip-text--attribute=(concat 'id="' chip-group--id '-chip_one"')}}
            Stopped
          {{/chip-text}}
          {{#> button button--modifier="pf-m-plain" button--attribute=(concat 'aria-labelledby="' chip-group--id 'remove_chip_one ' chip-group--id 'chip_one" aria-label="Remove" id="' chip-group--id 'remove_chip_one"')}}
            {{> button-icon button-icon--type="times-circle"}}
          {{/button}}
          {{/chip}}
          {{#> chip}}
            {{#> chip-text chip-text--attribute=(concat 'id="' chip-group--id 'chip_two"')}}
              Down
            {{/chip-text}}
            {{#> button button--modifier="pf-m-plain" button--attribute=(concat 'aria-labelledby="' chip-group--id 'remove_chip_two ' chip-group--id 'chip_two" aria-label="Remove" id="' chip-group--id 'remove_chip_two"')}}
              {{> button-icon button-icon--type="times-circle"}}
            {{/button}}
          {{/chip}}
          {{#> chip}}
            {{#> chip-text chip-text--attribute=(concat 'id="' chip-group--id 'chip_three"')}}
              Needs Maintenance
            {{/chip-text}}
            {{#> button button--modifier="pf-m-plain" button--attribute=(concat 'aria-labelledby="' chip-group--id 'remove_chip_three ' chip-group--id 'chip_three" aria-label="Remove" id="' chip-group--id 'remove_chip_three"')}}
              {{> button-icon button-icon--type="times-circle"}}
            {{/button}}
          {{/chip}}
        {{/chip-group}}
      {{/chip-group-list-item}}
    {{/chip-group}}
    {{#> button button--modifier="pf-m-link pf-c-toolbar__filter-clear"}}
      Clear filters
    {{/button}}
  </div>
{{/c-toolbar}}
