{{#> toolbar}}
  {{#> dropdown dropdown--modifier="pf-c-toolbar__bulk-select" dropdown--IsBulkSelect="true" dropdown--IsSplitButton="true" dropdown-toggle--type="div" dropdown-toggle--modifier="pf-m-split-button" dropdown-menu--toggle-id="toolbar-pagination-split-button-dropdown-pagination-example-button"}}
    {{> dropdown-toggle-check dropdown-toggle-check--id="toolbar-pagination-split-button-dropdown-pagination-example-check" aria-label="Select all"}}
    {{> dropdown-toggle-button dropdown--IsToggleButton="true" dropdown-toggle-button--id="toolbar-pagination-split-button-dropdown-pagination-example-button"  aria-label="Select"}}
  {{/dropdown}}
  <div class="pf-c-toolbar__filter-toggle">
    {{#> button button--modifier="pf-m-plain" aria-label="Filter results"}}
      {{> button-icon button-icon--type="filter"}}
    {{/button}}
  </div>
  <div class="pf-c-toolbar__filter">
    {{#> select id="toolbar-filter-expanded-checked-select-checkbox" select--IsCheckboxSelect="true"}}
      <i class="fas fa-filter" aria-hidden="true"></i>
      Status
    {{/select}}
  </div>
  {{#> options-menu id="toolbar-pagination-options-menu-example" options-menu--label-text="Sort methods" options-menu--modifier="pf-c-toolbar__sort"}}
    {{#> options-menu-toggle options-menu-toggle--modifier="pf-m-plain" options-menu-toggle--attribute='aria-label="Sort by"'}}
      <i class="fas fa-sort-amount-down" aria-hidden="true"></i>
    {{/options-menu-toggle}}
    {{> options-menu-multiple}}
  {{/options-menu}}
  {{#> toolbar-action-group}}
    {{#> button button--modifier="pf-m-primary"}}
      action
    {{/button}}
    {{#> button button--modifier="pf-m-link"}}
      secondary
    {{/button}}
  {{/toolbar-action-group}}
  {{#> dropdown id="toolbar-pagination-dropdown-simple-example-collapsed3" dropdown--modifier="pf-c-toolbar__action-list" dropdown--HasKebabIcon="true" dropdown-toggle--modifier="pf-m-plain"}}
  {{/dropdown}}
  {{#> pagination pagination--attribute='aria-label="Element pagination"' pagination--modifier="pf-c-toolbar__pagination"}}
    {{#> pagination-current}}
      <b>1 - 10</b> of <b>37</b> Items
    {{/pagination-current}}

    {{#> options-menu id="toolbar-pagination-pagination-options-menu-top-example" options-menu--label-text="Items per page" options-menu--IsText="true"}}
      {{#> options-menu-toggle options-menu-toggle--type="div" options-menu-toggle--modifier="pf-m-plain"}}
        <span class="pf-c-options-menu__toggle-text">
          <b>1 - 10</b> of <b>37</b> Items
        </span>
        {{> options-menu-toggle-button aria-label="Select"}}
      {{/options-menu-toggle}}
      {{> options-menu-single}}
    {{/options-menu}}

    {{#> pagination-nav}}
      {{#> button button--modifier="pf-m-plain pf-m-disabled" button--attribute='aria-label="Go to first page" aria-disabled="true"'}}
        {{> button-icon button-icon--type="angle-double-left"}}
      {{/button}}
      {{#> button button--modifier="pf-m-plain pf-m-disabled" button--attribute='aria-label="Go to previous page" aria-disabled="true"'}}
        {{> button-icon button-icon--type="angle-left"}}
      {{/button}}

      {{#> pagination-nav-page-select pagination-nav-page-select--attribute='aria-label="Current page 1 of 4"'}}
        <input class="pf-c-form-control" aria-label="Current page" type="number" min="1" max="4" size="2" value="1">
        <span aria-hidden="true">of 4</span>
      {{/pagination-nav-page-select}}

      {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Go to next page"'}}
        {{> button-icon button-icon--type="angle-right"}}
      {{/button}}
      {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Go to last page"'}}
        {{> button-icon button-icon--type="angle-double-right"}}
      {{/button}}
    {{/pagination-nav}}
  {{/pagination}}
  <div class="pf-c-toolbar__filter-list"></div>
{{/toolbar}}
