<div class="{{pfv}}nav__scroll-button{{#if nav-scroll-button--modifier}} {{nav-scroll-button--modifier}}{{/if}}"
  {{#if nav-scroll-button--attribute}}
    {{{nav-scroll-button--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain pf-m-RTL-icon-static" button--aria-label=(ternary nav-scroll-button--IsEnd 'Scroll end' 'Scroll start')}}
    {{#> button-icon}}
      <i class="fas fa-{{ternary nav-scroll-button--IsEnd 'angle-right' 'angle-left'}}" aria-hidden="true"></i>
    {{/button-icon}}
  {{/button}}
</div>
