<span class="pf-c-nav__icon{{#if nav-icon--modifier}} {{nav-icon--modifier}}{{/if}}"
  {{#if nav-icon--attribute}}
    {{{nav-icon--attribute}}}
  {{/if}}>
  <i class="{{nav-icon--icon}}" aria-hidden="true"></i>
</span>
