<div class="{{pfv}}nav__scroll-button{{#if nav-scroll-button--modifier}} {{nav-scroll-button--modifier}}{{/if}}"
  {{#if nav-scroll-button--attribute}}
    {{{nav-scroll-button--attribute}}}
  {{/if}}>
  {{#> button button--IsPlain=true button--aria-label=(ternary nav-scroll-button--IsEnd 'Scroll end' 'Scroll start') button--IsDisabled=nav-scroll-button--IsDisabled}}
    <i class="fas fa-{{ternary nav-scroll-button--IsEnd 'angle-right' 'angle-left'}}" aria-hidden="true"></i>
  {{/button}}
</div>
