<li class="pf-c-nav__separator{{#if nav-separator--modifier}} {{nav-separator--modifier}}{{/if}}"
  role="separator"
  {{#if nav-separator--attribute}}
    {{{nav-separator--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</li>
