<div class="pf-c-nav__toggle-icon{{#if nav-toggle-icon--modifier}} {{nav-toggle-icon--modifier}}{{/if}}"
  {{#if nav-toggle-icon--attribute}}
    {{{nav-toggle-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-angle-right" aria-hidden="true"></i>
</div>
