<span class="pf-c-nav__text{{#if nav-text--modifier}} {{nav-text--modifier}}{{/if}}"
  {{#if nav-text--attribute}}
    {{{nav-text--attribute}}}
  {{/if}}>
  {{#if nav-text--text}}
    {{nav-text--text}}
  {{else}}
    Nav text
  {{/if}}
</span>
