<span class="pf-c-nav__toggle{{#if nav-toggle--modifier}} {{nav-toggle--modifier}}{{/if}}"
  {{#if nav-toggle--attribute}}
    {{{nav-toggle--attribute}}}
  {{/if}}>
  <i class="fas fa-angle-right" aria-hidden="true"></i>
</span>
