<li class="{{pfv}}nav__item
  {{setModifiers
    nav-item--IsDrilldown='pf-m-drilldown'
    nav-item--IsFlyout='pf-m-flyout'
    nav-item--modifier=nav--modifier
  }}
  {{#unless nav-item--IsFlyout}}
    {{#ifAny nav-item--expanded nav-item--IsExpanded}}
      pf-m-expanded
    {{/ifAny}}
  {{/unless}}"
  {{#if nav-item--attribute}}
    {{{nav-item--attribute}}}
  {{/if}}>
  {{#if nav-link--text}}
    {{> nav-link}}
  {{/if}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</li>
