// @debug $popover; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$popover} {
  // Component
  --#{$popover}--FontSize: var(--#{$pf-global}--FontSize--sm);
  --#{$popover}--MinWidth: calc(var(--#{$popover}__content--PaddingLeft) + var(--#{$popover}__content--PaddingRight) + #{pf-size-prem(300px)});
  --#{$popover}--MaxWidth: calc(var(--#{$popover}__content--PaddingLeft) + var(--#{$popover}__content--PaddingRight) + #{pf-size-prem(300px)});
  --#{$popover}--BoxShadow: var(--#{$pf-global}--BoxShadow--lg);

  // Title icon colors for states
  --#{$popover}--m-danger__title-icon--Color: var(--#{$pf-global}--danger-color--100);
  --#{$popover}--m-warning__title-icon--Color: var(--#{$pf-global}--warning-color--100);
  --#{$popover}--m-success__title-icon--Color: var(--#{$pf-global}--success-color--100);
  --#{$popover}--m-info__title-icon--Color: var(--#{$pf-global}--info-color--100);
  --#{$popover}--m-custom__title-icon--Color: var(--#{$pf-global}--custom-color--200);

  // Title text colors for states
  --#{$popover}--m-danger__title-text--Color: var(--#{$pf-global}--danger-color--200);
  --#{$popover}--m-warning__title-text--Color: var(--#{$pf-global}--warning-color--200);
  --#{$popover}--m-success__title-text--Color: var(--#{$pf-global}--success-color--200);
  --#{$popover}--m-info__title-text--Color: var(--#{$pf-global}--info-color--200);
  --#{$popover}--m-custom__title-text--Color: var(--#{$pf-global}--custom-color--300);

  // Content
  --#{$popover}__content--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$popover}__content--PaddingTop: var(--#{$pf-global}--spacer--md);
  --#{$popover}__content--PaddingRight: var(--#{$pf-global}--spacer--md);
  --#{$popover}__content--PaddingBottom: var(--#{$pf-global}--spacer--md);
  --#{$popover}__content--PaddingLeft: var(--#{$pf-global}--spacer--md);

  // Arrow
  --#{$popover}__arrow--Width: var(--#{$pf-global}--arrow--width-lg);
  --#{$popover}__arrow--Height: var(--#{$pf-global}--arrow--width-lg);
  --#{$popover}__arrow--BoxShadow: var(--#{$pf-global}--BoxShadow--lg);
  --#{$popover}__arrow--BackgroundColor: var(--#{$pf-global}--BackgroundColor--100);
  --#{$popover}__arrow--m-top--TranslateX: -50%;
  --#{$popover}__arrow--m-top--TranslateY: 50%;
  --#{$popover}__arrow--m-top--Rotate: 45deg;
  --#{$popover}__arrow--m-right--TranslateX: -50%;
  --#{$popover}__arrow--m-right--TranslateY: -50%;
  --#{$popover}__arrow--m-right--Rotate: 45deg;
  --#{$popover}__arrow--m-bottom--TranslateX: -50%;
  --#{$popover}__arrow--m-bottom--TranslateY: -50%;
  --#{$popover}__arrow--m-bottom--Rotate: 45deg;
  --#{$popover}__arrow--m-left--TranslateX: 50%;
  --#{$popover}__arrow--m-left--TranslateY: -50%;
  --#{$popover}__arrow--m-left--Rotate: 45deg;

  // Close
  --#{$popover}__close--Top: calc(var(--#{$popover}__content--PaddingTop) - var(--#{$pf-global}--spacer--form-element)); // align top of button with top of text
  --#{$popover}__close--Right: calc(var(--#{$popover}__content--PaddingRight) - var(--#{$pf-global}--spacer--md)); // align right of content
  --#{$popover}__close--sibling--PaddingRight: var(--#{$pf-global}--spacer--2xl);

  // Header
  --#{$popover}__header--MarginBottom: var(--#{$pf-global}--spacer--sm);

  // Title text
  --#{$popover}__title-text--LineHeight: var(--#{$pf-global}--LineHeight--md);
  --#{$popover}__title-text--FontFamily: var(--#{$pf-global}--FontFamily--heading);
  --#{$popover}__title-text--FontSize: var(--#{$pf-global}--FontSize--md);

  // Title icon
  --#{$popover}__title-icon--MarginRight: var(--#{$pf-global}--spacer--sm);
  --#{$popover}__title-icon--Color: var(--#{$pf-global}--Color--100);
  --#{$popover}__title-icon--FontSize: var(--#{$pf-global}--FontSize--md);

  // Footer
  --#{$popover}__footer--MarginTop: var(--#{$pf-global}--spacer--md);

  position: relative;
  min-width: var(--#{$popover}--MinWidth);
  max-width: var(--#{$popover}--MaxWidth);
  font-size: var(--#{$popover}--FontSize);
  box-shadow: var(--#{$popover}--BoxShadow);

  &.pf-m-no-padding {
    // Use px values below so the min/max-width calc() doesn't break
    // stylelint-disable length-zero-no-unit
    --#{$popover}__content--PaddingTop: 0px;
    --#{$popover}__content--PaddingRight: 0px;
    --#{$popover}__content--PaddingBottom: 0px;
    --#{$popover}__content--PaddingLeft: 0px;
    // stylelint-enable
  }

  &.pf-m-width-auto {
    --#{$popover}--MinWidth: auto;
    --#{$popover}--MaxWidth: none;
  }

  &:is(
    .pf-m-top,
    .pf-m-top-left,
    .pf-m-top-right
  ) {
    --#{$popover}__arrow--Bottom: var(--#{$popover}--m-top--Bottom, 0);
    --#{$popover}__arrow--Left: var(--#{$popover}--m-top--Left, 50%);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-top--TranslateX);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-top--TranslateY);
    --#{$popover}__arrow--Rotate: var(--#{$popover}__arrow--m-top--Rotate);
  }

  &:is(
    .pf-m-bottom,
    .pf-m-bottom-left,
    .pf-m-bottom-right
   ) {
    --#{$popover}__arrow--Top: var(--#{$popover}--m-bottom--Top, 0);
    --#{$popover}__arrow--Left: var(--#{$popover}--m-bottom--Left, 50%);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-bottom--TranslateX);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-bottom--TranslateY);
    --#{$popover}__arrow--Rotate: var(--#{$popover}__arrow--m-bottom--Rotate);
  }

  &:is(
    .pf-m-left,
    .pf-m-left-top,
    .pf-m-left-bottom
  ) {
    --#{$popover}__arrow--Top: var(--#{$popover}--m-left--Top, 50%);
    --#{$popover}__arrow--Right: var(--#{$popover}--m-left--Right, 0);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-left--TranslateX);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-left--TranslateY);
    --#{$popover}__arrow--Rotate: var(--#{$popover}__arrow--m-left--Rotate);
  }

  &:is(
    .pf-m-right,
    .pf-m-right-top,
    .pf-m-right-bottom
  ) {
    --#{$popover}__arrow--Top: var(--#{$popover}--m-right--Top, 50%);
    --#{$popover}__arrow--Left: var(--#{$popover}--m-right--Left, 0);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-right--TranslateX);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-right--TranslateY);
    --#{$popover}__arrow--Rotate: var(--#{$popover}__arrow--m-right--Rotate);
  }

  &:is(
    .pf-m-left-top,
    .pf-m-right-top
  ) {
    --#{$popover}__arrow--Top: 0;
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-top--TranslateY);
  }

  &:is(
    .pf-m-left-bottom,
    .pf-m-right-bottom
  ) {
    --#{$popover}__arrow--Top: auto;
    --#{$popover}__arrow--Bottom: 0;
  }

  &:is(
    .pf-m-top-left,
    .pf-m-bottom-left
  ) {
    --#{$popover}__arrow--Left: 0;
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-left--TranslateX);
  }

  &:is(
    .pf-m-top-right,
    .pf-m-bottom-right
  ) {
    --#{$popover}__arrow--Right: 0;
    --#{$popover}__arrow--Left: auto;
  }

  &.pf-m-danger {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-danger__title-icon--Color);
    --#{$popover}__title-text--Color: var(--#{$popover}--m-danger__title-text--Color);
  }

  &.pf-m-warning {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-warning__title-icon--Color);
    --#{$popover}__title-text--Color: var(--#{$popover}--m-warning__title-text--Color);
  }

  &.pf-m-success {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-success__title-icon--Color);
    --#{$popover}__title-text--Color: var(--#{$popover}--m-success__title-text--Color);
  }

  &.pf-m-custom {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-custom__title-icon--Color);
    --#{$popover}__title-text--Color: var(--#{$popover}--m-custom__title-text--Color);
  }

  &.pf-m-info {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-info__title-icon--Color);
    --#{$popover}__title-text--Color: var(--#{$popover}--m-info__title-text--Color);
  }
}

.#{$popover}__content {
  position: relative;
  padding-block-start: var(--#{$popover}__content--PaddingTop);
  padding-block-end: var(--#{$popover}__content--PaddingBottom);
  padding-inline-start: var(--#{$popover}__content--PaddingLeft);
  padding-inline-end: var(--#{$popover}__content--PaddingRight);
  background-color: var(--#{$popover}__content--BackgroundColor);
}

// Close button
.#{$popover}__close {
  position: absolute;
  inset-block-start: var(--#{$popover}__close--Top);
  inset-inline-end: var(--#{$popover}__close--Right);

  // Create room for the close button
  + * {
    padding-inline-end: var(--#{$popover}__close--sibling--PaddingRight);
  }
}

.#{$popover}__arrow {
  position: absolute;
  /* stylelint-disable liberty/use-logical-spec */
  top: var(--#{$popover}__arrow--Top, auto);
  right: var(--#{$popover}__arrow--Right, auto);
  bottom: var(--#{$popover}__arrow--Bottom, auto);
  left: var(--#{$popover}__arrow--Left, auto);
  /* stylelint-enable */
  width: var(--#{$popover}__arrow--Width);
  height: var(--#{$popover}__arrow--Height);
  pointer-events: none;
  background-color: var(--#{$popover}__arrow--BackgroundColor);
  box-shadow: var(--#{$popover}__arrow--BoxShadow);
  transform: translateX(var(--#{$popover}__arrow--TranslateX, 0)) translateY(var(--#{$popover}__arrow--TranslateY, 0)) rotate(var(--#{$popover}__arrow--Rotate, 0));
}

.#{$popover}__header {
  margin-block-end: var(--#{$popover}__header--MarginBottom);
}

.#{$popover}__title {
  display: flex;
  flex: 0 0 auto;
}

.#{$popover}__title-icon {
  margin-inline-end: var(--#{$popover}__title-icon--MarginRight);
  font-size: var(--#{$popover}__title-icon--FontSize);
  color: var(--#{$popover}__title-icon--Color);
}

.#{$popover}__title-text {
  font-family: var(--#{$popover}__title-text--FontFamily);
  font-size: var(--#{$popover}__title-text--FontSize);
  line-height: var(--#{$popover}__title-text--LineHeight);
  color: var(--#{$popover}__title-text--Color, inherit);
}

// Body
.#{$popover}__body {
  word-wrap: break-word;
}

.#{$popover}__footer {
  margin-block-start: var(--#{$popover}__footer--MarginTop);
}

// stylelint-disable no-invalid-position-at-import-rule
@import "themes/dark/popover";

@include pf-v5-theme-dark {
  @include pf-v5-theme-dark-popover;
}
