// @debug $popover; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$popover} {
  // Component
  --#{$popover}--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$popover}--MinWidth: calc(var(--#{$popover}__content--PaddingLeft) + var(--#{$popover}__content--PaddingRight) + #{pf-size-prem(300px)});
  --#{$popover}--MaxWidth: calc(var(--#{$popover}__content--PaddingLeft) + var(--#{$popover}__content--PaddingRight) + #{pf-size-prem(300px)});
  --#{$popover}--BoxShadow: var(--pf-t--global--box-shadow--md);
  --#{$popover}--BorderRadius: var(--pf-t--global--border--radius--medium);


  // Title icon colors for states
  --#{$popover}--m-danger__title-icon--Color: var(--pf-t--global--icon--color--status--danger--default);
  --#{$popover}--m-warning__title-icon--Color: var(--pf-t--global--icon--color--status--warning--default);
  --#{$popover}--m-success__title-icon--Color: var(--pf-t--global--icon--color--status--success--default);
  --#{$popover}--m-info__title-icon--Color: var(--pf-t--global--icon--color--status--info--default);
  --#{$popover}--m-custom__title-icon--Color: var(--pf-t--global--icon--color--status--custom--default);

  // Content
  --#{$popover}__content--BackgroundColor: var(--pf-t--global--background--color--floating--default);
  --#{$popover}__content--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$popover}__content--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$popover}__content--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$popover}__content--PaddingLeft: var(--pf-t--global--spacer--md);
  --#{$popover}__content--BorderRadius: var(--pf-t--global--border--radius--medium);

  // Arrow
  --#{$popover}__arrow--Width: #{pf-size-prem(15px)};
  --#{$popover}__arrow--Height: #{pf-size-prem(15px)};
  --#{$popover}__arrow--BoxShadow: var(--pf-t--global--box-shadow--md);
  --#{$popover}__arrow--BackgroundColor: var(--pf-t--global--background--color--floating--default);
  --#{$popover}__arrow--m-top--TranslateX: -50%;
  --#{$popover}__arrow--m-top--TranslateY: 50%;
  --#{$popover}__arrow--m-top--Rotate: 45deg;
  --#{$popover}__arrow--m-right--TranslateX: -50%;
  --#{$popover}__arrow--m-right--TranslateY: -50%;
  --#{$popover}__arrow--m-right--Rotate: 45deg;
  --#{$popover}__arrow--m-bottom--TranslateX: -50%;
  --#{$popover}__arrow--m-bottom--TranslateY: -50%;
  --#{$popover}__arrow--m-bottom--Rotate: 45deg;
  --#{$popover}__arrow--m-left--TranslateX: 50%;
  --#{$popover}__arrow--m-left--TranslateY: -50%;
  --#{$popover}__arrow--m-left--Rotate: 45deg;
  --#{$popover}__arrow--m-inline-top--Top: var(--pf-t--global--border--radius--medium);
  --#{$popover}__arrow--m-inline-bottom--Bottom: var(--pf-t--global--border--radius--medium);
  --#{$popover}__arrow--m-block-left--Left: var(--pf-t--global--border--radius--medium);
  --#{$popover}__arrow--m-block-right--Right: var(--pf-t--global--border--radius--medium);

  // Close
  --#{$popover}__close--Top: calc(var(--#{$popover}__content--PaddingTop) - (var(--pf-t--global--spacer--xs) * 1.5)); // align top of button with top of text
  --#{$popover}__close--Right: var(--#{$popover}__content--PaddingRight); // align right of content
  --#{$popover}__close--sibling--PaddingRight: var(--pf-t--global--spacer--2xl);

  // Header
  --#{$popover}__header--MarginBottom: var(--pf-t--global--spacer--sm);

  // Title text
  --#{$popover}__title-text--Color: var(--pf-t--global--text--color--regular);
  --#{$popover}__title-text--FontFamily: var(--pf-t--global--font--family--heading);
  --#{$popover}__title-text--FontSize: var(--pf-t--global--font--size--body--lg);

  // Title icon
  --#{$popover}__title-icon--MarginRight: var(--pf-t--global--spacer--sm);
  --#{$popover}__title-icon--Color: var(--pf-t--global--icon--color--regular);
  --#{$popover}__title-icon--FontSize: var(--pf-t--global--font--size--heading--xs);

  // Footer
  --#{$popover}__footer--MarginTop: var(--pf-t--global--spacer--md);

  position: relative;
  min-width: var(--#{$popover}--MinWidth);
  max-width: var(--#{$popover}--MaxWidth);
  font-size: var(--#{$popover}--FontSize);
  border-radius: var(--#{$popover}--BorderRadius);
  box-shadow: var(--#{$popover}--BoxShadow);

  &.pf-m-no-padding {
    // Use px values below so the min/max-width calc() doesn't break
    // stylelint-disable length-zero-no-unit
    --#{$popover}__content--PaddingTop: 0px;
    --#{$popover}__content--PaddingRight: 0px;
    --#{$popover}__content--PaddingBottom: 0px;
    --#{$popover}__content--PaddingLeft: 0px;
    // stylelint-enable
  }

  &.pf-m-width-auto {
    --#{$popover}--MinWidth: auto;
    --#{$popover}--MaxWidth: none;
  }

  &:is(
    .pf-m-top,
    .pf-m-top-left,
    .pf-m-top-right
  ) {
    --#{$popover}__arrow--Bottom: var(--#{$popover}--m-top--Bottom, 0);
    --#{$popover}__arrow--Left: var(--#{$popover}--m-top--Left, 50%);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-top--TranslateX);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-top--TranslateY);
    --#{$popover}__arrow--Rotate: var(--#{$popover}__arrow--m-top--Rotate);
  }

  &:is(
    .pf-m-bottom,
    .pf-m-bottom-left,
    .pf-m-bottom-right
  ) {
    --#{$popover}__arrow--Top: var(--#{$popover}--m-bottom--Top, 0);
    --#{$popover}__arrow--Left: var(--#{$popover}--m-bottom--Left, 50%);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-bottom--TranslateX);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-bottom--TranslateY);
    --#{$popover}__arrow--Rotate: var(--#{$popover}__arrow--m-bottom--Rotate);
  }

  &:is(
    .pf-m-left,
    .pf-m-left-top,
    .pf-m-left-bottom
  ) {
    --#{$popover}__arrow--Top: var(--#{$popover}--m-left--Top, 50%);
    --#{$popover}__arrow--Right: var(--#{$popover}--m-left--Right, 0);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-left--TranslateX);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-left--TranslateY);
    --#{$popover}__arrow--Rotate: var(--#{$popover}__arrow--m-left--Rotate);
  }

  &:is(
    .pf-m-right,
    .pf-m-right-top,
    .pf-m-right-bottom
  ) {
    --#{$popover}__arrow--Top: var(--#{$popover}--m-right--Top, 50%);
    --#{$popover}__arrow--Left: var(--#{$popover}--m-right--Left, 0);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-right--TranslateX);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-right--TranslateY);
    --#{$popover}__arrow--Rotate: var(--#{$popover}__arrow--m-right--Rotate);
  }

  &:is(
    .pf-m-left-top,
    .pf-m-right-top
  ) {
    --#{$popover}__arrow--Top: var(--#{$popover}__arrow--m-inline-top--Top);
    --#{$popover}__arrow--TranslateY: var(--#{$popover}__arrow--m-top--TranslateY);
  }

  &:is(
    .pf-m-left-bottom,
    .pf-m-right-bottom
  ) {
    --#{$popover}__arrow--Top: auto;
    --#{$popover}__arrow--Bottom: var(--#{$popover}__arrow--m-inline-bottom--Bottom);
  }

  &:is(
    .pf-m-top-left,
    .pf-m-bottom-left
  ) {
    --#{$popover}__arrow--Left: var(--#{$popover}__arrow--m-block-left--Left);
    --#{$popover}__arrow--TranslateX: var(--#{$popover}__arrow--m-left--TranslateX);
  }

  &:is(
    .pf-m-top-right,
    .pf-m-bottom-right
  ) {
    --#{$popover}__arrow--Right: var(--#{$popover}__arrow--m-block-right--Right);
    --#{$popover}__arrow--Left: auto;
  }

  &.pf-m-danger {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-danger__title-icon--Color);
  }

  &.pf-m-warning {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-warning__title-icon--Color);
  }

  &.pf-m-success {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-success__title-icon--Color);
  }

  &.pf-m-custom {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-custom__title-icon--Color);
  }

  &.pf-m-info {
    --#{$popover}__title-icon--Color: var(--#{$popover}--m-info__title-icon--Color);
  }
}

.#{$popover}__content {
  position: relative;
  padding-block-start: var(--#{$popover}__content--PaddingTop);
  padding-block-end: var(--#{$popover}__content--PaddingBottom);
  padding-inline-start: var(--#{$popover}__content--PaddingLeft);
  padding-inline-end: var(--#{$popover}__content--PaddingRight);
  background-color: var(--#{$popover}__content--BackgroundColor);
  border-radius: var(--#{$popover}__content--BorderRadius);
}

// Close button
.#{$popover}__close {
  position: absolute;
  inset-block-start: var(--#{$popover}__close--Top);
  inset-inline-end: var(--#{$popover}__close--Right);

  // Create room for the close button
  + * {
    padding-inline-end: var(--#{$popover}__close--sibling--PaddingRight);
  }
}

.#{$popover}__arrow {
  position: absolute;
  /* stylelint-disable liberty/use-logical-spec */
  top: var(--#{$popover}__arrow--Top, auto);
  right: var(--#{$popover}__arrow--Right, auto);
  bottom: var(--#{$popover}__arrow--Bottom, auto);
  left: var(--#{$popover}__arrow--Left, auto);
  /* stylelint-enable */
  width: var(--#{$popover}__arrow--Width);
  height: var(--#{$popover}__arrow--Height);
  pointer-events: none;
  background-color: var(--#{$popover}__arrow--BackgroundColor);
  box-shadow: var(--#{$popover}__arrow--BoxShadow);
  transform: translateX(var(--#{$popover}__arrow--TranslateX, 0)) translateY(var(--#{$popover}__arrow--TranslateY, 0)) rotate(var(--#{$popover}__arrow--Rotate, 0));
}

.#{$popover}__header {
  margin-block-end: var(--#{$popover}__header--MarginBottom);
}

.#{$popover}__title {
  display: flex;
  flex: 0 0 auto;
}

.#{$popover}__title-icon {
  margin-inline-end: var(--#{$popover}__title-icon--MarginRight);
  font-size: var(--#{$popover}__title-icon--FontSize);
  color: var(--#{$popover}__title-icon--Color);
}

.#{$popover}__title-text {
  font-family: var(--#{$popover}__title-text--FontFamily);
  font-size: var(--#{$popover}__title-text--FontSize);
  color: var(--#{$popover}__title-text--Color);
}

// Body
.#{$popover}__body {
  word-wrap: break-word;
}

.#{$popover}__footer {
  margin-block-start: var(--#{$popover}__footer--MarginTop);
}
