<span class="{{pfv}}popover__title-icon{{#if popover-title-icon--modifier}} {{popover-title-icon--modifier}}{{/if}}"
  {{#if popover-title-icon--attribute}}
    {{{popover-title-icon--attribute}}}
  {{/if}}>
    {{pfIcon popover-title-icon--type}}
</span>
