<div class="{{pfv}}popover__title{{#if popover-title--modifier}} {{popover-title--modifier}}{{/if}}"
  {{#if popover-title--id}}
    id="{{popover-title--id}}"
  {{/if}}
  {{#if popover-title--attribute}}
    {{{popover-title--attribute}}}
  {{/if}}>
  {{#> wrapper popover-title-icon--type=(ternary popover-title-icon--type popover-title-icon--type
        (ternary popover--IsCustomAlert "rh-ui-notification-fill"
        (ternary popover--IsInfoAlert "rh-ui-information-fill"
        (ternary popover--IsSuccessAlert "rh-ui-check-circle-fill"
        (ternary popover--IsWarningAlert "rh-ui-warning-fill"
        (ternary popover--IsDangerAlert "rh-ui-error-fill"
        false
      ))))))
  }}
    {{#if popover-title-icon--type}}
      {{> popover-title-icon}}
    {{/if}}
  {{/wrapper}}
  {{> @partial-block}}
</div>
