<h1 class="pf-c-popover__header-title{{#if popover-header-title--modifier}} {{popover-header-title--modifier}}{{/if}}"
  {{#if popover-header-title--attribute}}
    {{{popover-header-title--attribute}}} 
  {{/if}}>
  {{> @partial-block}}
</h1>
