<div class="pf-c-popover__icon{{#if popover-icon--modifier}} {{popover-icon--modifier}}{{/if}}"
  {{#if popover-icon--attribute}}
    {{{popover-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-fw{{#if popover-icon--type}} fa-{{popover-icon--type}}{{/if}}" aria-hidden="true"></i>
</div>
