<div class="pf-c-popover{{#if popover--modifier}} {{popover--modifier}}{{/if}}"
  {{#if popover--attribute}}
    {{popover--attribute}} 
  {{/if}}>
  {{#> popover-arrow}}
  {{/popover-arrow}}
  {{#> popover-content}}
    {{#> popover-close}}
    {{/popover-close}}
    {{> @partial-block}}
  {{/popover-content}}
</div>
