<span class="pf-c-popover__title-icon{{#if popover-title-icon--modifier}} {{popover-title-icon--modifier}}{{/if}}"
  {{#if popover-title-icon--attribute}}
    {{{popover-title-icon--attribute}}}
  {{/if}}>
    <i class="fas fa-fw fa-{{popover-title-icon--type}}" aria-hidden="true"></i>
</span>
