<div class="pf-c-popover__title{{#if popover-title--modifier}} {{popover-title--modifier}}{{/if}}"
  {{#if popover-title--attribute}}
    {{{popover-title--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
