<span class="pf-c-popover__title-text{{#if popover-title-text--modifier}} {{popover-title-text--modifier}}{{/if}}"
  {{#if popover-title-text--attribute}}
    {{{popover-title-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
