<div class="{{pfv}}popover__close{{#if popover-close--modifier}} {{popover-close--modifier}}{{/if}}"
  {{#if popover-close--attribute}}
    {{{popover-close--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--IsIcon=true button--icon="times" button--attribute='aria-label="Close"'}}
</div>
