<div class="pf-c-popover__close{{#if popover-close--modifier}} {{popover-close--modifier}}{{/if}}"
  {{#if popover-close--attribute}}
    {{{popover-close--attribute}}} 
  {{/if}}>
  {{#> button btnClass="pf-m-plain" btnAttributes='aria-label="Close"'}}
    <i class="fas fa-times"></i>
  {{/button}}
</div>
