@import "../../patternfly-utilities";

.pf-c-popover {
  // Component variables
  --pf-c-popover--MinWidth: #{pf-size-prem(100px)};
  --pf-c-popover--MaxWidth: #{pf-size-prem(300px)};
  --pf-c-popover--BoxShadow: var(--pf-global--BoxShadow--md);

  // Content variables
  --pf-c-popover__content--BackgroundColor: var(--pf-global--BackgroundColor--100);

  // Arrow variables
  --pf-c-popover__arrow--Width: var(--pf-global--arrow--width-lg);
  --pf-c-popover__arrow--Height: var(--pf-global--arrow--width-lg);
  --pf-c-popover__arrow--BoxShadow: var(--pf-global--BoxShadow--md);
  --pf-c-popover__arrow--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-popover__arrow--m-top--Transform: translate(-50%, 50%) rotate(45deg);
  --pf-c-popover__arrow--m-right--Transform: translate(-50%, -50%) rotate(45deg);
  --pf-c-popover__arrow--m-bottom--Transform: translate(-50%, -50%) rotate(45deg);
  --pf-c-popover__arrow--m-left--Transform: translate(50%, -50%) rotate(45deg);

  // Close container variables
  --pf-c-popover__close--Top: var(--pf-global--spacer--sm);
  --pf-c-popover__close--Right: var(--pf-global--spacer--md);

  // Header variables
  --pf-c-popover__header--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-popover__header--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-popover__header--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-popover__header--PaddingLeft: var(--pf-global--spacer--xl);

  // Header title variables
  --pf-c-popover__header-title--FontSize: var(--pf-c-title--m-3xl--FontSize);
  --pf-c-popover__header-title--FontWeight: var(--pf-c-title--m-3xl--FontWeight);
  --pf-c-popover__header-title--LineHeight: var(--pf-c-title--m-3xl--LineHeight);

  // Body variables
  --pf-c-popover__body--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-popover__body--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-popover__body--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-popover__body--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-c-popover__body--MarginTop: var(--pf-global--spacer--xl);

  position: relative;
  min-width: var(--pf-c-popover--MinWidth);
  max-width: var(--pf-c-popover--MaxWidth);
  box-shadow: var(--pf-c-popover--BoxShadow);

  &.pf-m-top {
    .pf-c-popover__arrow {
      bottom: 0;
      left: 50%;
      transform: var(--pf-c-popover__arrow--m-top--Transform);
    }
  }

  &.pf-m-bottom {
    .pf-c-popover__arrow {
      top: 0;
      left: 50%;
      transform: var(--pf-c-popover__arrow--m-bottom--Transform);
    }
  }

  &.pf-m-left {
    .pf-c-popover__arrow {
      top: 50%;
      right: 0;
      transform: var(--pf-c-popover__arrow--m-left--Transform);
    }
  }

  &.pf-m-right {
    .pf-c-popover__arrow {
      top: 50%;
      left: 0;
      transform: var(--pf-c-popover__arrow--m-right--Transform);
    }
  }
}

.pf-c-popover__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--pf-c-popover__content--BackgroundColor);
}

.pf-c-popover__arrow {
  position: absolute;
  width: var(--pf-c-popover__arrow--Width);
  height: var(--pf-c-popover__arrow--Height);
  pointer-events: none;
  background-color: var(--pf-c-popover__arrow--BackgroundColor);
  box-shadow: var(--pf-c-popover__arrow--BoxShadow);
}

.pf-c-popover__close {
  position: absolute;
  top: var(--pf-c-popover__close--Top);
  right: var(--pf-c-popover__close--Right);
}

// Header
.pf-c-popover__header {
  flex: 0 0 auto;
  padding: var(--pf-c-popover__header--PaddingTop) var(--pf-c-popover__header--PaddingRight) var(--pf-c-popover__header--PaddingBottom) var(--pf-c-popover__header--PaddingLeft);
}

// Header title
.pf-c-popover__header-title {
  font-size: var(--pf-c-popover__header-title--FontSize);
  font-weight: var(--pf-c-popover__header-title--FontWeight);
  line-height: var(--pf-c-popover__header-title--LineHeight);
}

// Body
.pf-c-popover__body {
  flex: 1 1 auto;
  padding: var(--pf-c-popover__body--PaddingTop) var(--pf-c-popover__body--PaddingRight) var(--pf-c-popover__body--PaddingBottom) var(--pf-c-popover__body--PaddingLeft);
  margin-top: var(--pf-c-popover__body--MarginTop); // Adding margin top here for no header being present. When the header is present, margin-top is removed
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  word-break: break-word;
}

// Removing top margin when header is present
.pf-c-popover__header + .pf-c-popover__body {
  margin-top: 0;
}
