@font-face {
	font-family: 'pf-v5-pficon';
	src: url('#{$pf-v5-global--fonticon-path}/pf-v5-pficon.woff2') format('woff2');
}

@mixin pf-v5-pficon-styles {
	font-family: 'pf-v5-pficon';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%pf-v5-pficon {
	@include pf-v5-pficon-styles;
}

@function pf-v5-pficon-char($filename) {
	$char: '';

	@if $filename == add-circle-o {
		$char: '\E61B';
	}
	@if $filename == ansible-tower {
		$char: '\E950';
	}
	@if $filename == applications {
		$char: '\E936';
	}
	@if $filename == arrow {
		$char: '\E929';
	}
	@if $filename == asleep {
		$char: '\E92E';
	}
	@if $filename == attention-bell {
		$char: '\E951';
	}
	@if $filename == automation {
		$char: '\E937';
	}
	@if $filename == bell {
		$char: '\E952';
	}
	@if $filename == blueprint {
		$char: '\E915';
	}
	@if $filename == build {
		$char: '\E902';
	}
	@if $filename == builder-image {
		$char: '\E800';
	}
	@if $filename == bundle {
		$char: '\E918';
	}
	@if $filename == catalog {
		$char: '\E953';
	}
	@if $filename == chat {
		$char: '\E954';
	}
	@if $filename == close {
		$char: '\E60B';
	}
	@if $filename == cloud-security {
		$char: '\E903';
	}
	@if $filename == cloud-tenant {
		$char: '\E904';
	}
	@if $filename == cluster {
		$char: '\E620';
	}
	@if $filename == connected {
		$char: '\E938';
	}
	@if $filename == container-node {
		$char: '\E621';
	}
	@if $filename == cpu {
		$char: '\E927';
	}
	@if $filename == critical-risk {
		$char: '\E976';
	}
	@if $filename == data-processor {
		$char: '\E97B';
	}
	@if $filename == data-sink {
		$char: '\E978';
	}
	@if $filename == data-source {
		$char: '\E979';
	}
	@if $filename == degraded {
		$char: '\E91B';
	}
	@if $filename == disconnected {
		$char: '\E955';
	}
	@if $filename == domain {
		$char: '\E919';
	}
	@if $filename == edit {
		$char: '\E60A';
	}
	@if $filename == enhancement {
		$char: '\E93A';
	}
	@if $filename == enterprise {
		$char: '\E906';
	}
	@if $filename == equalizer {
		$char: '\E956';
	}
	@if $filename == error-circle-o {
		$char: '\E926';
	}
	@if $filename == export {
		$char: '\E616';
	}
	@if $filename == filter {
		$char: '\E943';
	}
	@if $filename == flavor {
		$char: '\E957';
	}
	@if $filename == folder-close {
		$char: '\E607';
	}
	@if $filename == folder-open {
		$char: '\E606';
	}
	@if $filename == globe-route {
		$char: '\E958';
	}
	@if $filename == help {
		$char: '\E605';
	}
	@if $filename == history {
		$char: '\E617';
	}
	@if $filename == home {
		$char: '\E618';
	}
	@if $filename == import {
		$char: '\E615';
	}
	@if $filename == in-progress {
		$char: '\E933';
	}
	@if $filename == info {
		$char: '\E92B';
	}
	@if $filename == infrastructure {
		$char: '\E93D';
	}
	@if $filename == integration {
		$char: '\E948';
	}
	@if $filename == key {
		$char: '\E924';
	}
	@if $filename == locked {
		$char: '\E923';
	}
	@if $filename == maintenance {
		$char: '\E932';
	}
	@if $filename == memory {
		$char: '\E908';
	}
	@if $filename == messages {
		$char: '\E603';
	}
	@if $filename == middleware {
		$char: '\E917';
	}
	@if $filename == migration {
		$char: '\E931';
	}
	@if $filename == module {
		$char: '\E959';
	}
	@if $filename == monitoring {
		$char: '\E95A';
	}
	@if $filename == multicluster {
		$char: '\E97C';
	}
	@if $filename == namespaces {
		$char: '\E95B';
	}
	@if $filename == network {
		$char: '\E909';
	}
	@if $filename == new-process {
		$char: '\E95C';
	}
	@if $filename == not-started {
		$char: '\E95D';
	}
	@if $filename == off {
		$char: '\E92D';
	}
	@if $filename == ok {
		$char: '\E602';
	}
	@if $filename == on-running {
		$char: '\E925';
	}
	@if $filename == on {
		$char: '\E92C';
	}
	@if $filename == open-drawer-right {
		$char: '\E977';
	}
	@if $filename == openshift {
		$char: '\E95E';
	}
	@if $filename == openstack {
		$char: '\E95F';
	}
	@if $filename == optimize {
		$char: '\E93E';
	}
	@if $filename == orders {
		$char: '\E93F';
	}
	@if $filename == os-image {
		$char: '\E960';
	}
	@if $filename == package {
		$char: '\E961';
	}
	@if $filename == panel-close {
		$char: '\E962';
	}
	@if $filename == panel-open {
		$char: '\E963';
	}
	@if $filename == paused {
		$char: '\E92F';
	}
	@if $filename == pending {
		$char: '\E964';
	}
	@if $filename == pficon-dragdrop {
		$char: '\E965';
	}
	@if $filename == pficon-history {
		$char: '\E966';
	}
	@if $filename == pficon-network-range {
		$char: '\E967';
	}
	@if $filename == pficon-satellite {
		$char: '\E968';
	}
	@if $filename == pficon-sort-common-asc {
		$char: '\E94E';
	}
	@if $filename == pficon-sort-common-desc {
		$char: '\E94F';
	}
	@if $filename == pficon-template {
		$char: '\E94C';
	}
	@if $filename == pficon-vcenter {
		$char: '\E969';
	}
	@if $filename == plugged {
		$char: '\E96A';
	}
	@if $filename == port {
		$char: '\E96B';
	}
	@if $filename == print {
		$char: '\E612';
	}
	@if $filename == private {
		$char: '\E914';
	}
	@if $filename == process-automation {
		$char: '\E949';
	}
	@if $filename == project {
		$char: '\E96C';
	}
	@if $filename == rebalance {
		$char: '\E91C';
	}
	@if $filename == rebooting {
		$char: '\E96D';
	}
	@if $filename == regions {
		$char: '\E90A';
	}
	@if $filename == registry {
		$char: '\E623';
	}
	@if $filename == remove2 {
		$char: '\E96E';
	}
	@if $filename == replicator {
		$char: '\E624';
	}
	@if $filename == repository {
		$char: '\E90B';
	}
	@if $filename == resource-pool {
		$char: '\E90C';
	}
	@if $filename == resources-almost-empty {
		$char: '\E91D';
	}
	@if $filename == resources-almost-full {
		$char: '\E912';
	}
	@if $filename == resources-empty {
		$char: '\E96F';
	}
	@if $filename == resources-full {
		$char: '\E913';
	}
	@if $filename == running {
		$char: '\E970';
	}
	@if $filename == save {
		$char: '\E601';
	}
	@if $filename == screen {
		$char: '\E971';
	}
	@if $filename == security {
		$char: '\E946';
	}
	@if $filename == server-group {
		$char: '\E91A';
	}
	@if $filename == server {
		$char: '\E90D';
	}
	@if $filename == service-catalog {
		$char: '\E972';
	}
	@if $filename == service {
		$char: '\E61E';
	}
	@if $filename == services {
		$char: '\E947';
	}
	@if $filename == spinner {
		$char: '\E973';
	}
	@if $filename == spinner2 {
		$char: '\E613';
	}
	@if $filename == storage-domain {
		$char: '\E90E';
	}
	@if $filename == task {
		$char: '\E974';
	}
	@if $filename == tenant {
		$char: '\E916';
	}
	@if $filename == thumb-tack {
		$char: '\E920';
	}
	@if $filename == topology {
		$char: '\E608';
	}
	@if $filename == treeview {
		$char: '\E97D';
	}
	@if $filename == trend-down {
		$char: '\E900';
	}
	@if $filename == trend-up {
		$char: '\E901';
	}
	@if $filename == unknown {
		$char: '\E935';
	}
	@if $filename == unlocked {
		$char: '\E922';
	}
	@if $filename == unplugged {
		$char: '\E942';
	}
	@if $filename == user {
		$char: '\E91E';
	}
	@if $filename == users {
		$char: '\E91F';
	}
	@if $filename == virtual-machine {
		$char: '\E90F';
	}
	@if $filename == volume {
		$char: '\E910';
	}
	@if $filename == warning-triangle {
		$char: '\E975';
	}
	@if $filename == zone {
		$char: '\E911';
	}

	@return $char;
}

@mixin pf-v5-pficon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %pf-v5-pficon;
		} @else {
			@include pf-v5-pficon-styles;
		}
		content: pf-v5-pficon-char($filename);
	}
}

.pf-v5-pficon-add-circle-o {
	@include pf-v5-pficon(add-circle-o);
}
.pf-v5-pficon-ansible-tower {
	@include pf-v5-pficon(ansible-tower);
}
.pf-v5-pficon-applications {
	@include pf-v5-pficon(applications);
}
.pf-v5-pficon-arrow {
	@include pf-v5-pficon(arrow);
}
.pf-v5-pficon-asleep {
	@include pf-v5-pficon(asleep);
}
.pf-v5-pficon-attention-bell {
	@include pf-v5-pficon(attention-bell);
}
.pf-v5-pficon-automation {
	@include pf-v5-pficon(automation);
}
.pf-v5-pficon-bell {
	@include pf-v5-pficon(bell);
}
.pf-v5-pficon-blueprint {
	@include pf-v5-pficon(blueprint);
}
.pf-v5-pficon-build {
	@include pf-v5-pficon(build);
}
.pf-v5-pficon-builder-image {
	@include pf-v5-pficon(builder-image);
}
.pf-v5-pficon-bundle {
	@include pf-v5-pficon(bundle);
}
.pf-v5-pficon-catalog {
	@include pf-v5-pficon(catalog);
}
.pf-v5-pficon-chat {
	@include pf-v5-pficon(chat);
}
.pf-v5-pficon-close {
	@include pf-v5-pficon(close);
}
.pf-v5-pficon-cloud-security {
	@include pf-v5-pficon(cloud-security);
}
.pf-v5-pficon-cloud-tenant {
	@include pf-v5-pficon(cloud-tenant);
}
.pf-v5-pficon-cluster {
	@include pf-v5-pficon(cluster);
}
.pf-v5-pficon-connected {
	@include pf-v5-pficon(connected);
}
.pf-v5-pficon-container-node {
	@include pf-v5-pficon(container-node);
}
.pf-v5-pficon-cpu {
	@include pf-v5-pficon(cpu);
}
.pf-v5-pficon-critical-risk {
	@include pf-v5-pficon(critical-risk);
}
.pf-v5-pficon-data-processor {
	@include pf-v5-pficon(data-processor);
}
.pf-v5-pficon-data-sink {
	@include pf-v5-pficon(data-sink);
}
.pf-v5-pficon-data-source {
	@include pf-v5-pficon(data-source);
}
.pf-v5-pficon-degraded {
	@include pf-v5-pficon(degraded);
}
.pf-v5-pficon-disconnected {
	@include pf-v5-pficon(disconnected);
}
.pf-v5-pficon-domain {
	@include pf-v5-pficon(domain);
}
.pf-v5-pficon-edit {
	@include pf-v5-pficon(edit);
}
.pf-v5-pficon-enhancement {
	@include pf-v5-pficon(enhancement);
}
.pf-v5-pficon-enterprise {
	@include pf-v5-pficon(enterprise);
}
.pf-v5-pficon-equalizer {
	@include pf-v5-pficon(equalizer);
}
.pf-v5-pficon-error-circle-o {
	@include pf-v5-pficon(error-circle-o);
}
.pf-v5-pficon-export {
	@include pf-v5-pficon(export);
}
.pf-v5-pficon-filter {
	@include pf-v5-pficon(filter);
}
.pf-v5-pficon-flavor {
	@include pf-v5-pficon(flavor);
}
.pf-v5-pficon-folder-close {
	@include pf-v5-pficon(folder-close);
}
.pf-v5-pficon-folder-open {
	@include pf-v5-pficon(folder-open);
}
.pf-v5-pficon-globe-route {
	@include pf-v5-pficon(globe-route);
}
.pf-v5-pficon-help {
	@include pf-v5-pficon(help);
}
.pf-v5-pficon-history {
	@include pf-v5-pficon(history);
}
.pf-v5-pficon-home {
	@include pf-v5-pficon(home);
}
.pf-v5-pficon-import {
	@include pf-v5-pficon(import);
}
.pf-v5-pficon-in-progress {
	@include pf-v5-pficon(in-progress);
}
.pf-v5-pficon-info {
	@include pf-v5-pficon(info);
}
.pf-v5-pficon-infrastructure {
	@include pf-v5-pficon(infrastructure);
}
.pf-v5-pficon-integration {
	@include pf-v5-pficon(integration);
}
.pf-v5-pficon-key {
	@include pf-v5-pficon(key);
}
.pf-v5-pficon-locked {
	@include pf-v5-pficon(locked);
}
.pf-v5-pficon-maintenance {
	@include pf-v5-pficon(maintenance);
}
.pf-v5-pficon-memory {
	@include pf-v5-pficon(memory);
}
.pf-v5-pficon-messages {
	@include pf-v5-pficon(messages);
}
.pf-v5-pficon-middleware {
	@include pf-v5-pficon(middleware);
}
.pf-v5-pficon-migration {
	@include pf-v5-pficon(migration);
}
.pf-v5-pficon-module {
	@include pf-v5-pficon(module);
}
.pf-v5-pficon-monitoring {
	@include pf-v5-pficon(monitoring);
}
.pf-v5-pficon-multicluster {
	@include pf-v5-pficon(multicluster);
}
.pf-v5-pficon-namespaces {
	@include pf-v5-pficon(namespaces);
}
.pf-v5-pficon-network {
	@include pf-v5-pficon(network);
}
.pf-v5-pficon-new-process {
	@include pf-v5-pficon(new-process);
}
.pf-v5-pficon-not-started {
	@include pf-v5-pficon(not-started);
}
.pf-v5-pficon-off {
	@include pf-v5-pficon(off);
}
.pf-v5-pficon-ok {
	@include pf-v5-pficon(ok);
}
.pf-v5-pficon-on-running {
	@include pf-v5-pficon(on-running);
}
.pf-v5-pficon-on {
	@include pf-v5-pficon(on);
}
.pf-v5-pficon-open-drawer-right {
	@include pf-v5-pficon(open-drawer-right);
}
.pf-v5-pficon-openshift {
	@include pf-v5-pficon(openshift);
}
.pf-v5-pficon-openstack {
	@include pf-v5-pficon(openstack);
}
.pf-v5-pficon-optimize {
	@include pf-v5-pficon(optimize);
}
.pf-v5-pficon-orders {
	@include pf-v5-pficon(orders);
}
.pf-v5-pficon-os-image {
	@include pf-v5-pficon(os-image);
}
.pf-v5-pficon-package {
	@include pf-v5-pficon(package);
}
.pf-v5-pficon-panel-close {
	@include pf-v5-pficon(panel-close);
}
.pf-v5-pficon-panel-open {
	@include pf-v5-pficon(panel-open);
}
.pf-v5-pficon-paused {
	@include pf-v5-pficon(paused);
}
.pf-v5-pficon-pending {
	@include pf-v5-pficon(pending);
}
.pf-v5-pficon-pficon-dragdrop {
	@include pf-v5-pficon(pficon-dragdrop);
}
.pf-v5-pficon-pficon-history {
	@include pf-v5-pficon(pficon-history);
}
.pf-v5-pficon-pficon-network-range {
	@include pf-v5-pficon(pficon-network-range);
}
.pf-v5-pficon-pficon-satellite {
	@include pf-v5-pficon(pficon-satellite);
}
.pf-v5-pficon-pficon-sort-common-asc {
	@include pf-v5-pficon(pficon-sort-common-asc);
}
.pf-v5-pficon-pficon-sort-common-desc {
	@include pf-v5-pficon(pficon-sort-common-desc);
}
.pf-v5-pficon-pficon-template {
	@include pf-v5-pficon(pficon-template);
}
.pf-v5-pficon-pficon-vcenter {
	@include pf-v5-pficon(pficon-vcenter);
}
.pf-v5-pficon-plugged {
	@include pf-v5-pficon(plugged);
}
.pf-v5-pficon-port {
	@include pf-v5-pficon(port);
}
.pf-v5-pficon-print {
	@include pf-v5-pficon(print);
}
.pf-v5-pficon-private {
	@include pf-v5-pficon(private);
}
.pf-v5-pficon-process-automation {
	@include pf-v5-pficon(process-automation);
}
.pf-v5-pficon-project {
	@include pf-v5-pficon(project);
}
.pf-v5-pficon-rebalance {
	@include pf-v5-pficon(rebalance);
}
.pf-v5-pficon-rebooting {
	@include pf-v5-pficon(rebooting);
}
.pf-v5-pficon-regions {
	@include pf-v5-pficon(regions);
}
.pf-v5-pficon-registry {
	@include pf-v5-pficon(registry);
}
.pf-v5-pficon-remove2 {
	@include pf-v5-pficon(remove2);
}
.pf-v5-pficon-replicator {
	@include pf-v5-pficon(replicator);
}
.pf-v5-pficon-repository {
	@include pf-v5-pficon(repository);
}
.pf-v5-pficon-resource-pool {
	@include pf-v5-pficon(resource-pool);
}
.pf-v5-pficon-resources-almost-empty {
	@include pf-v5-pficon(resources-almost-empty);
}
.pf-v5-pficon-resources-almost-full {
	@include pf-v5-pficon(resources-almost-full);
}
.pf-v5-pficon-resources-empty {
	@include pf-v5-pficon(resources-empty);
}
.pf-v5-pficon-resources-full {
	@include pf-v5-pficon(resources-full);
}
.pf-v5-pficon-running {
	@include pf-v5-pficon(running);
}
.pf-v5-pficon-save {
	@include pf-v5-pficon(save);
}
.pf-v5-pficon-screen {
	@include pf-v5-pficon(screen);
}
.pf-v5-pficon-security {
	@include pf-v5-pficon(security);
}
.pf-v5-pficon-server-group {
	@include pf-v5-pficon(server-group);
}
.pf-v5-pficon-server {
	@include pf-v5-pficon(server);
}
.pf-v5-pficon-service-catalog {
	@include pf-v5-pficon(service-catalog);
}
.pf-v5-pficon-service {
	@include pf-v5-pficon(service);
}
.pf-v5-pficon-services {
	@include pf-v5-pficon(services);
}
.pf-v5-pficon-spinner {
	@include pf-v5-pficon(spinner);
}
.pf-v5-pficon-spinner2 {
	@include pf-v5-pficon(spinner2);
}
.pf-v5-pficon-storage-domain {
	@include pf-v5-pficon(storage-domain);
}
.pf-v5-pficon-task {
	@include pf-v5-pficon(task);
}
.pf-v5-pficon-tenant {
	@include pf-v5-pficon(tenant);
}
.pf-v5-pficon-thumb-tack {
	@include pf-v5-pficon(thumb-tack);
}
.pf-v5-pficon-topology {
	@include pf-v5-pficon(topology);
}
.pf-v5-pficon-treeview {
	@include pf-v5-pficon(treeview);
}
.pf-v5-pficon-trend-down {
	@include pf-v5-pficon(trend-down);
}
.pf-v5-pficon-trend-up {
	@include pf-v5-pficon(trend-up);
}
.pf-v5-pficon-unknown {
	@include pf-v5-pficon(unknown);
}
.pf-v5-pficon-unlocked {
	@include pf-v5-pficon(unlocked);
}
.pf-v5-pficon-unplugged {
	@include pf-v5-pficon(unplugged);
}
.pf-v5-pficon-user {
	@include pf-v5-pficon(user);
}
.pf-v5-pficon-users {
	@include pf-v5-pficon(users);
}
.pf-v5-pficon-virtual-machine {
	@include pf-v5-pficon(virtual-machine);
}
.pf-v5-pficon-volume {
	@include pf-v5-pficon(volume);
}
.pf-v5-pficon-warning-triangle {
	@include pf-v5-pficon(warning-triangle);
}
.pf-v5-pficon-zone {
	@include pf-v5-pficon(zone);
}
