@font-face {
	font-family: "pficon";
	src: url('./pficon.eot');
	src: url('./pficon.eot?#iefix') format('eot'),
		url('./pficon.woff2') format('woff2'),
		url('./pficon.woff') format('woff'),
		url('./pficon.ttf') format('truetype'),
		url('./pficon.svg#pficon') format('svg');
}

.pficon:before {
	font-family: "pficon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.pficon-add-circle-o-icon:before {
	content: "\E001";
}

.pficon-applications-icon:before {
	content: "\E002";
}

.pficon-arrow-icon:before {
	content: "\E003";
}

.pficon-asleep-icon:before {
	content: "\E004";
}

.pficon-automation-icon:before {
	content: "\E005";
}

.pficon-blueprint-icon:before {
	content: "\E006";
}

.pficon-build-icon:before {
	content: "\E007";
}

.pficon-builder-image-icon:before {
	content: "\E008";
}

.pficon-bundle-icon:before {
	content: "\E009";
}

.pficon-catalog-icon:before {
	content: "\E00A";
}

.pficon-chat-icon:before {
	content: "\E00B";
}

.pficon-close-icon:before {
	content: "\E00C";
}

.pficon-cloud-security-icon:before {
	content: "\E00D";
}

.pficon-cloud-tenant-icon:before {
	content: "\E00E";
}

.pficon-cluster-icon:before {
	content: "\E00F";
}

.pficon-connected-icon:before {
	content: "\E010";
}

.pficon-container-node-icon:before {
	content: "\E011";
}

.pficon-cpu-icon:before {
	content: "\E012";
}

.pficon-degraded-icon:before {
	content: "\E013";
}

.pficon-disconnected-icon:before {
	content: "\E014";
}

.pficon-domain-icon:before {
	content: "\E015";
}

.pficon-edit-icon:before {
	content: "\E016";
}

.pficon-enhancement-icon:before {
	content: "\E017";
}

.pficon-enterprise-icon:before {
	content: "\E018";
}

.pficon-equalizer-icon:before {
	content: "\E019";
}

.pficon-error-circle-o-icon:before {
	content: "\E01A";
}

.pficon-export-icon:before {
	content: "\E01B";
}

.pficon-filter-icon:before {
	content: "\E01C";
}

.pficon-flavor-icon:before {
	content: "\E01D";
}

.pficon-folder-close-icon:before {
	content: "\E01E";
}

.pficon-folder-open-icon:before {
	content: "\E01F";
}

.pficon-globe-route-icon:before {
	content: "\E020";
}

.pficon-help-icon:before {
	content: "\E021";
}

.pficon-history-icon:before {
	content: "\E022";
}

.pficon-home-icon:before {
	content: "\E023";
}

.pficon-import-icon:before {
	content: "\E024";
}

.pficon-in-progress-icon:before {
	content: "\E025";
}

.pficon-info-icon:before {
	content: "\E026";
}

.pficon-infrastructure-icon:before {
	content: "\E027";
}

.pficon-integration-icon:before {
	content: "\E028";
}

.pficon-key-icon:before {
	content: "\E029";
}

.pficon-locked-icon:before {
	content: "\E02A";
}

.pficon-maintenance-icon:before {
	content: "\E02B";
}

.pficon-memory-icon:before {
	content: "\E02C";
}

.pficon-messages-icon:before {
	content: "\E02D";
}

.pficon-middleware-icon:before {
	content: "\E02E";
}

.pficon-migration-icon:before {
	content: "\E02F";
}

.pficon-monitoring-icon:before {
	content: "\E030";
}

.pficon-network-icon:before {
	content: "\E031";
}

.pficon-off-icon:before {
	content: "\E032";
}

.pficon-ok-icon:before {
	content: "\E033";
}

.pficon-on-icon:before {
	content: "\E034";
}

.pficon-on-running-icon:before {
	content: "\E035";
}

.pficon-optimize-icon:before {
	content: "\E036";
}

.pficon-orders-icon:before {
	content: "\E037";
}

.pficon-os-image-icon:before {
	content: "\E038";
}

.pficon-paused-icon:before {
	content: "\E039";
}

.pficon-pending-icon:before {
	content: "\E03A";
}

.pficon-pficon-dragdrop-icon:before {
	content: "\E03B";
}

.pficon-pficon-history-icon:before {
	content: "\E03C";
}

.pficon-pficon-network-range-icon:before {
	content: "\E03D";
}

.pficon-pficon-satellite-icon:before {
	content: "\E03E";
}

.pficon-pficon-sort-common-asc-icon:before {
	content: "\E03F";
}

.pficon-pficon-sort-common-desc-icon:before {
	content: "\E040";
}

.pficon-pficon-template-icon:before {
	content: "\E041";
}

.pficon-pficon-vcenter-icon:before {
	content: "\E042";
}

.pficon-plugged-icon:before {
	content: "\E043";
}

.pficon-port-icon:before {
	content: "\E044";
}

.pficon-print-icon:before {
	content: "\E045";
}

.pficon-private-icon:before {
	content: "\E046";
}

.pficon-process-automation-icon:before {
	content: "\E047";
}

.pficon-project-icon:before {
	content: "\E048";
}

.pficon-rebalance-icon:before {
	content: "\E049";
}

.pficon-rebooting-icon:before {
	content: "\E04A";
}

.pficon-regions-icon:before {
	content: "\E04B";
}

.pficon-registry-icon:before {
	content: "\E04C";
}

.pficon-remove2-icon:before {
	content: "\E04D";
}

.pficon-replicator-icon:before {
	content: "\E04E";
}

.pficon-repository-icon:before {
	content: "\E04F";
}

.pficon-resource-pool-icon:before {
	content: "\E050";
}

.pficon-resources-almost-empty-icon:before {
	content: "\E051";
}

.pficon-resources-almost-full-icon:before {
	content: "\E052";
}

.pficon-resources-full-icon:before {
	content: "\E053";
}

.pficon-save-icon:before {
	content: "\E054";
}

.pficon-screen-icon:before {
	content: "\E055";
}

.pficon-security-icon:before {
	content: "\E056";
}

.pficon-server-group-icon:before {
	content: "\E057";
}

.pficon-server-icon:before {
	content: "\E058";
}

.pficon-service-catalog-icon:before {
	content: "\E059";
}

.pficon-service-icon:before {
	content: "\E05A";
}

.pficon-services-icon:before {
	content: "\E05B";
}

.pficon-spinner-icon:before {
	content: "\E05C";
}

.pficon-spinner2-icon:before {
	content: "\E05D";
}

.pficon-storage-domain-icon:before {
	content: "\E05E";
}

.pficon-tenant-icon:before {
	content: "\E05F";
}

.pficon-thumb-tack-icon:before {
	content: "\E060";
}

.pficon-topology-icon:before {
	content: "\E061";
}

.pficon-trend-down-icon:before {
	content: "\E062";
}

.pficon-trend-up-icon:before {
	content: "\E063";
}

.pficon-unknown-icon:before {
	content: "\E064";
}

.pficon-unlocked-icon:before {
	content: "\E065";
}

.pficon-unplugged-icon:before {
	content: "\E066";
}

.pficon-user-icon:before {
	content: "\E067";
}

.pficon-users-icon:before {
	content: "\E068";
}

.pficon-virtual-machine-icon:before {
	content: "\E069";
}

.pficon-volume-icon:before {
	content: "\E06A";
}

.pficon-warning-triangle-icon:before {
	content: "\E06B";
}

.pficon-zone-icon:before {
	content: "\E06C";
}
