<div class="pf-c-about-modal-box__closer {{pf-c-about-modal-box-closer--modifier}}"
    {{#if pf-c-about-modal-box-closer__id}}
      id="{{pf-c-about-modal-box-closer__id}}"
    {{/if}}>
  {{> @partial-block}}
</div>


