<div class="pf-c-about-modal-box__logo {{pf-c-about-modal-box-logo--modifier}}"
  {{#if pf-c-about-modal-box-logo__id}}
    id="{{pf-c-about-modal-box-logo__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>


