<div class="pf-c-about-modal-box__content {{pf-c-about-modal-box-content--modifier}}"
    {{#if pf-c-about-modal-box-content__id}}
    id="{{pf-c-about-modal-box-content__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>


