<div class="pf-c-about-modal-box__close{{#if about-modal-box-close--modifiers}} {{about-modal-box-close--modifiers}}{{/if}}"
  {{#if about-modal-box-close--attributes}}
    {{{about-modal-box-close--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>


