<div class="pf-c-about-modal-box__header{{#if about-modal-box-header--modifiers}} {{about-modal-box-header--modifiers}}{{/if}}"
  {{#if about-modal-box-header--attributes}}
    {{{about-modal-box-header--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>
