<div class="pf-c-about-modal-box__content{{#if about-box-content--modifier}} {{about-modal-box-content--modifier}}{{/if}}"
  {{#if about-modal-box-content--attributes}}
    {{{about-modal-box-content--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>


