<div class="pf-c-about-modal-box__header-strapline{{#if about-modal-box-header-strapline--modifier}} {{about-modal-box-header-strapline--modifier}}{{/if}}"
  {{#if about-modal-box-header-strapline--attribute}}
    {{{about-modal-box-header-strapline--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>