<div class="pf-c-about-modal-box__logo{{#if about-modal-box-logo--modifier}} {{about-modal-box-logo--modifier}}{{/if}}"
  {{#if about-modal-box-logo--attribute}}
    {{{about-modal-box-logo--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>