<div class="pf-c-about-modal-box__strapline {{pf-c-about-modal-box-strapline--modifier}}"
  {{#if pf-c-about-modal-box-strapline__id}}
    id="{{pf-c-about-modal-box-strapline__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>


