<div class="pf-c-about-modal-box__logo-image {{pf-c-about-modal-box-logo-image--modifier}}"
  {{#if pf-c-about-modal-box-logo-image__id}}
    id="{{pf-c-about-modal-box-logo-image__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>


