<div class="pf-c-about-modal-box__hero {{pf-c-about-modal-box-hero--modifier}}"
  {{#if pf-c-about-modal-box-hero__id}}
    id="{{pf-c-about-modal-box-hero__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>


