<div class="pf-c-about-modal-box__brand{{#if about-modal-box-brand--modifiers}} {{about-modal-box-brand--modifiers}}{{/if}}"
  {{#if about-modal-box-brand--attributes}}
    {{{about-modal-box-brand--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>


