<div class="pf-c-about-modal-box{{#if about-modal-box--modifier}} {{about-modal-box--modifier}}{{/if}}"
  role="dialog" 
  aria-modal="true"
  {{#if about-modal-box--attributes}}
    {{{about-modal-box--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>
