<div class="pf-c-about-modal-box__header {{pf-c-about-modal-box-header--modifier}}"
  {{#if pf-c-about-modal-box-header__id}}
    id="{{pf-c-about-modal-box-header__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>


