<div class="pf-c-about-modal-box__content{{#if about-box-content--modifiers}} {{about-modal-box-content--modifiers}}{{/if}}"
  {{#if about-modal-box-content--attributes}}
    {{{about-modal-box-content--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>


