<div class="pf-c-about-modal-box__logo{{#if about-modal-box-logo--modifiers}} {{about-modal-box-logo--modifiers}}{{/if}}"
  {{#if about-modal-box-logo--attributes}}
    {{{about-modal-box-logo--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>


