<div class="pf-c-about-modal-box__logo-background {{pf-c-about-modal-box-logo-background--modifier}}"
  {{#if pf-c-about-modal-box-logo-background__id}}
    id="{{pf-c-about-modal-box-logo-background__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>


