<div class="pf-c-about-modal-box__hero{{#if about-modal-box-hero--modifiers}} {{about-modal-box-hero--modifiers}}{{/if}}"
  {{#if about-modal-box-hero--attributes}}
    {{{about-modal-box-hero--attributes}}}
  {{/if}}>
  {{> @partial-block}}
</div>
