<div class="pf-c-about-modal-box__brand {{pf-c-about-modal-box-brand--modifier}}"
  {{#if pf-c-about-modal-box-brand__id}}
    id="{{pf-c-about-modal-box-brand__id}}"
  {{/if}}>
  {{> @partial-block}}
</div>


