<div class="about-modal-box__content{{#if about-box-content--modifier}} {{about-modal-box-content--modifier}}{{/if}}"
  {{#if about-modal-box-content--attribute}}
    {{{about-modal-box-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>


