@import "../../patternfly-utilities";

.pf-c-about-modal-box {

  /* stylelint-disable */

  --pf-c-about-modal-box--Color: var(--pf-global--Color--dark-100);

  // Component variables
  --pf-c-about-modal-box--ZIndex: var(--pf-global--ZIndex--xxl);
  // Modal uses a non-standard background color
  --pf-c-about-modal-box--BackgroundColor: $pf-color-black-1000;
  // This is a special one-off glow for the about modal
  --pf-c-about-modal-box--BoxShadow: 0 0 100px 0 rgba(256, 256, 256, .4);
  --pf-c-about-modal-box--ZIndex: var(--pf-global--ZIndex--xxl);
  // Width and height values are determined by design
  --pf-c-about-modal-box--MaxWidth: pf-size-prem(1232px);
  // Height is optimized for the exact height desired
  --pf-c-about-modal-box--Height: pf-size-prem(762px);
  // MinHeight is based on all the spacers we know we have, plus some LineHeight to make some space for at least one line of content in each section
  --pf-c-about-modal-box--MinHeight: calc(var(--pf-c-about-modal-box__brand--PaddingTop) + var(--pf-c-about-modal-box__header--PaddingTop) + var(--pf-c-about-modal-box__header--PaddingBottom) + var(--pf-c-about-modal-box__content--PaddingTop) + var(--pf-c-about-modal-box__content--PaddingBottom) + var(--pf-c-about-modal-box__brand-image--Height) + calc(1rem * 6 * var(--pf-global--LineHeight--md)));
  // MaxHeight ensures that the modal will not go off the screen and instead the content will scroll
  --pf-c-about-modal-box--MaxHeight: calc(100vh - (2 * (var(--pf-global--spacer--xxxl))));
  //Margin left and right make sure there is some space around the modal at the largest breakpoint
  --pf-c-about-modal-box--MarginLeft: var(--pf-global--spacer--xxxl);
  --pf-c-about-modal-box--MarginRight: var(--pf-global--spacer--xxxl);

  // Element variables

  // Modal
  --pf-c-about-modal-box--PaddingTop:     var(--pf-global--spacer--lg);
  --pf-c-about-modal-box--PaddingRight:   var(--pf-global--spacer--xl);
  --pf-c-about-modal-box--PaddingBottom:  var(--pf-global--spacer--xl);
  --pf-c-about-modal-box--PaddingLeft:    var(--pf-global--spacer--xl);
  // Modal - sm
  --pf-c-about-modal-box--PaddingTop--sm:     var(--pf-global--spacer--xl);
  --pf-c-about-modal-box--PaddingBottom--sm:  var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box--PaddingLeft--sm:    var(--pf-global--spacer--xxl);
  // Modal - lg
  --pf-c-about-modal-box--PaddingTop--lg:     var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box--PaddingBottom--lg:  var(--pf-global--spacer--xxxl);
  --pf-c-about-modal-box--PaddingLeft--lg:    var(--pf-global--spacer--xxxl);
  

  // Brand
  --pf-c-about-modal-box__brand--MarginBottom: var(--pf-global--spacer--md);
  // Header - sm
  --pf-c-about-modal-box__brand--MarginBottom--sm: var(--pf-global--spacer--lg);
  // Header - lg
  --pf-c-about-modal-box__brand--MarginBottom--lg: var(--pf-global--spacer--xl);


  // Strapline
  --pf-c-about-modal-box__strapline--MarginBottom: var(--pf-global--spacer--md);


  // Header
  --pf-c-about-modal-box__header--PaddingTop:     var(--pf-global--spacer--md);
  --pf-c-about-modal-box__header--PaddingBottom:  var(--pf-global--spacer--sm);
  --pf-c-about-modal-box__header--MarginBottom:   var(--pf-global--spacer--lg);

  // Header - sm
  --pf-c-about-modal-box__header--MarginBottom--sm: var(--pf-global--spacer--lg);
  // Header - lg
  --pf-c-about-modal-box__header--MarginBottom--lg: var(--pf-global--spacer--xl);


  // Brand-image
  --pf-c-about-modal-box__brand-image--Height: pf-size-prem(40px);

  // Content

  // This is the min allowable height of the content but is used in the grid row template
  --pf-c-about-modal-box__content--MinHeight: calc(var(--pf-c-about-modal-box__content--PaddingTop) + var(--pf-c-about-modal-box__content--PaddingBottom) + calc(1rem * 1 * var(--pf-global--LineHeight--md)));

  // Logo
  // --pf-c-about-modal-box__logo--PaddingTop: var(--pf-global--spacer--xl);
  // --pf-c-about-modal-box__logo--PaddingRight: var(--pf-global--spacer--xxxl);
  // --pf-c-about-modal-box__logo--PaddingBottom: var(--pf-global--spacer--xxxl);
  // --pf-c-about-modal-box__logo--PaddingLeft: var(--pf-global--spacer--xxxl);

  // Logo image
  // --pf-c-about-modal-box__logo-image--PaddingTop: var(--pf-global--spacer--md);
  // --pf-c-about-modal-box__logo-image--PaddingRight: var(--pf-global--spacer--md);
  // --pf-c-about-modal-box__logo-image--PaddingBottom: var(--pf-global--spacer--md);
  // --pf-c-about-modal-box__logo-image--PaddingLeft: var(--pf-global--spacer--md);
  // height and width determined manually by visual design
  --pf-c-about-modal-box__logo-image--Width: pf-size-prem(236px);
  --pf-c-about-modal-box__logo-image--Height: pf-size-prem(110px);
  --pf-c-about-modal-box__logo-image--BackgroundColor: $pf-color-white;

  // closer
  --pf-c-about-modal-box__closer--PaddingTop: var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box__closer--PaddingRight: var(--pf-global--spacer--xxxl);
  --pf-c-about-modal-box__closer--ZIndex: var(--pf-global--ZIndex--xxl);


  // Hero background image
  --pf-c-about-modal-box__hero-BackgroundImage: url("#{$pf-global--image-path}/pfbg_576.jpg");


  /* stylelint-enable */

  // This component always needs to be dark  
  @extend %pf-t-dark;

  z-index: var(--pf-c-about-modal-box--ZIndex);
  display: grid;
  grid-template-areas:
    "brand"
    "strapline"
    "header"
    "content"
    "logo";
  //TODO: put in the correct amount of minimum space
  grid-template-rows: max-content max-content max-content auto max-content;
  // Modal is full screen until larger breakpoint
  height: 100vh;
  padding-top: var(--pf-c-about-modal-box--PaddingTop);
  padding-right: var(--pf-c-about-modal-box--PaddingRight);
  padding-bottom: var(--pf-c-about-modal-box--PaddingBottom);
  padding-left: var(--pf-c-about-modal-box--PaddingLeft);

  // Because this component is always dark, set the background color 
  background-color: var(--pf-c-about-modal-box--BackgroundColor);
  box-shadow: var(--pf-c-about-modal-box--BoxShadow);

  // Responsive behavior - at small breakpoint
  @media only screen and (min-width: $pf-global--breakpoint--sm)  {
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
      "brand      hero"
      "strapline  hero"
      "header     hero"
      "content    hero"
      "logo       hero";
    // Reset responsive padding
    padding-top: var(--pf-c-about-modal-box--PaddingTop--sm);
    padding-bottom: var(--pf-c-about-modal-box--PaddingBottom--sm);
    padding-left: var(--pf-c-about-modal-box--PaddingLeft--sm);
  }

  @media only screen and (min-width: $pf-global--breakpoint--lg)  {
    grid-template-columns: 6fr 4fr;
    grid-template-areas:
      "brand      hero"
      "header     hero"
      "content    hero"
      "content    hero";
    max-width: var(--pf-c-about-modal-box--MaxWidth);
    height: var(--pf-c-about-modal-box--Height);
    // min-height: var(--pf-c-about-modal-box--MinHeight);
    // max-height: var(--pf-c-about-modal-box--MaxHeight);
    // margin-right: var(--pf-c-about-modal-box--MarginRight);
    // margin-left: var(--pf-c-about-modal-box--MarginLeft);

    // Reset responsive padding
    padding-top: var(--pf-c-about-modal-box--PaddingTop--lg);
    padding-bottom: var(--pf-c-about-modal-box--PaddingBottom--lg);
    padding-left: var(--pf-c-about-modal-box--PaddingLeft--lg);
  }

  // Elements
  &__brand {
    grid-area: brand;

    margin-bottom: var(--pf-c-about-modal-box__brand--MarginBottom);

    @media (min-width: $pf-global--breakpoint--sm) {
      margin-bottom: var(--pf-c-about-modal-box__brand--MarginBottom--sm);
    }

    @media (min-width: $pf-global--breakpoint--lg) {
      margin-bottom: var(--pf-c-about-modal-box__brand--MarginBottom--lg);
    }
  }

  &__brand-image {
    height: var(--pf-c-about-modal-box__brand-image--Height);
  }

  &__strapline {
    grid-area: strapline;
  }

  &__header {
    grid-area: header;
    padding-top: var(--pf-c-about-modal-box__header--PaddingTop);
    padding-bottom: var(--pf-c-about-modal-box__header--PaddingBottom);
    margin-bottom: var(--pf-c-about-modal-box__header--MarginBottom);

    @media (min-width: $pf-global--breakpoint--sm) {
      margin-bottom: var(--pf-c-about-modal-box__header--MarginBottom--sm);
    }

    @media (min-width: $pf-global--breakpoint--lg) {
      margin-bottom: var(--pf-c-about-modal-box__header--MarginBottom--lg);
    }

    // Must override the workspace h2 styling leaking in
    h2 {
      margin-top: 0;
      margin-bottom: var(--pf-global--spacer--md);
    }
  }

  &__content {
    margin-bottom: var(--pf-c-about-modal-box__content--MarginBottom);
    grid-area: content;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  &__logo {
    grid-area: logo;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--pf-c-about-modal-box__logo-image--Width);
      height: var(--pf-c-about-modal-box__logo-image--Height);
      padding-top: var(--pf-c-about-modal-box__logo-image--PaddingTop);
      padding-right: var(--pf-c-about-modal-box__logo-image--PaddingRight);
      padding-bottom: var(--pf-c-about-modal-box__logo-image--PaddingBottom);
      padding-left: var(--pf-c-about-modal-box__logo-image--PaddingLeft);
      background-color: var(--pf-c-about-modal-box__logo-image--BackgroundColor);
    }
  }

  &__closer {
    grid-area: closer;
    grid-area: 1 / 1;
    justify-self: end;

    @media only screen and (min-width: $pf-global--breakpoint--sm) {
      grid-area: 1 / 2;
      // make sure the closer is above the hero image grid area
      z-index: var(--pf-c-about-modal-box__closer--ZIndex);
      //center the closer over the narrow hero image
      justify-self: center;
    }
  }

  // Don't display the hero at the narrowest breakpoint
  &__hero {
    display: none;

    @media only screen and (min-width: $pf-global--breakpoint--sm) {
      grid-area: hero;
      display: block;
      // Negative margin the box padding value
      margin-top: calc(var(--pf-c-about-modal-box--PaddingTop--sm) * -1);
      margin-bottom: calc(var(--pf-c-about-modal-box--PaddingBottom--sm) * -1);
      background-image: var(--pf-c-about-modal-box__hero-BackgroundImage);
      background-position: center;
      background-size: cover;
    }
  }
}
