@import "../../patternfly-utilities";

.pf-c-about-modal-box {

  /* stylelint-disable */

  // Modal uses a non-standard background color
  --pf-c-about-modal-box--BackgroundColor: $pf-color-black-1000;

  // This is a special one-off glow for the about modal
  --pf-c-about-modal-box--BoxShadow: 0 0 100px 0 rgba(256, 256, 256, .4);

  // Height is optimized for the exact height desired
  --pf-c-about-modal-box--Height: pf-size-prem(762px);

  // MinHeight is based on all the spacers we know we have, plus some LineHeight to make some space for at least one line of content in each section
  --pf-c-about-modal-box--MinHeight: calc(var(--pf-c-about-modal-box__brand--PaddingTop) + var(--pf-c-about-modal-box__header--PaddingTop) + var(--pf-c-about-modal-box__header--PaddingBottom) + var(--pf-c-about-modal-box__content--PaddingTop) + var(--pf-c-about-modal-box__content--PaddingBottom) + var(--pf-c-about-modal-box__brand-image--Height) + calc(1rem * 6 * var(--pf-global--LineHeight--md)));
  --pf-c-about-modal-box--MinHeight: 400px;

  // MaxHeight ensures that the modal will not go off the screen and instead the content will scroll
  --pf-c-about-modal-box--MaxHeight:                calc(100vh - (2 * (var(--pf-global--spacer--xxxl))));

  // Assigning sass variable values to css vars. Using sass vars to calculate breakpoint.
  // Width value is determined by design
  $pf-c-about-modal-box--MaxWidth:                  pf-size-prem(1232px);

  --pf-c-about-modal-box--MaxWidth:                 $pf-c-about-modal-box--MaxWidth;

  // Minimum horizontal space allowed at large breakpoint
  $pf-c-about-modal-box--Margin:                    $pf-global--spacer--xxxl;

  --pf-c-about-modal-box--Margin:                   $pf-c-about-modal-box--Margin;

  // Calculate new breakpoint based on max width and minimum horizontal space allowed
  $pf-c-about-modal-box-breakpoint--min-size:       #{$pf-c-about-modal-box--MaxWidth + ($pf-c-about-modal-box--Margin * 2)};

  @warn $pf-c-about-modal-box-breakpoint--min-size;

  // Modal
  --pf-c-about-modal-box--Color:                    var(--pf-global--Color--dark-100);
  --pf-c-about-modal-box--PaddingRight:             var(--pf-global--spacer--xl);
  --pf-c-about-modal-box--PaddingLeft--sm:          var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box--PaddingLeft:              var(--pf-global--spacer--xl);
  --pf-c-about-modal-box--PaddingLeft--lg:          var(--pf-global--spacer--xxxl);
  --pf-c-about-modal-box--MarginTop:                var(--pf-global--spacer--xxxl);
  --pf-c-about-modal-box--GridColumnGap:            var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box-spacer-top--Height:        var(--pf-global--spacer--xl);
  --pf-c-about-modal-box-spacer-top--Height--sm:    var(--pf-global--spacer--xl);
  --pf-c-about-modal-box-spacer-top--Height--lg:    var(--pf-global--spacer--xl);
  --pf-c-about-modal-box-spacer-bottom--Height:     var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box-spacer-bottom--Height--sm: var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box-spacer-bottom--Height--lg: var(--pf-global--spacer--xxl);


  // Hero background image
  --pf-c-about-modal-box__hero--BackgroundImage:    url("#{$pf-global--image-path}/pfbg_576.jpg");
  --pf-c-about-modal-box__hero--Width:              pf-size-prem(470px);


  // Brand
  --pf-c-about-modal-box__brand--MarginBottom:      var(--pf-global--spacer--md);
  --pf-c-about-modal-box__brand--MarginBottom--sm:  var(--pf-global--spacer--lg);
  --pf-c-about-modal-box__brand--MarginBottom--lg:  var(--pf-global--spacer--xl);


  // Strapline
  --pf-c-about-modal-box__strapline--MarginBottom:  var(--pf-global--spacer--md);


  // Header
  --pf-c-about-modal-box__header--PaddingTop:       var(--pf-global--spacer--md);
  --pf-c-about-modal-box__header--PaddingBottom:    var(--pf-global--spacer--sm);
  --pf-c-about-modal-box__header--MarginBottom:     var(--pf-global--spacer--lg);
  --pf-c-about-modal-box__header--MarginBottom--sm: var(--pf-global--spacer--lg);
  --pf-c-about-modal-box__header--MarginBottom--lg: var(--pf-global--spacer--xl);


  // Content
  --pf-c-about-modal-box__content--MarginTop:       var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box__content--MarginBottom:    var(--pf-global--spacer--lg);


  // Brand-image
  --pf-c-about-modal-box__brand-image--Height:      pf-size-prem(40px);


  // Content
  --pf-c-about-modal-box__logo--PaddingTop:         var(--pf-global--spacer--xl);
  --pf-c-about-modal-box__logo--PaddingBottom:      var(--pf-global--spacer--xxxl);
  // This is the min allowable height of the content but is used in the grid row template
  --pf-c-about-modal-box__content--MinHeight:       50%;
  

  // Logo
  // --pf-c-about-modal-box__logo--PaddingRight: var(--pf-global--spacer--xxxl);
  // --pf-c-about-modal-box__logo--PaddingLeft: var(--pf-global--spacer--xxxl);

  // Logo image
  --pf-c-about-modal-box__logo-image--PaddingTop:           var(--pf-global--spacer--md);
  --pf-c-about-modal-box__logo-image--PaddingRight:         var(--pf-global--spacer--xl);
  --pf-c-about-modal-box__logo-image--PaddingBottom:        var(--pf-global--spacer--md);
  --pf-c-about-modal-box__logo-image--PaddingLeft:          var(--pf-global--spacer--md);


  // height and width determined manually by visual design
  --pf-c-about-modal-box__logo-image--Width:                pf-size-prem(236px);
  --pf-c-about-modal-box__logo-image--Height:               pf-size-prem(110px);
  --pf-c-about-modal-box__logo-image--BackgroundColor:      $pf-color-white;


  // Closer
  --pf-c-about-modal-box__closer--PaddingTop:               var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box__closer--PaddingRight:             var(--pf-global--spacer--xxxl);
  --pf-c-about-modal-box__closer--MarginRight:              var(--pf-global--spacer--xxl);
  --pf-c-about-modal-box__closer-button--BackgroundColor:   $pf-color-black-1000;  
  --pf-c-about-modal-box__closer-button--FontSize:          pf-font-prem(20px);
  --pf-c-about-modal-box__closer-button--FontSize--sm:      var(--pf-global--FontSize--lg);
  --pf-c-about-modal-box__closer-button--Width:             calc(var(--pf-c-about-modal-box__closer-button--FontSize) * 2);
  --pf-c-about-modal-box__closer-button--Width--sm:         calc(var(--pf-c-about-modal-box__closer-button--FontSize--sm) * 2);
  --pf-c-about-modal-box__closer-button--Height:            var(--pf-c-about-modal-box__closer-button--Width);
  --pf-c-about-modal-box__closer-button--Height--sm:        var(--pf-c-about-modal-box__closer-button--Width--sm);


  // First and last row spacer
  --pf-c-about-modal-box-spacer-top--Height:                var(--pf-global--spacer--lg);
  --pf-c-about-modal-box-spacer-bottom--Height:             var(--pf-global--spacer--xl);

  // First and last row spacer - lg
  --pf-c-about-modal-box-spacer-top--Height--lg:            var(--pf-global--spacer--xl);
  --pf-c-about-modal-box-spacer-bottom--Height--lg:         var(--pf-global--spacer--xxl);


  dl {
    display: grid;
    grid-template-columns: max-content;
    grid-column-gap: 30px;

    @media only screen and (min-width: 480px)  {
      grid-template-columns: max-content max-content;
    }

    dt {
      color: var(--pf-global--Color--light-100);
    }

    dd {
      color: var(--pf-global--Color--dark-200);
    }
  }

  /* stylelint-enable */

  // This component always needs to be dark  
  @extend %pf-t-dark;

  z-index: var(--pf-c-about-modal-box--ZIndex);
  display: grid;
  grid-template-areas:
    "spacer-top"
    "brand"
    "strapline"
    "header"
    "content"
    "logo"
    "spacer-bottom";
  grid-template-rows:
    [spacer-top]      var(--pf-c-about-modal-box-spacer-top--Height)
    [brand]           max-content
    [strapline]       max-content
    [header]          max-content
    [content]         auto
    [logo]            max-content
    [spacer-bottom]   var(--pf-c-about-modal-box-spacer-bottom--Height);

  height: 100vh;
  padding-right: var(--pf-c-about-modal-box--PaddingRight);
  padding-left: var(--pf-c-about-modal-box--PaddingLeft);
  // Because this component is always dark, set the background color 
  background-color: var(--pf-c-about-modal-box--BackgroundColor);
  box-shadow: var(--pf-c-about-modal-box--BoxShadow);

  // Breakpoint - sm
  @media only screen and (min-width: $pf-global--breakpoint--sm) {
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
      "spacer-top       hero"
      "brand            hero"
      "strapline        hero"
      "header           hero"
      "content          hero"
      "logo             hero"
      "spacer-bottom    hero";
    grid-column-gap: var(--pf-c-about-modal-box--GridColumnGap);

    // Reset padding-right in favor of grid gap
    padding-right: 0;
    padding-left: var(--pf-c-about-modal-box--PaddingLeft--sm);
  }

  // Breakpoint - lg
  @media screen and (min-width: $pf-global--breakpoint--lg) {
    grid-template-columns: 6fr 4fr;
    grid-template-rows:
      [spacer-top]      var(--pf-c-about-modal-box-spacer-top--Height--lg)
      [brand]           max-content
      [strapline]       max-content
      [header]          max-content
      [content]         auto
      [spacer-bottom]   var(--pf-c-about-modal-box-spacer-bottom--Height--lg);

    grid-template-areas:
      "spacer-top     hero"
      "brand          hero"
      "strapline      hero"
      "header         hero"
      "content        hero"
      "spacer-bottom  hero";

    // Reset min-width
    width: auto;
    // Reset max-width
    min-width: auto;
    height: var(--pf-c-about-modal-box--Height);
    min-height: var(--pf-c-about-modal-box--MinHeight);
    max-height: var(--pf-c-about-modal-box--MaxHeight);
    padding-left: var(--pf-c-about-modal-box--PaddingLeft--lg);
    margin-top: var(--pf-c-about-modal-box--MarginTop);
    margin-right: var(--pf-c-about-modal-box--Margin);
    margin-left: var(--pf-c-about-modal-box--Margin);
  }

  @media screen and (min-width: $pf-c-about-modal-box-breakpoint--min-size) {
    grid-template-columns: auto var(--pf-c-about-modal-box__hero--Width);
    max-width: var(--pf-c-about-modal-box--MaxWidth);
    margin-top: var(--pf-c-about-modal-box--MarginTop);
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  // Hero
  &__hero {
    grid-area: hero;
    // Don't display the hero at the narrowest breakpoint
    display: none;
    background-image: var(--pf-c-about-modal-box__hero--BackgroundImage);
    background-position: center;
    background-size: cover;

    @media only screen and (min-width: $pf-global--breakpoint--sm) {
      display: block;
      margin-top: calc(var(--pf-c-about-modal-box--PaddingTop--sm) * -1);
      margin-bottom: calc(var(--pf-c-about-modal-box--PaddingBottom--sm) * -1);
    }

    @media only screen and (min-width: $pf-global--breakpoint--lg) {
      margin-top: calc(var(--pf-c-about-modal-box--PaddingTop--lg) * -1);
      margin-bottom: calc(var(--pf-c-about-modal-box--PaddingBottom--lg) * -1);
    }
  }

  // Brand
  &__brand {
    grid-area: brand;

    margin-bottom: var(--pf-c-about-modal-box__brand--MarginBottom);

    @media (min-width: $pf-global--breakpoint--sm) {
      margin-bottom: var(--pf-c-about-modal-box__brand--MarginBottom--sm);
    }

    @media (min-width: $pf-global--breakpoint--lg) {
      margin-bottom: var(--pf-c-about-modal-box__brand--MarginBottom--lg);
    }
  }

  // Brand image
  &__brand-image {
    height: var(--pf-c-about-modal-box__brand-image--Height);
  }

  // Strapline
  &__strapline {
    grid-area: strapline;
  }

  // Header
  &__header {
    grid-area: header;
    padding-top: var(--pf-c-about-modal-box__header--PaddingTop);
    padding-bottom: var(--pf-c-about-modal-box__header--PaddingBottom);
  }

  // Content
  &__content {
    min-height: var(--pf-c-about-modal-box__content--MinHeight);
    margin-top: var(--pf-c-about-modal-box__content--MarginTop);
    margin-bottom: var(--pf-c-about-modal-box__content--MarginBottom);
    grid-area: content;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  // Logo
  &__logo {
    grid-area: logo;

    @media screen and (min-width: $pf-global--breakpoint--lg) {
      grid-area: 4 / 2 / 4 / 2;
      display: flex;
      align-items: stretch;
    }
  }

  // Logo image
  &__logo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--pf-c-about-modal-box__logo-image--Width);
    height: var(--pf-c-about-modal-box__logo-image--Height);
    padding-top: var(--pf-c-about-modal-box__logo-image--PaddingTop);
    padding-right: var(--pf-c-about-modal-box__logo-image--PaddingRight);
    padding-bottom: var(--pf-c-about-modal-box__logo-image--PaddingBottom);
    padding-left: var(--pf-c-about-modal-box__logo-image--PaddingLeft);
    background-color: var(--pf-c-about-modal-box__logo-image--BackgroundColor);

    @media screen and (min-width: $pf-global--breakpoint--lg) {
      height: auto;
    }
  }

  // Closer
  &__closer {
    grid-area: closer;
    grid-area: 2 / 1;
    justify-self: end;
    align-self: start;

    @media screen and (min-width: $pf-global--breakpoint--sm) {
      grid-area: 2 / 2;
      justify-self: center;
    }

    @media screen and (min-width: $pf-global--breakpoint--lg) {
      justify-self: end;
      margin-right: var(--pf-c-about-modal-box__closer--MarginRight);
    }
  }

  .pf-m-action.pf-m-close {
    width: var(--pf-c-about-modal-box__closer-button--Width);
    height: var(--pf-c-about-modal-box__closer-button--Height);
    font-size: var(--pf-c-about-modal-box__closer-button--FontSize);
    background-color: var(--pf-c-about-modal-box__closer-button--BackgroundColor);

    @media only screen and (min-width: $pf-global--breakpoint--sm) {
      width: var(--pf-c-about-modal-box__closer-button--Width--sm);
      height: var(--pf-c-about-modal-box__closer-button--Height--sm);
      font-size: var(--pf-c-about-modal-box__closer-button--FontSize--sm);
    }
  }
}
