/* stylelint-disable */
// styles placed here are only meant for styling
// the workspace or applying styles that are only
// relevant inside of the workspace
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  &__main {
    display: flex;
    flex: 1;
  }
  &__sidebar {
    flex: 0 1 20%;
    max-width: 20%;
    padding: 1rem 2rem;
    border-right: 1px solid #eaeaea;
  }
  &__sidebar_heading {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
  &__sidebar__item + &__sidebar__item {
    margin-top: 1rem;
  }
  &__content {
    flex: 0 1 80%;
    max-width: 80%;
    padding: 1rem 2rem;
  }
  &__footer {
    padding: 1rem 2rem;
  }
}

.page-template {
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 700;
  }
  h5 {
    font-size: 1.1rem;
    font-weight: 700;
  }
  h6 {
    font-size: 1.05rem;
    font-weight: 700;
  }
  h1 {
    margin-bottom: .5em;
  }
  h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em 0;
  }
  p {
    margin: .5em 0;
  }
  code {
    display: inline-block;
    padding: .25em;
    margin: 0 .25em;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, .1);
  }
  ul, ol {
    padding-left: 1rem;
    margin: .5rem 0 .5rem 1rem;
    list-style-position: outside;
    list-style-type: disc;
    p {
      margin: 0;
    }
  }
  ol {
    list-style-type: decimal;
  }
  li + li {
    margin-top: .5rem;
  }
}

.gatsby-highlight-code-line {
  box-sizing: border-box;
  display: block;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
  background-color: rgba(0, 0, 0, .05);
}

.gatsby-highlight {
  box-sizing: border-box;
  padding: 1rem;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #eaeaea;
  pre[class*="prism-language-"],
  pre[class*="prism-language-"] > code {
    box-sizing: border-box;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: .95rem;
    line-height: 1.75;
  }
  pre[class*="prism-language-"] {
    float: left;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: initial;
    background-color: transparent;
    border-left: 0;
    box-shadow: none;
    &::before,
    &::after {
      display: none;
    }
  }
  pre[class*="prism-language-"] > code {
    min-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: none;
  }
}

.is-layout-page {
  .pf-l-bullseye,
  .pf-l-bullseye > *,
  .pf-l-gallery,
  .pf-l-gallery__item,
  .pf-l-level,
  .pf-l-level__group,
  .pf-l-level__item,
  .pf-l-page,
  .pf-l-page > *,
  .pf-l-page__header > *,
  .pf-l-split,
  .pf-l-split > *,
  .pf-l-stack,
  .pf-l-stack > * {
    padding: .5rem;
    border: 2px dashed #393f44;
  }

  .pf-l-grid > * {
    box-shadow: 0 0 0 1px #ddd;
  }

  .pf-l-grid .pf-l-grid__item {
    padding: .5rem;
    background: none;
    border: 2px dashed #393f44;
    box-shadow: none;
  }

  .Preview__body {
    height: 300px;
  }
}

.Documentation {
  &__section {
    margin-bottom: 2rem;
  }
  code {
    padding: .25em .75em;
    color: #004368;
    white-space: nowrap;
    background-color: #def3ff;
    border-radius: .5em;
  }
  table {
    width: 100%;
    margin-bottom: 1rem;
  }
  table, td, th, tr {
    padding: .5em;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  tr:nth-child(even) {background: #f1f1f1}
  
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.25em;
  }
}

.is-dark-preview {
  .Preview__body {
    background-color: #292e34;
  }
}
/* stylelint-enable */
