/* stylelint-disable */
// styles placed here are only meant for styling
// the workspace or applying styles that are only
// relevant inside of the workspace
@import "./gatsby-variables.scss";

//This is to make the ancestors of our demo markup take up 100% height of the page
html {
  height: 100%;

  > body {
    height: 100%;

    > div {
      height: 100%;

      > div {
        height: 100%;

        > div {
          height: 100%;

          > div {
            height: 100%;

            > div {
              height: 100%;

              > div {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.Example__documentation {
  margin: 2rem 0;
}

.Example__documentation--text,
.Example__documentation,
.Documentation__docsection {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;
  }

  table {
    margin-bottom: 3rem;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;

    td,
    th,
    tr {
      padding: .5em;
      vertical-align: top;
      border: 1px solid #ccc;
    }

    tr:nth-child(even) {
      background: #f1f1f1;
    }
  }

  @at-root .Example__section code,
  code {
    padding: .25em .75em;
    color: #004368;
    white-space: nowrap;
    background-color: #def3ff;
    border-radius: .5em;
  }

  mark {
    background-color: #ffe995;
  }
}

.Preview__section-title {
  display: none;
  display: block;
  margin: 2rem 0;
}

.Preview__placeholder {
  display: block;
  width: 100%;
  padding: .25rem .5rem;
  color: #004e8a;
  background-color: #def3ff;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  &__main {
    display: flex;
    flex: 1;
  }

  &__sidebar {
    flex: 0 1 20%;
    max-width: 20%;
    padding: 2rem 0;
    border-right: 1px solid #eaeaea;
  }

  &__sidebar_heading {
    padding: 0 0 0 2rem;
    margin-bottom: .5rem;
    font-size: 14px;
    font-weight: 500;
    color: #72767b;
  }

  &__sidebar__item + &__sidebar__item {
    margin-top: 1rem;
  }

  .pf-l-grid + .pf-l-grid {
    margin-top: 1rem;
  }

  &__content {
    flex: 0 1 80%;
    max-width: 80%;
    padding: 1rem 2rem;
  }

  &__content_heading {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__footer {
    padding: 1rem 2rem;
  }
}

.page-template {
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  h5 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  h6 {
    font-size: 1.05rem;
    font-weight: 700;
  }

  h1 {
    margin-bottom: .5em;
  }

  h2 {
    margin: 2em 0 .5em;
  }

  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0 .5em;
  }

  p {
    margin: .5em 0;
  }

  code {
    display: inline-block;
    padding: .25em;
    margin: 0 .25em;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, .1);
  }

  ul,
  ol {
    padding-left: 1rem;
    margin: .5rem 0 .5rem 1rem;
    list-style-position: outside;
    list-style-type: disc;

    p {
      margin: 0;
    }
  }

  ol {
    list-style-type: decimal;
  }

  li + li {
    margin-top: .5rem;
  }

  table:not(.pf-c-table) {
    width: 100%;
    margin-bottom: 1rem;

    &,
    td,
    th,
    tr {
      padding: .5em;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
    }
  }

  td > code {
    padding: .25em .75em;
    color: #004368;
    white-space: nowrap;
    background-color: #def3ff;
    border-radius: .5em;
  }
}

.gatsby-highlight-code-line {
  box-sizing: border-box;
  display: block;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
  background-color: rgba(0, 0, 0, .05);
}

.gatsby-highlight {
  box-sizing: border-box;
  padding: 1rem;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #eaeaea;

  pre[class*="prism-language-"],
  pre[class*="prism-language-"] > code {
    box-sizing: border-box;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: .95rem;
    line-height: 1.75;
  }

  pre[class*="prism-language-"] {
    float: left;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: initial;
    background-color: transparent;
    border-left: 0;
    box-shadow: none;

    &::before,
    &::after {
      display: none;
    }
  }

  pre[class*="prism-language-"] > code {
    min-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: none;
  }
}

.is-layout-page,
.is-utility-page,
.is-component-page {
  .pf-l-bullseye,
  .pf-l-bullseye > *,
  .pf-l-gallery,
  .pf-l-gallery__item,
  .pf-l-level,
  .pf-l-level__group,
  .pf-l-level__item,
  .pf-c-page,
  .pf-l-split,
  .pf-l-split > *,
  .pf-l-stack,
  .pf-l-stack > *,
  .pf-l-toolbar__group,
  .pf-l-toolbar__item,
  [class*="pf-u-"],
  [class*="pf-u-"] > *:not(svg) {
    padding: .5rem;
    border: 2px dashed #393f44;
  }

  button[class*="pf-u-w"] {
    border: none;
  }

  .pf-c-page > *,
  .pf-c-page__header > * {
    border: 2px dashed #393f44;
  }

  .pf-l-grid > * {
    box-shadow: 0 0 0 1px #ddd;
  }

  .pf-l-grid .pf-l-grid__item {
    background: none;
    border: 2px dashed #393f44;
    box-shadow: none;
  }

  .pf-l-grid .pf-l-grid__item {
    padding: .5rem;
  }

  ul,
  ol {
    margin: .5rem 0 .5rem 1rem;
    list-style-position: outside;
    list-style-type: disc;
  }

  // .Preview__body {
  //   .pf-c-page__header-nav {
  //     background: var(--pf-global--BackgroundColor--dark-100);
  //   }
  // }
  .pf-l-stack {
    margin-bottom: 40px;
  }

  .pf-l-split {
    margin-bottom: 40px;
  }
}

.Documentation {
  &__section {
    margin-bottom: 2rem;
  }

  &-container {
    &-tall {
      flex-wrap: wrap;
      min-height: 160px;
    }

    &-xtall {
      flex-wrap: wrap;
      min-height: 250px;
    }
  }

  .Documentation__docsection {
    p + p {
      margin-top: 1em;
    }
  }
}

.is-dark-preview {
  .Preview__body {
    background-color: var(--pf-global--BackgroundColor--dark-100);
  }
}

.is-expanded-dropdown,
.is-tall-body {
  .Preview__body {
    height: 20em;
  }
}

.is-extra-tall-body {
  .Preview__body {
    height: 30em;
  }
}

.is-expanded-top {
  .Preview__body {
    padding-top: 17em;
  }
}

.is-align-right {
  .Preview__body {
    text-align: right;
  }
}

.is-height-flex-column-grow {
  .Preview__body {
    display: flex;
    flex-direction: column;

    > * {
      flex-grow: 1;
    }
  }
}

// .pf-c-form__fieldset + .pf-c-form__fieldset,
// .pf-c-form__group + .pf-c-form__group {
//   margin-top: 1rem;
// }

.flex-examples [class*="pf-u-align-"]:not([class*="pf-u-align-content-"]) {
  &:not(.pf-u-align-items-stretch) > * {
    &:first-child {
      height: 40px;
    }

    &:nth-child(2) {
      height: 60px;
    }

    &:nth-child(3) {
      height: 80px;
    }

    &:nth-child(4) {
      height: 100px;
    }
  }
}

[class*="pf-u-align-content-"] {
  flex-wrap: wrap;

  &:not(.pf-u-align-items-stretch):not(.pf-u-align-content-stretch) > * {
    min-width: 120px;
    // flex-basis: 40%;
    height: 40px;
  }
}

.Example.box-shadow .Preview__body {
  display: flex;
  flex-direction: column;

  > * {
    padding: 1.5rem;
    margin: 2rem;
    border: none;
  }

  [class*="pf-u-box-shadow-lg"] {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.flex-documentation {
  --example--before--Offset: -8px;
  --example--BorderRadius: 2px;
  --example--Color: #888;
  --example--BorderColor: rgba(0, 0, 0, .1);

  padding: 40px;

  .example-border {
    background: none;
    border: 2px dashed #393f44;
    box-shadow: none;
  }

  .pf-l-grid .pf-l-grid__item {
    padding: .5rem;
  }

  .pf-l-flex,
  .pf-l-flex__item {
    position: relative;
  }

  [data-label]::after {
    position: absolute;
    top: -24px;
    left: 0;
    z-index: 2;
    padding: 0 4px;
    white-space: nowrap;
    background: #fff;
  }

  [data-label]::after {
    content: attr(data-label);
  }

  .example-text,
  .example-border {
    padding: .5rem;
  }


  .example-title {
    margin-bottom: var(--pf-global--spacer--xl);

    &:not(:first-of-type) {
      margin-top: var(--pf-global--spacer--2xl);
    }
  }
}

.Example {
  .pf-c-box {
    padding: 30px;
    margin: 10px;
    border: 1px solid #ddd;
  }

  .pf-c-page-title {
    border: 1px solid #ddd;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .widget-section {
    padding: var(--pf-global--spacer--md);
    border: 1px dashed #ddd;
  }

  .widget-section + .widget-section {
    margin-top: var(--pf-global--spacer--lg);
  }

  .widget {
    padding: var(--pf-global--spacer--md);
    background-color: lightslategray;
  }

  .widget-title {
    &:not(:only-child) {
      margin-bottom: var(--pf-global--spacer--md);
    }
  }

  .num {
    font-size: 42px;
  }
}

/* stylelint-enable */
