<div class="pf-c-multiple-file-upload__status{{#if multiple-file-upload-status--modifier}} {{multiple-file-upload-status--modifier}}{{/if}}"
  {{#if multiple-file-upload-status--attribute}}
    {{{multiple-file-upload-status--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
