<div class="pf-c-multiple-file-upload__status-item-progress-size{{#if multiple-file-upload-status-item-progress-size--modifier}} {{multiple-file-upload-status-item-progress-size--modifier}}{{/if}}"
  {{#if multiple-file-upload-status-item-progress-size--attribute}}
    {{{multiple-file-upload-status-item-progress-size--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
