<li class="pf-c-multiple-file-upload__status-item{{#if multiple-file-upload-status-item--modifier}} {{multiple-file-upload-status-item--modifier}}{{/if}}"
  {{#if multiple-file-upload-status-item--attribute}}
    {{{multiple-file-upload-status-item--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</li>
