<div class="pf-c-multiple-file-upload__title{{#if multiple-file-upload-title--modifier}} {{multiple-file-upload-title--modifier}}{{/if}}"
  {{#if multiple-file-upload-title--attribute}}
    {{{multiple-file-upload-title--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
