<div class="pf-c-multiple-file-upload{{#if multiple-file-upload--modifier}} {{multiple-file-upload--modifier}}{{/if}}"
  {{#if multiple-file-upload--attribute}}
    {{{multiple-file-upload--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
