<div class="pf-c-multiple-file-upload__status-progress-icon{{#if multiple-file-upload-status-progress-icon--modifier}} {{multiple-file-upload-status-progress-icon--modifier}}{{/if}}"
  {{#if multiple-file-upload-status-progress-icon--attribute}}
    {{{multiple-file-upload-status-progress-icon--attribute}}}
  {{/if}}>
  <i class="pf-icon-in-progress"></i>
</div>
