<div class="{{pfv}}multiple-file-upload__status-item-close{{#if multiple-file-upload-status-item-close--modifier}} {{multiple-file-upload-status-item-close--modifier}}{{/if}}"
  {{#if multiple-file-upload-status-item-close--attribute}}
    {{{multiple-file-upload-status-item-close--attribute}}}
  {{/if}}>
  {{> button button--IsPlain=true button--icon="times" button--IsIcon=true button--attribute='aria-label="Remove from list"'}}
</div>
