<div class="pf-c-multiple-file-upload__title-text-separator{{#if multiple-file-upload-title-text-separator--modifier}} {{multiple-file-upload-title-text-separator--modifier}}{{/if}}"
  {{#if multiple-file-upload-title-text-separator--attribute}}
    {{{multiple-file-upload-title-text-separator--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
