<div class="pf-c-multiple-file-upload__title-icon{{#if multiple-file-upload-title-icon--modifier}} {{multiple-file-upload-title-icon--modifier}}{{/if}}"
  {{#if multiple-file-upload-title-icon--attribute}}
    {{{multiple-file-upload-title-icon--attribute}}}
  {{/if}}>
  <i class="fas fa-upload" aria-hidden="true"></i>
</div>
