<div class="pf-c-multiple-file-upload__main{{#if multiple-file-upload-main--modifier}} {{multiple-file-upload-main--modifier}}{{/if}}"
  {{#if multiple-file-upload-main--attribute}}
    {{{multiple-file-upload-main--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
