<div class="pf-c-multiple-file-upload__title-text{{#if multiple-file-upload-title-text--modifier}} {{multiple-file-upload-title-text--modifier}}{{/if}}"
  {{#if multiple-file-upload-title-text--attribute}}
    {{{multiple-file-upload-title-text--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
