<div class="pf-c-multiple-file-upload__info{{#if multiple-file-upload-info--modifier}} {{multiple-file-upload-info--modifier}}{{/if}}"
  {{#if multiple-file-upload-info--attribute}}
    {{{multiple-file-upload-info--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
