<div class="pf-c-multiple-file-upload__status-progress-text{{#if multiple-file-upload-status-progress-text--modifier}} {{multiple-file-upload-status-progress-text--modifier}}{{/if}}"
  {{#if multiple-file-upload-status-progress-text--attribute}}
    {{{multiple-file-upload-status-progress-text--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
