<div class="pf-c-multiple-file-upload__status-item-progress{{#if multiple-file-upload-status-item-progress--modifier}} {{multiple-file-upload-status-item-progress--modifier}}{{/if}}"
  {{#if multiple-file-upload-status-item-progress--attribute}}
    {{{multiple-file-upload-status-item-progress--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</div>
