<div class="pf-c-multiple-file-upload__status-item-close{{#if multiple-file-upload-status-item-close--modifier}} {{multiple-file-upload-status-item-close--modifier}}{{/if}}"
  {{#if multiple-file-upload-status-item-close--attribute}}
    {{{multiple-file-upload-status-item-close--attribute}}}
  {{/if}}>
  {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Remove from list"'}}
    <i class="fas fa-times-circle" aria-hidden="true"></i>
  {{/button}}
</div>
