<div class="{{pfv}}multiple-file-upload__status-progress-icon{{#if multiple-file-upload-status-progress-icon--modifier}} {{multiple-file-upload-status-progress-icon--modifier}}{{/if}}"
  {{#if multiple-file-upload-status-progress-icon--attribute}}
    {{{multiple-file-upload-status-progress-icon--attribute}}}
  {{/if}}>
  {{! <i class="pf-v6-pficon pf-v6-pficon-in-progress"></i> }}
  <i class="fas fa-spinner" aria-hidden="true"></i>
</div>
