<div class="pf-c-code-snippet__code{{#if code-snippet-code--modifier}} {{code-snippet-code--modifier}}{{/if}}"
  {{#if code-snippet-code--attribute}}
    {{{code-snippet-code--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>