<div class="pf-c-code-snippet__header{{#if code-snippet-header--modifier}} {{code-snippet-header--modifier}}{{/if}}"
  {{#if code-snippet-header--attribute}}
    {{{code-snippet-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>