<div class="pf-c-code-snippet__tab{{#if code-snippet-tab--modifier}} {{code-snippet-tab--modifier}}{{/if}}"
  {{#if code-snippet-tab--attribute}}
    {{{code-snippet-tab--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
