<span class="pf-c-code-snippet__tab-text{{#if code-snippet-tab-text--modifier}} {{code-snippet-tab-text--modifier}}{{/if}}"
  {{#if code-snippet-tab-text--attribute}}
    {{{code-snippet-tab-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>