<span class="pf-c-code-snippet__tab-icon{{#if code-snippet-tab-icon--modifier}} {{code-snippet-tab-icon--modifier}}{{/if}}"
  {{#if code-snippet-tab-icon--attribute}}
    {{{code-snippet-tab-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
