<div class="pf-c-code-snippet{{#if code-snippet--modifier}} {{code-snippet--modifier}}{{/if}}"
  {{#if code-snippet--attribute}}
    {{{code-snippet--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>