<div class="pf-c-code-snippet__controls-overflow{{#if code-snippet-controls-overflow--modifier}} {{code-snippet-controls-overflow--modifier}}{{/if}}"
  {{#if code-snippet-controls-overflow--attribute}}
    {{{code-snippet-controls-overflow--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
