<div class="pf-c-code-snippet__main{{#if code-snippet-main--modifier}} {{code-snippet-main--modifier}}{{/if}}"
  {{#if code-snippet-main--attribute}}
    {{{code-snippet-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>