<div class="pf-c-code-snippet__controls{{#if code-snippet-controls--modifier}} {{code-snippet-controls--modifier}}{{/if}}"
  {{#if code-snippet-controls--attribute}}
    {{{code-snippet-controls--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>