<span class="pf-c-truncate__start{{#if truncate-start--modifier}} {{truncate-start--modifier}}{{/if}}"
  {{#if truncate-start--attribute}}
    {{{truncate-start--attribute}}}
  {{/if}}>
  {{#if truncate-start--text}}
    {{{truncate-start--text}}}
  {{/if}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
