<span class="{{pfv}}truncate__text{{#if truncate-text--modifier}} {{truncate-text--modifier}}{{/if}}"
  {{#if truncate-text--attribute}}
    {{{truncate-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
