<span class="{{pfv}}truncate__end
  {{#if isFileExtension}}
    pf-m-file-extension
  {{/if}}
  {{#if truncate-end--modifier}} {{truncate-end--modifier}}{{/if}}"
  {{#if truncate-end--attribute}}
    {{{truncate-end--attribute}}}
  {{/if}}>
  {{#if truncate-end--text}}
    {{{truncate-end--text}}}
  {{/if}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
  {{#if truncate-file-extension--text}}
    {{> truncate-file-extension}}
  {{/if}}
</span>
