<span class="{{pfv}}truncate{{#if truncate--ShouldIgnoreResize}} pf-m-ignore-resizing{{/if}}{{#if truncate--modifier}} {{truncate--modifier}}{{/if}}"
  {{#if truncate--attribute}}
    {{{truncate--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
