<span class="{{pfv}}truncate{{#if truncate--IsFixed}} pf-m-fixed{{/if}}{{#if truncate--modifier}} {{truncate--modifier}}{{/if}}"
  tabindex="0"
  {{#if truncate--attribute}}
    {{{truncate--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
