<span class="pf-c-truncate__end{{#if truncate-end--modifier}} {{truncate-end--modifier}}{{/if}}"
  {{#if truncate-end--attribute}}
    {{{truncate-end--attribute}}}
  {{/if}}>
  {{#if truncate-end--text}}
    {{{truncate-end--text}}}
  {{/if}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
