{{#> wizard-finite}}

  {{#> wizard-finite-header}}

    {{#> wizard-finite-title}}
      {{#> title titleType="h1" title--modifier="pf-m-2xl"}}
          Wizard title
      {{/title}}
      {{#> title titleType="h1" title--modifier="pf-m-md pf-c-wizard-finite__description"}}
          Wizard description
      {{/title}}
    {{/wizard-finite-title}}

      {{!-- Sequence will be added here --}}
      <div class="pf-c-wizard-finite__sequence">
        sequence here
      </div>

  {{/wizard-finite-header}}

  {{#> wizard-finite-content}}
    <p>Wizard content</p>
  {{/wizard-finite-content}}

{{/wizard-finite}}
