<div dir="ltr" class="{{pfv}}code-editor__code{{#if code-editor-code--modifier}} {{code-editor-code--modifier}}{{/if}}"
  {{#if code-editor-code--attribute}}
    {{{code-editor-code--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
