<div class="pf-c-code-editor__control{{#if code-editor-control--modifier}} {{code-editor-control--modifier}}{{/if}}"
  {{#if code-editor-control--attribute}}
    {{{code-editor-control--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>