<span class="{{pfv}}code-editor__tab-text{{#if code-editor-tab-text--modifier}} {{code-editor-tab-text--modifier}}{{/if}}"
  {{#if code-editor-tab-text--attribute}}
    {{{code-editor-tab-text--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
