<div class="{{pfv}}code-editor__controls{{#if code-editor-controls--modifier}} {{code-editor-controls--modifier}}{{/if}}"
  {{#if code-editor-controls--attribute}}
    {{{code-editor-controls--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
