<div class="{{pfv}}code-editor__controls-overflow{{#if code-editor-controls-overflow--modifier}} {{code-editor-controls-overflow--modifier}}{{/if}}"
  {{#if code-editor-controls-overflow--attribute}}
    {{{code-editor-controls-overflow--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
