<div class="pf-c-code-editor__keyboard-shortcuts{{#if code-editor-keyboard-shortcuts--modifier}} {{code-editor-keyboard-shortcuts--modifier}}{{/if}}"
  {{#if code-editor-keyboard-shortcuts--attribute}}
    {{{code-editor-keyboard-shortcuts--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
