<div class="{{pfv}}code-editor__tab{{#if code-editor-tab--modifier}} {{code-editor-tab--modifier}}{{/if}}"
  {{#if code-editor-tab--attribute}}
    {{{code-editor-tab--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
