<div class="pf-c-code-editor__content{{#if code-editor-content--modifier}} {{code-editor-content--modifier}}{{/if}}"
  {{#if code-editor-content--attribute}}
    {{{code-editor-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
