<div class="pf-c-code-editor__action-group-control{{#if code-editor-action-group-control--modifier}} {{code-editor-action-group-control--modifier}}{{/if}}"
  {{#if code-editor-action-group-control--attribute}}
    {{{code-editor-action-group-control--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
