<div class="{{pfv}}code-editor{{#if code-editor--modifier}} {{code-editor--modifier}}{{/if}}"
  {{#if code-editor--attribute}}
    {{{code-editor--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
