<div class="{{pfv}}code-editor__upload{{#if code-editor-upload--modifier}} {{code-editor-upload--modifier}}{{/if}}"
  {{#if code-editor-upload--attribute}}
    {{{code-editor-upload--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
