<div class="pf-c-code-editor__header-main{{#if code-editor-header-main--modifier}} {{code-editor-header-main--modifier}}{{/if}}"
  {{#if code-editor-header-main--attribute}}
    {{{code-editor-header-main--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
  {{#if code-editor-header-main--text}}
    {{{code-editor-header-main--text}}}
  {{/if}}
</div>
