<div class="{{pfv}}code-editor__main{{#if code-editor-main--modifier}} {{code-editor-main--modifier}}{{/if}}"
  {{#if code-editor-main--attribute}}
    {{{code-editor-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
