<span class="{{pfv}}code-editor__tab-icon{{#if code-editor-tab-icon--modifier}} {{code-editor-tab-icon--modifier}}{{/if}}"
  {{#if code-editor-tab-icon--attribute}}
    {{{code-editor-tab-icon--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
