<div class="{{pfv}}code-editor__header-content{{#if code-editor-header-content--modifier}} {{code-editor-header-content--modifier}}{{/if}}"
  {{#if code-editor-header-content--attribute}}
    {{{code-editor-header-content--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
