<div class="pf-c-code-editor__action-group{{#if code-editor-action-group--modifier}} {{code-editor-action-group--modifier}}{{/if}}"
  {{#if code-editor-action-group--attribute}}
    {{{code-editor-action-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>