<div class="{{pfv}}code-editor__header{{#if code-editor-header--modifier}} {{code-editor-header--modifier}}{{/if}}"
  {{#if code-editor-header--attribute}}
    {{{code-editor-header--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
